<template>
  <app-subscription-step
    id="app-subscription-step"
    :title="$t('souscription.blocBudget.charges.titre')"
    :subTitle="$t('souscription.blocBudget.charges.sousTitre')"
    :nextLabel="
      canSeeInsurance
        ? $t('souscription.blocBudget.charges.boutonSuivantAssurance')
        : $t('souscription.blocBudget.charges.boutonSuivantCarte')
    "
    :previousLabel="$t('souscription.blocBudget.charges.boutonPrecedent')"
    :stepState="stepState"
    :onloading="onloading"
    :isLoadingNextStep="loading"
  >
    <template v-slot:principal>
      <app-charges-form-content
        :setValue="setValue"
        :charges="principalCharges"
        :colors="colors"
        :adresse="adresse"
        :birthDate="birthDate"
        :loading="loading"
        :isPrincipal="true"
      />
    </template>
  </app-subscription-step>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import SubscriptionStep from '@/components/subscription/SubscriptionStep.vue';
import { Prop } from 'vue-property-decorator';
import { StepState } from '@/models/StepState';
import { Action, State, Getter } from 'vuex-class';
import { Charges } from '@/models/subscription/Charges';
import { Colors } from '@/models/Colors';
import { Adresse } from '@/models/subscription/Adresse';
import { PRINCIPAL } from '@/mixins/getBorrower';
import { SubscriptionPayload } from '@/models/subscription/SubscriptionPayload';
import ChargesFormContent from '@/components/subscription/form-elements/ChargesFormContent.vue';
import { BusinessRule } from '@/services/BusinessRule';
import { RoutePathId } from '@/models/RoutesPath';

@Component({
  components: {
    'app-subscription-step': SubscriptionStep,
    'app-charges-form-content': ChargesFormContent
  }
})
export default class ChargesStep extends Vue {
  @Prop() public stepState!: StepState;
  @Action('setSubscriptionData') public setSubscriptionData!: (payload: SubscriptionPayload) => void;
  @State((state) => state.subscription.principal.charges) public principalCharges!: Charges | null;
  @State((state) => state.subscription.principal.adresse) public adresse!: Adresse | null;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.subscription.principal.civility.birthDate) public birthDate!: string;
  @Getter public getStep!: (pathId: string) => any;

  private loading = false;

  constructor() {
    super();
  }

  public get canSeeInsurance() {
    const stepInsurance = this.getStep(RoutePathId.INSURANCE);
    const { limitYoung, limitSenior, minAgeInsurance, maxAgeInsurance } = BusinessRule.getInsuranceConfiguration(
      stepInsurance
    );
    return new BusinessRule(minAgeInsurance, maxAgeInsurance, limitYoung, limitSenior).canSeeInsurance(this.birthDate);
  }

  public setValue(subStateName: string, value: any, formName: string, borrower: string = PRINCIPAL) {
    const isPrincipal = borrower === PRINCIPAL;
    const incomes = { ...this.principalCharges };
    // @ts-ignore
    incomes[formName] = value;
    const payload = {
      isPrincipal,
      subStateName,
      subStateValue: incomes
    };
    this.setSubscriptionData(payload);
  }

  private onloading(loading: boolean) {
    this.loading = loading;
  }
}
</script>

<style lang="scss" scoped></style>
