<template>
  <app-subscription-step
    id="app-subscription-step"
    :title="$t('souscription.blocBudget.travail.titre')"
    :nextLabel="$t('souscription.blocBudget.travail.boutonSuivant')"
    :previousLabel="$t('souscription.blocBudget.travail.boutonPrecedent')"
    :stepState="stepState"
    :hasBorrower="hasBorrower"
  >
    <template v-slot:principal>
      <app-employment-form-content
        :civility="principalCivility"
        :employment="principalEmployment"
        :professionalStatus="professionalStatus"
        :getProfessionalStatusCategory="getProfessionalStatusCategory"
        :getProfessionalStatusContract="getProfessionalStatusContract"
        :getProfessionalStatusArea="getProfessionalStatusArea"
        :isPrincipal="true"
        :colors="colors"
        :setValue="setValue"
      >
      </app-employment-form-content>
    </template>
    <template v-slot:secondary>
      <app-employment-form-content
        :civility="secondaryCivility"
        :employment="secondaryEmployment"
        :professionalStatus="professionalStatus"
        :getProfessionalStatusCategory="getProfessionalStatusCategory"
        :getProfessionalStatusContract="getProfessionalStatusContract"
        :getProfessionalStatusArea="getProfessionalStatusArea"
        :isPrincipal="false"
        :colors="colors"
        :setValue="setValue"
      >
      </app-employment-form-content>
    </template>
  </app-subscription-step>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import SubscriptionStep from '@/components/subscription/SubscriptionStep.vue';
import { Prop } from 'vue-property-decorator';
import { StepState } from '@/models/StepState';
import { State, Action, Getter } from 'vuex-class';
import { Colors } from '@/models/Colors';
import { SelectObject } from '@/models/selectObject.ts';
import EmploymentFormContent from '@/components/subscription/form-elements/EmploymentFormContent.vue';
import { PRINCIPAL } from '@/mixins/getBorrower';
import { SubscriptionPayload } from '@/models/subscription/SubscriptionPayload';

@Component({
  components: {
    'app-subscription-step': SubscriptionStep,
    'app-employment-form-content': EmploymentFormContent
  }
})
export default class EmploymentStep extends Vue {
  @Prop() public stepState!: StepState;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.subscription.principal.employment) public principalEmployment: any;
  @State((state) => state.subscription.secondary.employment) public secondaryEmployment: any;
  @State((state) => state.subscription.principal.civility) public principalCivility: any;
  @State((state) => state.subscription.secondary.civility) public secondaryCivility: any;
  @Action('setSubscriptionData') public setSubscriptionData!: (payload: SubscriptionPayload) => void;
  @Getter('getProfessionalStatus') public professionalStatus!: SelectObject[];
  @Getter('getProfessionalStatusContract')
  public getProfessionalStatusContract!: (professionalStatus?: SelectObject) => SelectObject[];
  @Getter('getProfessionalStatusCategory')
  public getProfessionalStatusCategory!: (professionalStatus?: SelectObject) => SelectObject[];
  @Getter('getProfessionalStatusArea') public getProfessionalStatusArea!: (
    professionalStatus?: SelectObject
  ) => SelectObject[];
  @Getter public hasBorrower!: boolean;

  public setValue(subStateName: string, value: any, formName: string, borrower: string = PRINCIPAL) {
    const isPrincipal = borrower === PRINCIPAL;
    const employment = isPrincipal ? this.principalEmployment : this.secondaryEmployment;
    // @ts-ignore
    employment[formName] = value;
    const payload = {
      isPrincipal,
      subStateName,
      subStateValue: employment
    };
    this.setSubscriptionData(payload);
  }
}
</script>

<style lang="scss" scoped></style>
