<template>
  <app-subscription-step
    id="app-subscription-step"
    :title="$t('souscription.blocBudget.revenus.titre')"
    :subTitle="$t('souscription.blocBudget.revenus.sousTitre')"
    :nextLabel="$t('souscription.blocBudget.revenus.boutonSuivant')"
    :previousLabel="$t('souscription.blocBudget.revenus.boutonPrecedent')"
    :stepState="stepState"
    :hasBorrower="hasBorrower"
  >
    <template v-slot:principal>
      <app-incomes-form-content
        :setValue="setValue"
        :incomes="principalIncomes"
        :isPrincipal="true"
        :colors="colors"
        :incomesMonth="incomesMonth"
      />
    </template>

    <template v-slot:secondary>
      <app-incomes-form-content
        :setValue="setValue"
        :incomes="secondaryIncomes"
        :isPrincipal="false"
        :colors="colors"
        :incomesMonth="incomesMonth"
      />
    </template>
  </app-subscription-step>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import SubscriptionStep from '@/components/subscription/SubscriptionStep.vue';
import { Prop } from 'vue-property-decorator';
import { StepState } from '@/models/StepState';
import { Action, Getter, State } from 'vuex-class';
import { SelectObject } from '@/models/selectObject';
import { Colors } from '@/models/Colors';
import { PRINCIPAL } from '@/mixins/getBorrower';
import IncomesFormContent from '@/components/subscription/form-elements/IncomesFormContent.vue';
import { SubscriptionPayload } from '@/models/subscription/SubscriptionPayload';

@Component({
  components: {
    'app-subscription-step': SubscriptionStep,
    'app-incomes-form-content': IncomesFormContent
  }
})
export default class IncomesStep extends Vue {
  @Prop() public stepState!: StepState;
  @Action('setSubscriptionData') public setSubscriptionData!: (payload: SubscriptionPayload) => void;
  @Getter('getIncomesMonth') public incomesMonth!: SelectObject[];
  @Getter public hasBorrower!: boolean;

  @State((state) => state.subscription.principal.incomes) public principalIncomes: any;
  @State((state) => state.subscription.secondary.incomes) public secondaryIncomes: any;
  @State((state) => state.apiConfig.colors) public colors!: Colors;

  public setValue(subStateName: string, value: any, formName: string, borrower: string = PRINCIPAL) {
    const isPrincipal = borrower === PRINCIPAL;
    const incomes = isPrincipal ? this.principalIncomes : this.secondaryIncomes;
    incomes[formName] = value;
    const payload = {
      isPrincipal,
      subStateName,
      subStateValue: incomes
    };
    this.setSubscriptionData(payload);
  }
}
</script>

<style lang="scss" scoped></style>
