<template>
  <div>
    <div class="characteristics" v-if="showProposal">
      <app-proposal-details
        :colors="colors"
        :title="title"
        :subTitle="subTitle"
        :big="true"
        :inverted="true"
        :proposal="proposal"
        :simulationProposal="simulationProposal"
        :showInsurance="showInsurance"
        :canReduce="true"
        :isReduced="isReduced"
        :isSofincoPartnerId="isSofincoPartnerId"
        @toggleReduced="handleToggle"
      />
    </div>
    <div class="see-later" v-if="showSeeLater">
      <h3 class="see-later__title">{{ titleSeeLater }}</h3>
      <p class="see-later__text">
        {{ textSeeLater }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import ProposalDetails from '@/components/proposal/ProposalDetails.vue';
import { Colors, defaultColors } from '@/models/Colors';
import { FinancialProposals } from '@/models/Simulation';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';

@Component({
  components: {
    'app-proposal-details': ProposalDetails
  }
})
export default class BlocProposal extends Vue {
  @Prop() public titleSeeLater!: string;
  @Prop() public textSeeLater!: string;
  @Prop({ default: null }) public titleProposal;
  @Prop({ default: null }) public subTitleProposal;
  @Prop({ default: true }) public showSeeLater!: boolean;
  @Prop({ default: () => defaultColors }) public colors!: Colors;
  @Prop({ default: true }) public showProposal!: boolean;
  @Prop({ default: () => true }) public showInsurance!: boolean;
  @Prop() public proposal!: FinancialProposals;
  @Prop() public simulationProposal: SimulationFinancialProposal;
  @Prop({ default: false }) public isSofincoPartnerId!: boolean;

  private isReduced = true;

  private handleToggle(value: boolean) {
    this.isReduced = value;
  }

  private get title(): string {
    return this.titleProposal !== null
      ? this.titleProposal
      : (this.$t('souscription.reponseDePrincipe.ok.titreOffre') as string);
  }

  private get subTitle(): string {
    return this.subTitleProposal !== null
      ? this.subTitleProposal
      : (this.$t('souscription.reponseDePrincipe.ok.sousTitreOffre') as string);
  }
}
</script>

<style lang="scss" scoped>
.characteristics {
  margin-bottom: 20px;
  padding: 20px 20px 0 20px;
  background-color: $color-white;

  @media screen and (min-width: $width_S) {
    padding: 30px 40px 0 40px;
  }
}

.see-later {
  text-align: center;
  background-color: $color-white;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;

  @media screen and (min-width: $width_S) {
    margin-top: 25px;
    padding: 30px 40px;
  }

  &__title {
    font-family: $font-bold;
    font-size: 20px;
    line-height: 28px;
    color: $color-dark-light;
    margin-bottom: 10px;

    @media screen and (min-width: $width_S) {
      font-size: 24px;
    }
  }

  &__text {
    font-family: $font-regular;
    font-size: 14px;
    line-height: 22px;
    color: $color-black;

    @media screen and (min-width: $width_S) {
      font-size: 16px;
    }
  }
}
</style>
