<template>
  <div class="blocAttachments">
    <div class="attachmentTitle">
      {{ title }}
    </div>
    <div class="attachmentText" v-html="text"></div>
    <div class="attachments" v-if="attachments">
      <div class="attachment" v-for="(item, index) in attachments" :key="index">
        <img class="icon" :src="`${baseUrl}/${item.icon}`" alt />
        <div>
          <span>{{ item.titre }}</span>
          <span class="description" v-if="item.description">{{ item.description }}</span>
        </div>
      </div>
    </div>
    <content-loader
      v-if="!attachments.length"
      class="desktop-only"
      :width="480"
      :height="280"
      :speed="2"
      primaryColor="#e5e5e5"
      secondaryColor="#fafafa"
    >
      <rect x="40" y="0" rx="0" ry="0" width="330" height="36" />
      <rect x="40" y="46" rx="0" ry="0" width="380" height="36" />
      <rect x="40" y="92" rx="0" ry="0" width="330" height="36" />
      <rect x="40" y="138" rx="0" ry="0" width="300" height="36" />
      <rect x="40" y="184" rx="0" ry="0" width="330" height="36" />
      <rect x="40" y="230" rx="0" ry="0" width="380" height="36" />
    </content-loader>
    <content-loader
      v-if="!attachments.length"
      class="mobile-only"
      :width="330"
      :height="210"
      :speed="2"
      primaryColor="#e5e5e5"
      secondaryColor="#fafafa"
    >
      <rect x="0" y="0" rx="0" ry="0" width="330" height="26" />
      <rect x="0" y="36" rx="0" ry="0" width="330" height="26" />
      <rect x="0" y="72" rx="0" ry="0" width="330" height="26" />
      <rect x="0" y="108" rx="0" ry="0" width="330" height="26" />
      <rect x="0" y="144" rx="0" ry="0" width="330" height="26" />
      <rect x="0" y="180" rx="0" ry="0" width="330" height="26" />
    </content-loader>
    <slot name="additionalContent" />
  </div>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import Vue from 'vue';
import { defaultColors, Colors } from '@/models/Colors';
import { Attachment } from '@/models/Attachment';
import { ContentLoader } from 'vue-content-loader';

@Component({
  components: {
    ContentLoader
  }
})
export default class BlocAttachments extends Vue {
  @Prop() public title!: string;
  @Prop() public text!: string;
  @Prop({ default: false }) public isMobile!: boolean;
  @Prop({ default: defaultColors }) public colors!: Colors;
  @Prop() public attachments!: Attachment[];
}
</script>

<style lang="scss" scoped>
.blocAttachments {
  background-color: $color-white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media screen and (min-width: $width_S) {
    padding: 30px 40px;
  }

  .attachmentTitle {
    color: $color-dark-light;

    font-size: 20px;
    line-height: 1.18;
    font-family: $font-bold;
    text-align: center;
    align-self: center;
    margin-bottom: 15px;

    @media screen and (min-width: $width_S) {
      font-size: 24px;
      line-height: 1.35;
    }
  }

  .attachmentText {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto 30px;

    @media screen and (min-width: $width_S) {
      font-size: 16px;
      max-width: 80%;
    }
  }

  .attachments {
    width: 100%;
    margin: auto;

    @media screen and (min-width: $width_M) {
      width: auto;
    }

    .attachment {
      color: $color-dark-light;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      width: 100%;
      word-break: break-word;

      + .attachment {
        margin-top: 15px;
      }

      span {
        font-family: $font-bold;
        font-size: 14px;
        line-height: 22px;
        width: 100%;

        @media screen and (min-width: $width_S) {
          font-size: 16px;
        }
      }

      .icon {
        max-width: 40px;
        max-height: 40px;
        margin-right: 20px;

        @media screen and (min-width: $width_S) {
          max-width: 60px;
          max-height: 60px;
        }
      }

      .description {
        display: block;
        font-size: 11px;
        font-style: italic;
        font-family: $font-regular;
        color: #888;
        line-height: 13px;
      }
    }
  }
}

.desktop-only {
  display: block;

  @media screen and (max-width: $width_S) {
    display: none;
  }
}

.mobile-only {
  display: none;

  @media screen and (max-width: $width_S) {
    display: block;
  }
}
</style>
