<template>
  <div class="form-result__sign">
    <div class="form-result__sign-block">
      <div class="form-result__sign-title__wrapper">
        <img :src="`${baseUrl}/sign.svg`" alt="sign contract" />
        <h3 class="form-result__sign-title" v-html="$t('souscription.reponseDePrincipe.ok.signezParCourrier')"></h3>
      </div>
      <p class="form-result__sign-text">
        {{ $t('souscription.reponseDePrincipe.ok.gagnezTempsVoiePostale') }}
      </p>

      <div class="d-desktop">
        <app-button
          class="button"
          :noChevron="true"
          :label="$t('souscription.reponseDePrincipe.ok.imprimerContrat')"
          :onClick="handlePrintClick"
          :flat="false"
        />
        <i18n
          v-if="seConfig && seConfig.hasUploadPaper"
          path="souscription.reponseDePrincipe.ok.texteUploadDocumentsDesktop"
          tag="p"
          class="form-result__sign-text"
        >
          <template #strongText>
            <strong>{{ $t('souscription.reponseDePrincipe.ok.texteGrasUploadDocumentsDesktop') }}</strong>
          </template>
        </i18n>

        <app-button
          v-if="seConfig && seConfig.hasUploadPaper"
          class="button"
          :noChevron="true"
          :grey="true"
          :label="$t('souscription.reponseDePrincipe.ok.boutonUploadDocumentsDesktop')"
          :onClick="redirectToUploadDocumentsPage"
          :flat="false"
          :loading="fetching"
        />
      </div>
    </div>
    <div class="d-mobile">
      <app-button
        class="button"
        :noChevron="true"
        :label="$t('souscription.reponseDePrincipe.ok.telechargerContrat')"
        :onClick="handlePrintClick"
        :flat="false"
      />
      <i18n
        v-if="seConfig && seConfig.hasUploadPaper"
        path="souscription.reponseDePrincipe.ok.texteUploadDocumentsMobile"
        tag="p"
        class="form-result__sign-text"
      >
        <template #strongText>
          <strong>{{ $t('souscription.reponseDePrincipe.ok.texteGrasUploadDocumentsMobile') }}</strong>
        </template>
      </i18n>

      <app-button
        v-if="seConfig.hasUploadPaper"
        class="button"
        :noChevron="true"
        :noBackground="true"
        :grey="true"
        :label="$t('souscription.reponseDePrincipe.ok.boutonUploadDocumentsMobile')"
        :onClick="redirectToUploadDocumentsPage"
        :flat="false"
        :loading="fetching"
      />
    </div>
    <app-paper-contract-pop-in
      :opened="paperContractPopin"
      :closeModal="closePaperContractPopin"
    ></app-paper-contract-pop-in>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Getter, Mutation, State } from 'vuex-class';
import { Component } from 'vue-property-decorator';

import { isMobile, testIsMobile } from '@/utils/browsers';

import TosPopin from '@/views/popin/TosPopin.vue';
import CardChoicePopin from '@/views/popin/CardChoicePopin.vue';
import SimulatorPopin from '@/views/popin/SimulatorPopin.vue';
import PaperContractPopin from '@/views/popin/PaperContractPopin.vue';

import Button from '@/components/graphic/Button.vue';

import { FolderResponse } from '@/models/subscription/FolderResponse';
import { SeConfig } from '@/models/subscription/api/SeConfig';
import { Colors } from '@/models/Colors';

import { BusinessRule } from '@/services/BusinessRule';
import SubscriptionApi from '@/services/SubscriptionApi';
import { CardType } from '@/models/card';

@Component({
  components: {
    'app-button': Button,
    'app-paper-contract-pop-in': PaperContractPopin
  }
})
export default class BlocPaperSofinco extends Vue {
  public fetching: boolean = false;
  private validForm: boolean | null = null;
  private hasError = false;
  private paperContractPopin = false;
  @Getter private cguLink!: string;
  @State((state) => state.apiConfig.colors) private colors!: Colors;
  @State((state) => state.subscription.tosAccepted) private tosAccepted: boolean;
  @State((state) => state.subscription.response) private response!: FolderResponse;
  @State((state) => state.subscription.seConfig) private seConfig: SeConfig;
  @State((state) => state.subscription.creditCard) private creditCard: CardType;
  @State((state) => state.subscription.cardChoiceAlert) private cardChoiceAlert: string;

  private get isMobile() {
    return testIsMobile();
  }

  private handlePrintClick() {
    this.paperContractPopin = true;
  }

  private closePaperContractPopin() {
    this.paperContractPopin = false;
  }
  private udpateCreditCard() {
    if (this.creditCard) {
      return new SubscriptionApi().updateCreditCard(
        this.response.contractToken.idToken,
        this.response.contractId,
        CardType[this.creditCard],
        this.cardChoiceAlert
      );
    }
  }
  private async redirectToUploadDocumentsPage() {
    this.fetching = true;
    try {
      await this.udpateCreditCard();
    } catch (ex) {}
    new SubscriptionApi()
      .getRedirectUrl(this.response.contractId, this.response.contractToken.idToken)
      .then((url) => {
        window.location.href = url;
        this.fetching = false;
      })
      .catch(() => {
        this.fetching = false;
      });
  }
}
</script>

<style lang="scss" scoped>
.form-result__sign {
  text-align: center;
  padding-right: 25px;

  .button {
    margin: 20px 0;
  }

  @media screen and (max-width: $width_M) {
    width: 100%;
    padding: 0;
  }

  &-title {
    font-family: $font-bold;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 10px;

    @media screen and (max-width: $width_M) {
      font-size: 22px;
      line-height: 26px;
    }

    @media screen and (max-width: $width_S) {
      font-size: 20px;
      text-align: left;
      margin-bottom: 0;
    }

    &__wrapper {
      @media screen and (max-width: $width_S) {
        @include flexRowCenter;
        align-items: center;
        margin-bottom: 15px;
      }

      > img {
        display: block;
        width: 80px;
        height: auto;
        margin: 0 auto 30px;

        @media screen and (max-width: $width_S) {
          width: 40px;
          margin: 0 15px 0 0;
        }
      }
    }
  }

  &-subtitle {
    font-family: $font-bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 10px;

    @media screen and (max-width: $width_M) {
      font-size: 20px;
      line-height: 26px;
    }

    @media screen and (max-width: $width_S) {
      text-align: left;
    }
  }

  &-text {
    font-family: $font-regular;
    font-size: 18px;
    line-height: 24px;
    color: $color-form-text;
    margin: 0 5px 5px 10px;

    @media screen and (max-width: $width_S) {
      font-size: 14px;
      line-height: 20px;
      text-align: left;
    }

    a {
      font-family: $font-bold;
      color: $color-partner-1;
      text-decoration: underline;
    }
  }

  &-continue-mobile {
    font-family: $font-bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-partner-3;
    display: block;
    margin: 0 auto 20px;

    @media screen and (max-width: $width_S) {
      display: none;
    }
  }

  &-see-documents {
    margin-bottom: 10px;
    @media screen and (min-width: $width_S) {
      display: none;
    }
  }

  &-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: $input-border-radius;
    position: relative;
    margin-bottom: 15px;
    padding: 30px 40px;

    @media screen and (max-width: $width_S) {
      padding: 20px;
    }

    @media screen and (max-width: $width_XS) {
      padding: 20px 15px;
    }

    .legal-validation {
      display: none;

      @media screen and (max-width: $width_S) {
        display: block;
        margin-bottom: 0;
      }
    }
  }

  &-list {
    text-align: center;
    display: inline-block;
    margin: 20px auto;

    &__item {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      img {
        width: 100px;
        display: block;
        max-width: 50px;
        max-height: 40px;
        margin-right: 25px;

        @media screen and (max-width: $width_S) {
          max-width: 40px;
          margin-right: 15px;
        }
      }

      &-text {
        font-family: $font-bold;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        color: #000000;

        @media screen and (max-width: $width_S) {
          font-size: 14px;
          line-height: 18px;
        }

        span {
          font-family: $font-regular;
          font-style: italic;
          font-size: 11px;
          line-height: 13px;
          color: #888888;
          display: block;
        }
      }
    }
  }

  .tooltip {
    max-width: grid(6);

    @media screen and (max-width: $width_S) {
      max-width: none;

      .tooltip-container {
        padding-right: 25px;

        &::before,
        &::after {
          content: '';
          background-color: $color-tooltip-text;
          border-radius: 2px;
          position: absolute;
          right: 15px;
          width: 8px;
          height: 2px;
        }

        &::before {
          top: calc(50% - 2px);
          transform: translateY(-50%) rotate(45deg);
        }

        &::after {
          top: calc(50% + 2px);
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    &.show-tooltip {
      margin: 10px auto;
    }

    &.desktop {
      @media screen and (max-width: $width_S) {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @media screen and (max-width: $width_S) {
        display: block;
      }
    }

    &-icon {
      height: 40px;

      @media screen and (max-width: $width_XS) {
        height: 30px;
      }
    }

    &-text {
      font-family: $font-bold;
    }
  }
}
.d {
  &-desktop {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: $width_S) {
      display: none;
    }

    p {
      margin-bottom: 0 !important;
    }
  }

  &-mobile {
    display: none;
    margin: 20px 0 10px;

    @media screen and (max-width: $width_S) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .button-no-bg {
      margin-top: 10px;
    }

    p {
      text-align: center;
    }
  }
}
</style>
