<template>
  <div class="form-result__sign">
    <div class="form-result__sign-block" ref="formResultWrapper">
      <div class="form-result__sign-title__wrapper">
        <img src="@/assets/images/electronic-sign.svg" alt="Compte utilisateur" />
        <h3 class="form-result__sign-title" v-html="$t('souscription.reponseDePrincipe.ok.signezEnLigne')"></h3>
      </div>

      <div :class="{ error: hasError, valid: validForm, checked: validForm }" class="legal-validation">
        <input id="docsPrecontractuels" name="docsPrecontractuels" type="checkbox" v-model="validForm" />
        <label :class="{ error: hasError, valid: validForm }" for="docsPrecontractuels">{{
          $t('souscription.reponseDePrincipe.ok.checkboxSign')
        }}</label>
        <button class="form-result__sign-see-documents" @click="handleSeeDocClick">
          {{ $t('souscription.reponseDePrincipe.ok.seeDocuments') }}
        </button>
      </div>

      <p class="form-result__sign-text">
        {{ $t('souscription.reponseDePrincipe.ok.gagnezTemps') }}
      </p>
      <app-button
        class="button-sign button-sign-online"
        :floatOnMobile="true"
        :noChevron="true"
        :label="$t('souscription.reponseDePrincipe.ok.jeSigneEnLigne')"
        :onClick="handleSignButtonClick"
        :flat="false"
        :large="true"
        :loading="fetching"
      />

      <div class="form-result__step__wrapper" v-if="seConfig && !seConfig.hasForcedSE">
        <div class="form-result__step__line"></div>
        <div
          @click="handlePrintClick"
          class="form-result__step__content"
          v-html="$t('souscription.reponseDePrincipe.ok.mailSteps')"
        ></div>
      </div>
    </div>
    <app-tos-pop-in
      :opened="tosPopinOpened"
      @closeTosPopin="handleCloseTosPopin"
      :closeModal="closeTosPopin"
      :cguURL="cguLink"
    ></app-tos-pop-in>
    <app-card-choice-pop-in
      :opened="cardChoicePopinOpened"
      :closeModal="closeCardChoicePopin"
      :cguURL="cguLink"
      @closeCardChoicePopin="handleCloseCardChoicePopin"
    ></app-card-choice-pop-in>
    <app-simulator-pop-in
      :activeTab="2"
      v-if="simulatorPopinOpened"
      :onlyDoc="true"
      :closeModal="closeSimulatorPopin"
    />
    <app-paper-contract-pop-in
      :opened="paperContractPopin"
      :closeModal="closePaperContractPopin"
    ></app-paper-contract-pop-in>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Getter, Mutation, State } from 'vuex-class';
import { Component } from 'vue-property-decorator';

import { isMobile, testIsMobile } from '@/utils/browsers';

import TosPopin from '@/views/popin/TosPopin.vue';
import CardChoicePopin from '@/views/popin/CardChoicePopin.vue';
import SimulatorPopin from '@/views/popin/SimulatorPopin.vue';
import PaperContractPopin from '@/views/popin/PaperContractPopin.vue';

import Button from '@/components/graphic/Button.vue';

import { FolderResponse } from '@/models/subscription/FolderResponse';
import { SeConfig } from '@/models/subscription/api/SeConfig';

import { BusinessRule } from '@/services/BusinessRule';
import SubscriptionApi from '@/services/SubscriptionApi';
import { CardType } from '@/models/card';
import getConfig from '@/config/config';

@Component({
  components: {
    'app-button': Button,
    'app-tos-pop-in': TosPopin,
    'app-card-choice-pop-in': CardChoicePopin,
    'app-simulator-pop-in': SimulatorPopin,
    'app-paper-contract-pop-in': PaperContractPopin
  }
})
export default class BlocSignSofinco extends Vue {
  public fetching: boolean = false;
  private validForm: boolean | null = null;
  private hasError = false;
  private tosPopinOpened = false;
  private cardChoicePopinOpened = false;
  private simulatorPopinOpened = false;
  private paperContractPopin = false;
  @Getter private cguLink!: string;
  @State((state) => state.subscription.tosAccepted) private tosAccepted: boolean;
  @State((state) => state.subscription.creditCardChosen) private creditCardChosen: boolean;
  @State((state) => state.subscription.response) private response!: FolderResponse;
  @State((state) => state.subscription.seConfig) private seConfig: SeConfig;
  @State((state) => state.subscription.creditCard) private creditCard: CardType;
  @State((state) => state.subscription.cardChoiceAlert) private cardChoiceAlert: string;

  @Mutation
  private updateTosAccepted!: (tosAccepted: boolean) => void;

  private created() {
    if (getConfig().DISABLE_TOS_POPIN) {
      this.updateTosAccepted(true);
    }
  }

  private closeTosPopin() {
    this.tosPopinOpened = false;
  }

  private handleCloseTosPopin() {
    if (this.tosAccepted) {
      if (this.hasCardChoice) {
        this.cardChoicePopinOpened = true;
      } else {
        this.redirectToUploadDocumentsPage();
      }
    }
  }

  private handlePrintClick() {
    this.paperContractPopin = true;
  }

  private closePaperContractPopin() {
    this.paperContractPopin = false;
  }

  private closeCardChoicePopin() {
    this.cardChoicePopinOpened = false;
  }

  private async handleCloseCardChoicePopin() {
    this.fetching = true;
    if (this.tosAccepted && this.creditCardChosen) {
      try {
        await this.udpateCreditCard();
      } catch (ex) {}
      this.redirectToUploadDocumentsPage();
    }
  }

  private get hasCardChoice() {
    return BusinessRule.hasCardChoice(this.response.creditType);
  }

  private isMobile() {
    return testIsMobile();
  }

  private handleSignButtonClick() {
    if (!this.isMobile() || this.validForm) {
      if (this.tosAccepted) {
        if (this.hasCardChoice) {
          this.cardChoicePopinOpened = true;
        } else {
          this.redirectToUploadDocumentsPage();
        }
      } else {
        this.tosPopinOpened = true;
      }
    } else {
      this.hasError = true;
      (this as any).$scrollTo(this.$refs.formResultWrapper as HTMLDivElement, { offset: -60 });
    }
  }

  private handleSeeDocClick() {
    this.simulatorPopinOpened = true;
  }

  private closeSimulatorPopin() {
    this.simulatorPopinOpened = false;
  }
  private udpateCreditCard() {
    if (this.creditCard) {
      return new SubscriptionApi().updateCreditCard(
        this.response.contractToken.idToken,
        this.response.contractId,
        CardType[this.creditCard],
        this.cardChoiceAlert
      );
    }
  }
  private redirectToUploadDocumentsPage() {
    this.fetching = true;
    // For Sofinco, the initialization of the SE is disabled
    new SubscriptionApi()
      .getRedirectUrl(this.response.contractId, this.response.contractToken.idToken, true)
      .then((url) => {
        window.location.href = url;
      })
      .catch(() => {
        this.fetching = false;
      });
  }
}
</script>

<style lang="scss" scoped>
.form-result__sign {
  background-color: $color-white;
  text-align: center;
  padding-right: 25px;

  @media screen and (max-width: $width_M) {
    width: 100%;
    padding: 0;
  }

  &-title {
    font-family: $font-bold;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 10px;

    @media screen and (max-width: $width_M) {
      font-size: 22px;
      line-height: 26px;
    }

    @media screen and (max-width: $width_S) {
      font-size: 20px;
      text-align: left;
      margin-bottom: 0;
    }

    &__wrapper {
      @media screen and (max-width: $width_S) {
        @include flexRowCenter;
        align-items: center;
        margin-bottom: 15px;
      }

      > img {
        display: block;
        width: 80px;
        height: auto;
        margin: 0 auto 30px;

        @media screen and (max-width: $width_S) {
          width: 40px;
          margin: 0 15px 0 0;
        }
      }
    }
  }

  &-subtitle {
    font-family: $font-bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 10px;

    @media screen and (max-width: $width_M) {
      font-size: 20px;
      line-height: 26px;
    }

    @media screen and (max-width: $width_S) {
      text-align: left;
    }
  }

  &-text {
    font-family: $font-regular;
    font-size: 18px;
    line-height: 24px;
    color: $color-form-text;
    margin-bottom: 10px;

    @media screen and (max-width: $width_S) {
      font-size: 14px;
      line-height: 20px;
      text-align: left;
    }

    a {
      font-family: $font-bold;
      color: $color-partner-1;
      text-decoration: underline;
    }
  }

  &-continue-mobile {
    font-family: $font-bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-partner-3;
    display: block;
    margin: 0 auto 20px;

    @media screen and (max-width: $width_S) {
      display: none;
    }
  }

  &-see-documents {
    margin-bottom: 10px;
    margin-left: 40px;
    font-family: $font-bold;
    font-size: 14px;
    color: $color-title;
    text-decoration: underline;
    text-align: left;

    @media screen and (min-width: $width_S) {
      display: none;
    }
  }

  &-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: $input-border-radius;
    position: relative;
    margin-bottom: 15px;
    padding: 30px 40px;

    @media screen and (max-width: $width_S) {
      padding: 20px;
    }

    @media screen and (max-width: $width_XS) {
      padding: 20px 15px;
    }
    @media screen and (max-width: $width_S) {
      .form-result__sign-text {
        display: none;
      }
    }
    .button-sign {
      margin: 20px 0;

      @media screen and (max-width: $width_S) {
        box-shadow: 0 3pt 15pt 0 rgba(0, 0, 0, 0.2);
      }
    }
    .legal-validation {
      display: none;

      @media screen and (max-width: $width_S) {
        display: block;
        margin-bottom: 0;

        label {
          font-size: 14px;
        }
      }
    }
  }

  &-list {
    text-align: center;
    display: inline-block;
    margin: 20px auto;

    &__item {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      img {
        width: 100px;
        display: block;
        max-width: 50px;
        max-height: 40px;
        margin-right: 25px;

        @media screen and (max-width: $width_S) {
          max-width: 40px;
          margin-right: 15px;
        }
      }

      &-text {
        font-family: $font-bold;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        color: #000000;

        @media screen and (max-width: $width_S) {
          font-size: 14px;
          line-height: 18px;
        }

        span {
          font-family: $font-regular;
          font-style: italic;
          font-size: 11px;
          line-height: 13px;
          color: #888888;
          display: block;
        }
      }
    }
  }

  .tooltip {
    max-width: grid(6);

    @media screen and (max-width: $width_S) {
      max-width: none;

      .tooltip-container {
        padding-right: 25px;

        &::before,
        &::after {
          content: '';
          background-color: $color-tooltip-text;
          border-radius: 2px;
          position: absolute;
          right: 15px;
          width: 8px;
          height: 2px;
        }

        &::before {
          top: calc(50% - 2px);
          transform: translateY(-50%) rotate(45deg);
        }

        &::after {
          top: calc(50% + 2px);
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    &.show-tooltip {
      margin: 10px auto;
    }

    &.desktop {
      @media screen and (max-width: $width_S) {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @media screen and (max-width: $width_S) {
        display: block;
      }
    }

    &-icon {
      height: 40px;

      @media screen and (max-width: $width_XS) {
        height: 30px;
      }
    }

    &-text {
      font-family: $font-bold;
    }
  }
}

.form-result__step {
  position: relative;

  &__line {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: #f3fbfb;

    @media screen and (max-width: $width_XS) {
      bottom: 100px;
    }
  }

  &__content {
    margin-top: 60px;

    /deep/ span,
    /deep/ a {
      font-family: $font-bold;
      color: $color-partner-1;
      cursor: pointer;
      @media screen and (min-width: $width_S) {
        overflow: hidden;
        position: relative;
        display: inline-block;
        top: 3px;
        &::before {
          content: '';
          background-color: $color-title;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          transform: translateX(-101%);
          transition: transform 0.25s ease-in-out;
        }
        &:hover::before {
          transform: translateX(0);
        }
      }
    }
  }
}
</style>
