<template>
  <div>
    <div class="contract-block">
      <div class="content">
        <img src="@/assets/images/user.svg" alt="Compte utilisateur" />
        <h3 class="subtitle">
          {{ $t('souscription.reponseDePrincipe.ok.accesEspace') }}
        </h3>
        <p class="text">
          {{ $t('souscription.reponseDePrincipe.ok.numContrat') }}
        </p>
        <div class="contract-id">{{ folderResponse.contractId }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { FolderResponse } from '@/models/subscription/FolderResponse';

@Component({})
export default class BlocProposal extends Vue {
  @Prop() public folderResponse!: FolderResponse;
}
</script>

<style lang="scss" scoped>
.contract-block {
  margin-bottom: 20px;
  background-color: $color-white;
  text-align: center;

  .content {
    padding: 30px 40px;

    img {
      display: block;
      width: 35px;
      height: auto;
      margin: 0 auto 20px;
    }

    .subtitle {
      font-family: $font-bold;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      color: #000;
      margin-bottom: 10px;
    }

    .text {
      font-family: $font-regular;
      font-size: 18px;
      line-height: 22px;
      color: #000;
      margin-bottom: 30px;
      padding: 0 25px;
    }

    .contract-id {
      font-family: $font-bold;
      font-size: 24px;
      color: $color-partner-1;
      text-align: center;
      border: 1px solid #b7cac8;
      display: block;
      width: 100%;
      max-width: grid(4);
      min-height: 50px;
      margin: 0 auto;
      padding: 5px 20px;

      @media screen and (max-width: $width_S) {
        max-width: 400px;
      }
    }
  }
}
</style>
