<template>
  <div class="offer__filter_tools-container" :class="{ zoom: parametersZoom }" data-cy="d-loanParameters">
    <h4 class="offer__filter_tools-subtitle">
      {{ $t('simulation.LoanParameters.sousTitreParams') }}
    </h4>
    <div class="offer__filter_tools-item">
      <h5 class="offer__filter_tools-item__title">
        {{ $t('simulation.LoanParameters.labelRegletteMontant') }}
      </h5>
      <div class="offer__filter_tools-item__input" :class="{ error: errorMonth }">
        <input
          id="amountByMonth"
          type="text"
          name="month"
          placeholder="-"
          :value="monthlyPayment"
          @input="onMonthlyPaymentInput"
          data-cy="d-inputMonthlyPayment"
        />
        <label for="amountByMonth"
          ><span>{{ currencySymbol }}</span> / {{ $t('simulation.LoanParameters.mois') }}</label
        >
      </div>
    </div>
    <range-select
      :graduations="monthlyPaymentOptions"
      :legend="currencySymbol"
      :error="errorMonth"
      :onValueChange="updateMonthlyPayment"
      ref="selMonthlyPayment"
      data-cy="d-sliderMonthlyPayment"
    ></range-select>
    <div class="offer__filter_tools-separator">Ou</div>
    <div class="offer__filter_tools-item">
      <h5 class="offer__filter_tools-item__title">
        {{ $t('simulation.LoanParameters.labelRegletteDuree') }}
      </h5>
      <div class="offer__filter_tools-item__input" :class="{ error: errorPeriod }">
        <input
          id="refundPeriod"
          type="text"
          name="month"
          placeholder="-"
          :value="timeline"
          @input="onTimelineInput"
          data-cy="d-inputTimeline"
        />
        <label for="refundPeriod">{{ $t('simulation.LoanParameters.mois') }}</label>
      </div>
    </div>
    <range-select
      :graduations="timelineOptions"
      :legend="$t('simulation.LoanParameters.mois')"
      :error="errorPeriod"
      :onValueChange="updateTimeline"
      ref="selTimeline"
      data-cy="d-sliderTimeline"
    ></range-select>
    <div v-show="parametersZoom" class="message-pedagogy">
      <div class="message-pedagogy__icon">
        <img src="@/assets/images/crossed-fingers.svg" alt="crossed fingers" />
      </div>
      <p class="message-pedagogy__text">
        {{ $t('simulation.LoanParameters.messagePedago') }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { Action } from 'vuex-class';
import { EFilterCriterionAttribute, FilterCriterion } from '@/models/simulator/tools/filterCriterion';
import RangeSelect from '@/components/simulator/graphic/RangeSelect.vue';

@Component({
  components: {
    'range-select': RangeSelect
  }
})
export default class OfferFilterTools extends Vue {
  // UI Props
  @Prop({ default: false }) private parametersZoom: boolean;
  @Prop({ default: false }) private ignoreInputWatch: boolean;
  @Prop({ default: 400 }) private userInputDelay: number;
  @Prop({ default: '€' }) private currencySymbol: string;
  // Functional props
  @Prop() private proposals: SimulationFinancialProposal[];
  @Prop() private requiredAmount: string | number;
  @Prop() private proposalFilter: FilterCriterion;

  @Action private applyProposalFilter!: (value: FilterCriterion) => void;

  // Error displays
  private errorMonth: boolean = false;
  private errorPeriod: boolean = false;

  // Timeouts references
  private timerMonthlyPayment: any;
  private timerTimeline: any;

  // Slider steps
  private monthlyPaymentOptions: number[] = [];
  private timelineOptions: number[] = [];

  // Filters values
  private monthlyPayment: string = '';
  private timeline: string = '';

  private created() {
    this.initializeSliders();
  }

  /**
   * Initialize sliders steps regarding simulation results
   */
  private initializeSliders() {
    this.monthlyPaymentOptions = this.proposals
      .map((proposal) => Math.round(proposal.monthlyAmountWithoutInsurance))
      .sort((a, b) => a - b)
      .filter((item, pos, ary) => !pos || item !== ary[pos - 1]); // Filter remove duplicate entries
    this.timelineOptions = this.proposals
      .map((proposal) => {
        if (proposal.lastMonthlyAmountWithoutInsurance) {
          // Need to add 1 if there is a last adjusted monthly payment
          return Math.round(proposal.nbMonthlyPaymentWithoutInsurance) + 1;
        } else {
          return Math.round(proposal.nbMonthlyPaymentWithoutInsurance);
        }
      })
      .sort((a, b) => a - b)
      .filter((item, pos, ary) => !pos || item !== ary[pos - 1]); // Filter remove duplicate entries
  }

  /*
   * Update the monthly payment wished by customer
   */
  private updateMonthlyPayment(value: number) {
    if (this.ignoreInputWatch) {
      return;
    }
    this.clearErrors();
    this.applyProposalFilter({
      type: EFilterCriterionAttribute.MONTHLY_PAYMENT,
      value
    });
  }

  /**
   * Update the loan duration wished by customer
   */
  private updateTimeline(value: number) {
    if (this.ignoreInputWatch) {
      return;
    }
    this.clearErrors();
    this.applyProposalFilter({
      type: EFilterCriterionAttribute.TIMELINE,
      value
    });
  }

  /**
   * Clear UI errors
   */
  private clearErrors() {
    this.errorPeriod = false;
    this.errorMonth = false;
  }

  /**
   * Checks if user input is valid
   */
  private isValidInput(value: number, orderedOptions: number[]) {
    return Number.isNaN(value) || this.isOutOfBoundValue(value, orderedOptions);
  }

  /**
   * Checks if the user input is between available boundaries.
   */
  private isOutOfBoundValue(value: number, orderedOptions: number[]) {
    if (value < orderedOptions[0] || value > orderedOptions[orderedOptions.length - 1]) {
      return true;
    }
    return false;
  }

  /**
   * Emit event to update ignoreInputWatch
   */
  private updateIgnoreInputWatch(value: boolean) {
    this.$emit('update-ignore-input-watch', value);
  }

  /**
   * Handler for monthly payment input
   * Check if input is valid and update filters accordingly
   */
  private onMonthlyPaymentInput(event) {
    this.monthlyPayment = event.target.value;

    if (this.ignoreInputWatch) {
      return;
    }
    this.errorMonth = false;
    if (this.timerMonthlyPayment) {
      clearTimeout(this.timerMonthlyPayment);
      this.timerMonthlyPayment = null;
    }
    const intValue = Number(this.monthlyPayment);
    this.errorMonth = this.isValidInput(intValue, this.monthlyPaymentOptions);
    if (!this.errorMonth) {
      this.timerMonthlyPayment = setTimeout(() => {
        if (this.monthlyPayment) {
          this.updateMonthlyPayment(intValue);
        }
      }, this.userInputDelay);
    }
  }

  /**
   * Handler for timeline input
   * Check if input is valid and update filters accordingly
   */
  private onTimelineInput(event) {
    this.timeline = event.target.value;

    if (this.ignoreInputWatch) {
      return;
    }
    this.errorPeriod = false;
    if (this.timerTimeline) {
      clearTimeout(this.timerTimeline);
      this.timerTimeline = null;
    }
    const intValue = Number(this.timeline);
    this.errorPeriod = this.isValidInput(intValue, this.timelineOptions);
    if (!this.errorPeriod) {
      this.timerTimeline = setTimeout(() => {
        if (this.timeline) {
          this.updateTimeline(intValue);
        }
      }, this.userInputDelay);
    }
  }

  /**
   * Reinitialize sliders if proposals have changed (probably due to new amount submited)
   */
  @Watch('proposals')
  private onProposalChange() {
    this.initializeSliders();
  }

  /**
   * Watcher for proposalFilter
   * Find the nearests offers regarding the defined filter
   */
  @Watch('proposalFilter')
  private onProposalFilterChange(filter: FilterCriterion) {
    this.updateIgnoreInputWatch(true);
    let monthlyPaymentIdx = 0;
    let timelineIdx = 0;
    const selMonthlyPayment = this.$refs.selMonthlyPayment as RangeSelect;
    const selTimeline = this.$refs.selTimeline as RangeSelect;

    // Check requiredAmount to avoid issue if offer pre-selection is set whitout inital S3
    if (!filter || this.requiredAmount <= 0) {
      // If the filter is cleared, reset inputs
      this.monthlyPayment = '';
      this.timeline = '';
    } else {
      // Filter is set, set inputs
      if (filter.type === EFilterCriterionAttribute.MONTHLY_PAYMENT) {
        monthlyPaymentIdx = selMonthlyPayment.findNearestGradIdx(filter.value);
        timelineIdx = this.timelineOptions.length - 1 - monthlyPaymentIdx;
        // As we remove duplicate entries in timelineOptions, timelineOptions and monthlyPaymentOptions can
        // have different length. Therefore we need to manage limit cases.
        if (timelineIdx >= this.timelineOptions.length) {
          this.timeline = this.timelineOptions[this.timelineOptions.length - 1].toString();
        } else if (timelineIdx < 0) {
          this.timeline = this.timelineOptions[0].toString();
        } else {
          this.timeline = this.timelineOptions[timelineIdx].toString();
        }
        this.monthlyPayment = filter.value.toString();
      } else if (filter.type === EFilterCriterionAttribute.TIMELINE) {
        timelineIdx = selTimeline.findNearestGradIdx(filter.value);
        monthlyPaymentIdx = this.monthlyPaymentOptions.length - timelineIdx - 1;
        // As we remove duplicate entries in monthlyPaymentOptions, timelineOptions and monthlyPaymentOptions can
        // have different length. Therefore we need to manage limit cases.
        if (monthlyPaymentIdx >= this.monthlyPaymentOptions.length) {
          this.monthlyPayment = this.monthlyPaymentOptions[this.monthlyPaymentOptions.length - 1].toString();
        } else if (monthlyPaymentIdx < 0) {
          this.monthlyPayment = this.monthlyPaymentOptions[0].toString();
        } else {
          this.monthlyPayment = this.monthlyPaymentOptions[monthlyPaymentIdx].toString();
        }
        this.timeline = filter.value.toString();
      }
    }

    // Check that references are set to avoid issue if offer pre-selection is set whitout inital S3
    if (selMonthlyPayment && selTimeline) {
      selMonthlyPayment.inputValue = monthlyPaymentIdx;
      selTimeline.inputValue = timelineIdx;
    }
    setTimeout(() => {
      this.updateIgnoreInputWatch(false);
    });
  }
}
</script>

<style lang="scss" scoped>
.offer__filter_tools {
  &-container {
    position: relative;
    background-color: $color-white;
    border-radius: 4px;
    padding: 30px;
    transform: scale(1);
    transition: transform 0.25s ease-in-out;

    &.zoom {
      z-index: 5;
      transform: scale(1.02);
    }
  }

  &-subtitle {
    font-family: $font-bold;
    font-size: 16px;
    text-align: center;
    color: $color-grey-dark;
    margin-bottom: 25px;
  }

  &-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &__title {
      font-family: $font-bold;
      font-size: 16px;
      text-align: left;
      color: $color-grey-dark;
      margin-right: 10px;
    }

    &__input {
      white-space: nowrap;
      border: 1px solid $color-grey-regular;
      padding: 10px 15px;

      &.error {
        border-color: $color-tooltip-text-error;

        input,
        label span {
          color: $color-tooltip-text-error;
        }
      }

      > * {
        font-family: $font-bold;
        font-size: 16px;
        color: $color-black;
        display: inline-block;
        vertical-align: middle;
      }

      input {
        text-align: right;
        border: 0 none;
        width: 40px;
        margin-right: 3px;
        outline: none;
      }

      label {
        white-space: nowrap;
        font-weight: 700;
      }
    }
  }

  &-separator {
    font-family: $font-bold;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: $color-grey-dark;
    background-color: $color-bg-container;
    display: block;
    width: 45px;
    margin: 0 auto 10px;
    padding: 3px;
  }
}

.message-pedagogy {
  position: absolute;
  top: 65px;
  left: calc(100% + 20px);
}
</style>
