<template>
  <div>
    <div
      class="offer-card"
      :class="{ selected: offerSelected === id, hasTag: tagRefund || tagTollFree }"
      @click="updateInput"
    >
      <input
        ref="input"
        type="radio"
        name="offer-card"
        :value="id"
        :id="id"
        :checked="offerSelected === id"
        @change="updateInput"
      />
      <label class="offer-card__amount" :for="id" data-cy="offerCardAmount">
        {{ amount | currency }} <span>/ {{ $t('simulation.OfferCard.mois') }}</span>
      </label>
      <div
        class="offer-card__while-wrapper"
        :class="{ amountShort: isShortAmount, amountBig: isBigAmount, amountMega: isMegaAmount }"
      >
        <div class="offer-card__while">{{ $t('simulation.OfferCard.pendant') }}</div>
        <div class="offer-card__period">{{ period }} {{ $t('simulation.OfferCard.mois') }}</div>
      </div>

      <div
        v-if="!isMobile && hasTag"
        class="offer-card__tag-wrapper"
        :class="{ amountShort: isShortAmount, amountBig: isBigAmount, amountMega: isMegaAmount }"
      >
        <div class="offer-card__tag" v-if="tagTollFree">{{ $t('simulation.OfferCard.tagSansFrais') }} <sup>*</sup></div>
        <div class="offer-card__tag" v-if="tagRefund">
          {{ $t('simulation.OfferCard.delaiRemboursement', { refundPeriod }) }}<sup>**</sup>
        </div>
      </div>
    </div>

    <div
      class="offer-card__mobile"
      v-if="isMobile && hasTag"
      :class="{ hasTag: tagRefund || tagTollFree, separatorTag: tagRefund && tagTollFree }"
    >
      <div class="offer-card__mobile-wrap">
        <div class="offer-card__mobile-tag" v-if="tagTollFree">
          {{ $t('simulation.OfferCard.tagSansFrais') }}<sup>*</sup>
        </div>
        <div class="offer-card__mobile-tag" v-if="tagRefund">
          {{ $t('simulation.OfferCard.delaiRemboursement', { refundPeriod }) }}<sup>**</sup>
        </div>
      </div>
      <div class="offer-card__mobile-tag-bg"></div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { State } from 'vuex-class';
import store from '@/store';
import Config from '@/config/configSimulator';

/**
 * OfferCard
 *
 * Component used to display a LoanProposal choosable by customer.
 * This component is wrapping a radio button.
 */
@Component({
  components: {}
})
export default class OfferCard extends Vue {
  @State((state) => state.client.isMobile) public isMobile!: boolean;
  @Prop({ default: '' }) private id!: string;
  @Prop({ default: '' }) private offerSelected!: string;
  @Prop({ default: 0 }) private amount!: number;
  @Prop({ default: 0 }) private period!: number;
  @Prop({ default: false }) private tagTollFree!: boolean;
  @Prop({ default: false }) private tagRefund!: boolean;
  @Prop({ default: 0 }) private refundPeriod!: number;
  @Prop() private setValue!: (value: string | null) => void;

  private currencySymbol: string = Config.currency;

  private updateInput() {
    (this.$refs.input as HTMLElement).click();
    this.setValue(this.id);
  }

  private get hasTag() {
    return this.tagTollFree || this.tagRefund;
  }

  private get isShortAmount() {
    return this.amount <= 999.99;
  }

  private get isBigAmount() {
    return this.amount > 999.99;
  }

  private get isMegaAmount() {
    return this.amount > 9999.99;
  }
}
</script>

<style scoped lang="scss">
.offer-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 420px;
  min-height: 75px;
  margin-bottom: 5px;
  padding: 0 20px;
  background-color: $color-white;
  border: 1px solid $color-grey-light;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;

  @media screen and (max-width: $width_L) {
    position: relative;
    max-width: 480px;
    margin: 0 auto 5px auto;

    &::before,
    &::after {
      content: '';
      background-color: $color-grey-medium;
      position: absolute;
      right: 20px;
      width: 10px;
      height: 2px;
    }

    &::before {
      top: calc(50% - 3px);
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      top: calc(50% + 3px);
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  @media screen and (max-width: $width_S) {
    min-height: 60px;
    min-width: auto;
    padding: 0 15px;
    -webkit-box-shadow: 0px 2px 8px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 8px -6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;

    &::before,
    &::after {
      right: 15px;
    }
  }

  @media screen and (min-width: $width_S) {
    &:hover {
      border-color: $color-partner-2;
    }
  }

  &.selected {
    background-color: var(--color-partner-2-008);
    border-color: $color-partner-2;
  }

  input {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;

    &:checked + label {
      &::before {
        border-color: $color-partner-2;
      }

      &::after {
        transform: translateY(-50%) scale(1);
      }
    }
  }

  &__amount {
    width: 150px;
    font-family: $font-bold;
    font-size: 20px;
    white-space: nowrap;
    color: $color-partner-1;
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    @media screen and (max-width: $width_L) {
      width: 110px;
      padding-left: 0;
    }

    @media screen and (max-width: $width_S) {
      font-size: 16px;
    }

    &::before {
      content: '';
      border: 1px solid $color-grey-medium;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
    }

    &::after {
      content: '';
      background-color: $color-partner-2;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 4px;
      transform: translateY(-50%) scale(0);
      width: 10px;
      height: 10px;
      transition: transform 0.25s ease-in-out;
    }

    &::after,
    &::before {
      @media screen and (max-width: $width_L) {
        display: none;
      }
    }

    span {
      font-family: $font-medium;
      font-size: 14px;
    }
  }

  &__while {
    font-family: $font-regular;
    font-size: 14px;
    color: $color-grey-medium;

    @media screen and (max-width: $width_S) {
      font-size: 12px;
      line-height: normal;
    }

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      @media screen and (min-width: $width_XXL) {
        position: absolute;
        left: 200px;
      }

      @media screen and (max-width: $width_S) {
        position: absolute;
        left: 130px;
        padding-left: 15px;
        margin-left: 5px;
      }

      &::before {
        content: '';
        background-color: $color-grey-regular;
        position: absolute;
        top: calc(50% + 2px);
        left: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;

        @media screen and (max-width: $width_S) {
          height: 30px;
        }
      }

      &.amountBig,
      &.amountShort {
        position: absolute;
        left: 225px;

        @media screen and (max-width: $width_L) {
          left: 180px;
        }

        @media screen and (max-width: $width_S) {
          position: absolute;
          left: 150px;
          margin-left: 0;
        }
      }

      &.amountMega {
        @media screen and (max-width: $width_S) {
          left: 160px;
        }
      }
    }
  }

  &__period {
    font-family: $font-medium;
    font-size: 16px;
    white-space: nowrap;
    color: $color-grey-dark;

    @media screen and (max-width: $width_S) {
      font-size: 16px;
      line-height: normal;
      margin-left: 0;
    }
  }

  &__tag {
    display: table;
    max-width: 100px;
    margin: 5px 0;
    padding: 3px 5px;
    font-family: $font-medium;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    color: $color-partner-5;
    background-color: var(--color-partner-5-008);
    border: 1px solid var(--color-partner-5-05);
    border-radius: 4px;

    @media screen and (max-width: $width_L) {
      margin-left: 15px;
    }

    &-wrapper {
      @media screen and (max-width: $width_L) {
        position: absolute;
        left: 210px;
      }

      &.amountShort,
      &.amountBig {
        @media screen and (min-width: $width_XXL) and (min-width: $width_XL) {
          position: absolute;
          left: 320px;
        }

        position: absolute;
        left: 315px;

        @media screen and (max-width: $width_L) {
          left: 255px;
        }
      }
    }
  }

  &__details {
    display: none;
  }

  &__mobile {
    display: none;
    @media screen and (max-width: $width_S) {
      position: relative;
      max-width: 480px;
      display: block;
      height: 20px;
      margin: 0 auto 10px auto;
      padding: 0 20px;
      font-family: $font-medium;
      font-size: 11px;
      background-color: $color-white;
      color: $color-partner-5;
      border: 1px solid $color-grey-light;
      border-top: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      -webkit-box-shadow: 0px 2px 8px -6px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 2px 8px -6px rgba(0, 0, 0, 0.2);
      z-index: 2;

      &-wrap {
        display: flex;
      }

      &-tag {
        height: 19px;
        display: flex;
        align-items: center;

        &:first-child {
          padding-right: 10px;
        }
      }
    }
  }

  &.hasTag {
    @media screen and (max-width: $width_S) {
      min-height: 54px;
      border-radius: initial;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}

.separatorTag .offer-card__mobile-tag {
  &:nth-child(2) {
    border-left: 1px solid var(--color-partner-5-04);
    padding-left: 10px;
  }
}

.offer-card__mobile-tag-bg {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 20px;
  background-color: var(--color-partner-5-012);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}
</style>
