<template>
  <app-subscription-step
    id="app-subscription-step"
    :title="$t('souscription.blocInformation.coordonnees.titre')"
    :subTitle="$t('souscription.blocInformation.coordonnees.sousTitre')"
    :nextLabel="$t('souscription.blocInformation.coordonnees.boutonSuivant')"
    :previousLabel="$t('souscription.blocInformation.coordonnees.boutonPrecedent')"
    :stepState="stepState"
    :setValidationError="setValidationError"
    :hasBorrower="hasBorrower"
    @next="handleNext"
  >
    <template v-slot:principal>
      <app-contact-form-content
        :contact="principalContact"
        :isPrincipal="true"
        :colors="colors"
        :setValue="setValue"
        :creditForTwo="creditForTwo"
      >
      </app-contact-form-content>
      <div class="blocTel">
        <span>{{ $t('souscription.blocInformation.coordonnees.blocTel') }}</span
        >&nbsp;
        <a href="#" @click="blocTelClick">{{ $t('souscription.blocInformation.coordonnees.blocTelLink') }}</a>
      </div>
      <div>
        <h3 class="legal-validation__title">
          <img :src="localImage(localThemePath, 'bulb.svg')" alt="Ampoule" class="legal-validation__title__img" />
          {{ $t('souscription.blocInformation.coordonnees.recevoirNosOffresTitle') }}
        </h3>
        <div>
          <div
            class="legal-validation type-radio"
            :class="{
              checked: principalContact.lenderOffer !== null,
              error: principalContact.lenderOffer === null && showValidationError
            }"
            :style="{
              backgroundColor: principalContact.lenderOffer !== null ? hexToRgb(colors.secondary, 0.1) : '',
              borderColor: principalContact.lenderOffer !== null ? hexToRgb(colors.secondary, 0.1) : '#CCC'
            }"
          >
            <p
              class="legal-validation__text"
              :style="{
                color: principalContact.lenderOffer === null || showValidationError ? undefined : '#232323'
              }"
              v-html="$t('souscription.blocInformation.coordonnees.recevoirNosOffres_1')"
            />
            <input
              id="lenderOfferNo"
              type="radio"
              name="lenderOffer"
              @change="setLenderOffer"
              :value="false"
              v-model="lenderOffer"
              v-tag
              data-event="optin"
              data-click="optin_sofinco"
              data-type="radio"
            />
            <label
              data-cy="lenderOfferNo"
              for="lenderOfferNo"
              :style="{
                color: lenderOffer === false ? colors.primary : undefined
              }"
            >
              <span class="before" :style="beforeStyles(lenderOffer, false)" />Non
              <span class="after" :style="afterStyles(lenderOffer, false)" />
            </label>
            <input
              id="lenderOfferYes"
              type="radio"
              name="lenderOffer"
              @change="setLenderOffer"
              :value="true"
              v-model="lenderOffer"
              v-tag
              data-event="optin"
              data-click="optin_sofinco"
              data-type="radio"
            />
            <label
              data-cy="lenderOfferYes"
              for="lenderOfferYes"
              :style="{ color: lenderOffer === true ? colors.primary : undefined }"
            >
              <span class="before" :style="beforeStyles(lenderOffer, true)" />Oui
              <span class="after" :style="afterStyles(lenderOffer, true)" />
            </label>
          </div>
          <div
            v-if="hasPartnerOfferOptin"
            class="legal-validation type-radio"
            :class="{
              checked: principalContact.partnerOffer !== null,
              error: principalContact.partnerOffer === null && showValidationError
            }"
            :style="{
              backgroundColor: principalContact.partnerOffer !== null ? hexToRgb(colors.primary, 0.1) : undefined,
              borderColor: principalContact.partnerOffer !== null ? hexToRgb(colors.primary, 0.1) : '#CCC'
            }"
          >
            <p
              class="legal-validation__text"
              :style="{
                color: principalContact.partnerOffer === null || showValidationError ? undefined : '#232323'
              }"
              v-html="$t('souscription.blocInformation.coordonnees.recevoirOffresPartenaires')"
            />
            <input
              id="partnerOfferNo"
              type="radio"
              name="partnerOffer"
              @change="setPartnerOffer"
              :value="false"
              v-model="partnerOffer"
              v-tag
              data-event="optin"
              data-click="optin_partenaires"
              data-type="radio"
            />
            <label
              data-cy="partnerOfferNo"
              for="partnerOfferNo"
              :style="{
                color: partnerOffer === false ? colors.primary : undefined
              }"
            >
              <span class="before" :style="beforeStyles(partnerOffer, false)" />Non
              <span class="after" :style="afterStyles(partnerOffer, false)" />
            </label>
            <input
              id="partnerOfferYes"
              type="radio"
              name="partnerOffer"
              @change="setPartnerOffer"
              :value="true"
              v-model="partnerOffer"
              v-tag
              data-event="optin"
              data-click="optin_partenaires"
              data-type="radio"
            />
            <label
              data-cy="partnerOfferYes"
              for="partnerOfferYes"
              :style="{ color: partnerOffer === true ? colors.primary : undefined }"
            >
              <span class="before" :style="beforeStyles(partnerOffer, true)" />Oui
              <span class="after" :style="afterStyles(partnerOffer, true)" />
            </label>
          </div>
        </div>
      </div>
    </template>
    <template v-slot:secondary>
      <app-contact-form-content
        :principal="principalContact"
        :contact="secondaryContact"
        :isPrincipal="false"
        :colors="colors"
        :setValue="setValue"
        :creditForTwo="creditForTwo"
      >
      </app-contact-form-content>
    </template>
    <template v-slot:outsideContent>
      <div class="opt-out" :class="{ checked: principalContact.contactOffer, fadeOut: optOutFadeOut }">
        {{
          principalContact.contactOffer
            ? $t('souscription.blocSituation.adresse.siProspection')
            : $t('souscription.blocSituation.adresse.siNonProspection')
        }}
        <a href="#" v-on:click.stop.prevent="changeContactOffer">{{
          $t('souscription.blocSituation.adresse.clique')
        }}</a>
      </div>
    </template>
  </app-subscription-step>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { StepState } from '@/models/StepState';
import { Prop } from 'vue-property-decorator';
import SubscriptionStep from '@/components/subscription/SubscriptionStep.vue';
import { Action, Getter, Mutation, State } from 'vuex-class';
import { Contact } from '@/models/subscription/Contact';
import { Colors } from '@/models/Colors';
import ContactFormContent from '@/components/subscription/form-elements/ContactFormContent.vue';
import { PRINCIPAL } from '@/mixins/getBorrower';
import { SubscriptionPayload } from '@/models/subscription/SubscriptionPayload';
import { PreContractMail } from '@/store/types';
import { Proposal, SimulationParameter } from '@/models/Simulation';
import SimulationApi from '@/services/SimulationApi';
import { TagManagerPartnerService } from '@/services/tagManagerPartner';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { getTagManagerInstance, TagManagerService } from '@/services/tagManagerFactory';
import { BusinessRule } from '@/services/BusinessRule';

@Component({
  components: {
    'app-subscription-step': SubscriptionStep,
    'app-contact-form-content': ContactFormContent
  }
})
export default class ContactStep extends Vue {
  @Prop() public stepState!: StepState;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @Action('setSubscriptionData') public setSubscriptionData!: (payload: SubscriptionPayload) => void;
  @State((state) => state.subscription.principal.contact) public principalContact!: Contact;
  @State((state) => state.subscription.secondary.contact) public secondaryContact!: Contact;
  @State((state) => state.subscription.preContractMail) public preContractMail!: PreContractMail;
  @State((state) => state.subscription.creditForTwo) public creditForTwo!: boolean | null;
  @State((state) => state.apiConfig.offerCode) public offerCode!: string;
  @State((state) => state.apiConfig.partnerCode) public partnerCode!: string;
  @State((state) => state.apiConfig.applicationId) public applicationId!: string;
  @State((state) => state.apiConfig.businessProviderId) public businessProviderId: string;
  @State((state) => state.apiConfig.equipmentCode) public equipmentCode: string;
  @State((state) => state.apiConfig.scaleCode) public scaleCode: string;
  @State((state) => state.simulator.selectedProposal) public selectedProposal!: SimulationFinancialProposal;
  @Mutation public updatePreContractMail!: (preContractMail: PreContractMail) => void;
  @Getter public hasBorrower!: boolean;
  @Getter public getCreditType!: string;
  @Getter public screenOption: (key: string) => any;

  public optOutFadeOut: boolean = false;
  public lenderOffer: boolean | null = null;
  public partnerOffer: boolean | null = null;
  public contactOffer: boolean | null = null;
  public showValidationError = false;
  private tagManagerService: TagManagerService;

  constructor() {
    super();
    this.tagManagerService = getTagManagerInstance();
  }

  public created() {
    if (this.principalContact) {
      this.lenderOffer = this.principalContact.lenderOffer;
      this.partnerOffer = this.principalContact.partnerOffer;
      this.contactOffer = this.principalContact.contactOffer;
    }
  }

  public get hasPartnerOfferOptin() {
    return (
      this.stepState.screenOptions['partner-offer-optin'] && !!this.stepState.screenOptions['partner-offer-optin'].value
    );
  }

  public setValue(subStateName: string, value: any, formName: string, borrower: string = PRINCIPAL) {
    const isPrincipal = borrower === PRINCIPAL;
    const contact = isPrincipal ? this.principalContact : this.secondaryContact;
    // @ts-ignore
    contact[formName] = value;
    const payload = {
      isPrincipal,
      subStateName,
      subStateValue: contact
    };
    this.setSubscriptionData(payload);
  }

  public setValidationError(validationError: boolean) {
    this.showValidationError = validationError;
  }

  public blocTelClick() {
    this.contactOffer = true;
    this.setContactOffer();
    const url = `http://${this.$t('souscription.blocInformation.coordonnees.blocTelLink')}`;
    window.open(url, '_blank');
  }

  public changeContactOffer() {
    this.optOutFadeOut = true;

    setTimeout(() => {
      this.setValue('contact', !this.principalContact.contactOffer, 'contactOffer');
      this.optOutFadeOut = false;
    }, 300);
  }

  public setLenderOffer() {
    if (this.principalContact) {
      this.tagManagerService.offerOptInClick(this.lenderOffer);
      this.principalContact.lenderOffer = this.lenderOffer;

      const payload = {
        isPrincipal: true,
        subStateName: 'contact',
        subStateValue: this.principalContact
      };
      this.setSubscriptionData(payload);
    }
  }

  public setPartnerOffer() {
    if (this.principalContact) {
      this.tagManagerService.offerOptInClick(this.partnerOffer);
      this.principalContact.partnerOffer = this.partnerOffer;
      const payload = {
        isPrincipal: true,
        subStateName: 'contact',
        subStateValue: this.principalContact
      };
      this.setSubscriptionData(payload);
    }
  }

  public setContactOffer() {
    if (this.principalContact) {
      this.tagManagerService.stopPubClick(this.contactOffer);
      this.principalContact.contactOffer = this.contactOffer;
      const payload = {
        isPrincipal: true,
        subStateName: 'contact',
        subStateValue: this.principalContact
      };
      this.setSubscriptionData(payload);
    }
  }

  public beforeStyles(value: any, isYesButton: boolean) {
    return {
      borderColor: value === isYesButton ? this.colors.primary : 'inherit'
    };
  }

  public afterStyles(value: any, isYesButton: boolean) {
    return {
      backgroundColor: value === isYesButton ? this.colors.primary : 'inherit'
    };
  }

  /**
   * Checks if an email with pre contract information has already been sent
   * Send mail only if:
   *   - It hasn't been sent before entering the subscription
   *   - It has been sent to another email
   *   - It has been sent for another offer (=proposal)
   */
  public handleNext() {
    const shouldSendEmail =
      !this.isSofincoPartnerId &&
      (!this.preContractMail.hasBeenSent ||
        this.preContractMail.email !== this.principalContact.email ||
        (this.preContractMail.offer &&
          this.selectedProposal &&
          (this.preContractMail.offer.nbMonthlyPaymentWithoutInsurance !==
            this.selectedProposal.nbMonthlyPaymentWithoutInsurance ||
            this.preContractMail.offer.monthlyAmountWithoutInsurance !==
              this.selectedProposal.monthlyAmountWithoutInsurance)));

    if (shouldSendEmail) {
      let parameter: SimulationParameter = {
        partnerId: this.partnerCode,
        sourceId: this.offerCode,
        applicationId: this.applicationId,
        businessProviderId: this.businessProviderId,
        equipmentCode: this.equipmentCode,
        scaleCode: this.scaleCode
      };
      if (this.selectedProposal !== null) {
        parameter = {
          ...parameter,
          duration: this.selectedProposal.nbMonthlyPaymentWithoutInsurance,
          amount: this.selectedProposal.amount
        };
      } else {
        parameter = {
          ...parameter,
          amount: this.screenOption('amount-simulation') || null,
          duration: this.screenOption('duration-simulation') || null
        };
      }

      SimulationApi.sendEmail(parameter, this.principalContact.email || '', this.getCreditType).then(() => {
        // Mark email as sent for current email and offer
        this.updatePreContractMail({
          hasBeenSent: true,
          email: this.principalContact.email || '',
          offer: Object.assign({}, this.selectedProposal)
        });
      });
    }
  }

  private get isSofincoPartnerId(): boolean {
    return new BusinessRule().isSofincoPartnerId(this.partnerCode);
  }
}
</script>
<style lang="scss" scoped>
.blocTel {
  line-height: 1.33;
  font-size: 12px;
  color: $color-grey-medium;
  margin-top: 10px;

  /deep/ a {
    color: $color-grey-medium;
    text-decoration: underline;
  }
}
.legal-validation {
  margin-bottom: 10px;

  &__title {
    font-family: $font-bold;
    font-size: 14px;
    line-height: 16px;
    margin: 30px 0 20px;
  }
}
.opt-out {
  font-size: 12px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  padding: 0 25px;

  @media screen and (min-width: $width_S) {
    padding: 0 20px;
    margin-top: 15px;
  }

  @media screen and (min-width: $width_M) {
    padding: 0;
    margin-top: -15px;
    margin-bottom: 30px;
  }

  a {
    color: $color-partner-1;
    font-family: $font-bold;
    text-decoration: underline;
  }

  &.fadeOut {
    opacity: 0;
  }
}
</style>
