<template>
  <app-subscription-step
    id="app-subscription-step"
    :title="$t('souscription.blocSituation.situationFamiliale.titre')"
    :nextLabel="$t('souscription.blocSituation.situationFamiliale.boutonSuivant')"
    :previousLabel="$t('souscription.blocSituation.situationFamiliale.boutonPrecedent')"
    :stepState="stepState"
    :secondaryStepState="getSecondaryStepState()"
  >
    <template v-slot:principal>
      <app-family-form-content
        :setValue="setValue"
        :family="principalFamily"
        :isPrincipal="true"
        :colors="colors"
        :childrenNbr="childrenNbr"
      />
    </template>
  </app-subscription-step>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import SubscriptionStep from '@/components/subscription/SubscriptionStep.vue';
import { State, Action, Getter } from 'vuex-class';
import { Colors } from '@/models/Colors';
import { SelectObject } from '@/models/selectObject.ts';
import { Prop } from 'vue-property-decorator';
import { StepState } from '@/models/StepState';
import { SubscriptionPayload } from '@/models/subscription/SubscriptionPayload';
import { PRINCIPAL } from '@/mixins/getBorrower';
import FamilyFormContent from '@/components/subscription/form-elements/FamilyFormContent.vue';
import { Family } from '@/models/subscription/Family';
import NameFormContent from '@/components/subscription/form-elements/NameFormContent.vue';

@Component({
  components: {
    'app-subscription-step': SubscriptionStep,
    'app-family-form-content': FamilyFormContent,
    'app-name-form-content': NameFormContent
  }
})
export default class FamilySituationStep extends Vue {
  @Prop() public stepState!: StepState;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.subscription.principal.family) public principalFamily!: Family;
  @Action('setSubscriptionData') public setSubscriptionData!: (payload: SubscriptionPayload) => void;
  @Getter('getFamilyStateChildren') public childrenNbr!: SelectObject[];

  public setValue(subStateName: string, value: any, formName: string, borrower: string = PRINCIPAL) {
    const isPrincipal = borrower === PRINCIPAL;
    // @ts-ignore
    this.principalFamily[formName] = value;
    const payload = {
      isPrincipal,
      subStateName,
      subStateValue: this.principalFamily
    };
    this.setSubscriptionData(payload);
  }

  public getSecondaryStepState() {
    return this.stepState ? this.stepState.getPrevious() : null;
  }
}
</script>
