<template>
  <div :class="{ hide: hideForm }" class="form-wrapper">
    <app-subscription-step
      id="app-subscription-step"
      :title="$t('souscription.blocInformation.votreEmprunt.titre')"
      :subTitle="$t('souscription.blocInformation.votreEmprunt.sousTitre')"
      :nextLabel="$t('souscription.blocInformation.votreEmprunt.boutonSuivant')"
      :previousLabel="$t('souscription.blocInformation.votreEmprunt.boutonPrecedent_2')"
      :stepState="stepState"
    >
      <template v-slot:principal>
        <app-loan-form-content
          :set-credit-for-two="setCreditForTwo"
          :set-subscription-data="setSubscriptionData"
          :set-value-marital-status="setValueMaritalStatus"
          :marital-statutes="maritalStatutes"
          :principal="principalName"
          :credit-for-two="creditForTwo"
          :colors="colors"
        />
      </template>
    </app-subscription-step>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { StepState } from '@/models/StepState';
import SubscriptionStep from '@/components/subscription/SubscriptionStep.vue';
import { Action, Getter, State } from 'vuex-class';
import { SelectObject } from '@/models/selectObject';
import { RootState } from '@/store/types';
import { Name } from '@/models/subscription/Name';
import { PRINCIPAL } from '@/mixins/getBorrower';
import { SubscriptionPayload } from '@/models/subscription/SubscriptionPayload';
import { Colors } from '@/models/Colors';
import LoanFormContent from '@/components/subscription/form-elements/LoanFormContent.vue';

@Component({
  components: {
    'app-subscription-step': SubscriptionStep,
    'app-loan-form-content': LoanFormContent
  }
})
export default class LoanStep extends Vue {
  @Prop() private stepState!: StepState;

  @State((state: RootState) => state.apiConfig.colors) private colors!: Colors;
  @State((state: RootState) => state.subscription.creditForTwo) private creditForTwo!: boolean | null;
  @State((state: RootState) => state.subscription.principal.name) private principalName!: Name;

  @Action('setCreditForTwo') private setCreditForTwo!: (creditForTwo: boolean) => void;
  @Action('setSubscriptionData') private setSubscriptionData!: (payload: SubscriptionPayload) => void;

  @Getter('getMaritalStatus') private maritalStatutes!: (creditForTwo: boolean | null) => SelectObject[];

  private readonly SUBSTATE_NAME = 'name';
  private readonly SUBSTATE_MARITAL_STATUS_NAME = 'maritalStatus';

  private hideForm: boolean = true;

  /**
   * When the component is mounted:
   * - Set hideForm value to false to have an opacity transition effect
   */
  private mounted() {
    setTimeout(() => {
      this.hideForm = false;
    });
  }

  /**
   * Update the store with the new marital status selected (single, married, ...).
   */
  private setValueMaritalStatus(...args: any[]): void {
    // @ts-ignore
    this.setValue(this.SUBSTATE_NAME, ...args);
  }

  /**
   * Update the store with the new marital status selected.
   */
  private setValueHasSpouse(hasSpouse: boolean): void {
    this.setValue(this.SUBSTATE_NAME, hasSpouse, 'hasSpouse');
  }

  /**
   * Update a substate of principal borrower.
   */
  private setValue(subStateName: string, value: any, formName: string): void {
    this.principalName[formName] = value;
    const payload = {
      isPrincipal: true,
      subStateName,
      subStateValue: this.principalName
    };
    this.setSubscriptionData(payload);
  }

  /**
   * Triggered on creditForTwo changes to deselect the current selected marital status if needed.
   * If the credit is requested by 2 borrowers, the hasSpouse value is set to true.
   *
   * @param newValue the new updated value
   */
  @Watch('creditForTwo')
  private onCreditForTwoChange(newValue: any): void {
    if (newValue) {
      this.setValueHasSpouse(true);
      if (this.principalName.maritalStatus && this.principalName.maritalStatus.code) {
        const maritalMatch = this.maritalStatutes(this.creditForTwo).filter((value) => {
          return this.principalName.maritalStatus.code === value.code;
        });
        if (maritalMatch.length <= 0) {
          this.setValueMaritalStatus(null, this.SUBSTATE_MARITAL_STATUS_NAME, PRINCIPAL);
        }
      }
    } else {
      this.setValueHasSpouse(false);
    }
  }
}
</script>

<style lang="scss" scoped>
.form-wrapper {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &.hide {
    opacity: 0;
  }
}
</style>
