<template>
  <app-subscription-step
    id="app-subscription-step"
    :title="$t('souscription.blocInformation.nom.titre')"
    :subTitle="$t('souscription.blocInformation.nom.sousTitre')"
    :nextLabel="$t('souscription.blocInformation.nom.boutonSuivant')"
    :previousLabel="$t('souscription.blocInformation.nom.boutonPrecedent')"
    :stepState="stepState"
    :hasBorrower="hasBorrower"
    :openBoth="!creditForTwo"
    @borrowerOpen="handleBorrowerOpen"
  >
    <template v-slot:principal>
      <app-name-form-content
        :name="principalName"
        :setValue="setValue"
        :maritalStatutes="maritalStatutes(creditForTwo)"
        :setGenderValue="setGenderValue"
        :colors="colors"
        :isPrincipal="true"
        :isMarried="isMarried"
        :isWidow="isWidow"
        :creditForTwo="creditForTwo"
        :isLogged="isClientLogged"
        :showSwapedNameTooltip="showpPrincipalNameAlert"
      />
    </template>
    <template v-slot:middle>
      <div
        id="checkboxContainer"
        class="SpouseContainer"
        :style="{ marginTop: principalName && principalName.gender === 0 ? '20px' : '0' }"
        v-if="SpouseIsDisplayed && coBorrowerDisplayed"
      >
        <span>{{ $t('souscription.blocInformation.nom.conjoint') }}</span>
        <CheckboxCustom
          :setValue="setValueWrapper"
          :value="principalName.hasSpouse"
          id="hasSpouse"
          :customColor="colors"
          :borrower="getBorrower(true)"
        />
      </div>
      <ToolTipCustom
        v-if="SpouseIsDisplayed && coBorrowerDisplayed"
        :toolTip="spouseToolTip"
        :customColor="customColorTooltip"
        :display="true"
        class="tooltipCustom"
      />
    </template>
    <template v-slot:secondary>
      <app-name-form-content
        :name="secondaryName"
        :setValue="setValue"
        :setGenderValue="setGenderValue"
        :colors="colors"
        :isPrincipal="false"
        :isMarried="isMarried"
        :isWidow="isWidow"
        :showSwapedNameTooltip="showSecondaryNameAlert"
      />
    </template>
  </app-subscription-step>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import SubscriptionStep from '@/components/subscription/SubscriptionStep.vue';
import { State, Action, Getter } from 'vuex-class';
import { Colors } from '@/models/Colors';
import { Name, MaritalStatusCode } from '@/models/subscription/Name';
import { StepState } from '@/models/StepState';
import { Prop, Watch } from 'vue-property-decorator';
import NameFormContent from '@/components/subscription/form-elements/NameFormContent.vue';
import { SubscriptionPayload } from '@/models/subscription/SubscriptionPayload';
import { PRINCIPAL } from '@/mixins/getBorrower';
import { SelectObject } from '@/models/selectObject';
import { ToolTip } from '@/models/Tooltip';
import NomenclatureAPI from '@/services/NomenclatureAPI';
import { easeInOutQuad } from '@/utils/animations';

@Component({
  components: {
    'app-subscription-step': SubscriptionStep,
    'app-name-form-content': NameFormContent
  }
})
export default class NameStep extends Vue {
  @Prop() public stepState!: StepState;
  @Prop() public showGDPR!: boolean;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @Action('setSubscriptionData') public setSubscriptionData!: (payload: SubscriptionPayload) => void;
  @Getter('getMaritalStatus') public maritalStatutes!: (creditForTwo: boolean | null) => SelectObject[];
  @State((state) => state.subscription.creditForTwo) public creditForTwo!: boolean | null;
  @State((state) => state.subscription.principal.name) public principalName!: Name;
  @State((state) => state.subscription.secondary.name) public secondaryName!: Name;
  @State((state) => state.client.isMobile) public isMobile!: boolean;

  @Getter public hasBorrower!: boolean;
  @Getter public coBorrowerDisplayed!: boolean;
  @Getter public isClientLogged: boolean;
  @Getter public screenOption: (key: string) => any;

  public showpPrincipalNameAlert = false;
  public showSecondaryNameAlert = false;
  private idTimeout: number;

  public setValueWrapper(...args: any[]) {
    // @ts-ignore
    this.setValue(this.subStateName, ...args);
  }

  public setValue(subStateName: string, value: any, formName: string, borrower: string = PRINCIPAL) {
    const isPrincipal = borrower === PRINCIPAL;
    const name: any = isPrincipal ? this.principalName : this.secondaryName;
    name[formName] = value;
    const payload = {
      isPrincipal,
      subStateName,
      subStateValue: name
    };
    this.setSubscriptionData(payload);
  }

  public setGenderValue(subStateName: string, value: number, borrower: string = PRINCIPAL) {
    const isPrincipal = borrower === PRINCIPAL;
    const name = isPrincipal ? this.principalName : this.secondaryName;
    name.gender = value;
    const payload = {
      isPrincipal,
      subStateName,
      subStateValue: name
    };
    this.setSubscriptionData(payload);
  }

  public get spouseToolTip(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocInformation.nom.conjointTooltipImg').toString(),
      text: this.$t('souscription.blocInformation.nom.conjointTooltip').toString(),
      alt: 'aide'
    };
  }

  public get customColorTooltip() {
    return {
      primary: this.colors.secondary,
      // @ts-ignore
      secondary: this.hexToRgb(this.colors.secondary, 0.08)
    };
  }

  public get SpouseIsDisplayed() {
    // "Marié(e)" or "Pacsé(e)" or "En couple"
    const codes = [MaritalStatusCode.MARRIED, MaritalStatusCode.CIVIL_PARTNERSHIP, MaritalStatusCode.IN_RELATION];
    return this.principalName.maritalStatus && codes.includes(this.principalName.maritalStatus.code);
  }

  public get isMarried() {
    // "Marié(e)"
    return (
      this.principalName &&
      this.principalName.maritalStatus &&
      this.principalName.maritalStatus.code === MaritalStatusCode.MARRIED
    );
  }

  public get isWidow() {
    // Veuf (Veuve)
    return (
      this.principalName &&
      this.principalName.maritalStatus &&
      this.principalName.maritalStatus.code === MaritalStatusCode.WIDOW
    );
  }

  public handleBorrowerOpen() {
    const elements = document.getElementsByClassName('principal');
    if (elements && elements.length > 0) {
      const container = document.getElementById('subscriptionStepContent');
      const containerRect = container ? container.getBoundingClientRect() : document.body.getBoundingClientRect();
      const elemRect = elements[0].getBoundingClientRect();
      const offset = Math.abs(elemRect.top - containerRect.top);
      const principalEl = document.getElementById('principalContainer');
      let aboveSize = (principalEl ? principalEl.offsetHeight : 0) + (this.isMobile ? -100 : -60);
      if (document.getElementsByClassName('gdpr').length > 0) {
        const gdpr = document.getElementsByClassName('gdpr')[0];
        aboveSize += gdpr.scrollHeight;
      }
      this.goTo(offset + aboveSize);
    }
  }

  public goTo(to: any, callback: any = null) {
    const form = document.querySelector('.subscriptionPageContainer .wrapper .content') as HTMLElement;
    const start = window.scrollY > form.scrollTop ? window.scrollY : form.scrollTop;

    const change = to - start;
    const increment = 20;
    let currentTime = 0;
    const animateScroll = () => {
      const duration = 300;
      const val = easeInOutQuad(currentTime, start, change, duration);
      currentTime += increment;

      if (window.scrollTo) {
        window.scrollTo(0, val);
      }

      if (form && form.scrollTop) {
        form.scrollTop = val;
      }

      if (currentTime < duration) {
        setTimeout(animateScroll, increment);
      } else if (callback) {
        callback();
      }
    };
    animateScroll();
  }

  private isSwapedName(firstName, lastName, isPrincipal) {
    if (!!this.screenOption('swaped-name-enabled')) {
      if (this.idTimeout) {
        clearTimeout(this.idTimeout);
      }

      this.idTimeout = setTimeout(async () => {
        if (firstName && lastName) {
          const validFirstname = await NomenclatureAPI.validateFirstName(firstName);
          const lastNameIsFirstname = await NomenclatureAPI.validateFirstName(lastName);

          if (isPrincipal) {
            this.showpPrincipalNameAlert = !validFirstname && lastNameIsFirstname;
          } else {
            this.showSecondaryNameAlert = !validFirstname && lastNameIsFirstname;
          }

          this.idTimeout = 0;
        } else {
          this.showpPrincipalNameAlert = false;
          this.showSecondaryNameAlert = false;
        }
      }, 300);
    }
  }

  @Watch('principalName.firstName')
  private onPFirstNameChange(value) {
    this.isSwapedName(value, this.principalName.lastName, true);
  }

  @Watch('secondaryName.firstName')
  private onSFirstNameChange(value) {
    this.isSwapedName(value, this.secondaryName.lastName, false);
  }

  @Watch('principalName.lastName')
  private onPLastNameChange(value) {
    this.isSwapedName(this.principalName.firstName, value, true);
  }

  @Watch('secondaryName.lastName')
  private onSLastNameChange(value) {
    this.isSwapedName(this.secondaryName.firstName, value, false);
  }

  @Watch('principalName.maritalStatus')
  private onMaritalStatusChange(newValue: any, oldValue: any) {
    this.setValue('name', false, 'hasSpouse');
  }
}
</script>
<style lang="scss" scoped>
#app-subscription-step {
  .SpouseContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    span {
      color: $color-grey-black;
      line-height: 1.25;
      font-family: $font-bold;
      font-size: 16px;
      margin-right: 15px;
    }
  }
}
</style>
