<template>
  <footer class="footer">
    <div class="legal-mentions">
      <p class="legal-mentions__text" v-html="$t('simulation.Footer.star1')"></p>
      <ul class="legal-mentions__stars">
        <li class="legal-mentions__text" v-if="showStarTaxFree" v-html="$t('simulation.Footer.star1_1')"></li>
        <li
          class="legal-mentions__text"
          v-if="showStarDelay"
          v-html="
            $t('simulation.Footer.star2_1', {
              nbMois: selectedOfferDelay
            })
          "
        ></li>
      </ul>
      <p
        class="legal-mentions__text legal-mentions__last-star"
        v-if="showTaegIndication"
        v-html="$t('simulation.Footer.indice1')"
      ></p>
      <a class="legal-mentions__link" @click="goToLegalMentions(0)">{{ $t('simulation.Footer.link') }}</a>
      <br />
      <a class="legal-mentions__link" href="javascript:Didomi.preferences.show()">
        {{ $t('souscription.menuNavigation.gererCookie') }}
      </a>
      <p class="legal-mentions__text">
        {{
          $t('simulation.Footer.mentionsLegales1', {
            date: todayFormatted
          })
        }}
      </p>
      <p class="legal-mentions__text" v-html="$t('simulation.Footer.indice2')"></p>
      <p class="legal-mentions__text">{{ $t('simulation.Footer.mentionsLegales2') }}</p>
    </div>
  </footer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Getter } from 'vuex-class';
import { formatDate } from '@/utils/utils';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { BusinessRule } from '@/services/BusinessRule';

/**
 * Footer
 */
@Component({
  components: {}
})
export default class Footer extends Vue {
  @State((state) => state.apiConfig.offerCode) public offerCode!: string;
  @State((state) => state.apiConfig.partnerCode) public partnerCode!: string;
  @State((state) => state.simulator.proposals) private proposals: SimulationFinancialProposal[];
  @State((state) => state.simulator.selectedProposal) private selectedProposal: SimulationFinancialProposal;
  @State((state) => state.client.isMobile) private isMobile!: boolean;
  @State((state) => state.apiConfig.simulateurLight) private simulateurLight: boolean;

  @Getter private emptyProposals!: boolean;

  private get todayFormatted() {
    return formatDate(new Date());
  }

  private get showTaegIndication() {
    return !this.isMobile && this.proposals && this.proposals.length > 0;
  }

  private get showStarTaxFree() {
    return this.proposals && this.proposals.find((proposal) => proposal.taeg === 0);
  }

  private get showStarDelay() {
    return BusinessRule.showReportInformations(this.selectedProposal);
  }

  private get selectedOfferDelay() {
    return this.selectedProposal ? this.selectedProposal.deferralMonthNumber : null;
  }
}
</script>

<style scoped lang="scss">
.footer {
  .quality {
    background-color: $color-title;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 55px 0 75px;

    @media screen and (max-width: $width_S) {
      flex-direction: column;
      padding: 40px 0;
    }

    &-item {
      text-align: center;
      width: 20%;

      @media screen and (max-width: $width_S) {
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding: 0 40px;

        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }

    &-image {
      @media screen and (max-width: $width_S) {
        text-align: center;
        flex: 0 0 60px;
        width: 60px;
        margin: 0 30px 0 0;
      }

      img {
        display: block;
        height: 76px;
        margin: 0 auto 20px;

        @media screen and (max-width: $width_S) {
          height: 60px;
          margin: 0 auto;
        }
      }
    }

    &-title {
      font-family: $font-bold;
      font-size: 16px;
      color: $color-white;
      margin-bottom: 10px;
    }

    &-text {
      font-family: $font-medium;
      font-size: 14px;
      line-height: 20px;
      color: $color-white;

      /deep/ sup {
        font-size: 10px;
      }
    }
  }

  .legal-mentions {
    background-color: $color-white;
    text-align: center;
    padding: 35px 60px 60px;

    @media screen and (max-width: $width_S) {
      padding: 20px $padding-mobile;
    }

    &__stars {
      margin-top: 12px;
      margin-bottom: 12px;

      @media screen and (max-width: $width_S) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    &__last-star {
      margin-bottom: 30px;

      @media screen and (max-width: $width_S) {
        margin-bottom: 20px;
      }
    }

    &__link {
      font-family: $font-regular;
      font-size: 16px;
      text-decoration: underline;
      color: $color-grey-medium;
      display: inline-block;
      margin: 0 auto 30px;
      cursor: pointer;

      @media screen and (max-width: $width_S) {
        margin: 0 auto 20px;
        font-size: 14px;
      }

      ~ .legal-mentions__text:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &__text {
      font-family: $font-regular;
      font-size: 12px;
      line-height: 16px;
      color: $color-grey-medium;
      text-align: left;
    }
  }
}
</style>
