<template>
  <header class="header">
    <div class="header-wrapper">
      <div class="logos">
        <div class="header__logo-container" v-show="hasPartnerLogo">
          <a href="./" class="header__logo" :class="{ border: partnerLogoLoaded && sofincoLogoLoaded }">
            <img
              id="logo_partner"
              :src="`${resourcesPath}/logo_partner.svg`"
              alt="Partenaire"
              @error="handleError"
              @load="handleLoad"
            />
          </a>
          <div
            class="header__logo-partner"
            v-show="hasSofincoLogo"
            :style="{
              paddingLeft: partnerLogoLoaded && sofincoLogoLoaded ? '20px' : '0'
            }"
          >
            <img
              id="logo_sofinco"
              :src="`${resourcesPath}/sofinco-partner.svg`"
              alt="Sofinco"
              @error="handleError"
              @load="handleLoad"
            />
          </div>
        </div>
      </div>

      <ul class="topbar-content-mobile">
        <li v-if="showMobileHelpButton" @click="openHelp" id="main-button-mobile">
          <div class="topbar-content-icon">
            <img src="@/assets/images/contact.svg" alt="" />
          </div>
        </li>
      </ul>

      <p class="header__text">
        <template v-if="isMobileProp">
          {{ $t('souscription.Header.creditEngagement_1') }} {{ $t('souscription.Header.creditEngagement_2') }}
        </template>
        <template v-else>
          {{ $t('souscription.Header.creditEngagement_1') }}
          <br />
          {{ $t('souscription.Header.creditEngagement_2') }}
        </template>
      </p>
    </div>
    <div class="header__subtitle">
      <img src="@/assets/images/lock.svg" alt="cadenas" />
      {{ $t('souscription.Header.partner') }}
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';
import Config from '@/config/configSimulator';

/**
 * Header
 */
@Component({
  components: {}
})
export default class Header extends Vue {
  @Prop({ default: false }) public isMobileProp: boolean;
  @Prop({ default: false }) public showMobileHelpButton: boolean;

  public readonly resourcesPath = Config.style.resourcesPath;
  public hasPartnerLogo = true;
  public partnerLogoLoaded = false;
  public hasSofincoLogo = true;
  public sofincoLogoLoaded = false;

  public handleLoad(e: Event) {
    const element: any = e.target;
    if (element) {
      const id = element.id;
      if (id === 'logo_partner') {
        this.partnerLogoLoaded = true;
      } else if (id === 'logo_sofinco') {
        this.sofincoLogoLoaded = true;
      }
    }
  }

  public handleError(e: Event) {
    const element: any = e.target;
    if (element) {
      const id = element.id;
      if (id === 'logo_partner') {
        this.hasPartnerLogo = false;
      } else if (id === 'logo_sofinco') {
        this.hasSofincoLogo = false;
      }
    }
  }

  @Emit('open-mobile-help-menu')
  public openHelp() {}
}
</script>

<style scoped lang="scss">
.header {
  background-color: $color-white;

  &-wrapper {
    background-color: $color-white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $header-height;
    padding: 5px 45px 5px 60px;

    @media screen and (max-width: $width_M) {
      position: initial;
      flex-direction: column;
      height: auto;
    }

    @media screen and (max-width: $width_S) {
      padding: 5px 15px 10px 15px;
    }
  }

  &__logo {
    display: inline-block;
    vertical-align: middle;
    max-height: 40px;

    img {
      max-height: 40px;
    }

    @media screen and (max-width: $width_M) {
      max-height: 30px;

      img {
        max-height: 30px;
      }
    }

    &.border {
      border-right: solid 1px rgba(0, 0, 0, 0.08);
    }
    &:first-child {
      padding-right: 20px;
    }

    &-container {
      @media screen and (max-width: $width_M) {
        background-color: $color-white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: $header-height-mobile;
        padding: 10px 30px;
      }

      @media screen and (max-width: $width_S) {
        padding: 10px $padding-mobile;
      }
    }

    &-partner {
      @extend .header__logo;
      padding-left: 20px;

      @media screen and (max-width: $width_M) {
      }
    }
  }

  &__text {
    font-weight: lighter;
    font-size: 20px;
    line-height: 22px;
    text-align: right;
    color: $color-grey-medium;

    @media screen and (max-width: $width_M) {
      font-size: 18px;
      line-height: 20px;
      text-align: left;
      padding: 0 30px 10px 30px;
    }

    @media screen and (max-width: $width_S) {
      padding: 10px $padding-mobile;

      br {
        display: none;
      }
    }

    @media screen and (max-width: $width_XS) {
      padding: 0;
    }
  }

  &__subtitle {
    font-family: $font-regular;
    font-size: 14px;
    text-align: center;
    color: $color-grey-dark;
    margin-top: 0;
    padding: 5px 0;

    @media screen and (max-width: $width_M) {
      display: none;
    }

    img {
      margin-right: 5px;
      display: inline-block;
      vertical-align: text-top;
    }
  }
}

.topbar-content-mobile {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 10;

  img {
    width: 35px;
  }

  @media screen and (min-width: $width_S) {
    display: none;
  }
}
</style>
