<template>
  <div class="app-wrapper" :class="{ 'popup-active': isOverlayEnabled }">
    <div class="overlay v-fade" v-show="isOverlayEnabled"></div>
    <div class="header-simulator">
      <return-partner-btn class="returnPartnerBtn"></return-partner-btn>
      <h2 class="welcome__message" v-html="welcomeLabel"></h2>
    </div>
    <div class="offer-configurator__wrapper" :class="{ 'is-active': hidePanels }" data-cy="offerConfigurator">
      <!-- Desktop -->
      <loan-parameters :minSimulationAmount="minSimulationAmount" :maxSimulationAmount="maxSimulationAmount" />
      <offer-selector v-show="!hidePanels" />
      <offer-submit :goNext="goNext" v-show="!hidePanels" />
    </div>

    <!-- Mobile popup -->
    <loan-parameters-mobile />
    <offer-selector-mobile />
    <offer-submit-mobile :goNext="goNext" />

    <!-- Mobile and desktop popup -->
    <pre-contract-modal />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter, State } from 'vuex-class';
import Config from '@/config/configSimulator';

import LoanParameters from '@/components/simulator/simulator-content/LoanParameters.vue';
import OfferSelector from '@/components/simulator/simulator-content/OfferSelector.vue';
import OfferSubmit from '@/components/simulator/simulator-content/OfferSubmit.vue';
import OfferSubmitMobile from '@/components/simulator/simulator-content/popupMobile/OfferSubmitMobile.vue';
import OfferSelectorMobile from '@/components/simulator/simulator-content/popupMobile/OfferSelectorMobile.vue';
import LoanParametersMobile from '@/components/simulator/simulator-content/popupMobile/LoanParametersMobile.vue';
import PreContractModal from '@/components/simulator/simulator-content/popup/PreContractModal.vue';
import { BusinessDataTransfer } from '@/models/BusinessDataTransfer';
import { StepState } from '@/models/StepState';
import ReturnPartnerBtn from './graphic/ReturnPartnerBtn.vue';

@Component({
  components: {
    'loan-parameters': LoanParameters,
    'offer-selector': OfferSelector,
    'offer-submit': OfferSubmit,
    'offer-submit-mobile': OfferSubmitMobile,
    'offer-selector-mobile': OfferSelectorMobile,
    'loan-parameters-mobile': LoanParametersMobile,
    'pre-contract-modal': PreContractModal,
    'return-partner-btn': ReturnPartnerBtn
  }
})
export default class SimulatorContent extends Vue {
  @Prop() public stepState!: StepState;

  @State((state) => state.simulator.uiActiveStates.overlay) private isOverlayEnabled!: boolean;
  @State((state) => state.subscription.context) private businessDataTransfert!: BusinessDataTransfer;
  @State((state) => state.simulator.requiredAmount) private requiredAmount!: number;
  @State((state) => state.simulator.uiActiveStates.forceUserAmountInput) private forceUserAmountInput;
  @State((state) => state.client.isMobile) private isMobile!: boolean;

  @Getter('getNextStep') private getNextStep!: (pathId: string) => StepState;

  private get editableAmount() {
    return Config.editableAmount;
  }

  private get firstname() {
    if (
      this.businessDataTransfert &&
      this.businessDataTransfert.customerContext &&
      this.businessDataTransfert.customerContext.firstName
    ) {
      return this.businessDataTransfert.customerContext.firstName;
    } else {
      return null;
    }
  }

  /**
   * If user has just landed on simulator without set requiredAmount and hasn't filled it yet.
   */
  private get hidePanels() {
    return Config.editableAmount && this.forceUserAmountInput;
  }

  private get minSimulationAmount(): number {
    return this.stepState.screenOptions && (this.stepState.screenOptions as any)['min-amount']
      ? Number((this.stepState.screenOptions as any)['min-amount'].value)
      : null;
  }

  private get maxSimulationAmount(): number {
    return this.stepState.screenOptions && (this.stepState.screenOptions as any)['max-amount']
      ? Number((this.stepState.screenOptions as any)['max-amount'].value)
      : null;
  }

  private get nextStepRouteName() {
    const nextStep = this.getNextStep(this.stepState.pathId);
    return nextStep ? nextStep.pathId : null;
  }

  private get welcomeLabel() {
    return this.editableAmount
      ? this.$t('simulation.App.messageBienvenueGenerique')
      : this.firstname
      ? this.$t('simulation.App.messageBienvenueVac', {
          firstname: this.firstname,
          requiredAmount: this.$options.filters.stripZeros(this.$options.filters.currency(this.requiredAmount))
        })
      : this.$t('simulation.App.messageBienvenueVacGenerique', {
          requiredAmount: this.$options.filters.stripZeros(this.$options.filters.currency(this.requiredAmount))
        });
  }

  private goNext() {
    if (this.nextStepRouteName) {
      this.$router.push({ name: this.nextStepRouteName });
    }
  }
}
</script>

<style lang="scss" scoped>
.app-wrapper {
  background-color: $color-section-simu-bg;
  @media screen and (max-width: $width_L) {
    background-color: $color-bg-simu-mobile;
  }

  &.popup-active {
    position: relative;
    z-index: 3;
  }
  .header-simulator {
    position: relative;
    .welcome__message {
      font-family: $font-medium;
      font-size: 18px;
      line-height: 28px;
      color: $color-grey-dark;
      text-align: center;
      max-width: 650px;
      margin: 0 auto;
      padding: 25px 0;

      @media screen and (max-width: $width_L) {
        font-size: 16px;
        line-height: 20px;
        max-width: none;
        margin: 0 50px;
        padding: 25px 0 10px;
      }

      @media screen and (max-width: $width_XS) {
        margin: 0 $padding-mobile;
        padding: 15px 0;
      }

      ::v-deep span {
        font-family: $font-bold;
        color: $color-partner-2;
      }
    }
  }

  ::v-deep .offer-configurator {
    &__wrapper {
      @media screen and (min-width: $width_XXL) {
        margin: 0 130px 0px;
      }

      background-color: $color-partner-2;
      border-radius: 5px;
      display: flex;
      margin: 0 45px 0px;
      justify-content: center;

      @media screen and (max-width: $width_L) {
        border-radius: 0;
        background-color: $color-bg-simu-mobile;
        display: block;
        margin: 0;
      }

      &.is-active {
        display: block;
        background-color: rgba(0, 0, 0, 0);
      }

      .simulator {
        &__col {
          flex: 1;

          @media screen and (max-width: $width_L) {
            display: none;

            &:nth-child(1),
            &:nth-child(2) {
              flex: none;
              display: block;
            }
          }

          &:last-child {
            border-right: none;
          }
        }

        &__wrap {
          display: flex;
          justify-content: center;
          border-bottom: 1px solid rgba($color-grey-regular, 0.4);
          padding: 15px 0;

          &-number {
            width: 25px;
            height: 25px;
            font-family: $font-bold;
            font-size: 18px;
            text-align: center;
            color: $color-white;
            background-color: $color-partner-2;
            border-radius: 100%;
          }

          &-title {
            margin-left: 10px;
            font-size: 18px;
            font-family: $font-bold;
            text-align: center;
            color: $color-partner-2;
          }
        }
      }
    }
  }
  .returnPartnerBtn {
    position: absolute;
    height: 100%;
  }
  @media screen and (max-width: $width_L) {
    .returnPartnerBtn {
      display: none;
    }
  }
}
</style>
