<template>
  <div>
    <offer-details />
    <required-documents v-if="!emptyProposals && !simulateurLight" />
    <quality-info v-if="!emptyProposals && !simulateurLight" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Getter, State } from 'vuex-class';
import OfferDetails from './simulator-bottom-info/OfferDetails.vue';
import RequiredDocuments from './simulator-bottom-info/RequiredDocuments.vue';
import QualityInfo from './simulator-bottom-info/QualityInfo.vue';

@Component({
  components: {
    'offer-details': OfferDetails,
    'required-documents': RequiredDocuments,
    'quality-info': QualityInfo
  }
})
export default class SimulatorBottomInfo extends Vue {
  @Getter private emptyProposals!: boolean;
  @State((state) => state.apiConfig.simulateurLight) private simulateurLight: boolean;
}
</script>

<style lang="scss" scoped>
.offer-details {
  @media screen and (max-width: $width_L) {
    display: none;
  }
}
</style>
