<template>
  <div class="checkbox-container">
    <input
      class="checkbox-input"
      type="checkbox"
      :id="borrower + id"
      :name="borrower + id"
      v-model="checkbox"
      v-on:change="validateField"
    />
    <label class="checkbox-label" :for="borrower + id">{{ checkbox ? 'Oui' : 'Non' }}</label>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';

@Component({})
export default class CheckboxCustom extends Vue {
  @Prop() private id!: string;
  @Prop() private borrower!: string;
  @Prop() private value!: boolean;
  @Prop() private setValue!: (value: boolean | null, fieldName: string, borrower: string) => void;

  private checkbox: boolean = false;

  public validateField() {
    if (this.setValue) {
      this.setValue(this.checkbox, this.id, this.borrower);
    }
  }

  private created() {
    this.checkbox = this.value != null ? this.value : false;
  }
}
</script>
