<template>
  <div class="borrower-container">
    <!-- Start: Principal borrower (T1) -->
    <div class="principal">
      <div
        v-if="hasCoBorrower"
        class="borrowerTitle"
        :class="{
          active: showBorrowerT1 || (hasCoBorrower && isEligibleForT2AndNotT1),
          accessible: !(hasCoBorrower && isEligibleForT2AndNotT1),
          disabled: hasCoBorrower && isEligibleForT2AndNotT1
        }"
        @click="handleTabClick(true)"
      >
        {{ principalBorrowerTitle === '' ? $t('commun.vous') : principalBorrowerTitle }}
        <div
          v-if="showBorrowerT2"
          class="action"
          :class="{ completed: getValidationStatus(stepState.pathId, true), hover: onHoverPrincipal }"
          @mouseenter="onHoverPrincipal = true"
          @mouseleave="onHoverPrincipal = false"
        >
          {{ getValidationStatus(stepState.pathId, true) ? $t('commun.modifier') : $t('commun.aCompleter') }}
        </div>
        <div class="bandWrapper">
          <div class="band" :class="{ disabled: hasCoBorrower && isEligibleForT2AndNotT1 }"></div>
        </div>
      </div>
      <!-- If T1 has a co-borrower and he is not eligible -->
      <div class="borrowerMessage" v-if="hasCoBorrower && isEligibleForT2AndNotT1">
        <p v-html="$t(messageT1IsNotEligible)" />
      </div>
      <div class="borrowerContent" :class="{ show: showBorrowerT1 }" :style="{ height: heightT1 }" ref="borrowerT1">
        <slot name="principal" />
      </div>
    </div>
    <!-- End: Principal borrower (T1) -->
    <!-- Start: Secondary borrower (T2) -->
    <div v-if="hasCoBorrower && !isEligibleForT1AndNotT2" class="secondary">
      <div
        class="borrowerTitle"
        @click="handleTabClick(false)"
        :class="{
          active: getValidationStatus(stepState.pathId, true) && showBorrowerT2,
          accessible: getValidationStatus(stepState.pathId, true),
          disabled: !getValidationStatus(stepState.pathId, true)
        }"
      >
        {{ secondaryBorrowerTitle === '' ? $t('commun.votreConjoint') : $t(secondaryBorrowerTitle) }}
        <div
          v-if="showBorrowerT1"
          class="action"
          :class="{ disabled: !this.getValidationStatus(this.stepState.pathId, true), hover: onHoverSecondary }"
          @mouseenter="onHoverSecondary = true"
          @mouseleave="onHoverSecondary = false"
        >
          {{ getValidationStatus(stepState.pathId, false) ? $t('commun.modifier') : $t('commun.aCompleter') }}
        </div>
        <div class="bandWrapper">
          <div class="band" :class="{ disabled: !getValidationStatus(stepState.pathId, true) }"></div>
          <div
            class="coloredBand"
            :style="{
              width: getValidationStatus(stepState.pathId, true) ? '100%' : '0%'
            }"
          ></div>
        </div>
      </div>
      <div class="borrowerContent" ref="borrowerT2" :class="{ show: showBorrowerT2 }" :style="{ height: heightT2 }">
        <slot name="secondary" />
      </div>
    </div>
    <!-- End: Secondary borrower (T2) -->
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import { T1Payload } from '@/models/subscription/SubscriptionPayload';
import { StepState } from '@/models/StepState';

@Component({})
export default class BorrowerContent extends Vue {
  @Prop({ default: false }) public hasCoBorrower: boolean;
  @Prop({ default: () => ({}) }) public colors!: Colors;
  @Prop({ default: '' }) public principalBorrowerTitle: string;
  @Prop({ default: '' }) public secondaryBorrowerTitle: string;
  @Prop({ default: false }) public isEligibleForT2AndNotT1!: boolean;
  @Prop({ default: false }) public isEligibleForT1AndNotT2!: boolean;
  @Prop({ default: '' }) public messageT1IsNotEligible!: string;
  @Prop({ required: true }) public t1IsActive: boolean;
  @Prop({ required: true }) public stepState!: StepState;
  @Prop({ required: true }) public getValidationStatus!: (pathId: string, isPrincipal: boolean) => boolean;
  @Prop({ required: true }) public setT1IsActive!: (payload: T1Payload) => void;

  public heightT1: string = '0px';
  public heightT2: string = '0px';
  public showBorrowerT1: boolean = false;
  public showBorrowerT2: boolean = false;

  public onHoverPrincipal: boolean = false;
  public onHoverSecondary: boolean = false;

  public t1timeout1: any = null;
  public t1timeout2: any = null;
  public t2timeout1: any = null;
  public t2timeout2: any = null;

  public mounted() {
    if (this.hasCoBorrower) {
      if (this.isEligibleForT1AndNotT2) {
        this.showBorrowerT1 = true;
        this.showBorrowerT2 = false;
        this.setT1IsActive({
          pathId: this.stepState.pathId,
          t1IsActive: true
        });
      }
      if (this.isEligibleForT2AndNotT1) {
        this.showBorrowerT1 = false;
        this.showBorrowerT2 = true;
        this.setT1IsActive({
          pathId: this.stepState.pathId,
          t1IsActive: false
        });
      } else {
        if (!this.t1IsActive && !this.getValidationStatus(this.stepState.pathId, true)) {
          this.showBorrowerT1 = true;
          this.showBorrowerT2 = false;
          this.setT1IsActive({
            pathId: this.stepState.pathId,
            t1IsActive: true
          });
        }
      }
      this.getHeightBorrower();
    } else {
      this.heightT1 = 'auto';
    }
  }

  public handleTabClick(isPrincipal: boolean) {
    const t1IsNotEligible = this.hasCoBorrower && isPrincipal && this.isEligibleForT2AndNotT1;
    const selectedIsNotValid = !isPrincipal && !this.getValidationStatus(this.stepState.pathId, true);
    if (selectedIsNotValid || t1IsNotEligible) {
      return;
    }

    if (isPrincipal) {
      this.onHoverPrincipal = false;
    } else {
      this.onHoverSecondary = false;
    }

    this.setT1IsActive({
      pathId: this.stepState.pathId,
      t1IsActive: isPrincipal
    });
  }

  public getHeightBorrower() {
    if (this.t1IsActive) {
      if ((this.$refs as any).borrowerT2) {
        this.heightT2 = (this.$refs as any).borrowerT2.scrollHeight + 'px';
        this.showBorrowerT2 = false;

        if (this.t2timeout1) {
          clearTimeout(this.t2timeout1);
          this.t2timeout1 = null;
        }

        if (this.t2timeout2) {
          clearTimeout(this.t2timeout2);
          this.t2timeout2 = null;
        }

        setTimeout(() => {
          this.heightT2 = '0px';
        });
      }

      if ((this.$refs as any).borrowerT1) {
        this.t1timeout1 = setTimeout(() => {
          this.heightT1 = (this.$refs as any).borrowerT1.scrollHeight + 'px';
        }, 300);

        this.t1timeout2 = setTimeout(() => {
          this.heightT1 = 'auto';
          this.showBorrowerT1 = true;
        }, 600);
      }
    } else {
      if ((this.$refs as any).borrowerT1) {
        this.heightT1 = (this.$refs as any).borrowerT1.scrollHeight + 'px';
        this.showBorrowerT1 = false;

        if (this.t1timeout1) {
          clearTimeout(this.t1timeout1);
          this.t1timeout1 = null;
        }

        if (this.t1timeout2) {
          clearTimeout(this.t1timeout2);
          this.t1timeout2 = null;
        }

        setTimeout(() => {
          this.heightT1 = '0px';
        });
      }

      if ((this.$refs as any).borrowerT2) {
        this.t2timeout1 = setTimeout(() => {
          this.heightT2 = (this.$refs as any).borrowerT2.scrollHeight + 'px';
        }, 300);

        this.t2timeout2 = setTimeout(() => {
          this.heightT2 = 'auto';
          this.showBorrowerT2 = true;
        }, 600);
      }
    }
  }

  /**
   * It's a listener to watch change on t1IsActive variable to go to the active tab.
   */
  @Watch('t1IsActive')
  private onT1IsActiveChange(newValue): void {
    this.getHeightBorrower();
    this.$emit('onActiveTabChange', newValue);
  }
}
</script>
<style lang="scss" scoped>
.borrower-container {
  .principal,
  .secondary {
    .borrowerContent {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      &.show {
        overflow: inherit;
      }
    }
  }

  .principal {
    .borrowerTitle {
      margin: 0 0 15px;
    }
  }

  .borrowerMessage {
    font-family: $font-regular;
    font-size: 14px;
    text-align: left;
    color: $color-grey-dark;
    margin-bottom: 15px;
    opacity: 1;
  }

  .borrowerTitle {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    overflow: hidden;
    cursor: default;
    font-family: $font-bold;
    font-size: 16px;
    line-height: 24px;
    transition: color 0.25s ease-in-out;
    color: $color-headband-mobile;

    &.accessible {
      cursor: pointer;
    }

    &.disabled {
      color: $color-grey-medium;
    }

    &.close {
      width: 100%;
      margin: 15px 0;
    }

    .bandWrapper {
      position: relative;
      margin-top: 5px;

      .band {
        width: 100%;
        height: 2px;
        background-color: $color-headband-mobile;

        &.disabled {
          background-color: $color-grey-regular;
        }
      }

      .coloredBand {
        width: 0%;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s all ease-in-out 0.2s;
      }
    }

    .action {
      position: absolute;
      right: 0;
      top: 0;
      color: $color-headband-mobile;
      background-color: $color-white;
      font-family: $font-medium;
      font-size: 12px;
      line-height: 22px;
      border: 1px solid $color-headband-mobile;
      border-radius: 20px;
      padding: 0 10px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;

      &.hover {
        color: $color-white;
        background-color: $color-headband-mobile;
      }

      &.disabled {
        color: $color-grey-medium;
        border-color: $color-grey-regular;
        background-color: $color-white;
      }
    }

    &:not(.active) {
      .action {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
</style>
