<template>
  <div>
    <pop-in :active="isPopupActive" :title="$t('simulation.PreContractPopin.titre')" @close="onClose">
      <div class="inner-content">
        <div class="title">
          {{ $t('simulation.PreContractPopin.sousTitre') }}
        </div>

        <!-- Radio buttons -->
        <div class="radio-button-group">
          <app-radio-button
            inputId="mailRadio"
            @click="handleRadioClick"
            :checked="isMailSelected"
            class="mailRadio"
            :label="$t('simulation.PreContractPopin.mail')"
          />
          <app-radio-button
            inputId="downloadRadio"
            @click="handleRadioClick"
            :checked="isDownloadSelected"
            class="downloadRadio"
            :label="$t('simulation.PreContractPopin.telecharger')"
          />
        </div>

        <!-- Email input for mobile view -->
        <div class="emailInputMobile" :class="{ 'display-error': showError }" v-if="isMailSelected">
          <p class="advice">{{ $t('simulation.PreContractPopin.mailIndication') }}</p>
          <div class="information">
            <div class="icon">
              <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-419.000000, -550.000000)">
                    <g id="Icon&gt;-info" transform="translate(419.000000, 550.000000)">
                      <g id="Group-2">
                        <circle id="Oval" stroke="#1AAEB7" cx="7.5" cy="7.5" r="7" />
                        <path
                          d="M7.75,5.37 C7.5233322,5.37 7.34166735,5.30833395 7.205,5.185 C7.06833265,5.06166605 7,4.8966677 7,4.69 C7,4.4766656 7.06833265,4.30833395 7.205,4.185 C7.34166735,4.06166605 7.5233322,4 7.75,4 C7.9766678,4 8.15833265,4.06166605 8.295,4.185 C8.43166735,4.30833395 8.5,4.4766656 8.5,4.69 C8.5,4.8966677 8.43166735,5.06166605 8.295,5.185 C8.15833265,5.30833395 7.9766678,5.37 7.75,5.37 Z M7.18,6.05 L8.32,6.05 L8.32,11.05 L7.18,11.05 L7.18,6.05 Z"
                          id="i"
                          fill="#1AAEB7"
                          fill-rule="nonzero"
                        />
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div class="text">{{ $t('simulation.PreContractPopin.mailInformation') }}</div>
          </div>
          <InputTextEmail
            id="precontract-email"
            :label="$t('simulation.PreContractPopin.email')"
            :value="email"
            :setValue="onEmailChange"
            :required="true"
            autocomplete="email"
            :validateOnChange="true"
            :autofocus="false"
            :errorImgPath="`smiling-face.svg`"
          />
          <!-- :errorImgPath="`${baseUrlS}/error-icon.svg`" -->
        </div>

        <!-- Display list of documents -->
        <div class="docs">
          <p class="title">{{ $t('simulation.PreContractPopin.documentsIndication') }}</p>
          <div class="doc" v-for="(doc, index) in documents" :key="index">
            <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 18 15">
              <path
                fill="#000"
                d="M6.403 10.615l9.041-9.552c.59-.622 1.539-.617 2.122.011s.578 1.641-.01 2.263L7.458 14.003c-.584.618-1.526.618-2.11 0L.443 8.824c-.588-.622-.593-1.635-.01-2.263.583-.628 1.533-.632 2.122-.01l3.847 4.064z"
              />
            </svg>
            {{ doc.text }}
          </div>
        </div>
      </div>

      <!--  Email feedback on mobile  -->
      <div class="blankBackground" :class="{ show: emailSent || emailError }" v-if="emailSent || emailError"></div>
      <div
        class="mobileFeedback"
        v-if="emailSent || emailError"
        :class="{ show: emailSent || emailError, emailValid: emailSent, emailError: emailError }"
      >
        <div v-if="emailSent">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9">
            <path
              fill-rule="nonzero"
              d="M4.442 6.26L9.867.29a.838.838 0 0 1 1.272.006 1.08 1.08 0 0 1-.006 1.415L5.075 8.377a.838.838 0 0 1-1.267 0L.867 5.14A1.08 1.08 0 0 1 .86 3.726a.838.838 0 0 1 1.272-.007l2.309 2.54z"
            />
          </svg>
        </div>
        {{
          emailError
            ? $t('simulation.PreContractPopin.mailMessageErreur')
            : $t('simulation.PreContractPopin.mailEnvoye')
        }}
      </div>

      <!-- Container for buttons and desktop email input  -->
      <div class="ctaContainer">
        <div class="emailInputDesktop" :class="{ 'display-error': showError }" v-if="isMailSelected">
          <p class="advice">{{ $t('simulation.PreContractPopin.mailIndication') }}</p>
          <div class="information">
            <div class="icon">
              <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-419.000000, -550.000000)">
                    <g id="Icon&gt;-info" transform="translate(419.000000, 550.000000)">
                      <g id="Group-2">
                        <circle id="Oval" stroke="#1AAEB7" cx="7.5" cy="7.5" r="7" />
                        <path
                          d="M7.75,5.37 C7.5233322,5.37 7.34166735,5.30833395 7.205,5.185 C7.06833265,5.06166605 7,4.8966677 7,4.69 C7,4.4766656 7.06833265,4.30833395 7.205,4.185 C7.34166735,4.06166605 7.5233322,4 7.75,4 C7.9766678,4 8.15833265,4.06166605 8.295,4.185 C8.43166735,4.30833395 8.5,4.4766656 8.5,4.69 C8.5,4.8966677 8.43166735,5.06166605 8.295,5.185 C8.15833265,5.30833395 7.9766678,5.37 7.75,5.37 Z M7.18,6.05 L8.32,6.05 L8.32,11.05 L7.18,11.05 L7.18,6.05 Z"
                          id="i"
                          fill="#1AAEB7"
                          fill-rule="nonzero"
                        />
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div class="text">{{ $t('simulation.PreContractPopin.mailInformation') }}</div>
          </div>
          <div class="inputContainer">
            <InputTextEmail
              id="precontract-email-desktop"
              :label="$t('simulation.PreContractPopin.email')"
              :value="email"
              :setValue="onEmailChange"
              :required="true"
              autocomplete="email"
              :validateOnChange="true"
              :errorImgPath="`smiling-face.svg`"
            />
          </div>
          <!-- TODO: set error icons ? -->
          <!-- :errorImgPath="`${baseUrlS}/error-icon.svg`" -->
          <!-- TODO: set autofocus ? -->
          <!-- :autofocus="true" -->
        </div>

        <transition :name="isMailSelected && !isMobileState ? 'fade' : null">
          <button class="cancelBtn" v-if="!emailSent" @click="onClose">
            <span>{{ $t('simulation.PreContractPopin.annuler') }}</span>
          </button>
        </transition>
        <transition :name="isMailSelected && !isMobileState ? 'fade' : null">
          <app-button
            v-if="!emailSent"
            class="button-simulator cta"
            :label="
              isMailSelected
                ? $t('simulation.PreContractPopin.envoyerMail')
                : $t('simulation.PreContractPopin.telechargerAction')
            "
            :noChevron="true"
            :onClick="handleChooseClick"
            :loading="isLoading"
          />
        </transition>
        <transition :name="isMailSelected ? 'appear' : null">
          <div class="email-sent" v-if="showEmailSent">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9">
              <path
                fill-rule="nonzero"
                d="M4.442 6.26L9.867.29a.838.838 0 0 1 1.272.006 1.08 1.08 0 0 1-.006 1.415L5.075 8.377a.838.838 0 0 1-1.267 0L.867 5.14A1.08 1.08 0 0 1 .86 3.726a.838.838 0 0 1 1.272-.007l2.309 2.54z"
              />
            </svg>
            <span>{{ $t('simulation.PreContractPopin.mailEnvoye') }}</span>
          </div>
        </transition>
        <button class="closeButton" v-if="emailSent" @click="onClose">
          <span>{{ $t('simulation.PreContractPopin.fermer') }}</span>
        </button>
      </div>
      <div class="desktopEmailError" v-show="emailError">
        <div class="inner">
          {{ $t('simulation.PreContractPopin.mailMessageErreur') }}
        </div>
      </div>
    </pop-in>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Provide } from 'vue-property-decorator';
import { Action, State, Mutation, Getter } from 'vuex-class';
import RadioButton from '@/components/simulator/graphic/RadioButton.vue';
import Popin from '@/components/simulator/graphic/Popin.vue';
import SimulationApi from '@/services/SimulationApi';
import { SimulationParameter } from '@/models/Simulation';
import { saveAs } from 'file-saver';
import Config from '@/config/configSimulator';
import { PreContractMail } from '@/store/types';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import Button from '@/components/graphic/Button.vue';

@Component({
  components: {
    'pop-in': Popin,
    'app-radio-button': RadioButton,
    'app-button': Button
  }
})
export default class PreContractModal extends Vue {
  @State((state) => state.simulator.requiredAmount)
  private requiredAmount!: number;
  @State((state) => state.simulator.selectedProposal)
  private selectedProposal!: SimulationFinancialProposal;
  @State((state) => state.simulator.uiActiveStates.preContractPopup)
  private preContractPopup!: boolean;
  @State((state) => state.apiConfig.offerCode)
  private offerCode!: string;
  @State((state) => state.apiConfig.applicationId)
  private applicationId!: string;
  @State((state) => state.apiConfig.partnerCode)
  private partnerCode!: string;
  @State((state) => state.apiConfig.businessProviderId)
  private businessProviderId: string;
  @State((state) => state.apiConfig.equipmentCode)
  private equipmentCode: string;
  @State((state) => state.apiConfig.scaleCode)
  private scaleCode: string;
  @State((state) => state.client.isMobile)
  private isMobileState!: boolean;
  @Action
  private triggerPreContractPopup!: () => void;
  @Mutation private updatePreContractMail!: (preContractMail: PreContractMail) => void;
  @Getter private getCreditType!: string;
  @Getter private screenOption: (key: string) => any;

  private selected: string = 'mailRadio';
  private isDownloadingDocuments: boolean = false;
  private emailSent: boolean = false;
  private isSendingEmail: boolean = false;
  private showEmailSent: boolean = false;
  private emailError: boolean = false;
  private showError: boolean = false;

  private email: string | null = '';

  private get isLoading(): boolean {
    return this.isSendingEmail || this.isDownloadingDocuments;
  }

  private get isPopupActive() {
    return this.preContractPopup ? true : false;
  }

  public get isMailSelected() {
    return this.selected === 'mailRadio';
  }

  public get isDownloadSelected() {
    return this.selected === 'downloadRadio';
  }

  public get documents() {
    return this.$t('PreContractDocuments');
  }

  private onEmailChange(value: string) {
    this.email = value;
  }

  private onClose() {
    this.triggerPreContractPopup();
  }

  private handleRadioClick(id: string) {
    // Reinit
    this.selected = id;
    this.emailSent = false;
    this.showEmailSent = false;
    this.email = null;
    this.emailError = false;
  }

  private handleChooseClick() {
    if (this.isMailSelected) {
      this._sendEmail();
    } else {
      this._download();
    }
  }

  private async _download() {
    if (!this.isDownloadingDocuments) {
      this.isDownloadingDocuments = true;
      try {
        const preContractPdf = await SimulationApi.getPreContractDocuments(
          this.simulationParameter,
          this.getCreditType
        );
        const preContractBlob = new Blob([preContractPdf.data], {
          type: 'application/pdf'
        });
        saveAs(preContractBlob, 'informations-precontractuelles.pdf');
      } finally {
        this.isDownloadingDocuments = false;
        this.onClose();
      }
    }
  }

  private async _sendEmail() {
    if (this.email === null) {
      this.showError = true;
    } else if (!(this.isSendingEmail || this.emailSent)) {
      this.isSendingEmail = true;
      try {
        await SimulationApi.sendEmail(this.simulationParameter, this.email, this.getCreditType);

        this.emailError = false;
        this.emailSent = true;
        setTimeout(() => {
          this.showEmailSent = true;
          this.isSendingEmail = false;
        }, 500);
        if (this.isMobileState) {
          setTimeout(() => {
            this.onClose();
          }, 2000);
        }

        this.updatePreContractMail({
          hasBeenSent: true,
          email: this.email || '',
          offer: Object.assign({}, this.selectedProposal)
        });
      } catch (err) {
        this.isSendingEmail = false;
        this.emailSent = false;
        this.showEmailSent = false;
        this.emailError = true;
      }
    }
  }

  private get simulationParameter(): SimulationParameter {
    let parameters: SimulationParameter = {
      partnerId: this.partnerCode,
      sourceId: this.offerCode,
      applicationId: this.applicationId,
      businessProviderId: this.businessProviderId,
      equipmentCode: this.equipmentCode,
      scaleCode: this.scaleCode
    };
    if (this.selectedProposal !== null) {
      parameters = {
        ...parameters,
        duration: this.selectedProposal.creditDurationWithoutInsurance,
        amount: this.selectedProposal.amount
      };
    } else {
      parameters = {
        ...parameters,
        amount: this.screenOption('amount-simulation') || null,
        duration: this.screenOption('duration-simulation') || null
      };
    }
    return parameters;
  }
}
</script>

<style lang="scss" scoped>
.inner-content {
  padding: 24px 22px 0 22px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    padding: 25px 60px 0;
  }

  .title {
    font-family: $font-bold;
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 28px;

    @media screen and (min-width: $width_S) {
      margin-bottom: 16px;
    }
  }

  .radio-button-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 39px;

    @media screen and (min-width: $width_S) {
      margin-bottom: 20px;
    }

    .mailRadio {
      margin-right: 46px;
    }
  }

  .emailInputMobile {
    margin-bottom: 25px;

    @media screen and (min-width: $width_S) {
      display: none;
    }

    .advice {
      font-size: 14px;
      line-height: 1.14;
      font-family: $font-bold;
      margin-bottom: 6px;
    }

    .information {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 12px;
      padding-right: 35px;

      .icon {
        margin-right: 6px;
      }

      .text {
        font-size: 12px;
        line-height: 1.33;
        color: $color-grey-dark;
      }
    }
  }

  .docs {
    display: flex;
    flex-direction: column;
    background-color: $color-bg-container;
    padding: 22px 24px 34px;
    position: relative;
    top: 0;
    left: -24px;
    width: calc(100% + 46px);
    flex-grow: 1;

    @media screen and (min-width: $width_S) {
      width: 100%;
      top: 0;
      left: 0;
      padding: 20px;
    }

    .title {
      font-size: 16px;
      font-family: $font-bold;
      line-height: 1.25;
      margin-bottom: 14px;

      @media screen and (min-width: $width_S) {
        font-size: 13px;
      }
    }

    .doc {
      font-size: 16px;
      display: flex;
      align-items: flex-start;
      line-height: 1.5;
      margin-bottom: 8px;

      @media screen and (min-width: $width_S) {
        font-size: 13px;
      }

      .check-icon {
        flex: 0 0 16px;
        width: 16px;
        margin-right: 10px;
        margin-top: 2px;
      }
    }
  }
}

.mobileFeedback {
  height: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-family: $font-medium;
  font-size: 16px;
  line-height: 1.3;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 300ms ease-in-out;

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    display: none;
  }

  svg {
    margin-right: 10px;
  }

  &.show {
    position: fixed;
    height: 60px;
    transform: translateY(-68px);

    &.emailValid {
      background-color: $color-bg-message-success;
      color: $color-text-message-success;

      svg path {
        fill: $color-text-message-success;
      }
    }

    &.emailError {
      background-color: $color-tooltip-bg-error;
      color: $color-tooltip-text-error;
    }
  }
}

.blankBackground {
  background-color: $color-white;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 300ms ease-in-out;
  height: 0;
  display: none;

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    display: none;
  }

  &.show {
    height: 60px;
    transform: translateY(-68px);
  }
}

.ctaContainer {
  z-index: 10;
  box-shadow: 0 0 32px 0 rgba($color-black, 0.08);
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $color-white;
  width: 100%;
  transform: translateZ(0);

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    box-shadow: none;
    padding: 22px 60px 32px;
    justify-content: flex-end;
    position: relative;
    margin-top: 50px;
    min-height: 102px;
  }

  .cta {
    width: 100%;
    @media screen and (min-width: $width_S) and (orientation: portrait),
      (min-height: 600px) and (orientation: landscape) {
      width: auto;
      margin-left: 24px;
    }
  }

  .email-sent {
    display: none;
    background-color: $color-bg-message-success;
    color: $color-text-message-success;

    @media screen and (min-width: $width_S) and (orientation: portrait),
      (min-height: 600px) and (orientation: landscape) {
      width: 100%;
      height: 48px;
      justify-content: center;
      align-items: center;
      display: flex;
      max-width: 230px;

      span {
        font-family: $font-medium;
        font-size: 13px;
        line-height: 1.2;
        margin-left: 10px;
      }

      svg path {
        fill: $color-text-message-success;
      }
    }
  }

  .closeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    padding: 15px;
    border: solid 1px $color-grey-dark;
    width: calc(100% - 30px);

    @media screen and (min-width: $width_S) and (orientation: portrait),
      (min-height: 600px) and (orientation: landscape) {
      display: none;
    }

    span {
      text-transform: uppercase;
      font-size: 14px;
      font-family: $font-bold;
      line-height: 1.29;
      color: $color-grey-dark;
    }
  }

  .cancelBtn {
    display: block;
    color: $color-grey-medium;
    margin-left: 15px;
    margin-right: 42px;
    font-size: 16px;

    @media screen and (min-width: $width_S) and (orientation: portrait),
      (min-height: 600px) and (orientation: landscape) {
      margin-right: 0;
      margin-left: 407px;
      color: $color-grey-dark;
      font-family: $font-bold;
      font-size: 13px;
    }

    span {
      font-family: $font-bold;
    }
  }

  .emailInputDesktop {
    display: none;
    position: absolute;
    top: 16px;
    left: 60px;

    @media screen and (min-width: $width_S) {
      display: flex;
    }

    .advice {
      font-size: 13px;
      line-height: 1.14;
      font-family: $font-bold;
      margin-bottom: 16px;
      position: absolute;
      top: -45px;
      left: 0;
    }

    .information {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      left: 0;
      top: -25px;
      min-width: 600px;

      .icon {
        margin-right: 6px;
      }

      .text {
        font-size: 12px;
        line-height: 1.33;
        color: $color-grey-dark;
      }
    }
  }
}

// fade transition
.fade-enter-active {
  transition: none;
}
.fade-leave-active {
  transition: opacity 500ms ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// appear transition
.appear-enter-active {
  transition: opacity 500ms ease-in-out;
}
.appear-leave-active {
  transition: none;
}
.appear-enter,
.appear-leave-to {
  opacity: 0;
}

.desktopEmailError {
  display: none;

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    display: block;
    margin-bottom: 15px;
    padding: 0 60px;
  }

  .inner {
    padding: 15px 0 16px 23px;
    font-size: 13px;
    line-height: 1.23;
    font-family: $font-bold;
    color: $color-tooltip-text-error;
    background-color: rgba($color-tooltip-text-error, 0.1);
    text-align: center;
  }
}
</style>
