<template>
  <div class="popup__mobile v-fade" v-show="isPopupActive">
    <div class="popup__mobile-header">
      <div class="popup__mobile-close" @click="triggerShowLoanParamsPopup"></div>
      <div class="popup__mobile-icon">
        <img src="@/assets/images/filter.svg" alt="Filtre" />
      </div>
      <div class="popup__mobile-title">
        {{ $t('simulation.LoanParametersMobile.titrePopup') }}
      </div>
    </div>
    <div class="popup__mobile-wrapper">
      <div class="popup__mobile-price">
        <div>{{ $t('simulation.LoanParametersMobile.montantAchat') }}</div>
        <div class="popup__mobile-count">
          {{ requiredAmount | currency({ symbol: '', fractionCount: 0 }) }}<span> {{ currencySymbol }}</span>
        </div>
      </div>
      <div class="popup__mobile-wrap">
        <div class="popup__mobile-preference" :class="{ 'popup__mobile-preference-disabled': timeline > 0 }">
          <div class="popup__mobile-subtitle" v-html="$t('simulation.LoanParametersMobile.mensualiteSouhaitee')"></div>
          <div
            :class="{ error: errorMonth }"
            v-html="
              $t('simulation.LoanParametersMobile.bornesMontant', {
                borneInferieure: monthlyPaymentOptions[0],
                borneSuperieure: monthlyPaymentOptions[monthlyPaymentOptions.length - 1],
                devise: currencySymbol
              })
            "
          ></div>
          <div class="popup__mobile-input">
            <input
              id="refundPeriod"
              type="number"
              placeholder="0"
              v-model="monthlyPayment"
              :disabled="timeline > 0"
              :class="{ error: errorMonth }"
              data-cy="m-inputMonthlyPayment"
            />
            <label for="refundPeriod" :class="{ error: errorMonth }">
              {{ currencySymbol }} {{ $t('simulation.LoanParametersMobile.parMois') }}
            </label>
          </div>
        </div>
        <div class="popup__mobile-or">{{ $t('simulation.LoanParametersMobile.ou') }}</div>
        <div class="popup__mobile-preference" :class="{ 'popup__mobile-preference-disabled': monthlyPayment > 0 }">
          <div class="popup__mobile-subtitle" v-html="$t('simulation.LoanParametersMobile.dureeSouhaitee')"></div>
          <div
            :class="{ error: errorPeriod }"
            v-html="
              $t('simulation.LoanParametersMobile.bornesDuree', {
                borneInferieure: timelineOptions[0],
                borneSuperieure: timelineOptions[timelineOptions.length - 1]
              })
            "
          ></div>
          <div class="popup__mobile-input">
            <input
              id="refundPeriod"
              type="number"
              placeholder="0"
              v-model="timeline"
              :disabled="monthlyPayment > 0"
              :class="{ error: errorPeriod }"
              data-cy="m-inputTimeline"
            />
            <label for="refundPeriod" :class="{ error: errorMonth }">
              {{ $t('simulation.LoanParametersMobile.mois') }}
            </label>
          </div>
        </div>
      </div>
      <div class="popup__mobile-buttons">
        <button @click="onSubmit" class="button-simulator" data-cy="m-applyFilter">
          {{ $t('simulation.LoanParametersMobile.appliquer') }}
        </button>
        <button @click="clearInputs" class="button-simulator-whitout-bg" data-cy="m-resetFilter">
          {{ $t('simulation.LoanParametersMobile.reinitialiser') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Config from '@/config/configSimulator';
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Mutation, State, Action } from 'vuex-class';
import { FilterCriterion, EFilterCriterionAttribute } from '@/models/simulator/tools/filterCriterion';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';

@Component({
  components: {}
})
export default class LoanParamsMobilePopup extends Vue {
  @State((state) => state.simulator.uiActiveStates.showLoanParamsPopup)
  private showLoanParamsPopup!: boolean;
  @State((state) => state.simulator.requiredAmount)
  private requiredAmount!: any;
  @State((state) => state.simulator.proposals)
  private proposals!: SimulationFinancialProposal[];
  @State((state) => state.simulator.proposalFilter)
  private proposalFilter!: FilterCriterion;
  @Action
  private triggerShowLoanParamsPopup!: () => void;
  @Action
  private applyProposalFilter!: (value: FilterCriterion) => void;
  @Mutation private updateShowOfferSelectorPopup!: (value: boolean) => void;

  private monthlyPaymentOptions: number[] = [];
  private timelineOptions: number[] = [];

  // Constants
  private readonly currencySymbol: string = Config.currency;
  // Input model binds
  private monthlyPayment: string = '';
  private timeline: string = '';
  // Error displays
  private errorMonth: boolean = false;
  private errorPeriod: boolean = false;
  // Input controllers
  private ignoreInputWatch: boolean = false;
  private timerMonthlyPayment: any;
  private timerTimeline: any;

  private get isPopupActive() {
    return this.showLoanParamsPopup && window.innerWidth <= 1280 ? true : false;
  }

  private created() {
    if (this.proposals) {
      this.initializeFiltersOptions();
    }
  }

  // TODO: factorize with LoanParameters
  private initializeFiltersOptions() {
    this.monthlyPaymentOptions = this.proposals
      .map((proposal) => Math.round(proposal.monthlyAmountWithoutInsurance))
      .sort((a, b) => a - b);
    this.timelineOptions = this.proposals
      .map((proposal) => {
        if (proposal.lastMonthlyAmountWithoutInsurance) {
          // Need to add 1 if there is a last adjusted monthly payment
          return Math.round(proposal.nbMonthlyPaymentWithoutInsurance) + 1;
        } else {
          return Math.round(proposal.nbMonthlyPaymentWithoutInsurance);
        }
      })
      .sort((a, b) => a - b);
  }

  private onSubmit() {
    this.clearErrors();
    if (this.monthlyPayment) {
      const intValue = Number(this.monthlyPayment);
      if (this.isValidInput(intValue, this.monthlyPaymentOptions)) {
        this.errorMonth = true;
      } else {
        this.updateMonthlyPayment(intValue);
        this.updateShowOfferSelectorPopup(true);
      }
    } else if (this.timeline) {
      const intValue = Number(this.timeline);
      if (this.isValidInput(intValue, this.timelineOptions)) {
        this.errorPeriod = true;
      } else {
        this.updateTimeline(intValue);
        this.updateShowOfferSelectorPopup(true);
      }
    }

    if (!this.errorPeriod && !this.errorMonth) {
      this.triggerShowLoanParamsPopup();
    }
  }

  /**
   * Update the monthly payment wished by customer
   */
  private updateMonthlyPayment(value: number) {
    this.applyProposalFilter({
      type: EFilterCriterionAttribute.MONTHLY_PAYMENT,
      value
    });
  }

  /**
   * Update the loan duration wished by customer
   */
  private updateTimeline(value: number) {
    this.applyProposalFilter({
      type: EFilterCriterionAttribute.TIMELINE,
      value
    });
  }

  private clearInputs() {
    this.timeline = '';
    this.monthlyPayment = '';
    this.clearErrors();
  }

  /**
   * Checks if user input is valid
   */
  private isValidInput(value: number, orderedOptions: number[]) {
    return Number.isNaN(value) || this.isOutOfBoundValue(value, orderedOptions);
  }

  /**
   * Checks if the user input is between available boundaries.
   */
  private isOutOfBoundValue(value: number, orderedOptions: number[]) {
    if (value < orderedOptions[0] || value > orderedOptions[orderedOptions.length - 1]) {
      return true;
    }
    return false;
  }

  private clearErrors() {
    this.errorPeriod = false;
    this.errorMonth = false;
  }

  @Watch('monthlyPayment')
  private onInputMonthlyPaymentChange(value: string) {
    if (this.ignoreInputWatch) {
      return;
    }
    this.errorMonth = false;
    const intValue = Number(value);
    this.errorMonth = this.isValidInput(intValue, this.monthlyPaymentOptions);
    if (intValue === 0) {
      this.clearErrors();
    }
  }

  @Watch('timeline')
  private onInputTimelineChange(value: string) {
    if (this.ignoreInputWatch) {
      return;
    }
    this.errorPeriod = false;
    const intValue = Number(value);
    this.errorPeriod = this.isValidInput(intValue, this.timelineOptions);
    if (intValue === 0) {
      this.clearErrors();
    }
  }

  @Watch('proposals')
  private onProposalsChange() {
    this.initializeFiltersOptions();
  }

  @Watch('proposalFilter')
  private onProposalFilterChange(filter: FilterCriterion) {
    if (filter) {
      if (filter.type === EFilterCriterionAttribute.TIMELINE) {
        this.timeline = `${filter.value}`;
      } else {
        this.monthlyPayment = `${filter.value}`;
      }
    } else {
      // Happens when there is a pre-selected offer and a new simulation is performed
      this.timeline = '';
      this.monthlyPayment = '';
    }
  }
}
</script>

<style lang="scss" scoped>
.popup__mobile {
  &-icon {
    img {
      margin: 5px 15px 0 0;
    }
  }

  &-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $color-partner-2;
    color: $color-white;
    font-family: $font-bold;
    line-height: 1.22;
  }

  &-count {
    font-family: $font-medium;
    font-size: 38px;

    span {
      font-size: 21px;
    }
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-preference {
    width: 100%;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.22;
    color: $color-grey-dark;
    font-family: $font-regular;
    font-size: 14px;

    @media screen and (min-width: $width_S) {
      height: 220px;
    }

    &:first-child {
      background-color: $color-bg-container;
    }

    ::v-deep span {
      color: $color-partner-2;
      padding-top: 20px;
    }
  }

  ::v-deep &-subtitle {
    padding-bottom: 5px;
    font-size: 18px;
    font-family: $font-bold;

    span {
      font-family: $font-bold;
    }
  }

  &-input {
    padding-bottom: 5px;
    font-size: 18px;
    font-family: $font-bold;
    margin-right: 80px;

    input {
      max-width: 100px;
      margin: 10px 5px 0 0;
      background: transparent;
      border: none;
      text-align: right;
      font-size: 32px;
      color: $color-partner-2;
      text-decoration: underline;
      outline: 0;

      &::placeholder {
        color: $color-partner-2;
        text-decoration: underline;
      }
    }
  }

  &-or {
    position: absolute;
    display: inline-block;
    padding: 5px 10px;
    font-family: $font-bold;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: $color-partner-2;
    color: $color-white;
  }

  &-buttons {
    max-width: 320px;
    margin: 0 auto 30px auto;
    padding: 0 30px;
    text-align: center;
    @media screen and (min-width: $width_S) {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }

    button {
      width: 100%;
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
  .error {
    color: $color-tooltip-text-error;
  }

  .popup__mobile-preference-disabled {
    color: $color-grey-medium;
    span,
    ::placeholder,
    label {
      color: $color-grey-medium;
    }
  }
}
</style>
