<template>
  <div class="popup__mobile v-fade" v-show="isPopupActive">
    <div class="popup__mobile-header">
      <div class="popup__mobile-close" @click="close"></div>
      <div class="popup__mobile-title">
        {{ $t('simulation.OfferSubmitMobile.titrePopup') }}
      </div>
      <div class="popup__mobile-menu__wrapper v-fade" v-show="showMenuMobile">
        <div class="popup__mobile-menu__option">
          <img :src="localImage(localThemePath, 'print.svg')" alt="print" />
          <a href="" target="_blank" download>{{ $t('simulation.OfferSubmitMobile.imprimer') }}</a>
        </div>
        <div class="popup__mobile-menu__option">
          <img :src="localImage(localThemePath, 'mail.svg')" alt="mail" />
          <a href="mailto:">{{ $t('simulation.OfferSubmitMobile.envoyer') }}</a>
        </div>
      </div>
    </div>
    <div class="popup__mobile-wrapper" v-if="isPopupActive">
      <div class="offer-details__result">
        <div class="offer-details__total">
          <div class="offer-details__icon">
            <img src="@/assets/images/checked.svg" alt="Check" />
          </div>
          <div class="offer-details__wrap">
            <div class="offer-details__price">
              <span class="big">{{
                selectedProposal.monthlyAmountWithoutInsurance | currency({ symbol: '', fractionCount: 2 })
              }}</span>
              {{ currencySymbol }}
              <span class="mounth">/ {{ $t('simulation.OfferSubmitMobile.mois') }}</span>
            </div>
          </div>
          <div class="offer-details__duration">
            {{ $t('simulation.OfferSubmitMobile.durant') }}
            <span>
              {{ selectedProposal.nbMonthlyPaymentWithoutInsurance }}
              {{ $t('simulation.OfferSubmitMobile.mois') }}
            </span>
          </div>
        </div>
      </div>
      <div class="offer-details__summary">
        <h3 class="offer-details__subtitle">
          {{
            $t('simulation.OfferSubmitMobile.sousTitreDetails', {
              date: selectedProposal.utilizationDate,
              jourEcheance: selectedProposal.dueDay
            })
          }}
        </h3>
        <ul class="offer-details__description">
          <li>
            <span>{{ $t('simulation.OfferSubmitMobile.montantEmprunteLabel') }}</span>
            <span>{{ selectedProposal.amount | currency({ fractionCount: 2 }) }}</span>
          </li>
          <li>
            <span>{{ $t('simulation.OfferSubmitMobile.dureeLabel') }}</span>
            <span
              >{{ selectedProposal.creditDurationWithoutInsurance }} {{ $t('simulation.OfferSubmitMobile.mois') }}</span
            >
          </li>
          <li>
            <span class="big">{{
              $t('simulation.OfferSubmitMobile.montantMensualiteLabel', {
                nbmensualite: selectedProposal.nbMonthlyPaymentWithoutInsurance
              })
            }}</span>
            <span class="big">{{ selectedProposal.monthlyAmountWithoutInsurance | currency }}</span>
          </li>
          <li v-if="selectedProposal.lastMonthlyAmountWithoutInsurance">
            <span class="big">{{ $t('simulation.OfferSubmitMobile.mensualiteAjustee') }}</span>
            <span class="big">{{ selectedProposal.lastMonthlyAmountWithoutInsurance | currency }}</span>
          </li>
          <li>
            <div class="text-container">
              <span class="big">{{ $t('simulation.OfferSubmitMobile.montantTotalLabel') }}</span>
              <span class="small" v-if="isDelayedOffer">{{
                $t('simulation.OfferSubmitMobile.interetsReportInclus')
              }}</span>
            </div>
            <span class="big">{{ selectedProposal.totalAmountWithoutInsurance | currency({ fractionCount: 2 }) }}</span>
          </li>
          <li>
            <span class="big">{{
              selectedProposal.fixedRate
                ? $t('simulation.OfferSubmitMobile.taegLabelFixe')
                : $t('simulation.OfferSubmitMobile.taegLabelRevisable')
            }}</span>
            <span class="big">{{
              selectedProposal.taeg
                | currency({
                  fractionCount: 3,
                  symbol: '%'
                })
            }}</span>
          </li>
          <li>
            <span>{{
              selectedProposal.fixedRate
                ? $t('simulation.OfferSubmitMobile.tauxDebiteurFixeLabel')
                : $t('simulation.OfferSubmitMobile.tauxDebiteurRevisableLabel')
            }}</span>
            <span class="big">{{
              selectedProposal.debitRate
                | currency({
                  fractionCount: 3,
                  symbol: '%'
                })
            }}</span>
          </li>
          <li>
            <span>{{ $t('simulation.OfferSubmitMobile.nombreMensualiteLabel') }}</span>
            <span>{{
              $t('simulation.OfferSubmitMobile.nombreMensualiteValeur', {
                nbmois: selectedProposal.lastMonthlyAmountWithoutInsurance
                  ? selectedProposal.nbMonthlyPaymentWithoutInsurance + 1
                  : selectedProposal.nbMonthlyPaymentWithoutInsurance
              })
            }}</span>
          </li>
          <li>
            <span>{{ $t('simulation.OfferSubmitMobile.coutMensuelAssuranceLabel') }}</span>
            <span>{{ selectedProposal.monthlyInsuranceAmount | currency }}</span>
          </li>
          <li>
            <span>{{
              $t('simulation.OfferSubmitMobile.montantMensualiteAssuranceLabel', {
                nbmensualite: selectedProposal.nbMonthlyPaymentWithInsurance
              })
            }}</span>
            <span>{{ selectedProposal.monthlyAmountWithInsurance | currency }}</span>
          </li>
          <li v-if="selectedProposal.lastMonthlyAmountWithInsurance">
            <span>{{ $t('simulation.OfferSubmitMobile.mensualiteAjusteeAssurance') }}</span>
            <span>{{ selectedProposal.lastMonthlyAmountWithInsurance | currency }}</span>
          </li>
          <li>
            <span>{{ $t('simulation.OfferSubmitMobile.dureeAssuranceLabel') }}</span>
            <span>{{
              $t('simulation.OfferSubmitMobile.nombreMensualiteValeur', {
                nbmois: selectedProposal.creditDurationWithInsurance
              })
            }}</span>
          </li>
          <li>
            <span>{{ $t('simulation.OfferSubmitMobile.taeaLabel') }}</span>
            <span>{{
              selectedProposal.taea
                | currency({
                  fractionCount: 3,
                  symbol: '%'
                })
            }}</span>
          </li>
          <li>
            <span>{{ $t('simulation.OfferSubmitMobile.montantTotalAssurance') }}</span>
            <span>{{ selectedProposal.totalInsuranceCost | currency }}</span>
          </li>
          <li>
            <span>{{ $t('simulation.OfferSubmitMobile.montantTotalAvecAssuranceLabel') }}</span>
            <span>{{ selectedProposal.totalAmountWithInsurance | currency }}</span>
          </li>
        </ul>
      </div>
      <button v-if="subscriptionEnabled" class="button-simulator" @click="goToSubscription" data-cy="m-submitOffer">
        {{ $t('simulation.OfferSubmitMobile.validerOffre') }}
      </button>
      <div v-if="isDelayedOffer" class="offer-details__informations">
        <p>
          {{
            $t('simulation.OfferSubmitMobile.mentionReport', {
              nbMois: selectedProposal.deferralMonthNumber
            })
          }}
        </p>
      </div>
      <div class="offer-details__informations">
        <p>
          {{ $t('simulation.OfferSubmitMobile.mentionAssurance') }}
        </p>
      </div>

      <a href="#" class="offer-details__receive-info" @click="showPreContractModal">
        {{ $t('simulation.OfferSubmitMobile.recevoirInfosContractuelles') }}
      </a>
      <!-- To keep as example text could be shown again in a near future
        <div class="offer-details__example">
        <h3 class="offer-details__example-title">
          {{ $t('simulation.OfferSubmitMobile.titreExemple') }}
        </h3>
        <offer-details-example-text :selectedProposal="selectedProposal"></offer-details-example-text>
      </div> -->
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Mutation, State, Action } from 'vuex-class';
import Config from '@/config/configSimulator';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
// import OfferDetailsExampleText from '@/components/simulator/simulator-bottom-info/OfferDetailsExampleText.vue';
import { getTagManagerInstance } from '@/services/tagManagerFactory';
import { BusinessRule } from '@/services/BusinessRule';

/**
 * OfferSubmitMobile
 *
 * Display a summary inside a popup (mobile only) about the selected
 * SimulationFinancialProposal. If no proposal is selected, then this panel
 * is empty and the submit button is disabled.
 */
@Component({
  components: {
    // 'offer-details-example-text': OfferDetailsExampleText
  }
})
export default class OfferSubmitMobile extends Vue {
  @Prop() private goNext: () => {};
  @State((state) => state.simulator.selectedProposal)
  private selectedProposal!: SimulationFinancialProposal | null;
  @State((state) => state.simulator.uiActiveStates.showOfferSubmitPopup)
  private showOfferSubmitPopup!: boolean;
  @Mutation
  private updateSelectedProposal!: (value: SimulationFinancialProposal | null) => void;
  @Mutation
  private updateShowOfferSubmitPopup!: (value: boolean) => void;
  @Action
  private triggerPreContractPopup!: () => void;

  private showMenuMobile: boolean = false;
  private readonly currencySymbol: string = Config.currency;

  private tagManagerService = getTagManagerInstance();

  private goToSubscription() {
    this.tagManagerService.selectProduct();
    this.goNext();
  }

  private get subscriptionEnabled() {
    return Config.chainWithSubscription;
  }

  private get isPopupActive() {
    return this.selectedProposal && window.innerWidth <= 1280 && this.showOfferSubmitPopup;
  }
  private get isDelayedOffer() {
    return BusinessRule.showReportInformations(this.selectedProposal);
  }

  private close() {
    this.updateSelectedProposal(null);
    this.updateShowOfferSubmitPopup(false);
  }

  private toggleMenuMobile() {
    this.showMenuMobile = !this.showMenuMobile;
  }

  private showPreContractModal() {
    this.tagManagerService.preContractClick();
    this.triggerPreContractPopup();
  }
}
</script>

<style scoped lang="scss">
.offer-details {
  &__result {
    padding: 10px 20px;
    background-color: $color-partner-2;
  }

  &__total {
    font-size: 14px;
    background-color: rgba($color-bg-content, 0.3);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: $max-width-tablet;
    margin: 0 auto;

    @media screen and (min-width: $width_S) {
      justify-content: center;
    }

    @media screen and (min-width: $width_XXS) {
      background-color: transparent;
    }
  }

  &__icon {
    margin-right: auto;
    margin-left: 20px;
    padding-top: 5px;
  }

  &__price {
    padding: 0 20px 0 10px;
    color: $color-white;
    font-size: 20px;
    font-family: $font-medium;
    white-space: nowrap;

    @media screen and (min-width: $width_S) {
      margin-right: 20px;
    }

    span {
      &.big {
        font-size: 38px;

        @media screen and (min-width: $width_XXS) {
          font-size: 30px;
        }
      }

      &.mounth {
        font-size: 14px;
      }
    }
  }

  &__duration {
    font-family: $font-regular;
    font-size: 14px;
    color: rgba($color-white, 0.6);
    border-left: 1px solid;
    margin-right: auto;
    padding: 0 35px 0 20px;

    span {
      font-family: $font-bold;
      font-size: 16px;
      color: $color-white;
      display: block;
    }
  }

  &__summary {
    max-width: $max-width-tablet;
    margin: 0 auto;
  }

  &__subtitle {
    padding: 30px 0 20px;
    font-family: $font-bold;
    font-size: 16px;
    text-align: center;
  }

  &__description {
    li {
      min-height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: $color-bg-container;

      &:nth-child(2n) {
        background-color: $color-white;
      }

      span {
        max-width: 65%;
        font-family: $font-regular;
        font-size: 14px;
        color: $color-grey-dark;
        line-height: 1;

        &.big {
          font-size: 18px;
        }

        &:nth-child(2) {
          color: $color-black;
        }
      }

      .text-container {
        display: flex;
        flex-direction: column;
        max-width: 80%;

        span {
          max-width: 100%;
        }

        .small {
          color: $color-grey-dark;
          margin-top: 2px;
          font-size: 11px;
        }
      }
    }
  }

  &__informations {
    margin: 15px 20px;

    p {
      font-size: 14px;
      color: $color-grey-dark;
    }
  }

  &__receive-info {
    display: block;
    margin-top: 30px;
    margin-bottom: 90px; // Needed to view pre-contract info CTA (needed since example text is hidden)
    padding-bottom: 25px;
    text-align: center;
    color: $color-grey-dark;
    text-decoration: underline;
    font-family: $font-bold;
    font-size: 14px;
  }

  &__example {
    padding: 30px 30px 90px 30px;
    text-align: center;
    background-color: $color-bg-container;
    font-size: 14px;
    text-align: center;
    color: $color-grey-dark;
    background-color: $color-bg-container;

    &-title {
      margin-bottom: 10px;
      font-size: 16px;
      font-family: $font-bold;
    }
  }
}

.popup__mobile {
  &-CTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 190px;
    position: absolute;
    right: 0;
    top: 64px;
    background: $color-white;
    box-shadow: 0 2px 13px -2px rgba(0, 0, 0, 0.23);
    z-index: 20;
  }

  &-option {
    display: flex;
    padding: 20px;

    &:first-child {
      border-bottom: 1px solid $color-grey-regular;
    }

    img {
      margin-right: 10px;
    }
  }

  &-wrapper {
    .button-simulator {
      width: 260px;
      max-width: 330px;
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);

      @media screen and (min-width: $width_S) {
        position: initial;
        transform: none;
        margin: 30px auto 50px;
      }
    }
  }
}
</style>
