<template>
  <div class="popup__mobile v-fade" v-show="isPopupActive">
    <div class="popup__mobile-header">
      <div class="popup__mobile-back" @click="close" data-cy="m-closeResultsPopup"></div>
      <div class="popup__mobile-title">
        {{ $t('simulation.OfferSelectorMobile.titrePopup') }}
      </div>
    </div>
    <div class="popup__mobile-wrapper">
      <offer-card-list data-cy="m-offerCardList" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, Mutation, State } from 'vuex-class';
import { FilterCriterion } from '@/models/simulator/tools/filterCriterion';
import OfferCardList from '@/components/simulator/simulator-content/offers/OfferCardList.vue';

/**
 * OfferSelectorMobile
 *
 * Display popup (mobile only) for the user to select a SimulatorFinancialProposal.
 * Proposal selection is handled by OfferCardList component.
 */
@Component({
  components: {
    'offer-card-list': OfferCardList
  }
})
export default class OfferSelectorMobile extends Vue {
  @State((state) => state.simulator.proposalFilter)
  private proposalFilter!: FilterCriterion;
  @State((state) => state.simulator.uiActiveStates.showOfferSelectorPopup)
  private showOfferSelectorPopup!: boolean;
  @Action private clearProposalFilter!: () => void;
  @Mutation private updateShowOfferSubmitPopup!: (value: boolean) => void;

  private get isPopupActive() {
    return window.innerWidth <= 1280 && this.proposalFilter && this.showOfferSelectorPopup;
  }

  private close() {
    this.clearProposalFilter();
    this.updateShowOfferSubmitPopup(false);
  }
}
</script>

<style scoped lang="scss">
.popup__mobile-wrapper {
  background-color: $color-bg-container;
  padding: 25px $padding-mobile;
}
</style>
