body {
  margin: 0;
  padding: 0;
  font-family: 'Sarabun-Book', sans-serif;
}

@font-face {
  font-family: 'Sarabun-Book';
  src: url('/fonts/subset-Sarabun-Regular.woff2') format('woff2'),
    url('/fonts/subset-Sarabun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-Bold';
  src: url('/fonts/subset-Sarabun-Bold.woff2') format('woff2'), url('/fonts/subset-Sarabun-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.errorPage {
  position: relative;
  background-color: #f6f6f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.errorPage .title {
  margin: 40px 65px 60px;
  font-size: 20px;
  line-height: 1.4;
  color: #333333;
  font-family: 'Sarabun-Bold', sans-serif;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .errorPage .title {
    margin: 96px 0 45px;
  }
}
.errorPage .bloc {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: #fff;
  padding: 30px 15px;
  max-width: 490px;
}
@media screen and (min-width: 768px) {
  .errorPage .bloc {
    margin: 0;
    position: relative;
    padding: 30px 45px;
  }
}
.errorPage .bloc .line1,
.errorPage .bloc .line2 {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  text-align: center;
  margin-bottom: 25px;
}
.errorPage .bloc .leftBulb {
  position: absolute;
  top: 10px;
  left: 10px;
}
@media screen and (min-width: 768px) {
  .errorPage .bloc .leftBulb {
    display: block;
    top: -91px;
    left: -34px;
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 992px) {
  .errorPage .bloc .leftBulb {
    left: -34px;
  }
}
@media screen and (min-width: 1280px) {
  .errorPage .bloc .leftBulb {
    left: -84px;
  }
}
.errorPage .bloc .leftBulb img {
  width: 50px;
}
@media screen and (min-width: 768px) {
  .errorPage .bloc .leftBulb img {
    width: 80px;
  }
}
@media screen and (min-width: 992px) {
  .errorPage .bloc .leftBulb img {
    width: initial;
  }
}
.errorPage .bloc .rightBulb {
  position: absolute;
  top: 85px;
  right: 5px;
}
@media screen and (min-width: 768px) {
  .errorPage .bloc .rightBulb {
    top: -113px;
    right: -66px;
    transform: translateX(100%);
  }
}
@media screen and (min-width: 768px) {
  .errorPage .bloc .rightBulb {
    right: -36px;
  }
}
@media screen and (min-width: 992px) {
  .errorPage .bloc .rightBulb {
    right: -86px;
  }
}
.errorPage .bloc .rightBulb img {
  width: 50px;
}
@media screen and (min-width: 768px) {
  .errorPage .bloc .rightBulb img {
    width: 80px;
  }
}
@media screen and (min-width: 992px) {
  .errorPage .bloc .rightBulb img {
    width: initial;
  }
}
.errorPage .imageBottom {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-image: url('/images/collines.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
