@font-face {
  font-family: 'Sarabun-Book';
  src: url('/fonts/subset-Sarabun-Regular.woff2') format('woff2'),
    url('/fonts/subset-Sarabun-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Sarabun-Bold';
  src: url('/fonts/subset-Sarabun-Bold.woff2') format('woff2'), url('/fonts/subset-Sarabun-Bold.woff') format('woff');
}

@keyframes loader-1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes loader-2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-3 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(-16px, 0, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes loader-4 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }

  50% {
    transform: translate3d(16px, 0, 0) scale(0.5);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  outline: 0;
}

#app .app-loader {
  font-family: 'Sarabun-Book';
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: #ffffff;
}

@media screen and (min-width: 480px) {
  #app .app-loader {
    background: #f6f7f7;
  }
}

#app .app-loader .wrapper {
  padding: 0px 10px;
}

#app .app-loader .wrapper .center-block {
  z-index: 1;
  background-color: #fff;
  padding: 40px 20px;
}

@media screen and (min-width: 480px) {
  #app .app-loader .wrapper .center-block {
    min-width: 464px;
    min-height: 160px;
  }
}

#app .app-loader .wrapper .center-block .message {
  margin-top: 30px;
  font-size: 14px;
  line-height: 25px;
  color: #444;
  text-align: center;
}

#app .app-loader .wrapper .center-block .message p {
  margin: 0;
}

#app .app-loader .wrapper .center-block .message strong {
  font-family: 'Sarabun-Bold';
}

#app .app-loader .wrapper .center-block .loader-content {
  display: block;
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  height: 32px;
  width: 32px;
}

#app .app-loader .wrapper .center-block .loader-content .after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  background-color: #1aaeb7;
  border-radius: 50%;
  animation: loader-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

#app .app-loader .wrapper .center-block .loader-content span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  animation: loader-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

#app .app-loader .wrapper .center-block .loader-content span .spanBefore,
.loader-content span .spanAfter {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 12px;
  width: 12px;
  background-color: #1aaeb7;
  border-radius: 50%;
  animation: loader-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
#app .app-loader .wrapper .center-block .loader-content span .spanAfter {
  animation: loader-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
