<template>
  <section>
    <div class="accordion" :class="{ warning }" :id="id">
      <div class="accordion-list" v-for="(itemList, index) in accordionDataList" :key="index">
        <h2 class="accordion-title" :class="{ show: forceShowTitle }">
          {{ itemList.title }}
        </h2>
        <ul>
          <li
            v-for="(item, index) in itemList.accordionData"
            class="accordion-item"
            :key="index"
            :class="{ 'init-open': index === 0 && isTogglable(item) }"
          >
            <div
              class="header"
              @click="toggleItem($event, item)"
              :style="{ cursor: isTogglable(item) ? 'pointer' : 'auto' }"
            >
              <img class="item-icon" :src="item.imgUrl" alt />
              <div class="item-title" v-if="item.title">{{ item.title }}</div>
              <div
                class="item-title regular"
                v-if="hasDescriptionAsTitle(item) && item.descriptionHtml"
                v-html="item.descriptionHtml"
              />
              <div class="item-title" v-if="hasDescriptionAsTitle(item) && item.descriptionText">
                {{ item.descriptionText }}
              </div>
              <div v-if="hasDescription(item)" alt="chevron" class="arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="20"
                  height="20"
                >
                  <defs><path id="a" d="M15 15H4a1 1 0 000 2h13V4a1 1 0 00-2 0v11z" /></defs>
                  <g fill="none" fill-rule="evenodd" transform="matrix(1 0 0 -1 0 16)">
                    <mask id="b" fill="#fff"><use xlink:href="#a" /></mask>
                    <use
                      fill="#1AAEB7"
                      fill-rule="nonzero"
                      transform="scale(1 -1) rotate(45 34.14 0)"
                      xlink:href="#a"
                    />
                  </g>
                </svg>
              </div>
            </div>
            <p
              class="content"
              :class="{ 'init-open': index === 0 }"
              v-if="hasDescription(item) && item.descriptionHtml"
              v-html="item.descriptionHtml"
            ></p>
            <p
              class="content"
              :class="{ 'init-open': index === 0 }"
              v-if="hasDescription(item) && item.descriptionText"
            >
              {{ item.descriptionText }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import AccordionData, { AccordionDataList } from '@/models/AccordionData';

@Component({})
export default class Accordion extends Vue {
  @Prop({ default: 'accordion' }) public id!: string;
  @Prop({ default: null }) public title!: string;
  @Prop({ default: false }) public forceShowTitle: boolean;
  @Prop({ default: () => ({}) }) public colors!: Colors;
  @Prop({ default: () => [] }) public data!: AccordionData[];
  @Prop({ default: null }) public dataList: AccordionDataList[];
  @Prop({ default: false }) public warning: boolean;

  /**
   * The accordion can be initialized with a list of AccordionData or a list of AccordionDataList.
   *
   * For example, if the Accordion is initialized with a list of 2 items in the accordionDataList, the result will be as follows:
   * - Title 1 (-> corresponding to an item of the AccordionDataList object list)
   *   - Accordion title 1
   *       # Accordion image / description 1
   *   - Accordion title 2
   *       # Accordion image / description 2
   *
   * - Title 2
   *   - Accordion title 1
   *      # Accordion image / description 1
   *   - Accordion title 2
   *      # Accordion image / description 2
   *
   * For example, if the Accordion is initialized with a list of AccordionData, the result will be as follows:
   * - Title 1
   *   - Accordion title 1 (-> corresponding to an item of the AccordionData object list)
   *       # Accordion image / description 1
   *   - Accordion title 2
   *       # Accordion image / description 2
   */
  public get accordionDataList(): AccordionDataList[] {
    if (this.dataList === null) {
      return [
        {
          title: this.title,
          accordionData: this.data
        }
      ];
    } else {
      return this.dataList;
    }
  }

  public toggleItem(event: Event, item: AccordionData) {
    if (this.isTogglable(item)) {
      const initOpenItem = document.querySelector(`#${this.id} .accordion-item.init-open`);
      const itemCurrent = (event.currentTarget as HTMLElement).parentNode;
      const itemCurrentIsOpen = (itemCurrent as HTMLElement).classList.contains('open');
      const itemOpen = document.querySelector(`#${this.id} .accordion-item.open`);

      if (initOpenItem) {
        const content = (initOpenItem as HTMLElement).querySelector('.content');
        (content as HTMLElement).style.height = (content as HTMLElement).scrollHeight + 'px';

        if (initOpenItem === itemCurrent) {
          (initOpenItem as HTMLElement).classList.remove('init-open');
          (content as HTMLElement).classList.remove('init-open');
          setTimeout(() => ((content as HTMLElement).style.height = '0px'), 0);
          return;
        } else {
          (initOpenItem as HTMLElement).classList.remove('init-open');
          (content as HTMLElement).classList.remove('init-open');
          setTimeout(() => ((content as HTMLElement).style.height = '0px'), 0);
        }
      }

      if (itemOpen) {
        const content = (itemOpen as HTMLElement).querySelector('.content');

        (itemOpen as HTMLElement).classList.remove('open');
        (content as HTMLElement).style.height = '0px';
      }

      if (!itemCurrentIsOpen) {
        const content = (itemCurrent as HTMLElement).querySelector('.content');

        setTimeout(
          () => {
            (itemCurrent as HTMLElement).classList.add('open');
            (content as HTMLElement).style.height = (content as HTMLElement).scrollHeight + 'px';
          },
          itemOpen || initOpenItem ? 300 : 0
        );
      }
    }
  }

  public isTogglable(item: AccordionData) {
    return this.hasDescription(item);
  }

  public hasDescriptionAsTitle(item: AccordionData): boolean {
    const hasNotEmptyTitle = !item.title || !(item.title && item.title.trim());
    const hasDescription = item.descriptionHtml || item.descriptionText;
    return !!(hasNotEmptyTitle && hasDescription);
  }

  public hasDescription(item: AccordionData): boolean {
    return !!(!this.hasDescriptionAsTitle(item) && (item.descriptionHtml || item.descriptionText));
  }
}
</script>

<style lang="scss" scoped>
.accordion {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 0;
  width: 100%;
  padding: 20px 20px 80px;
  overflow: auto;
  height: 100%;
  background-color: var(--color-partner-2-02);

  &-list {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  &.warning {
    background-color: $color-light-orange;
  }

  @media screen and (min-width: $width_S) {
    position: relative;
    top: 0;
    padding: 25px 15px;
  }

  @media screen and (min-width: $width_L) {
    padding: 20px 30px 20px 20px;
    height: 100%;
  }

  &-title {
    font-size: 16px;
    font-family: $font-bold;
    line-height: 21px;
    color: $color-dark-light;
    text-align: left;
    margin-bottom: 10px;

    @media screen and (max-width: $width_S) {
      &:not(.show) {
        display: none;
      }
    }
  }

  &-item {
    border-radius: 2px;
    background-color: $color-white;
    margin-bottom: 10px;

    @media screen and (max-width: $width_S) {
      padding: 0;
    }

    &.init-open {
      .header {
        .arrow {
          transform: rotate(180deg);
        }

        .content {
          padding-bottom: 10px;
        }
      }
    }

    &.open {
      .header {
        padding-bottom: 20px;

        .arrow {
          transform: rotate(180deg);
        }
      }

      .content {
        padding-bottom: 10px;
      }
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      padding: 15px;
      cursor: pointer;
      transition: padding 0.2s linear;
      @media screen and (max-width: $width_L) {
        padding: 10px;
      }

      @media screen and (max-width: $width_S) {
        padding: 15px;
      }

      .item-title {
        font-size: 13px;
        line-height: 17px;
        text-align: left;
        color: $color-black;
        padding-right: 20px;
        font-family: $font-bold;

        &.regular {
          font-family: $font-regular;
        }

        ::v-deep sup {
          vertical-align: top;
          position: relative;
          top: -4px;
          font-size: 10px;
        }
      }

      .item-icon {
        width: 44px;
        margin-right: 10px;
      }

      .arrow {
        margin-left: auto;
        height: 16px;
        width: 20px;
        transition: transform 0.25s ease-in-out;
        transform: rotate(0);
      }
    }

    .content {
      font-size: 13px;
      line-height: 17px;
      color: $color-grey-black;
      padding: 0 10px;
      text-align: left;
      overflow: hidden;
      transition: height 0.25s ease-in-out;
      height: 0;

      &.init-open {
        height: auto;
        padding-bottom: 10px;
      }
    }
  }
}

svg g use {
  fill: $color-title;
}
</style>
