<template>
  <section class="subscriptionStepContainer">
    <div class="contentContainer">
      <form :class="{ 'display-error': showValidationErrors }" novalidate @submit.prevent>
        <div class="buttonContainer" :class="{ single: stepState.noReturn }">
          <app-button
            v-if="!stepState.noReturn"
            data-cy="previous"
            type="button"
            :label="previousLabel"
            :isBackButton="true"
            :onClick="previous"
            :colors="colors"
          />
          <app-button
            data-cy="next"
            type="button"
            :label="dynamicNextLabel"
            :onClick="next"
            :colors="colors"
            :loading="isLoadingNextStep"
          />
          <app-button
            v-if="showGoBackToSummaryStepBtn"
            class="mb-15"
            type="button"
            noBackground="true"
            :label="$t('commun.ctaRecapitulatif')"
            :onClick="navigateToSummaryStep"
            :colors="colors"
          />
        </div>
        <slot name="outsideContent" />
        <div
          id="subscriptionStepContent"
          class="content"
          :class="{ animation: animation, 'slide-left': slideLeft, 'slide-right': slideRight }"
        >
          <div id="principalContainer">
            <h1 class="title" :class="{ hasSubTitle: !!subTitle }">{{ title }}</h1>
            <div class="subtitle" v-if="subTitle">{{ subTitle }}</div>
            <div class="principal">
              <div
                @click="handleTabClick(true)"
                v-if="hasBorrower"
                class="borrowerTitle accessible"
                :class="{ active: showBorrowerT1 }"
              >
                {{ $t('commun.vous') }}
                <div
                  v-if="showBorrowerT2 && !openBoth"
                  class="action"
                  :class="{ completed: getValidationStatus(stepState.pathId, true) }"
                  :style="{
                    color: onHoverPrincipal ? '#fff' : '#4b4fb3',
                    borderColor: '#4b4fb3',
                    backgroundColor: onHoverPrincipal ? '#4b4fb3' : '#fff'
                  }"
                  @mouseenter="onHoverPrincipal = true"
                  @mouseleave="onHoverPrincipal = false"
                >
                  {{ getValidationStatus(stepState.pathId, true) ? $t('commun.modifier') : $t('commun.aCompleter') }}
                </div>
                <div class="bandWrapper">
                  <div class="band"></div>
                </div>
              </div>
              <div
                class="borrowerContent"
                :class="{ show: showBorrowerT1 || !hasBorrower }"
                :style="{ height: heightT1 }"
                ref="borrowerT1"
              >
                <slot name="principal" />
              </div>
            </div>
          </div>
          <slot name="middle" />
          <div v-if="hasBorrower || showBorrower" class="secondary">
            <div
              @click="handleTabClick(false)"
              class="borrowerTitle"
              :class="{
                active: getValidationStatus(stepState.pathId, true) && showBorrowerT2,
                accessible: getValidationStatus(stepState.pathId, true),
                disabled: !getValidationStatus(stepState.pathId, true)
              }"
              :style="{ color: getValidationStatus(stepState.pathId, true) ? '#4b4fb3' : '#888' }"
            >
              {{ $t('commun.votreConjoint') }}
              <div
                v-if="showBorrowerT1 && !openBoth"
                class="action"
                :class="{ disabled: !getValidationStatus(stepState.pathId, true), hover: onHoverSecondary }"
                @mouseenter="onHoverSecondary = true"
                @mouseleave="onHoverSecondary = false"
              >
                {{ getValidationStatus(stepState.pathId, false) ? $t('commun.modifier') : $t('commun.aCompleter') }}
              </div>
              <div class="bandWrapper">
                <div class="band" :class="{ disabled: !getValidationStatus(stepState.pathId, true) }"></div>
                <div
                  class="coloredBand"
                  :style="{
                    width: getValidationStatus(stepState.pathId, true) ? '100%' : '0%'
                  }"
                ></div>
              </div>
            </div>
            <div
              class="borrowerContent"
              :class="{ show: showBorrowerT2 || (hasBorrower && showBorrower) }"
              :style="{ height: heightT2 }"
              ref="borrowerT2"
            >
              <slot name="secondary" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import Button from '@/components/graphic/Button.vue';
import { Colors } from '@/models/Colors';
import { Action, Getter, Mutation, State } from 'vuex-class';
import { StepState } from '@/models/StepState';
import { BusinessRule } from '@/services/BusinessRule';
import { EligibilityPayload, SubscriptionPayload, T1Payload } from '@/models/subscription/SubscriptionPayload';
import { Insurance } from '@/models/subscription/Insurance';
import SimulationApi from '@/services/SimulationApi';
import { convertDate } from '@/utils/strings';
import { SimulatorState } from '@/store/types';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { InsuranceFormState } from '@/models/subscription/FormState';
import { RoutePathId } from '@/models/RoutesPath';
import { VisibleMutationPayload } from '@/models/subscription/VisibleMutationPayload';
import { RouteStates } from '@/models/subscription/RouteState';
import { easeInOutQuad } from '@/utils/animations';
import { SimulationV1Parameter } from '@/models/Simulation';
import { InsuranceCodeByType, InsuranceV2Type } from '@/models/subscription/InsuranceV2';
import { Employment } from '@/models/subscription/Employment';

@Component({
  components: {
    'app-button': Button
  }
})
export default class SubscriptionStep extends Vue {
  @Prop() private title!: string;
  @Prop() private subTitle!: string;
  @Prop() private nextLabel!: string;
  @Prop() private previousLabel!: string;
  @Prop() private hasBorrower!: boolean;
  @Prop() private stepState!: StepState;
  @Prop({ default: null }) private secondaryStepState!: StepState | null;
  @Prop({ default: null }) private setValidationError!: (validationError: boolean) => void;
  @Prop({ default: false }) private openBoth!: boolean;
  @Prop({ default: false }) private onloading!: (loading: boolean) => void;
  @Prop({ default: false }) private isLoadingNextStep!: boolean;

  @State((state) => state.subscription.principal.civility.birthDate) private birthDate!: string;
  @State((state) => state.subscription.secondary.civility.birthDate) private birthDateT2!: string;
  @State((state) => state.apiConfig.colors) private colors!: Colors;
  @State((state) => state.client.isMobile) private isMobile!: boolean;
  @State((state) => state.subscription.principal.insurance) private insurance!: Insurance;
  @State((state) => state.subscription.formStates.insurance) private insuranceForm: InsuranceFormState;
  @State((state) => state.simulator) private simulator!: SimulatorState;
  @State((state) => state.subscription.routeStates) private routeStates!: RouteStates;
  @State((state) => state.subscription.restoringCard) private restoringCard!: boolean;
  @State((state) => state.apiConfig.partnerCode) private partnerCode!: string;
  @State((state) => state.subscription.principal.employment) private t1Employment: Employment;
  @State((state) => state.subscription.secondary.employment) private t2Employment: Employment;

  @Getter private getValidationStatus!: (formName: string, isPrincipal?: boolean) => boolean;
  @Getter private getT1IsActive!: (pathId: string) => boolean;
  @Getter private getStep!: (pathId: string) => any;
  @Getter private isCreditForTwo!: boolean;
  @Getter private isVersionSimulationApiIn!: (version: number) => boolean;
  @Getter private getCreditType!: string;

  @Action('setT1IsActive') private setT1IsActive!: (payload: T1Payload) => void;
  @Action('setSubscriptionData') private setSubscriptionData!: (payload: SubscriptionPayload) => void;
  @Action('updateProposals') private updateProposals!: (proposals: SimulationFinancialProposal[]) => void;
  @Action private setInsuranceEligibility!: (eligibilityPayload: EligibilityPayload) => void;

  @Mutation private updateVisibleRoute!: (payload: VisibleMutationPayload) => void;
  @Mutation private setInsuranceFormVersion!: (version: 'v1' | 'v2') => void;
  @Mutation private updateRecommendedProposal: (recommendedProposal: SimulationFinancialProposal) => void;
  @Mutation private updateAlternativeProposal: (alternative: SimulationFinancialProposal) => void;

  private animation: boolean = false;
  private slideLeft: boolean = false;
  private slideRight: boolean = false;
  private showBorrower = false;
  private showValidationErrors: boolean = false;

  private onHoverPrincipal: boolean = false;
  private onHoverSecondary: boolean = false;

  private heightT1: string = '0px';
  private heightT2: string = '0px';
  private showBorrowerT1: boolean = false;
  private showBorrowerT2: boolean = false;

  // timeout ids to be able to cancel them if necessary
  private t1timeout1: any = null;
  private t1timeout2: any = null;
  private t2timeout1: any = null;
  private t2timeout2: any = null;

  private businessRules = new BusinessRule();
  private nextStep: StepState = null;

  private async created() {
    this.nextStep = await this.getNextStep();
  }
  private mounted() {
    this.manageBrowserBackHistory();
    this.showBorrower = this.hasBorrower && this.openBoth;
    if (this.hasBorrower) {
      this.getHeightBorrower();
      if (this.openBoth) {
        this.openBorrower(false);
      }
    } else {
      this.heightT1 = 'auto';
    }
  }

  @Watch('hasBorrower')
  private onHasBorrower() {
    setTimeout(
      () => {
        this.showBorrower = this.hasBorrower;
      },
      this.hasBorrower ? 300 : 0
    );
    if (this.hasBorrower) {
      this.getHeightBorrower();
      if (this.openBoth) {
        this.openBorrower(true);
      }
    } else {
      this.heightT1 = 'auto';
      if (this.openBoth) {
        this.closeBorrower();
      }
    }
  }

  private getT2HeaderStyles() {
    return this.getValidationStatus(this.stepState.pathId, true)
      ? {
          color: this.onHoverSecondary ? '#fff' : '#4b4fb3',
          borderColor: '#4b4fb3',
          backgroundColor: this.onHoverSecondary ? '#4b4fb3' : '#fff'
        }
      : {
          color: '#888',
          borderColor: '#ccc',
          backgroundColor: '#fff'
        };
  }

  private handleTabClick(isPrincipal: boolean) {
    // If openBoth then do nothing
    if (this.openBoth) {
      return;
    }

    if (!isPrincipal && !this.getValidationStatus(this.stepState.pathId, true)) {
      // if t1 is not valid then t2 is not accessible
      return;
    }

    if (isPrincipal) {
      this.onHoverPrincipal = false;
    } else {
      this.onHoverSecondary = false;
    }

    this.setT1IsActive({
      pathId: this.stepState.pathId,
      t1IsActive: isPrincipal
    });
    this.getHeightBorrower();
  }

  private previous() {
    const previousState = this.stepState.getPrevious();
    if (previousState !== null) {
      this.navigateToWithSlideAnimation(previousState.pathId, false);
    } else if (this.useBrowserBackHistory()) {
      window.history.back();
    }
  }

  private get dynamicNextLabel(): string {
    return this.nextStep && this.nextStep.screenOptions['label2'] && this.nextStep.screenOptions['label2'].value
      ? this.$t(this.nextStep.screenOptions['label2'].value).toString()
      : this.nextLabel;
  }

  private async getNextStep() {
    let nextStep = this.stepState.getNext();

    // Special treatment for insurance step
    if (nextStep !== null && nextStep.pathId.includes(RoutePathId.INSURANCE)) {
      this.onloading(true);
      const nextInsuranceStep = await this.manageNextInsuranceStep(nextStep);
      this.onloading(false);
      if (nextInsuranceStep !== null) {
        nextStep = nextInsuranceStep;
      }
    }
    return nextStep;
  }
  private next() {
    const principalIsValid = this.getValidationStatus(this.stepState.pathId, true);
    const secondaryIsValid =
      !this.hasBorrower ||
      (this.secondaryStepState
        ? this.getValidationStatus(this.secondaryStepState.pathId, false)
        : this.getValidationStatus(this.stepState.pathId, false));

    if (principalIsValid && secondaryIsValid) {
      if (this.nextStep) {
        // Hide the previous button once the user go to the next step
        // (only if the current step has `useBrowserBackHistory` screenOptions)
        if (this.useBrowserBackHistory()) {
          this.stepState.noReturn = true;
        }
        const path = this.nextStep.pathId;
        this.showValidationErrors = false;
        this.navigateToWithSlideAnimation(path, true, 'next');
      }
    } else {
      this.showValidationErrors = true;

      this.scrollToError();

      if (typeof this.setValidationError === 'function') {
        this.setValidationError(this.showValidationErrors);
      }

      // Open the bloc with error
      if (!this.openBoth) {
        this.setT1IsActive({
          pathId: this.stepState.pathId,
          t1IsActive: !principalIsValid
        });
        this.getHeightBorrower();
      }
    }
  }

  private useBrowserBackHistory(): boolean {
    return (
      !this.stepState.noReturn &&
      this.stepState.screenOptions['useBrowserBackHistory'] &&
      this.stepState.screenOptions['useBrowserBackHistory'].value
    );
  }

  /**
   * If the go back to summary step button must be displayed to the user.
   */
  private get showGoBackToSummaryStepBtn(): boolean {
    return BusinessRule.showGoToSummaryStepBtn(this.isMobile, this.stepState, this.nextStep, this.routeStates);
  }

  /**
   * Force the navigation to the summary step with a slide left animation.
   */
  private navigateToSummaryStep(): void {
    this.navigateToWithSlideAnimation(RoutePathId.SUMMARY, true);
  }

  /**
   * Manage the eligibility to the insurance step.
   *
   * If the simulation API version is equal to 1, the API is called to retrieve the proposal and
   * apply business rules on it to determinate if the client can access to insurance step.
   *
   * If the simulation API version is not equal to 1, the birth date of the principal borrower is checked
   * to determinate if the client can access to insurance step.
   *
   * @param insuranceStep the insurance step
   */
  private async manageNextInsuranceStep(insuranceStep: StepState) {
    let nextStep: StepState | null = null;
    if (this.isVersionSimulationApiIn(1)) {
      const isEligibleToInsuranceV2 = new BusinessRule().isEligibleForInsuranceV2(this.partnerCode, this.getCreditType);
      if (isEligibleToInsuranceV2) {
        await this.manageEligibilityToV2Insurance();
      } else {
        await this.manageEligibilityToV1Insurance();
      }

      // Go to the next insurance step if T1 and T2 are not eligible to insurance
      // or T1 is not eligible if it is a credit contracted by one person
      if (
        (this.isCreditForTwo && !this.insuranceForm.t1IsEligible && !this.insuranceForm.t2IsEligible) ||
        (!this.isCreditForTwo && !this.insuranceForm.t1IsEligible)
      ) {
        // Hide insurance step on the LeftSideBar
        this.updateVisibleRoute({
          route: insuranceStep.pathId,
          visible: false
        });
        this.fillInsuranceDataT1T2();
        nextStep = insuranceStep.getNext();
      }
    } else {
      // Special treatment for insurance step
      const stepInsurance = this.getStep(RoutePathId.INSURANCE);
      const { limitYoung, limitSenior, minAgeInsurance, maxAgeInsurance } = BusinessRule.getInsuranceConfiguration(
        stepInsurance
      );
      const canSeeInsurance = new BusinessRule(
        minAgeInsurance,
        maxAgeInsurance,
        limitYoung,
        limitSenior
      ).canSeeInsurance(this.birthDate);
      if (!canSeeInsurance) {
        nextStep = insuranceStep.getNext();
        this.fillInsuranceDataT1T2();
        // Reset visible to false if user previously made a subscription with other information
        // that has shown insurance step.
        this.updateVisibleRoute({ route: RoutePathId.INSURANCE, visible: false });
      }
    }
    return nextStep;
  }

  private async manageEligibilityToV1Insurance() {
    const simulationV1Param: SimulationV1Parameter = {
      amount: this.simulator.requiredAmount,
      duration: this.simulator.dueNumber,
      birthdateT1: convertDate(this.birthDate),
      birthdateT2: this.birthDateT2 ? convertDate(this.birthDateT2) : null,
      hasInsuranceT1: true,
      hasInsuranceT2: this.isCreditForTwo,
      sourceId: this.simulator.simulationContext.sourceId,
      projectId: this.simulator.simulationContext.projectId
    };

    const proposalsResponse: SimulationFinancialProposal[] = await SimulationApi.getSimulationV1(simulationV1Param);

    if (proposalsResponse && proposalsResponse.length > 0) {
      const {
        firstMonthlyInsuranceAmount,
        firstMonthlyInsuranceAmountT2,
        totalInsuranceAmount,
        totalInsuranceAmountT2
      } = proposalsResponse[0];

      // Update the store in order to set T1/T2 eligibility
      this.setInsuranceEligibility({
        creditType: this.getCreditType,
        firstMonthlyInsuranceAmount,
        firstMonthlyInsuranceAmountT2,
        totalInsuranceAmount,
        totalInsuranceAmountT2
      });

      // Update the store with simulation proposals
      this.updateProposals(proposalsResponse);
    }
  }

  private async manageEligibilityToV2Insurance() {
    this.setInsuranceFormVersion('v2');

    const t1JobSituationCode = new BusinessRule().getJobSituationCode(this.t1Employment);
    const t2JobSituationCode = new BusinessRule().getJobSituationCode(this.t2Employment);

    const baseSimuParam: SimulationV1Parameter = {
      amount: this.simulator.requiredAmount,
      duration: this.simulator.dueNumber,
      birthdateT1: convertDate(this.birthDate),
      birthdateT2: this.birthDateT2 ? convertDate(this.birthDateT2) : null,
      hasInsuranceT1: true,
      hasInsuranceT2: this.isCreditForTwo,
      sourceId: this.simulator.simulationContext.sourceId,
      projectId: this.simulator.simulationContext.projectId,
      jobSituationT1: t1JobSituationCode,
      jobSituationT2: this.isCreditForTwo ? t2JobSituationCode : null
    };

    const recommendedCode = InsuranceCodeByType.get(InsuranceV2Type.RECOMMENDED);
    const recommendedSimuParam: SimulationV1Parameter = {
      ...baseSimuParam,
      insuranceTypeT1: recommendedCode,
      insuranceTypeT2: this.isCreditForTwo ? recommendedCode : null
    };

    const alternativeCode = InsuranceCodeByType.get(InsuranceV2Type.ALTERNATIVE);
    const alternativeSimuParam: SimulationV1Parameter = {
      ...baseSimuParam,
      insuranceTypeT1: alternativeCode,
      insuranceTypeT2: this.isCreditForTwo ? alternativeCode : null
    };

    try {
      const [recommendedProposals, alternativeProposals]: [
        SimulationFinancialProposal[],
        SimulationFinancialProposal[]
      ] = await Promise.all([
        SimulationApi.getSimulationV1(recommendedSimuParam),
        SimulationApi.getSimulationV1(alternativeSimuParam)
      ]);

      // Eligibility to the recommended insurance
      let t1IsEligibleToRecommendedInsurance = false;
      let t2IsEligibleToRecommendedInsurance = false;

      // Eligibility to the alternative insurance
      let t1IsEligibleToAlternativeInsurance = false;
      let t2IsEligibleToAlternativeInsurance = false;

      // Check the eligibility to the recommended insurance
      if (recommendedProposals && recommendedProposals.length > 0) {
        this.updateRecommendedProposal(recommendedProposals[0]);
        const { hasSaleInsuranceT1, hasSaleInsuranceT2 } = recommendedProposals[0];
        if (hasSaleInsuranceT1) {
          t1IsEligibleToRecommendedInsurance = true;
        }
        if (this.isCreditForTwo && hasSaleInsuranceT2) {
          t2IsEligibleToRecommendedInsurance = true;
        }
      }

      // Check the eligibility to the alternative insurance
      if (alternativeProposals && alternativeProposals.length > 0) {
        this.updateAlternativeProposal(alternativeProposals[0]);
        const { hasSaleInsuranceT1, hasSaleInsuranceT2 } = alternativeProposals[0];
        if (hasSaleInsuranceT1) {
          t1IsEligibleToAlternativeInsurance = true;
        }
        if (this.isCreditForTwo && hasSaleInsuranceT2) {
          t2IsEligibleToAlternativeInsurance = true;
        }
      }

      this.setInsuranceEligibility({
        t1IsEligibleToRecommendedInsurance,
        t2IsEligibleToRecommendedInsurance,
        t1IsEligibleToAlternativeInsurance,
        t2IsEligibleToAlternativeInsurance
      });
    } catch (error) {
      await this.$router.push({ name: RoutePathId.ERROR_PAGE, params: { isFromForm: 'true' } });
    }
  }

  /**
   * The value of the `noReturn` param of the current step will be forced to true if the browser's
   * history must be used to go back and if the value of the `referrerUrl` is not equals
   * to the URI of the referring page or if we are in case of restoring card.
   *
   * Consequently, the previous button will not be displayed if the noReturn is set to true.
   */
  private manageBrowserBackHistory() {
    if (this.useBrowserBackHistory()) {
      if (
        (this.stepState.screenOptions['referrerUrl'] &&
          !document.referrer.includes(this.stepState.screenOptions['referrerUrl'].value)) ||
        this.restoringCard
      ) {
        this.stepState.noReturn = true;
      }
    }
  }

  private fillInsuranceDataT1T2() {
    this.insurance.acceptInsuranceOffer = false;
    this.insurance.confirmRefusal = true;
    const borrower = [true, false];
    borrower.forEach((isPrincipal) => {
      this.setSubscriptionData({
        isPrincipal,
        subStateName: 'insurance',
        subStateValue: this.insurance
      });
    });
  }

  private navigateTo(routeName: string) {
    this.$router.push({ name: routeName });
  }

  private scrollToError() {
    const container = document.getElementById('app-subscription-step');
    if (container) {
      const firstErrorEl = container.querySelector('.error');

      if (firstErrorEl) {
        firstErrorEl.scrollIntoView({ behavior: 'smooth' });
      }
    }
  }

  private goTo(to: any, callback: any = null) {
    const form = document.querySelector('.subscriptionPageContainer .wrapper .content') as HTMLElement;
    const start = window.scrollY > form.scrollTop ? window.scrollY : form.scrollTop;

    const change = to - start;
    const increment = 20;
    let currentTime = 0;
    const animateScroll = () => {
      const duration = 300;
      const val = easeInOutQuad(currentTime, start, change, duration);
      currentTime += increment;

      if (window.scrollTo) {
        window.scrollTo(0, val);
      }

      if (form && form.scrollTop) {
        form.scrollTop = val;
      }

      if (currentTime < duration) {
        setTimeout(animateScroll, increment);
      } else if (callback) {
        callback();
      }
    };
    animateScroll();
  }

  /**
   * Navigate to another step with a slide right or left animation between the current step and the next/previous step.
   *
   * @param nextRouteName the next/previous route name
   * @param slideLeftDirection the slide animation direction: if true, slide on left else slide on right
   * @param emitEvent an event that can be emit if not null
   * @param slideDelay the slide delay (by default it is 300ms)
   */
  private navigateToWithSlideAnimation(
    routeName: RoutePathId | string,
    slideLeftDirection = false,
    emitEvent: string = null,
    slideDelay: number = 300
  ): void {
    this.animation = true;
    this.goTo(0, () => {
      if (slideLeftDirection) {
        this.slideLeft = true;
      } else {
        this.slideRight = true;
      }
      setTimeout(() => {
        if (emitEvent) {
          this.$emit(emitEvent);
        }
        this.navigateTo(routeName);
      }, slideDelay);
    });
  }

  private openBorrower(fireEvent: boolean) {
    setTimeout(() => {
      if ((this.$refs as any).borrowerT2) {
        this.t2timeout1 = setTimeout(() => {
          this.heightT2 = (this.$refs as any).borrowerT2.scrollHeight + 'px';
        }, 0);

        this.t2timeout2 = setTimeout(() => {
          this.heightT2 = 'auto';
          this.showBorrowerT2 = true;
        }, 300);

        if (fireEvent) {
          setTimeout(() => {
            this.$emit('borrowerOpen');
          }, 600);
        }
      }
    });
  }

  private closeBorrower() {
    if ((this.$refs as any).borrowerT2) {
      this.heightT2 = (this.$refs as any).borrowerT2.scrollHeight + 'px';

      setTimeout(() => {
        this.showBorrowerT2 = false;
      }, 300);

      setTimeout(() => {
        this.heightT2 = '0px';
      });
    }
  }

  private getHeightBorrower() {
    if (this.getT1IsActive(this.stepState.pathId)) {
      if ((this.$refs as any).borrowerT2) {
        this.heightT2 = (this.$refs as any).borrowerT2.scrollHeight + 'px';
        this.showBorrowerT2 = false;

        if (this.t2timeout1) {
          clearTimeout(this.t2timeout1);
          this.t2timeout1 = null;
        }

        if (this.t2timeout2) {
          clearTimeout(this.t2timeout2);
          this.t2timeout2 = null;
        }

        setTimeout(() => {
          this.heightT2 = '0px';
        });
      }

      if ((this.$refs as any).borrowerT1) {
        this.t1timeout1 = setTimeout(() => {
          this.heightT1 = (this.$refs as any).borrowerT1.scrollHeight + 'px';
        }, 300);

        this.t1timeout2 = setTimeout(() => {
          this.heightT1 = 'auto';
          this.showBorrowerT1 = true;
        }, 600);
      }
    } else {
      if ((this.$refs as any).borrowerT1) {
        this.heightT1 = (this.$refs as any).borrowerT1.scrollHeight + 'px';
        this.showBorrowerT1 = false;

        if (this.t1timeout1) {
          clearTimeout(this.t1timeout1);
          this.t1timeout1 = null;
        }

        if (this.t1timeout2) {
          clearTimeout(this.t1timeout2);
          this.t1timeout2 = null;
        }

        setTimeout(() => {
          this.heightT1 = '0px';
        });
      }

      if ((this.$refs as any).borrowerT2) {
        this.t2timeout1 = setTimeout(() => {
          this.heightT2 = (this.$refs as any).borrowerT2.scrollHeight + 'px';
        }, 300);

        this.t2timeout2 = setTimeout(() => {
          this.heightT2 = 'auto';
          this.showBorrowerT2 = true;
        }, 600);
      }
    }
  }

  @Watch('restoringCard')
  private onRestoringCardChange(newValue) {
    // Hide the previous button that use the browser's history to go back if it's a restoring card
    if (newValue && this.useBrowserBackHistory()) {
      this.manageBrowserBackHistory();
    }
  }
}
</script>

<style lang="scss" scoped>
.subscriptionStepContainer {
  width: 100%;
  height: 100%;

  @media screen and (min-width: $width_S) {
    padding: 40px 0;
  }

  @media screen and (min-width: $width_M) {
    padding: 45px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: $width_S) {
      max-width: $form-max-width;
      margin: auto;
    }

    form {
      display: flex;
      flex-direction: column-reverse;

      .content {
        background-color: $color-white;
        padding: 25px 25px;
        animation: fadeIn 0.3s ease-in-out;
        animation-fill-mode: both;

        &.animation {
          transform: translateX(0);
          transition: transform 0.3s ease-in-out;

          &.slide-left {
            transform: translateX(-200%);
          }

          &.slide-right {
            transform: translateX(200%);
          }
        }

        @media screen and (min-width: $width_M) {
          padding: 50px;
          margin-bottom: 30px;
        }

        .title {
          color: $color-title;
          font-size: 30px;
          line-height: 1.33;
          font-family: $font-bold;
          margin-bottom: 25px;

          &.hasSubTitle {
            margin-bottom: 10px;
            color: $color-title;
          }
        }

        .subtitle {
          font-size: 14px;
          line-height: 18px;
          color: $color-grey-black;
          margin-bottom: 30px;
        }

        .principal,
        .secondary {
          .borrowerContent {
            overflow: hidden;
            transition: height 0.3s ease-in-out;
            &.show {
              overflow: inherit;
            }
          }
        }

        .principal {
          .borrowerTitle {
            margin: 0 0 15px;
            color: $color-headband-mobile;
          }
        }

        .secondary {
          .borrowerTitle {
            &.disabled {
              color: $color-grey-medium;
            }
          }
        }

        .borrowerTitle {
          position: relative;
          display: flex;
          flex-direction: column;
          margin: 15px 0;
          overflow: hidden;
          cursor: default;
          font-family: $font-bold;
          font-size: 14px;
          line-height: 24px;
          transition: color 0.25s ease-in-out;

          &.accessible {
            cursor: pointer;
            color: $color-headband-mobile;
          }

          &.close {
            width: 100%;
            margin: 15px 0;
          }

          .bandWrapper {
            position: relative;
            margin-top: 10px;

            .band {
              width: 100%;
              height: 2px;
              color: $color-headband-mobile;

              &.disabled {
                background-color: $color-grey-regular;
              }

              &:last-child {
                background-color: $color-headband-mobile;
              }
            }

            .coloredBand {
              width: 0%;
              height: 2px;
              position: absolute;
              top: 0;
              left: 0;
              transition: 0.3s all ease-in-out 0.2s;
              background-color: $color-headband-mobile;
            }
          }

          .action {
            position: absolute;
            right: 0;
            top: 0;
            color: $color-headband-mobile;
            background-color: $color-white;
            font-family: $font-medium;
            font-size: 12px;
            line-height: 22px;
            border: 1px solid $color-headband-mobile;
            border-radius: 20px;
            padding: 0 10px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;

            &.hover {
              color: $color-white;
              background-color: $color-headband-mobile;
            }

            &.disabled {
              color: $color-grey-medium;
              border-color: $color-grey-regular;
              background-color: $color-white;
            }
          }

          &:not(.active) {
            .action {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      .buttonContainer {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 25px 10px;
        margin-top: 20px;
        width: 100%;
        background-color: $color-white;

        @media screen and (min-width: $width_S) {
          flex-direction: row;
          justify-content: space-between;
          padding: 5px 0 0 0;
          margin-bottom: 15px;
          background-color: $color-bg-container;
        }

        @media screen and (min-width: $width_M) {
          padding: 0;
          margin-top: 0;
          margin-bottom: 30px;
        }

        &.single {
          .button {
            margin-left: auto;
            margin-right: 0;
          }
        }

        .button {
          &.mb-15 {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
</style>
