<template>
  <app-button
    :id="id"
    :type="type"
    :noChevron="true"
    :label="btnLabel"
    :onClick="onButtonClick"
    :loading="loading"
    :disabled="disabled || !loaded"
    :colors="colors"
    v-tag
    data-ecat="Récupération identifiant"
    data-eaction="rechercher"
    data-elabel="Rechercher mon identifiant"
  >
    <div :id="recaptchaId" :data-size="size" />
  </app-button>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator';
import { v4 as uuidv4 } from 'uuid';
import Button from '@/components/graphic/Button.vue';
import { State } from 'vuex-class';
import { RootState } from '@/store/types';
import { Colors } from '@/models/Colors';

@Component({
  components: {
    'app-button': Button
  }
})
export default class GoogleRecaptcha extends Vue {
  @Prop({ required: true }) private sitekey: string;
  @Prop({ required: true }) private callback;
  @Prop({ required: true }) private btnLabel;
  @Prop({ default: 'inline', required: false }) private badge: string;
  @Prop({ default: 'light', required: false }) private theme: string;
  @Prop({ default: 'invisible', required: false }) private size: string;
  @Prop({ default: 'submit', required: false }) private type: string;
  @Prop({ required: false }) private validate;
  @Prop({ default: false }) private disabled: boolean;
  @Prop({ default: false }) private loading: boolean;
  @Prop({ required: false }) private id: string;
  @Prop({ required: false }) private reference: string;
  @Prop({ required: false }) private paramsClass: string;

  @State((state: RootState) => state.apiConfig.colors) private colors!: Colors;

  private widgetId: number;
  private loaded: boolean = false;
  private uuid = uuidv4();

  public reset() {
    if ((window as any).grecaptcha) {
      (window as any).grecaptcha.reset(this.widgetId);
    }
  }

  private mounted() {
    if (typeof (window as any).grecaptcha === 'undefined') {
      const script = document.createElement('script');
      script.src = 'https://www.google.com/recaptcha/api.js?render=explicit';
      script.onload = this.renderRecaptchaWait;
      document.head.appendChild(script);
    } else {
      this.renderRecaptcha();
    }
  }

  private get computedClass() {
    return this.paramsClass ? this.paramsClass.split(' ') : [];
  }

  private get recaptchaId() {
    return 'recaptcha-' + this.uuid;
  }

  private renderRecaptcha(): void {
    this.widgetId = (window as any).grecaptcha.render(this.recaptchaId, {
      sitekey: this.sitekey,
      size: this.size,
      badge: this.badge,
      theme: this.theme,
      callback: (token) => {
        this.callback(token);
        (window as any).grecaptcha.reset(this.widgetId);
      },
      'expired-callback': this.emitOnExpired,
      'error-callback': this.emitOnError
    });
    this.loaded = true;
  }

  private renderRecaptchaWait(): void {
    setTimeout(() => {
      if (typeof (window as any).grecaptcha !== 'undefined' && (window as any).grecaptcha.render) {
        this.renderRecaptcha();
      } else {
        this.renderRecaptchaWait();
      }
    }, 200);
  }

  private onButtonClick(): void {
    if (!this.validate || (this.validate && this.validate() !== false)) {
      (window as any).grecaptcha.execute(this.widgetId);
    }
  }

  @Emit('onExpired')
  private emitOnExpired() {
    // Emit expired event
  }

  @Emit('onError')
  private emitOnError() {
    // Emit error event
  }
}
</script>

<style lang="scss" scoped></style>
