// Animations
@keyframes bounceCenter {
  0% {
    transform: translate(-50%, -50%);
  }

  25% {
    transform: translate(-50%, -50%) translate(0, -5px);
  }

  50% {
    transform: translate(-50%, -50%);
  }

  75% {
    transform: translate(-50%, -50%) translate(0, 5px);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes bounceCenterScale {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(4px) scale(1);
  }

  50% {
    transform: translateY(0) scale(1);
  }

  65% {
    transform: translateY(2px) scale(1);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes translateTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes translateLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

// Loader
@keyframes loader-button-1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes loader-button-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-button-3 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }

  50% {
    transform: translate3d(-16px, 0, 0) scale(0.5);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes loader-button-4 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }

  50% {
    transform: translate3d(16px, 0, 0) scale(0.5);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes fontbulger {
  0% {
    right: 0;
  }
  50% {
    right: 20%;
  }
  100% {
    right: -20%;
  }
}

@keyframes loaderInlineButton {
  0% {
    background-color: $color-partner-4;
  }
  100% {
    background-color: var(--color-partner-4-03);
  }
}
