@import '~@sofinco/portail-shared-component/dist/portailSharedComponent.css';

html,
body {
  overflow-x: hidden;
}

body {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-grey-medium;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: $color-bg-container;
  }
}

html,
body,
body * {
  font-family: $font-regular;
  -webkit-overflow-scrolling: touch;
}

body[style='overflow: hidden;'] {
  height: 100vh;
}

b,
strong {
  font-family: $font-bold;
}

sup {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

// Style for legal validation check boxes, from portail-souscription project
.legal-validation {
  text-align: left;
  background-color: $color-white;
  border: 1px solid $color-grey-regular;
  display: block;
  margin-bottom: 15px;
  padding: 0 15px;
  transition: all 0.25s ease-in-out;

  &.type-radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $width_S) {
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    input[type='radio'] {
      border: 0 none;
      display: inline-block;
      width: 0;
      height: 0;
      opacity: 0;

      &:checked {
        + label {
          .before {
            border-color: $color-grey-black;
          }

          .after {
            transform: scale(1);
          }
        }
      }
    }

    label {
      font-family: $font-bold;
      font-size: 14px;
      color: $color-grey-medium;
      position: relative;
      margin-left: 15px;
      padding-left: 25px;
      cursor: pointer;
      transition: color 0.25s ease-in-out;

      @media screen and (max-width: $width_S) {
        margin: 0 15px 15px 0;
      }

      .before {
        background-color: transparent;
        border: 2px solid $color-grey-medium;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 20px;
        height: 20px;
        transition: all 0.25s ease-in-out;
        color: $color-grey-medium;
      }

      .after {
        background-color: $color-grey-medium;
        border-radius: 50%;
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 1;
        display: block;
        width: 10px;
        height: 10px;
        transform: scale(0);
        transition: transform 0.25s ease-in-out;
        color: $color-grey-medium;
      }

      @media screen and (min-width: $width_S) {
        &:hover {
          color: $color-grey-medium;

          .before {
            border-color: $color-grey-medium;
            color: $color-grey-medium;
          }
        }
      }
    }
  }

  &.error:not(.valid) {
    background-color: rgba(255, 57, 53, 0.1);
    border-color: transparent;

    &.type-radio {
      .legal-validation__text {
        color: $color-tooltip-text-error;
      }

      label {
        color: $color-tooltip-text-error;

        .before {
          border-color: $color-tooltip-text-error;
        }

        &:hover {
          color: $color-grey-black;

          .before {
            border-color: $color-grey-black;
          }
        }
      }
    }

    &:not(.type-radio) {
      label {
        color: $color-tooltip-text-error;

        .before {
          border-color: $color-tooltip-text-error;
        }

        a {
          color: $color-tooltip-text-error;
        }
      }
    }
  }

  &.checked {
    .legal-validation__text,
    &:not(.type-radio) label,
    &.type-radio input:checked + label {
      color: $color-grey-black;
    }
  }

  @media screen and (min-width: $width_S) {
    &:hover {
      &:not(.checked) {
        .legal-validation__text,
        &:not(.type-radio) label {
          color: $color-dark-light;

          .before {
            border-color: $color-grey-black;
          }
        }
      }
    }
  }

  &__container {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }

  &__title {
    font-family: $font-bold;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: $color-black;
    margin: 30px 0 20px;
  }

  &__text {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: $color-grey-medium;
    min-height: 30px;
    padding: 15px 0;
    transition: color 0.25s ease-in-out;

    @media screen and (max-width: $width_S) {
      width: 100%;
    }
  }

  input[type='checkbox'] {
    border: 0 none;
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + label {
      .before {
        background-color: $color-partner-1;
        border-color: $color-partner-1;
      }

      .after {
        transform: scale(1);
      }
    }
  }

  &:not(.type-radio) {
    label {
      @extend .legal-validation__text;
      position: relative;
      display: inline-block;
      padding: 10px 0 20px 35px;
      cursor: pointer;

      .before {
        position: absolute;
        left: 0;
        top: 15px;
        z-index: 0;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 1px solid #797979;
        transition: all 0.25s ease-in-out;
      }

      .after {
        @include background;
        background-size: contain;
        background-image: url($assetSvg + 'checkbox.svg');
        position: absolute;
        left: 4px;
        top: 19px;
        z-index: 1;
        display: block;
        width: 12px;
        height: 12px;
        transform: scale(0);
        transition: transform 0.25s ease-in-out;
      }

      a {
        font-family: $font-medium;
        color: $color-grey-black;
        text-decoration: underline;
      }
    }
  }
}

.more-form {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;

  @media screen and (max-width: $width_S) {
    margin-top: 15px;
  }
}

.inputContainer:not(:last-child) {
  margin-bottom: 15px;
}

.inputContainer:not(:last-child) {
  @media screen and (max-width: $width_S) {
    margin-top: 15px;
  }
}

.stepperContainer {
  margin-bottom: 25px;
  @media screen and (max-width: $width_S) {
    .stepper-label {
      text-align: center;
    }
  }
}

.loader-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: none;
  height: 32px;
  width: 32px;

  .after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    background-color: $color-title;
    border-radius: 50%;
    animation: loader-button-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  }

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    animation: loader-button-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;

    .spanBefore,
    .spanAfter {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 12px;
      width: 12px;
      background-color: $color-title;
      border-radius: 50%;
      animation: loader-button-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }

    .spanAfter {
      animation: loader-button-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
  }
}

.input-item {
  &.not-empty {
    & + .input-label {
      font-size: 12px;
      transform: translateY(-50%) translateY(-12px);
    }
  }
}

.popup__mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: $color-white;
  overflow: hidden;

  &-header {
    border-bottom: 1px solid $color-grey-regular;
    position: relative;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: $color-white;
    text-align: center;

    @media screen and (min-width: $width_L + 1px) {
      display: none;
    }
  }

  &-wrapper {
    position: relative;
    height: calc(100% - 65px);
    overflow: auto;
  }

  &-close {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      background-color: $color-grey-medium;
      position: absolute;
      left: 0;
      top: 50%;
      display: block;
      width: 20px;
      height: 2px;
    }

    &::before {
      transform: translateY(-50%) rotate(-45deg);
    }

    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &-back {
    @extend .popup__mobile-close;

    &::before,
    &::after {
      width: 10px;
    }

    &::before {
      top: calc(50% - 3px);
    }

    &::after {
      top: calc(50% + 3px);
    }
  }

  &-title {
    font-family: $font-bold;
    font-size: 16px;
    color: $color-black;
  }

  &-menu {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 40px;
    height: 20px;
    cursor: pointer;

    &::before,
    &::after,
    span {
      background-color: $color-grey-medium;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      display: block;
      width: 4px;
      height: 4px;
    }

    &::before {
      content: '';
      top: 0;
      transform: translateX(-50%);
    }

    &::after {
      content: '';
      bottom: 0;
      transform: translateX(-50%);
    }

    span {
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__wrapper {
      background: $color-white;
      box-shadow: 0 2px 13px -2px rgba($color-black, 0.23);
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 190px;
    }

    &__option {
      background-color: $color-white;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: $color-bg-container;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-regular;
      }

      img {
        margin-right: 10px;
      }

      > a {
        font-family: $font-medium;
        font-size: 16px;
        color: $color-black;
      }
    }
  }
}

.button-simulator {
  font-family: $font-bold;
  font-size: 14px;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  color: $color-text-button;
  border-radius: 30px;
  background-color: $color-partner-4;
  border: 1px solid $color-partner-4;
  box-shadow: 0 0 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 15px 30px;
  opacity: 1;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  cursor: pointer;

  @media screen and (min-width: $width_S) {
    &:not(.loading):hover {
      box-shadow: 0 6px 10px -5px var(--color-partner-4-05);
    }
  }

  > span {
    font-family: $font-bold;
    line-height: 16px;
    color: $color-text-button;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: auto;

    &.icon-left {
      margin-right: 10px;
    }

    &.icon-right {
      margin-left: 10px;
    }
  }

  &-red-whitout-bg {
    @extend .button-simulator;
    color: $color-partner-3;
    background-color: transparent;
    border-color: $color-partner-3;

    span,
    .icon {
      color: $color-partner-3;
    }

    .item-color {
      fill: $color-partner-3;
    }
  }

  &-orange {
    @extend .button-simulator;
    color: $color-white;
    background-color: $color-tooltip-text-alert;
    border-color: $color-tooltip-text-alert;

    @media screen and (min-width: $width_S) {
      &:not(.loading):hover {
        box-shadow: 0 6px 10px -5px rgba($color-tooltip-text-alert, 0.5);
      }
    }

    span,
    .icon {
      color: $color-white;
    }
  }

  &-green {
    @extend .button-simulator;
    color: $color-text;
    background-color: $color-partner-1;
    border-color: $color-partner-1;

    @media screen and (min-width: $width_S) {
      &:not(.loading):hover {
        box-shadow: 0 6px 10px -5px var(--color-partner-1-05);
      }
    }

    span,
    .icon {
      color: $color-white;
    }
  }

  &-green-whitout-bg {
    @extend .button-simulator;
    background-color: $color-white;
    color: $color-partner-1;
    border-color: $color-partner-1;

    @media screen and (min-width: $width_S) {
      &:not(.loading):hover {
        box-shadow: 0 6px 10px -5px var(--color-partner-1-05);
      }
    }

    span,
    .icon {
      color: $color-partner-1;
    }
  }

  &-whitout-bg {
    @extend .button-simulator;
    color: $color-grey-dark;
    background-color: transparent;
    border-color: $color-grey-dark;

    @media screen and (min-width: $width_S) {
      &:hover,
      &:not(.loading):hover {
        box-shadow: 0 6px 10px -5px rgba($color-grey-dark, 0.5);
      }
    }

    span,
    .icon {
      color: $color-grey-dark;
    }
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
  }

  &.loading {
    cursor: default;
    pointer-events: none;

    > span {
      opacity: 0;
    }

    .loader-button {
      display: block;
    }
  }
}

.message-pedagogy {
  background-color: $color-tooltip-bg;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 440px;
  padding: 15px 30px;
  z-index: 5;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -11px;
    display: block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid $color-tooltip-bg;
    transform: translateY(-50%);
  }

  &__icon {
    max-height: 30px;
    margin-right: 25px;
  }

  &__text {
    font-family: $font-regular;
    font-size: 13px;
    text-align: left;
    color: $color-tooltip-text;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.4);
  z-index: 4;
}

.legal-validation {
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: block;
  margin-bottom: $input-margin-bottom;
  padding: 0 $input-padding-left;
  transition: all 0.25s ease-in-out;

  &.type-radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $width_S) {
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    input[type='radio'] {
      border: 0 none;
      display: inline-block;
      width: 0;
      height: 0;
      opacity: 0;

      &:checked {
        + label {
          &::before {
            border-color: $color-main-dark;
          }

          &::after {
            transform: scale(1);
          }
        }
      }
    }

    label {
      font-family: $font-bold;
      font-size: 14px;
      color: #888888;
      position: relative;
      margin-left: $input-padding-left;
      padding-left: 25px;
      cursor: pointer;
      transition: color 0.25s ease-in-out;

      @media screen and (max-width: $width_S) {
        margin: 0 $input-padding-left $input-padding-left 0;
      }

      &::before {
        content: '';
        background-color: transparent;
        border: 2px solid #888888;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 20px;
        height: 20px;
        transition: all 0.25s ease-in-out;
      }

      &::after {
        content: '';
        background-color: $color-main-dark;
        border-radius: 50%;
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 1;
        display: block;
        width: 10px;
        height: 10px;
        transform: scale(0);
        transition: transform 0.25s ease-in-out;
      }

      @media screen and (min-width: $width_S) {
        &:hover {
          color: $color-main-dark;

          &::before {
            border-color: $color-main-dark;
          }
        }
      }
    }
  }

  &.error:not(.valid) {
    background-color: rgba(255, 57, 53, 0.1);
    border-color: transparent;

    &.type-radio {
      .legal-validation__text {
        color: $color-error;
      }

      label {
        color: $color-error;

        &::before {
          border-color: $color-error;
        }

        &:hover {
          color: $color-main-dark;

          &::before {
            border-color: $color-main-dark;
          }
        }
      }
    }

    &:not(.type-radio) {
      label {
        color: $color-error;

        &::before {
          border-color: $color-error;
        }

        a {
          color: $color-error;
        }
      }
    }
  }

  &.checked {
    background-color: rgba(50, 213, 221, 0.1);
    border-color: rgba(50, 213, 221, 0.1);

    .legal-validation__text,
    &:not(.type-radio) label,
    &.type-radio input:checked + label {
      color: $color-main-dark;
    }
  }

  @media screen and (min-width: $width_S) {
    &:hover {
      border-color: $color-partner-1;

      &:not(.checked) {
        .legal-validation__text,
        &:not(.type-radio) label {
          color: $color-main-dark;

          &::before {
            border-color: $color-main-dark;
          }
        }
      }
    }
  }

  &__container {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }

  &__title {
    font-family: $font-bold;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #000000;
    margin: 30px 0 20px;

    &__img {
      margin-right: 4px;
      transform: translateY(4px);
    }
  }

  &__text {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: #888888;
    min-height: 30px;
    padding: $input-padding-left 0;
    transition: color 0.25s ease-in-out;

    @media screen and (max-width: $width_S) {
      width: 100%;
    }
  }

  input[type='checkbox'] {
    border: 0 none;
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + label {
      &::before {
        background-color: $color-main-dark;
        border-color: $color-main-dark;
      }

      &::after {
        transform: scale(1);
      }
    }
  }

  &:not(.type-radio) {
    label {
      @extend .legal-validation__text;
      position: relative;
      display: inline-block;
      padding: $input-padding-left 0 $input-padding-left 40px;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: $input-padding-left;
        z-index: 0;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 1px solid #797979;
        border-radius: $input-border-radius;
        transition: all 0.25s ease-in-out;
      }

      &::after {
        content: url($assetSvg + 'checkbox.svg');
        position: absolute;
        left: 4px;
        top: calc(#{$input-padding-left} + 2px);
        z-index: 1;
        transform: scale(0);
        transition: transform 0.25s ease-in-out;
      }

      a {
        font-family: $font-medium;
        color: $color-main-dark;
        text-decoration: underline;
      }
    }
  }
}

.customer-identification {
  &-container {
    text-align: left;
  }

  &__title {
    color: $color-title;
    font-family: $font-bold;
    font-size: 24px;
    margin-bottom: 15px;

    @media screen and (min-width: $width_S) {
      font-size: 30px;
    }

    &-image {
      margin-bottom: 15px;
      display: none;

      @media screen and (min-width: $width_S) {
        display: inline-block;
      }
    }
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: 14px;
    color: $color-form-text;
  }

  &__alert {
    .show {
      margin-bottom: 15px;
    }
  }

  &__input-informations {
    color: $color-grey-medium;
    font-size: 14px;
    font-style: italic;
    margin-top: -12px;
  }

  &__action-block {
    text-align: center;
  }

  &__recaptcha-informations {
    margin-top: 120px;
    font-size: 14px;
    color: $color-grey-regular;

    /deep/ a {
      font-family: $font-bold;
      font-size: 14px;
      color: rgba($color-form-text, 0.5);
      transition: color 0.25s ease-in-out;

      @media screen and (min-width: $width_S) {
        &:hover {
          color: $color-title;
        }
      }

      &:active {
        text-decoration: none;
        color: $color-grey-regular;
      }
    }
  }

  &__back-link {
    font-family: $font-bold;
    font-size: 14px;
    color: rgba($color-form-text, 0.5);
    position: relative;
    display: inline-block;
    padding: 10px 0 0 20px;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: $color-title;
    }

    &::after {
      content: '';
      @include background;
      background-image: url($assetSvg + 'arrow-right-black.svg');
      position: absolute;
      bottom: 0;
      width: 9px;
      height: 16px;
      right: initial;
      left: 0;
      transform: rotate(180deg);
    }
  }
}
