@mixin no-charge {
  display: inline-block;
  padding: 2px 8px;
  font-size: 11px;
  font-family: $font-medium;
  color: $color-white;
  text-transform: uppercase;
}

@mixin center-bloc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin square($size, $color) {
  position: relative;
  padding-left: calc(#{$size} + 5px);

  &::before {
    position: absolute;
    left: 0;
    top: calc(50% + 1px);
    transform: translateY(-50%);
    content: '';
    background-color: $color;
    border-radius: 1px;
    width: $size;
    height: $size;
  }
}

// $size en px, exemple : 20px
// $color en hexa, rgb ou rgba
@mixin cross($size, $color) {
  position: relative;
  display: block;
  width: $size;
  height: $size;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: $size;
    height: 2px;
    background-color: $color;
  }

  &::before {
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
  }

  &::after {
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  }
}

@mixin background() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
