<template>
  <div class="characteristics" :class="{ big: big, inverted: inverted }" v-if="proposal">
    <div class="innerContainer" :style="{ height: innerHeight }">
      <div class="fullContainer">
        <div class="detailLine-wrapper">
          <div class="detailLine">
            <div class="label">{{ $t('souscription.detailsOffre.montant') }}</div>
            <div class="value">
              {{ proposal.amount | currency }}
            </div>
          </div>

          <div class="detailLine">
            <div class="label">{{ $t('souscription.detailsOffre.dureeCredit') }}</div>
            <div class="value">{{ proposal.creditDuration }} {{ $t('souscription.detailsOffre.mois') }}</div>
          </div>

          <div class="detailLine">
            <div class="label">{{ $t('souscription.detailsOffre.nbMensualites') }}</div>
            <div class="value">
              {{
                $t('souscription.detailsOffre.mensualités', {
                  dueNumber: proposal.dueNumberWithoutInsurance
                })
              }}
              {{ proposal.monthlyAmountNonInsurance | currency }}
            </div>
          </div>

          <div class="detailLine" v-if="proposal.lastMonthlyAmountNonInsurance">
            <div class="label">{{ $t('souscription.detailsOffre.derniereMensualite') }}</div>
            <div class="value">{{ proposal.lastMonthlyAmountNonInsurance | currency }}</div>
          </div>

          <div class="detailLine">
            <div class="detailLine-textContainer">
              <div class="label">{{ $t('souscription.detailsOffre.montantTotal') }}</div>
              <span
                class="small"
                v-if="showReportMessage"
                v-html="$t('souscription.detailsOffre.interetsReportInclus')"
              ></span>
            </div>
            <div class="value">{{ proposal.totalAmountNonInsurance | currency }}</div>
          </div>

          <div class="detailLine" v-if="proposal.creditType === CreditTypeEnumForTemplate.REVOLVING">
            <div class="label">{{ $t('souscription.detailsOffre.dateUtilisation') }}</div>
            <div class="value">{{ formatDate(today) }}</div>
          </div>

          <div class="detailLine" v-if="proposal.dueDay">
            <div class="label">{{ $t('souscription.detailsOffre.jourEcheance') }}</div>
            <div class="value">{{ proposal.dueDay }}</div>
          </div>

          <div class="detailLine">
            <div class="label">
              {{
                proposal.fixedRate
                  ? $t('souscription.detailsOffre.taegFixe')
                  : $t('souscription.detailsOffre.taegRevisable')
              }}
            </div>
            <div class="value">{{ proposal.taeg | currency({ symbol: '%', fractionCount: 3 }) }}</div>
          </div>

          <div class="detailLine">
            <div class="label">
              {{
                proposal.fixedRate
                  ? $t('souscription.detailsOffre.tauxDebiteurFixe')
                  : $t('souscription.detailsOffre.tauxDebiteurRevisable')
              }}
            </div>
            <div class="value">
              {{ proposal.annualDebitRate | currency({ symbol: '%', fractionCount: 3 }) }}
            </div>
          </div>
        </div>

        <template v-if="showInsurance">
          <div class="detailLine-wrapper">
            <div class="detailLine">
              <div class="label">{{ $t('souscription.detailsOffre.coutPremierMois') }}</div>
              <div class="value">
                {{
                  proposal.firstMonthlyInsuranceAmountT1
                    ? proposal.firstMonthlyInsuranceAmountT1
                    : proposal.monthlyInsuranceAmountT1 | currency
                }}
              </div>
            </div>

            <div class="detailLine">
              <div class="label">{{ $t('souscription.detailsOffre.mensualiteAssurance') }}</div>
              <div class="value">
                {{
                  $t('souscription.detailsOffre.mensualités', {
                    dueNumber: proposal.dueNumberWithInsurance
                  })
                }}
                {{ proposal.monthlyAmountWithInsurance | currency }}
              </div>
            </div>

            <div class="detailLine" v-if="proposal.lastMonthlyAmountWithInsurance">
              <div class="label">{{ $t('souscription.detailsOffre.derniereMensualiteAvecAssurance') }}</div>
              <div class="value">{{ proposal.lastMonthlyAmountWithInsurance | currency }}</div>
            </div>

            <div class="detailLine">
              <div class="label">{{ $t('souscription.detailsOffre.dureeAvecAssurance') }}</div>
              <div class="value">{{ proposal.creditDuration }} {{ $t('souscription.detailsOffre.mois') }}</div>
            </div>

            <div class="detailLine">
              <div class="label">{{ $t('souscription.detailsOffre.montantTotalAvecAssurance') }}</div>
              <div class="value">{{ proposal.totalAmount | currency }}</div>
            </div>
          </div>

          <div class="assuranceText">{{ $t('souscription.detailsOffre.texteAssurance') }}</div>
        </template>
      </div>
    </div>

    <div class="toggleContainer" :class="{ isReduced, needSpacing: showInsurance }" v-if="canReduce">
      <button class="toggleButton" @click="handleClick">
        <span>{{
          isReduced ? $t('souscription.detailsOffre.voirPlus') : $t('souscription.detailsOffre.voirMoins')
        }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9">
          <path
            fill="#00B1B9"
            fill-rule="nonzero"
            d="M8 5.031L3.06.411a1.574 1.574 0 0 0-2.12 0 1.34 1.34 0 0 0 0 1.984L8 9l7.06-6.605a1.34 1.34 0 0 0 0-1.984 1.574 1.574 0 0 0-2.12 0L8 5.031z"
          />
        </svg>
      </button>
    </div>

    <div v-if="showReportMessage" class="outerContainer">
      <div
        class="reportText"
        v-html="
          $t('souscription.detailsOffre.texteReport', {
            nbMois: proposal.deferralMonthNumber
          })
        "
      ></div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { FinancialProposals } from '@/models/Simulation';
import { Colors, defaultColors } from '@/models/Colors';
import { formatDate } from '@/utils/utils';
import { CreditTypeEnum } from '@/models/simulator/business/creditType';
import { BusinessRule } from '@/services/BusinessRule';

@Component({})
export default class Characteristics extends Vue {
  @Prop() private proposal!: FinancialProposals;
  @Prop({ default: false }) private big!: boolean;
  @Prop({ default: false }) private inverted!: boolean;
  @Prop({ default: true }) private showInsurance!: boolean;
  @Prop({ default: false }) private canReduce!: boolean;
  @Prop({ default: true }) private isReduced!: boolean;
  @Prop({ default: () => defaultColors }) private colors!: Colors;
  private CreditTypeEnumForTemplate = CreditTypeEnum;

  private today = new Date();
  private innerHeight = 'auto';
  private nbDetailLinesToDisplay = 4;

  private get showReportMessage() {
    return BusinessRule.showReportInformations(this.proposal);
  }

  private updateInnerHeight() {
    if (!this.canReduce) {
      return;
    }
    const detailLine = document.querySelectorAll('.detailLine');
    let detailLineHeight = 0;
    for (let i = 0; i < this.nbDetailLinesToDisplay && i < detailLine.length; i++) {
      detailLineHeight += detailLine[i].scrollHeight;
    }
    const fullContainer = document.querySelector('.fullContainer') as HTMLElement;
    const fullContainerHeight = fullContainer ? fullContainer.offsetHeight : 0;
    this.innerHeight = this.isReduced ? `${detailLineHeight}px` : `${fullContainerHeight}px`;
  }

  private created() {
    window.addEventListener('resize', this.onResize);
  }

  private onResize() {
    this.updateInnerHeight();
  }

  private mounted() {
    this.updateInnerHeight();
  }

  @Watch('isReduced')
  private onIsReducedChanges() {
    this.updateInnerHeight();
  }

  private handleClick() {
    this.$emit('toggleReduced', !this.isReduced);
  }

  private beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  }

  private formatDate(date: any) {
    return formatDate(date);
  }
}
</script>

<style lang="scss" scoped>
.characteristics {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $width_S) {
    width: 100%;
  }

  @media screen and (min-width: $width_M) {
    max-width: 560px;
    padding: 0 40px;
  }

  .innerContainer {
    overflow: hidden;
    transition: height 300ms ease-in-out;
  }

  .detailLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;

    &-wrapper {
      .detailLine:nth-child(2n + 1) {
        background-color: $color-white;
      }
      .detailLine:nth-child(2n) {
        background-color: $color-bg-container;
      }
    }

    .label,
    .value {
      font-family: $font-bold;
      font-size: 14px;
      line-height: normal;
    }

    .label {
      font-family: $font-regular;
      max-width: 80%;
    }

    .value {
      white-space: nowrap;
    }

    &-textContainer {
      display: flex;
      flex-direction: column;
      width: 100%;

      .small {
        font-size: 11px;
        color: $color-grey-black;
      }
    }
  }

  .assuranceText {
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    color: $color-grey-black;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &.big {
    width: 100%;
    max-width: none;
    padding: 0;

    @media screen and (min-width: $width_M) {
      .detailLine {
        padding: 18px 20px;

        .label {
          font-size: 14px;
          line-height: 1.36;
        }
        .value {
          font-size: 15px;
          font-family: $font-bold;
          line-height: 1.36;
        }
      }

      .assuranceText {
        font-size: 13px;
        line-height: 18px;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 25px;
        padding: 0;
      }
    }
  }

  &.inverted {
    .detailLine {
      &-wrapper {
        .detailLine:nth-child(2n) {
          background-color: $color-white;
        }

        .detailLine:nth-child(2n + 1) {
          background-color: $color-bg-container;
        }
      }
    }
  }

  .toggleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px $color-grey-light;
    padding: 15px 0;

    &.isReduced {
      .toggleButton {
        svg {
          transform: rotate(0deg);
          position: relative;
          top: 0;
        }
      }
    }
    &:not(.isReduced).needSpacing {
      margin-top: 15px;
    }

    .toggleButton {
      span {
        margin-right: 6px;
        font-family: $font-bold;
        font-size: 18px;
        color: $color-title;
      }

      svg {
        transition: transform 300ms ease-in, top 300ms linear;
        transform: rotate(-180deg);
        position: relative;
        top: -3px;

        path {
          fill: $color-title;
        }
      }
    }
  }

  .outerContainer {
    border-top: solid 1px $color-grey-light;

    .reportText {
      margin-top: 15px;
      margin-bottom: 20px;

      font-size: 12px;
      color: $color-grey-black;
    }
  }
}
</style>
