<template>
  <div class="characteristics" :class="{ big: big, inverted: inverted }" v-if="proposal">
    <div class="innerContainer" :style="{ height: innerHeight }">
      <div class="fullContainer">
        <div class="detailLine-wrapper">
          <div class="detailLine">
            <div class="label">{{ $t('souscription.detailsOffre.votreCredit') }}</div>
            <div class="value">
              {{ proposal.creditLabel | toLowerCase | firstLetterUpperCase }}
            </div>
          </div>
          <div class="detailLine">
            <div class="label">{{ $t('souscription.detailsOffre.montantCredit') }}</div>
            <div class="value">
              {{ proposal.amount | currency({ fractionCount: 0 }) }}
            </div>
          </div>
          <div class="detailLine">
            <div class="label">{{ $t('souscription.detailsOffre.dureeCredit') }}</div>
            <div class="value">
              {{
                $t('souscription.detailsOffre.nbMois', {
                  duration: proposal.creditDuration
                })
              }}
            </div>
          </div>
          <div class="detailLine">
            <div class="label">
              {{
                $t('souscription.detailsOffre.dureeMensualites', {
                  duration: proposal.dueNumber
                })
              }}
            </div>
            <div class="value">
              {{ proposal.monthlyAmountWithInsurance | currency }}
            </div>
          </div>
          <div class="detailLine">
            <div class="label">
              {{
                proposal.creditType === CreditTypeEnum['REVOLVING'] && !proposal.fixedRate
                  ? $t('souscription.detailsOffre.taegRevisable')
                  : $t('souscription.detailsOffre.taegFixe')
              }}
              <span>{{ $t('souscription.detailsOffre.taegSign') }}</span>
            </div>
            <div class="value">
              {{ proposal.taeg | currency({ fractionCount: 3, symbol: '%' }) }}
            </div>
          </div>
          <div class="detailLine">
            <div class="label">
              {{ $t('souscription.detailsOffre.montantTotal') }}
              <template v-if="proposal.creditDuration > proposal.dueNumber">
                <br />{{ $t('souscription.detailsOffre.includeReport') }}
              </template>
              <span>{{ $t('souscription.detailsOffre.horsAssurance') }}</span>
            </div>
            <div class="value">
              {{ proposal.totalAmountNonInsurance | currency }}
            </div>
          </div>
          <div class="detailLine">
            <div class="label">
              {{ $t('souscription.detailsOffre.fraisDossier') }}
            </div>
            <div class="value">
              {{ proposal.contractFees | currency({ fractionCount: 0 }) }}
            </div>
          </div>
          <div class="detailLine">
            <div class="label">
              {{
                proposal.creditType === CreditTypeEnum['REVOLVING'] && !proposal.fixedRate
                  ? $t('souscription.detailsOffre.tauxDebiteurRevisable')
                  : $t('souscription.detailsOffre.tauxDebiteurFixe')
              }}
            </div>
            <div class="value">
              {{ proposal.annualDebitRate | currency({ fractionCount: 3, symbol: '%' }) }}
            </div>
          </div>
          <template v-if="showInsurance">
            <div class="detailLine">
              <div class="label">
                {{ $t('souscription.detailsOffre.assuranceTaux') }}
                <span>{{ $t('souscription.detailsOffre.taeaSigle') }}</span>
              </div>
              <div class="value">
                {{ proposal.annualInsuranceEffectiveRate | currency({ fractionCount: 3, symbol: '%' }) }}
              </div>
            </div>
            <div class="detailLine">
              <div class="label">
                {{ $t('souscription.detailsOffre.assuranceCoutMensuel') }}
              </div>
              <div class="value">
                {{ (proposal.monthlyInsuranceAmountT1 + proposal.monthlyInsuranceAmountT2) | currency }}
              </div>
            </div>
            <div class="detailLine">
              <div class="label">
                {{ $t('souscription.detailsOffre.assuranceCoutTotal') }}
              </div>
              <div class="value">
                {{ (proposal.totalInsuranceAmountT1 + proposal.totalInsuranceAmountT2) | currency }}
              </div>
            </div>
          </template>
        </div>
        <template v-if="!showInsurance">
          <div class="assuranceText">
            {{
              simulationProposal.monthlyInsuranceAmount
                ? $t('souscription.detailsOffre.assuranceExplication', {
                    montant: $options.filters.currency(simulationProposal.monthlyInsuranceAmount)
                  })
                : ''
            }}
          </div>
        </template>
      </div>
    </div>

    <div class="toggleContainer" :class="{ isReduced }" v-if="canReduce && !hideSeeMore">
      <button class="toggleButton" @click="handleClick">
        <span>{{
          isReduced ? $t('souscription.detailsOffre.voirPlus') : $t('souscription.detailsOffre.voirMoins')
        }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9">
          <path
            fill="#00B1B9"
            fill-rule="nonzero"
            d="M8 5.031L3.06.411a1.574 1.574 0 0 0-2.12 0 1.34 1.34 0 0 0 0 1.984L8 9l7.06-6.605a1.34 1.34 0 0 0 0-1.984 1.574 1.574 0 0 0-2.12 0L8 5.031z"
          />
        </svg>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { Colors, defaultColors } from '@/models/Colors';
import { CreditTypeEnum } from '@/models/simulator/business/creditType';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';

@Component({})
export default class CharacteristicsSofinco extends Vue {
  @Prop() public proposal!: any;
  @Prop() public simulationProposal: SimulationFinancialProposal;
  @Prop({ default: false }) public big!: boolean;
  @Prop({ default: false }) public inverted!: boolean;
  @Prop({ default: true }) public showInsurance!: boolean;
  @Prop({ default: false }) public canReduce!: boolean;
  @Prop({ default: true }) public isReduced!: boolean;
  @Prop({ default: () => defaultColors }) public colors!: Colors;

  public innerHeight = 'auto';
  public maxDetailLinesDisplay = 9;
  public hideSeeMore: boolean = false;

  public CreditTypeEnum = CreditTypeEnum;

  public updateInnerHeight() {
    const detailLines = document.querySelectorAll('.detailLine');
    this.hideSeeMore = detailLines.length <= this.maxDetailLinesDisplay;
    if (!this.canReduce || this.hideSeeMore) {
      return;
    }
    let heightDetailLines = 0;
    for (let i = 0; i < detailLines.length; ++i) {
      if (i < this.maxDetailLinesDisplay) {
        heightDetailLines += detailLines[i].scrollHeight;
      }
    }
    const fullContainer = document.querySelector('.fullContainer') as HTMLElement;
    const fullContainerHeight = fullContainer ? fullContainer.offsetHeight : 0;
    this.innerHeight = this.isReduced ? `${heightDetailLines}px` : `${fullContainerHeight}px`;
  }

  public created() {
    window.addEventListener('resize', this.onResize);
  }

  public mounted() {
    this.updateInnerHeight();
  }

  public beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  }

  public onResize() {
    this.updateInnerHeight();
  }

  @Watch('isReduced')
  public onIsReducedChanges() {
    this.updateInnerHeight();
  }

  public handleClick() {
    this.$emit('toggleReduced', !this.isReduced);
  }
}
</script>

<style lang="scss" scoped>
.characteristics {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  @media screen and (min-width: $width_S) {
    width: 100%;
  }

  @media screen and (min-width: $width_M) {
    max-width: 560px;
    padding: 0 40px;
  }

  .innerContainer {
    overflow: hidden;
    transition: height 300ms ease-in-out;
  }

  .detailLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;

    &-wrapper {
      .detailLine:nth-child(2n + 1) {
        background-color: $color-white;
      }
      .detailLine:nth-child(2n) {
        background-color: #f3fbfb;
      }
    }

    .label,
    .value {
      font-size: 12px;
      line-height: normal;
    }

    .label {
      max-width: 80%;
      text-align: left;
    }

    .label > span {
      font-size: 12px;
      line-height: 16px;
      color: $color-grey-medium;
      display: block;
    }

    .value {
      font-family: $font-bold;
      white-space: nowrap;
    }
  }

  .assuranceText {
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    color: $color-grey-medium;
    padding: 10px 0px 20px 0px;
  }

  &.big {
    width: 100%;
    max-width: none;
    padding: 0;

    @media screen and (min-width: $width_M) {
      .detailLine {
        padding: 18px 20px;

        .label,
        .value {
          font-size: 14px;
          line-height: 1.36;
        }
      }
    }
  }

  &.inverted {
    .detailLine {
      &-wrapper {
        .detailLine:nth-child(2n) {
          background-color: $color-white;
        }

        .detailLine:nth-child(2n + 1) {
          background-color: #f3fbfb;
        }
      }
    }
  }

  .toggleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px $color-grey-light;
    padding: 15px 0;
    margin-top: 30px;

    &.isReduced {
      .toggleButton {
        svg {
          transform: rotate(0deg);
          position: relative;
          top: 0;
        }
      }
    }

    .toggleButton {
      span {
        margin-right: 6px;
        font-family: $font-bold;
        font-size: 18px;
        color: $color-title;
      }

      svg {
        transition: transform 300ms ease-in, top 300ms linear;
        transform: rotate(-180deg);
        position: relative;
        top: -3px;

        path {
          fill: $color-title;
        }
      }
    }
  }
}
</style>
