<template>
  <div class="proposalDetails" :class="{ big }">
    <div v-if="title" class="title">{{ title }}</div>
    <div v-if="subTitle" class="subTitle">{{ subTitle }}</div>
    <div v-if="proposal === null" class="proposalEmpty">
      {{ $t('souscription.detailsOffre.instructions') }}
    </div>
    <template v-else>
      <app-characteristics-sofinco
        v-if="isSofincoPartnerId"
        :colors="colors"
        :proposal="proposal"
        :simulationProposal="simulationProposal"
        :big="big"
        :inverted="inverted"
        :showInsurance="showInsurance"
        :canReduce="canReduce"
        :isReduced="isReduced"
        @toggleReduced="handleToggle"
      />
      <app-characteristics
        v-else
        :colors="colors"
        :proposal="proposal"
        :big="big"
        :inverted="inverted"
        :showInsurance="showInsurance"
        :canReduce="canReduce"
        :isReduced="isReduced"
        @toggleReduced="handleToggle"
      />
    </template>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { FinancialProposals } from '@/models/Simulation';
import Characteristics from '@/components/proposal/Characteristics.vue';
import { Prop } from 'vue-property-decorator';
import { Colors, defaultColors } from '@/models/Colors';
import CharacteristicsSofinco from '@/components/proposal/CharacteristicsSofinco.vue';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';

@Component({
  components: {
    'app-characteristics': Characteristics,
    'app-characteristics-sofinco': CharacteristicsSofinco
  }
})
export default class ProposalDetails extends Vue {
  @Prop() public title!: string;
  @Prop() public subTitle!: string;
  @Prop({ default: false }) public big!: boolean;
  @Prop({ default: false }) public inverted!: boolean;
  @Prop() public proposal!: FinancialProposals;
  @Prop() public simulationProposal: SimulationFinancialProposal;
  @Prop() public showInsurance!: boolean;
  @Prop({ default: false }) public canReduce!: boolean;
  @Prop({ default: true }) public isReduced!: boolean;
  @Prop({ default: () => defaultColors }) public colors!: Colors;
  @Prop({ default: false }) public isSofincoPartnerId!: boolean;

  public handleToggle(value: boolean) {
    this.$emit('toggleReduced', value);
  }
}
</script>

<style lang="scss" scoped>
.proposalDetails {
  & > * {
    color: $color-dark-light;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-dark-light;

  .title {
    font-size: 20px;
    font-family: $font-bold;
    line-height: 1.2;
    margin-bottom: 24px;
  }

  .subTitle {
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 15px;
    color: $color-grey-dark;
    @media screen and (min-width: $width_M) {
      font-size: 16px;
    }
  }

  .proposalEmpty {
    font-size: 13px;
    line-height: 1.23;
  }

  &.big {
    .title {
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 1.33;
      text-align: center;
      @media screen and (min-width: $width_M) {
        font-size: 24px;
      }
    }

    .subTitle {
      text-align: center;
    }
  }
}
</style>
