<template>
  <div class="keypad-component">
    <div v-if="!loading">
      <div class="keypad-wrapper">
        <div
          :style="{
            height: `${digitHeight * row + rowMargin * (row - 1)}px`,
            width: `${digitWidth * column + columnMargin * (column - 1)}px`,
            'background-image': `url(${keypadUrl})`
          }"
          class="keypad-container"
        >
          <div class="keypad-over">
            <span
              :style="{
                'margin-bottom': xIndex < row - 1 ? `${rowMargin}px` : '0px'
              }"
              class="keypad-over__row"
              v-bind:key="widthValue"
              v-for="(widthValue, xIndex) in row"
            >
              <a
                :style="{
                  width: `${digitWidth}px`,
                  height: `${digitHeight}px`,
                  'margin-left': yIndex ? '0' : '2px',
                  'margin-right': yIndex < column - 1 ? `${columnMargin - 1}px` : '2px'
                }"
                @click="handleClick(xIndex, yIndex)"
                class="keypad-over__row__item"
                v-bind:key="value"
                v-for="(value, yIndex) in column"
              ></a>
            </span>
          </div>
        </div>
      </div>
      <form :class="{ 'display-error': watchError }">
        <div
          :class="{
            error: !(pass && pass.length > 0),
            'no-margin-bottom': watchError
          }"
          class="input-container required"
        >
          <div class="inputContainer">
            <input
              :class="{ filled: pass && pass.length > 0 }"
              class="input-item required"
              disabled
              required
              type="password"
              v-model="pass"
            />
            <label class="input-label">{{ $t('souscription.connexion.codeAcces') }}</label>
            <button
              type="button"
              :class="{ show: pass && pass.length > 0 }"
              :disabled="!(pass && pass.length > 0)"
              @click="clear"
              class="input-clear"
            ></button>
          </div>
        </div>
        <div
          :class="{
            error: !(pass && pass.length > 0),
            filled: watchError
          }"
          class="error-message"
        >
          <img class="before" :src="`${baseUrl}/smiling-face.svg`" />
          {{ $t('souscription.connexion.motDePasseIncorrect') }}
        </div>
      </form>
    </div>
    <div v-else>CHARGEMENT...</div>
  </div>
</template>

<script lang="ts">
/**
 *
 * Copyright (c) 2018 - Credit Agricole Consumer Finance - All rights reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * This file can not be copied and/or distributed without the express permission of Credit Agricole Consumer Finance
 *
 */
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { IPosition } from '@/models/subscription/authentication/Keypad';

@Component({})
export default class Keypad extends Vue {
  public pass: string | null = null;
  public loading: boolean | null = false;

  @Prop({ default: false }) public reload!: boolean | null;
  @Prop({ default: null }) public keypadUrl!: string | null;
  @Prop({ default: 'passwordMask' }) private id!: string | null;
  @Prop({ default: 6 }) private maxLength: number;
  @Prop({ default: null }) private digitMasks!: number[] | null;
  @Prop({ default: 5 }) private column: number | null;
  @Prop({ default: 2 }) private row: number | null;
  @Prop({ default: 40 }) private digitWidth: number | null;
  @Prop({ default: 40 }) private digitHeight: number | null;
  @Prop({ default: 10 }) private rowMargin: number | null;
  @Prop({ default: 10 }) private columnMargin: number | null;
  @Prop() private setValue!: (value: any, fieldName: string) => void;

  private passPosition: IPosition[] = [];
  private watchError: boolean = false;

  public handleClick(x: number, y: number) {
    const linValue = this.matrixToLin({ x, y });
    const isClickable = this.digitMasks ? (this.digitMasks.length > linValue ? this.digitMasks[linValue] : true) : true;
    if (isClickable && this.passPosition.length < this.maxLength) {
      this.addPosition({ x, y });
    }
  }

  public clear() {
    this.passPosition = [];
    this.pass = null;
    this.updateValue(this.pass);
  }

  private addPosition(pos: IPosition) {
    this.passPosition.push(pos);
    this.pass ? (this.pass += '*') : (this.pass = '*');
    this.updateValue(this.pass);
  }

  private updateValue(value: string | null) {
    if (this.setValue) {
      this.setValue(this.formatPass(this.passPosition), this.id);
    }
  }

  private matrixToLin(pos: IPosition) {
    return pos.x * this.column + pos.y;
  }

  private formatPass(value: IPosition[]): string | null {
    if (value && value.length > 0) {
      return value
        .map((position) => {
          return '0' + this.matrixToLin(position);
        })
        .join('-');
    }
    return null;
  }

  @Watch('keypadUrl')
  private updateForm() {
    if (!this.keypadUrl) {
      this.watchError = true;
      this.clear();
    }
  }
}
</script>

<style lang="scss" scoped>
.keypad {
  &-component {
    .input-container {
      input[type='password'] {
        pointer-events: none;
      }
    }
  }

  &-wrapper {
    margin-bottom: $input-margin-bottom;
    padding: 30px 0;
    background-color: $color-bg-container;
    border-bottom-left-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;

    @media screen and (max-width: $width_S) {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      position: relative;
      left: -$form-padding-left-mobile;
      width: calc(100% + #{$form-padding-left-mobile} * 2);
    }
  }

  &-container {
    @include background;
    background-size: contain;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  &-over {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      &__item {
        @media screen and (min-width: $width_S) {
          &:hover {
            border-radius: 6px;
            border: solid 1px $color-main-light;
            background-color: rgba(50, 213, 221, 0.05);
            cursor: pointer;
          }
        }
      }
    }
  }
}
</style>
