<template>
  <app-popin
    :title="$t('souscription.pedagogicSteps.popin.titre')"
    :closeAction="closeModal"
    :active="opened"
    :colors="colors"
    :large="true"
  >
    <div class="innerContent">
      <app-attachments
        :hideTitle="true"
        :alternativeDisplay="true"
        :pjsNbr="displayedPjsNbr"
        :pjsKey="displayedPjsKey"
        :colors="colors"
      ></app-attachments>
    </div>
  </app-popin>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import Popin from '@/components/graphic/Popin.vue';
import { Prop } from 'vue-property-decorator';
import Attachments from '@/components/Attachments.vue';
import { Colors } from '@/models/Colors';
import { Getter, State } from 'vuex-class';
import { RoutePathId } from '@/models/RoutesPath';

@Component({
  components: {
    'app-popin': Popin,
    'app-attachments': Attachments
  }
})
export default class AttachmentPopIn extends Vue {
  @Prop() public opened!: boolean;
  @Prop() public closeModal!: () => void;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @Getter('getStep') public getStep!: any;
  @Prop() public pjsNbr!: number;
  @Prop() public pjsKey!: string;

  public displayedPjsNbr!: number;
  public displayedPjsKey!: string;

  public created() {
    // get current step
    const currentStep = this.getStep(RoutePathId.SIMULATION);
    // get PJ sub step
    const pjStep =
      currentStep && currentStep.steps ? currentStep.steps.find((step: any) => step.pathId === 'attachments') : null;

    // get number of PJ to display
    this.displayedPjsNbr =
      pjStep && pjStep.screenOptions && pjStep.screenOptions['attachments-length']
        ? pjStep.screenOptions['attachments-length'].value
        : this.pjsNbr;
    // get key for wording
    this.displayedPjsKey =
      pjStep && pjStep.screenOptions && pjStep.screenOptions['attachments-key']
        ? pjStep.screenOptions['attachments-key'].value
        : this.pjsKey;
  }
}
</script>

<style scoped lang="scss">
.innerContent {
  color: $color-grey-black;
  max-height: 100vh;
  padding: 24px 0;
  overflow-y: auto;

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    padding: 5px 0 40px;
  }
}
</style>
