<template>
  <div class="beforeleave-popin" v-if="showBeforeLeavePopin">
    <div :class="{ show: showBeforeLeavePopinOverlay }" @click="hideBeforeLeavePopin" class="overlay"></div>
    <div :class="{ show: showBeforeLeavePopinContent }" class="beforeleave-popin-container">
      <div @click="hideBeforeLeavePopin" class="close"></div>
      <h2 class="beforeleave-popin__title">{{ $t('souscription.interruptibilite.popin.titre') }}</h2>
      <div v-if="hasInterruptibility">
        <div v-show="currentBeforeLeaveStep === BeforeLeaveStep.NOTSAVEABLE">
          <p class="beforeleave-popin__subtitle block-desktop">
            {{ $t('souscription.interruptibilite.popin.desktop.quitterSansSauverTitre') }}
          </p>
          <p
            class="beforeleave-popin__text block-desktop"
            v-html="$t('souscription.interruptibilite.popin.desktop.quitterSansSauverSousTitre')"
          ></p>
          <p
            class="beforeleave-popin__text block-mobile"
            v-html="$t('souscription.interruptibilite.popin.mobile.quitterSansSauverText')"
          ></p>
        </div>
        <div v-show="currentBeforeLeaveStep === BeforeLeaveStep.JUSTSTARTED">
          <p class="beforeleave-popin__subtitle block-desktop">
            {{ $t('souscription.interruptibilite.popin.desktop.quitterDebutTitre') }}
          </p>
          <p
            class="beforeleave-popin__text block-desktop"
            v-html="$t('souscription.interruptibilite.popin.desktop.quitterDebutSousTitre')"
          ></p>
          <p
            class="beforeleave-popin__text block-mobile"
            v-html="$t('souscription.interruptibilite.popin.mobile.quitterDebutText')"
          ></p>
        </div>
        <div v-show="currentBeforeLeaveStep === BeforeLeaveStep.HALFWAY">
          <p class="beforeleave-popin__subtitle block-desktop">
            {{ $t('souscription.interruptibilite.popin.desktop.quitterMilieuTitre') }}
          </p>
          <p
            class="beforeleave-popin__text block-desktop"
            v-html="$t('souscription.interruptibilite.popin.desktop.quitterMilieuSousTitre')"
          ></p>
          <p
            class="beforeleave-popin__text block-mobile"
            v-html="$t('souscription.interruptibilite.popin.mobile.quitterMilieuText')"
          ></p>
          <img class="beforeleave-popin__img" :src="`${baseUrl}/halfway-done.svg`" alt="Moitié du parcours" />
        </div>
        <div v-show="currentBeforeLeaveStep === BeforeLeaveStep.ALMOSTFINISHED">
          <p class="beforeleave-popin__subtitle block-desktop">
            {{ $t('souscription.interruptibilite.popin.desktop.quitterFinTitre') }}
          </p>
          <p
            class="beforeleave-popin__text block-desktop"
            v-html="$t('souscription.interruptibilite.popin.desktop.quitterFinSousTitre')"
          ></p>
          <p
            class="beforeleave-popin__text block-mobile"
            v-html="$t('souscription.interruptibilite.popin.mobile.quitterFinText')"
          ></p>
          <img class="beforeleave-popin__img" :src="`${baseUrl}/almost-finished.svg`" alt="Fin du parcours" />
        </div>
        <div v-show="currentBeforeLeaveStep === BeforeLeaveStep.FINISHED">
          <p
            class="beforeleave-popin__subtitle block-desktop"
            v-html="$t('souscription.interruptibilite.popin.desktop.quitterAccordDePrincipeTitre')"
          />
          <div class="beforeleave-popin__contract-id">
            {{ response ? response.contractId : '' }}
          </div>
          <p
            class="beforeleave-popin__text block-desktop"
            v-html="$t('souscription.interruptibilite.popin.desktop.quitterAccordDePrincipeSousTitre')"
          />
          <p
            class="beforeleave-popin__text block-mobile"
            v-html="
              $t('souscription.interruptibilite.popin.mobile.quitterAccordDePrincipeText', {
                contractId: response ? response.contractId : ''
              })
            "
          />
        </div>
      </div>
      <div v-else>
        <p class="beforeleave-popin__subtitle">
          {{ $t('souscription.interruptibilite.popin.desktop.quitterSansInterrupTitre') }}
        </p>
        <p
          class="beforeleave-popin__text"
          v-html="$t('souscription.interruptibilite.popin.desktop.quitterSansInterrupSousTitre')"
        ></p>
      </div>
      <div class="beforeleave-popin__buttons flex-desktop">
        <app-button
          type="button"
          :label="getQuitButtonTextOnDesktop"
          :is-back-button="true"
          :no-chevron="true"
          :on-click="leaveForm"
          :colors="colors"
        />
        <app-button
          type="button"
          :label="$t('souscription.interruptibilite.popin.desktop.ctaContinuer')"
          :no-chevron="true"
          :on-click="hideBeforeLeavePopin"
          :colors="colors"
        />
      </div>
      <div class="beforeleave-popin__buttons flex-mobile">
        <button class="button no-bg" @click="leaveForm">
          {{ getQuitButtonTextOnMobile }}
        </button>
        <button class="button inverted" @click.prevent="hideBeforeLeavePopin">
          {{ $t('souscription.interruptibilite.popin.mobile.ctaContinuer') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Emit, Prop } from 'vue-property-decorator';
import { Getter, State } from 'vuex-class';
import { BeforeLeaveStep } from '@/models/subscription/BeforeLeaveStep';
import Button from '@/components/graphic/Button.vue';
import { Colors } from '@/models/Colors';
import { RootState } from '@/store/types';
import { FolderResponse } from '@/models/subscription/FolderResponse';

@Component({
  components: {
    'app-button': Button
  }
})
export default class BeforeLeavePopin extends Vue {
  @Prop({ default: false }) private isDisplay!: boolean;

  @State((state: RootState) => state.apiConfig.colors) private colors!: Colors;
  @State((state: RootState) => state.subscription.response) private response!: FolderResponse;

  @Getter private getBeforeLeaveStep: (hasInterruptibility: boolean) => BeforeLeaveStep;
  @Getter private screenOption: (key: string) => any;

  private readonly BeforeLeaveStep = BeforeLeaveStep;

  private showBeforeLeavePopin: boolean = false;
  private showBeforeLeavePopinOverlay: boolean = false;
  private showBeforeLeavePopinContent: boolean = false;

  private get currentBeforeLeaveStep(): BeforeLeaveStep {
    return this.getBeforeLeaveStep(this.hasInterruptibility);
  }

  private get hasInterruptibility(): boolean {
    return this.screenOption('has-interruptibility');
  }

  private get getQuitButtonTextOnDesktop() {
    if (!this.hasInterruptibility || this.currentBeforeLeaveStep === BeforeLeaveStep.NOTSAVEABLE) {
      return this.$t('souscription.interruptibilite.popin.desktop.ctaRetourAccueil');
    } else {
      return this.$t('souscription.interruptibilite.popin.desktop.ctaValiderQuitter');
    }
  }

  private get getQuitButtonTextOnMobile() {
    if (!this.hasInterruptibility || this.currentBeforeLeaveStep === BeforeLeaveStep.NOTSAVEABLE) {
      return this.$t('souscription.interruptibilite.popin.mobile.ctaRetourAccueil');
    } else {
      return this.$t('souscription.interruptibilite.popin.mobile.ctaValiderQuitter');
    }
  }

  private created() {
    if (this.isDisplay) {
      this.displayBeforeLeavePopin();
    }
  }

  private displayBeforeLeavePopin() {
    this.showBeforeLeavePopin = true;
    setTimeout(() => {
      this.showBeforeLeavePopinOverlay = true;
    }, 100);
    setTimeout(() => {
      this.showBeforeLeavePopinContent = true;
    }, 300);
  }

  private hideBeforeLeavePopin() {
    this.showBeforeLeavePopinOverlay = false;
    this.showBeforeLeavePopinContent = false;
    setTimeout(() => {
      this.showBeforeLeavePopin = false;
      this.emitOnModalClose();
    }, 300);
  }

  private leaveForm() {
    this.hideBeforeLeavePopin();
    this.emitOnLeave();
  }

  @Emit('onClose')
  private emitOnModalClose() {
    // Do nothing
  }

  @Emit('onLeave')
  private emitOnLeave() {
    // Do nothing
  }
}
</script>
<style lang="scss" scoped>
.beforeleave-popin {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $popup-zindex;
  width: 100vw;
  height: 100vh;

  @media screen and (max-width: $width_S) {
    position: relative;
    height: auto;
    margin-bottom: calc(-#{$progress-bar-height});
    top: 0px;
    z-index: $popup-content-zindex;
  }

  .overlay {
    opacity: 0;

    &.show {
      opacity: 1;
    }

    @media screen and (max-width: $width_S) {
      display: none;
    }
  }

  &-container {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: $popup-content-zindex;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 7px 1px rgba(49, 109, 104, 0.33);
    width: grid(8);
    padding: 40px 60px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    max-width: 615px;

    @media screen and (max-width: $width_S) {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      background-color: $color-partner-2;
      border-radius: 0;
      box-shadow: 0 0 0 0;
      width: 100%;
      padding: $form-padding-left-mobile;
      text-align: left;
      max-width: none;
    }

    &.show {
      opacity: 1;
    }

    .close {
      @include cross(20px, $color-partner-2);
      position: absolute;
      top: 25px;
      right: 30px;
      cursor: pointer;

      @media screen and (max-width: $width_S) {
        display: none;
      }
    }
  }

  &__img {
    @media screen and (max-width: $width_S) {
      display: none;
    }
  }

  &__title {
    font-family: $font-bold;
    font-size: 32px;
    color: #1aaeb7;
    margin-bottom: 40px;

    @media screen and (max-width: $width_S) {
      font-size: 16px;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    font-family: $font-bold;
    font-size: 16px;
    max-width: 340px;
    color: #000000;
    margin: 0 auto 10px;

    @media screen and (max-width: $width_S) {
      font-family: $font-regular;
      font-size: 14px;
      line-height: 20px;
      max-width: none;
      color: #ffffff;
      margin: 0;
    }
  }

  &__text {
    font-family: $font-regular;
    font-size: 16px;
    line-height: 20px;
    color: $color-form-text;
    margin-bottom: 20px;

    @media screen and (max-width: $width_S) {
      font-size: 14px;
      color: #ffffff;
      margin-bottom: 0;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0 10px;
    margin-top: 40px;
    width: 100%;

    @media screen and (min-width: $width_S) {
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0 0 0;
    }

    @media screen and (min-width: $width_M) {
      padding: 0;
      margin-top: 40px;
    }

    @media screen and (max-width: $width_S) {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 15px;

      .button {
        font-family: $font-bold;
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        border: 1px solid $color-partner-2;
        border-radius: 30px;
        background-color: $color-partner-2;
        color: $color-cta-text;
        padding: 10px 15px;

        &.no-bg {
          border: 1px solid $color-white;
          color: $color-white;
          background-color: transparent;
        }

        &.inverted {
          border: 1px solid $color-cta-text;
          color: $color-partner-2;
          background-color: $color-cta-text;
        }

        &:first-child {
          margin-right: 20px;
        }

        &:first-child {
          margin-right: 15px;

          @media screen and (max-width: $width_S) {
            margin-right: 20px;
          }
        }

        &:last-child {
          margin-left: 15px;

          @media screen and (max-width: $width_S) {
            margin-left: 0;
          }
        }
      }
    }
  }

  &__contract-id {
    display: block;
    font-family: $font-bold;
    font-size: 24px;
    color: $color-partner-1;
    text-align: center;
    border: 1px solid #b7cac8;
    width: 100%;
    max-width: 354px;
    min-height: 50px;
    margin: 22px auto;
    padding: 5px 20px;

    @media screen and (max-width: $width_S) {
      display: none;
    }
  }

  .flex {
    &-desktop {
      display: flex;

      @media screen and (max-width: $width_S) {
        display: none;
      }
    }

    &-mobile {
      display: none;

      @media screen and (max-width: $width_S) {
        display: flex;
      }
    }
  }

  .block {
    &-desktop {
      display: block;

      @media screen and (max-width: $width_S) {
        display: none;
      }
    }

    &-mobile {
      display: none;

      @media screen and (max-width: $width_S) {
        display: block;
      }
    }
  }
}
</style>
