<template>
  <app-popin
    ref="popin"
    :title="$t('CardChoice.titre')"
    :closeAction="closeModal"
    :active="opened"
    :colors="colors"
    :bigHeader="true"
    :popinHeader="false"
    :rightSideBar="false"
    :headerColor="colors.primary"
    :high="true"
    :hasDisableBodyScroll="false"
  >
    <div ref="cardChoiceContainer" class="popup-container">
      <div class="card-choice-content" id="card-choice-content" :style="{ height: heightContent }">
        <p class="card-choice__text" v-html="$t('CardChoice.texte1')"></p>
        <h3 class="card-choice__subtitle" v-html="$t('CardChoice.sousTitre1')"></h3>

        <div class="card-selection">
          <select-inputs
            :setValue="updateCreditCard"
            :value="creditCard"
            :inputs="[cards.P, cards.I, cards.S]"
            :inputType="inputsCard"
            :showError="showError"
          ></select-inputs>
        </div>
        <div v-show="creditCard !== cards.S">
          <h3 class="card-choice__subtitle" v-html="$t('CardChoice.sousTitre2')"></h3>
          <p class="card-choice__text" v-html="$t('CardChoice.texte2')"></p>
          <div class="card-choice__choice-alert" ref="alertChoice">
            <div class="legal-validation type-radio" :class="{ error: showError && !cardChoiceAlert }">
              <input
                id="cardChoiceEmailAlert"
                type="radio"
                name="cardChoiceAlert"
                @change="setCardChoiceAlert"
                value="E"
                v-model="cardChoiceAlert"
              />
              <label for="cardChoiceEmailAlert">
                par email
                <span data-cs-mask>({{ principal.contact.email }})</span>
              </label>
              <input
                id="cardChoiceSMSAlert"
                type="radio"
                name="cardChoiceAlert"
                @change="setCardChoiceAlert"
                value="S"
                v-model="cardChoiceAlert"
              />
              <label for="cardChoiceSMSAlert">
                par SMS
                <span data-cs-mask>({{ principal.contact.mobilePhone }})</span>
              </label>
            </div>
          </div>
          <h3 class="card-choice__subtitle" v-html="$t('CardChoice.sousTitre3')"></h3>
          <div class="card-choice__address">
            <p class="card-choice__text" v-html="$t('CardChoice.address')"></p>
            <div class="card-choice__address-text" data-cs-mask>
              {{ principal.name.lastName }} {{ principal.name.firstName }} <br />{{ principal.adresse.adresseLabel }}
              <span v-if="principal.adresse.complementAdresse"> <br />{{ principal.adresse.complementAdresse }} </span>
              <br />{{ principal.adresse.adresseCity ? principal.adresse.adresseCity.code : '' }}
              {{ principal.adresse.adresseCity ? removePostalCode(principal.adresse.adresseCity.label) : '' }}
            </div>
          </div>
        </div>

        <app-button
          class="button-container"
          :noChevron="true"
          :label="$t('CardChoice.continuer')"
          :onClick="handleProceedButtonClick"
          :flat="false"
        />

        <p class="card-choice__footer" v-html="$t('CardChoice.footer')"></p>
      </div>
    </div>
  </app-popin>
</template>

<script lang="ts">
import Vue from 'vue';
import { Mutation, State } from 'vuex-class';
import { Prop, Watch } from 'vue-property-decorator';
import Component from 'vue-class-component';

import Popin from '@/components/graphic/Popin.vue';
import Button from '@/components/graphic/Button.vue';
import { SubscriptionData } from '@/store/types';
import SelectInputs from '@/components/graphic/SelectInputs.vue';
import { CardType } from '@/models/card';
import { Colors } from '@/models/Colors';
import { removeScroll } from '@/utils/scroll';

@Component({
  components: {
    'app-popin': Popin,
    'app-button': Button,
    'select-inputs': SelectInputs
  }
})
export default class CardChoicePopin extends Vue {
  @Prop() private opened!: boolean;
  @Prop() private closeModal!: () => void;
  @State((state) => state.subscription.principal) private principal!: SubscriptionData;
  @State((state) => state.apiConfig.colors) private colors!: Colors;
  private showError: boolean = false;
  private agreement: boolean = false;
  private heightContent: string = '0px';
  private cardChoiceAlert: string = null;
  @Mutation private updateCardChoiceAlert!: (cardChoiceAlert: string) => void;
  @Mutation
  private updateCreditCardChosen!: (creditCardChosen: boolean) => void;
  @State((state) => state.subscription.creditCard) private creditCard: CardType;
  @Mutation private updateCreditCard!: (card: CardType) => void;

  private cards: any = CardType;
  private inputsCard: any = 3;

  @Watch('opened')
  private init() {
    this.getHeightContent();
  }

  private removePostalCode(s: string): string {
    const regExp = new RegExp(' \\(\\d*\\)$');
    return s.replace(regExp, '');
  }

  private created() {
    window.addEventListener('resize', this.getHeightContent, false);
  }

  private mounted() {
    if (this.$refs.cardChoiceContainer) {
      removeScroll(this.$refs.cardChoiceContent as HTMLDivElement);
    }
  }

  private handleProceedButtonClick() {
    this.showError = !(this.creditCard && (this.cardChoiceAlert || this.creditCard === CardType.S));

    if (!this.showError) {
      this.updateCreditCardChosen(true);
      this.closeModal();
      this.$emit('closeCardChoicePopin');
      // link to upload
      //  this.$router.push({ name: "loadingPage", params: { type: SignatureType.ELECTRONIC_SIGNATURE } });
    } else {
      this.$scrollTo(this.$refs.alertChoice as HTMLDivElement, { container: '#card-choice-content' });
    }
  }

  private getHeightContent() {
    setTimeout(() => {
      const cardChoiceContainer = this.$refs.cardChoiceContainer as HTMLDivElement;
      if (cardChoiceContainer) {
        const windowWidth = window.screen.width;
        this.heightContent = cardChoiceContainer.offsetHeight + (windowWidth < 768 ? 50 : -30) + 'px';
      }
    });
  }

  private setCardChoiceAlert() {
    this.updateCardChoiceAlert(this.cardChoiceAlert);
  }
}
</script>

<style lang="scss" scoped>
.popup-container {
  height: 80%;
  text-align: left;

  @media screen and (max-width: $width_S) {
    height: 100%;
  }
  padding: 0 20px;
  @media screen and (min-width: $width_S + 1) {
    padding: 0 50px;
  }
}

.card-choice {
  &__title {
    font-family: $font-bold;
    font-size: 32px;
    line-height: 36px;
    color: $color-partner-1;
    padding: 40px 0 25px;

    @media screen and (max-width: $width_S) {
      font-size: 22px;
      line-height: 26px;
      padding: 20px 0;
    }

    @media screen and (max-width: $width_XS) {
      padding: 20px 0 10px;
    }
  }

  &__subtitle {
    font-family: $font-bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 20px;

    @media screen and (max-width: $width_XS) {
      margin-bottom: 15px;
    }
  }

  &__text {
    font-family: $font-regular;
    font-size: 14px;
    line-height: 18px;
    color: $color-form-text;
    margin-bottom: 20px;

    @media screen and (max-width: $width_XS) {
      margin: 10px 0;
    }
  }

  &-content {
    padding-right: 10px;
    overflow: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-partner-1;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #f5f5f5;
    }
    .button-container {
      text-align: center;
      margin: 20px 0;
      padding: 15px 30px;
      @media screen and (min-width: $width_S) {
        &:not(.loading):hover {
          box-shadow: 0 6px 10px -5px var(--color-partner-4-05);
          background-color: var(--color-partner-4-07);
        }
      }
    }
  }

  &__choice-alert {
    margin-bottom: 30px;

    .legal-validation.type-radio {
      border: 0 none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;

      &.error:not(.valid) {
        background-color: transparent;
      }

      label {
        font-family: $font-regular;
        margin-left: 0;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      input:checked + label {
        color: $color-grey-dark;

        span {
          color: $color-partner-1;
        }
      }
    }
  }

  &__address {
    .card-choice__text {
      margin-bottom: 10px;
    }

    &-text {
      font-family: $font-regular;
      font-size: 14px;
      line-height: 18px;
      color: $color-main-dark;
      background-color: $bg-color-input-active;
      display: inline-block;
      padding: 15px 55px 15px 15px;
    }
  }

  &__footer {
    margin-top: 10px;
    font-family: $font-regular;
    font-size: 11px;
    line-height: normal;
    text-align: left;
    color: #cccccc;
  }
}
</style>
