<template>
  <app-popin
    :title="$t('souscription.reponseDePrincipe.ok.popin.titre')"
    :closeAction="closeModal"
    :active="opened"
    :colors="colors"
  >
    <div class="innerContent">
      <div class="subTitle">{{ $t('souscription.reponseDePrincipe.ok.popin.sousTitre') }}</div>
      <div class="stepContainer">
        <div class="step">
          <div class="imageContainer">
            <svg xmlns="http://www.w3.org/2000/svg" width="58" height="49" viewBox="0 0 58 49">
              <g fill="none" fill-rule="evenodd">
                <path :style="{ stroke: colors.primary }" stroke-width="1.98" d="M19.081 6.38h20.044v19.58H19.081z" />
                <rect
                  width="45.215"
                  height="19.58"
                  x="6.496"
                  y="20.24"
                  fill="#FFF"
                  :style="{ stroke: colors.primary }"
                  stroke-width="1.98"
                  rx=".99"
                />
                <rect
                  width="26.337"
                  height="5.72"
                  x="15.935"
                  y="34.1"
                  fill="#FFF"
                  :style="{ stroke: colors.primary }"
                  stroke-width="1.98"
                  rx=".99"
                />
                <path :style="{ fill: colors.primary }" d="M11.799 25.41h2.36v2.31h-2.36z" />
                <path
                  fill="#FFF"
                  :style="{ stroke: colors.primary }"
                  stroke-width="1.98"
                  d="M19.081 37.18h20.044v7.26H19.081z"
                />
              </g>
            </svg>
          </div>
          <div class="text">
            {{ $t('souscription.reponseDePrincipe.ok.popin.steps.1.titre') }}
          </div>
          <div class="separator"></div>
        </div>
        <div class="step">
          <div class="imageContainer">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="51" viewBox="0 0 60 51">
              <g :style="{ fill: colors.primary }" fill-rule="nonzero">
                <path d="M34.615 44.706H6.147V8.219h26.696V6.215h-28.7V46.71h32.476v-8.629h-2.004z" />
                <path
                  d="M12.161 16.238v2.005h16.52v-2.005zM12.161 23.456v2.004h16.52v-2.004zM18 33.92l.993.868.406.348c.254.216.481.401.713.582 2.25 1.763 4.073 2.331 5.773 1.1a1.083 1.083 0 0 0-1.177-1.814l-.093.06c-.652.472-1.603.176-3.168-1.05l-.273-.218-.286-.236c-.148-.124-.307-.26-.483-.414L19.22 32.11c-2.503-2.168-3.292-2.588-4.694-2.233-.156.04-.301.114-.425.216-.91.755-.842 1.974-.372 4.366.268 1.363-.04 2.71-.964 4.097a1.083 1.083 0 0 0 1.802 1.2c1.228-1.844 1.67-3.767 1.287-5.714a14.822 14.822 0 0 1-.24-1.586l-.018-.281-.003-.09c.464.226 1.188.78 2.406 1.835z"
                />
                <path
                  d="M53.906 9.145a6.75 6.75 0 0 1-.355 9.297L37.6 33.974l-9.57 2.626a2.346 2.346 0 0 1-2.86-2.958l2.75-8.84L44.402 8.774a6.562 6.562 0 0 1 9.12-.03l.16.16.223.241zm-1.614 8.005a4.945 4.945 0 0 0 .288-6.78l-.139-.154-.2-.2a4.758 4.758 0 0 0-6.58.051L29.507 25.776l-2.613 8.401a.541.541 0 0 0 .66.683l9.122-2.503L52.292 17.15z"
                />
                <path
                  d="M44.411 9.73l-1.276 1.276 8.493 8.493 1.276-1.276zM30.736 24.165l-1.313 1.238 6.985 7.402 1.312-1.238z"
                />
              </g>
            </svg>
          </div>
          <div class="text">
            {{ $t('souscription.reponseDePrincipe.ok.popin.steps.2.titre') }}
          </div>
          <div class="separator"></div>
        </div>
        <div class="step">
          <div class="imageContainer">
            <svg xmlns="http://www.w3.org/2000/svg" width="58" height="50" viewBox="0 0 58 50">
              <g fill="none" fill-rule="evenodd">
                <path
                  :style="{ fill: colors.primary }"
                  fill-rule="nonzero"
                  d="M34.61 13.357v2.357h3.146v-2.357zM34.61 22v2.357h3.146V22zM34.61 30.643V33h3.146v-2.357z"
                />
                <path
                  :style="{ stroke: colors.primary }"
                  stroke-width="2.475"
                  d="M13.372 9.307V3.143h32.25v40.071H35.317"
                />
                <path :style="{ stroke: colors.primary }" stroke-width="2.475" d="M3.597 9.095h30.561v37.596H3.597z" />
                <path
                  :style="{ fill: colors.primary }"
                  fill-rule="nonzero"
                  d="M10.225 29.857v1.964h16.99v-1.964zM10.225 36.929v1.964h16.99v-1.964z"
                />
                <path :style="{ stroke: colors.primary }" stroke-width="1.98" d="M11.215 15.919h14.931v7.449H11.215z" />
              </g>
            </svg>
          </div>
          <div class="content">
            <div class="text">
              {{ $t('souscription.reponseDePrincipe.ok.popin.steps.3.titre') }}
            </div>
            <div
              class="reponseTooltip"
              :style="{ backgroundColor: this.hexToRgb(colors.primary, 0.1), color: colors.primary }"
            >
              {{ $t('souscription.reponseDePrincipe.ok.popin.steps.3.tooltip') }}
            </div>
          </div>
          <div class="separator"></div>
        </div>
        <div class="step">
          <div class="imageContainer">
            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="31" viewBox="0 0 46 31">
              <g fill="none" fill-rule="evenodd" :style="{ stroke: colors.primary }" stroke-width="2.25">
                <path d="M1.739 28.595l16.004-13.257M44.209 28.595L28.204 15.338" />
                <path stroke-linejoin="round" d="M1.739 1.648l21.117 16.84L44.38 1.649" />
                <rect width="43.462" height="28.425" x="1.125" y="1.125" rx="1.203" />
              </g>
            </svg>
          </div>
          <div class="text">
            {{ $t('souscription.reponseDePrincipe.ok.popin.steps.4.titre') }}
          </div>
        </div>
      </div>
      <div class="ctaContainer">
        <app-button
          :label="$t('souscription.reponseDePrincipe.ok.popin.cta')"
          :onClick="handleChooseClick"
          :colors="colors"
          class="cta"
          :loading="fetching"
          :noChevron="true"
        >
        </app-button>
      </div>
    </div>
  </app-popin>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import Popin from '@/components/graphic/Popin.vue';
import Button from '@/components/graphic/Button.vue';
import { Prop } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import { State } from 'vuex-class';
import SubscriptionApi from '@/services/SubscriptionApi';
import { FolderResponse } from '@/models/subscription/FolderResponse';
import { saveAs } from 'file-saver';

@Component({
  components: {
    'app-popin': Popin,
    'app-button': Button
  }
})
export default class DownloadFolderPopin extends Vue {
  @Prop() public opened!: boolean;
  @Prop() public closeModal!: () => void;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.apiConfig.appConfiguration.screenOptions) public screenOptions!: any | null;
  @State((state) => state.subscription.response) public response!: FolderResponse;
  public subscriptionApi: SubscriptionApi;
  public fetching = false;

  constructor() {
    super();
    this.subscriptionApi = new SubscriptionApi();
  }
  public handleChooseClick() {
    this.fetching = true;
    this.subscriptionApi
      .getContract(this.response.contractId, this.response.contractToken.idToken)
      .then((res: any) => {
        const blob = new Blob([res.data], { type: 'application/pdf' });
        saveAs(blob, 'contrat.pdf');
        this.fetching = false;
      })
      .catch(() => {
        this.fetching = false;
      });
  }
}
</script>

<style scoped lang="scss">
.innerContent {
  color: $color-grey-black;
  max-height: 100vh;
  padding: 25px 30px 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 375px) {
    padding: 25px 50px 0;
  }

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    padding: 0 25px 35px;
  }

  .subTitle {
    font-size: 16px;
    font-family: $font-bold;
    line-height: 1.25;
    margin: 0 auto 40px auto;

    @media screen and (min-width: $width_M) {
      margin-left: 25px;
    }
  }

  .stepContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;

    @media screen and (min-width: $width_S) {
      flex-direction: row;
      margin-bottom: 35px;
    }

    .step {
      display: flex;
      align-items: center;
      max-width: 260px;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 50px;
        @media screen and (min-width: $width_S) {
          margin-bottom: 0;
          margin-right: 10px;
        }
      }

      @media screen and (min-width: $width_S) {
        flex-direction: column;
        text-align: center;
        max-width: 160px;
        width: 100%;
        margin-bottom: 0;
      }

      &:nth-child(3) {
        .imageContainer {
          align-self: end;
        }
      }

      @media screen and (min-width: $width_S) {
        &:nth-child(2) {
          .imageContainer {
            margin-left: 15px;
          }
        }

        &:nth-child(3) {
          .imageContainer {
            align-self: center;
          }
        }
      }

      .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 51px;
        min-width: 58px;
        margin-right: 15px;
        @media screen and (min-width: $width_S) {
          margin-bottom: 15px;
          margin-right: 0;
        }
      }

      .text {
        width: 100%;
        font-size: 16px;
        font-family: $font-bold;
        line-height: 1.25;
      }

      .content {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-family: $font-bold;
        line-height: 1.25;
        width: 100%;
        @media screen and (min-width: $width_S) {
          align-items: center;
        }
        .reponseTooltip {
          margin-top: 10px;
          padding: 5px 10px;
          font-size: 14px;
          line-height: 1.43;
          @media screen and (min-width: $width_S) {
            margin-top: 15px;
            max-width: 120px;
          }
        }
      }

      .separator {
        display: none;
        @media screen and (min-width: $width_S) {
          display: block;
          background-image: linear-gradient(to right, black 45%, rgba(255, 255, 255, 0) 0%);
          background-position: bottom;
          background-size: 8px 1px;
          background-repeat: repeat-x;
          width: 71px;
          margin: 28px 25px 0 25px;
          height: 1px;
          position: absolute;
          transform: translateX(95%);
          top: 0;
          right: 0;
        }
      }
    }
  }
  .ctaContainer {
    @include center-bloc;
    @media screen and (max-width: 767px) {
      background-color: $color-white;
      box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
      padding: 10px 25px;
      position: fixed;
      transform: translateZ(0);
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      .cta {
        align-self: center;

        @media screen and (min-width: $width_S) {
          min-width: 280px;
        }
      }
    }
  }
}
</style>
