<template>
  <app-popin
    ref="popin"
    :title="title()"
    :closeAction="closeModal"
    :active="opened"
    :colors="colors"
    :bigHeader="true"
    :popinHeader="false"
    :rightSideBar="false"
    :headerColor="colors.primary"
    :high="true"
  >
    <div class="popup-container" ref="popupContainer">
      <div class="form-title" ref="titleContainer" v-html="$t('SignaturePapier.titre')"></div>
      <div class="popup-inner" :style="{ height: heightContent }">
        <p class="popup__text" v-html="$t('SignaturePapier.consigne1')"></p>
        <p class="popup__text" v-html="$t('SignaturePapier.consigne2')"></p>
        <h3 class="popup__subtitle" v-html="$t('SignaturePapier.commentContrat')"></h3>
        <ul>
          <li class="popup__step">
            <img :src="`${baseUrl}/icon-folder.svg`" class="popup__step-img" alt="Dossider à constituer" />
            <div>
              <h4 class="popup__step-title" v-html="$t('SignaturePapier.commentPoint1')"></h4>
              <p class="popup__step-text" v-html="$t('SignaturePapier.commentPoint1Detail')"></p>
            </div>
          </li>
          <li class="popup__step">
            <img :src="`${baseUrl}/send.svg`" class="popup__step-img" alt="Vérification de votre dossier" />
            <div>
              <h4 class="popup__step-title" v-html="$t('SignaturePapier.commentPoint2')"></h4>
              <p class="popup__step-text" v-html="$t('SignaturePapier.commentPoint2Detail')"></p>
              <div class="popup__step-address" v-html="$t('SignaturePapier.adresse')"></div>
            </div>
          </li>
          <li class="popup__step">
            <img :src="`${baseUrl}/follow.svg`" class="popup__step-img" alt="Suivre l'avancée de votre dossier" />
            <div>
              <h4 class="popup__step-title" v-html="$t('SignaturePapier.commentPoint3')"></h4>
              <p class="popup__step-text" v-html="$t('SignaturePapier.commentPoint3Detail')"></p>
            </div>
          </li>
        </ul>
        <app-button
          type="button"
          :fullSizeMobile="true"
          :loading="loading"
          :iconSmall="true"
          :icon="'icon-Icon_Download_PDF_White'"
          :noUpperCase="false"
          :noChevron="true"
          :label="$t('SignaturePapier.telechargerDossier')"
          :onClick="download"
          :colors="colors"
        />
      </div>
    </div>
  </app-popin>
</template>

<script lang="ts">
import Vue from 'vue';
import { Prop, Watch, Component } from 'vue-property-decorator';
import { State } from 'vuex-class';

import { saveAs } from 'file-saver';

import Config from '@/config/config.ts';

import SubscriptionApi from '@/services/SubscriptionApi';
import { testIsMobile } from '@/utils/browsers';

import { Colors } from '@/models/Colors';
import { FolderResponse } from '@/models/subscription/FolderResponse';

import Button from '@/components/graphic/Button.vue';
import Popin from '@/components/graphic/Popin.vue';
import CheckboxCustom from '@/components/input/CheckboxCustom.vue';

@Component({
  components: {
    'checkbox-custom': CheckboxCustom,
    'app-popin': Popin,
    'app-button': Button
  }
})
export default class PaperContractPopup extends Vue {
  @State((state) => state.subscription.response) private response!: FolderResponse;
  @State((state) => state.apiConfig.colors) private colors!: Colors;

  private loading: boolean = false;
  private heightContent: string = '0px';

  @Prop() private opened: boolean;

  @Prop() private closeModal!: () => {};

  private title() {
    return testIsMobile()
      ? this.$t('souscription.reponseDePrincipe.ok.ContractTitle').toString()
      : this.$t('SignaturePapier.titre').toString();
  }

  private getHeightContent() {
    setTimeout(() => {
      const heightContainer = (this.$refs as any).popupContainer.offsetHeight;
      const heightTitle = (this.$refs as any).titleContainer.offsetHeight;
      this.heightContent = heightContainer - heightTitle + 'px';
    });
  }

  @Watch('opened')
  private init() {
    this.getHeightContent();
  }

  private download() {
    this.loading = true;
    new SubscriptionApi().getContract(this.response.contractId, this.response.contractToken.idToken).then((res) => {
      const blob = new Blob([res.data], { type: 'application/pdf' });
      saveAs(blob, 'contrat.pdf');
      this.loading = false;
    });
  }
}
</script>

<style lang="scss" scoped>
.popup {
  &-container {
    height: 70%;

    .button {
      margin: 20px 0;
    }
    padding: 0 50px;
    text-align: left;

    @media screen and (max-width: $width_S) {
      padding: 20px 20px 30px 20px;
      height: 100%;
    }

    .form-title {
      font-family: $font-bold;
      font-size: 30px;
      line-height: 34px;
      color: $color-partner-1;
      margin-bottom: 25px;
      @media screen and (min-width: $width_S) {
        display: none;
      }
      @media screen and (max-width: $width_S) {
        font-size: 22px;
        line-height: 24px;
      }

      @media screen and (max-width: $width_XS) {
        font-size: 24px;
      }
    }
  }

  &-inner {
    overflow-y: scroll;
    padding: 0 30px 0 0;

    @media screen and (max-width: $width_S) {
      height: auto;
      padding: 0 10px 20px;
      overflow-y: auto;
    }

    @media screen and (max-width: $width_XS) {
      padding: 0;

      .button {
        text-align: center;
        white-space: nowrap;
        width: 100%;
        margin: 40px auto 0;
        padding: 15px 0;
      }
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-partner-1;
      @media screen and (max-width: $width_S) {
        background-color: transparent;
      }
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #f5f5f5;
      @media screen and (max-width: $width_S) {
        background-color: transparent;
      }
    }
  }

  &__title {
    display: none;
    @media screen and (max-width: $width_S) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: $topbar-mobile-height;
      background: $color-partner-1;
      padding: 15px 0;
      color: #ffffff;
      font-family: $font-bold;
      text-align: center;
    }
  }

  &__subtitle {
    font-family: $font-bold;
    font-size: 22px;
    color: #000000;
    margin-bottom: 25px;

    @media screen and (max-width: $width_S) {
      font-size: 18px;
    }
  }

  &__text {
    font-family: $font-regular;
    font-size: 14px;
    line-height: 18px;
    color: $color-form-text;
    margin-bottom: 25px;
  }

  &__close {
    position: fixed;
    background-color: transparent;

    &::after {
      background-color: $color-partner-1;
    }

    &::before {
      background-color: $color-partner-1;
    }

    @media screen and (max-width: $width_S) {
      &::after {
        background-color: #ffffff;
      }

      &::before {
        background-color: #ffffff;
      }
    }
  }

  &__step {
    border-radius: $input-border-radius;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    @media screen and (max-width: $width_XS) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &-img {
      display: block;
      width: 60px;
      height: auto;
      margin-right: 20px;

      @media screen and (max-width: $width_S) {
        margin-right: 15px;
      }

      @media screen and (max-width: $width_XS) {
        margin: 0 0 10px;
      }
    }

    &-title {
      font-family: $font-bold;
      font-size: 18px;
      line-height: 18px;
      color: #000000;
      margin-bottom: 10px;

      @media screen and (max-width: $width_XS) {
        font-size: 14px;
      }
    }

    &-text {
      font-family: $font-regular;
      font-size: 14px;
      line-height: 16px;
      color: $color-form-text;
    }

    &-address {
      font-family: $font-bold;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
  }
}
</style>
