<template>
  <app-popin
    ref="popin"
    title="Informations précontractuelles"
    :closeAction="handleCloseClick"
    :active="opened"
    :colors="colors"
  >
    <div class="innerContent">
      <div class="title">{{ $t('simulation.telechargementPreContrat.sousTitre') }}</div>

      <div class="radio-button-group">
        <app-radio-button
          inputId="mailRadio"
          @click="handleRadioClick"
          :checked="isMail"
          class="mailRadio"
          :label="$t('simulation.telechargementPreContrat.mail')"
          :colors="colors"
        />
        <app-radio-button
          inputId="downloadRadio"
          @click="handleRadioClick"
          :checked="isDownload"
          class="downloadRadio"
          :label="$t('simulation.telechargementPreContrat.telechargement')"
          :colors="colors"
        />
      </div>

      <div class="emailInputMobile" :class="{ 'display-error': showError }" v-if="opened && isMail">
        <p class="advice">{{ $t('simulation.telechargementPreContrat.indicationPourEmail') }}</p>
        <div class="information">
          <div class="icon">
            <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-419.000000, -550.000000)">
                  <g id="Icon&gt;-info" transform="translate(419.000000, 550.000000)">
                    <g id="Group-2">
                      <circle id="Oval" stroke="#1AAEB7" :style="{ stroke: colors.primary }" cx="7.5" cy="7.5" r="7" />
                      <path
                        d="M7.75,5.37 C7.5233322,5.37 7.34166735,5.30833395 7.205,5.185 C7.06833265,5.06166605 7,4.8966677 7,4.69 C7,4.4766656 7.06833265,4.30833395 7.205,4.185 C7.34166735,4.06166605 7.5233322,4 7.75,4 C7.9766678,4 8.15833265,4.06166605 8.295,4.185 C8.43166735,4.30833395 8.5,4.4766656 8.5,4.69 C8.5,4.8966677 8.43166735,5.06166605 8.295,5.185 C8.15833265,5.30833395 7.9766678,5.37 7.75,5.37 Z M7.18,6.05 L8.32,6.05 L8.32,11.05 L7.18,11.05 L7.18,6.05 Z"
                        id="i"
                        fill="#1AAEB7"
                        :style="{ fill: colors.primary }"
                        fill-rule="nonzero"
                      />
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="text">{{ $t('simulation.telechargementPreContrat.information') }}</div>
        </div>
        <InputTextEmail
          v-if="opened"
          id="precontract-email"
          :label="$t('simulation.telechargementPreContrat.emailLabel')"
          :value="email"
          :setValue="setEmail"
          :required="true"
          autocomplete="email"
          :customColor="colors"
          :validateOnChange="true"
          :autofocus="false"
          :errorImgPath="`${baseUrl}/error-icon.svg`"
        />
      </div>

      <div class="docs">
        <p class="title">{{ $t('simulation.telechargementPreContrat.listeDocuments') }}</p>
        <div class="doc" v-for="(doc, index) in documents" :key="index">
          <img :src="`${baseUrl}/check.svg`" alt="->" />
          {{ doc.text }}
        </div>
      </div>
    </div>

    <div class="blankBackground" :class="{ show: emailSent || emailError }"></div>
    <div class="mobileFeedback" :class="{ show: emailSent || emailError }" :style="feedbackStyles">
      <div v-if="emailSent">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9">
          <path
            :style="{ fill: colors.primary }"
            fill-rule="nonzero"
            d="M4.442 6.26L9.867.29a.838.838 0 0 1 1.272.006 1.08 1.08 0 0 1-.006 1.415L5.075 8.377a.838.838 0 0 1-1.267 0L.867 5.14A1.08 1.08 0 0 1 .86 3.726a.838.838 0 0 1 1.272-.007l2.309 2.54z"
          />
        </svg>
      </div>
      {{
        emailError
          ? $t('simulation.telechargementPreContrat.messageErreurMail')
          : $t('simulation.telechargementPreContrat.mailCtaOK')
      }}
    </div>

    <div class="ctaContainer">
      <div class="emailInputDesktop" :class="{ 'display-error': showError }" v-if="opened && isMail">
        <p class="advice">{{ $t('simulation.telechargementPreContrat.indicationPourEmail') }}</p>
        <div class="information">
          <div class="icon">
            <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-419.000000, -550.000000)">
                  <g id="Icon&gt;-info" transform="translate(419.000000, 550.000000)">
                    <g id="Group-2">
                      <circle id="Oval" stroke="#1AAEB7" :style="{ stroke: colors.primary }" cx="7.5" cy="7.5" r="7" />
                      <path
                        d="M7.75,5.37 C7.5233322,5.37 7.34166735,5.30833395 7.205,5.185 C7.06833265,5.06166605 7,4.8966677 7,4.69 C7,4.4766656 7.06833265,4.30833395 7.205,4.185 C7.34166735,4.06166605 7.5233322,4 7.75,4 C7.9766678,4 8.15833265,4.06166605 8.295,4.185 C8.43166735,4.30833395 8.5,4.4766656 8.5,4.69 C8.5,4.8966677 8.43166735,5.06166605 8.295,5.185 C8.15833265,5.30833395 7.9766678,5.37 7.75,5.37 Z M7.18,6.05 L8.32,6.05 L8.32,11.05 L7.18,11.05 L7.18,6.05 Z"
                        id="i"
                        fill="#1AAEB7"
                        :style="{ fill: colors.primary }"
                        fill-rule="nonzero"
                      />
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="text">{{ $t('simulation.telechargementPreContrat.information') }}</div>
        </div>
        <InputTextEmail
          id="precontract-email-desktop"
          :label="$t('simulation.telechargementPreContrat.emailLabel')"
          :value="email"
          :setValue="setEmail"
          :required="true"
          autocomplete="email"
          :customColor="colors"
          :validateOnChange="true"
          :autofocus="true"
          :errorImgPath="`${baseUrl}/error-icon.svg`"
        />
      </div>

      <transition :name="isMail && !isMobile ? 'fade' : null">
        <button class="cancelBtn" @click="close()" v-if="!emailSent">Annuler</button>
      </transition>
      <transition :name="isMail && !isMobile ? 'fade' : null">
        <app-button
          class="cta"
          v-if="!emailSent"
          type="button"
          :label="
            isMail
              ? $t('simulation.telechargementPreContrat.mailCta')
              : $t('simulation.telechargementPreContrat.telechargementCta')
          "
          :onClick="handleChooseClick"
          :colors="colors"
          :no-chevron="true"
          :loading="isLoading"
        />
      </transition>
      <transition :name="isMail ? 'appear' : null">
        <div class="email-sent" v-if="showEmailSent" :style="{ backgroundColor: hexToRgb(colors.primary, 0.1) }">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9">
            <path
              :style="{ fill: colors.primary }"
              fill-rule="nonzero"
              d="M4.442 6.26L9.867.29a.838.838 0 0 1 1.272.006 1.08 1.08 0 0 1-.006 1.415L5.075 8.377a.838.838 0 0 1-1.267 0L.867 5.14A1.08 1.08 0 0 1 .86 3.726a.838.838 0 0 1 1.272-.007l2.309 2.54z"
            />
          </svg>
          <span>{{ $t('simulation.telechargementPreContrat.mailCtaOK') }}</span>
        </div>
      </transition>
      <button class="closeButton" v-if="emailSent" @click="close">
        <span>fermer</span>
      </button>
    </div>

    <div class="desktopEmailError" v-show="emailError">
      <div class="inner">
        {{ $t('simulation.telechargementPreContrat.messageErreurMail') }}
      </div>
    </div>
  </app-popin>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import Popin from '@/components/graphic/Popin.vue';
import { Prop, Watch } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import { Getter, Mutation, State } from 'vuex-class';
import { FinancialProposals, SimulationParameter } from '@/models/Simulation';
import { StepState } from '@/models/StepState';
import Button from '@/components/graphic/Button.vue';
import RadioButton from '@/components/graphic/RadioButton.vue';
import { PreContractMail } from '@/store/types';
import { saveAs } from 'file-saver';
import SimulationApi from '@/services/SimulationApi';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';

@Component({
  components: {
    'app-popin': Popin,
    'app-button': Button,
    'app-radio-button': RadioButton
  }
})
export default class PreContractPopin extends Vue {
  @Prop() public stepState!: StepState;
  @Prop() public opened!: boolean;
  @Prop() public closeModal!: () => void;
  @Prop({ default: null }) public proposal!: FinancialProposals | null;
  @State((state) => state.apiConfig.offerCode) public offerCode!: string;
  @State((state) => state.apiConfig.partnerCode) public partnerCode!: string;
  @State((state) => state.apiConfig.applicationId) public applicationId!: string;
  @State((state) => state.apiConfig.businessProviderId) public businessProviderId: string;
  @State((state) => state.apiConfig.equipmentCode) public equipmentCode: string;
  @State((state) => state.apiConfig.scaleCode) public scaleCode: string;
  @State((state) => state.client.isMobile) public isMobile!: boolean;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.simulator.selectedProposal) public selectedProposal!: SimulationFinancialProposal;
  @Getter('getStep') public step!: any;
  @Getter public getCreditType!: string;
  @Getter public screenOption: (key: string) => any;
  @Mutation public updatePreContractMail!: (preContractMail: PreContractMail) => void;

  public selected: string = 'mailRadio';
  public email: string | null;
  public isSendingEmail = false;
  public emailSent = false;
  public emailError = false;
  public showEmailSent = false;
  public showError = false;
  public isDownloadingDocuments = false;

  constructor() {
    super();
    this.email = null;
  }

  @Watch('opened')
  public onOpened() {
    this.email = null;
    this.selected = 'mailRadio';
    this.emailSent = false;
    this.showEmailSent = false;
    this.emailError = false;
  }

  public get isLoading(): boolean {
    return this.isSendingEmail || this.isDownloadingDocuments;
  }

  public get isMail() {
    return this.selected === 'mailRadio';
  }

  public get isDownload() {
    return this.selected === 'downloadRadio';
  }

  public setEmail(value: string) {
    this.email = value;
  }

  public handleRadioClick(id: string) {
    this.selected = id;
    this.emailSent = false;
    this.showEmailSent = false;
    this.email = null;
    this.emailError = false;
  }

  public handleCloseClick() {
    this.closeModal();
  }

  public handleChooseClick() {
    if (this.isMail) {
      this.sendEmail();
    } else {
      this.download();
    }
  }

  public get documents() {
    return this.$t('PreContractDocuments');
  }

  /**
   * Sends pre-contract document by email
   */
  private sendEmail() {
    if (this.email === null) {
      this.showError = true;
    } else if (!this.isSendingEmail && !this.emailSent) {
      this.isSendingEmail = true;
      SimulationApi.sendEmail(this.simulationParameter, this.email, this.getCreditType)
        .then(() => {
          this.emailError = false;
          this.emailSent = true;
          setTimeout(() => {
            this.showEmailSent = true;
            this.isSendingEmail = false;
          }, 500);
          if (!this.isMobile) {
            setTimeout(() => {
              this.close();
            }, 2000);
          }

          this.updatePreContractMail({
            hasBeenSent: true,
            email: this.email || '',
            offer: Object.assign({}, this.selectedProposal)
          });
        })
        .catch(() => {
          this.isSendingEmail = false;
          this.emailSent = false;
          this.showEmailSent = false;
          this.emailError = true;
        });
    }
  }

  /**
   * Downloads the pre-contract documents
   */
  private download() {
    if (!this.isDownloadingDocuments) {
      this.isDownloadingDocuments = true;
      SimulationApi.getPreContractDocuments(this.simulationParameter, this.getCreditType)
        .then((preContractPdf) => {
          const preContractBlob = new Blob([preContractPdf.data], { type: 'application/pdf' });
          saveAs(preContractBlob, 'informations-precontractuelles.pdf');
          this.isDownloadingDocuments = false;
          this.close();
        })
        .catch(() => {
          this.isDownloadingDocuments = false;
          this.close();
        });
    }
  }

  /**
   * Closes the pop-in with animation by calling close function of the pop-in component.
   */
  private close() {
    // @ts-ignore
    this.$refs.popin.close();
  }

  /**
   * Getter for mobile email feedback styles
   */
  public get feedbackStyles() {
    return {
      color: this.emailError ? '#eb3738' : this.colors.primary,
      // @ts-ignore
      backgroundColor: this.emailError ? 'rgba(235, 55, 56, 0.1)' : this.hexToRgb(this.colors.primary, 0.1)
    };
  }

  private get simulationParameter(): SimulationParameter {
    let parameters: SimulationParameter = {
      partnerId: this.partnerCode,
      sourceId: this.offerCode,
      applicationId: this.applicationId,
      businessProviderId: this.businessProviderId,
      equipmentCode: this.equipmentCode,
      scaleCode: this.scaleCode
    };
    if (this.selectedProposal !== null) {
      parameters = {
        ...parameters,
        duration: this.selectedProposal.nbMonthlyPaymentWithoutInsurance,
        amount: this.selectedProposal.amount
      };
    } else {
      parameters = {
        ...parameters,
        amount: this.screenOption('amount-simulation') || null,
        duration: this.screenOption('duration-simulation') || null
      };
    }
    return parameters;
  }
}
</script>

<style lang="scss" scoped>
.innerContent {
  padding: 24px 22px 0 22px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    padding: 25px 60px 0;
  }

  .title {
    font-family: $font-bold;
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 28px;

    @media screen and (min-width: $width_S) {
      margin-bottom: 16px;
    }
  }

  .radio-button-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 39px;

    @media screen and (min-width: $width_S) {
      margin-bottom: 20px;
    }

    .mailRadio {
      margin-right: 46px;
    }
  }

  .emailInputMobile {
    margin-bottom: 25px;

    @media screen and (min-width: $width_S) {
      display: none;
    }

    .advice {
      font-size: 14px;
      line-height: 1.14;
      font-family: $font-bold;
      margin-bottom: 6px;
    }

    .information {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 12px;
      padding-right: 35px;

      .icon {
        margin-right: 6px;
      }

      .text {
        font-size: 12px;
        line-height: 1.33;
        color: $color-grey-dark;
      }
    }
  }

  .docs {
    display: flex;
    flex-direction: column;
    background-color: $color-bg-container;
    padding: 22px 24px 34px;
    position: relative;
    top: 0;
    left: -24px;
    width: calc(100% + 46px);
    flex-grow: 1;

    @media screen and (min-width: $width_S) {
      width: 100%;
      top: 0;
      left: 0;
      padding: 20px;
    }

    .title {
      font-size: 16px;
      font-family: $font-bold;
      line-height: 1.25;
      margin-bottom: 14px;

      @media screen and (min-width: $width_S) {
        font-size: 13px;
      }
    }

    .doc {
      font-size: 16px;
      display: flex;
      align-items: flex-start;
      line-height: 1.5;
      margin-bottom: 8px;

      @media screen and (min-width: $width_S) {
        font-size: 13px;
      }

      img {
        margin-right: 10px;
        margin-top: 4px;
      }
    }
  }
}

.desktopEmailError {
  display: none;

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    display: block;
    margin-bottom: 15px;
    padding: 0 60px;
  }

  .inner {
    padding: 15px 0 16px 23px;
    font-size: 13px;
    line-height: 1.23;
    font-family: $font-bold;
    color: $color-tooltip-text-error;
    background-color: rgba(235, 55, 56, 0.1);
    text-align: center;
  }
}

.mobileFeedback {
  height: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-family: $font-medium;
  font-size: 16px;
  line-height: 1.3;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 300ms ease-in-out;

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    display: none;
  }

  svg {
    margin-right: 10px;
  }

  &.show {
    height: 60px;
    transform: translateY(-68px);
  }
}

.blankBackground {
  background-color: $color-white;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 300ms ease-in-out;
  height: 0;
  display: none;

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    display: none;
  }

  &.show {
    height: 60px;
    transform: translateY(-68px);
  }
}

.ctaContainer {
  z-index: 10;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $color-white;
  width: 100%;
  transform: translateZ(0);

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    box-shadow: none;
    padding: 22px 60px 32px;
    justify-content: flex-end;
    position: relative;
    margin-top: 50px;
    min-height: 102px;
  }

  .cta {
    width: 100%;
    @media screen and (min-width: $width_S) and (orientation: portrait),
      (min-height: 600px) and (orientation: landscape) {
      width: auto;
      margin-left: 24px;
    }
  }

  .email-sent {
    display: none;

    @media screen and (min-width: $width_S) and (orientation: portrait),
      (min-height: 600px) and (orientation: landscape) {
      width: 100%;
      height: 48px;
      justify-content: center;
      align-items: center;
      display: flex;
      max-width: 230px;

      span {
        font-family: $font-medium;
        font-size: 13px;
        line-height: 1.2;
        margin-left: 10px;
        color: $color-partner-1;
      }
    }
  }

  .closeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    padding: 15px;
    border: solid 1px $color-grey-black;
    width: calc(100% - 30px);

    @media screen and (min-width: $width_S) and (orientation: portrait),
      (min-height: 600px) and (orientation: landscape) {
      display: none;
    }

    span {
      text-transform: uppercase;
      font-size: 14px;
      font-family: $font-bold;
      line-height: 1.29;
      color: $color-grey-black;
    }
  }

  .cancelBtn {
    display: block;
    color: $color-grey-medium;
    margin-left: 15px;
    margin-right: 42px;
    font-size: 16px;

    @media screen and (min-width: $width_S) and (orientation: portrait),
      (min-height: 600px) and (orientation: landscape) {
      margin-right: 0;
      margin-left: 24px;
      color: $color-grey-dark;
      text-decoration: underline;
      font-family: $font-bold;
      font-size: 13px;
    }
  }

  .emailInputDesktop {
    display: none;
    position: absolute;
    top: 16px;
    left: 60px;

    @media screen and (min-width: $width_S) {
      display: flex;
    }

    .advice {
      font-size: 13px;
      line-height: 1.14;
      font-family: $font-bold;
      margin-bottom: 16px;
      position: absolute;
      top: -45px;
      left: 0;
    }

    .information {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      left: 0;
      top: -25px;
      min-width: 600px;

      .icon {
        margin-right: 6px;
      }

      .text {
        font-size: 12px;
        line-height: 1.33;
        color: $color-grey-dark;
      }
    }
  }
}

// fade transition
.fade-enter-active {
  transition: none;
}
.fade-leave-active {
  transition: opacity 500ms ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// appear transition
.appear-enter-active {
  transition: opacity 500ms ease-in-out;
}
.appear-leave-active {
  transition: none;
}
.appear-enter,
.appear-leave-to {
  opacity: 0;
}
</style>
