<template>
  <div class="requireusersecret-popup" v-if="showRequireUserSecretPopup">
    <div class="overlay" :class="{ show: showRequireUserSecretPopupOverlay }" @click="leaveForm"></div>
    <div class="requireusersecret-popup-container" :class="{ show: showRequireUserSecretPopupContent }">
      <h2 class="requireusersecret-popup__title">{{ $t('Reprise.titre') }}</h2>
      <p class="requireusersecret-popup__text">{{ $t('Reprise.sousTitre') }}</p>
      <InputPhone
        :isMobile="true"
        :required="true"
        :setValue="setValue"
        :value="userInput"
        autocomplete="tel"
        id="userInput"
        :label="$t('souscription.blocInformation.coordonnees.telephoneLabel')"
        :errorMsg="$t('Reprise.erreurTel')"
        :validateOnChange="true"
        :errorImgPath="`/error-icon.svg`"
      ></InputPhone>
      <div v-show="showErrorUserInput" class="requireusersecret-popup__text error">
        {{ $t('Reprise.erreurRestauration') }}
      </div>
      <div class="requireusersecret-popup__buttons">
        <app-button
          class="button"
          :noChevron="true"
          :noBackground="true"
          :grey="true"
          :label="$t('Reprise.annuler')"
          :onClick="leaveForm"
          :flat="false"
        />

        <app-button
          class="button"
          :noChevron="true"
          :noBackground="false"
          :grey="false"
          :label="$t('Reprise.valider')"
          :onClick="submitUserSecret"
          :flat="false"
          :disabled="!userInput"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/**
 *
 * Copyright (c) 2018 - 2019 - Credit Agricole Consumer Finance - All rights reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * This file can not be copied and/or distributed without the express permission of Credit Agricole Consumer Finance
 *
 */

import { Component, Prop, Vue } from 'vue-property-decorator';
import { Mutation, State } from 'vuex-class';

import { Keys } from '@/models/basketRecoveryStorage';
import { InterruptibilityService } from '@/services/interruptibilityService';
import { Basket, SubscriptionVersion } from '@/models/basket';
import Button from '@/components/graphic/Button.vue';

@Component({ components: { 'app-button': Button } })
export default class RequireUserSecretPopin extends Vue {
  @State((state) => state.subscription.basket)
  public basket!: Basket;

  public showRequireUserSecretPopup: boolean = false;
  public showRequireUserSecretPopupOverlay: boolean = false;
  public showRequireUserSecretPopupContent: boolean = false;
  public showErrorUserInput: boolean = false;
  public showLoading: boolean = false;

  private interruptibilityService: InterruptibilityService;

  @Prop() private displayModal: boolean;
  @Prop() private cardId: string;

  @Mutation private updateRestoringCard!: (data: boolean) => void;

  private userInput: string = null;
  private secret: string = null;

  constructor() {
    super();

    this.interruptibilityService = new InterruptibilityService();
    this.secret = this.interruptibilityService.getStoredSimulationKeys().secret;
  }

  public created() {
    if (this.displayModal) {
      this.displayRequireUserSecretPopup();
    }
  }

  public displayRequireUserSecretPopup() {
    this.showRequireUserSecretPopup = true;

    setTimeout(() => {
      this.showRequireUserSecretPopupOverlay = true;
    }, 100);

    setTimeout(() => {
      this.showRequireUserSecretPopupContent = true;
    }, 300);
  }

  public hideRequireUserSecretPopup() {
    this.showRequireUserSecretPopupOverlay = false;
    this.showRequireUserSecretPopupContent = false;

    setTimeout(() => {
      this.showRequireUserSecretPopup = false;
    }, 300);
  }

  public submitUserSecret() {
    this.showErrorUserInput = false;
    const key: Keys = this.interruptibilityService.getKeyById(this.cardId);
    if (key && this.userInput) {
      // recup data panier-reprise
      const userSecret = this.userInput.replace(/\s/g, '').replace(/^\+?(3){2}([0-9]{9})$/, '0$2');

      const savedState = this.interruptibilityService.decryptContent(
        this.basket.encryptedState,
        this.secret.concat(userSecret)
      );
      const publicState = JSON.parse(this.basket.publicState);
      const subscriptionVersion =
        publicState && publicState.subscriptionVersion ? publicState.subscriptionVersion : SubscriptionVersion.V1;

      if (savedState) {
        const routeName = this.interruptibilityService.restoreState(savedState, subscriptionVersion);
        this.hideRequireUserSecretPopup();
        if (routeName) {
          this.$router.push({ name: routeName });
        }
      } else {
        setTimeout(() => {
          this.showErrorUserInput = true;
        }, 1000);
      }
      this.updateRestoringCard(false);
    } else {
      // key not found, handle error here
      setTimeout(() => {
        this.showErrorUserInput = true;
        this.showLoading = false;
      }, 1000);
    }
  }

  public leaveForm() {
    this.hideRequireUserSecretPopup();
  }

  private setValue(value) {
    this.userInput = value;
  }

  // private get minDate(): Date {
  //   const dateTime = DateTime.fromFormat("01/01/1900", "d/M/yyyy");
  //   return dateTime.toJSDate();
  // }

  // private get maxDate(): Date {
  //   return new Date();
  // }
}
</script>

<style lang="scss" scoped>
.requireusersecret-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $popup-zindex;
  width: 100vw;
  height: 100vh;

  .overlay {
    opacity: 0;

    &.show {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &-container {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: $popup-content-zindex;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 7px 1px rgba(49, 109, 104, 0.33);
    width: grid(8);
    padding: 40px 60px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    max-width: 520px;

    @media screen and (max-width: $width_S) {
      top: 30px;
      width: calc(100% - #{$form-padding-left-mobile});
      padding: 40px 20px;
    }

    &.show {
      opacity: 1;
    }

    .close {
      @include cross(20px, #6c787f);
      position: absolute;
      top: 25px;
      right: 30px;
      cursor: pointer;

      @media screen and (max-width: $width_S) {
        display: none;
      }
    }
  }

  &__img {
    @media screen and (max-width: $width_S) {
      max-width: 100%;
    }
  }

  &__title {
    font-family: $font-bold;
    font-size: 32px;
    color: #1aaeb7;
    margin-bottom: 40px;

    @media screen and (max-width: $width_S) {
      font-size: 20px;
      text-align: left;
    }
  }

  &__subtitle {
    font-family: $font-bold;
    font-size: 16px;
    max-width: 275px;
    color: #000000;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $width_S) {
      font-size: 16px;
    }
  }

  &__label {
    font-family: $font-medium;
    font-size: 16px;
    color: #6c787f;
    margin-bottom: 20px;

    @media screen and (max-width: $width_S) {
      font-size: 14px;
    }
  }

  &__text {
    font-family: $font-regular;
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
    margin-bottom: 20px;

    &.error {
      color: $color-error;
    }

    @media screen and (max-width: $width_S) {
      font-size: 12px;
      text-align: left;
    }
  }

  &__wrapper {
    border: 1px solid rgba(26, 174, 183, 0.4);
    border-radius: 8px;
    display: none;
    margin-bottom: 30px;
    padding: 20px 30px 30px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    button {
      margin: 0 5px;
    }

    @media screen and (max-width: $width_M) {
      display: flex;
      flex-direction: column;
      button {
        margin-bottom: 20px;
      }
    }
  }
}
</style>
