<template>
  <!-- The hasDisableBodyScroll is equal to false because the the body scroll is already disabled in this component -->
  <app-popin
    ref="popin"
    :title="title"
    :closeAction="closeModalWithAnimation"
    :active="opened"
    :colors="colors"
    :popinHeader="true"
    :rightSideBar="true"
    :hasDisableBodyScroll="false"
  >
    <div class="right-sidebar-container">
      <div v-if="!onlyDoc" class="right-sidebar-header" :class="{ infosOpen: activePNav === P_NAV.infos }">
        <button
          class="right-sidebar-header__tab"
          :class="{ active: activePNav === P_NAV.summary }"
          @click="activePNav = P_NAV.summary"
        >
          {{ $t('souscription.RecapPret.titre') }}
        </button>
        <button
          class="right-sidebar-header__tab"
          :class="{ active: activePNav === P_NAV.infos }"
          @click="activePNav = P_NAV.infos"
        >
          {{ $t('souscription.RecapPret.infoPreContractuel') }}
        </button>
        <button class="popup__close" @click="closeModalWithAnimation"></button>
      </div>

      <div class="right-sidebar-loader" v-if="loading">
        <app-loader v-if="loading" :color="colors.primary"></app-loader>
      </div>
      <div class="right-sidebar-content" v-else>
        <div
          ref="rightSidebarContentSummary"
          class="right-sidebar-content__summary"
          :class="{ 'active-block': activePNav === P_NAV.summary }"
        >
          <template v-if="proposal">
            <app-sofinco-recap-simulation-table
              v-if="isSofinco"
              :proposal="proposal"
              :minInsuranceProposal="minInsuranceProposal"
            ></app-sofinco-recap-simulation-table>
            <app-partner-recap-simulation-table
              v-else
              :creditType="getCreditType"
              :proposal="proposal"
            ></app-partner-recap-simulation-table>
          </template>
          <form
            v-if="canSendSimulationRecapEmail"
            class="right-sidebar-content__email"
            :class="{ 'display-error': displayError }"
          >
            <label for="right-sidebar-email">{{ $t('souscription.RecapPret.recevezEmail') }}</label>
            <div class="right-sidebar-content__email-form">
              <!-- Mail input -->
              <div class="right-sidebar-content__email-form__input">
                <InputTextEmail
                  :key="randomKey1"
                  :value="emailUser"
                  autocomplete="email"
                  :setValue="setValue"
                  id="email"
                  borrower="principal"
                  :label="$t('souscription.RecapPret.email')"
                  errorMsg="Merci de compléter ce champ"
                ></InputTextEmail>
                <button @click.prevent="sendSim">
                  <app-loader class="loader" v-if="emailSimLoading" color="#ffffff"></app-loader>
                  <span v-else>{{ $t('souscription.RecapPret.mailCtaLabel') }}</span>
                </button>
              </div>

              <!-- Message mail sent OK -->
              <transition name="appear">
                <div class="email-sent" v-if="emailSimSent" :style="{ backgroundColor: hexToRgb(colors.primary, 0.1) }">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9">
                    <path
                      :style="{ fill: colors.primary }"
                      fill-rule="nonzero"
                      d="M4.442 6.26L9.867.29a.838.838 0 0 1 1.272.006 1.08 1.08 0 0 1-.006 1.415L5.075 8.377a.838.838 0 0 1-1.267 0L.867 5.14A1.08 1.08 0 0 1 .86 3.726a.838.838 0 0 1 1.272-.007l2.309 2.54z"
                    />
                  </svg>
                  <span>{{ $t('souscription.RecapPret.envoiMailOk') }}</span>
                </div>
              </transition>

              <!-- Message error when sending email -->
              <div class="email-error" v-show="emailSimError">
                <div class="inner">
                  {{ $t('souscription.RecapPret.envoiMailKo') }}
                </div>
              </div>
            </div>
          </form>
          <p v-if="proposal && proposal.maxProposal" class="right-sidebar-content__infos">
            {{
              $t('souscription.RecapPret.taegNotice', {
                amount: $options.filters.currency(simulator.requiredAmount),
                dueNumber: proposal.maxProposal.nbMonthlyPaymentWithoutInsurance,
                taeg: proposal.maxProposal.taeg,
                annualDebitRate: proposal.maxProposal.debitRate,
                monthlyAmountNonInsurance: $options.filters.currency(
                  proposal.maxProposal.monthlyAmountWithoutInsurance
                ),
                totalAmountNonInsurance: $options.filters.currency(proposal.maxProposal.totalAmountWithoutInsurance)
              })
            }}
          </p>
          <p class="right-sidebar-content__reportinfos" v-if="showReportMessage">
            {{
              $t('souscription.RecapPret.mentionReport', {
                nbMois: this.proposal.deferralMonthNumber
              })
            }}
          </p>
          <p class="right-sidebar-content__lastinfos">
            {{ $t('souscription.RecapPret.assuranceMention') }}
          </p>
        </div>

        <div
          ref="rightSidebarContentLegal"
          class="right-sidebar-content__legal"
          :class="{ 'active-block': activePNav === P_NAV.infos }"
        >
          <nav class="right-sidebar__legal-nav">
            <ul>
              <li
                class="right-sidebar__legal-nav__tab"
                :class="{ 'active-nav': activeSNav === S_NAV.fipen, 'is-partner': !isSofinco }"
                @click="activeSNav = S_NAV.fipen"
              >
                {{ $t('souscription.RecapPret.FIPEN') }}
              </li>
              <li
                v-if="getCreditType === CreditTypeEnumForTemplate.REVOLVING"
                class="right-sidebar__legal-nav__tab"
                :class="{ 'active-nav': activeSNav === S_NAV.afipen, 'is-partner': !isSofinco }"
                @click="activeSNav = S_NAV.afipen"
              >
                {{ $t('souscription.RecapPret.AFIPEN') }}
              </li>
              <li
                class="right-sidebar__legal-nav__tab"
                :class="{ 'active-nav': activeSNav === S_NAV.ficade, 'is-partner': !isSofinco }"
                @click="activeSNav = S_NAV.ficade"
              >
                {{ $t('souscription.RecapPret.FICADE') }}
              </li>
              <li
                class="right-sidebar__legal-nav__tab"
                :class="{ 'active-nav': activeSNav === S_NAV.ipid, 'is-partner': !isSofinco }"
                @click="activeSNav = S_NAV.ipid"
              >
                {{ $t('souscription.RecapPret.IPID') }}
              </li>
              <li
                class="right-sidebar__legal-nav__tab"
                :class="{ 'active-nav': activeSNav === S_NAV.notice, 'is-partner': !isSofinco }"
                @click="activeSNav = S_NAV.notice"
              >
                {{ $t('souscription.RecapPret.noticeAssurance') }}
              </li>
            </ul>
          </nav>
          <div class="right-sidebar__legal-content">
            <p class="right-sidebar__legal-text">
              {{
                getCreditType === CreditTypeEnumForTemplate.REVOLVING
                  ? $t('souscription.RecapPret.prendreConnaissanceCR')
                  : $t('souscription.RecapPret.prendreConnaissance')
              }}
            </p>

            <div class="right-sidebar__legal-pdf-mobile" v-if="isSofinco">
              <img src="@/assets/images/phone-camera.svg" alt="téléphone" />
              <p v-html="$t('souscription.RecapPret.tournez')"></p>
            </div>

            <app-button
              v-if="isVersionSimulationApiIn(1)"
              :onClick="downloadSofincoPreContractDocuments"
              :loading="downloadDocLoading"
              :noChevron="true"
            >
              <span class="right-sidebar__legal-download-text-desktop">{{
                $t('souscription.RecapPret.telecharger')
              }}</span>
              <span class="right-sidebar__legal-download-text-mobile">{{
                $t('souscription.RecapPret.visualiser')
              }}</span>
              <i class="icon icon-Icon_Download_PDF_White"></i>
            </app-button>
            <app-button
              v-else
              :onClick="downloadPartnersPreContractDocuments"
              :loading="downloadDocLoading"
              :noChevron="true"
            >
              <span class="right-sidebar__legal-download-text-desktop">{{
                $t('souscription.RecapPret.telecharger')
              }}</span>
              <span class="right-sidebar__legal-download-text-mobile">{{
                $t('souscription.RecapPret.visualiser')
              }}</span>
              <i class="icon icon-Icon_Download_PDF_White"></i>
            </app-button>

            <span class="right-sidebar__legal-separator">{{ $t('souscription.RecapPret.Ou') }}</span>
            <form class="right-sidebar-content__email" :class="{ 'display-error': displayError }">
              <div class="right-sidebar-content__email-form">
                <!-- Mail input -->
                <div class="right-sidebar-content__email-form__input">
                  <InputTextEmail
                    autocomplete="email"
                    id="email"
                    :key="randomKey2"
                    :setValue="setValue"
                    :value="emailUser"
                    borrower="principal"
                    :label="$t('souscription.RecapPret.envoiEmail')"
                    :errorMsg="$t('commun.merciCompleter')"
                  ></InputTextEmail>
                  <button @click.prevent="sendDoc">
                    <app-loader class="loader" v-if="emailDocLoading" color="#ffffff"></app-loader>
                    <span v-else>{{ $t('souscription.RecapPret.mailCtaLabel') }}</span>
                  </button>
                </div>

                <!-- Message mail sent OK -->
                <transition name="appear">
                  <div
                    class="email-sent"
                    v-if="emailDocSent"
                    :style="{ backgroundColor: hexToRgb(colors.primary, 0.1) }"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9">
                      <path
                        :style="{ fill: colors.primary }"
                        fill-rule="nonzero"
                        d="M4.442 6.26L9.867.29a.838.838 0 0 1 1.272.006 1.08 1.08 0 0 1-.006 1.415L5.075 8.377a.838.838 0 0 1-1.267 0L.867 5.14A1.08 1.08 0 0 1 .86 3.726a.838.838 0 0 1 1.272-.007l2.309 2.54z"
                      />
                    </svg>
                    <span>{{ $t('souscription.RecapPret.envoiMailOk') }}</span>
                  </div>
                </transition>

                <!-- Message error when sending email -->
                <div class="email-error" v-show="emailDocError">
                  <div class="inner">
                    {{ $t('souscription.RecapPret.envoiMailKo') }}
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="right-sidebar-content__footer" :class="{ active: activePNav === P_NAV.summary }">
        {{ $t('souscription.RecapPret.engagementCredit') }}
      </div>
    </div>
  </app-popin>
</template>

<script lang="ts">
import Vue from 'vue';
import { Prop, Watch, Component } from 'vue-property-decorator';
import { Getter, Mutation, State, Action } from 'vuex-class';

import uuidv4 from 'uuid/v4';
import { saveAs } from 'file-saver';

import store from '@/store';
import { SimulatorState } from '@/store/types';

import { ID_TOKEN } from '@/config/config';

import Popin from '@/components/graphic/Popin.vue';
import Button from '@/components/graphic/Button.vue';

import { Colors } from '@/models/Colors';
import { SimulationParameter } from '@/models/Simulation';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { Contact } from '@/models/subscription/Contact';
import { InsurancePartnerName } from '@/models/subscription/Insurance';
import ConfigSimulator from '@/config/configSimulator';

import SimulationApi from '@/services/SimulationApi';
import PdfInfoService from '@/services/pdfInfoService';
import { BusinessRule } from '@/services/BusinessRule';

import { convertDate } from '@/utils/strings';
import SofincoRecapSimulationTable from '@/components/RecapSimulationPopin/SofincoRecapSimulationTable.vue';
import PartnerRecapSimulationTable from '@/components/RecapSimulationPopin/PartnerRecapSimulationTable.vue';
import { CreditTypeEnum } from '@/models/simulator/business/creditType';
import Loader from '@/components/graphic/Loader.vue';
import { removeScroll } from '@/utils/scroll';
import { fetchPdf } from '@/services/PdfService';

enum PNAV {
  summary = 1,
  infos = 2
}

enum SNAV {
  ficade = 1,
  fipen = 2,
  afipen = 3,
  ipid = 4,
  notice = 5
}

@Component({
  components: {
    'app-popin': Popin,
    'app-button': Button,
    'app-sofinco-recap-simulation-table': SofincoRecapSimulationTable,
    'app-partner-recap-simulation-table': PartnerRecapSimulationTable,
    'app-loader': Loader
  }
})
export default class SimulatorPopin extends Vue {
  @Prop() private closeModal!: () => void;
  @Prop() private onlyDoc!: boolean;

  private randomKey1 = uuidv4();
  private randomKey2 = uuidv4();
  private opened: boolean = true;

  private get pdfUrlDl() {
    if (this.activeSNav === this.S_NAV.notice) {
      return this.getFileDl();
    } else {
      return this.getFileDl() + '&token=' + ID_TOKEN;
    }
  }

  private get title() {
    if (this.onlyDoc) {
      return this.$t('souscription.RecapPret.infoPreContractuel').toString();
    } else {
      return '';
    }
  }

  private get isSofinco() {
    return new BusinessRule().isSofincoPartnerId(this.partnerCode);
  }

  private get showReportMessage() {
    if (this.isSofinco) {
      return this.proposal.creditDurationWithoutInsurance > this.proposal.nbMonthlyPaymentWithoutInsurance;
    } else {
      return BusinessRule.showReportInformations(this.proposal);
    }
  }

  /**
   * Gets the credit duration. If the 'creditDuration' is not present in the store
   * then the value is retrieved from the screenOptions.
   */
  private get creditDuration(): number {
    return this.proposal && this.proposal.nbMonthlyPaymentWithoutInsurance
      ? Number(this.proposal.nbMonthlyPaymentWithoutInsurance)
      : this.simulator.dueNumber
      ? Number(this.simulator.dueNumber)
      : Number(this.screenOption('duration-simulation'));
  }

  /**
   * Gets the credit amount. If the 'creditAmount' is not present in the store
   * then the value is retrieved from screenOptions.
   */
  private get creditAmount(): number {
    return this.proposal && this.proposal.amount
      ? Number(this.proposal.amount)
      : this.simulator.requiredAmount
      ? Number(this.simulator.requiredAmount)
      : Number(this.screenOption('amount-simulation'));
  }

  private get canSendSimulationRecapEmail(): boolean {
    return this.screenOption('simulator-panel-email-enabled');
  }

  @Action private setSelectedProposal!: (data: SimulationFinancialProposal) => void;

  @Mutation private updateMinSimulationResult!: (data: SimulationFinancialProposal) => void;

  @State((state) => state.simulator.simulationContext.productId)
  private product!: string;

  @State((state) => state.simulator) private simulator!: SimulatorState;

  @State((state) => state.forms)
  private forms!: any;

  @Getter private getCreditType!: string;
  @Getter private isVersionSimulationApiIn!: (version: number) => boolean;
  @Getter private screenOption: (key: string) => any;

  @State((state) => state.subscription.principal.contact) private pContactForm!: Contact;

  @State((state) => state.simulator.selectedProposal)
  private proposal: SimulationFinancialProposal;

  @State((state) => state.simulator.minInsuranceProposal)
  private minInsuranceProposal: SimulationFinancialProposal;

  @State((state) => state.minSimulationResult)
  private minSimulationResult: SimulationFinancialProposal;

  @Prop({ default: null }) private activeTab!: number;

  @State((state) => state.subscription.principal.civility.birthDate) private birthDateT1!: string;

  @State((state) => state.subscription.principal.civility.birthDate) private birthDate!: string;
  @State((state) => state.subscription.secondary.civility.birthDate) private birthDateT2!: string;
  @State((state) => state.apiConfig.colors) private colors!: Colors;
  @State((state) => state.apiConfig.partnerCode) private partnerCode!: string;
  @State((state) => state.apiConfig.offerCode) private offerCode!: string;
  @State((state) => state.apiConfig.applicationId) private applicationId!: string;
  @State((state) => state.apiConfig.businessProviderId) private businessProviderId: string;
  @State((state) => state.apiConfig.equipmentCode) private equipmentCode: string;
  @State((state) => state.apiConfig.scaleCode) private scaleCode: string;

  private get creditForTwo() {
    return this.forms ? this.forms.creditForTwo : false;
  }

  // Manage simulation sending through email
  private emailSimLoading: boolean = false;
  private emailSimError: boolean = false;
  private emailSimSent: boolean = false;
  // Manage pre-contract documents sending through email
  private emailDocLoading: boolean = false;
  private emailDocError: boolean = false;
  private emailDocSent: boolean = false;
  // Manage pre-contract documents downloading (only partner as of 16/09/20)
  private downloadDocLoading: boolean = false;

  private emailUser: string = '';

  private displayError: boolean = false;

  private loading: boolean = true;

  private pdfInfoService: PdfInfoService;
  private simulationService: SimulationApi;

  private hideOverlay: boolean = true;

  private P_NAV = PNAV;
  private S_NAV = SNAV;
  private CreditTypeEnumForTemplate = CreditTypeEnum;

  private activePNav: number = 1;
  private activeSNav: number = 2;

  @Getter private isCreditForTwo!: boolean;

  constructor() {
    super();
    this.pdfInfoService = new PdfInfoService();
    this.simulationService = new SimulationApi();
    if (this.pContactForm && this.pContactForm.email) {
      this.emailUser = this.pContactForm.email;
    }
  }

  private closeModalWithAnimation() {
    this.opened = false;
    setTimeout(() => {
      this.closeModal();
    }, 301);
  }

  private getFileDl(): string {
    switch (this.activeSNav) {
      case this.S_NAV.ficade:
        return this.pdfInfoService.getFicadeUrlDl(this.proposal);
      case this.S_NAV.fipen:
        return this.pdfInfoService.getFipenUrlDl(this.proposal);
      case this.S_NAV.afipen:
        return this.pdfInfoService.getAFipenUrlDL(this.proposal);
      case this.S_NAV.ipid:
        return this.pdfInfoService.getIpidUrlDl(this.proposal);
      case this.S_NAV.notice:
        const documentsBaseUrl = this.screenOption('documents-base-url');
        const pdfPath = new BusinessRule().getInsuranceInfo(
          InsurancePartnerName.SOFINCO,
          this.getCreditType,
          this.product,
          this.birthDateT1
        ).pdf2;
        return `${documentsBaseUrl}${pdfPath}`;
    }
  }
  private async downloadSofincoPreContractDocuments() {
    this.downloadDocLoading = true;
    try {
      const doc = await fetchPdf(this.pdfUrlDl);
      const docBlob = new Blob([doc.data], {
        type: 'application/pdf'
      });
      saveAs(
        docBlob,
        this.activeSNav === this.S_NAV.notice ? 'notice-assurance.pdf' : 'informations-precontractuelles.pdf'
      );
    } catch (ex) {
    } finally {
      this.downloadDocLoading = false;
    }
  }

  private async downloadPartnersPreContractDocuments() {
    try {
      this.downloadDocLoading = true;
      const simulationParameters: SimulationParameter = {
        amount: this.creditAmount,
        duration: this.creditDuration,
        partnerId: this.partnerCode,
        sourceId: this.offerCode,
        applicationId: this.applicationId,
        scaleCode: this.scaleCode,
        businessProviderId: this.businessProviderId,
        equipmentCode: this.equipmentCode
      };
      const preContractPdf = await SimulationApi.getPreContractDocuments(simulationParameters, this.getCreditType);
      // Process pdf file
      const preContractBlob = new Blob([preContractPdf.data], { type: 'application/pdf' });
      saveAs(preContractBlob, 'informations-precontractuelles.pdf');
    } catch (err) {
      // TODO: manage error
    } finally {
      this.downloadDocLoading = false;
    }
  }

  private async sendDoc() {
    if (this.checkEmail()) {
      this.emailDocLoading = true;
      this.emailDocError = false;
      this.emailDocSent = false;
      if (this.isVersionSimulationApiIn(1)) {
        try {
          await SimulationApi.sendEmailDocV1({
            amount: Number(this.proposal.amount),
            duration: Number(this.proposal.creditDurationWithoutInsurance),
            paramId: this.proposal.paramId,
            email: this.emailUser,
            birthdateT1: null,
            birthdateT2: null,
            hasInsuranceT1: null,
            hasInsuranceT2: null
          });
          this.emailDocSent = true;
        } catch (err) {
          this.emailDocError = true;
        } finally {
          this.emailDocLoading = false;
        }
      } else {
        try {
          const simulationParameters: SimulationParameter = {
            amount: this.creditAmount,
            duration: this.creditDuration,
            partnerId: this.partnerCode,
            sourceId: this.offerCode,
            applicationId: this.applicationId,
            scaleCode: this.scaleCode,
            businessProviderId: this.businessProviderId,
            equipmentCode: this.equipmentCode
          };
          await SimulationApi.sendEmail(simulationParameters, this.emailUser, this.getCreditType);
          this.emailDocSent = true;
        } catch (err) {
          this.emailDocError = true;
        } finally {
          this.emailDocLoading = false;
        }
      }
    }
  }

  private async sendSim() {
    if (this.checkEmail()) {
      try {
        this.emailSimLoading = true;
        this.emailSimError = false;
        this.emailSimSent = false;
        await SimulationApi.sendEmailV1({
          amount: Number(this.proposal.amount),
          duration: Number(this.proposal.creditDurationWithoutInsurance),
          paramId: this.proposal.paramId,
          email: this.emailUser,
          birthdateT1: null,
          birthdateT2: null,
          hasInsuranceT1: null,
          hasInsuranceT2: null
        });
        this.emailSimSent = true;
      } catch (err) {
        this.emailSimError = true;
      } finally {
        this.emailSimLoading = false;
      }
    }
  }

  private checkEmail() {
    if (!this.emailUser) {
      this.displayError = true;
      return false;
    } else {
      return true;
    }
  }

  private async refreshValue() {
    if (!this.proposal || !this.proposal.amount) {
      const amount = this.creditAmount;
      const duration = this.creditDuration;
      this.loading = true;
      try {
        if (this.isVersionSimulationApiIn(1)) {
          const res = await SimulationApi.getSimulationV1({
            amount,
            duration,
            birthdateT1: this.birthDate ? convertDate(this.birthDate) : null,
            birthdateT2: this.birthDateT2 ? convertDate(this.birthDateT2) : null,
            hasInsuranceT1: true,
            hasInsuranceT2: this.isCreditForTwo,
            sourceId: this.simulator.simulationContext.sourceId,
            projectId: this.simulator.simulationContext.projectId
          });
          this.loading = false;
          this.setSelectedProposal(res[0]);
        } else {
          // - Only perform simulation for REVOLVING credits as LOAN credits begin with a simulation
          // and this component is instanciated at the start of the application (not when popin is
          // opened - i.e. not when LOAN simulation has already been performed).
          // - Only perform simulation if not simulator or simulator is chained with subscription to
          // avoid having a selected proposal at first page of independant simulator and therefore
          // display detail of a simulation when user has not entered an amount
          if (this.getCreditType === CreditTypeEnum.REVOLVING && ConfigSimulator.chainWithSubscription) {
            const simulationParameter: SimulationParameter = {
              amount,
              duration,
              hasInsurance: true,
              businessProviderId: this.businessProviderId,
              equipmentCode: this.equipmentCode,
              scaleCode: this.scaleCode
            };
            const res = await SimulationApi.getRevolvingSimulation(simulationParameter, true);
            this.setSelectedProposal(res[0]);
          }
          this.loading = false;
        }
      } catch (err) {
        // TODO: handle error
      }
    } else {
      this.loading = false;
    }
  }

  @Watch('activeSNav')
  private async sNavChange(oldValue: number, newValue: number) {
    await this.refreshValue();
  }

  private async created() {
    if (this.activeTab) {
      this.activePNav = this.activeTab;
    }
    setTimeout(() => {
      this.hideOverlay = false;
    }, 100);

    // setTimeout(() => {
    //   this.hidePopup = false;
    //   disableBodyScroll(
    //     (this.$refs.rightSidebarPopup as HTMLElement).querySelector(
    //       ".right-sidebar-content__summary"
    //     )
    //   );
    //   disableBodyScroll(
    //     (this.$refs.rightSidebarPopup as HTMLElement).querySelector(
    //       ".right-sidebar-content__legal"
    //     )
    //   );
    // }, 300);
    if (!this.emailUser && this.pContactForm && this.pContactForm.email) {
      this.emailUser = this.pContactForm.email;
    }
    await this.refreshValue();
  }

  private setValue(value: string, fieldName: string, borrower: string) {
    if (value) {
      this.displayError = false;
    }
    if (value !== this.emailUser) {
      this.emailDocSent = false;
      this.emailDocError = false;
      this.emailSimSent = false;
      this.emailSimError = false;
    }
    this.emailUser = value;
  }

  private mounted() {
    if (this.creditForTwo) {
      this.loading = true;
      const promises = [];
      promises.push(
        SimulationApi.getSimulationV1({
          amount: this.creditAmount,
          duration: this.creditDuration,
          birthdateT1: convertDate(this.birthDate),
          birthdateT2: this.birthDateT2 ? convertDate(this.birthDateT2) : null,
          hasInsuranceT1: true,
          hasInsuranceT2: this.isCreditForTwo,
          sourceId: this.simulator.simulationContext.sourceId,
          projectId: this.simulator.simulationContext.projectId
        })
      );
      promises.push(
        SimulationApi.getSimulationV1({
          amount: this.creditAmount,
          duration: this.creditDuration,
          birthdateT1: convertDate(this.birthDate),
          birthdateT2: null,
          hasInsuranceT1: true,
          hasInsuranceT2: false,
          sourceId: this.simulator.simulationContext.sourceId,
          projectId: this.simulator.simulationContext.projectId
        })
      );
      Promise.all(promises).then((values) => {
        if (
          (values[0].data.proposals[0].monthlyInsuranceAmountT1 >
            values[1].data.proposals[0].monthlyInsuranceAmountT1 &&
            values[1].data.proposals[0].monthlyInsuranceAmountT1 > 0) ||
          values[0].data.proposals[0].monthlyInsuranceAmountT1 === 0
        ) {
          store.commit('updateMinInsuranceProposal', values[1].data);
        } else {
          store.commit('updateMinInsuranceProposal', values[0].data);
        }
        this.loading = false;
      });
    }

    // Disable the body scroll to avoid scrolling content behind the simulator popin on iOS
    // To avoid undefined $refs, the body scroll is disable with a timeout of 300ms
    setTimeout(() => {
      removeScroll(this.$refs.rightSidebarContentSummary as HTMLDivElement);
      removeScroll(this.$refs.rightSidebarContentLegal as HTMLDivElement);
    }, 300);
  }

  @Watch('activeTab')
  private updateNav() {
    if (this.activeTab) {
      this.activePNav = this.activeTab;
    }
  }
}
</script>

<style lang="scss" scoped>
.right-sidebar {
  &-container {
    .button {
      font-family: $font-bold;
      font-size: 14px;
      text-transform: uppercase;
      color: $color-text-button;
      border-radius: 30px;
      background-color: $color-partner-4;
      border: 1px solid $color-partner-4;
      position: relative;
      z-index: 1;
      display: inline-block;
      margin: 20px auto;
      padding: 15px 30px;
      opacity: 1;
      transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
      cursor: pointer;

      @media screen and (min-width: 768px) {
        &:not(.loading):hover {
          box-shadow: 0 6px 10px -5px var(--color-partner-4-05);
          background-color: var(--color-partner-4-07);
        }
      }

      &.disabled {
        opacity: 0.4;
        pointer-events: none;
        cursor: default;
      }

      &.loading {
        cursor: default;
        pointer-events: none;

        > span {
          opacity: 0;
        }

        .loader-button {
          display: block;
        }
      }

      > span {
        font-family: $font-bold;
      }

      .icon {
        font-size: 16px;
        line-height: 12px;
        color: $color-text-button;
        display: inline-block;
        vertical-align: middle;

        &.icon-left {
          margin-right: 10px;
          transform: rotateY(180deg);
        }

        &.icon-right {
          margin-left: 10px;
        }
      }

      &-red-no-bg {
        @extend .button;
        background-color: $color-white;
        color: $color-partner-3;
        border-width: 2px;

        @media screen and (min-width: $width_S) {
          &:hover,
          &:not(.loading):hover {
            background-color: transparent;
          }
        }

        span,
        .icon {
          color: $color-partner-3;
        }
      }

      &-green {
        @extend .button;
        background-color: $color-partner-1;
        color: $color-white;
        border-color: $color-partner-1;

        @media screen and (min-width: $width_S) {
          &:not(.loading):hover {
            background-color: $color-main-light;
            border-color: $color-main-light;
            box-shadow: 0 0 0 0;
          }
        }

        span,
        .icon {
          color: $color-white;
        }
      }

      &-no-bg {
        @extend .button;
        background-color: transparent;
        color: $color-grey-button;
        border: 2px solid $color-grey-button;

        @media screen and (min-width: $width_S) {
          &:hover,
          &:not(.loading):hover {
            background-color: #e2e2e2;
            box-shadow: 0 0 0 0;
          }
        }

        .icon {
          color: $color-grey-button;
        }
      }
    }
    .popup__close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;

      @include cross(25px, $color-partner-1);
      background-color: $color-white;
      width: calc(#{$topbar-height} - 15px);
      height: 100%;
      min-height: 50px;
      max-height: $topbar-height;
      transition: background-color 0.25s ease-in-out;

      @media screen and (max-width: $width_S) {
        @include cross(20px, $color-partner-1);
        width: calc(#{$topbar-mobile-height} - 10px);
        height: 100%;
        max-height: $topbar-mobile-height;
      }
    }
    z-index: $popup-content-zindex;
    background-color: $color-white;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.1);
    min-width: 580px;
    height: 100%;
    text-align: center;
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;

    @media screen and (max-width: $width_S) {
      width: 100%;
      min-width: auto;
    }

    &.hide {
      transform: translateX(100%);
    }
  }

  &-header {
    background-color: #f5f5f5;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: $topbar-height;
    height: $topbar-height;
    overflow: hidden;

    @media screen and (max-width: $width_S) {
      height: $topbar-mobile-height;
    }

    &::before {
      content: '';
      background-color: $color-white;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: calc((100% - #{$topbar-height} + 15px) / 2);
      height: 100%;
      transform: translateX(0);
      transition: transform 0.25s ease-in-out 0.25s;

      @media screen and (max-width: $width_S) {
        width: calc((100% - #{$topbar-mobile-height} + 10px) / 2);
      }
    }

    &.infosOpen {
      &::before {
        transform: translateX(100%);
      }
    }

    &__tab {
      font-family: $font-bold;
      font-size: 14px;
      letter-spacing: 0;
      color: $color-form-text;
      position: relative;
      z-index: 2;
      width: calc((100% - #{$topbar-height} + 15px) / 2);
      height: 100%;
      transition: all 0.25s ease-in-out;

      @media screen and (max-width: $width_S) {
        width: calc((100% - #{$topbar-mobile-height}) / 2);
        padding: 10px 20px;
        text-align: left;
        font-size: 12px;
      }

      @media screen and (min-width: $width_S) {
        &:hover {
          color: $color-partner-1;
        }
      }

      &.active {
        color: $color-partner-1;
      }
    }
  }

  &-content {
    position: relative;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: $width_S) {
      width: auto;
      min-width: auto;
      max-width: 100%;
    }

    > div {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.25s ease-in-out, visibility 0.1s linear 0.3s;

      &.active-block {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transition: visibility 0.1s linear, opacity 0.3s ease-in-out 0.3s;
      }
    }

    &__summary {
      height: calc(100vh - #{$topbar-height});
      padding: 40px 100px 90px;
      overflow: auto;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background-color: $color-label-card-img-disabled;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: $color-label-card-img;
      }

      @media screen and (max-width: $width_S) {
        height: calc(100vh - #{$topbar-mobile-height});
        padding: 20px 15px 200px;
      }
    }

    &__legal {
      height: calc(100vh - #{$topbar-height});
      padding: 30px 100px;
      overflow: auto;

      @media screen and (max-width: $width_S) {
        height: calc(100vh - #{$topbar-mobile-height});
        padding: 20px 15px 20px;
      }

      .form-result__separator {
        display: block;
        margin-bottom: 20px;
      }
    }

    &__email {
      text-align: left;

      label {
        font-family: $font-bold;
        font-size: 14px;
        text-align: center;
        color: #000000;
        display: block;
        margin-bottom: 15px;
      }

      &-form {
        &__input {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          overflow: hidden;

          /deep/ .input-text-email-component {
            width: calc(100% - #{$input-height});
          }

          button {
            color: #ffffff;
            border-color: $color-partner-1;
            background-color: $color-partner-1;
            width: $input-height;
            height: $input-height;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            span {
              font-family: $font-bold;
              font-size: 14px;
              line-height: $input-height;
            }

            @media screen and (min-width: $width_S) {
              &:hover {
                background-color: $color-main-light;
                border-color: $color-main-light;
              }
            }

            .loader {
              position: relative;
              zoom: 0.85;
            }
          }
        }

        .email-sent {
          justify-content: center;
          align-items: center;
          display: flex;
          width: 100%;
          margin: 25px 0 25px 0;
          height: 48px;

          span {
            font-family: $font-medium;
            font-size: 13px;
            line-height: 1.2;
            margin-left: 10px;
            color: $color-partner-1;
          }
        }

        .email-error {
          width: 100%;
          display: block;
          margin: 25px 0 25px 0;

          .inner {
            padding: 15px 0 16px 23px;
            font-size: 13px;
            line-height: 1.23;
            font-family: $font-bold;
            color: $color-tooltip-text-error;
            background-color: rgba(235, 55, 56, 0.1);
            text-align: center;
          }
        }
      }
    }

    &__infos {
      font-family: $font-regular;
      font-size: 12px;
      line-height: 19px;
      text-align: left;
      color: $color-label-card-img;
      margin: 10px 0;
    }

    &__reportinfos {
      font-family: $font-regular;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      color: $color-grey-medium;
      margin-bottom: 10px;
    }

    &__lastinfos {
      font-family: $font-regular;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      color: $color-form-text;
      margin-top: 10px;
      margin-bottom: 90px;

      @media screen and (max-width: $width_S) {
        margin-bottom: 0;
      }
    }

    &__footer {
      display: none;
      font-family: $font-regular;
      font-size: 15px;
      line-height: 20px;
      text-align: left;
      color: #000000;
      background-color: $color-white;
      border-top: 1px solid #dddddd;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      transform: translateY(100%);
      width: 100%;
      padding: 25px 100px;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      @media screen and (max-width: $width_S) {
        padding: 15px;
      }

      &.active {
        display: block;
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__legal {
    &-nav {
      text-align: center;
      margin-bottom: 15px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        @media screen and (max-width: $width_XS) {
          flex-wrap: wrap;
        }
      }

      &__tab {
        font-family: $font-bold;
        font-size: 14px;
        line-height: 16px;

        border-top: 1px solid $color-grey-regular;
        border-bottom: 1px solid $color-grey-regular;
        border-left: 1px solid $color-grey-regular;
        &:last-child {
          border-right: 1px solid $color-grey-regular;
        }

        color: $color-grey-button;
        background-color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: auto;
        min-width: 70px;
        height: 50px;
        padding: 8px 15px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &.active-nav {
          color: $color-white;
          background-color: $color-partner-1;

          &.is-partner {
            color: $color-grey-button;
            background-color: $color-white;
            cursor: initial;
          }
        }

        @media screen and (min-width: $width_S) {
          &:not(.active-nav):hover {
            color: $color-partner-1;
            cursor: pointer;

            &.is-partner {
              color: $color-grey-button;
              cursor: default;
            }
          }
        }

        @media screen and (max-width: $width_XS) {
          border-right: 1px solid $color-grey-regular;
          &:nth-child(1) {
            order: 1;
            flex: 0 0 90px;
            width: 90px;
          }

          &:nth-child(2) {
            order: 3;
            flex: 0 0 90px;
            width: 90px;
          }

          &:nth-child(3) {
            order: 2;
            width: calc(100% - 90px);
            border-bottom: 0 none;
            border-right: 1px solid $color-grey-regular;
          }

          &:nth-child(4) {
            order: 4;
            width: calc(100% - 90px);
          }
        }

        a {
          font-family: $font-bold;
          font-size: 14px;
          line-height: 16px;
          color: $color-grey-button;
          transition: all 0.3s ease-in-out;

          @media screen and (min-width: $width_S) {
            &:hover {
              color: $color-partner-1;
            }
          }
        }
      }
    }

    &-text {
      font-family: $font-regular;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      color: $color-form-text;
      margin-bottom: 0;
    }

    &-pdf {
      text-align: center;
      border: 1px solid $color-label-card-img;
      position: relative;
      display: block;
      height: 400px;
      margin-bottom: 30px;
      overflow: hidden;

      > span {
        @include center;
      }

      @media screen and (max-width: $width_S) {
        display: none;
      }
    }

    &-pdf-mobile {
      font-size: 13px;
      text-align: left;
      color: $color-tooltip-text;
      background-color: $color-tooltip-bg;
      display: none;
      margin: 25px 0 5px 0;
      padding: 20px;

      @media screen and (max-width: $width_S) and (orientation: portrait) {
        display: flex;

        > img {
          margin-right: 15px;
        }

        /deep/ p {
          span {
            font-family: $font-bold;
          }
        }
      }

      @media screen and (max-width: $width_S) and (orientation: landscape) {
        display: none;
      }
    }

    &-download {
      display: inline-block;
      margin: 0 auto 20px;

      .icon {
        font-size: 22px;
        color: $color-white;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;

        @media screen and (max-width: $width_S) and (orientation: landscape) {
          display: none;
        }
      }

      &-text {
        &-desktop {
          display: inline-block;

          @media screen and (max-width: $width_S) and (orientation: landscape) {
            display: none;
          }
        }

        &-mobile {
          display: none;

          @media screen and (max-width: $width_S) and (orientation: landscape) {
            display: inline-block;
          }
        }
      }

      @media screen and (max-width: $width_S) and (orientation: portrait) {
        display: none;
      }

      @media screen and (max-width: $width_S) and (orientation: landscape) {
        display: block;
      }
    }

    &-separator {
      font-family: $font-regular;
      font-size: 12px;
      color: #000000;
      display: block;
      margin-bottom: 20px;
    }
  }
}

// appear transition
.appear-enter-active {
  transition: opacity 500ms ease-in-out;
}
.appear-leave-active {
  transition: none;
}
.appear-enter,
.appear-leave-to {
  opacity: 0;
}
</style>
