<template>
  <div class="cgu" v-html="$t('CGU.contenu')"></div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({})
export default class TosContent extends Vue {}
</script>

<style lang="scss">
.cgu {
  font-size: 14px;
  text-align: justify;

  p {
    margin-bottom: 10px;
    font-size: 13px;
  }

  h3 {
    font-family: $font-bold;
    font-size: 15px;
    margin-bottom: 10px;
  }

  h4 {
    font-family: $font-bold;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 5px;
  }

  ol {
    list-style-type: none;
    counter-reset: item-counter;
    margin-left: 13px;
    margin-bottom: 10px;

    li {
      margin-bottom: 5px;
      position: relative;
      padding-left: 5px;
    }

    li::before {
      counter-increment: item-counter;
      content: counter(item-counter) '. ';
      position: absolute;
      left: -13px;
    }
  }

  ul {
    list-style-type: none;
    margin-left: 13px;
    margin-bottom: 13px;

    li {
      margin-bottom: 5px;
      position: relative;
      padding-left: 5px;
    }

    li::before {
      content: '- ';
      position: absolute;
      left: -13px;
    }
  }

  .underline {
    text-decoration: underline;
  }

  a {
    font-size: 12px;

    &:link {
      color: #00a9b1;
    }
  }

  .footer {
    font-size: 10px;
  }
}
</style>
