<template>
  <app-popin
    ref="popin"
    :title="$t('SignatureElectronique.cguTitre')"
    :closeAction="closeModal"
    :active="opened"
    :colors="colors"
    :bigHeader="true"
    :popinHeader="false"
    :rightSideBar="false"
    :headerColor="colors.primary"
    :noPaddingTop="true"
    :high="true"
  >
    <div ref="tosContainer" class="popup-container">
      <div ref="tosCGUIntro">
        <p class="tos__text" v-html="$t('SignatureElectronique.pourSignerLire')"></p>
        <a class="tos__download" download target="_blank" :href="cguURL">{{
          $t('SignatureElectronique.telechargerCGU')
        }}</a>
      </div>
      <tos-content class="tos-content" :style="{ height: heightTosContent }"></tos-content>
      <div ref="tosCGUFooter" class="tos-footer">
        <div
          class="legal-validation"
          :class="{
            error: showAgreementError && !agreement,
            checked: agreement
          }"
        >
          <input type="checkbox" id="agreement" v-model="agreement" />
          <label for="agreement" v-html="$t('SignatureElectronique.jAttesteCGU')"></label>
        </div>
        <div class="button-container">
          <app-button
            class="button"
            :noChevron="true"
            :label="$t('SignatureElectronique.continuer')"
            :onClick="handleProceedButtonClick"
            :flat="false"
          />
        </div>
      </div>
    </div>
  </app-popin>
</template>

<script lang="ts">
import Vue from 'vue';
import { Prop, Watch, Component } from 'vue-property-decorator';
import { Mutation, State } from 'vuex-class';

import Config from '@/config/config';
import { Colors } from '@/models/Colors';
import { testIsMobile } from '@/utils/browsers';

import TosContent from '@/views/popin/TosContent.vue';
import Popin from '@/components/graphic/Popin.vue';
import Button from '@/components/graphic/Button.vue';

@Component({
  components: {
    'tos-content': TosContent,
    'app-popin': Popin,
    'app-button': Button
  }
})
export default class TosPopin extends Vue {
  @Prop() private cguURL: string;
  @State((state) => state.apiConfig.colors) private colors!: Colors;
  @Prop() private opened!: boolean;
  @Prop() private closeModal!: () => void;

  @Mutation
  private updateTosAccepted!: (tosAccepted: boolean) => void;

  private agreement: boolean = false;
  private showAgreementError: boolean = false;
  private heightTosContent: string = '0px';

  @Watch('opened')
  private onOpenedChange() {
    this.getHeightTosContent();
  }

  private created() {
    window.addEventListener('resize', this.getHeightTosContent, false);
  }

  private handleProceedButtonClick() {
    if (this.agreement) {
      this.updateTosAccepted(true);
      this.closeModal();
      this.$emit('closeTosPopin');
    } else {
      this.showAgreementError = true;
    }
  }

  private getHeightTosContent() {
    setTimeout(() => {
      const heightContainer = (this.$refs as any).tosContainer.offsetHeight;
      const heightCGUIntro = (this.$refs as any).tosCGUIntro.offsetHeight;
      const heightCGUFooter = (this.$refs as any).tosCGUFooter.offsetHeight;
      let offset = 0;
      if (window.screen.width < 768) {
        offset = 70;
      } else if (window.screen.width === 768) {
        // There is a bug on screen where the width is equal to 768 (ex: on iPad screen):
        // the CGU content isn't fully scrollable
        // To fix this bug we subtract the offsetHeight from the topbar of the popin
        // in order to have the entire content of the CGU
        const popinComponent = this.$refs.popin as Vue;
        if (popinComponent && popinComponent.$refs.topBarPopin) {
          offset = Math.abs((popinComponent.$refs.topBarPopin as HTMLDivElement).offsetHeight) * -1;
        }
      }
      this.heightTosContent = heightContainer - heightCGUIntro - heightCGUFooter + offset + 'px';
    });
  }
}
</script>

<style lang="scss" scoped>
.popup-container {
  height: 80%;
  padding: 0 50px;
  margin-top: 10px;

  @media screen and (max-width: $width_S) {
    height: 100%;
    padding: 5px 20px;
  }

  @media screen and (max-width: $width_S - 1) {
    margin-top: $topbar-mobile-height;
  }
}

.tos {
  &__title {
    font-family: $font-bold;
    font-size: 32px;
    line-height: 36px;
    color: $color-partner-1;
    margin-bottom: 25px;
    padding-top: 40px;

    @media screen and (max-width: $width_S) {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 20px;
      padding-top: 20px;
    }

    @media screen and (max-width: $width_XS) {
      margin-bottom: 10px;
    }
  }

  &__text {
    font-family: $font-regular;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    color: $color-black;
    margin-bottom: 10px;
    text-align: left;

    @media screen and (max-width: $width_XS) {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &__download {
    font-family: $font-bold;
    font-size: 16px;
    color: $color-partner-1;
    display: block;
    padding-bottom: 10px;
    text-align: left;

    @media screen and (max-width: $width_XS) {
      padding-bottom: 15px;
    }
  }

  &-content {
    overflow: auto;
    padding: 0 30px 0 0;

    @media screen and (min-width: $width_S + 1) {
      border: 1px solid rgb(245, 245, 245);
      padding: 8px 30px 8px 10px;
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-partner-1;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #f5f5f5;
    }
  }

  &-footer {
    margin-top: 10px;
    padding: 10px 0 20px;

    .button-container {
      text-align: center;

      .button {
        margin: 15px auto 0;
        padding: 15px 30px;
        width: auto;
      }
    }

    @media screen and (max-width: $width_S) {
      background-color: #ffffff;
      border-top: 1px solid #cdcdcd;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      padding: 20px 0;
      overflow: auto;

      .legal-validation {
        margin: 0 $form-padding-left-mobile;
      }

      .button-container .button {
        margin: 10px auto 0;
      }
    }
  }
}
</style>
