<template>
  <div>
    <div v-if="!loading">
      <div class="inputContainer">
        <InputNumber
          data-cy="refundHouseCredit"
          :autofocus="true"
          :setValue="setValueWrapper"
          :value="charges.refundHouseCredit"
          id="refundHouseCredit"
          :label="$t('souscription.blocBudget.charges.rembCreditImmo')"
          :customColor="colors"
          :errorImgPath="`/error-icon.svg`"
          :borrower="getBorrower(isPrincipal)"
          v-if="businessRule.showRefundHouseCredit(adresse)"
        />
        <InputNumber
          data-cy="rental"
          :autofocus="true"
          :setValue="setValueWrapper"
          :value="charges.rental"
          id="rental"
          :label="$t('souscription.blocBudget.charges.loyer')"
          :customColor="colors"
          :errorImgPath="`/error-icon.svg`"
          :borrower="getBorrower(isPrincipal)"
          v-if="businessRule.showRentCharges(adresse)"
        />
      </div>
      <div class="checkbox-wrapper">
        <div class="checkbox-title">
          {{ $t('souscription.blocBudget.charges.questionPensionAlim') }}
        </div>
        <CheckboxCustom
          data-cy="hasAlimony"
          :setValue="setValueWrapper"
          :value="charges.hasAlimony"
          id="hasAlimony"
          :borrower="getBorrower(isPrincipal)"
          :customColor="colors"
        />
      </div>
      <ToolTipCustom
        :toolTip="questionAlimonyToolTip"
        :customColor="customColorTooltip"
        :display="true"
        class="tooltipCustom"
      />
      <div ref="hasAlimony" class="more-form" :style="{ height: heightHasAlimony }">
        <div class="inputContainer">
          <input-number
            data-cy="alimony"
            id="alimony"
            :setValue="setValueWrapper"
            :value="charges.alimony"
            :label="$t('souscription.blocBudget.charges.pensionAlim')"
            :customColor="colors"
            :errorImgPath="`/error-icon.svg`"
            :borrower="getBorrower(isPrincipal)"
          />
        </div>
      </div>
      <div class="checkbox-wrapper">
        <div class="checkbox-title">
          {{ $t('souscription.blocBudget.charges.questionAutresCredit') }}
        </div>
        <CheckboxCustom
          data-cy="moreCredits"
          id="moreCredits"
          :setValue="setValueWrapper"
          :value="charges.moreCredits"
          :borrower="getBorrower(isPrincipal)"
          :customColor="colors"
        />
      </div>
      <ToolTipCustom
        :toolTip="questionOtherToolTip"
        :customColor="customColorTooltip"
        :display="true"
        class="tooltipCustom"
      />
      <div ref="moreCredits" class="more-form" :style="{ height: heightMoreCredits }">
        <div class="inputContainer">
          <input-number
            data-cy="carCredit"
            id="carCredit"
            :setValue="setValueWrapper"
            :value="charges.carCredit"
            :errorImgPath="`/error-icon.svg`"
            :label="$t('souscription.blocBudget.charges.creditAuto')"
            :customColor="colors"
            :toolTip="carCreditToolTip"
            :customColorTooltip="customColorTooltip"
            :borrower="getBorrower(isPrincipal)"
            :removeZeroOnUserFocus="true"
          />
        </div>
        <div class="inputContainer">
          <input-number
            data-cy="revolving"
            id="revolving"
            :setValue="setValueWrapper"
            :value="charges.revolving"
            :label="$t('souscription.blocBudget.charges.creditRenouvelable')"
            :customColor="colors"
            :toolTip="revolvingToolTip"
            :customColorTooltip="customColorTooltip"
            :errorImgPath="`/error-icon.svg`"
            :borrower="getBorrower(isPrincipal)"
            :removeZeroOnUserFocus="true"
          />
        </div>
        <div class="inputContainer">
          <input-number
            data-cy="otherCredit"
            :setValue="setValueWrapper"
            :value="charges.otherCredit"
            id="otherCredit"
            :label="$t('souscription.blocBudget.charges.autreCredit')"
            :customColor="colors"
            :toolTip="otherToolTip"
            :customColorTooltip="customColorTooltip"
            :errorImgPath="`/error-icon.svg`"
            :borrower="getBorrower(isPrincipal)"
            :removeZeroOnUserFocus="true"
          />
        </div>
      </div>
    </div>

    <div v-if="loading">
      <content-loader
        class="desktop-only"
        :width="400"
        :height="320"
        :speed="2"
        primaryColor="#f5f5f5"
        secondaryColor="#ecebeb"
      >
        <rect x="0" y="17" rx="0" ry="0" width="400" height="46" />
        <rect x="0" y="99" rx="0" ry="0" width="300" height="14" />
        <rect x="0" y="140" rx="0" ry="0" width="400" height="46" />
        <rect x="0" y="227" rx="0" ry="0" width="300" height="14" />
        <rect x="0" y="267" rx="0" ry="0" width="400" height="63" />
      </content-loader>

      <content-loader
        class="mobile-only"
        :width="400"
        :height="300"
        :speed="2"
        primaryColor="#f5f5f5"
        secondaryColor="#ecebeb"
      >
        <rect x="0" y="17" rx="0" ry="0" width="400" height="46" />
        <rect x="0" y="79" rx="0" ry="0" width="400" height="46" />
        <rect x="0" y="159" rx="0" ry="0" width="220" height="14" />
        <rect x="0" y="179" rx="0" ry="0" width="220" height="14" />
        <rect x="320" y="159" rx="0" ry="0" width="80" height="34" />
        <rect x="0" y="217" rx="0" ry="0" width="400" height="80" />
      </content-loader>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import { Charges } from '@/models/subscription/Charges';
import { Adresse } from '@/models/subscription/Adresse';
import { ToolTip } from '@/models/Tooltip';
import { BusinessRule } from '@/services/BusinessRule';
import { ContentLoader } from 'vue-content-loader';

@Component({
  components: {
    ContentLoader
  }
})
export default class ChargesFormContent extends Vue {
  @Prop() public charges!: Charges;
  @Prop() public adresse!: Adresse;
  @Prop() public birthDate!: string;
  @Prop() public loading!: boolean;
  @Prop() public isPrincipal!: boolean;
  @Prop() public setValue!: (subStateName: string, value: any, formName: string, borrower?: string) => void;
  @Prop({ default: () => ({}) }) public colors!: Colors;
  public subStateName = 'charges';
  public businessRule: BusinessRule;
  public alimonyTimeout: any = null;
  public moreCreditTimeout: any = null;
  public heightHasAlimony: string = '0px';
  public heightMoreCredits: string = '0px';
  private myData = '';
  constructor() {
    super();
    this.businessRule = new BusinessRule();
  }

  public mounted() {
    if (this.charges) {
      // Set height of displayed elements depend of charges informations
      this.setHeightHasAlimony(this.charges.hasAlimony);
      this.setHeightMoreCredit(this.charges.moreCredits);
    }

    // Just pretend this is an AJAX call. Use your imagination.
    setTimeout(() => {
      this.myData = 'Data loaded';
    }, 3000);
  }

  public get questionAlimonyToolTip(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocBudget.charges.questionPensionAlimTooltipImg').toString(),
      text: this.$t('souscription.blocBudget.charges.questionPensionAlimTooltip').toString(),
      alt: 'aide'
    };
  }

  public get questionOtherToolTip(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocBudget.charges.questionAutresCreditTooltipImg').toString(),
      text: this.$t('souscription.blocBudget.charges.questionAutresCreditTooltip').toString(),
      alt: 'aide'
    };
  }

  public get carCreditToolTip(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocBudget.charges.creditAutoTooltipImg').toString(),
      text: this.$t('souscription.blocBudget.charges.creditAutoTooltip').toString(),
      alt: 'aide'
    };
  }

  public get revolvingToolTip(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocBudget.charges.creditRenouvelableTooltipImg').toString(),
      text: this.$t('souscription.blocBudget.charges.creditRenouvelableTooltip').toString(),
      alt: 'aide'
    };
  }

  public get otherToolTip(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocBudget.charges.autreCreditTooltipImg').toString(),
      text: this.$t('souscription.blocBudget.charges.autreCreditTooltip').toString(),
      alt: 'aide'
    };
  }

  public get customColorTooltip() {
    return {
      primary: this.colors.secondary,
      // @ts-ignore
      secondary: this.hexToRgb(this.colors.secondary, 0.08)
    };
  }

  public setValueWrapper(...args: any[]) {
    // @ts-ignore
    this.setValue(this.subStateName, ...args);
  }

  @Watch('loading')
  public updateHeights() {
    Vue.nextTick(() => {
      if (!this.loading) {
        if (this.charges) {
          // Set height of displayed elements depend of charges informations
          this.setHeightHasAlimony(this.charges.hasAlimony);
          this.setHeightMoreCredit(this.charges.moreCredits);
        }
      }
    });
  }

  @Watch('charges.hasAlimony')
  public setHeightHasAlimony(hasAlimony: boolean) {
    if (hasAlimony) {
      if ((this.$refs as any).hasAlimony) {
        this.heightHasAlimony = (this.$refs as any).hasAlimony.scrollHeight + 'px';

        this.alimonyTimeout = setTimeout(() => {
          this.heightHasAlimony = 'auto';
        }, 300);
      }
    } else {
      if ((this.$refs as any).hasAlimony) {
        this.heightHasAlimony = (this.$refs as any).hasAlimony.scrollHeight + 'px';
      }

      if (this.alimonyTimeout) {
        clearTimeout(this.alimonyTimeout);
        this.alimonyTimeout = null;
      }

      setTimeout(() => {
        this.heightHasAlimony = '0px';
      });
    }
  }

  @Watch('charges.moreCredits')
  public setHeightMoreCredit(moreCredits: boolean) {
    if (moreCredits) {
      if ((this.$refs as any).moreCredits) {
        this.heightMoreCredits = (this.$refs as any).moreCredits.scrollHeight + 'px';

        this.moreCreditTimeout = setTimeout(() => {
          this.heightMoreCredits = 'auto';
        }, 300);
      }
    } else {
      if ((this.$refs as any).moreCredits) {
        this.heightMoreCredits = (this.$refs as any).moreCredits.scrollHeight + 'px';
      }

      if (this.moreCreditTimeout) {
        clearTimeout(this.moreCreditTimeout);
        this.moreCreditTimeout = null;
      }

      setTimeout(() => {
        this.heightMoreCredits = '0px';
      });
    }
  }
}
</script>
<style lang="scss" scoped>
.tooltipCustom {
  margin-bottom: 25px;
}

.checkbox-wrapper {
  padding-bottom: 0;
}

.desktop-only {
  display: block;

  @media screen and (max-width: $width_S) {
    display: none;
  }
}

.mobile-only {
  display: none;

  @media screen and (max-width: $width_S) {
    display: block;

    &.pt-20 {
      padding-top: 20px;
    }
  }
}
</style>
