<template>
  <div>
    <div class="inputContainer">
      <input-date
        data-cy="birthDate"
        :autofocus="isPrincipal"
        :maxDate="maxDate"
        :minDate="minDate"
        :setValue="setValueWrapper"
        :value="civility.birthDate"
        :disabled="isReadOnlyInput('birthDate')"
        id="birthDate"
        :label="$t('souscription.blocSituation.civilite.dateNaissanceLabel')"
        :customColor="colors"
        :errorImgPath="`/error-icon.svg`"
        :borrower="getBorrower(isPrincipal)"
      />
    </div>
    <div class="inputContainer">
      <InputTextAutocomplete
        data-cy="birthCountry"
        :getData="countries"
        :setValue="setValueWrapper"
        :value="civility.birthCountry"
        :disabled="isReadOnlyInput('birthCountry')"
        :minChars="3"
        id="birthCountry"
        :label="$t('souscription.blocSituation.civilite.paysNaissanceLabel')"
        :customColor="colors"
        :errorImgPath="`/error-icon.svg`"
        :borrower="getBorrower(isPrincipal)"
      />
    </div>
    <div class="inputContainer">
      <InputTextAutocomplete
        data-cy="birthCity"
        v-if="civility.birthCountry === null || (civility.birthCountry && civility.birthCountry.code === 'F')"
        :disabled="(civility.birthCountry && civility.birthCountry.code !== 'F') || isReadOnlyInput('birthCity')"
        :getData="cities"
        :setValue="setValueWrapper"
        :value="civility.birthCity"
        :minChars="3"
        id="birthCity"
        :label="$t('souscription.blocSituation.civilite.villeNaissanceLabel')"
        :customColor="colors"
        :errorImgPath="`/error-icon.svg`"
        :borrower="getBorrower(isPrincipal)"
      />
    </div>
    <div class="inputContainer">
      <input-text
        data-city="birthCityText"
        v-if="civility.birthCountry && civility.birthCountry.code !== 'F'"
        :setValue="setCustomCityValueWrapper"
        :value="civility.birthCity ? civility.birthCity.label : null"
        :disabled="isReadOnlyInput('birthCity')"
        :onlyText="true"
        id="birthCity"
        :label="$t('souscription.blocSituation.civilite.villeNaissanceSeulLabel')"
        :customColor="colors"
        :errorImgPath="`/error-icon.svg`"
        :borrower="getBorrower(isPrincipal)"
        :maxLength="maxLengthBirthCity"
      />
    </div>
    <div class="inputContainer">
      <InputTextAutocomplete
        data-cy="nationality"
        :getData="nationalities"
        :setValue="setValueWrapper"
        :value="civility.nationality"
        :disabled="isReadOnlyInput('nationality')"
        :minChars="3"
        id="nationality"
        :label="$t('souscription.blocSituation.civilite.nationaliteLabel')"
        :customColor="colors"
        :errorImgPath="`/error-icon.svg`"
        :borrower="getBorrower(isPrincipal)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import { DateTime } from 'luxon';
import { SelectObject } from '@/models/selectObject';
import { Civility } from '@/models/subscription/Civility';
import { BusinessRule } from '@/services/BusinessRule';

@Component({})
export default class CivilityFormContent extends Vue {
  @Prop() public civility!: Civility;
  @Prop() public isPrincipal!: boolean;
  @Prop() public countries!: any;
  @Prop() public nationalities!: any;
  @Prop() public cities!: any;
  @Prop() public setValue!: (subStateName: string, value: any, formName: string, borrower?: string) => void;
  @Prop({ default: () => ({}) }) public colors!: Colors;
  @Prop({ default: false }) public isLogged: boolean;
  public subStateName = 'civility';

  public foreignCity: SelectObject = {
    code: '99000',
    label: ''
  };

  public setValueWrapper(value: any, formName: string, borrower?: string) {
    this.setValue(this.subStateName, value, formName, borrower);
  }

  public setCustomCityValueWrapper(value: any, formName: string, borrower?: string) {
    const newValue = !value
      ? value
      : {
          code: this.foreignCity.code,
          label: value
        };
    this.setValue(this.subStateName, newValue, formName, borrower);
  }

  // Max age = 100 years
  public get minDate(): Date {
    const now = DateTime.local();
    const minDate = now.minus({ years: 100 });
    return minDate.toJSDate();
  }

  // Min age = 18 years
  public get maxDate(): Date {
    const now = DateTime.local();
    const maxDate = now.minus({ years: 18 }).startOf('day');
    return maxDate.toJSDate();
  }

  /**
   * When the client is connected some fields will be auto-filled
   * and some of these fields need to be in readonly to not to be editable.
   *
   * @param field the property name
   */
  public isReadOnlyInput(field: string): boolean {
    return this.isPrincipal && this.isLogged && this.civility && this.civility[field];
  }

  public get maxLengthBirthCity(): number {
    return BusinessRule.MAX_LENGTH_BIRTH_CITY;
  }

  @Watch('civility.birthCountry')
  private onBirthCountryChange(newValue: any, oldValue: any) {
    const hasBirthCountry = this.civility.birthCountry;
    const valueChanged = newValue !== null && oldValue !== null && newValue.code !== oldValue.code;

    // empty Birth City if birth country change
    if (!hasBirthCountry || valueChanged) {
      // @ts-ignore
      this.setValue(this.subStateName, null, 'birthCity', this.getBorrower(this.isPrincipal));
    }
  }
}
</script>
