<template>
  <div>
    <div class="inputContainer" v-if="!isPrincipal">
      <ToolTipCustom
        :toolTip="secondaryPedago"
        :customColor="customColorTooltip"
        :display="true"
        :hideArrow="true"
        class="tooltipCustom"
      />
    </div>
    <div class="inputContainer">
      <InputTextEmail
        data-cy="email"
        id="email"
        :label="$t('souscription.blocInformation.coordonnees.emailLabel')"
        :value="contact.email"
        :setValue="setValueWrapper"
        :required="true"
        autocomplete="email"
        :toolTip="emailToolTip"
        :customColor="colors"
        :customColorTooltip="customColorTooltip"
        :borrower="getBorrower(isPrincipal)"
        :validateOnChange="true"
        :errorImgPath="`/error-icon.svg`"
        :autofocus="isPrincipal"
        :maxLength="maxLengthEmail"
      />
    </div>
    <div class="inputContainer">
      <InputPhone
        data-cy="mobilePhone"
        id="mobilePhone"
        :label="$t('souscription.blocInformation.coordonnees.telephoneLabel')"
        :value="contact.mobilePhone"
        :setValue="setValueWrapper"
        autocomplete="tel"
        :toolTip="mobileToolTip"
        :customColorTooltip="customColorTooltip"
        :required="true"
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
        :errorImgPath="`/error-icon.svg`"
        :validateOnChange="true"
      />
    </div>
    <div class="inputContainer">
      <InputPhone
        data-cy="homePhone"
        id="homePhone"
        :label="$t('souscription.blocInformation.coordonnees.telephoneFixeLabel')"
        :value="contact.homePhone"
        :setValue="setValueWrapper"
        :required="false"
        :isMobile="false"
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
        :errorImgPath="`/error-icon.svg`"
        :validateOnChange="true"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { Contact } from '@/models/subscription/Contact';
import { ToolTip, TooltipLevel } from '@/models/Tooltip';
import { Colors } from '@/models/Colors';
import { BusinessRule } from '@/services/BusinessRule';

@Component({})
export default class ContactFormContent extends Vue {
  @Prop() public principal!: Contact;
  @Prop() public contact!: Contact;
  @Prop() public setValue!: (value: any, formName: string, borrower?: string) => void;
  @Prop({ default: () => ({}) }) public colors!: Colors;
  @Prop() public isPrincipal!: boolean;
  @Prop() public creditForTwo!: boolean | null;
  public subStateName = 'contact';

  public setValueWrapper(...args: any[]) {
    // @ts-ignore
    this.setValue(this.subStateName, ...args);
  }

  public get emailToolTip(): ToolTip {
    if (this.isPrincipal) {
      return {
        imgSrc: this.$t('souscription.blocInformation.coordonnees.aideEmailImg').toString(),
        text: this.$t('souscription.blocInformation.coordonnees.aideEmail').toString(),
        alt: 'aide'
      };
    } else {
      if (this.creditForTwo) {
        if (this.principal.email === this.contact.email) {
          return {
            imgSrc: this.$t('souscription.blocInformation.coordonnees.attentionEmailImg').toString(),
            text: this.$t('souscription.blocInformation.coordonnees.emailCoEmprunteurIdentique').toString(),
            alt: 'attention',
            level: TooltipLevel.WARNING
          };
        } else {
          return {
            imgSrc: this.$t('souscription.blocInformation.coordonnees.aideEmailImg').toString(),
            text: this.$t('souscription.blocInformation.coordonnees.aideEmailCoEmprunteur').toString(),
            alt: 'aide'
          };
        }
      }
    }
    return null;
  }

  public get mobileToolTip(): ToolTip {
    if (this.isPrincipal) {
      return {
        imgSrc: this.$t('souscription.blocInformation.coordonnees.aideMobileImg').toString(),
        text: this.$t('souscription.blocInformation.coordonnees.aideMobile').toString(),
        alt: 'aide'
      };
    } else {
      if (this.creditForTwo) {
        if (this.principal.mobilePhone === this.contact.mobilePhone) {
          return {
            imgSrc: this.$t('souscription.blocInformation.coordonnees.attentionMobileImg').toString(),
            text: this.$t('souscription.blocInformation.coordonnees.mobileCoEmprunteurIdentique').toString(),
            alt: 'attention',
            level: TooltipLevel.WARNING
          };
        } else {
          return {
            imgSrc: this.$t('souscription.blocInformation.coordonnees.aideMobileImg').toString(),
            text: this.$t('souscription.blocInformation.coordonnees.aideMobileCoEmprunteur').toString(),
            alt: 'aide'
          };
        }
      }
    }
    return null;
  }

  public get secondaryPedago(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocInformation.coordonnees.pedagogieConjointImg').toString(),
      text: this.$t('souscription.blocInformation.coordonnees.pedagogieConjoint').toString(),
      alt: 'pédago'
    };
  }

  public get customColorTooltip() {
    return {
      primary: this.colors.secondary,
      // @ts-ignore
      secondary: this.hexToRgb(this.colors.secondary, 0.08)
    };
  }

  public get maxLengthEmail(): number {
    return BusinessRule.MAX_LENGTH_EMAIL;
  }
}
</script>

<style lang="scss" scoped></style>
