<template>
  <div>
    <div class="inputContainer">
      <SelectCustom
        data-cy="professionalStatus"
        :options="professionalStatus"
        :setValue="setValueWrapper"
        :value="employment.professionalStatus"
        :label="$t('souscription.blocBudget.travail.statutProfessionnel')"
        id="professionalStatus"
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
        :errorImgPath="`/error-icon.svg`"
      />
    </div>
    <div
      :class="[{ open: setHeightForm(), 'no-overflow': visibleForm, 'items-auto': selectOpen }, nbSelect]"
      class="form-select__work"
    >
      <div class="inputContainer">
        <SelectCustom
          data-cy="profession"
          v-if="displayProfession()"
          :options="professionalStatusCategory"
          :setValue="setValueWrapper"
          :value="employment.profession"
          :label="$t('souscription.blocBudget.travail.profession')"
          id="profession"
          :customColor="colors"
          :borrower="getBorrower(isPrincipal)"
          :errorImgPath="`/error-icon.svg`"
        />
      </div>
      <div class="inputContainer">
        <SelectCustom
          data-cy="activitySector"
          v-if="displayArea()"
          :options="professionalStatusArea"
          :setValue="setValueWrapper"
          :value="employment.activitySector"
          :label="$t('souscription.blocBudget.travail.secteurActivite')"
          id="activitySector"
          :customColor="colors"
          :borrower="getBorrower(isPrincipal)"
          :errorImgPath="`/error-icon.svg`"
        />
      </div>
      <div class="inputContainer">
        <SelectCustom
          data-cy="contract"
          v-if="displayContract()"
          :options="professionalStatusContract"
          :setValue="setValueWrapper"
          :value="employment.contract"
          :label="$t('souscription.blocBudget.travail.contrat')"
          id="contract"
          :customColor="colors"
          :borrower="getBorrower(isPrincipal)"
          :errorImgPath="`/error-icon.svg`"
        />
      </div>
    </div>
    <div class="inputContainer">
      <input-date
        data-cy="sinceWhen"
        :maxDate="maxDate"
        :minDate="minDate"
        :setValue="setValueWrapper"
        :value="employment.sinceWhen"
        id="sinceWhen"
        autocomplete="on"
        :withDays="false"
        :label="$t('souscription.blocBudget.travail.depuisQuand')"
        :customColor="colors"
        :toolTip="dateToolTip"
        :customColorTooltip="customColorTooltip"
        :borrower="getBorrower(isPrincipal)"
        :errorImgPath="`/error-icon.svg`"
        :validateOnChange="true"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { DateTime } from 'luxon';
import { ToolTip } from '@/models/Tooltip';
import { Civility } from '@/models/subscription/Civility';
import { SelectObject } from '@/models/selectObject';
import { Employment } from '@/models/subscription/Employment';
import { Colors } from '@/models/Colors';

@Component({})
export default class EmploymentFormContent extends Vue {
  @Prop() public isPrincipal!: boolean;
  @Prop({ default: () => ({}) }) public colors!: Colors;
  @Prop() public civility!: Civility;
  @Prop() public employment!: Employment;
  @Prop() public professionalStatus!: SelectObject[];
  @Prop() public getProfessionalStatusCategory!: (professionalStatus?: SelectObject) => SelectObject[];
  @Prop() public getProfessionalStatusContract!: (professionalStatus?: SelectObject) => SelectObject[];
  @Prop() public getProfessionalStatusArea!: (professionalStatus?: SelectObject) => SelectObject[];
  @Prop() public setValue!: (value: any, formName: string, borrower?: string) => void;
  public subStateName = 'employment';
  public nbSelect: string = '';
  public visibleForm: boolean = false;
  public selectOpen: boolean = false;
  public professionalStatusCategory: any;
  public professionalStatusArea: any;
  public professionalStatusContract: any;

  public created() {
    this.professionalStatusCategory = this.getProfessionalStatusCategory();
    this.professionalStatusContract = this.getProfessionalStatusContract();
    this.professionalStatusArea = this.getProfessionalStatusArea();
  }

  public setValueWrapper(...args: any[]) {
    // @ts-ignore
    this.setValue(this.subStateName, ...args);
  }

  public get minDate(): Date {
    const dateTime = DateTime.fromFormat('01/' + (this.civility.birthDate + '').substring(3, 10), 'd/M/yyyy');
    return dateTime.plus({ years: 14 }).toJSDate();
  }

  public get maxDate(): Date {
    return new Date();
  }

  public get dateToolTip(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocBudget.travail.depuisQuandTooltipImg').toString(),
      text: this.$t('souscription.blocBudget.travail.depuisQuandTooltip').toString(),
      alt: 'aide'
    };
  }

  public get customColorTooltip() {
    return {
      primary: this.colors.secondary,
      // @ts-ignore
      secondary: this.hexToRgb(this.colors.secondary, 0.08)
    };
  }

  public displayArea(): boolean {
    const statusCode = this.employment.professionalStatus ? this.employment.professionalStatus.code : null;
    // not empty value or 'Retraité' or 'Other'
    return statusCode !== null && statusCode !== '6_6' && statusCode !== '7_7';
  }

  public displayContract(): boolean {
    const statusCode = this.employment.professionalStatus ? this.employment.professionalStatus.code : '';
    // is 'Salarié du privé' or 'Salarié du public'
    return statusCode === '1_1' || statusCode === '2_2';
  }

  public displayProfession(): boolean {
    const statusCode = this.employment.professionalStatus ? this.employment.professionalStatus.code : null;
    // not empty value or 'Retraité'
    return statusCode !== null && statusCode !== '6_6';
  }

  public setHeightForm() {
    let showForm = false;
    if (this.employment.professionalStatus && this.employment.professionalStatus.code !== '6_6') {
      let selectCount = 1; // Professional status select is not part of this select block
      selectCount += this.displayArea() ? 1 : 0;
      selectCount += this.displayContract() ? 1 : 0;
      this.nbSelect = `items-${selectCount}`;

      showForm = true;
      setTimeout(() => {
        this.visibleForm = true;
        this.selectOpen = true;
      }, 300);
    } else {
      this.visibleForm = false;
      this.selectOpen = false;

      setTimeout(() => {
        this.nbSelect = '';
      });
    }

    return showForm;
  }

  @Watch('employment.professionalStatus')
  public onPStatusChange() {
    // empty profession, activity sector and type of contract when the professional status change
    this.employment.profession = null;
    this.employment.activitySector = null;
    this.employment.contract = null;

    this.professionalStatusCategory = this.getProfessionalStatusCategory(this.employment.professionalStatus);
    this.professionalStatusArea = this.getProfessionalStatusArea(this.employment.professionalStatus);
    this.professionalStatusContract = this.getProfessionalStatusContract(this.employment.professionalStatus);
  }
}
</script>

<style lang="scss" scoped>
.form-select__work {
  height: 0;
  transition: height 0.3s ease-in-out 0.1s;

  &.no-overflow {
    overflow: inherit;
  }

  &.open {
    margin-bottom: 15px;
  }

  @for $i from 0 through 6 {
    &.open.items-#{$i} {
      height: calc(#{$i} * (#{55px} + #{15px}));

      &.items-auto {
        height: auto;
      }
    }
  }
}
</style>
