<template>
  <div>
    <div class="stepperContainer">
      <RadioButtonGroupList
        :options="childrenNbr"
        :setValue="setValueWrapper"
        :value="family.childrenNbr"
        class="children-desktop"
        id="childrenNbr"
        :label="$t('souscription.blocSituation.situationFamiliale.enfants')"
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
      />
      <InputStepper
        :minValue="0"
        :maxValue="6"
        :setValue="setValueWrapper"
        :value="family.childrenNbr"
        class="children-mobile"
        id="childrenNbr"
        :label="$t('souscription.blocSituation.situationFamiliale.enfants')"
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { SelectObject } from '@/models/selectObject';
import { Family } from '@/models/subscription/Family';
import { Colors } from '@/models/Colors';
import { Getter } from 'vuex-class';

@Component({})
export default class FamilyFormContent extends Vue {
  @Prop() public setValue!: (subStateName: string, value: any, formName: string, borrower?: string) => void;
  @Prop() public family!: Family;
  @Prop() public isPrincipal!: boolean;
  @Prop({ default: () => ({}) }) public colors!: Colors;
  @Prop() public childrenNbr!: SelectObject[];
  public subStateName = 'family';

  public setValueWrapper(...args: any[]) {
    // @ts-ignore
    this.setValue(this.subStateName, ...args);
  }
}
</script>
<style lang="scss" scoped>
#app-subscription-step {
  .children {
    &-desktop {
      display: none;
      @media screen and (min-width: $width_M) {
        display: block;
      }
    }

    &-mobile {
      display: block;
      @media screen and (min-width: $width_M) {
        display: none;
      }
    }
  }

  .SpouseContainer {
    display: flex;
    align-items: center;

    span {
      color: $color-grey-black;
      line-height: 1.25;
      font-family: $font-bold;
      font-size: 16px;
      margin-right: 15px;
    }
  }
}
</style>
