<template>
  <div>
    <div class="inputContainer">
      <input-text
        data-cy="addressLabel"
        :autofocus="true"
        :setValue="setValueWrapper"
        :value="adresse.adresseLabel"
        :onlyTextAndNumber="true"
        id="adresseLabel"
        :label="$t('souscription.blocSituation.adresse.adresse')"
        :customColor="colors"
        :errorImgPath="`/error-icon.svg`"
        :borrower="getBorrower(isPrincipal)"
        :maxLength="maxLengthAddress"
      />
    </div>
    <div class="inputContainer">
      <input-text
        data-cy="complementAddress"
        :setValue="setValueWrapper"
        :value="adresse.complementAdresse"
        :onlyTextAndNumber="true"
        :required="false"
        id="complementAdresse"
        :label="$t('souscription.blocSituation.adresse.complementAdresse')"
        :customColor="colors"
        :errorImgPath="`/error-icon.svg`"
        :borrower="getBorrower(isPrincipal)"
        :maxLength="maxLengthAddress"
      />
    </div>
    <div class="inputContainer">
      <InputTextAutocomplete
        data-cy="addressCity"
        :getData="getCities"
        :setValue="setValueWrapper"
        :value="adresse.adresseCity"
        :minChars="3"
        id="adresseCity"
        :label="$t('souscription.blocSituation.adresse.city')"
        :customColor="colors"
        :errorImgPath="`/error-icon.svg`"
        :borrower="getBorrower(isPrincipal)"
      />
    </div>
    <div class="inputContainer">
      <SelectCustom
        data-cy="housingType"
        :options="housingType"
        :setValue="setValueWrapper"
        :value="adresse.housingType"
        :label="$t('souscription.blocSituation.adresse.statutOccupation')"
        id="housingType"
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
        :errorImgPath="`/error-icon.svg`"
      />
    </div>
    <div class="inputContainer">
      <input-date
        data-cy="sinceWhen"
        :maxDate="maxDate"
        :minDate="minDate"
        autocomplete="on"
        :setValue="setValueWrapper"
        :value="adresse.sinceWhen"
        :withDays="false"
        id="sinceWhen"
        :label="$t('souscription.blocSituation.adresse.dateAdresse')"
        :customColor="colors"
        :customColorTooltip="customColorTooltip"
        :toolTip="dateToolTip"
        :errorImgPath="`/error-icon.svg`"
        :borrower="getBorrower(isPrincipal)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { Adresse } from '@/models/subscription/Adresse';
import { Charges } from '@/models/subscription/Charges';
import { Civility } from '@/models/subscription/Civility';
import { Colors } from '@/models/Colors';
import { SelectObject } from '@/models/selectObject';
import { ToolTip } from '@/models/Tooltip';
import { DateTime } from 'luxon';
import { BusinessRule } from '@/services/BusinessRule';

@Component({})
export default class HousingFormContent extends Vue {
  @Prop() public setValue!: (subStateName: string, value: any, formName: string, borrower?: string) => void;
  @Prop() public adresse!: Adresse;
  @Prop() public civility!: Civility;
  @Prop() public charges!: Charges;
  @Prop() public isPrincipal!: boolean;
  @Prop({ default: () => ({}) }) public colors!: Colors;
  @Prop() public getCities!: any;
  @Prop() public housingType!: SelectObject[];
  @Prop() public childrenNbr!: SelectObject[];
  public subStateName = 'adresse';

  public setValueWrapper(...args: any[]) {
    // @ts-ignore
    this.setValue(this.subStateName, ...args);
  }

  // max date is now
  public get maxDate(): Date {
    return new Date();
  }

  public get dateToolTip(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocSituation.adresse.dateAdresseTooltipImg').toString(),
      text: this.$t('souscription.blocSituation.adresse.dateAdresseTooltip').toString(),
      alt: 'aide'
    };
  }

  // min date is birth date
  public get minDate(): Date {
    return DateTime.fromFormat('01/' + (this.civility.birthDate + '').substring(3, 10), 'd/M/yyyy').toJSDate();
  }

  public get customColorTooltip() {
    return {
      primary: this.colors.secondary,
      // @ts-ignore
      secondary: this.hexToRgb(this.colors.secondary, 0.08)
    };
  }

  public get maxLengthAddress(): number {
    return BusinessRule.MAX_LENGTH_ADDRESS;
  }

  @Watch('adresse.housingType')
  private onHousingTypeChange(newValue: any, oldValue: any) {
    // empty rental and refundHouseCredit param when housing type change
    this.setValue('charges', null, 'rental');
    this.setValue('charges', null, 'refundHouseCredit');
  }
}
</script>

<style lang="scss" scoped></style>
