<template>
  <div>
    <div class="inputContainer">
      <InputNumber
        data-cy="netIncomes"
        :autofocus="isPrincipal"
        :setValue="setValueWrapper"
        :toolTip="incomesToolTip"
        :customColorTooltip="customColorTooltip"
        :value="incomes.netIncome"
        id="netIncome"
        :label="$t('souscription.blocBudget.revenus.revenusLabel')"
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
        :errorImgPath="`/error-icon.svg`"
        :validateOnChange="true"
      />
    </div>
    <div class="inputStepper">
      <RadioButtonGroupList
        :options="incomesMonth"
        :setValue="setValueWrapper"
        :value="incomes.salaryMonths"
        class="month-desktop"
        id="salaryMonths"
        :label="$t('souscription.blocBudget.revenus.nbMoisLabel')"
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
      />
      <InputStepper
        :minValue="12"
        :maxValue="16"
        :setValue="setValueWrapper"
        :value="incomes.salaryMonths"
        class="month-mobile"
        id="salaryMonths"
        :label="$t('souscription.blocBudget.revenus.nbMoisLabel')"
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
      />
    </div>
    <div class="checkbox-wrapper">
      <div class="checkbox-title">
        {{ $t('souscription.blocBudget.revenus.questionAutresRevenus') }}
      </div>
      <CheckboxCustom
        data-cy="moreIncomes"
        :setValue="setValueWrapper"
        :value="incomes.moreIncomes"
        id="moreIncomes"
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
      />
    </div>
    <div ref="moreIncomes" class="more-form" :style="{ height: heightMoreIncomes }">
      <div class="inputContainer">
        <input-number
          data-cy="familyBenefits"
          :setValue="setValueWrapper"
          :value="incomes.familyBenefits"
          id="familyBenefits"
          :toolTip="incomesToolTipFamilyBenefits"
          :customColorTooltip="customColorTooltip"
          :label="$t('souscription.blocBudget.revenus.prestationsLabel')"
          :customColor="colors"
          :borrower="getBorrower(isPrincipal)"
          :errorImgPath="`/error-icon.svg`"
          :removeZeroOnUserFocus="true"
          v-if="isPrincipal"
        />
      </div>
      <div class="inputContainer">
        <input-number
          data-cy="housingBenefits"
          :setValue="setValueWrapper"
          :value="incomes.housingBenefits"
          id="housingBenefits"
          :toolTip="incomesToolTipHousingBenefits"
          :customColorTooltip="customColorTooltip"
          :label="$t('souscription.blocBudget.revenus.aideLogementLabel')"
          :customColor="colors"
          :borrower="getBorrower(isPrincipal)"
          :errorImgPath="`/error-icon.svg`"
          :removeZeroOnUserFocus="true"
          v-if="isPrincipal"
        />
      </div>
      <div class="inputContainer">
        <input-number
          data-cy="otherIncomes"
          :setValue="setValueWrapper"
          :value="incomes.otherIncomes"
          id="otherIncomes"
          :toolTip="incomesToolTipOtherIncomes"
          :customColorTooltip="customColorTooltip"
          :label="$t('souscription.blocBudget.revenus.autresRevenusLabel')"
          :customColor="colors"
          :errorImgPath="`/error-icon.svg`"
          :borrower="getBorrower(isPrincipal)"
          :removeZeroOnUserFocus="true"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import { SelectObject } from '@/models/selectObject';
import { Incomes } from '@/models/subscription/Incomes';
import { ToolTip } from '@/models/Tooltip';

@Component({})
export default class IncomesFormContent extends Vue {
  @Prop() public incomes!: Incomes;
  @Prop() public isPrincipal!: boolean;
  @Prop() public incomesMonth!: SelectObject[];
  @Prop() public setValue!: (subStateName: string, value: any, formName: string, borrower?: string) => void;
  @Prop({ default: () => ({}) }) public colors!: Colors;
  public subStateName = 'incomes';
  public heightMoreIncomes: string = '0px';
  private currentTimeoutId: any = null;

  public mounted() {
    if (this.incomes) {
      this.setHeightMoreIncomes(this.incomes.moreIncomes);
    }
  }

  public setValueWrapper(value: any, formName: string, borrower?: string) {
    this.setValue(this.subStateName, value, formName, borrower);
  }

  @Watch('incomes.moreIncomes')
  public setHeightMoreIncomes(hasMoreIncomes: boolean) {
    if (hasMoreIncomes) {
      if ((this.$refs as any).moreIncomes) {
        this.heightMoreIncomes = (this.$refs as any).moreIncomes.scrollHeight + 'px';

        this.currentTimeoutId = setTimeout(() => {
          this.heightMoreIncomes = 'auto';
        }, 300);
      }
    } else {
      if ((this.$refs as any).moreIncomes) {
        this.heightMoreIncomes = (this.$refs as any).moreIncomes.scrollHeight + 'px';
      }

      if (this.currentTimeoutId) {
        clearTimeout(this.currentTimeoutId);
        this.currentTimeoutId = null;
      }

      setTimeout(() => {
        this.heightMoreIncomes = '0px';
      });
    }
  }

  public get incomesToolTip(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocBudget.revenus.revenusTooltipImg').toString(),
      text: this.$t('souscription.blocBudget.revenus.revenusTooltip').toString(),
      alt: 'aide'
    };
  }

  public get incomesToolTipFamilyBenefits(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocBudget.revenus.prestaFamilialesTooltipImg').toString(),
      text: this.$t('souscription.blocBudget.revenus.prestaFamilialesTooltip').toString(),
      alt: 'aide'
    };
  }

  public get incomesToolTipHousingBenefits(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocBudget.revenus.aideLogementTooltipImg').toString(),
      text: this.$t('souscription.blocBudget.revenus.aideLogementTooltip').toString(),
      alt: 'aide'
    };
  }

  public get incomesToolTipOtherIncomes(): ToolTip {
    return {
      imgSrc: this.$t('souscription.blocBudget.revenus.autreRevenusTooltipImg').toString(),
      text: this.$t('souscription.blocBudget.revenus.autreRevenusTooltip').toString(),
      alt: 'aide'
    };
  }

  public get customColorTooltip() {
    return {
      primary: this.colors.secondary,
      // @ts-ignore
      secondary: this.hexToRgb(this.colors.secondary, 0.08)
    };
  }
}
</script>
<style lang="scss" scoped>
.month {
  &-desktop {
    display: block;

    @media screen and (max-width: $width_M) {
      display: none;
    }
  }

  // Note: !important have been added to fix issue with style of InputStepper
  // (defined in shared-components-library) which was overriding style in this component
  // This fix has been made quickly (demo next day) and should be improved
  &-mobile {
    display: none !important;

    @media screen and (max-width: $width_M) {
      display: block !important;
    }
  }
}
</style>
