<template>
  <div class="insurance__form-content">
    <div class="insurance__form-content__tooltip" v-if="tooltip">
      <ToolTipCustom :toolTip="tooltip" display="true" hideArrow="true" />
    </div>
    <div class="insurance__form-content__selection-list">
      <app-select-insurance-button
        v-for="(selectInsuranceButton, index) in selectInsuranceButtonsList"
        :key="index"
        :selectButton="selectInsuranceButton"
        @onSelect="$emit(ON_SELECT_SELECT_BUTTON, selectInsuranceButton)"
      />
      <app-refuse-insurance-button
        :refuseButton="refuseInsuranceButton"
        @onSelect="$emit(ON_SELECT_REFUSE_BUTTON)"
        @onCheck="$emit(ON_CHECK_REFUSE_BUTTON)"
        @onUncheck="$emit(ON_UNCHECK_REFUSE_BUTTON)"
      />
    </div>
    <app-refuse-insurance-warning
      v-if="showRefuseInsuranceWarning"
      :title="refuseInsuranceWarningTitle"
      :description="refuseInsuranceWarningDescription"
    />
    <div class="insurance__form-content__information">
      <p class="text" v-html="insuranceInformation"></p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { SelectInsuranceBtn } from '@/models/components/insurance/SelectInsuranceBtn';
import { RefuseInsuranceBtn } from '@/models/components/insurance/RefuseInsuranceBtn';
import SelectInsuranceButton from '@/components/insurance/SelectInsuranceButton.vue';
import RefuseInsuranceButton from '@/components/insurance/RefuseInsuranceButton.vue';
import RefuseInsuranceWarning from '@/components/insurance/RefuseInsuranceWarning.vue';
import { ToolTip } from '@/models/Tooltip';

@Component({
  components: {
    'app-select-insurance-button': SelectInsuranceButton,
    'app-refuse-insurance-button': RefuseInsuranceButton,
    'app-refuse-insurance-warning': RefuseInsuranceWarning
  }
})
export default class InsuranceV2FormContent extends Vue {
  @Prop({ required: true }) private selectInsuranceButtonsList: SelectInsuranceBtn[];
  @Prop({ required: true }) private refuseInsuranceButton: RefuseInsuranceBtn;
  @Prop({ required: true }) private insuranceInformation: string;
  @Prop({ required: true }) private showRefuseInsuranceWarning: boolean;
  @Prop({ required: true }) private refuseInsuranceWarningTitle: string;
  @Prop({ default: null }) private refuseInsuranceWarningDescription: string;
  @Prop({ default: null }) private tooltip: ToolTip;

  // List of emit events
  private readonly ON_SELECT_SELECT_BUTTON = 'onSelectSelectButton';
  private readonly ON_SELECT_REFUSE_BUTTON = 'onSelectRefuseButton';
  private readonly ON_CHECK_REFUSE_BUTTON = 'onRefuseButtonCheck';
  private readonly ON_UNCHECK_REFUSE_BUTTON = 'onUncheckRefuseButton';
}
</script>

<style lang="scss" scoped>
.insurance__form-content {
  &__information {
    font-family: $font-regular;
    font-size: 12px;
    color: $color-grey-dark;
    line-height: 16px;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  &__tooltip {
    margin-bottom: 12px;
  }
}
</style>
