<template>
  <div class="insurance-form-content">
    <div class="radioContainer">
      <app-radio-column-button
        :value="insurance.acceptInsuranceOffer"
        :confirmationValue="insurance.confirmRefusal"
        :confirmationError="confirmationError"
        :hasError="radioButtonError"
        :errorImgPath="`${baseUrl}/error-icon.svg`"
        :koConfirmationIndication="$t('souscription.assurance.confirmationIndication')"
        :koConfirmationLabel="$t(insuranceInfo.confirm)"
        :onClick="setAcceptInsuranceOfferValue"
        :onClickConfirmation="setConfirmRefusalValue"
        :uniqueCheckboxId="'confirm-result-' + borrower"
        >`
        <template v-slot:okContent>
          <div
            :class="{ active: insurance.acceptInsuranceOffer === true }"
            :style="{
              color: insurance.acceptInsuranceOffer === null && radioButtonError ? '#FF3935' : undefined
            }"
            class="okContent"
          >
            <svg height="60" id="shield" viewBox="0 0 60 60" width="60" xmlns="http://www.w3.org/2000/svg">
              <g :style="acceptInsuranceIconStyle" fill-rule="evenodd">
                <path
                  d="M39.621 15.94H21.38a.59.59 0 0 0-.589.59v11.915c0 7.907 9.042 12.956 9.427 13.168.09.05.187.072.282.072h.001a.59.59 0 0 0 .283-.072c.385-.212 9.426-5.26 9.426-13.168V16.53a.589.589 0 0 0-.588-.589"
                />
                <path
                  d="M45 29.25c0 10.995-11.947 18.799-14.5 20.341C27.947 48.049 16 40.245 16 29.25V10h29v19.25zM46 8H15a1 1 0 0 0-1 1v20.25c0 13.438 15.365 22.018 16.019 22.377.153.083.317.123.48.123h.002c.163 0 .327-.04.48-.123C31.635 51.268 47 42.688 47 29.25V9a1 1 0 0 0-1-1z"
                />
              </g>
            </svg>
            {{ $t('souscription.assurance.acceptationLabel') }}
          </div>
        </template>
        <template v-slot:koContent>{{ $t('souscription.assurance.refusLabel') }}</template>
      </app-radio-column-button>
    </div>
    <div :class="{ loading: updatePrice }" class="information">
      <p class="text" v-html="priceInfo"></p>
      <app-loader :color="colors.primary" v-if="updatePrice"></app-loader>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { Insurance, InsuranceInfo } from '@/models/subscription/Insurance';
import Loader from '@/components/graphic/Loader.vue';
import RadioColumnButton from '@/components/graphic/RadioColumnButton.vue';
import { Colors } from '@/models/Colors';
import { PRINCIPAL } from '@/mixins/getBorrower';

@Component({
  components: {
    'app-radio-column-button': RadioColumnButton,
    'app-loader': Loader
  }
})
export default class InsuranceFormContent extends Vue {
  @Prop({ default: () => ({}) }) public colors!: Colors;
  @Prop({ required: true }) public setConfirmRefusalValue!: (newValue: boolean) => void;
  @Prop({ required: true }) public setAcceptInsuranceOfferValue!: (newValue: boolean) => void;
  @Prop({ required: true }) public insurance!: Insurance;
  @Prop({ required: true }) public insurancePrice: number | null;
  @Prop({ required: true }) public insuranceInfo: InsuranceInfo | null;
  @Prop({ required: true }) public updatePrice: boolean;
  @Prop({ required: true }) public confirmationError: boolean;
  @Prop({ required: true }) public radioButtonError: boolean;
  @Prop({ default: PRINCIPAL }) public borrower: string;

  private get priceInfo(): string {
    return this.$t('souscription.assurance.informationPrix', {
      prix: this.updatePrice ? '--' : this.$options.filters.currency(this.insurancePrice, { symbol: '' }),
      age: this.insuranceInfo.maxAge
    }).toString();
  }

  public get acceptInsuranceIconStyle(): string {
    // @ts-ignore
    return {
      fill: this.radioButtonError ? '#FF3935' : this.insurance.acceptInsuranceOffer ? '#fff' : this.colors.primary
    };
  }
}
</script>
<style lang="scss" scoped>
.insurance-form-content {
  .radioContainer {
    .okContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: $font-bold;
      &.active {
        color: #fff;
      }
      #shield {
        margin-right: 15px;
      }
    }
  }

  .information {
    position: relative;
    margin-top: 20px;

    .text {
      font-size: 12px;
      line-height: 19px;
      transition: opacity 0.25s ease-in-out;
      color: $color-grey-dark;
    }

    &.loading {
      .text {
        opacity: 0.2;
      }

      .loader-button {
        display: block;
      }
    }
  }
}
</style>
