<template>
  <div>
    <div class="inputContainer">
      <div class="button-group">
        <ButtonCard
          :id="ALONE"
          :label="$t('souscription.blocInformation.votreEmprunt.seul')"
          :img="'hand'"
          :value="selectedButtonCard(ALONE)"
          :setValue="handleClick"
          v-tag
          data-click="t1"
          data-event="coemprunteur"
          data-type="button"
        />
        <ButtonCard
          :id="CO_BORROWER"
          :label="$t('souscription.blocInformation.votreEmprunt.aDeux')"
          :img="'two-hands'"
          :value="selectedButtonCard(CO_BORROWER)"
          :setValue="handleClick"
          data-click="t1_t2"
          data-event="coemprunteur"
          data-type="button"
          v-tag
        />
      </div>
    </div>
    <div class="inputContainer">
      <SelectCustom
        id="maritalStatus"
        :borrower="getBorrower(isPrincipal)"
        :value="principal.maritalStatus"
        :setValue="setValueMaritalStatus"
        :options="maritalStatutes(creditForTwo)"
        :label="$t('souscription.blocInformation.votreEmprunt.statutMarital')"
        :errorImgPath="`/error-icon.svg`"
        :colors="colors"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { SubscriptionPayload } from '@/models/subscription/SubscriptionPayload';
import { SelectObject } from '@/models/selectObject';
import { Name } from '@/models/subscription/Name';
import { Colors } from '@/models/Colors';

@Component({})
export default class LoanFormContent extends Vue {
  @Prop({ required: true }) private setCreditForTwo!: (creditForTwo: boolean) => void;
  @Prop({ required: true }) private setSubscriptionData!: (payload: SubscriptionPayload) => void;
  @Prop({ required: true }) private setValueMaritalStatus!: (...args: any[]) => void;
  @Prop({ required: true }) private maritalStatutes!: (creditForTwo: boolean | null) => SelectObject[];
  @Prop({ required: true }) private principal!: Name;
  @Prop({ required: true }) private creditForTwo!: boolean | null;
  @Prop({ default: true }) private isPrincipal: boolean;
  @Prop({ default: () => ({}) }) private colors!: Colors;

  private readonly ALONE = 'alone';
  private readonly CO_BORROWER = 'coborrower';

  /**
   * Handle click on Button Card and update the store to know if the credit is requested by one or two borrowers.
   *
   * @param elementId the html element id (alone or coborrower)
   */
  private handleClick(elementId: string): void {
    this.setCreditForTwo(elementId === this.CO_BORROWER);
  }

  /**
   * Set the value of a ButtonCard to select or deselect it depending on the creditForTwo value.
   *
   * @param borrower alone or coborrower
   */
  private selectedButtonCard(borrower): boolean {
    if (borrower === this.ALONE) {
      return this.creditForTwo === true ? false : this.creditForTwo === null ? null : true;
    } else {
      return this.creditForTwo;
    }
  }
}
</script>
<style lang="scss" scoped>
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > * {
    width: calc(50% - 15px);
  }
}
</style>
