<template>
  <div>
    <div class="inputContainer">
      <RadioButtonGroupCard
        :disabled="isReadOnlyInput('gender')"
        :setValue="setGenderValueWrapper"
        :value="name.gender"
        :customColor="colors"
        :items="genderItems"
        :borrower="getBorrower(isPrincipal)"
        :name="`button-group${isPrincipal ? '-t1' : '-t2'}`"
        id="radioButtonGroupCard"
      >
        <template :slot="'image0'">
          <template v-if="isPrincipal">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="61"
              height="61"
              viewBox="0 0 61 61"
            >
              <defs>
                <path
                  id="a"
                  d="M17 23.939c9.83 0 14.831 6.338 16.78 18.373a1.002 1.002 0 0 1-.78 1.627H1a1 1 0 0 1-.78-1.627l-.034.211C2.111 30.35 7.112 23.938 17 23.938zm0 2c-8.463 0-12.813 5.286-14.689 16H31.69c-1.876-10.714-6.227-16-14.689-16zm0-25.94c5.454 0 9.892 4.349 10.039 9.767l.003.277c0 .154-.003.307-.01.46.02.131.013.27-.024.405-.004.018-.005.036-.007.053v8.978a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1l.003-8.926c-.03-.32-.046-.643-.046-.97C6.957 4.496 11.454 0 17 0zM9 16.115v2.825h3.337A10.087 10.087 0 0 1 9 16.114zm12.664 2.825H25l.002-2.828a10.087 10.087 0 0 1-3.34 2.828zM9.378 11.642l-.261.003a8.045 8.045 0 0 0 15.83-.36c-.36-.161-.732-.355-1.116-.578a21.765 21.765 0 0 1-2.27-1.54 34.877 34.877 0 0 1-2.136-1.78l-.122-.111c-2.71 2.591-6.017 4.264-9.925 4.366zM17 2a8.043 8.043 0 0 0-8.033 7.648L9 9.647c3.686 0 6.832-1.674 9.389-4.291a.97.97 0 0 1 .316-.335 21.128 21.128 0 0 0 1.799-2.22A8 8 0 0 0 17 2zm5.182 1.892l-.043.062c-.461.653-.948 1.28-1.46 1.871l.085.076a32.908 32.908 0 0 0 2.012 1.677c.718.55 1.41 1.023 2.059 1.4l.148.084a8.03 8.03 0 0 0-2.801-5.17z"
                />
              </defs>
              <g fill="none" fill-rule="evenodd" transform="translate(14 8)">
                <mask id="b" fill="#fff">
                  <use xlink:href="#a" />
                </mask>
                <use :style="fillStyle(0)" fill-rule="nonzero" xlink:href="#a" />
                <g :style="fillStyle(0)" mask="url(#b)">
                  <path d="M-13-8h60v60h-60z" />
                </g>
              </g>
            </svg>
          </template>
          <template v-else>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="61"
              height="61"
              viewBox="0 0 61 61"
            >
              <defs>
                <path
                  id="a1"
                  d="M17 23.939c9.83 0 14.831 6.338 16.78 18.373a1.002 1.002 0 0 1-.78 1.627H1a1 1 0 0 1-.78-1.627l-.034.211C2.111 30.35 7.112 23.938 17 23.938zm0 2c-8.463 0-12.813 5.286-14.689 16H31.69c-1.876-10.714-6.227-16-14.689-16zm0-25.94c5.454 0 9.892 4.349 10.039 9.767l.003.277c0 .154-.003.307-.01.46.02.131.013.27-.024.405-.004.018-.005.036-.007.053v8.978a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1l.003-8.926c-.03-.32-.046-.643-.046-.97C6.957 4.496 11.454 0 17 0zM9 16.115v2.825h3.337A10.087 10.087 0 0 1 9 16.114zm12.664 2.825H25l.002-2.828a10.087 10.087 0 0 1-3.34 2.828zM9.378 11.642l-.261.003a8.045 8.045 0 0 0 15.83-.36c-.36-.161-.732-.355-1.116-.578a21.765 21.765 0 0 1-2.27-1.54 34.877 34.877 0 0 1-2.136-1.78l-.122-.111c-2.71 2.591-6.017 4.264-9.925 4.366zM17 2a8.043 8.043 0 0 0-8.033 7.648L9 9.647c3.686 0 6.832-1.674 9.389-4.291a.97.97 0 0 1 .316-.335 21.128 21.128 0 0 0 1.799-2.22A8 8 0 0 0 17 2zm5.182 1.892l-.043.062c-.461.653-.948 1.28-1.46 1.871l.085.076a32.908 32.908 0 0 0 2.012 1.677c.718.55 1.41 1.023 2.059 1.4l.148.084a8.03 8.03 0 0 0-2.801-5.17z"
                />
              </defs>
              <g fill="none" fill-rule="evenodd" transform="translate(14 8)">
                <mask id="b1" fill="#fff">
                  <use xlink:href="#a1" />
                </mask>
                <use :style="fillStyle(0)" fill-rule="nonzero" xlink:href="#a1" />
                <g :style="fillStyle(0)" mask="url(#b1)">
                  <path d="M-13-8h60v60h-60z" />
                </g>
              </g>
            </svg>
          </template>
        </template>
        <template :slot="'image1'">
          <template v-if="isPrincipal">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="61"
              height="61"
              viewBox="0 0 61 61"
            >
              <defs>
                <path
                  id="m"
                  d="M17 23.939c9.83 0 14.831 6.338 16.78 18.373a1.002 1.002 0 0 1-.78 1.627H1a1 1 0 0 1-.78-1.626l-.034.21C2.111 30.352 7.112 23.94 17 23.94zm-3.116 2.272C7.44 27.416 3.942 32.628 2.31 41.939l13.431-.001-1.609-2.793a1 1 0 0 1-.114-.695l1.914-9.557-2.05-2.682zm6.237 0l-2.047 2.679 1.943 9.442a1 1 0 0 1-.11.695l-1.655 2.911h13.437c-1.63-9.308-5.128-14.52-11.568-15.726zm-3.105 7.46l-.962 4.802.94 1.632.989-1.739-.967-4.695zM17 25.94c-.269 0-.534.005-.795.016l.798 1.044.797-1.044c-.262-.01-.529-.016-.8-.016zM17 0c5.547 0 10.043 4.497 10.043 10.043 0 5.546-4.496 10.042-10.043 10.042-5.547 0-10.043-4.496-10.043-10.042C6.957 4.496 11.454 0 17 0zm0 2a8.043 8.043 0 1 0 0 16.086A8.043 8.043 0 0 0 17 2z"
                />
              </defs>
              <g fill="none" fill-rule="evenodd" transform="translate(14 8)">
                <mask id="mb" fill="#fff">
                  <use xlink:href="#m" />
                </mask>
                <use :style="fillStyle(1)" fill-rule="nonzero" xlink:href="#m" />
                <g :style="fillStyle(1)" mask="url(#mb)">
                  <path d="M-13-8h60v60h-60z" />
                </g>
              </g>
            </svg>
          </template>
          <template v-else>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="61"
              height="61"
              viewBox="0 0 61 61"
            >
              <defs>
                <path
                  id="m1"
                  d="M17 23.939c9.83 0 14.831 6.338 16.78 18.373a1.002 1.002 0 0 1-.78 1.627H1a1 1 0 0 1-.78-1.626l-.034.21C2.111 30.352 7.112 23.94 17 23.94zm-3.116 2.272C7.44 27.416 3.942 32.628 2.31 41.939l13.431-.001-1.609-2.793a1 1 0 0 1-.114-.695l1.914-9.557-2.05-2.682zm6.237 0l-2.047 2.679 1.943 9.442a1 1 0 0 1-.11.695l-1.655 2.911h13.437c-1.63-9.308-5.128-14.52-11.568-15.726zm-3.105 7.46l-.962 4.802.94 1.632.989-1.739-.967-4.695zM17 25.94c-.269 0-.534.005-.795.016l.798 1.044.797-1.044c-.262-.01-.529-.016-.8-.016zM17 0c5.547 0 10.043 4.497 10.043 10.043 0 5.546-4.496 10.042-10.043 10.042-5.547 0-10.043-4.496-10.043-10.042C6.957 4.496 11.454 0 17 0zm0 2a8.043 8.043 0 1 0 0 16.086A8.043 8.043 0 0 0 17 2z"
                />
              </defs>
              <g fill="none" fill-rule="evenodd" transform="translate(14 8)">
                <mask id="mb1" fill="#fff">
                  <use xlink:href="#m1" />
                </mask>
                <use :style="fillStyle(1)" fill-rule="nonzero" xlink:href="#m1" />
                <g :style="fillStyle(1)" mask="url(#mb1)">
                  <path d="M-13-8h60v60h-60z" />
                </g>
              </g>
            </svg>
          </template>
        </template>
      </RadioButtonGroupCard>
    </div>
    <div class="inputContainer">
      <InputText
        data-cy="firstName"
        :value="name.firstName"
        :setValue="setValueWrapper"
        :required="true"
        :onlyText="true"
        :disabled="isReadOnlyInput('firstName')"
        id="firstName"
        :label="
          isPrincipal
            ? $t('souscription.blocInformation.nom.prenomLabel')
            : $t('souscription.blocInformation.nom.prenomLabel2')
        "
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
        :errorImgPath="`/error-icon.svg`"
        :minLength="2"
        :autocomplete="'given-name'"
        :maxLength="maxLengthName"
      />
    </div>
    <div class="inputContainer">
      <InputText
        data-cy="lastName"
        :value="name.lastName"
        :setValue="setValueWrapper"
        :required="true"
        :onlyText="true"
        :disabled="isReadOnlyInput('lastName')"
        id="lastName"
        :label="
          isPrincipal
            ? $t('souscription.blocInformation.nom.nomLabel')
            : $t('souscription.blocInformation.nom.nomLabel2')
        "
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
        :forceDisplayToolTip="true"
        :toolTip="swapedNameTooltip"
        :minLength="2"
        :validateOnChange="true"
        :errorImgPath="`/error-icon.svg`"
        :autocomplete="'family-name'"
        :maxLength="maxLengthName"
      />
    </div>
    <div class="inputContainer" v-if="showMaritalStatus">
      <SelectCustom
        data-cy="maritalStatus"
        :options="maritalStatutes"
        :setValue="setValueWrapper"
        :value="name.maritalStatus"
        :label="$t('souscription.blocInformation.nom.statutMaritalLabel')"
        id="maritalStatus"
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
        :errorImgPath="`/error-icon.svg`"
      />
    </div>
    <div class="inputContainer">
      <InputText
        v-if="showBirthName"
        ref="nameWoman"
        class="birthName"
        :class="{ show: showBirthName }"
        :value="name.birthName"
        :style="{ height: heightInputWoman }"
        :setValue="setValueWrapper"
        id="birthName"
        :onlyText="true"
        :label="
          birthNameIsRequired
            ? isPrincipal
              ? $t('souscription.blocInformation.nom.nomNaissanceRecap')
              : $t('souscription.blocInformation.nom.nomNaissanceLabel2')
            : $t('souscription.blocInformation.nom.nomNaissanceLabel')
        "
        :customColor="colors"
        :borrower="getBorrower(isPrincipal)"
        :required="birthNameIsRequired"
        :minLength="2"
        :validateOnChange="true"
        :errorImgPath="`/error-icon.svg`"
        :disabled="isReadOnlyInput('birthName')"
        :hasRandomName="true"
        :maxLength="maxLengthName"
        autocomplete="nope"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { Gender, Name } from '@/models/subscription/Name';
import { Colors } from '@/models/Colors';
import { SelectObject } from '@/models/selectObject';
import { BusinessDataTransfer } from '@/models/BusinessDataTransfer';
import { State } from 'vuex-class';
import { ToolTip, TooltipLevel } from '@/models/Tooltip';
import { BusinessRule } from '@/services/BusinessRule';

@Component({})
export default class NameFormContent extends Vue {
  @State((state) => state.subscription.context) public context!: BusinessDataTransfer;
  @Prop() public maritalStatutes!: SelectObject[];
  @Prop() public name!: Name;
  @Prop() public isPrincipal!: boolean;
  @Prop({ default: false }) public creditForTwo!: boolean;
  @Prop({ default: false }) public showSwapedNameTooltip!: boolean;
  @Prop() public isMarried!: boolean;
  @Prop() public isWidow!: boolean;
  @Prop() public setValue!: (subStateName: string, value: any, formName: string, borrower?: string) => void;
  @Prop() public setGenderValue!: (subStateName: string, value: number, borrower?: string) => void;
  @Prop({ default: () => ({}) }) public colors!: Colors;
  @Prop({ default: false }) public isLogged: boolean;

  public subStateName = 'name';
  public gender = Gender;
  public heightInputWoman: string = '0px';

  public mounted() {
    this.getHeightInputWoman();
  }

  public setValueWrapper(...args: any[]) {
    // @ts-ignore
    this.setValue(this.subStateName, ...args);
  }

  public setGenderValueWrapper(value: number, borrower?: string) {
    // @ts-ignore
    this.setGenderValue(this.subStateName, value, this.getBorrower(this.isPrincipal));
  }

  public getHeightInputWoman() {
    const nameWoman = (this.$refs as any).nameWoman;
    if (nameWoman) {
      if (this.showBirthName) {
        this.heightInputWoman = nameWoman.$el.scrollHeight + 'px';
        setTimeout(() => {
          this.heightInputWoman = 'auto';
        }, 300);
      } else {
        this.heightInputWoman = nameWoman.$el.scrollHeight + 'px';
        setTimeout(() => {
          this.heightInputWoman = '0px';
        });
      }
    }
  }

  public get showMaritalStatus(): boolean {
    return this.isPrincipal && this.creditForTwo === null;
  }

  public get birthNameIsRequired() {
    return this.name.gender === Gender.WOMAN && (this.isMarried || this.isWidow);
  }

  /**
   * SOF-1451: Test if the  borrower is single in order to show or not the maiden name/birth name input field.
   *
   * To note, the secondary borrower cannot have a single marital status.
   */
  private get isSingle(): boolean {
    return this.isPrincipal && new BusinessRule().isSingle(this.name);
  }

  /**
   *
   */
  private get showBirthName(): boolean {
    return !this.isSingle && this.name.gender === Gender.WOMAN;
  }

  public get genderItems(): string[] {
    return [
      this.$t('souscription.blocInformation.nom.madame').toString(),
      this.$t('souscription.blocInformation.nom.monsieur').toString()
    ];
  }

  public get swapedNameTooltip(): ToolTip {
    if (this.showSwapedNameTooltip) {
      return {
        imgSrc: this.$t('souscription.blocInformation.nom.nomInverseTooltipImg').toString(),
        text: this.$t('souscription.blocInformation.nom.nomInverseTooltip').toString(),
        alt: 'aide',
        level: TooltipLevel.WARNING
      };
    }
  }

  public get maxLengthName(): number {
    return BusinessRule.MAX_LENGTH_NAME;
  }

  /**
   * When the client is connected some fields will be auto-filled
   * and some of these fields need to be in readonly to not to be editable.
   *
   * @param field the property name
   */
  public isReadOnlyInput(field: string): boolean {
    return this.isPrincipal && this.isLogged && this.name && this.name[field];
  }

  // icon color is white when active and primary color otherwise
  public fillStyle(index: number) {
    return { fill: this.name.gender === index ? '#fff' : '#929fac' };
  }

  @Watch('showBirthName')
  private onBirhtnameInputChange() {
    // We use Vue.nextTick as getHeightInputWoman needs birthName input to compute height
    // Therefore getHeightInputWoman needs to be called after input is rendered (thus, after this method has end)
    Vue.nextTick(() => {
      this.getHeightInputWoman();
    });
  }
}
</script>
<style lang="scss" scoped>
#radioButtonGroupCard {
  svg {
    margin-bottom: 20px;
  }
}
</style>
