<template>
  <div class="help-container">
    <button id="main-button" class="help-button" :class="{ extended: extended }" @click="onClick">
      <img src="@/assets/images/contact.svg" class="help-button__image" />
      <div class="help-button__cross"></div>
      <div class="help-button__text">
        <span class="contact_text">{{ $t('Contact.contact') }}</span>
        <span class="cross">{{ $t('Contact.annuler') }}</span>
      </div>
    </button>

    <h4 class="help-mobile__title">
      {{ $t('Contact.probleme') }}
      <br />
      {{ $t('Contact.contactezNous') }}
    </h4>
    <div class="buttons-container" :class="{ open: extended, highPosition: highPosition }">
      <!-- Wannaspeak Button Starts -->
      <a class="voxReflex" v-if="showWannaSpeak">
        <img :id="wannaSpeakId" />
        <div class="item-container">
          <div class="help-button__image-wrapper">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="39"
              viewBox="0 0 40 39"
              fill="#00A3E0"
              class="help-button__image"
            >
              <path
                d="M30.147 36.248c-1.976-.078-3.643-.51-5.576-1.444C15.25 30.3 8.73 23.497 4.635 14.006c-.526-1.218-.878-2.49-1.111-4.003-.186-1.216-.04-2.255.45-3.144a443.681 443.681 0 0 1 3.69 3.814c1.3 1.352 2.634 2.741 3.962 4.088-.503.782-.862 1.877-.271 3.24.214.498.742 1.185 1.023 1.468a2908.05 2908.05 0 0 0 7.14 7.15l.691.69a3.955 3.955 0 0 0 4.68.71 2731 2731 0 0 1 3.973 3.99c1.253 1.259 2.506 2.519 3.754 3.77-.706.343-1.547.505-2.47.47zm5.547-1.292a2342.1 2342.1 0 0 1-4.876-4.893c-1.612-1.62-3.223-3.24-4.822-4.839l-.928-.905-.971.856a6.26 6.26 0 0 0-.2.184c-.519.503-1.234.503-1.737-.001l-.692-.69c-2.38-2.378-4.76-4.757-7.132-7.143a4.038 4.038 0 0 1-.449-.619c-.126-.29-.202-.465.582-1.265l.956-.975-.965-.965a346.937 346.937 0 0 1-4.805-4.938C8.075 7.117 6.44 5.415 4.832 3.806l-.957-.957-.975.94C1.12 5.503.394 7.797.798 10.422c.269 1.752.684 3.238 1.304 4.677 4.368 10.126 11.325 17.384 21.27 22.19 2.264 1.093 4.32 1.623 6.665 1.716.123.005.244.007.365.007 2.122 0 3.998-.749 5.315-2.129l.93-.975-.953-.952zM7.333 0l-1.95 1.95 11.054 11.054 1.95-1.95zM37.803 34.377L26.749 23.323l1.95-1.95 11.054 11.054z"
              />
            </svg>
          </div>
          <span class="btn-label">{{ $t('Contact.rappel') }}</span>
        </div>
      </a>
      <!-- Wannaspeak Button Ends -->

      <!-- START IADVIZE HTML CHAT CALLBACK -->
      <div class="idz_btn_fix" v-if="showIAdvize">
        <div id="idzfonline" style="display: none">
          <a href="javascript:void(0)">
            <div class="item-container">
              <div class="help-wrapper-icon">
                <img
                  src="@/assets/images/icon-chat-1.svg"
                  :alt="$t('Contact.chatter')"
                  class="help-button__image desktop"
                />
                <img
                  src="@/assets/images/icon-chat-2.svg"
                  :alt="$t('Contact.chatter')"
                  class="help-button__image mobile"
                />
              </div>
              <span class="btn-label">{{ $t('Contact.chatter') }}</span>
            </div>
          </a>
        </div>
      </div>
      <!-- END IADVIZE HTML CHAT CALLBACK -->

      <div @click="onCallUsClick" class="item-container" :class="{ active: popupCallOpen }" id="call-button">
        <div class="help-button__image-wrapper">
          <img src="@/assets/images/cellPhone.svg" class="help-button__image" />
        </div>
        <span class="btn-label">{{ $t('Contact.nousAppeler') }}</span>
      </div>
    </div>

    <div class="call-popup-container help-popup" :class="{ show: popupCallOpen }">
      <h3 class="call-popup-container__title">{{ $t('Contact.telephone') }}</h3>
      <a :href="`tel:${$t('Contact.noTel')}`">
        <div class="call-popup-container__text" v-html="$t('Contact.heureDispo')"></div>
        <div class="call-popup-container__cartridge">
          <img
            :src="`${baseUrl}/noTel.svg`"
            :alt="$t('Contact.noTel')"
            class="call-popup-container__cartridge--image"
          />
        </div>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class HelpButton extends Vue {
  @Prop({ default: false }) private showIAdvize!: boolean;
  @Prop({ default: false }) private showWannaSpeak!: boolean;
  @Prop({ default: false }) private wannaSpeakId!: string;
  @Prop({ default: false }) private highPosition: boolean;
  private extended: boolean = false;
  private popupCallOpen: boolean = false;

  private onClick() {
    if (this.extended && this.popupCallOpen) {
      this.popupCallOpen = false;
    }
    this.extended = !this.extended;
  }

  private onCallUsClick() {
    if (window.innerWidth > 992) {
      this.popupCallOpen = !this.popupCallOpen;
    } else {
      document.location.href = `tel:${this.$t('Contact.noTel')}`;
    }
  }
}
</script>

<style lang="scss" scopped>
.help {
  &-container {
    z-index: 2;
    position: fixed;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: row-reverse;
    width: 160px;
    height: 120px;
    box-shadow: 0 0 8px 0 rgba($color-black, 0.1);
    background-color: $color-white;

    @media screen and (max-width: $width_M) {
      right: initial;
      bottom: initial;
      left: 0;
      top: $topbar-mobile-height;
      display: block;
      z-index: 100;
      transform: translateY(100%);
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in-out;

      &.show {
        transform: translateY(0);
      }
    }

    .call {
      &-popup {
        &-container {
          padding: 50px;
          transform: scale(0);
          transform-origin: right bottom;
          transition: transform 0.25s ease-in-out;

          @media screen and (max-width: $width_M) {
            background-color: $color-bg-container;
            box-shadow: 0 0 0 0;
            position: relative;
            bottom: initial;
            right: initial;
            width: 90%;
            margin-left: 5%;
            padding: 15px 20px;
            transform: none;

            a {
              display: flex;
              flex-direction: column-reverse;
            }
          }

          &.show {
            transform: scale(1);
            transition: transform 0.25s ease-in-out 0.2s;
          }

          &__title {
            font-family: $font-bold;
            font-size: 20px;
            letter-spacing: 0.3px;
            color: $color-black;
            margin-bottom: 15px;

            @media screen and (max-width: $width_M) {
              display: none;
            }
          }

          &__text {
            color: $color-grey-dark;
            font-size: 14px;
            margin-bottom: 20px;

            @media screen and (max-width: $width_M) {
              text-align: left;
              margin-bottom: 0;
            }
          }

          &__cartridge {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-bg-container;
            height: 75px;

            @media screen and (max-width: $width_M) {
              background-color: transparent;
              border-radius: 0;
              height: auto;
              margin-bottom: 10px;
            }
          }

          &__cartridge--image {
            display: block;
            width: 67%;
            height: auto;
            margin: 0 auto;

            @media screen and (max-width: $width_M) {
              width: auto;
              max-width: 221px;
            }
          }
        }
      }
    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      background-color: $color-white;
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      box-shadow: 0 0 15px 0 rgba($color-black, 0.15);
      transform: translateY(100%);
      transition: transform 0.25s ease-in-out;

      &.highPosition {
        display: none;
      }

      @media screen and (max-width: $width_M) {
        position: relative;
        transform: none;
        box-shadow: 0 0 0 0;
        width: 90%;
        margin: 0 auto;
      }

      > *:not(:last-child) {
        border-bottom: solid 1px $color-grey-regular;
      }

      &.open {
        transform: translateY(-120px);
        display: block;
      }

      .voxReflex > img {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
      }

      .item-container {
        border-left: solid 0px $color-contact-module;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        width: 160px;
        height: 160px;
        cursor: pointer;
        transition: background-color 0.25s ease-in-out, border-left-width 0.2s ease-in-out;

        @media screen and (max-width: $width_M) {
          width: 100%;
          height: auto;
          flex-direction: row;
          justify-content: flex-start;
          padding: 15px 0;

          &::after {
            content: '';
            background-color: $color-contact-module;
            position: absolute;
            top: calc(50% - 5px);
            right: 0;
            z-index: 0;
            width: 15px;
            height: 2px;
            transform: translateY(-50%) rotate(45deg);
          }
        }

        &::before {
          content: '';
          border-style: solid;
          border-width: 10px 15px 10px 0;
          border-color: transparent $color-contact-module transparent transparent;
          position: absolute;
          top: 50%;
          left: -19px;
          z-index: -1;
          transform: translate(19px, -50%);
          transition: transform 0.25s ease-in-out;

          @media screen and (max-width: $width_M) {
            background-color: $color-contact-module;
            border: 0 none;
            left: initial;
            top: calc(50% + 5px);
            right: 0;
            z-index: 0;
            width: 15px;
            height: 2px;
            transform: translate(0, -50%) rotate(-45deg);
          }
        }

        &.active {
          border-left-width: 4px;
          background: $color-tooltip-bg;

          &::before {
            transform: translate(0, -50%);
            transition: transform 0.25s ease-in-out 0.2s;
          }
        }

        @media screen and (min-width: $width_M) {
          &:hover {
            background-color: $color-tooltip-bg;
          }
        }
      }

      .btn-label {
        font-family: $font-bold;
        font-size: 14px;
        color: $color-black;
        margin-top: 10px;

        @media screen and (max-width: $width_M) {
          margin-top: 0;
        }
      }
    }
  }

  &-popup {
    position: absolute;
    bottom: 120px;
    right: 160px;
    width: 380px;
    z-index: 1;
    background-color: $color-white;
    box-shadow: 0 0 12px 0 rgba($color-black, 0.12);
    color: $color-black;

    &.show {
      display: block;
    }
  }

  &-tooltip {
    background-color: $color-white;
    border-radius: 50px;
    box-shadow: 0 0 7px 0 rgba($color-grey-dark, 0.2);
    position: absolute;
    right: -15px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px 10px;
    transform: scale(0);
    transform-origin: center bottom;
    transition: transform 0.25s ease-in-out;

    @media screen and (min-width: $width_M) {
      &.hover {
        transform: scale(1);
      }
    }

    &::before {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $color-white;
    }

    &__text {
      font-size: 10px;
      font-family: $font-bold;
    }
  }

  &-button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;

    .help-button__text .contact_text {
      display: block;
    }

    .help-button__text .cross {
      display: none;
    }

    @media screen and (min-width: $width_M) {
      &:hover {
        background-color: $color-bg-container;
      }
    }

    @media screen and (max-width: $width_M) {
      display: none;
    }

    &.extended {
      background-color: $color-contact-module;

      .help-button__image,
      .help-button__text .contact_text {
        display: none;
      }

      .help-button__text .cross {
        color: $color-white;
        display: block;
      }

      .help-button__cross {
        display: block;
        margin-bottom: 10px;
      }
    }

    &__image {
      fill: $color-contact-module;
      display: block;
      max-width: 40px;
      max-height: 40px;
      margin: 0 auto 2px;
      opacity: 1;
      transition: opacity 0.25s ease-in-out 0.25s;

      > g {
        fill: $color-contact-module;
      }

      &.mobile {
        display: none;

        @media screen and (max-width: $width_M) {
          display: block;
        }
      }

      @media screen and (max-width: $width_M) {
        fill: $color-contact-module;
        margin: 0 auto;

        > g {
          fill: $color-contact-module;
        }

        &.desktop {
          display: none;
        }

        &-wrapper {
          background-color: $color-contact-module;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          margin-right: 25px;
        }
      }
    }

    &__text {
      text-align: center;
      opacity: 1;
      transition: opacity 0.25s ease-in-out 0.25s;

      span {
        font-family: $font-bold;
        font-size: 14px;
        text-transform: uppercase;
        color: $color-contact-module;
      }
    }

    &__cross {
      @include cross(40px, $color-white);
      display: none;
      margin: 0 auto;

      &::before,
      &::after {
        height: 4px;
      }
    }
  }

  &-mobile {
    display: none;

    @media screen and (max-width: $width_M) {
      display: block;
    }

    &__title {
      @extend .help-mobile;
      font-family: $font-bold;
      font-size: 22px;
      line-height: 26px;
      text-align: left;
      color: $color-black;
      width: 90%;
      margin: 40px auto 20px;

      @media screen and (max-width: $width_S) {
        margin: 20px auto;
      }
    }
  }
}
</style>
