<template>
  <div class="contact-container v-fade">
    <header class="contact-header">
      <h2 class="contact-header__title">{{ $t('Contact.titre') }}</h2>
      <button @click="handleCloseButtonClick" class="contact-header__close"></button>
    </header>
    <section class="contact-body">
      <h3 class="contact-title">
        {{ $t('Contact.probleme') }}
        <span>{{ $t('Contact.contactezNous') }}</span>
      </h3>
      <ul>
        <li class="contact-list__item" v-if="showWannaSpeak">
          <!-- Wannaspeak button -->
          <a class="voxReflex">
            <img :id="wannaSpeakId" />
            <div class="contact-list__item-content">
              <div class="contact-list__item-icon">
                <i class="icon icon-Icon_Phone_White"></i>
              </div>
              <div class="contact-list__item-text">
                {{ $t('Contact.rappel') }}
              </div>
              <div class="contact-list__item-arrow">
                <!--
                  DO NOT REPLACE SVG BY IMG CONTAINING SVG
                  WannaSpeak script replace image inside voxReflex container, therefore we need to keep
                  image as inline SVG in order to prevent this.
                -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="20"
                  height="20"
                >
                  <defs>
                    <path
                      id="a"
                      d="M9.995 2.943l7.782 7.765a1 1 0 101.413-1.416L9.995.118.8 9.292a1 1 0 001.414 1.416l7.782-7.765z"
                    />
                  </defs>
                  <g fill="none" fill-rule="evenodd" transform="matrix(1 0 0 -1 0 16)">
                    <mask id="b" fill="#fff"><use xlink:href="#a" /></mask>
                    <use fill="#979797" fill-rule="nonzero" xlink:href="#a" />
                    <g fill="#00a3e0" mask="url(#b)"><path d="M0-4h20v20H0z" /></g>
                  </g>
                </svg>
              </div>
            </div>
          </a>
        </li>
        <li class="contact-list__item idz_btn_fix" v-if="showIAdvize">
          <div id="idzfonline1" style="display: none">
            <a href="javascript:void(0)">
              <div class="contact-list__item-content">
                <div class="contact-list__item-icon">
                  <i class="icon icon-Icon_Chat_White"></i>
                </div>
                <div class="contact-list__item-text">
                  {{ $t('Contact.chatter') }}
                </div>
                <div class="contact-list__item-arrow">
                  <img src="@/assets/images/arrow-contact.svg" alt="" />
                </div>
              </div>
            </a>
          </div>
        </li>
        <li v-if="showMobileHelpCallButton" class="contact-list__item">
          <a class="container__body__buttons__item" :href="`tel:${$t('Contact.noTel')}`" id="call-us-button">
            <div class="contact-list__item-content">
              <div class="contact-list__item-icon">
                <i class="icon icon-Icon_Mobile_White"></i>
              </div>
              <div class="contact-list__item-text">
                {{ $t('Contact.nousAppeler') }}
              </div>
              <div class="contact-list__item-arrow">
                <img src="@/assets/images/arrow-contact.svg" alt="" />
              </div>
            </div>
            <div class="contact-list__item-infos">
              <img :src="`${baseUrl}/noTel.svg`" :alt="$t('Contact.noTel')" />
              <p class="contact-list__item-infos__text" v-html="$t('Contact.heureDispo')"></p>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Mutation } from 'vuex-class';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class MobileHelpMenu extends Vue {
  @Prop({ default: false }) private showIAdvize!: boolean;
  @Prop({ default: false }) private showWannaSpeak!: boolean;
  @Prop({ default: false }) private wannaSpeakId!: string;
  @Prop({ default: false }) private showMobileHelpCallButton: boolean;

  private handleCloseButtonClick() {
    this.$emit('close-mobile-help-menu');
  }
}
</script>

<style lang="scss" scoped>
.contact {
  &-container {
    background-color: $color-white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $popup-zindex;
  }

  &-header {
    text-align: center;
    background-color: $color-contact-module;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $topbar-mobile-height;
    padding: 0 50px;

    &__title {
      font-family: $font-bold;
      font-size: 14px;
      line-height: 16px;
      color: $color-white;
    }

    &__close {
      @include cross(20px, $color-white);
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }

  &-body {
    padding: $form-padding-left-mobile;
  }

  &-title {
    font-family: $font-bold;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    color: $color-black;
    margin-bottom: 20px;

    span {
      font-family: inherit;
      color: $color-black;
      display: block;
    }
  }

  &-list__item {
    display: block;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .voxReflex > img {
      display: block;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    &-content {
      position: relative;
      border-bottom: 1px solid $color-grey-regular;
      border-radius: $input-border-radius;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 15px;
    }

    &-icon {
      background-color: $color-contact-module;
      border-radius: $input-border-radius;
      flex: 0 0 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      margin-right: 20px;

      .icon {
        font-size: 50px;
        color: $color-white;
      }
    }

    &-text {
      font-family: $font-medium;
      font-size: 14px;
      color: $color-black;
    }

    &-arrow {
      position: absolute;
      right: 0;
      transform: rotate(-90deg);
    }

    &-infos {
      background-color: $color-grey-light;
      border-radius: $input-border-radius;
      display: block;
      margin-top: 10px;
      padding: 15px 20px;

      img {
        display: block;
        width: 180px;
        height: auto;
        margin: 0 auto 10px;
      }

      &__text {
        font-family: $font-regular;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: $color-grey-dark;
      }
    }
  }
}

.active-page {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $color-white;
}
</style>
