<template>
  <section class="credit-from-scratch">
    <div class="credit-from-scratch__brand" v-if="!isMobile">
      <img :src="`${baseUrl}/lock.svg`" alt="Site sécurisé" />
      <span>{{ $t('souscription.ouvertureSeche.infoJur') }}</span>
    </div>
    <div
      ref="creditFromScratchHeader"
      class="credit-from-scratch__header"
      :style="{ backgroundImage: `url(${baseUrl}/header-background.jpg)` }"
    >
      <div class="credit-from-scratch__header-content">
        <h3
          class="credit-from-scratch__header-title"
          :class="{ hasSubtitle: $te('souscription.ouvertureSeche.soustitre') }"
          v-html="$t('souscription.ouvertureSeche.titre')"
        />
        <h4
          class="credit-from-scratch__header-subTitle"
          v-if="$te('souscription.ouvertureSeche.soustitre')"
          v-html="$t('souscription.ouvertureSeche.soustitre')"
        />
        <app-button
          :label="$t('souscription.ouvertureSeche.choixBtn')"
          :noChevron="true"
          :onClick="goNext"
          data-cy="proceed"
          :colors="colors"
        />
      </div>
      <return-partner-btn class="return-parner-btn" :white="true"></return-partner-btn>
      <img class="credit-from-scratch__header-image" :src="`${baseUrl}/credit-card.png`" alt="Carte de crédit" />
    </div>
    <div class="credit-from-scratch__pedago">
      <app-pedagogic-crs
        :title="$t('souscription.ouvertureSeche.pedagoTitre')"
        :titleColor="colors.primary"
        :items="pedagogicItems"
        :pjsNbr="pjsNbr"
        :pjsKey="pjsKey"
      />
      <app-button
        :label="$t('souscription.ouvertureSeche.choixBtn')"
        :noChevron="true"
        :onClick="goNext"
        :colors="colors"
      />
      <div class="preContract" @click="openPreContractModal">{{ $t('simulation.preContrat') }}</div>
    </div>
    <div class="credit-from-scratch__advantage">
      <h4 class="credit-from-scratch__advantage-title">{{ $t('souscription.ouvertureSeche.avantages.titre') }}</h4>
      <ul class="credit-from-scratch__advantage-list">
        <li v-for="advNbr in advantageLength" :key="advNbr">
          <img
            class="credit-from-scratch__advantage-list__image"
            :src="`${baseUrl}/${$t('souscription.ouvertureSeche.avantages.' + advNbr + '.image')}`"
            alt
          />
          <div class="credit-from-scratch__advantage-list__content">
            <h5
              class="credit-from-scratch__advantage-list__title"
              v-html="$t('souscription.ouvertureSeche.avantages.' + advNbr + '.titre')"
            />
            <p
              v-if="$te('souscription.ouvertureSeche.avantages.' + advNbr + '.sousTitre')"
              class="credit-from-scratch__advantage-list__text"
            >
              {{ $t('souscription.ouvertureSeche.avantages.' + advNbr + '.sousTitre') }}
            </p>
          </div>
        </li>
      </ul>
      <app-button
        :label="$t('souscription.ouvertureSeche.choixBtn')"
        :noChevron="true"
        :onClick="goNext"
        :colors="colors"
      />
      <return-partner-btn :white="true" class="tab-return-btn" :isSmallText="true"></return-partner-btn>
    </div>
    <div class="credit-from-scratch__legal-mentions">
      <h6 class="credit-from-scratch__legal-mentions__title" @click="goToLegalMentions('0')">
        {{ $t('souscription.ouvertureSeche.legalTitre') }}
      </h6>
      <h6 class="credit-from-scratch__legal-mentions__title" @click="openDidomi()">
        {{ $t('souscription.menuNavigation.gererCookie') }}
      </h6>

      <div class="paragraphs">
        <p class="credit-from-scratch__legal-mentions__text" v-html="$t('souscription.ouvertureSeche.legalPart1')" />
        <p class="credit-from-scratch__legal-mentions__text" v-html="$t('souscription.ouvertureSeche.legalPart2')" />
      </div>
    </div>
    <div class="ctaContainer fixed-bottom v-fade" v-if="isMobile">
      <app-button
        class="fixedButton"
        :class="{ show: showCtaBottom }"
        :label="$t('souscription.ouvertureSeche.choixBtn')"
        :noChevron="true"
        :onClick="goNext"
        :colors="colors"
      />
    </div>
    <app-pre-contract-pop-in
      :stepState="stepState"
      :opened="openModalPrecontract"
      :closeModal="closeModalPreContract"
    />
  </section>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { State, Getter } from 'vuex-class';
import { Colors } from '@/models/Colors';
import { Prop } from 'vue-property-decorator';
import { StepState } from '@/models/StepState';
import PedagogicCrs from '@/components/pedagogic/PedagogicCrs.vue';
import Button from '@/components/graphic/Button.vue';
import PreContractPopin from '@/views/popin/PreContractPopin.vue';
import PedagogicItem from '@/components/pedagogic/PedagogicItem.vue';
import { PedagogicItemModel } from '@/models/PedagogicItems';
import { TagManagerPartnerService } from '@/services/tagManagerPartner';
import { RoutePathId } from '@/models/RoutesPath';
import { getTagManagerInstance } from '@/services/tagManagerFactory';
import ReturnPartnerBtn from '@/components/simulator/graphic/ReturnPartnerBtn.vue';

@Component({
  components: {
    'app-pedagogic-crs': PedagogicCrs,
    'app-pre-contract-pop-in': PreContractPopin,
    'app-button': Button,
    'return-partner-btn': ReturnPartnerBtn
  }
})
export default class CreditFromScratch extends Vue {
  @Prop() public stepState!: StepState;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @Getter('getNextStep') public getNextStep!: (pathId: string) => StepState;
  @State((state) => state.client.isMobile) public isMobile!: boolean;
  @State((state) => state.apiConfig.offerCode) public offerCode!: string;
  @State((state) => state.apiConfig.partnerCode) public partnerCode!: string;

  public openModalPrecontract: boolean = false;
  public showCtaBottom: boolean = false;
  public pjsNbr: number | null = null;
  public pjsKey: string | null = null;
  public advantageLength: number = 6;

  private tagManagerService = getTagManagerInstance();

  public created() {
    this.initializeAttachments();
    document.addEventListener('scroll', this.handleScroll, false);

    this.tagManagerService.pageSubscriptionProcessChange(this.$route);
  }
  public openDidomi() {
    if ((window as any).Didomi) {
      (window as any).Didomi.preferences.show();
    }
  }
  public openPreContractModal() {
    this.tagManagerService.preContractClick();
    this.openModalPrecontract = true;
  }

  public closeModalPreContract() {
    this.openModalPrecontract = false;
  }

  public get nextStepRouteName() {
    const nextStep = this.getNextStep(this.stepState.pathId);
    return nextStep ? nextStep.pathId : null;
  }

  public goNext() {
    if (this.nextStepRouteName) {
      this.$router.push({ name: this.nextStepRouteName });
    }
  }

  private get pedagogicItems(): PedagogicItemModel[] {
    const pedagogicStep =
      this.stepState && this.stepState.steps
        ? this.stepState.steps.find((step: any) => step.pathId === RoutePathId.PEDAGOGIC_STEP)
        : null;
    const pssNbr =
      pedagogicStep && pedagogicStep.screenOptions && pedagogicStep.screenOptions['pedagogic-steps-length']
        ? pedagogicStep.screenOptions['pedagogic-steps-length'].value
        : null;
    // get key for wording
    const pssKey =
      pedagogicStep && pedagogicStep.screenOptions && pedagogicStep.screenOptions['pedagogic-steps-key']
        ? pedagogicStep.screenOptions['pedagogic-steps-key'].value
        : null;

    if (pssNbr && pssKey) {
      return Array.from(Array(pssNbr)).map((_, i) => {
        const index = i + 1;
        const base = {
          img: `${pssKey}.${index}.icone`,
          text: `${pssKey}.${index}.description`,
          title: `${pssKey}.${index}.titre`
        };
        if (this.$te(`${pssKey}.${index}.tooltip`)) {
          return {
            ...base,
            tooltip: {
              link: `${pssKey}.${index}.tooltip.lien`,
              text: `${pssKey}.${index}.tooltip.texte`
            }
          };
        } else {
          return base;
        }
      });
    } else {
      throw new Error('No pedagogic step defined');
    }
  }

  /**
   * Retrieve the message key and the number of attachments steps to display
   */
  private initializeAttachments() {
    const attachmentsId = 'attachments';
    // get PJ sub step
    const pjStep =
      this.stepState && this.stepState.steps
        ? this.stepState.steps.find((step: any) => step.pathId === attachmentsId)
        : null;
    // get number of PJ to display
    this.pjsNbr =
      pjStep && pjStep.screenOptions && pjStep.screenOptions[attachmentsId + '-length']
        ? pjStep.screenOptions[attachmentsId + '-length'].value
        : null;
    // get key for wording
    this.pjsKey =
      pjStep && pjStep.screenOptions && pjStep.screenOptions[attachmentsId + '-key']
        ? pjStep.screenOptions[attachmentsId + '-key'].value
        : null;
  }

  private handleScroll() {
    if (this.isMobile) {
      let top = 0;
      let height = 0;
      const header = this.$refs.creditFromScratchHeader as any;
      if (header) {
        top = header.offsetTop;
        height = header.scrollHeight;
      }
      const scroll = top + height;

      if (window.scrollY >= scroll && !this.showCtaBottom) {
        this.showCtaBottom = true;
      } else if (window.scrollY < scroll && this.showCtaBottom) {
        this.showCtaBottom = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
/deep/ sup {
  font-size: smaller;
  color: $color-white;
  vertical-align: super;
}

.credit-from-scratch {
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: both;
  .return-parner-btn {
    position: absolute;
    top: 5%;
    z-index: 2;
  }
  @media screen and (max-width: $width_S) {
    .return-parner-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      left: 0;
      margin-top: 15px;
      height: 25px;
    }
  }
  .button {
    display: none;

    @media screen and (min-width: $width_S) {
      display: flex;
      padding: 15px 45px;
    }
  }

  &__brand {
    display: block;
    text-align: center;
    padding: 10px 20px;

    @media screen and (min-width: $width_M) {
      padding: 14px 20px;
    }

    img {
      position: relative;
      top: 2px;
      width: 13px;
      height: auto;
      margin-right: 5px;
    }

    span {
      font-family: $font-regular;
      font-size: 16px;
      line-height: normal;
      color: $color-grey-dark;
      text-align: center;
      width: calc(100% - 35px);
    }
  }

  &__header {
    position: relative;
    padding: 25px $form-padding-left-mobile;
    overflow: hidden;

    @media screen and (min-width: $width_S) {
      padding: 120px 60px;
    }

    @media screen and (min-width: $width_L) {
      padding-left: 160px;
    }

    &::after {
      content: '';
      background-image: linear-gradient(91deg, rgba(25, 29, 33, 0.92) 44%, rgba(0, 0, 0, 0) 99%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 60%;
      height: 100%;
    }

    &-content {
      position: relative;
      z-index: 2;

      .button {
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $width_S) {
          margin-left: initial;
          margin-right: initial;
        }
      }
    }

    &-title {
      font-family: $font-bold;
      font-size: 20px;
      line-height: 26px;
      text-align: left;
      color: $color-white;
      margin-bottom: 20px;
      max-width: 80%;

      @media screen and (min-width: $width_S) {
        font-size: 42px;
        line-height: 60px;
        margin-bottom: 30px;
        max-width: 500px;

        &.hasSubtitle {
          font-size: 32px;
          line-height: 40px;
        }
      }

      @media screen and (min-width: $width_M) {
        max-width: none;
      }
    }

    &-subTitle {
      font-family: $font-bold;
      font-size: 14px;
      line-height: 18px;
      color: $color-white;
      text-align: left;
      max-width: 50%;
      margin-bottom: 20px;

      @media screen and (min-width: $width_S) {
        font-size: 24px;
        line-height: 34px;
        max-width: 500px;
        margin-bottom: 50px;
      }

      /deep/ sup {
        font-family: $font-bold;
      }
    }

    &-image {
      position: absolute;
      bottom: -20px;
      right: $form-padding-left-mobile;
      z-index: 0;
      display: block;
      width: auto;
      max-height: 90%;

      @media screen and (min-width: $width_S) {
        bottom: -26%;
        right: 60px;
        max-width: 500px;
        max-height: initial;
      }

      @media screen and (min-width: $width_M) {
        max-width: 720px;
        bottom: -42%;
      }

      @media screen and (min-width: $width_L) {
        right: 10%;
      }
    }

    .button {
      display: flex;
      width: 100%;
      max-width: 320px;
      color: $color-cta-text;

      @media screen and (min-width: $width_S) {
        position: relative;
        z-index: 1;
        margin-left: 0;
      }
    }
  }

  &__pedago {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px $form-padding-left-mobile;

    @media screen and (min-width: $width_S) {
      align-items: flex-end;
      padding: 60px 60px 30px;
    }

    /deep/ .title2 {
      font-size: 16px;
      line-height: 32px;

      @media screen and (min-width: $width_S) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    /deep/ .stepsBloc .stepsContainer {
      margin-top: 20px;

      @media screen and (min-width: $width_S) {
        margin-top: 60px;
      }
    }
  }

  &__advantage {
    padding: $form-padding-left-mobile;
    background-color: $color-partner-2;

    @media screen and (min-width: $width_S) {
      padding: 60px 60px 40px;
    }

    &-title {
      font-family: $font-bold;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      color: $color-white;
      margin-bottom: 15px;

      @media screen and (min-width: $width_S) {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 60px;
      }
    }

    &-list {
      @media screen and (min-width: $width_S) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 -15px;
      }

      li {
        background-color: $color-white;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 20px;

        &:not(:last-child) {
          margin-bottom: 20px;

          @media screen and (min-width: $width_S) {
            margin-bottom: 30px;
          }
        }

        @media screen and (min-width: $width_S) {
          width: calc((100% - 60px) / 2);
          min-height: 120px;
          margin: 0 15px 30px;
        }

        @media screen and (min-width: $width_M) {
          width: calc((100% - 90px) / 3);
          min-height: 140px;
        }
      }

      &__image {
        display: block;
        max-width: 50px;
        max-height: 50px;
        margin-right: 20px;

        @media screen and (min-width: $width_S) {
          max-width: 65px;
          max-height: 65px;
        }
      }

      &__content {
        text-align: left;
      }

      &__title {
        font-family: $font-medium;
        font-size: 15px;
        line-height: 20px;
        color: $color-grey-black;

        @media screen and (min-width: $width_M) {
          font-size: 18px;
          line-height: 26px;
        }

        /deep/ sup {
          font-family: $font-medium;
          color: $color-grey-black;
        }
      }

      &__text {
        font-family: $font-medium;
        font-size: 14px;
        line-height: 16px;
        color: $color-grey-medium;
        margin-top: 10px;

        @media screen and (min-width: $width_S) {
          margin-top: 5px;
        }
      }
    }

    .button {
      @media screen and (min-width: $width_S) {
        margin: 15px auto 0;
      }
    }
    .tab-return-btn {
      height: 25px;
      margin-top: 25px;
    }
  }

  &__legal-mentions {
    text-align: left;
    padding: 10px $form-padding-left-mobile 80px;

    @media screen and (min-width: $width_S) {
      padding: 30px 60px;
    }

    > div {
      @media screen and (min-width: $width_S) {
        &:first-child {
          flex: 1;
        }

        &:last-child {
          flex: 2;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-bg-container;
        margin-bottom: 15px;
        padding-bottom: 5px;

        @media screen and (min-width: $width_S) {
          border-bottom: 0 none;
          margin-bottom: 0;
          padding-bottom: 0;

          border-right: 1px solid $color-bg-container;
          margin-right: 20px;
          padding-right: 20px;
        }

        @media screen and (min-width: $width_M) {
          margin-right: 50px;
          padding-right: 50px;
        }
      }
    }

    .paragraphs {
      @media screen and (min-width: $width_S) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    &__title {
      font-family: $font-bold;
      font-size: 13px;
      color: $color-grey-medium;
      margin-bottom: 15px;
      text-decoration: underline;
      cursor: pointer;
    }

    &__text {
      font-family: $font-regular;
      font-size: 11px;
      line-height: 12px;
      color: $color-grey-medium;
      margin-bottom: 10px;

      & + .credit-from-scratch__legal-mentions__text {
        border-top: 1px solid $color-bg-container;
        margin-top: 15px;
        padding-top: 15px;

        @media screen and (min-width: $width_S) {
          border-top: 0 none;
          margin-top: 0;
          padding-top: 5px;
        }
      }
    }
  }

  .preContract {
    font-family: $font-bold;
    font-size: 13px;
    line-height: 1.23;
    text-decoration: underline;
    color: $color-grey-dark;
    cursor: pointer;
    margin-top: 30px;

    @media screen and (min-width: $width_S) {
      display: block;
      margin: 10px 0;
    }
  }

  .ctaContainer {
    background-color: transparent;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateZ(0);
    z-index: 2;
    width: 100%;

    .preContract {
      display: block;
      font-size: 16px;
      line-height: 1;
      margin-top: 25px;
      text-align: center;
    }

    .button {
      display: flex;
      width: 100%;
    }

    .fixedButton {
      position: relative;
      transform: translateY(100px);
      opacity: 0;
      transition: transform 300ms ease-out, opacity 300ms ease-out;

      &.show {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
</style>
