<template>
  <div class="errorPage">
    <div class="title">
      {{ pageTexts.title }}
    </div>
    <div class="bloc">
      <div class="line1">{{ pageTexts.line1 }}</div>
      <div class="line2">{{ pageTexts.line2 }}</div>
      <app-button :label="pageTexts.buttonLabel" :noChevron="true" :onClick="handleClick" v-if="!invalidParameters" />
      <div class="leftBulb">
        <img src="@/assets/images/light-bulb-left.png" alt="Decoration" />
      </div>
      <div class="rightBulb">
        <img src="@/assets/images/light-bulb-right.png" alt="Decoration" />
      </div>
    </div>
    <div class="imageBottom"></div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import Button from '@/components/graphic/Button.vue';
import { TagManagerPartnerService } from '@/services/tagManagerPartner';
import { getTagManagerInstance, TagManagerService } from '@/services/tagManagerFactory';

@Component({
  components: {
    'app-button': Button
  }
})
export default class ErrorPage extends Vue {
  @Prop({ default: false }) public invalidParameters!: boolean;
  @Prop({ default: false }) public serverError!: boolean;
  @Prop({ default: false }) public isFromForm!: string;
  private tagManagerService: TagManagerService;

  constructor() {
    super();
    this.tagManagerService = getTagManagerInstance();
  }

  public created() {
    const tagManagerService = getTagManagerInstance();
    if (this.invalidParameters) {
      tagManagerService.tagError(404);
    } else {
      tagManagerService.tagError(500);
    }
  }

  public handleClick() {
    if (this.serverError) {
      this.reloadApp();
    } else {
      this.resumeSubscription();
    }
  }

  public get pageTexts() {
    if (this.serverError) {
      // Hard coded string because in this case we do not have access to i18n and jahia messages
      return {
        title: 'Oups ! Il semble que la page suivante soit introuvable',
        line1: 'Désolé pour ce désagrément.',
        line2: 'Vous pouvez actualiser la page en cliquant sur le bouton ci-dessous.',
        buttonLabel: 'Actualiser'
      };
    } else if (this.fromForms) {
      return {
        title: this.$t('souscription.pageErreur.titre').toString(),
        line1: this.$t('souscription.pageErreur.ligne1').toString(),
        line2: this.$t('souscription.pageErreur.ligne2').toString(),
        buttonLabel: this.$t('souscription.pageErreur.bouton').toString()
      };
    } else if (this.invalidParameters) {
      // Hard coded string because in this case we do not have access to i18n and jahia messages
      return {
        title: `Oups ! 404 - Il s'agit d'une erreur`,
        line1: `L'URL demandée est introuvable sur ce serveur.`,
        line2: `Nous vons invitons à vérifier s'il n'y a pas de faute de frappe dans l'adresse utilisée`,
        buttonLabel: ''
      };
    }
    // Hard coded string because in this case we do not have access to i18n and jahia messages
    return {
      title: `Oups ! Une erreur inconnue s'est produite`,
      line1: `Désolé pour ce désagrément.`,
      line2: `Nous pouvez retourner à l'accueil en cliquant sur le bouton ci-dessous`,
      buttonLabel: `Revenir à l'accueil`
    };
  }

  private reloadApp() {
    document.location.reload();
  }

  private resumeSubscription() {
    const activeRoute = this.$store.getters.getPreviousActiveRoute;
    this.$router.push({ name: activeRoute });
  }

  private get fromForms() {
    return Boolean(this.isFromForm);
  }
}
</script>

<style lang="scss" scoped>
.errorPage {
  position: relative;
  background-color: $color-bg-container;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  .title {
    margin: 40px 65px 60px;
    font-size: 20px;
    line-height: 1.4;
    color: $color-grey-black;
    font-family: $font-bold;
    text-align: center;

    @media screen and (min-width: $width_S) {
      margin: 96px 0 45px;
    }
  }

  .bloc {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: $color-white;
    padding: 30px 15px;
    max-width: 490px;

    @media screen and (min-width: $width_S) {
      margin: 0;
      position: relative;
      padding: 30px 45px;
    }

    .line1,
    .line2 {
      width: 100%;
      font-size: 16px;
      line-height: 1.5;
      color: $color-grey-black;
      text-align: center;
      margin-bottom: 25px;
    }

    .leftBulb {
      position: absolute;
      top: 10px;
      left: 10px;

      @media screen and (min-width: $width_S) {
        display: block;
        top: -91px;
        left: -34px;
        transform: translateX(-100%);
      }

      @media screen and (min-width: $width_M) {
        left: -34px;
      }

      @media screen and (min-width: $width_L) {
        left: -84px;
      }

      img {
        width: 50px;

        @media screen and (min-width: $width_S) {
          width: 80px;
        }

        @media screen and (min-width: $width_M) {
          width: initial;
        }
      }
    }

    .rightBulb {
      position: absolute;
      top: 85px;
      right: 5px;

      @media screen and (min-width: $width_S) {
        top: -113px;
        right: -66px;
        transform: translateX(100%);
      }

      @media screen and (min-width: $width_S) {
        right: -36px;
      }

      @media screen and (min-width: $width_M) {
        right: -86px;
      }

      img {
        width: 50px;

        @media screen and (min-width: $width_S) {
          width: 80px;
        }

        @media screen and (min-width: $width_M) {
          width: initial;
        }
      }
    }
  }

  .imageBottom {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-image: url($assetSvg + 'collines.svg');
    @include background;
    background-position: center top;
  }
}
</style>
