<template>
  <section class="plv">
    <div class="plv__brand" v-if="!isMobile">
      <img :src="`${baseUrl}/lock.svg`" alt="Site sécurisé" />
      <p class="plv__brand-text">{{ $t('souscription.web2store.messageMarque') }}</p>
    </div>
    <div
      ref="plvHeader"
      class="plv__header"
      :style="{ backgroundImage: `url(${baseUrl}/header-background.jpg)`, 'background-size': 'cover' }"
    >
      <div class="plv__header-content">
        <h3 class="plv__header-title" v-html="$t('souscription.web2store.titre')" />
        <h4
          class="plv__header-subTitle"
          v-if="$t('souscription.web2store.sousTitre')"
          v-html="$t('souscription.web2store.sousTitre')"
        />
        <div
          class="plv__header-regularText"
          v-if="$t('souscription.web2store.texteEntete')"
          v-html="$t('souscription.web2store.texteEntete')"
        />
        <app-button :label="$t('souscription.web2store.cta')" :noChevron="true" :onClick="goNext" :colors="colors" />
      </div>
      <img class="plv__header-image" :src="`${baseUrl}/credit-card.png`" alt="Carte de crédit" />
    </div>

    <div class="plv__bigPurchase">{{ $t('souscription.web2store.achatSuperieur1000Euro') }}</div>

    <div class="plv__pedago">
      <app-pedagogic-plv
        :isMobile="isMobile"
        :items="pedagogicItems"
        :colors="colors"
        @cta-click="goNext"
        @open-preContract-modal="openPreContractModal"
      ></app-pedagogic-plv>
    </div>

    <div class="plv__footer">
      <p class="plv__footer__text">{{ $t('souscription.web2store.conditionsSpecifiques') }}</p>
    </div>

    <div class="plv__legal-mentions">
      <h6 class="plv__legal-mentions__title" @click="goToLegalMentions('0')">
        {{ $t('souscription.ouvertureSeche.legalTitre') }}
      </h6>
      <div class="paragraphs">
        <p class="plv__legal-mentions__text" v-html="$t('souscription.ouvertureSeche.legalPart2')" />
      </div>
    </div>

    <div class="ctaContainer v-fade" v-if="isMobile">
      <app-button
        class="fixedButton"
        :class="{ show: showFloatingCta }"
        :label="$t('souscription.web2store.cta')"
        :noChevron="true"
        :onClick="goNext"
        :colors="colors"
      />
    </div>
    <app-pre-contract-pop-in
      :stepState="stepState"
      :opened="showPreContractModal"
      :closeModal="closeModalPreContract"
    />
  </section>
</template>

<script lang="ts">
import Component from 'vue-class-component';
import Vue from 'vue';
import { State, Getter } from 'vuex-class';
import { StepState } from '@/models/StepState';
import { Prop } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import Button from '@/components/graphic/Button.vue';
import { RoutePathId } from '@/models/RoutesPath';
import PedagogicPlv from '@/components/pedagogic/PedagogicPlv.vue';
import PreContractPopin from './popin/PreContractPopin.vue';
import { PedagogicItemModel } from '@/models/PedagogicItems';
import { TagManagerPartnerService } from '@/services/tagManagerPartner';
import { getTagManagerInstance } from '@/services/tagManagerFactory';

@Component({
  components: {
    'app-button': Button,
    'app-pedagogic-plv': PedagogicPlv,
    'app-pre-contract-pop-in': PreContractPopin
  }
})
export default class HomePlv extends Vue {
  @Prop() public stepState!: StepState;

  @State((state) => state.client.isMobile) public isMobile!: boolean;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.apiConfig.partnerCode) public partnerCode!: string;
  @State((state) => state.apiConfig.offerCode) public offerCode!: string;
  @Getter('getNextStep') public getNextStep!: (pathId: string) => StepState;

  private showPreContractModal: boolean = false;
  private showFloatingCta: boolean = false;

  private tagManagerService = getTagManagerInstance();

  private get pedagogicItems(): PedagogicItemModel[] {
    const nbItem = 6;
    const pedagogicStep =
      this.stepState && this.stepState.steps
        ? this.stepState.steps.find((step: any) => step.pathId === RoutePathId.PEDAGOGIC_STEP)
        : null;
    // get key for wording
    const pssKey =
      pedagogicStep && pedagogicStep.screenOptions && pedagogicStep.screenOptions['pedagogic-steps-key']
        ? pedagogicStep.screenOptions['pedagogic-steps-key'].value
        : null;

    if (pssKey) {
      return Array.from(Array(6)).map((_, i) => {
        const index = i + 1;
        const base = {
          img: `${pssKey}.${index}.icone`,
          alt: `${pssKey}.${index}.alt`,
          text: `${pssKey}.${index}.texte`,
          title: `${pssKey}.${index}.titre`
        };
        if (this.$te(`${pssKey}.${index}.tooltip`)) {
          return {
            ...base,
            tooltip: {
              link: `${pssKey}.${index}.tooltip.lien`,
              text: `${pssKey}.${index}.tooltip.texte`
            }
          };
        } else {
          return base;
        }
      });
    } else {
      throw new Error('No pedagogic step defined');
    }
  }

  public get nextStepRouteName() {
    const nextStep = this.getNextStep(this.stepState.pathId);
    return nextStep ? nextStep.pathId : null;
  }

  private created() {
    document.addEventListener('scroll', this.handleScroll, false);
    this.tagManagerService.pageSubscriptionProcessChange(this.$route);
  }

  private goNext() {
    if (this.nextStepRouteName) {
      this.$router.push({ name: this.nextStepRouteName });
    }
  }

  private openPreContractModal() {
    this.tagManagerService.preContractClick();
    this.showPreContractModal = true;
  }

  private closeModalPreContract() {
    this.showPreContractModal = false;
  }

  private handleScroll() {
    if (this.isMobile) {
      let top = 0;
      let height = 0;
      const header = this.$refs.plvHeader as any;
      if (header) {
        top = header.offsetTop;
        height = header.scrollHeight;
      }
      const scroll = top + height;

      if (window.scrollY >= scroll && !this.showFloatingCta) {
        this.showFloatingCta = true;
      } else if (window.scrollY < scroll && this.showFloatingCta) {
        this.showFloatingCta = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.plv {
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: both;

  .button {
    @media screen and (min-width: $width_S) {
      display: flex;
      padding: 15px 45px;
    }
  }

  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    &-text {
      height: 23px;
      font-family: $font-regular;
      font-size: 16px;
      text-align: center;
      color: $color-grey-dark;
    }

    img {
      width: 13px;
      height: auto;
      margin-right: 5px;
      padding-bottom: 3px;
    }
  }

  &__header {
    position: relative;
    padding: 25px $form-padding-left-mobile;
    overflow: hidden;

    @media screen and (min-width: $width_S) {
      padding: 120px 60px;
    }

    @media screen and (min-width: $width_L) {
      padding-left: 160px;
    }

    &::after {
      content: '';
      background-image: linear-gradient(91deg, rgba(25, 29, 33, 0.92) 44%, rgba(0, 0, 0, 0) 99%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 66%;
      height: 100%;
    }

    &-content {
      position: relative;
      z-index: 2;

      .button {
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $width_S) {
          margin-left: initial;
          margin-right: initial;
        }
      }
    }

    &-title {
      font-family: $font-bold;
      font-size: 20px;
      line-height: 26px;
      text-align: left;
      color: $color-white;
      margin-bottom: 7px;
      max-width: 80%;

      @media screen and (min-width: $width_S) {
        font-size: 32px;
        line-height: 1.13;
        margin-bottom: 20px;
        max-width: 535px;

        &.hasSubtitle {
          font-size: 32px;
          line-height: 40px;
        }
      }

      @media screen and (min-width: $width_M) {
        max-width: none;
      }
    }

    &-subTitle {
      font-family: $font-bold;
      font-size: 14px;
      line-height: 18px;
      color: $color-white;
      text-align: left;
      max-width: 50%;
      margin-bottom: 20px;

      @media screen and (min-width: $width_S) {
        font-size: 24px;
        line-height: 1.42;
        max-width: 535px;
        margin-bottom: 30px;
      }
    }

    &-regularText {
      font-family: $font-bold;
      font-size: 12px;
      line-height: 1.25;
      color: $color-white;
      margin-bottom: 20px;
      position: relative;

      @media screen and (min-width: $width_S) {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 40px;
      }

      &:before {
        content: '';
        position: absolute;
        transform: translate(0, -30px);
        top: 0;
        left: -25px;
        width: calc(100% + 50px);
        height: 75px;
        z-index: -1;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.01) 1%,
          rgba(0, 0, 0, 0.5) 50%,
          rgba(0, 0, 0, 0) 100%
        );

        @media screen and (min-width: $width_S) {
          display: none;
        }
      }
    }

    &-image {
      position: absolute;
      bottom: 0px;
      right: $form-padding-left-mobile;
      z-index: 0;
      display: block;
      width: auto;
      max-height: 90%;

      @media screen and (min-width: $width_S) {
        bottom: -26%;
        right: 60px;
        max-width: 500px;
        max-height: initial;
      }

      @media screen and (min-width: $width_M) {
        max-width: 720px;
        bottom: -42%;
      }

      @media screen and (min-width: $width_L) {
        right: 10%;
      }
    }

    .button {
      display: flex;
      width: 100%;

      @media screen and (min-width: $width_S) {
        max-width: 260px;
        position: relative;
        z-index: 1;
      }
    }
  }

  &__bigPurchase {
    object-fit: contain;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    text-align: center;
    color: $color-grey-dark;
    margin-top: 12px;
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;

    @media screen and (min-width: $width_S) {
      line-height: 1.25;
      margin-top: 30px;
      margin-bottom: 50px;
      font-size: 16px;
    }
  }

  &__footer {
    background-color: $color-grey-light;
    display: flex;
    align-items: center;
    padding: 15px 0 15px;

    @media screen and (min-width: $width_S) {
      padding: 30px 0 15px;
    }

    &__text {
      font-family: $font-regular;
      font-size: 11px;
      line-height: 1.09;
      color: $color-grey-medium;
      padding: 0 20px;

      @media screen and (min-width: $width_S) {
        padding: 0 60px;
      }
    }
  }

  &__legal-mentions {
    text-align: left;
    padding: 0 $form-padding-left-mobile 80px;
    background-color: $color-grey-light;

    @media screen and (min-width: $width_S) {
      padding: 0 60px 30px;
    }

    > div {
      @media screen and (min-width: $width_S) {
        &:first-child {
          flex: 1;
        }

        &:last-child {
          flex: 2;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-bg-container;
        margin-bottom: 15px;
        padding-bottom: 5px;

        @media screen and (min-width: $width_S) {
          border-bottom: 0 none;
          margin-bottom: 0;
          padding-bottom: 0;

          border-right: 1px solid $color-bg-container;
          margin-right: 20px;
          padding-right: 20px;
        }

        @media screen and (min-width: $width_M) {
          margin-right: 50px;
          padding-right: 50px;
        }
      }
    }

    .paragraphs {
      @media screen and (min-width: $width_S) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    &__title {
      font-family: $font-bold;
      font-size: 13px;
      color: $color-grey-medium;
      margin-bottom: 15px;
      text-decoration: underline;
      cursor: pointer;
    }

    &__text {
      font-family: $font-regular;
      font-size: 11px;
      line-height: 12px;
      color: $color-grey-medium;
      margin-bottom: 10px;

      & + .credit-from-scratch__legal-mentions__text {
        border-top: 1px solid $color-bg-container;
        margin-top: 15px;
        padding-top: 15px;

        @media screen and (min-width: $width_S) {
          border-top: 0 none;
          margin-top: 0;
          padding-top: 5px;
        }
      }
    }
  }

  .ctaContainer {
    background-color: transparent;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateZ(0);
    z-index: 2;
    width: 100%;

    .preContract {
      display: block;
      font-size: 16px;
      line-height: 1;
      margin-top: 25px;
      text-align: center;
    }

    .button {
      display: flex;
      width: 100%;
    }

    .fixedButton {
      position: relative;
      transform: translateY(100px);
      opacity: 0;
      transition: transform 300ms ease-out, opacity 300ms ease-out;

      &.show {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
</style>
