<template>
  <div class="legalMentionContainer">
    <div class="legalMentionHeader">
      <h1>{{ $t('titre') }}</h1>
      <div class="headerMenu-desktop">
        <div
          class="item"
          v-for="(categorie, index) in $t('items')"
          :key="'categorie' + index"
          :class="{ active: activeStep === index }"
          :style="{ color: activeStep === index ? colors.primary : '#333333' }"
          @click="goToStep(index)"
        >
          {{ categorie.titre }}
          <div class="selectedBar"></div>
        </div>
      </div>
      <div class="headerMenu-mobile">
        <div
          class="item"
          v-for="(categorie, index) in $t('items')"
          :key="'categorie' + index"
          @click="openModal(index)"
        >
          {{ categorie.titre }}
          <i class="icon icon-Icon_ArrowButton"></i>
        </div>
      </div>
    </div>
    <div class="legalMentionContent">
      <div class="leftMenu">
        <div class="timeline">
          <div class="cursor" :style="{ height: heightAnchor + 'px', top: topAnchor + 'px' }"></div>
        </div>
        <div class="anchors">
          <div
            v-for="(sousCategorie, index) in selectedCategorie.items"
            :key="'sousCategorie' + index"
            class="anchor"
            :id="'anchor' + index"
            :class="{ active: activeSubStep === index }"
            :style="{ color: activeSubStep === index ? colors.primary : '#333333' }"
            @click="goToSubStep(index)"
          >
            {{ sousCategorie.titre }}
          </div>
        </div>
      </div>
      <div class="content">
        <div
          v-for="(sousCategorie, index) in selectedCategorie.items"
          :key="'sousCategorieContent' + index"
          class="anchorContent"
          :id="'block' + index"
        >
          <h2>{{ sousCategorie.titre }}</h2>
          <div v-html="sousCategorie.contenu"></div>
        </div>
        <div :style="{ height: heightMarginBottom }"></div>
      </div>
    </div>
    <app-popin
      ref="mobilePopin"
      :title="selectedCategorie.titre"
      :active="opened"
      :closeAction="handleCloseClick"
      :headerBackgroundColor="colors.primary"
      :noButton="true"
      :colors="colors"
    >
      <div class="innerContainer">
        <div class="anchors">
          <div
            v-for="(sousCategorie, index) in selectedCategorie.items"
            :key="'sousCategorieMob' + index"
            class="anchor"
            :id="'anchor' + index"
            @click="goToSubStep(index, true)"
          >
            {{ sousCategorie.titre }}
          </div>
        </div>
        <div class="content">
          <div
            v-for="(sousCategorie, index) in selectedCategorie.items"
            :key="'sousCategorieContentMob' + index"
            class="anchorContent"
            :id="'blockMobile' + index"
          >
            <h2>{{ sousCategorie.titre }}</h2>
            <div v-html="sousCategorie.contenu"></div>
          </div>
        </div>
        <button @click="goTo(0, true)" class="go-to" :class="{ active: scrollToTopIsActive }">
          <i class="icon icon-Icon_ArrowButton"></i>
        </button>
      </div>
    </app-popin>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { State } from 'vuex-class';
import { Colors } from '@/models/Colors';
import { StepState } from '@/models/StepState';
import { Prop } from 'vue-property-decorator';
import Popin from '@/components/graphic/Popin.vue';
import { getCurrentQueryStringParams } from '@/utils/utils';
import { easeInOutQuad } from '@/utils/animations';

@Component({
  components: {
    'app-popin': Popin
  }
})
export default class LegalMentions extends Vue {
  @Prop() public stepState!: StepState;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.client.isMobile) public isMobile!: boolean;
  public activeStep: number = 0;
  public activeSubStep: number = 0;
  public opened = false;
  public scrollToTopIsActive = false;

  public heightMarginBottom: string | null = '0';

  public heightAnchor: number = 25;
  public topAnchor: number = 0;

  private headerSize: number = 80;
  private legalHeaderSize: number = 173;
  private paddingMenu: number = 50;
  private legalHeaderTop: number = 80;
  private isNavigated = false;

  public mounted() {
    const query = getCurrentQueryStringParams();
    const stepId = query && query.stepId;
    this.activeStep = stepId ? Number(stepId) : 0;

    if (window) {
      window.addEventListener(
        'scroll',
        (event) => {
          this.handleScroll(event);
        },
        false
      );
    }

    if (document) {
      const body = document.querySelector('body') as HTMLElement;
      if (body) {
        body.addEventListener(
          'scroll',
          (event) => {
            this.handleScroll(event);
          },
          false
        );
      }

      const popin = this.$refs.mobilePopin as any;
      const popinContent = popin && (popin.getScrollingArea() as HTMLElement);
      if (popinContent) {
        popinContent.addEventListener(
          'scroll',
          (event) => {
            this.handleScrollMobile(event);
          },
          false
        );
      }
    }

    this.setLinksStyle();
    this.setCursorHeight(0);

    this.heightMarginBottom = this.calculMarginBottom();
  }

  public handleScroll(event: any) {
    const leftMenu = document.querySelector('.legalMentionContent .leftMenu') as HTMLElement;
    const scroll = window.scrollY ? window.scrollY : document.documentElement.scrollTop;
    if (leftMenu) {
      this.legalHeaderTop = Math.max(0, Math.min(this.headerSize, this.headerSize - scroll));
      (document.querySelector('.legalMentionHeader') as HTMLElement).style.top = this.legalHeaderTop + 'px';
      leftMenu.style.top = this.legalHeaderTop + this.legalHeaderSize + this.paddingMenu + 'px';
    }
    if (!this.isNavigated) {
      const anchors = document.querySelectorAll('.legalMentionContent .anchorContent');

      Array.prototype.forEach.call(anchors, (element: any, index) => {
        if (
          element &&
          element.getBoundingClientRect().top <= this.legalHeaderTop + this.legalHeaderSize + this.paddingMenu + 10
        ) {
          this.activeSubStep = index;
          this.setCursorHeight(this.activeSubStep);
        }
      });
    }
  }

  public handleScrollMobile(event: any) {
    this.scrollToTopIsActive = window.innerHeight <= event.target.scrollTop;
  }

  public openModal(step: number) {
    this.goToStep(step);
    this.goTo(0, true);
    this.opened = true;
  }

  public handleCloseClick() {
    this.opened = false;
  }

  public goToStep(step: number) {
    if (this.activeStep !== step) {
      this.activeSubStep = 0;
    }

    this.activeStep = step;
    window.scrollTo(0, 0);
    (document.querySelector('body') as HTMLElement).scrollTop = 0;

    setTimeout(() => {
      this.setLinksStyle();
      this.setCursorHeight(this.activeSubStep);
      this.heightMarginBottom = this.calculMarginBottom();
    }, 1);
  }

  public goToSubStep(subStep: number, mobile: boolean = false) {
    this.activeSubStep = subStep;

    this.goToAnchor(subStep, mobile);

    if (!mobile) {
      this.setCursorHeight(subStep);
    }
  }

  public goToAnchor(id: number, mobile: boolean) {
    const selector = mobile ? '#blockMobile' + id : '#block' + id;
    let scrollPosY = 0;
    const posY: number = (document.querySelector(selector) as HTMLElement).offsetTop;
    if (!mobile && id !== 0) {
      scrollPosY = posY - this.legalHeaderTop - this.legalHeaderSize - this.paddingMenu;
    } else if (mobile) {
      scrollPosY = posY;
    }
    this.isNavigated = true;
    this.goTo(scrollPosY, mobile, () => {
      this.isNavigated = false;
    });
  }

  public goTo(to: any, mobile: boolean = false, callback?: any) {
    let el = document.querySelector('body') as HTMLElement;
    if (mobile) {
      el = (this.$refs.mobilePopin as any).getScrollingArea() as HTMLElement;
    }
    const start = window.scrollY > el.scrollTop ? window.scrollY : el.scrollTop;

    // Add the size change of the header
    if (!mobile && start < 80 && to > 80) {
      to += 80;
    }

    // Substract the size of the header + padding
    if (mobile) {
      to -= 50;
    }

    const change = to - start;
    const increment = 5;
    let currentTime = 0;
    const animateScroll = () => {
      const duration = 300;
      const val = easeInOutQuad(currentTime, start, change, duration);
      currentTime += increment;

      if (!mobile && window.scrollTo) {
        window.scrollTo(0, val);
      }

      if (el) {
        el.scrollTop = val;
      }

      if (currentTime < duration) {
        setTimeout(animateScroll, increment);
      } else if (callback) {
        callback();
      }
    };
    animateScroll();
  }

  public calculMarginBottom() {
    const lastBlockId = this.selectedCategorie.items.length - 1;
    const lastBlock = document.querySelector('.legalMentionContent #block' + lastBlockId) as HTMLElement;
    const lastBlockSize = lastBlock ? lastBlock.getBoundingClientRect().height : 0;
    return 'calc(100vh - ' + (this.legalHeaderSize + this.paddingMenu + lastBlockSize + 30 + 15) + 'px)';
  }

  public get selectedCategorie() {
    // @ts-ignore
    return this.$t('items')[this.activeStep] || this.$t('items')[0];
  }

  private setCursorHeight(index: number) {
    const anchor = document.querySelector('.legalMentionContent .leftMenu .anchors #anchor' + index) as HTMLElement;
    if (anchor) {
      const rect = anchor.getBoundingClientRect();
      this.heightAnchor = rect.height;
      this.topAnchor = rect.top - (this.legalHeaderTop + this.legalHeaderSize + this.paddingMenu);
    }
  }

  private setLinksStyle() {
    const links = document.querySelectorAll('.anchorContent a');
    Array.prototype.forEach.call(links, (element: any) => {
      element.style.color = this.colors.primary;
    });
  }
}
</script>

<style lang="scss" scoped>
.legalMentionContainer {
  display: flex;
  flex-direction: column;
  .legalMentionHeader {
    padding: 25px 20px 0;

    @media screen and (min-width: $width_M) {
      padding: 36px 50px 0;
      position: fixed;
      top: 80px;
      height: 173px;
      width: 100%;
      background-color: $color-white;
    }
    h1 {
      font-family: $font-bold;
      font-size: 24px;
      line-height: 1.33;
      margin-bottom: 30px;
      color: $color-grey-dark;

      @media screen and (min-width: $width_M) {
        margin-bottom: 40px;
        font-size: 34px;
        line-height: 1.26;
      }
    }
    .headerMenu {
      &-mobile {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $width_M) {
          display: none;
        }
        .item {
          display: flex;
          justify-content: space-between;
          font-family: $font-bold;
          line-height: 1.5;
          font-size: 16px;
          padding: 15px 0;
          transition: 0.3s all ease-in-out;
          cursor: pointer;
          border-top: 1px solid $color-grey-light;
          align-items: center;
          color: $color-partner-1;

          &:last-child {
            border-bottom: 1px solid $color-grey-light;
          }
        }
      }

      &-desktop {
        display: none;

        @media screen and (min-width: $width_M) {
          display: flex;
        }
        .item {
          font-family: $font-bold;
          line-height: 1.5;
          font-size: 16px;
          transition: 0.3s all ease-in-out;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 70px;
          }

          .selectedBar {
            height: 5px;
            width: 0px;
            transition: 0.3s all ease-in-out;
            margin-top: 25px;
            background-color: $color-partner-1;
          }

          &.active {
            .selectedBar {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .legalMentionContent {
    display: none;

    @media screen and (min-width: $width_M) {
      display: flex;
      padding: 50px 50px 30px;
      align-items: flex-start;
      margin-top: 173px;
      background-color: $color-bg-container;
    }

    .leftMenu {
      display: flex;
      width: 25vw;
      position: fixed;
      top: calc(80px + 173px + 50px);
      .timeline {
        position: relative;
        background-color: $color-grey-regular;
        width: 2px;
        margin-right: 20px;

        .cursor {
          width: 4px;
          position: absolute;
          top: 0;
          left: -1px;
          transition: 0.3s all ease-in-out;
          background: $color-partner-2;
        }
      }
      .anchors {
        display: flex;
        flex-direction: column;
        width: 100%;
        .anchor {
          font-size: 14px;
          font-family: $font-bold;
          line-height: 1.38;
          cursor: pointer;
          color: $color-partner-2;

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }

    .content {
      width: 60%;
      margin-left: 27vw;
      .anchorContent {
        font-size: 16px;
        line-height: 1.25;
        h2 {
          color: $color-grey-dark;
          text-transform: uppercase;
          font-family: $font-bold;
        }

        > div {
          /deep/ a {
            text-decoration: underline;
          }
        }

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
  .innerContainer {
    background-color: $color-bg-container;
    width: 100%;
    padding-bottom: 65px;

    @media screen and (max-width: $width_S) {
      padding-bottom: 80px;
    }

    .anchors {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $color-grey-regular;
      margin-bottom: 10px;
      padding: 25px 20px;
      .anchor {
        font-size: 16px;
        font-family: $font-bold;
        line-height: 1.38;
        cursor: pointer;
        margin-bottom: 30px;
        text-decoration: underline;

        &:last-child {
          margin-bottom: 5px;
        }
      }
    }
    .content {
      padding: 25px 20px;
      .anchorContent {
        font-size: 16px;
        line-height: 1.25;
        h2 {
          color: $color-grey-dark;
          text-transform: uppercase;
          font-family: $font-bold;
        }

        > div {
          /deep/ a {
            text-decoration: underline;
          }
        }

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }

    .go-to {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transform: rotate(-90deg);
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      @media screen and (max-width: $width_S) {
        position: fixed;
        top: inherit;
        bottom: 30px;
        right: 30px;
      }

      &.active {
        visibility: visible;
        opacity: 1;
      }

      .icon {
        font-size: 12px;
      }
    }
  }
}

.icon-Icon_ArrowButton {
  color: $color-partner-1;
}
</style>
