<template>
  <div id="app" class="simulator-block" data-cy="simulator">
    <app-header
      v-if="showHeaderAndFooter"
      :isMobileProp="isMobileState"
      :showMobileHelpButton="showMobileHelpButton"
      @open-mobile-help-menu="openMobileHelpMenu"
    />
    <simulator-content :stepState="stepState"> </simulator-content>
    <simulator-bottom-info></simulator-bottom-info>
    <app-footer v-if="showHeaderAndFooter" />
  </div>
</template>

<script lang="ts">
import '@/styles/reset.scss';
import '@/styles/fonts.scss';

import Config from '@/config/configSimulator';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Mutation, State, Getter } from 'vuex-class';
import Header from '@/components/simulator/Header.vue';
import Footer from '@/components/simulator/Footer.vue';
import SimulatorContent from '@/components/simulator/SimulatorContent.vue';
import SimulatorBottomInfo from '@/components/simulator/SimulatorBottomInfo.vue';
import { StepState } from '@/models/StepState';

/**
 * App
 *
 * VueJS application entrypoint. Fetch all proposals related to customer required amount
 * then initialize store with the fetched objects.
 */
@Component({
  components: {
    'app-header': Header,
    'app-footer': Footer,
    'simulator-content': SimulatorContent,
    'simulator-bottom-info': SimulatorBottomInfo
  }
})
export default class SimulatorView extends Vue {
  @Prop() public stepState!: StepState;

  @State((state) => state.simulator.requiredAmount)
  private requiredAmount!: number;
  @State((state) => state.client.isMobile)
  private isMobileState!: boolean;
  @State((state) => state.uiActiveState.contactModule.showMobileHelpButton)
  private showMobileHelpButton: boolean;

  @Mutation private updateForceUserAmountInput!: (value: boolean) => void;
  @Mutation private resetTimesUserSelectedOffer!: () => void;
  @Mutation private updateShowMobileHelpMenu!: (value: boolean) => void;

  private get showHeaderAndFooter() {
    return Config.enableHeaderAndFooter;
  }

  private created() {
    Config.editableAmount =
      this.stepState.screenOptions &&
      (this.stepState.screenOptions as any)['editable-amount'] &&
      !!(this.stepState.screenOptions as any)['editable-amount'].value;

    if (this.requiredAmount && this.requiredAmount > 0 && Config.editableAmount === true) {
      this.updateForceUserAmountInput(false);
    }

    this.resetTimesUserSelectedOffer();
  }

  private openMobileHelpMenu() {
    this.updateShowMobileHelpMenu(true);
  }
}
</script>

<style scoped lang="scss">
// Global css files should only be applied to App component (the root component) and its child i.e the
// whole app. But we do not want those styles to affect tags outside our application
::v-deep {
  @import '@/styles/base.scss';

  * {
    font-family: $font-regular;
  }
}

.simulator-block {
  position: relative;
  background-color: $color-bg-container;
}

// .offer-details {
//   @media screen and (max-width: $width_L) {
//     display: none;
//   }
// }
</style>
