<template>
  <section class="subscriptionPageContainer">
    <progress-bar id="progress-bar" />
    <div class="wrapper">
      <left-sidebar class="left-sidebar" v-show="!hidePanel" />
      <div class="content" :class="{ panelHidden: hidePanel }">
        <div id="gdpr" class="gdpr" v-if="showGDPR">
          <p v-html="addDynamicStyles($t('souscription.rgpd.mobile'), colors.primary)" class="gdpr-text gdpr-mobile" />
          <p v-html="addDynamicStyles($t('souscription.rgpd.bureau'), colors.primary)" class="gdpr-text gdpr-desktop" />
          <button class="gdpr-button" type="button" @click="handleCloseGdpr()">
            <img :src="`${baseUrl}/close.svg`" alt="Fermer" />
          </button>
        </div>
        <div class="forms">
          <router-view :showGDPR="showGDPR" />
        </div>
        <div class="legalNotice" v-show="!hideLegalNotices">
          <a class="legalNoticeItem" @click="goToLegalMentions('1')" target="_blank">
            <span>{{ $t('souscription.menuNavigation.utilisationDonnees') }}</span>
          </a>
          <a class="legalNoticeItem" @click="goToLegalMentions('0')" target="_blank">
            <span>{{ $t('souscription.menuNavigation.mentionsLegales') }}</span>
          </a>

          <a class="legalNoticeItem" href="javascript:Didomi.preferences.show()">
            <span> {{ $t('souscription.menuNavigation.gererCookie') }}</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import store from '@/store';
import Vue from 'vue';
import Component from 'vue-class-component';
import { Getter, State } from 'vuex-class';
import { Watch } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import { RoutePathId } from '@/models/RoutesPath';

import ProgressBar from '@/components/graphic/ProgressBar.vue';
import LeftSidebar from '@/components/LeftSidebar.vue';
import { BusinessRule } from '@/services/BusinessRule';
import { Keys, Type } from '@/models/basketRecoveryStorage';
import { InterruptibilityService } from '@/services/interruptibilityService';
import { generatePrivateKey } from '@/utils/encryption';
import { FolderResponse } from '@/models/subscription/FolderResponse';

@Component({
  components: {
    'progress-bar': ProgressBar,
    'left-sidebar': LeftSidebar
  }
})
export default class Subscription extends Vue {
  @State((state) => state.apiConfig.colors) private colors!: Colors;
  @State((state) => state.apiConfig.offerCode) private offerCode!: string;
  @State((state) => state.apiConfig.partnerCode) private partnerCode!: string;
  @State((state) => state.subscription.cardId) private cardId!: string;
  @State((state) => state.subscription.keyring) private keyring!: string;
  @State((state) => state.subscription.restoringCard) private restoringCard!: boolean;
  @Getter private hasBorrower!: boolean;
  private showGDPR = true;
  private hideLegalNotices = false;
  private hidePanel = false;

  private get labelInterruptibility() {
    if (!store.state.simulator.selectedProposal) {
      return '';
    }
    const label = store.state.simulator.selectedProposal.label;
    const amount = store.state.simulator.selectedProposal.amount;
    return this.$t('Reprise.cardLabel2', {
      label,
      amount: this.$options.filters.currency(Math.round(amount), {
        fractionCount: 0
      })
    }).toString();
  }

  private interruptibilityService = new InterruptibilityService();

  private async mounted() {
    this.updateShowGdpr();
    this.addLegalMentionsLink();
    this.updateShowLegalNotices();
    this.updateShowPanel();
    if (this.keyring) {
      await this.interruptibilityService.restoreLocalStorage(this.keyring);
    }
    if (this.cardId) {
      store.commit('updateRestoringCard', true);
      const secret = this.interruptibilityService.getStoredSimulationKeys().secret;
      const key: Keys = this.interruptibilityService.getKeyById(this.cardId);
      if (secret && key) {
        try {
          const basket = await this.interruptibilityService.restoreSubscriptionFromCardId(key, secret);
          const publicState = JSON.parse(basket.publicState);
          if (
            !publicState.loggedUser ||
            (store.state.subscription.authentication &&
              store.state.subscription.authentication.response &&
              store.state.subscription.authentication.response.customerId)
          ) {
            (this.$parent.$refs.header as any).displayModalSecret = true;
          } else {
            this.toggleLogin();
          }
        } catch (error) {
          store.commit('updateRestoringCard', false);
        }
      }
    } else {
      store.commit('updateFunnelId', generatePrivateKey());
    }
  }

  private toggleLogin() {
    (this.$parent.$refs.header as any).openLoginPopin();
  }

  private get enableInterruptibility() {
    return BusinessRule.hasInterruptibility(store.state.apiConfig.appConfiguration);
  }

  private addLegalMentionsLink() {
    let legalMentionElMobile;
    let legalMentionElDesktop;
    if (document) {
      legalMentionElMobile = document.querySelector('#legal-mentions-m');
      legalMentionElDesktop = document.querySelector('#legal-mentions-d');
    }
    if (legalMentionElMobile) {
      legalMentionElMobile.addEventListener('click', this.goToLegalMentionsData);
    }
    if (legalMentionElDesktop) {
      legalMentionElDesktop.addEventListener('click', this.goToLegalMentionsData);
    }
  }

  private beforeDestroy() {
    let legalMentionElMobile;
    let legalMentionElDesktop;
    if (document) {
      legalMentionElMobile = document.querySelector('#legal-mentions-m');
      legalMentionElDesktop = document.querySelector('#legal-mentions-d');
    }
    if (legalMentionElMobile) {
      legalMentionElMobile.removeEventListener('click', this.goToLegalMentionsData);
    }
    if (legalMentionElDesktop) {
      legalMentionElDesktop.removeEventListener('click', this.goToLegalMentionsData);
    }
  }

  private handleCloseGdpr() {
    this.showGDPR = false;
  }

  private goToLegalMentionsData() {
    // goToLegalMentions is a mixin
    (this as any).goToLegalMentions('1');
  }

  @Watch('$route')
  private onRouteChange(to: any, from: any) {
    this.updateShowGdpr();
    this.updateShowLegalNotices();
    this.updateShowPanel();
    // save user form data to restore it later
    this.interruptibilityService.manageInterruptibility(this.labelInterruptibility);
  }

  private updateShowGdpr() {
    this.showGDPR = this.$route.name === RoutePathId.NAME;
  }

  private updateShowLegalNotices() {
    this.hideLegalNotices =
      this.$route.name === RoutePathId.LOADING ||
      this.$route.name === RoutePathId.RESULT ||
      this.$route.name === RoutePathId.RESULT_SOFINCO;
  }

  private updateShowPanel() {
    this.hidePanel =
      this.$route.name === RoutePathId.LOADING ||
      this.$route.name === RoutePathId.RESULT ||
      this.$route.name === RoutePathId.RESULT_SOFINCO;
  }
}
</script>

<style lang="scss" scoped>
.subscriptionPageContainer {
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: both;
  width: 100%;
  display: flex;
  min-height: calc(100vh - 51px);

  @media screen and (max-width: $width_XXS) {
    .wrapper {
      max-width: 100%;
    }
  }

  @media screen and (min-width: $width_M) {
    min-height: calc(100vh - #{$topbar-height});
    height: calc(100vh - #{$topbar-height});
  }

  #progress-bar {
    position: fixed;
    left: 0;
    z-index: 2 !important;

    @media screen and (min-width: $width_M) {
      top: $topbar-height;
    }
  }

  .wrapper {
    width: 100%;
    background-color: $color-white;
    display: flex;
    flex: 1;

    @media screen and (min-width: $width_S) {
      background-color: $color-bg-container;
      padding-top: $progress-bar-height !important;
    }
  }

  .left-sidebar {
    display: none;

    @media screen and (min-width: $width_S) {
      background-color: $color-white;
      box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.05);
      position: relative;
      z-index: 1;
      display: flex;
      width: grid(3);
      min-width: $sidebar-left-min-width;
      max-width: $sidebar-left-max-width;
      height: calc(100vh - #{$topbar-mobile-height} - #{$progress-bar-height});
      padding-top: 50px;
      overflow: auto;
      animation: translateLeft 0.3s ease-in-out 0.5s;
      animation-fill-mode: both;
      -ms-overflow-style: none; /* Hide scrollbar IE 11 */
      scrollbar-width: none; /* Hide scrollbar Firefox 64 */

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0; /* Hide scrollbar Chrome */
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-grey-medium;
        border-radius: 4px;
      }
      &::-webkit-scrollbar-track-piece {
        background-color: $color-white;
      }
    }

    @media screen and (min-width: $width_M) {
      height: calc(100vh - #{$topbar-height} - #{$progress-bar-height});
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-grey-medium;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: $color-white;
    }

    /deep/ .display-error {
      .select-custom {
        &.error {
          &:not(.has-focus) {
            .arrow {
              border-color: $color-tooltip-text-error !important;
            }
          }
        }
      }

      .radio-card-component {
        .radio-group-card__container__item {
          label {
            &.error:not(:hover) {
              border-color: $color-tooltip-text-error !important;
            }
          }
        }
      }
    }

    @media screen and (min-width: $width_S) {
      width: grid(9);
      max-width: calc(100vw - 370px);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100vh - #{$topbar-mobile-height} - #{$progress-bar-height});
      overflow: auto;

      &.panelHidden {
        width: 100%;
        max-width: none;
        display: block;
      }
    }

    @media screen and (min-width: $width_M) {
      height: calc(100vh - #{$topbar-height} - #{$progress-bar-height});
    }

    &.panelHidden {
      .forms {
        @media screen and (min-width: $width_S) {
          width: 100%;
        }
      }
    }

    .forms {
      max-width: 100%;
      @media screen and (min-width: $width_S) {
        width: 50vw;
        margin: 0 auto;
      }

      > div {
        width: 100%;
        height: 100%;
      }

      @media screen and (min-width: $width_M) {
        width: grid(9);
        margin-top: 0;
      }
    }

    .gdpr {
      width: 100%;
      position: relative;
      padding: 16px 36px 16px 16px;
      background-color: var(--color-partner-2-008);

      @media screen and (min-width: $width_S) {
        padding: 16px 16px 16px 16px;
      }

      &-text {
        margin-right: 16px;
        font-size: 12px;
        line-height: 16px;

        @media screen and (min-width: $width_S) {
          width: grid(5);
          margin: 0 auto;
          text-align: center;
        }

        @media screen and (min-width: 860px) {
          width: grid(6);
        }

        @media screen and (min-width: $width_M) {
          width: grid(7);
        }
      }

      &-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        margin-left: auto;

        @media screen and (min-width: $width_S) {
          display: none;
        }
      }

      &-mobile {
        @media screen and (min-width: $width_S) {
          display: none;
        }
      }

      &-desktop {
        display: none;

        @media screen and (min-width: $width_S) {
          display: block;
        }
      }

      /deep/ a {
        cursor: pointer;
        font-family: $font-bold;
        color: $color-partner-2 !important;
        text-decoration: underline;
      }
    }
  }

  .legalNotice {
    margin-top: auto;
    display: block;
    width: 100%;

    @media screen and (min-width: $width_S) {
      display: none;
    }

    &Item {
      line-height: $footer-mobile-item;
      text-align: center;
      background-color: $color-white;
      display: block;
      width: 100%;
      height: $footer-mobile-item;

      &:first-child {
        border-top: 2px solid $color-grey-light;
      }
      &:nth-child(2) {
        border-top: 2px solid $color-grey-light;
      }

      &:last-child {
        margin-top: 2px;
        border-top: 2px solid $color-grey-light;
      }

      span {
        font-family: $font-bold;
        font-size: 14px;
        color: $color-title;
      }
    }
  }
}
</style>
