<template>
  <div data-cy="resultOK" v-if="response" class="resultStepOk">
    <div class="section-container">
      <div
        class="title"
        v-html="
          pageStatus === ResultStepOKPageStatusEnum.WEB || pageStatus === ResultStepOKPageStatusEnum.W2S
            ? $t('souscription.reponseDePrincipe.ok.bravo', {
                nom: principal.name.firstName,
                montant: response.proposal.amount
              })
            : $t('souscription.reponseDePrincipe.ok.bravoPLV', {
                nom: principal.name.firstName,
                montant: response.proposal.amount
              })
        "
      ></div>
      <div
        v-if="pageStatus === ResultStepOKPageStatusEnum.WEB || pageStatus === ResultStepOKPageStatusEnum.W2S"
        class="subTitle1"
        v-html="
          pageStatus === ResultStepOKPageStatusEnum.WEB
            ? $t('souscription.reponseDePrincipe.ok.indication1', { montant: response.proposal.amount + ' €' })
            : pageStatus === ResultStepOKPageStatusEnum.W2S
            ? $t('souscription.reponseDePrincipe.ok.indication1W2S', { montant: response.proposal.amount + ' €' })
            : ''
        "
      ></div>
      <div
        class="subTitle2"
        v-html="
          pageStatus === ResultStepOKPageStatusEnum.WEB || pageStatus === ResultStepOKPageStatusEnum.W2S
            ? $t('souscription.reponseDePrincipe.ok.indication2', { montant: response.proposal.amount })
            : $t('souscription.reponseDePrincipe.ok.indication2PLV', { montant: response.proposal.amount })
        "
      ></div>

      <div class="fileNumber">
        <span class="label">{{ $t('souscription.reponseDePrincipe.ok.numeroDossier') }}</span>
        <span class="value">{{ response.contractId }}</span>
      </div>
      <div class="innerContainer">
        <div class="row">
          <div class="onlineSignatureBloc mobile" v-if="isMobile && pageStatus === ResultStepOKPageStatusEnum.W2S">
            <div class="onlineSignatureBloc-title-wrapper">
              <div class="onlineSignatureBloc-title">
                {{ $t('souscription.reponseDePrincipe.ok.commentFinaliserDossier') }}
              </div>
            </div>
            <div class="onlineSignatureBloc-choices">
              <app-radio-button
                inputId="radioOnline"
                @click="isDisplayOnline"
                :checked="showBlockSignOnline"
                :label="$t('souscription.reponseDePrincipe.ok.enLigne.enLigne') | firstLetterUpperCase"
              />
              <app-radio-button
                inputId="radioShop"
                @click="isDisplayShop"
                :checked="showBlockSignShop"
                :label="$t('souscription.reponseDePrincipe.ok.enMagasin.enMagasin') | firstLetterUpperCase"
              />
            </div>
          </div>
          <div
            class="print"
            v-if="isMobile && pageStatus === ResultStepOKPageStatusEnum.W2S && showBlockSignOnline === true"
            v-html="addDynamicStyles($t('souscription.reponseDePrincipe.ok.imprimer'), colors.primary)"
            @click="openModalDownloadFolder = true"
          ></div>
          <div
            class="mb-25"
            v-if="pageStatus === ResultStepOKPageStatusEnum.WEB || pageStatus === ResultStepOKPageStatusEnum.W2S"
            :class="{
              'col-6': pageStatus === ResultStepOKPageStatusEnum.W2S,
              'col-7': pageStatus === ResultStepOKPageStatusEnum.WEB
            }"
          >
            <div
              class="onlineSignatureBloc first"
              :class="{ 'h-100': pageStatus === ResultStepOKPageStatusEnum.W2S }"
              ref="buttonContainerSignOnline"
              v-show="showBlockSignOnline"
            >
              <div class="onlineSignatureBloc-title-wrapper">
                <img class="electronic-sign-icon" src="@/assets/images/electronic-sign.svg" />
                <div class="onlineSignatureBloc-title">
                  {{ $t('souscription.reponseDePrincipe.ok.enLigne.Signez') }}
                  <span class="fw-b">{{ $t('souscription.reponseDePrincipe.ok.enLigne.enLigne') }}</span>
                </div>
              </div>
              <div class="blocSubTitle" v-if="!isMobile">
                {{
                  pageStatus === ResultStepOKPageStatusEnum.WEB
                    ? $t('souscription.reponseDePrincipe.ok.envoyezDocsPuisSignerEnLigne')
                    : $t('souscription.reponseDePrincipe.ok.gagnezDuTemps')
                }}
              </div>
              <div
                v-if="isMobile"
                :class="{ error: hasError, valid: validForm, checked: validForm }"
                class="legal-validation"
              >
                <input id="documents" name="documents" type="checkbox" v-model="validForm" />
                <label :class="{ error: hasError, valid: validForm }" for="documents">
                  <span class="before" />
                  {{ $t('souscription.reponseDePrincipe.ok.confirmationSignature') }}
                  <a @click.prevent="openModalPrecontract = true">
                    {{ $t('souscription.reponseDePrincipe.ok.voirInfoPrecontractuelles') }}</a
                  >
                  <span class="after" />
                </label>
              </div>
              <app-button
                class="button-sign button-sign-online"
                :noChevron="true"
                :colors="colors"
                :label="$t('souscription.reponseDePrincipe.ok.jeSigneEnLigne')"
                :onClick="handleOnlineSignClick"
                :flat="true"
                :loading="fetching"
              />
              <div
                class="print"
                v-if="!isMobile && pageStatus === ResultStepOKPageStatusEnum.W2S"
                v-html="$t('souscription.reponseDePrincipe.ok.imprimer')"
                @click="openModalDownloadFolder = true"
              ></div>
            </div>
            <div
              class="print"
              v-if="pageStatus === ResultStepOKPageStatusEnum.WEB"
              v-html="$t('souscription.reponseDePrincipe.ok.imprimer')"
              @click="openModalDownloadFolder = true"
            ></div>
            <div class="mt-25" v-if="pageStatus === ResultStepOKPageStatusEnum.WEB">
              <app-bloc-attachments
                :title="$t('souscription.reponseDePrincipe.ok.titreBlocPJ')"
                :text="$t('souscription.reponseDePrincipe.ok.texteBlocPJ')"
                :colors="colors"
                :isMobile="isMobile"
                :attachments="attachments"
              ></app-bloc-attachments>
            </div>
          </div>
          <div
            class="mb-25"
            :class="{
              'col-6': pageStatus === ResultStepOKPageStatusEnum.W2S,
              'col-7': pageStatus === ResultStepOKPageStatusEnum.PLV,
              'p-r': !isMobile
            }"
            v-if="pageStatus === ResultStepOKPageStatusEnum.W2S || pageStatus === ResultStepOKPageStatusEnum.PLV"
          >
            <div class="compare" v-if="!isMobile && pageStatus === ResultStepOKPageStatusEnum.W2S">
              <span class="fw-b">{{ $t('souscription.reponseDePrincipe.ok.ou') }}</span>
            </div>
            <div
              class="onlineSignatureBloc second"
              :class="{
                'h-100': pageStatus === ResultStepOKPageStatusEnum.W2S
              }"
              ref="buttonContainerSignShop"
              v-show="showBlockSignShop"
            >
              <div class="onlineSignatureBloc-title-wrapper">
                <img src="@/assets/images/shop.svg" class="sign-shop-icon" />
                <div class="onlineSignatureBloc-title">
                  {{ $t('souscription.reponseDePrincipe.ok.enMagasin.Signez') }}
                  <span class="fw-b">{{ $t('souscription.reponseDePrincipe.ok.enMagasin.enMagasin') }}</span>
                </div>
              </div>
              <div
                class="blocSubTitle"
                :style="{ background: isMobile ? hexToRgb(colors.primary, 0.1) : undefined }"
                :class="{ 'is-PLV': pageStatus === ResultStepOKPageStatusEnum.PLV }"
              >
                <p class="mb-25">{{ $t('souscription.reponseDePrincipe.ok.enMagasin.rendezVous') }}</p>
                <p>{{ $t('souscription.reponseDePrincipe.ok.enMagasin.piecesJustificatives') }}</p>
              </div>
              <div
                class="print"
                v-if="
                  !isMobile &&
                  pageStatus === ResultStepOKPageStatusEnum.W2S &&
                  emailSent === false &&
                  emailLoading === false &&
                  emailError === false
                "
              >
                <a class="fw-b" @click="sendSummaryMail">
                  {{ $t('souscription.reponseDePrincipe.ok.enMagasin.mailRecapitulatif') }}
                </a>
              </div>
              <div class="onlineSignatureBloc__mail" v-if="emailSent">
                <div class="onlineSignatureBloc__mail--text mail-ok">
                  <img src="@/assets/images/check-blue.svg" alt="Mail checked" />{{
                    $t('souscription.reponseDePrincipe.ok.email.envoiOk')
                  }}
                </div>
                <div class="onlineSignatureBloc__mail--send">
                  {{ $t('souscription.reponseDePrincipe.ok.email.rienRecu') }}
                  <span>
                    <a href="#" @click="sendSummaryMail">{{
                      $t('souscription.reponseDePrincipe.ok.email.renvoyer')
                    }}</a>
                  </span>
                </div>
              </div>
              <div v-if="emailLoading" class="loader">
                <app-loader :color="colors.primary"></app-loader>
              </div>
              <div class="onlineSignatureBloc__mail" v-if="emailError">
                <div class="onlineSignatureBloc__mail--text mail-ko">
                  {{ $t('souscription.reponseDePrincipe.ok.email.envoiKo') }}
                </div>
                <div class="onlineSignatureBloc__mail--send mail-ko-send">
                  <span
                    ><a href="#" @click="sendSummaryMail">{{
                      $t('souscription.reponseDePrincipe.ok.email.renvoyer')
                    }}</a></span
                  >
                </div>
              </div>

              <app-button
                v-if="isMobile && pageStatus !== ResultStepOKPageStatusEnum.PLV"
                class="button-sign button-sign-shop"
                :noChevron="true"
                :colors="colors"
                :label="
                  emailError
                    ? $t('souscription.reponseDePrincipe.ok.email.renvoyer')
                    : $t('souscription.reponseDePrincipe.ok.envoyerMailRecapitulatif')
                "
                :flat="true"
                :loading="emailError ? emailLoading : fetching"
                :onClick="sendSummaryMail"
              />
            </div>
            <div class="mt-25" v-if="pageStatus === ResultStepOKPageStatusEnum.PLV">
              <app-bloc-attachments
                :title="$t('souscription.reponseDePrincipe.ok.titreBlocPJPLV')"
                :text="$t('souscription.reponseDePrincipe.ok.texteBlocPJPLV')"
                :colors="colors"
                :isMobile="isMobile"
                :attachments="attachments"
              ></app-bloc-attachments>
            </div>
          </div>
          <div
            class="col-5"
            v-if="pageStatus === ResultStepOKPageStatusEnum.WEB || pageStatus === ResultStepOKPageStatusEnum.PLV"
          >
            <app-bloc-proposal
              :showProposal="response.proposal"
              :colors="colors"
              :proposal="response.proposal"
              :showInsurance="principal.insurance.acceptInsuranceOffer === true"
              :titleSeeLater="
                pageStatus === ResultStepOKPageStatusEnum.WEB
                  ? $t('souscription.reponseDePrincipe.ok.reprendrePlusTard')
                  : $t('souscription.reponseDePrincipe.ok.absencePJ')
              "
              :textSeeLater="
                pageStatus === ResultStepOKPageStatusEnum.WEB
                  ? $t('souscription.reponseDePrincipe.ok.envoieRecap')
                  : $t('souscription.reponseDePrincipe.ok.rapporterPJ90Jours')
              "
            ></app-bloc-proposal>
          </div>
        </div>
        <div class="row">
          <div class="col-6" v-if="pageStatus === ResultStepOKPageStatusEnum.W2S">
            <app-bloc-attachments
              :title="$t('souscription.reponseDePrincipe.ok.titreBlocPJ')"
              :text="$t('souscription.reponseDePrincipe.ok.texteBlocPJ')"
              :colors="colors"
              :isMobile="isMobile"
              :attachments="attachments"
            ></app-bloc-attachments>
          </div>
          <div class="col-6" v-if="pageStatus === ResultStepOKPageStatusEnum.W2S">
            <app-bloc-proposal
              :showProposal="response.proposal"
              :colors="colors"
              :proposal="response.proposal"
              :showInsurance="principal.insurance.acceptInsuranceOffer === true"
              :titleSeeLater="$t('souscription.reponseDePrincipe.ok.reprendrePlusTard')"
              :textSeeLater="$t('souscription.reponseDePrincipe.ok.envoieRecap')"
            ></app-bloc-proposal>
          </div>
        </div>
      </div>

      <div class="reserve" v-html="$t('souscription.reponseDePrincipe.ok.reserve')"></div>

      <div class="links">
        <a class="link" @click="goToLegalMentions('1')">
          {{ $t('souscription.reponseDePrincipe.utilisationDonnees') }}
        </a>
        <a class="link" @click="goToLegalMentions('0')">
          {{ $t('souscription.reponseDePrincipe.mentionsLegales') }}
        </a>
        <a class="link" href="javascript:Didomi.preferences.show()">
          {{ $t('souscription.menuNavigation.gererCookie') }}
        </a>
      </div>
    </div>

    <app-button
      class="sticky-button"
      :class="{ show: showCtaBottom }"
      v-if="isMobile && pageStatus !== ResultStepOKPageStatusEnum.PLV"
      :noChevron="true"
      :colors="colors"
      :label="
        showBlockSignOnline
          ? $t('souscription.reponseDePrincipe.ok.jeSigneEnLigne')
          : emailSent
          ? $t('souscription.reponseDePrincipe.ok.email.renvoyer')
          : $t('souscription.reponseDePrincipe.ok.envoyerMailRecapitulatif')
      "
      :onClick="handleFloatingCtaClick"
      :flat="true"
      :loading="showBlockSignOnline ? fetching : emailLoading"
    />

    <app-pre-contract-pop-in
      :stepState="stepState"
      :opened="openModalPrecontract"
      :closeModal="closeModalPreContract"
    />
    <app-download-folder-pop-in :opened="openModalDownloadFolder" :closeModal="closeModalDownloadFolder" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch, Inject } from 'vue-property-decorator';
import { StepState } from '@/models/StepState';
import Button from '@/components/graphic/Button.vue';
import PreContractPopin from '@/views/popin/PreContractPopin.vue';
import { Colors, defaultColors } from '@/models/Colors';
import { Attachment } from '@/models/Attachment';
import DownloadFolderPopin from '@/views/popin/DownloadFolderPopin.vue';
import { SimulationParameter, FinancialProposals } from '@/models/Simulation';
import { FolderResponse } from '@/models/subscription/FolderResponse';
import SubscriptionApi from '@/services/SubscriptionApi';
import { Getter, State } from 'vuex-class';
import { SubscriptionData } from '@/store/types';
import BlocProposal from '@/views/SubscriptionSteps/ResultSteps/ResultStepOK/BlocProposal.vue';
import BlocAttachments from '@/views/SubscriptionSteps/ResultSteps/ResultStepOK/BlocAttachments.vue';
import { W2SOptions, Web2storeMail } from '@/models/Web2Store';
import getConfig from '@/config/config';
import { BusinessDataTransfer } from '@/models/BusinessDataTransfer';
import store from '@/store';
import Loader from '@/components/graphic/Loader.vue';
import { TagManagerPartnerService } from '@/services/tagManagerPartner';
import { getTagManagerInstance } from '@/services/tagManagerFactory';
import { DocumentsApi } from '@/services/DocumentsApi';
import { ISupportingDocuments } from '@/models/subscription/api/Documents';
import RadioButton from '@/components/graphic/RadioButton.vue';
import { addOrUpdateUrlParam } from '@/utils/url';

enum ResultStepOKPageStatus {
  WEB, // user must finish online
  W2S, // user decide if he finish online or in store
  PLV // user must finish in store
}

@Component({
  components: {
    'app-pre-contract-pop-in': PreContractPopin,
    'app-button': Button,
    'app-download-folder-pop-in': DownloadFolderPopin,
    'app-bloc-proposal': BlocProposal,
    'app-bloc-attachments': BlocAttachments,
    'app-loader': Loader,
    'app-radio-button': RadioButton
  }
})
export default class ResultStepOK extends Vue {
  @State((state) => state.subscription.principal) private principal!: SubscriptionData;
  @State((state) => state.subscription.context) private businessDataContext!: BusinessDataTransfer;
  @State((state) => state.apiConfig.offerCode) private offerCode!: string;
  @State((state) => state.apiConfig.partnerCode) private partnerCode!: string;
  @State((state) => state.apiConfig.applicationId) private applicationId!: string;
  @Prop() private stepState!: StepState;
  @Prop() private isMobile!: boolean;
  @Prop({ default: () => defaultColors }) private colors!: Colors;
  @Prop() private response!: FolderResponse;
  @Prop() private w2sOptions!: W2SOptions;

  @Inject('documentsApi') private documentsApi: DocumentsApi;

  @Getter('selectedProposal') private proposal!: FinancialProposals;
  @Getter private screenOption: (key: string) => any;
  private attachments: Attachment[] = [];
  private openModalPrecontract: boolean = false;
  private openModalDownloadFolder: boolean = false;
  private fetching: boolean = false;
  private hasError: boolean = false;
  private validForm: boolean | null = null;
  private subscriptionApi: SubscriptionApi;
  private showCtaBottom: boolean = false;
  private isReduced = true;
  private showBlockSignOnline: boolean = true;
  private showBlockSignShop: boolean = true;
  private ResultStepOKPageStatusEnum = ResultStepOKPageStatus; // Make enum available in template
  private emailSent: boolean = false;
  private emailError: boolean = false;
  private emailLoading: boolean = false;
  private tagManagerService = getTagManagerInstance();

  constructor() {
    super();
    this.subscriptionApi = new SubscriptionApi();
  }

  private async created() {
    this.getAttachments();
    // Hide Sign shop block if mobile at init
    if (this.isMobile && this.pageStatus === ResultStepOKPageStatus.W2S) {
      this.showBlockSignShop = false;
    }

    document.addEventListener('scroll', this.handleScroll, false);
  }

  // Watch isMobile to update showBlockSignShop in case user
  // switch between mobile and desktop view
  @Watch('isMobile')
  private onIsMobileChange() {
    if (this.isMobile && this.pageStatus === ResultStepOKPageStatus.W2S) {
      this.showBlockSignShop = false;
    } else {
      this.showBlockSignOnline = true;
      this.showBlockSignShop = true;
    }
  }

  private beforeDestroy() {
    document.removeEventListener('scroll', this.handleScroll);
  }

  private closeModalPreContract() {
    this.openModalPrecontract = false;
  }

  private closeModalDownloadFolder() {
    this.openModalDownloadFolder = false;
  }

  private scrollToBloc() {
    const element = document.querySelector('.onlineSignatureBloc');
    if (element) {
      const position = element.getBoundingClientRect().top + document.documentElement.scrollTop;
      if (typeof window.scrollTo === 'function') {
        window.scrollTo({ top: position, behavior: 'smooth' });
      }
    }
  }

  private handleToggle(value: boolean) {
    this.isReduced = value;
  }

  private handleOnlineSignClick(): void {
    if (this.isMobile && !this.validForm) {
      this.hasError = true;
      this.scrollToBloc();
      return;
    }

    let partnerRedirectionUrl;
    let exchangeUrl;
    if (this.businessDataContext && this.businessDataContext.providerContext) {
      if (this.businessDataContext.providerContext.returnUrl) {
        partnerRedirectionUrl = this.businessDataContext.providerContext.returnUrl;
      }
      if (this.businessDataContext.providerContext.exchangeUrl) {
        exchangeUrl = this.businessDataContext.providerContext.exchangeUrl;
      }
    }

    this.fetching = true;
    const parameters: SimulationParameter = {
      amount: this.screenOption('amount-simulation') || null,
      duration: this.screenOption('duration-simulation') || null,
      sourceId: this.offerCode,
      partnerId: this.partnerCode,
      applicationId: this.applicationId
    };
    this.subscriptionApi
      .getElectronicSignature(
        this.response.contractId,
        this.response.contractToken.idToken,
        parameters,
        partnerRedirectionUrl,
        exchangeUrl
      )
      .then((res: any) => {
        let redirectUrl;
        if (res.data.newSe) {
          const splitedUrl = res.data.urlRedirect.split('?');
          const params = res.data.urlRedirect.split('?')[1];
          const baseUrl = getConfig().UPLOAD_URL ? getConfig().UPLOAD_URL : res.data.urlRedirect.split('?')[0];
          redirectUrl = `${baseUrl}?${params}&q6=${store.state.apiConfig.partnerCode}&x1=${store.state.apiConfig.offerCode}`;
        } else {
          redirectUrl = res.data.urlRedirect;
        }
        // Add the origin canal before redirect to upload (with o = origin and w = fullweb)
        // This param is used on upload module to display or not the result and summary pages
        window.location.href = addOrUpdateUrlParam(redirectUrl, 'o', 'w');
      })
      .catch(() => {
        this.fetching = false;
      });
  }

  private handleScroll() {
    if (this.isMobile && this.pageStatus !== ResultStepOKPageStatus.PLV) {
      let top = 0;
      let height = 0;

      // Use adequate reference regarding displayed bloc
      let buttonContainer;
      if (
        this.pageStatus === ResultStepOKPageStatus.WEB ||
        (this.pageStatus === ResultStepOKPageStatus.W2S && this.showBlockSignOnline)
      ) {
        buttonContainer = this.$refs.buttonContainerSignOnline as any;
      } else {
        buttonContainer = this.$refs.buttonContainerSignShop as any;
      }

      if (buttonContainer) {
        top = buttonContainer.offsetTop;
        height = buttonContainer.scrollHeight;
      }
      const scroll = top + height - 15;

      if (window.scrollY >= scroll && !this.showCtaBottom) {
        this.showCtaBottom = true;
      } else if (window.scrollY < scroll && this.showCtaBottom) {
        this.showCtaBottom = false;
      }
    }
  }

  private get pageStatus(): ResultStepOKPageStatus {
    if (!!this.screenOption('web2store-enabled')) {
      if (this.screenOption('web2store-mail') === Web2storeMail.AUTO) {
        return ResultStepOKPageStatus.PLV;
      } else {
        return ResultStepOKPageStatus.W2S;
      }
    } else {
      return ResultStepOKPageStatus.WEB;
    }
  }

  private isDisplayOnline() {
    if (this.isMobile) {
      this.showBlockSignOnline = true;
      this.showBlockSignShop = false;
    }
  }

  private isDisplayShop() {
    if (this.isMobile) {
      this.showBlockSignShop = true;
      this.showBlockSignOnline = false;
    }
  }

  private async sendSummaryMail() {
    if (!(this.emailSent || this.emailError)) {
      this.tagManagerService.clickSummaryMailW2S();
    }
    const parameters: SimulationParameter = {
      sourceId: this.offerCode,
      partnerId: this.partnerCode,
      applicationId: this.applicationId
    };
    this.emailError = false;
    this.emailSent = false;
    try {
      this.emailLoading = true;
      await this.subscriptionApi.sendW2SEmail(
        this.response.contractId,
        this.response.contractToken.idToken,
        parameters
      );
      this.emailSent = true;
    } catch (err) {
      this.emailError = true;
    } finally {
      this.emailLoading = false;
    }
  }

  private async handleFloatingCtaClick() {
    if (this.pageStatus === ResultStepOKPageStatus.WEB) {
      this.handleOnlineSignClick();
    } else {
      if (this.showBlockSignOnline) {
        this.handleOnlineSignClick();
      } else {
        await this.sendSummaryMail();
      }
    }
  }

  private async getAttachments() {
    try {
      const borrowerCode = 't1';
      const { contractId, contractToken, channelCode } = this.response;
      const response = await this.documentsApi.getSupportingDocuments(
        contractToken.accessToken,
        contractId,
        borrowerCode,
        this.applicationId,
        this.partnerCode,
        this.offerCode,
        channelCode
      );
      const documents: ISupportingDocuments[] = response.data;
      documents.forEach((doc) => {
        const titre = this.$te(`souscription.reponseDePrincipe.ok.piecesJointes.${doc.id}.titre`)
          ? this.$t(`souscription.reponseDePrincipe.ok.piecesJointes.${doc.id}.titre`).toString()
          : doc.category;
        const description = this.$te(`souscription.reponseDePrincipe.ok.piecesJointes.${doc.id}.description`)
          ? this.$t(`souscription.reponseDePrincipe.ok.piecesJointes.${doc.id}.description`).toString()
          : // If key doc.id exist but not key description then we should not display default description
          this.$te(`souscription.reponseDePrincipe.ok.piecesJointes.${doc.id}`)
          ? null
          : doc.longLabel;
        const icone = this.$te(`souscription.reponseDePrincipe.ok.piecesJointes.${doc.id}.icone`)
          ? this.$t(`souscription.reponseDePrincipe.ok.piecesJointes.${doc.id}.icone`).toString()
          : this.$t('souscription.responseDePrincipe.ok.piecesJointes.imageParDefaut').toString();
        const attachment: Attachment = {
          titre,
          icon: icone,
          description
        };
        this.attachments.push(attachment);
      });
    } catch (err) {
      this.attachments = this.getFallbackAttachments();
    }
  }

  private getFallbackAttachments() {
    // Get attachment list from Jahia messages
    const allDocuments = this.$t('souscription.reponseDePrincipe.ok.piecesJointesDefaut');
    const attachments = [...Object.keys(allDocuments)].map((e) => ({
      // @ts-ignore
      titre: allDocuments[e].titre,
      // @ts-ignore
      icon: allDocuments[e].icone,
      // @ts-ignore
      description: allDocuments[e].description
    }));
    return attachments;
  }
}
</script>

<style lang="scss" scoped>
.resultStepOk {
  padding: 20px 15px 100px;
  width: 100%;
  background-color: var(--color-partner-2-004);

  @media screen and (min-width: $width_S) {
    padding: 50px 25px 0;
  }

  .section-container {
    width: 100%;

    max-width: $width_XXXL;
    margin: 0 auto;

    @media screen and (min-width: $width_M) {
      max-width: 950px;
    }

    @media screen and (min-width: $width_S) {
      max-width: 90%;
    }
  }

  .innerContainer {
    width: 100%;

    .button-sign {
      white-space: nowrap;
      width: 100%;
      max-width: 315px;
      margin: 0 auto;
    }

    .button-sign-online {
      @media screen and (max-width: $width_S) {
        margin-bottom: 25px;
      }
    }

    .button-sign-shop {
      @media screen and (max-width: $width_S) {
        margin-top: 25px;
      }
    }
  }

  .title {
    font-size: 24px;
    font-family: $font-bold;
    line-height: 1.33;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-title;

    @media screen and (min-width: $width_S) {
      font-size: 32px;
      margin-bottom: 30px;
    }

    .img {
      display: none;

      @media screen and (min-width: $width_M) {
        display: block;
        margin-right: 20px;
        align-self: flex-start;
      }
    }
  }

  .subTitle1 {
    font-size: 14px;
    line-height: 1.5;
    font-family: $font-bold;
    text-align: center;
    margin-bottom: 15px;
    color: $color-text;

    @media screen and (min-width: $width_S) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .subTitle2 {
    font-size: 13px;
    line-height: 1.46;
    text-align: center;
    margin-bottom: 20px;
    color: $color-text;

    @media screen and (min-width: $width_S) {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }

  .fileNumber {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--color-partner-2-06);
    padding: 5px 14px;
    text-align: center;
    margin-bottom: 20px;

    @media screen and (min-width: $width_S) {
      max-width: 360px;
      margin-bottom: 30px;
    }

    .label {
      font-size: 12.8px;
      line-height: 1.5;
      margin-right: 10px;

      @media screen and (min-width: $width_S) {
        font-size: 16px;
      }
    }

    .value {
      font-size: 14.4px;
      line-height: 1.78;
      font-family: $font-bold;
      color: $color-partner-1;

      @media screen and (min-width: $width_S) {
        font-size: 18px;
      }
    }
  }

  .onlineSignatureBloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px 15px;

    @media screen and (min-width: $width_S) {
      padding: 30px;
      background-color: $color-white;
      border-top: solid 5px transparent;
    }

    .electronic-sign-icon,
    .sign-shop-icon {
      width: 28px;
      height: 28px;
      margin-right: 10px;

      @media screen and (min-width: $width_S) {
        margin-right: 0px;
        width: 45px;
        height: 45px;
      }
    }

    &-title {
      font-family: $font-bold;
      font-size: 20px;
      line-height: 1.35;
      color: $color-text;

      @media screen and (min-width: $width_S) {
        text-align: center;
        margin-bottom: 30px;
      }

      &-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        padding: 0 10px;

        @media screen and (min-width: $width_S) {
          flex-direction: column;
          justify-content: center;
          margin-bottom: 0;
          padding: 0 30px;
        }
      }

      &-logo {
        margin-right: 10px;
        width: 30px;

        @media screen and (min-width: $width_S) {
          margin-right: 0;
          margin-bottom: 10px;
          width: 50px;
        }
      }
    }

    &.first {
      padding: 15px 10px 0;
      border-top: solid 5px $color-partner-4;
      background-color: $color-white;

      @media screen and (min-width: $width_S) {
        padding: 30px 40px;
        display: block;
      }

      .blocSubTitle {
        padding: 20px;
        color: $color-text;

        @media screen and (min-width: $width_S) {
          order: 0;
          padding: 0;
          margin: 0 0 35px;
        }
      }
    }

    &.second {
      padding: 15px 0 0 0;
      margin-bottom: 25px;

      @media screen and (min-width: $width_S) {
        margin-bottom: 0px;
        padding: 30px 40px;
        display: block;
        border-top: solid 5px $color-partner-4;
      }

      .blocSubTitle {
        padding: 15px;
        margin-bottom: 0;
        color: $color-text;

        &.is-PLV {
          @media screen and (min-width: $width_S) {
            padding-bottom: 0;
            background: transparent !important;
          }
        }

        @media screen and (min-width: $width_S) {
          order: 0;
          padding: 0;
          padding-bottom: 105px;
        }
      }

      .print {
        margin-top: 50px;

        @media screen and (min-width: $width_S) {
          width: calc(100% - #{80px} * 2);
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          bottom: 25px;
          margin-top: 0;
        }
      }
    }

    .onlineSignatureBloc-title {
      font-size: 18px;

      @media screen and (min-width: $width_S) {
        margin: 10px 0 20px;
        font-size: 24px;
      }
    }

    &.mobile {
      width: 100%;
      margin: 0 15px;
      background: $color-white;
      border-top: solid 5px transparent;
      padding: 20px;
      border-top: solid 5px $color-partner-4;

      .onlineSignatureBloc-title-wrapper {
        text-align: center;
      }
    }

    .blocSubTitle {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 20px;
      text-align: center;
      color: $color-text;

      @media screen and (min-width: $width_S) {
        font-size: 16px;
        margin-bottom: 25px;
      }
    }

    .legal-validation {
      margin-bottom: 25px;

      @media screen and (min-width: $width_S) {
        margin-bottom: 15px;
      }

      a {
        display: block;
        margin-top: 15px;
        color: $color-partner-2;
      }

      label {
        font-size: 14px;
      }

      &.checked {
        background: var(--color-partner-2-01);
      }
    }

    &-choices {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px;
    }

    &__mail {
      margin-top: 30px;
      text-align: center;

      @media screen and (min-width: $width_S) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        margin-top: 0;
      }

      &--text {
        min-width: 220px;
        margin: 0 auto 10px auto;
        padding: 15px 0;
        font-size: 13px;
        font-weight: 600;
        font-family: $font-bold;

        @media screen and (min-width: $width_S) {
          margin-bottom: 0;
          position: absolute;
          left: 50%;
          bottom: 30px;
          transform: translateX(-50%);
        }
      }

      &--send {
        color: $color-grey-dark;
        font-family: $font-regular;
        font-size: 14px;

        @media screen and (min-width: $width_S) {
          width: 100%;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          font-size: 16px;
        }

        span {
          width: 100%;
          a {
            font-family: $font-bold;
            color: $color-partner-1;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .mail-ok {
    max-width: 195px;
    color: $color-partner-1;
    background-color: rgba(26, 174, 183, 0.1);

    @media screen and (min-width: $width_S) {
      max-width: auto;
    }

    img {
      margin-right: 5px;
    }
  }

  .mail-ko {
    width: 255px;
    padding: 15px;
    color: $color-tooltip-text-error;
    background-color: rgba(235, 55, 56, 0.1);
  }

  .print {
    width: 100%;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.71;
    text-align: center;
    color: $color-grey-medium;
    margin-bottom: 15px;

    @media screen and (min-width: $width_S) {
      margin: 20px 0 0;
      font-size: 16px;
    }

    /deep/ a {
      font-family: $font-bold;
      text-decoration: underline;
      color: $color-partner-2;
      cursor: pointer;
    }
  }

  .reserve {
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    margin: 10px auto 25px;

    @media screen and (min-width: $width_S) {
      text-align: center;
      margin: 30px auto;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $width_S) {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 35px;
    }

    .link {
      font-size: 13px;
      text-decoration: underline;
      cursor: pointer;
      color: $color-title;

      @media screen and (min-width: $width_S) {
        padding: 4px 20px 4px 0;
        text-decoration: none;
        font-family: $font-bold;
        border-right: 2px solid rgba(227, 227, 227, 0.7);
        font-size: 14px;
      }
      &:nth-child(2) {
        @media screen and (min-width: $width_S) {
          padding-left: 20px;
        }
      }
      &:last-child {
        margin-top: 20px;

        @media screen and (min-width: $width_S) {
          margin-top: 0;
          padding-left: 20px;
          padding-right: 0;
          margin-right: 0;
          border-right: none;
        }
      }
    }
  }

  .sticky-button {
    position: fixed;
    bottom: 30px;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%) translateY(100px);
    width: calc(100% - 20px);
    max-width: 315px;
    opacity: 0;
    transition: transform 300ms ease-out, opacity 300ms ease-out;
    box-shadow: 0 3pt 15pt 0 rgba(0, 0, 0, 0.2);

    &.show {
      opacity: 1;
      transform: translateX(-50%) translateY(0px);
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1120px;
}

.col-5 {
  max-width: 520px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $width_M) {
    max-width: 50%;
  }

  @media screen and (min-width: $width_L) {
    max-width: 40%;
  }
}

.col-6 {
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $width_S) {
    width: 50%;
  }
}

.col-7 {
  max-width: 520px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $width_M) {
    max-width: 50%;
  }

  @media screen and (min-width: $width_L) {
    max-width: 60%;
  }
}

.p {
  &-r {
    position: relative;
  }
}

.mb-25 {
  @media screen and (min-width: $width_S) {
    margin-bottom: 25px;
  }
}

.mt {
  &-25 {
    @media screen and (min-width: $width_S) {
      margin-top: 25px;
    }
  }
}

.fw {
  &-b {
    font-family: $font-bold;
  }
}

.h {
  &-100 {
    height: 100%;
  }
}

.compare {
  height: 47px;
  width: 47px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: $color-partner-2;
  z-index: 1;

  span {
    color: $color-white;
    text-transform: uppercase;
  }
}

.fw-b {
  color: $color-partner-1;
}

.loader {
  position: absolute;
  zoom: 0.6;
  left: 50%;
  bottom: 110px;
  transform: translateX(-50%);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.legal-validation {
  background-color: $color-white;
  border-color: $color-grey-regular;

  &.valid {
    background-color: var(--color-partner-2-01);
    border-color: var(--color-partner-2-01);
  }

  &.error {
    background-color: rgba(255, 57, 53, 0.1);
    border-color: transparent;
  }

  label {
    .before {
      border-color: $color-grey-medium;
      background-color: transparent;

      &.valid {
        border-color: $color-partner-1;
        background-color: $color-partner-1;
      }
    }
  }
}
</style>
