<template>
  <div class="form-result-wrapper">
    <div class="form-result__container">
      <div class="form-result__sign">
        <div class="form-result__sign-block">
          <img src="@/assets/images/file-study.svg" class="form-result__sign-img" alt="Demande en cours" />
          <h3 class="form-result__sign-title" v-html="$t('ReponsePrincipeKO.titre')"></h3>
          <p class="form-result__sign-block-text">
            <span v-if="response.changedProposal" v-html="$t('ReponsePrincipeKO.sousTitreCRBP')"></span>
            <span v-else v-html="$t('ReponsePrincipeKO.sousTitre')"></span>
          </p>
        </div>
        <div class="form-result__sign-informations">
          <h3 class="form-result__sign-informations__title">
            {{ $t('ReponsePrincipeKO.pourVousAider') }}
          </h3>
          <p class="form-result__sign-block-text" v-html="$t('ReponsePrincipeKO.accompagneConseiller')"></p>

          <div class="form-result__file">
            <div class="form-result__file-text" v-html="$t('ReponsePrincipeKO.numDossier')"></div>
            <div class="form-result__file-number" data-cs-mask>{{ response.contractId }}</div>
          </div>

          <div class="form-result__sign-informations-wrapper">
            <div class="form-result__sign-informations-items">
              <div class="form-result__sign-informations__item">
                <div class="form-result__sign-informations__item-icon">
                  <img src="@/assets/images/mail.svg" alt="email" />
                </div>
                <div class="form-result__sign-informations__item-content">
                  <h4 class="form-result__sign-informations__item-title">
                    {{ $t('ReponsePrincipeKO.parEmail') }}
                  </h4>
                  <div
                    class="form-result__sign-informations__item-text"
                    v-html="$t('ReponsePrincipeKO.contactAgence')"
                  ></div>
                </div>
              </div>
            </div>
            <div class="form-result__sign-informations-items">
              <div class="form-result__sign-informations__item">
                <div class="form-result__sign-informations__item-icon">
                  <img src="@/assets/images/phone-bg.svg" alt="phone" />
                </div>
                <div class="form-result__sign-informations__item-content">
                  <h4 class="form-result__sign-informations__item-title">
                    {{ $t('ReponsePrincipeKO.parTel') }}
                  </h4>
                  <img src="@/assets/images/3266.svg" :alt="$t('ReponsePrincipeKO.tel3266')" />
                </div>
              </div>
            </div>
            <div class="form-result__sign-informations-items">
              <div class="form-result__sign-informations__item">
                <div class="form-result__sign-informations__item-icon">
                  <img src="@/assets/images/mail-sent.svg" alt="courier" />
                </div>
                <div class="form-result__sign-informations__item-content">
                  <h4 class="form-result__sign-informations__item-title">
                    {{ $t('ReponsePrincipeKO.parCourrier') }}
                  </h4>
                  <div class="form-result__sign-informations__item-text" v-html="$t('ReponsePrincipeKO.adresse')"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-result__summary">
        <div class="form-result__summary-block">
          <h3
            v-if="response.changedProposal"
            class="form-result__summary-title"
            v-html="
              response.changedProposal
                ? $t('souscription.reponseDePrincipe.ok.recapOffreCRBP')
                : $t('souscription.reponseDePrincipe.ok.recapOffre')
            "
          ></h3>
          <p class="form-result__summary-subtitle">
            {{ $t('souscription.reponseDePrincipe.ok.recapOffreIntro') }}
          </p>
          <div ref="summaryContent" class="form-result__summary-content" :style="{ height: heightSummaryContent }">
            <ul class="form-result__summary-list">
              <li>
                <h4>{{ $t('souscription.detailsOffre.votreCredit') }}</h4>
                <b>{{ proposal.creditLabel }}</b>
              </li>
              <li>
                <h4>{{ $t('souscription.detailsOffre.montantCredit') }}</h4>
                <b>{{ proposal.amount | currency({ fractionCount: 0 }) }}</b>
              </li>
              <li>
                <h4>{{ $t('souscription.detailsOffre.dureeCredit') }}</h4>
                <b>{{ $t('souscription.detailsOffre.nbMois', { duration: proposal.creditDuration }) }}</b>
              </li>
              <li>
                <h4>
                  {{
                    $t('souscription.detailsOffre.dureeMensualites', {
                      duration: proposal.dueNumber
                    })
                  }}
                </h4>
                <b>{{ proposal.monthlyAmountWithInsurance | currency }}</b>
              </li>
              <li>
                <h4>
                  {{
                    proposal.creditType === COURSE['REVOLVING']
                      ? $t('souscription.detailsOffre.taegRevisable')
                      : $t('souscription.detailsOffre.taegFixe')
                  }}
                  <span>{{ $t('souscription.detailsOffre.taegSign') }}</span>
                </h4>
                <b>{{ proposal.taeg | currency({ fractionCount: 3, symbol: '%' }) }}</b>
              </li>
              <li>
                <h4>
                  {{ $t('souscription.detailsOffre.montantTotal') }}
                  <template v-if="proposal.creditDuration > proposal.dueNumber">
                    <br />{{ $t('souscription.detailsOffre.includeReport') }}
                  </template>

                  <span>{{ $t('souscription.detailsOffre.horsAssurance') }}</span>
                </h4>
                <b>{{ proposal.totalAmountNonInsurance | currency }}</b>
              </li>
              <li>
                <h4>{{ $t('souscription.detailsOffre.fraisDossier') }}</h4>
                <b>{{ proposal.contractFees | currency({ fractionCount: 0 }) }}</b>
              </li>
              <li>
                <h4>
                  {{
                    proposal.creditType === COURSE['REVOLVING']
                      ? $t('souscription.detailsOffre.tauxDebiteurRevisable')
                      : $t('souscription.detailsOffre.tauxDebiteurFixe')
                  }}
                </h4>
                <b>{{ proposal.annualDebitRate | currency({ fractionCount: 3, symbol: '%' }) }}</b>
              </li>
              <li v-if="insurance">
                <h4>
                  {{ $t('souscription.detailsOffre.assuranceTaux') }}
                  <span>{{ $t('souscription.detailsOffre.taeaSigle') }}</span>
                </h4>
                <b>{{ proposal.annualInsuranceEffectiveRate | currency({ fractionCount: 3, symbol: '%' }) }}</b>
              </li>
              <li v-if="insurance">
                <h4>{{ $t('souscription.detailsOffre.assuranceCoutMensuel') }}</h4>
                <b>{{ (proposal.monthlyInsuranceAmountT1 + proposal.monthlyInsuranceAmountT2) | currency }}</b>
              </li>
              <li v-if="insurance">
                <h4>{{ $t('souscription.detailsOffre.assuranceCoutTotal') }}</h4>
                <b>{{ (proposal.totalInsuranceAmountT1 + proposal.totalInsuranceAmountT2) | currency }}</b>
              </li>
            </ul>
          </div>
        </div>
        <div v-if="!showAllSummary" class="form-result__see-more" :class="{ open: showSummary }" @click="toggleSummary">
          Voir plus
          <img src="@/assets/images/arrow-bottom-green.svg" alt="Plus" />
        </div>
        <div class="form-result__summary-reportinfos" v-if="proposal.creditDuration > proposal.dueNumber">
          <p>
            {{ $t('souscription.detailsOffre.includeReport') }}
          </p>
        </div>
      </div>
    </div>
    <div class="form-result__sign-mention">
      <p v-html="$t('souscription.reponseDePrincipe.ok.reserve')"></p>
    </div>
    <div class="links">
      <a class="link" @click="goToLegalMentions('1')">
        <span>{{ $t('souscription.reponseDePrincipe.utilisationDonnees') }}</span>
      </a>
      <a class="link" @click="goToLegalMentions('0')">
        <span>{{ $t('souscription.reponseDePrincipe.mentionsLegales') }}</span>
      </a>

      <a class="link" href="javascript:Didomi.preferences.show()">
        <span> {{ $t('souscription.menuNavigation.gererCookie') }}</span>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import { Getter, State } from 'vuex-class';

import { FolderResponse } from '@/models/subscription/FolderResponse';
import { FinancialProposals } from '@/models/Simulation';
import { CreditTypeEnum } from '@/models/simulator/business/creditType';

@Component({})
export default class ResultStepKOSofinco extends Vue {
  @State((state) => state.subscription.response) private response!: FolderResponse;
  @State((state) => state.subscription.response.proposal) private proposal!: FinancialProposals;
  @Getter private dataUsageLink!: string;
  @Getter private legalMentionLink!: string;
  private showSummary: boolean = false;
  private heightSummaryContentDefault: string = 'auto';
  private heightSummaryContent: string = 'auto';
  private showAllSummary: boolean = true;
  private summaryContentMaxRows: number = 9;
  private COURSE = CreditTypeEnum;

  private get insurance() {
    return (
      this.response &&
      this.response.proposal &&
      (this.response.proposal.monthlyInsuranceAmountT1 > 0 || this.response.proposal.monthlyInsuranceAmountT2 > 0)
    );
  }

  private mounted() {
    this.initSummary();
  }

  private initSummary() {
    const summaryContentRows = (this.$refs.summaryContent as HTMLElement).querySelectorAll('li');

    this.showAllSummary = summaryContentRows.length <= this.summaryContentMaxRows;

    if (!this.showAllSummary) {
      let heightSummary = 0;

      summaryContentRows.forEach((row, index) => {
        if (index < this.summaryContentMaxRows) {
          heightSummary += row.scrollHeight;
        }
      });

      this.heightSummaryContentDefault = heightSummary + 'px';
      this.heightSummaryContent = this.heightSummaryContentDefault;
    }
  }

  private toggleSummary() {
    this.showSummary = !this.showSummary;

    if (this.showSummary) {
      const heightSummary = (this.$refs.summaryContent as HTMLElement).scrollHeight;

      this.heightSummaryContent = heightSummary + 'px';
    } else {
      this.heightSummaryContent = this.heightSummaryContentDefault;
    }
  }
}
</script>

<style lang="scss" scoped>
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;

  @media screen and (min-width: $width_S) {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 35px;
  }

  .link {
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    color: $color-title;

    @media screen and (min-width: $width_S) {
      padding: 4px 20px 4px 0;
      text-decoration: none;
      font-family: $font-bold;
      border-right: 2px solid rgba(227, 227, 227, 0.7);
      font-size: 14px;
    }

    &:nth-child(2) {
      @media screen and (min-width: $width_S) {
        padding-left: 20px;
      }
    }
    &:last-child {
      margin-top: 20px;

      @media screen and (min-width: $width_S) {
        margin-top: 0;
        padding-left: 20px;
        padding-right: 0;
        margin-right: 0;
        border-right: none;
      }
    }
  }
}
.form-result {
  &-wrapper {
    padding: 30px 20px 30px;
    background-color: #f6f6f6;
    @media screen and (min-width: $width_M) {
      margin-top: 40px;
      padding: 0 0;
    }
  }
  &__see-more {
    font-family: $font-bold;
    font-size: 18px;
    color: $color-partner-1;
    text-align: center;
    background-color: #ffffff;
    border-top: 2px solid #f3fbfb;
    width: 100%;
    padding: 15px;
    cursor: pointer;

    &.open img {
      transform: rotate(180deg);
    }

    img {
      position: relative;
      top: -2px;
      display: inline-block;
      vertical-align: middle;
      width: auto;
      height: 8px;
      margin-left: 5px;
      transform: rotate(0);
      transition: transform 0.25s ease-in-out;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: grid(10);
    margin: 0 auto;

    @media screen and (max-width: $width_M) {
      flex-direction: column;
    }

    @media screen and (max-width: $width_S) {
      width: 100%;
    }
  }
  &__sign {
    text-align: center;
    width: grid(6);
    margin-right: 25px;

    @media screen and (max-width: $width_M) {
      width: 100%;
    }

    @media screen and (max-width: $width_S) {
      width: 100%;
      padding: 0;
    }

    &-title {
      font-family: $font-bold;
      font-size: 30px;
      line-height: 34px;
      color: #000000;
      margin-bottom: 20px;

      @media screen and (max-width: $width_M) {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 20px;
      }

      @media screen and (max-width: $width_S) {
        text-align: left;
        font-size: 20px;
      }

      span {
        font-family: $font-bold;
        font-size: 30px;
        line-height: 34px;
        color: $color-main-dark;
        display: block;

        @media screen and (max-width: $width_M) {
          font-size: 22px;
          line-height: 26px;
        }
      }
    }

    &-block {
      text-align: center;
      background-color: #ffffff;
      border-radius: $input-border-radius;
      position: relative;
      display: block;
      margin-bottom: 40px;
      padding: 40px;

      @media screen and (max-width: $width_M) {
        margin-bottom: 20px;
        padding: 30px 20px;
      }

      @media screen and (max-width: $width_S) {
        padding: 20px;
      }

      &-text {
        font-family: $font-regular;
        font-size: 18px;
        line-height: 1.33;
        color: $color-form-text;

        @media screen and (max-width: $width_S) {
          text-align: left;
          font-size: 14px;
        }
      }
    }

    &-img {
      margin: 0 auto 30px;

      @media screen and (max-width: $width_S) {
        width: 40px;
        float: left;
        margin: 13px 10px 0 0;
      }
    }

    &-informations {
      background-color: $color-white;
      display: block;
      padding: 30px 40px 40px;

      @media screen and (max-width: $width_L) {
        padding: 30px;
      }

      @media screen and (max-width: $width_M) {
        padding: 30px 20px;
      }

      @media screen and (max-width: $width_M) {
        padding: 20px;
      }

      .form-result__sign-block-text {
        margin-bottom: 30px;

        @media screen and (max-width: $width_S) {
          margin-bottom: 15px;
        }
      }

      &-wrapper {
        display: flex;
        margin-top: 30px;

        @media screen and (max-width: $width_S) {
          flex-direction: column;
        }
      }

      &-items {
        width: 100%;

        @media screen and (max-width: $width_S) {
          margin-bottom: 30px;
        }
      }

      &__title {
        font-family: $font-bold;
        font-size: 24px;
        color: #000000;
        line-height: 1.33;
        margin-bottom: 10px;

        @media screen and (max-width: $width_S) {
          font-size: 20px;
          text-align: left;
        }
      }

      &__item {
        background-color: #ffffff;
        border-radius: $input-border-radius;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 10px;

        @media screen and (max-width: $width_M) {
          padding: 20px;
        }

        @media screen and (max-width: $width_S) {
          flex-direction: row;
          justify-content: left;
          padding: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &-icon {
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 0 0 85px;
          width: 85px;
          height: 85px;
          overflow: hidden;

          @media screen and (max-width: $width_S) {
            width: 60px;
            height: 60px;
          }

          img {
            display: block;
            flex: 0 0 70px;
            width: 70px;
            height: auto;

            @media screen and (max-width: $width_S) {
              width: 60px;
              height: 60px;
            }
          }
        }

        &-content {
          text-align: center;

          @media screen and (max-width: $width_S) {
            margin-left: 10px;
            text-align: left;
          }

          img {
            display: block;
            width: auto;
            height: 35px;
            margin-bottom: 10px;

            @media screen and (max-width: $width_M) {
              height: 25px;
            }

            @media screen and (max-width: $width_S) {
              height: 30px;
            }
          }
        }

        &-title {
          font-family: $font-bold;
          font-size: 18px;
          line-height: 1;
          color: #000000;
          margin: 10px 0;

          @media screen and (max-width: $width_S) {
            margin: 0 0 5px;
          }
        }

        &-text {
          font-family: $font-regular;
          font-size: 15px;
          line-height: 18px;
          color: $color-form-text;

          /deep/ a {
            font-family: $font-bold;
            color: $color-partner-1;
          }
        }
      }
    }

    &-mention {
      width: calc(100vw / 12 * 10);
      margin: 40px auto 30px;
      color: $color-grey-dark;
      font-size: 12px;
      text-align: center;
      padding: 0 100px;
      @media screen and (max-width: $width_S) {
        display: none;
      }
    }
  }

  &__file {
    width: 275px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: solid 1px #a3dfe2;

    @media screen and (max-width: $width_S) {
      width: 100%;
    }

    &-number {
      font-family: $font-bold;
      font-size: 18px;
      color: #48bec5;
      padding-left: 10px;
    }
  }

  &__summary {
    width: grid(4);

    @media screen and (max-width: $width_M) {
      width: 100%;
      margin-top: 30px;
    }

    @media screen and (max-width: $width_S) {
      margin-top: 0;
    }

    &-content {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }

    &-block {
      background-color: #ffffff;
      position: relative;
      margin-top: 25px;
      padding: 30px 40px;

      @media screen and (max-width: $width_M) {
        padding: 30px 20px;
      }

      @media screen and (max-width: $width_S) {
        margin-top: 0;
      }

      &:first-child {
        margin-top: 0;

        @media screen and (max-width: $width_S) {
          margin-top: 15px;
        }
      }

      &:last-child {
        > img {
          display: block;
          width: 35px;
          height: auto;
          margin: 0 auto 20px;

          @media screen and (max-width: $width_XS) {
            margin: 0 auto 10px 0;
          }
        }
      }
    }

    &-title {
      font-family: $font-bold;
      font-size: 24px;
      line-height: 26px;
      text-align: center;
      color: #000000;
      margin-bottom: 10px;

      @media screen and (max-width: $width_S) {
        font-size: 22px;
      }

      @media screen and (max-width: $width_XS) {
        text-align: left;
      }
    }

    &-subtitle {
      font-family: $font-bold;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      color: #000000;
      margin-bottom: 10px;

      @media screen and (max-width: $width_S) {
        font-size: 18px;
        line-height: 22px;
      }

      @media screen and (max-width: $width_XS) {
        text-align: left;
      }
    }

    &-text {
      font-family: $font-regular;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      margin-bottom: 30px;
      padding: 0 25px;

      @media screen and (max-width: $width_S) {
        font-size: 14px;
        line-height: 20px;
        padding: 0;
      }

      @media screen and (max-width: $width_XS) {
        text-align: left;
        margin-bottom: 15px;
      }
    }

    &-number {
      font-family: $font-bold;
      font-size: 24px;
      color: $color-partner-1;
      text-align: center;
      border: 1px solid #b7cac8;
      display: block;
      width: 100%;
      max-width: grid(4);
      min-height: 50px;
      margin: 0 auto;
      padding: 5px 20px;

      @media screen and (max-width: $width_S) {
        max-width: 400px;
      }
    }

    &-list {
      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        &:nth-child(2n + 1) {
          background-color: #f3fbfb;
        }

        h4 {
          font-family: $font-regular;
          font-size: 14px;
          line-height: 18px;
          color: $color-form-text;
          text-align: left;

          > span {
            font-family: $font-regular;
            font-size: 12px;
            line-height: 16px;
            color: #888888;
            display: block;
          }
        }

        > b,
        > strong {
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          display: block;
        }
      }

      &__insurance {
        font-family: $font-regular;
        font-size: 12px;
        line-height: 18px;
        text-align: left;
        color: #666666;
      }
    }
    &-block {
      @media screen and (max-width: $width_S) {
        margin-top: 15px;
        padding: 20px;
      }
    }
    &-reportinfos {
      font-family: $font-regular;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      color: $color-form-text;
      background-color: #fff;
      border-top: 2px solid #f3fbfb;
      width: 100%;
      padding: 20px;
    }

    &-title {
      margin-bottom: 10px;
      font-family: $font-bold;
      font-size: 24px;
      color: #000000;
      @media screen and (max-width: $width_S) {
        font-size: 22px;
        text-align: left;
      }
    }

    &-subtitle {
      margin-bottom: 30px;
      font-family: $font-regular;
      font-size: 18px;
      text-align: center;
      line-height: 1.22;
      color: #000000;
      @media screen and (max-width: $width_S) {
        font-size: 14px;
        text-align: left;
      }
    }
  }
}
</style>
