<template>
  <div data-cy="resultKO" v-if="response" class="koContainer">
    <div class="block response">
      <svg xmlns="http://www.w3.org/2000/svg" width="58" height="50" viewBox="0 0 58 50">
        <g fill="none" fill-rule="evenodd">
          <path
            fill="#333"
            fill-rule="nonzero"
            d="M31.155 41.992H3.331V6.445h15.12V4.492H1.37v39.453h31.744V35.54h-1.96z"
          />
          <path
            fill="#333"
            fill-rule="nonzero"
            d="M9.21 15.04v1.952h16.145V15.04zM9.21 23.633v1.953h16.145v-1.953zM9.21 32.227v1.953h16.145v-1.953z"
          />
          <ellipse
            cx="29.784"
            cy="18.75"
            fill="#FFF"
            :style="{ stroke: colors.primary }"
            stroke-width="2.25"
            rx="11.416"
            ry="11.375"
          />
          <path
            :style="{ fill: colors.primary }"
            d="M36.556 29.198l3.207-3.428 9.745 9.058a2.34 2.34 0 0 1 .116 3.313c-.886.947-2.372 1-3.323.116l-9.745-9.059z"
          />
        </g>
      </svg>
      <div class="title">{{ $t('souscription.reponseDePrincipe.ko.titreReponse') }}</div>
      <div class="description">
        {{ $t('souscription.reponseDePrincipe.ko.descriptionReponse') }}
      </div>
      <div class="numberLine" :style="{ borderColor: hexToRgb(colors.primary, 0.4) }">
        {{ $t('souscription.reponseDePrincipe.ko.numeroDossier') }}
        <span class="number" :style="{ color: hexToRgb(colors.primary, 0.8) }">
          {{ response.contractId }}
        </span>
      </div>
    </div>
    <div class="block" v-if="response.proposal">
      <app-proposal-details
        :title="$t('souscription.reponseDePrincipe.ko.titreOffre')"
        :subTitle="$t('souscription.reponseDePrincipe.ko.sousTitreOffre')"
        :big="true"
        :inverted="true"
        :proposal="response.proposal"
        :showInsurance="principal.insurance.acceptInsuranceOffer"
      />
    </div>

    <div class="links">
      <a class="link" @click="goToLegalMentions('1')" :style="{ color: colors.primary }">{{
        $t('souscription.reponseDePrincipe.utilisationDonnees')
      }}</a>
      <a class="link" @click="goToLegalMentions('0')" :style="{ color: colors.primary }">{{
        $t('souscription.reponseDePrincipe.mentionsLegales')
      }}</a>
      <a class="link" href="javascript:Didomi.preferences.show()" :style="{ color: colors.primary }">
        {{ $t('souscription.menuNavigation.gererCookie') }}
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { StepState } from '@/models/StepState';
import { Colors, defaultColors } from '@/models/Colors';
import ProposalDetails from '@/components/proposal/ProposalDetails.vue';
import { FolderResponse } from '@/models/subscription/FolderResponse';
import { SubscriptionData } from '@/store/types';
import { State } from 'vuex-class';

@Component({
  components: {
    'app-proposal-details': ProposalDetails
  }
})
export default class ResultStepKO extends Vue {
  @State((state) => state.apiConfig.offerCode) public offerCode!: string;
  @State((state) => state.apiConfig.partnerCode) public partnerCode!: string;
  @Prop() public stepState!: StepState;
  @Prop() public response!: FolderResponse;
  @Prop({ default: () => defaultColors }) public colors!: Colors;
  @State((state) => state.subscription.principal) public principal!: SubscriptionData;
}
</script>

<style lang="scss" scoped>
.koContainer {
  @media screen and (min-width: $width_S) {
    padding: 50px 23px 60px;
  }

  .block {
    padding: 25px;
    background-color: $color-white;
    max-width: 660px;
    margin: 0 auto;
    @media screen and (min-width: $width_S) {
      padding: 35px;
    }

    &.response {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        margin-bottom: 15px;
      }

      .title {
        font-family: $font-bold;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
      }

      .description {
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        margin: 0 10px 20px;
        width: 100%;
        @media screen and (min-width: $width_M) {
          font-size: 16px;
        }
      }

      .numberLine {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        font-size: 14px;
        line-height: 1.5;
        padding: 2px 5px;
        @media screen and (min-width: $width_M) {
          font-size: 16px;
          padding: 5px 15px;
        }
        .number {
          line-height: 1.78;
          font-size: 15px;
          font-family: $font-bold;
          margin-left: 5px;
          @media screen and (min-width: $width_M) {
            font-size: 18px;
          }
        }
      }
    }

    &:not(:last-child) {
      @media screen and (min-width: $width_S) {
        margin-bottom: 25px;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;

    @media screen and (min-width: $width_S) {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 0;
    }

    .link {
      font-size: 13px;
      text-decoration: underline;
      cursor: pointer;
      font-family: $font-bold;

      @media screen and (min-width: $width_S) {
        padding: 4px 20px 4px 0;
        text-decoration: none;
        border-right: 2px solid rgba(227, 227, 227, 0.7);
        font-size: 14px;
      }

      &:nth-child(2) {
        @media screen and (min-width: $width_S) {
          padding-left: 20px;
        }
      }
      &:last-child {
        margin-top: 20px;

        @media screen and (min-width: $width_S) {
          margin-top: 0;
          padding-left: 20px;
          padding-right: 0;
          margin-right: 0;
          border-right: none;
        }
      }
    }
  }
}
</style>
