<template>
  <div data-cy="resultOK" v-if="response" class="resultStepOk">
    <div class="section-container">
      <div class="title">
        <img :src="`${baseUrl}/two-hands.svg`" alt="Félicitation" />
        <h2
          data-cs-mask
          v-html="
            $t('souscription.reponseDePrincipe.ok.bravo', {
              firstname: principal.name.firstName
            })
          "
        />
      </div>
      <a v-on:click.prevent="goToRecap" class="section-container__link-recap">
        <img src="@/assets/images/chevron-bottom-sofinco.svg" alt="chevron" class="chevron-bottom" />
        {{ $t('souscription.reponseDePrincipe.ok.linkRecap') }}
      </a>
      <div class="innerContainer">
        <div class="row">
          <div class="col-6">
            <app-bloc-sign v-if="eSign" />
            <app-bloc-paper v-else />
            <app-bloc-attachments
              :title="$t('souscription.reponseDePrincipe.ok.constituerDossier')"
              :text="$t('souscription.reponseDePrincipe.ok.constituerDossierText')"
              :colors="colors"
              :isMobile="false"
              :attachments="attachments"
              :enablePedagogyTooltip="true"
            >
              <template v-if="hasAccessToUploadModule" v-slot:additionalContent>
                <div class="additional-content">
                  <div class="tooltip show-tooltip">
                    <div class="tooltip-container arrow" @click="openUploadDocsPedagogyPopin">
                      <img src="@/assets/images/lifering.svg" alt="Aide" class="tooltip-icon" />
                      <p
                        class="tooltip-text"
                        v-html="
                          $t('souscription.reponseDePrincipe.ok.tooltip.uploadDocumentsPedagogy.gagnezTempsTooltip')
                        "
                      />
                      <a
                        href="#"
                        class="tooltip-button"
                        v-html="$t('souscription.reponseDePrincipe.ok.tooltip.uploadDocumentsPedagogy.cta')"
                      />
                    </div>
                  </div>
                  <app-carousel-popin
                    :large="true"
                    :colors="colors"
                    :carouselPopinContent="pedagogyCarouselPopinContent"
                    :slideButtonText="$t('souscription.reponseDePrincipe.ok.popin.uploadDocumentsPedagogy.boutonSlide')"
                    :closePopinButtonText="$t('souscription.reponseDePrincipe.ok.popin.uploadDocumentsPedagogy.cta')"
                    :opened="openedUploadDocsPedagogyPopin"
                    :closePopin="closeUploadDocsPedagogyPopin"
                  />
                  <div class="tooltip show-tooltip">
                    <div class="tooltip-container">
                      <img src="@/assets/images/desktop-sync.svg" alt="Aide" class="tooltip-icon" />
                      <p
                        class="tooltip-text"
                        v-html="$t('souscription.reponseDePrincipe.ok.tooltip.passageDesktop.importDocumentsTooltip')"
                      />
                    </div>
                  </div>
                </div>
              </template>
            </app-bloc-attachments>
          </div>
          <div class="col-4" ref="proposal">
            <app-bloc-proposal
              :titleProposal="titleProposal"
              :subTitleProposal="$t('souscription.reponseDePrincipe.ok.recapOffreIntro')"
              :showProposal="response.proposal"
              :colors="colors"
              :proposal="response.proposal"
              :simulationProposal="simulatorState.selectedProposal"
              :showInsurance="hasInsurance"
              :showSeeLater="false"
              :isSofincoPartnerId="true"
            />
            <app-bloc-contract :folderResponse="response" />
          </div>
        </div>
      </div>
      <div class="reserve" v-html="$t('souscription.reponseDePrincipe.ok.reserve')"></div>
      <div class="links">
        <a class="link" @click="goToLegalMentions('1')">
          <span>{{ $t('souscription.reponseDePrincipe.utilisationDonnees') }}</span>
        </a>
        <a class="link" @click="goToLegalMentions('0')">
          <span>{{ $t('souscription.reponseDePrincipe.mentionsLegales') }}</span>
        </a>
        <a class="link" href="javascript:Didomi.preferences.show()">
          <span> {{ $t('souscription.menuNavigation.gererCookie') }}</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Inject, Prop } from 'vue-property-decorator';
import { Getter, State } from 'vuex-class';
import { RootState, SimulatorState, SubscriptionData } from '@/store/types';
import { SeConfig } from '@/models/subscription/api/SeConfig';
import { FolderResponse } from '@/models/subscription/FolderResponse';
import { StepState } from '@/models/StepState';
import BlocProposal from '@/views/SubscriptionSteps/ResultSteps/ResultStepOK/BlocProposal.vue';
import { Colors, defaultColors } from '@/models/Colors';
import BlocContract from '@/views/SubscriptionSteps/ResultSteps/ResultStepOK/BlocContract.vue';
import BlocAttachments from '@/views/SubscriptionSteps/ResultSteps/ResultStepOK/BlocAttachments.vue';
import { Attachment } from '@/models/Attachment';
import { DocumentsApi } from '@/services/DocumentsApi';
import { ISupportingDocuments } from '@/models/subscription/api/Documents';
import BlocSignSofinco from '@/views/SubscriptionSteps/ResultSteps/ResultStepOK/BlocSignSofinco.vue';
import * as carouselPopinContent from '@/assets/json/carousel/upload-documents-pedagogy-popin.json';
import { CarouselPopinContent } from '@/models/components/Carousel';
import CarouselPopin from '@/components/graphic/PopinCarousel.vue';
import BlocPaperSofinco from '@/views/SubscriptionSteps/ResultSteps/ResultStepOK/BlocPaperSofinco.vue';

@Component({
  components: {
    'app-bloc-proposal': BlocProposal,
    'app-bloc-contract': BlocContract,
    'app-bloc-attachments': BlocAttachments,
    'app-bloc-sign': BlocSignSofinco,
    'app-bloc-paper': BlocPaperSofinco,
    'app-carousel-popin': CarouselPopin
  }
})
export default class SofincoResultStepOk extends Vue {
  @Prop() public stepState!: StepState;
  @Prop({ default: () => defaultColors }) public colors!: Colors;

  @State((state: RootState) => state.subscription.principal) public principal!: SubscriptionData;
  @State((state: RootState) => state.subscription.response) public response!: FolderResponse;
  @State((state: RootState) => state.subscription.seConfig) public seConfig!: SeConfig;
  @State((state: RootState) => state.simulator) public simulatorState!: SimulatorState;

  @Getter public getCreditType!: string;
  @Getter public dataUsageLink!: string;
  @Getter public legalMentionLink!: string;

  @Inject('documentsApi') public documentsApi: DocumentsApi;

  public mapAttachmentsPicto = new Map<string, string>();
  public attachments: Attachment[] = [];
  public isLoadingRequiredAttachments: boolean = false;
  public openedUploadDocsPedagogyPopin: boolean = false;

  public constructor() {
    super();
  }

  public created() {
    this.loadAttachmentsType();
    this.loadRequiredAttachments();
  }

  public get eSign() {
    return this.response && this.response.eligibilitySE;
  }

  public loadRequiredAttachments(): void {
    const applicationId = 'se-sofinco';
    const partnerId = 'web_sofinco';
    const channelCode = 'K';
    const borrowerCode = 't1';
    const { contractId, contractToken } = this.response;
    this.isLoadingRequiredAttachments = true;
    this.documentsApi
      .getSupportingDocuments(
        contractToken.accessToken,
        contractId,
        borrowerCode,
        applicationId,
        partnerId,
        null,
        channelCode
      )
      .then((response) => {
        const listOfSupportingDocuments: ISupportingDocuments[] = response.data;
        if (listOfSupportingDocuments && listOfSupportingDocuments.length > 0) {
          listOfSupportingDocuments.forEach((supportingDocument) => {
            const attachment: Attachment = {
              titre: supportingDocument.longLabel,
              icon: this.getDocumentPictoName(supportingDocument.category)
            };
            this.attachments.push(attachment);
          });
        }
      })
      .finally(() => {
        this.attachments.push({
          titre: this.$t('souscription.reponseDePrincipe.ok.autreJustificatifs') as string,
          icon: this.$t('souscription.reponseDePrincipe.ok.autreJustificatifsIcon') as string,
          description: this.$t('souscription.reponseDePrincipe.ok.autreJustificatifsDescription') as string
        });
        this.isLoadingRequiredAttachments = false;
      });
  }

  public loadAttachmentsType(): void {
    const allAttachmentsType = this.$t('souscription.reponseDePrincipe.ok.piecesJointes');
    Object.keys(allAttachmentsType).map((e) => {
      this.mapAttachmentsPicto.set(allAttachmentsType[e].titre, allAttachmentsType[e].icone);
    });
  }

  public getDocumentPictoName(categoryName: string): string {
    const defaultPictoIcon: string = this.$t('souscription.reponseDePrincipe.ok.iconPieceJointeParDefaut') as string;
    return this.mapAttachmentsPicto.get(categoryName) ? this.mapAttachmentsPicto.get(categoryName) : defaultPictoIcon;
  }

  public openUploadDocsPedagogyPopin(): void {
    this.openedUploadDocsPedagogyPopin = true;
  }

  public closeUploadDocsPedagogyPopin(): void {
    this.openedUploadDocsPedagogyPopin = false;
  }

  public get pedagogyCarouselPopinContent(): CarouselPopinContent {
    return carouselPopinContent.default;
  }

  public get titleProposal(): string {
    return this.response.changedProposal
      ? (this.$t('souscription.reponseDePrincipe.ok.recapOffreCRBP') as string)
      : (this.$t('souscription.reponseDePrincipe.ok.recapOffre') as string);
  }

  public goToRecap() {
    this.$scrollTo(this.$refs.proposal as HTMLDivElement, { offset: -60 });
  }

  private get hasInsurance() {
    return (
      this.response &&
      this.response.proposal &&
      (this.response.proposal.monthlyInsuranceAmountT1 > 0 || this.response.proposal.monthlyInsuranceAmountT2 > 0)
    );
  }

  private get hasAccessToUploadModule() {
    return (
      this.seConfig &&
      (this.seConfig.hasUploadPaper ||
        (this.seConfig.hasForcedSE && this.eSign) ||
        (!this.seConfig.hasForcedSE && this.eSign))
    );
  }
}
</script>
<style lang="scss" scoped>
.resultStepOk {
  padding: 20px 15px 100px;
  width: 100%;
  background-color: $color-bg-container;

  @media screen and (min-width: $width_S) {
    padding: 40px 25px 0;
  }

  .section-container {
    width: 100%;
    text-align: center;

    max-width: $width_XXXL;
    margin: 0 auto;

    @media screen and (min-width: $width_S) {
      width: 90%;
      max-width: 1215px;
    }
    &__link-recap {
      display: none;

      @media screen and (max-width: $width_S) {
        font-family: $font-bold;
        font-size: 13px;
        color: $color-grey-medium;
        text-decoration: underline;
        display: inline-block;
        margin: 0 auto 25px;
      }

      .chevron-bottom {
        margin-right: 6pt;
      }
    }

    .reserve {
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      margin: 10px auto 25px;
      color: $color-form-text;

      @media screen and (min-width: $width_S) {
        text-align: center;
        margin: 30px auto;
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: $width_S) {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 35px;
      }

      .link {
        font-size: 13px;
        text-decoration: underline;
        cursor: pointer;
        color: $color-title;

        span {
          @media screen and (min-width: $width_S) {
            font-family: $font-bold;
            line-height: 22px;
            position: relative;
            display: inline-block;
            overflow: hidden;

            &::before {
              content: '';
              background-color: $color-title;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              transform: translateX(-101%);
              transition: transform 0.25s ease-in-out;
            }
          }
        }

        @media screen and (min-width: $width_S) {
          padding: 4px 20px 4px 0;
          text-decoration: none;
          font-family: $font-bold;
          border-right: 2px solid rgba(227, 227, 227, 0.7);
          font-size: 14px;

          &:hover span::before {
            transform: translateX(0);
          }
        }

        &:nth-child(2) {
          @media screen and (min-width: $width_S) {
            padding-left: 20px;
          }
        }
        &:last-child {
          margin-top: 20px;

          @media screen and (min-width: $width_S) {
            margin-top: 0;
            padding-left: 20px;
            padding-right: 0;
            margin-right: 0;
            border-right: none;
          }
        }
      }
    }
  }

  .innerContainer {
    width: 100%;

    .additional-content {
      margin-top: 10px;
    }

    .tooltip {
      max-width: grid(6);

      .tooltip-container {
        align-items: center;
      }

      @media screen and (max-width: $width_S) {
        max-width: none;

        .tooltip-container {
          padding-right: 25px;

          &.arrow {
            &::before,
            &::after {
              content: '';
              background-color: $color-tooltip-text;
              border-radius: 2px;
              position: absolute;
              right: 15px;
              width: 8px;
              height: 2px;
            }

            &::before {
              top: calc(50% - 2px);
              transform: translateY(-50%) rotate(45deg);
            }

            &::after {
              top: calc(50% + 2px);
              transform: translateY(-50%) rotate(-45deg);
            }
          }
        }
      }

      &-button {
        font-family: $font-bold;
        font-size: 12px;
        white-space: nowrap;
        color: $color-tooltip-text;
        background-color: transparent;
        border: 1px solid $color-tooltip-text;
        border-radius: 12px;
        display: block;
        margin-left: 25px;
        padding: 5px 10px;
        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

        @media screen and (min-width: $width_S) {
          &:hover {
            color: #ffffff;
            background-color: $color-tooltip-text;
          }
        }

        @media screen and (max-width: $width_S) {
          display: none;
        }
      }

      &.desktop {
        @media screen and (max-width: $width_S) {
          display: none;
        }
      }

      &.mobile {
        display: none;

        @media screen and (max-width: $width_S) {
          display: block;
        }
      }

      &-icon {
        height: 40px;

        @media screen and (max-width: $width_XS) {
          height: 30px;
        }
      }

      &-text {
        font-family: $font-bold;
      }
    }
  }

  .title {
    text-align: center;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-title;

    .img {
      display: none;

      @media screen and (min-width: $width_M) {
        display: block;
        margin-right: 20px;
        align-self: flex-start;
      }
    }

    /deep/ h2 {
      font-family: $font-bold;
      font-size: 30px;
      line-height: 42px;
      color: $color-title;
      display: inline;

      @media screen and (max-width: $width_M) {
        font-size: 26px;
      }

      @media screen and (max-width: $width_S) {
        font-size: 22px;
        line-height: 26px;
      }
    }

    /deep/ h2 > span {
      font-family: $font-bold;
      color: $color-main-dark;
    }

    img {
      width: 46px;
      height: auto;
      margin-right: 20px;

      @media screen and (max-width: $width_S) {
        display: none;
      }
    }
  }
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 1200px;
  @media screen and (max-width: $width_M) {
    flex-direction: column;
  }
}

.col-4 {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @media screen and (min-width: $width_M) {
    width: grid(4);
  }
}
.col-6 {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @media screen and (min-width: $width_M) {
    width: grid(6);
  }
}
</style>
