<template>
  <div class="insurance">
    <div class="headerButton" @click="opened = true">
      {{ $t('souscription.assurance.titreBandeau') }}
      <img :src="`${baseUrl}/left-arrow-white.svg`" alt="Flèche" />
    </div>
    <app-layout-two-bloc :animation="animation" :slideLeft="slideLeft" :slideRight="slideRight">
      <template v-slot:leftContent>
        <div class="left">
          <p class="title">
            {{ $t('souscription.assurance.titre') }}
          </p>
          <p class="subTitle" v-html="$t(insuranceInfo.title)" />

          <app-borrower-container
            :hasCoBorrower="isCreditForTwo"
            :principalBorrowerTitle="principalBorrrowerTitle"
            :secondaryBorrowerTitle="'souscription.assurance.assurezVotreConjoint'"
            :messageT1IsNotEligible="'souscription.assurance.messageNonEligible'"
            :isEligibleForT1AndNotT2="isInsuranceEligibleForT1AndNotT2"
            :isEligibleForT2AndNotT1="isInsuranceEligibleForT2AndNotT1"
            :getValidationStatus="getValidationStatus"
            :setT1IsActive="setT1IsActive"
            :t1IsActive="isPrincipal"
            :stepState="stepState"
            :colors="colors"
          >
            <template v-slot:principal>
              <app-insurance-form-content
                :borrower="PRINCIPAL"
                :colors="colors"
                :setAcceptInsuranceOfferValue="setAcceptInsuranceOfferValue"
                :setConfirmRefusalValue="setConfirmRefusal"
                :insurance="insuranceT1"
                :insuranceInfo="insuranceInfo"
                :insurancePrice="insurancePriceT1"
                :updatePrice="updatePrice"
                :radioButtonError="radioButtonErrorT1"
                :confirmationError="confirmationErrorT1"
              />
            </template>
            <template v-slot:secondary>
              <app-insurance-form-content
                :borrower="SECONDARY"
                :colors="colors"
                :setAcceptInsuranceOfferValue="setAcceptInsuranceOfferValue"
                :setConfirmRefusalValue="setConfirmRefusal"
                :insurance="insuranceT2"
                :insuranceInfo="insuranceInfo"
                :insurancePrice="insurancePriceT2"
                :updatePrice="updatePrice"
                :radioButtonError="radioButtonErrorT2"
                :confirmationError="confirmationErrorT2"
              />
            </template>
          </app-borrower-container>

          <div class="bottom-container">
            <app-refuse-insurance-warning
              v-if="insuranceT1.acceptInsuranceOffer === false || insuranceT2.acceptInsuranceOffer === false"
              :title="$t(insuranceInfo.info)"
              :description="$t(insuranceInfo.infoDetail)"
            />
            <div>
              <p class="insuranceFooter">
                <a @click="handleDownload" class="download">
                  {{ $t('souscription.assurance.pourEnSavoirPlus') }}
                </a>
              </p>

              <div class="buttonContainer">
                <app-button
                  v-if="showGoBackToSummaryStepBtn"
                  class="mb-15"
                  type="button"
                  noBackground="true"
                  :label="$t('commun.ctaRecapitulatif')"
                  :onClick="navigateToSummaryStep"
                  :colors="colors"
                />
                <app-button
                  data-cy="next"
                  type="button"
                  class="nextButton button--big"
                  :colors="colors"
                  :label="$t('souscription.assurance.boutonSuivant')"
                  :onClick="handleNextButtonClick"
                >
                </app-button>
                <app-button
                  data-cy="previous"
                  type="button"
                  class="previousButton"
                  :label="$t('souscription.assurance.boutonPrecedent')"
                  :isBackButton="true"
                  :onClick="goPrev"
                  :colors="colors"
                  :forceMobileDisplay="true"
                >
                </app-button>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template v-slot:rightContent>
        <div class="right">
          <div class="warranties-desktop">
            <app-accordion
              id="accordion-desktop"
              :colors="colors"
              :title="$t('souscription.assurance.inclusDansLassurance')"
              :data="warranties"
              v-if="showWarantiesAccordion"
            >
            </app-accordion>
            <app-refuse-insurance-warning
              v-else
              :title="$t(insuranceInfo.info)"
              :description="$t(insuranceInfo.infoDetail)"
            />
          </div>
          <app-popin
            :title="$t('souscription.assurance.inclusDansLassurance')"
            :closeAction="handleCloseClick"
            :active="opened"
            :headerBackgroundColor="colors.quaternary"
            :colors="colors"
            class="warranties-mobile"
          >
            <app-accordion
              id="accordion-mobile"
              :colors="colors"
              :title="$t('souscription.assurance.inclusDansLassurance')"
              :data="warranties"
            />
          </app-popin>
        </div>
      </template>
      <template v-slot:buttons>
        <app-button
          data-cy="next"
          type="button"
          class="nextButton button--big"
          :colors="colors"
          :label="$t('souscription.assurance.boutonSuivant')"
          :onClick="handleNextButtonClick"
        >
        </app-button>
        <app-button
          data-cy="next"
          type="button"
          class="nextButton button--small"
          :colors="colors"
          :label="$t('souscription.assurance.boutonSuivantMedium')"
          :onClick="handleNextButtonClick"
        >
        </app-button>
        <app-button
          data-cy="previous"
          type="button"
          class="previousButton"
          :label="$t('souscription.assurance.boutonPrecedent')"
          :isBackButton="true"
          :onClick="goPrev"
          :colors="colors"
        >
        </app-button>
      </template>
    </app-layout-two-bloc>
    <div class="footer">
      <p class="note">{{ $t(insuranceInfo.insuranceNote) }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Action, Getter, State } from 'vuex-class';
import Component from 'vue-class-component';
import AccordionData from '@/models/AccordionData';
import { Watch } from 'vue-property-decorator';
import { Insurance, InsuranceInfo, InsurancePartnerName } from '@/models/subscription/Insurance';
import { BusinessRule } from '@/services/BusinessRule';
import SimulationApi from '@/services/SimulationApi';
import { fetchPdf } from '@/services/PdfService';
import { saveAs } from 'file-saver';
import { CreditTypeEnum } from '@/models/simulator/business/creditType';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import InsuranceFormContent from '@/components/subscription/form-elements/InsuranceFormContent.vue';
import { PRINCIPAL, SECONDARY } from '@/mixins/getBorrower';
import { SimulationV1Parameter, SimulationParameter } from '@/models/Simulation';
import { convertDate } from '@/utils/strings';
import { SimulatorState } from '@/store/types';
import { InsuranceFormState } from '@/models/subscription/FormState';
import { RoutePathId } from '@/models/RoutesPath';
import { getTagManagerInstance, TagManagerService } from '@/services/tagManagerFactory';
import { AbstractInsuranceStep } from '@/views/SubscriptionSteps/InsuranceSteps/AbstractInsuranceStep';

@Component({
  components: {
    'app-insurance-form-content': InsuranceFormContent
  }
})
export default class InsuranceV1Step extends AbstractInsuranceStep {
  @State((state) => state.subscription.principal.insurance) private insuranceT1!: Insurance;
  @State((state) => state.subscription.principal.civility.birthDate) private birthDateT1!: string;
  @State((state) => state.subscription.secondary.insurance) private insuranceT2!: Insurance;
  @State((state) => state.subscription.secondary.civility.birthDate) private birthDateT2!: string;
  @State((state) => state.apiConfig.offerCode) private offerCode!: string;
  @State((state) => state.apiConfig.partnerCode) private partnerCode!: string;
  @State((state) => state.apiConfig.applicationId) private applicationId!: string;
  @State((state) => state.apiConfig.businessProviderId) private businessProviderId: string;
  @State((state) => state.apiConfig.equipmentCode) private equipmentCode: string;
  @State((state) => state.apiConfig.scaleCode) private scaleCode: string;
  @State((state) => state.formStates.insurance) private insuranceFormState!: InsuranceFormState;

  @Getter private isInsuranceEligibleForT2AndNotT1!: boolean;
  @Getter private isInsuranceEligibleForT1AndNotT2!: boolean;
  @Getter private isVersionSimulationApiIn!: (version: number) => boolean;
  @Getter private getCreditType!: string;

  private confirmationErrorT1 = false;
  private radioButtonErrorT1 = false;
  private confirmationErrorT2 = false;
  private radioButtonErrorT2 = false;
  private updatePrice = false;
  private insurancePriceT1: number | null = null;
  private insurancePriceT2: number | null = null;
  private amount: number | null = null;
  private duration: number | null = null;

  private PRINCIPAL = PRINCIPAL;
  private SECONDARY = SECONDARY;

  private tagManagerService: TagManagerService;
  private businessRules: BusinessRule;

  constructor() {
    super();
    this.tagManagerService = getTagManagerInstance();
    this.businessRules = new BusinessRule();
  }

  private async created() {
    this.updateVisibleRoute({ route: RoutePathId.INSURANCE, visible: true });
    // Call simulation API if no simulation was made before
    if (
      !this.selectedProposal ||
      this.selectedProposal.firstMonthlyInsuranceAmount === null ||
      this.selectedProposal.firstMonthlyInsuranceAmount === undefined
    ) {
      await this.updateInsurancePrice(true, this.isCreditForTwo);
    } else {
      this.insurancePriceT1 = this.selectedProposal.firstMonthlyInsuranceAmount;
    }
  }

  private get warranties(): AccordionData[] {
    const warrantiesObject = this.$t(this.insuranceInfo.warranties);
    return [...Object.keys(warrantiesObject)].map((e) => ({
      title: warrantiesObject[e].titre,
      // @ts-ignore
      imgUrl: `${this.baseUrl}/${warrantiesObject[e].image}`,
      descriptionHtml: warrantiesObject[e].description
    }));
  }

  private handleDownload() {
    // TODO: To improve the genericity, do not condition the insurance pdf url with the partner name
    const insurancePdfUrl =
      this.partnerName === InsurancePartnerName.SOFINCO
        ? this.screenOption('documents-base-url') + this.insuranceInfo.pdf
        : this.documentUrl;
    fetchPdf(insurancePdfUrl).then((response) => {
      saveAs(new Blob([response.data], { type: 'application/pdf' }), 'fiche_information_emprunteur.pdf');
    });
  }

  private handleCloseClick() {
    this.opened = false;
  }

  private handleNextButtonClick() {
    if (this.canGoNext()) {
      this.goToNextStep();
    } else {
      this.handleStepError();
    }
  }

  private handleStepError(): void {
    let t1IsValid = false;
    let t2IsValid = false;

    // Manage principal borrower errors
    if (this.insuranceT1.acceptInsuranceOffer === null) {
      this.radioButtonErrorT1 = true;
    } else if (
      !this.insuranceT1.acceptInsuranceOffer &&
      (this.insuranceT1.confirmRefusal === null || !this.insuranceT1.confirmRefusal)
    ) {
      this.confirmationErrorT1 = true;
    } else {
      t1IsValid = true;
    }

    // Manage secondary errors (only if it is a credit for two)
    if (this.isCreditForTwo) {
      if (this.insuranceT2.acceptInsuranceOffer === null) {
        this.radioButtonErrorT2 = true;
      } else if (
        !this.insuranceT2.acceptInsuranceOffer &&
        (this.insuranceT2.confirmRefusal === null || !this.insuranceT2.confirmRefusal)
      ) {
        this.confirmationErrorT2 = true;
      } else {
        t2IsValid = true;
      }
    }

    // Open T2 tab if T1 have no error et T2 have errors
    if (t1IsValid && !t2IsValid) {
      this.setT1IsActive({
        pathId: this.stepState.pathId,
        t1IsActive: false
      });
    }
  }

  private goToNextStep() {
    const nextStep = this.stepState.getNext();
    if (nextStep !== null) {
      this.animation = true;

      this.goTo(0, () => {
        this.slideLeft = true;

        setTimeout(() => {
          this.tagManagerService.insuranceNextClick(this.insuranceT1.acceptInsuranceOffer);
          this.$router.push({ name: nextStep.pathId });
        }, 300);
      });
    }
  }

  private get insuranceInfo(): InsuranceInfo {
    const { limitYoung, limitSenior, minAgeInsurance, maxAgeInsurance } = BusinessRule.getInsuranceConfiguration(
      this.stepState
    );
    return new BusinessRule(minAgeInsurance, maxAgeInsurance, limitYoung, limitSenior).getInsuranceInfo(
      this.partnerName,
      this.getCreditType,
      this.simulatorState.simulationContext.productId,
      this.isPrincipal ? this.birthDateT1 : this.birthDateT2
    );
  }

  private canGoNext() {
    const insuranceT1Ok = this.insuranceT1.acceptInsuranceOffer === true || this.insuranceT1.confirmRefusal;
    if (this.isCreditForTwo) {
      const insuranceT2Ok = this.insuranceT2.acceptInsuranceOffer === true || this.insuranceT2.confirmRefusal;
      return (
        (this.isInsuranceEligibleForT2AndNotT1 && insuranceT2Ok) ||
        (this.isInsuranceEligibleForT1AndNotT2 && insuranceT1Ok) ||
        (insuranceT1Ok && insuranceT2Ok)
      );
    } else {
      return insuranceT1Ok;
    }
  }

  private get showWarantiesAccordion() {
    return this.isPrincipal
      ? this.insuranceT1.acceptInsuranceOffer !== false
      : this.insuranceT2.acceptInsuranceOffer !== false;
  }

  private setInsuranceValue(formName: string, value: any) {
    const insurance = this.isPrincipal ? this.insuranceT1 : this.insuranceT2;
    insurance[formName] = value;
    const payload = {
      isPrincipal: this.isPrincipal,
      subStateName: 'insurance',
      subStateValue: insurance
    };
    this.setSubscriptionData(payload);
  }

  private setConfirmRefusal(value: boolean) {
    if (this.isPrincipal) {
      this.confirmationErrorT1 = false;
    } else {
      this.confirmationErrorT2 = false;
    }
    this.setInsuranceValue('confirmRefusal', value);
  }

  private setAcceptInsuranceOfferValue(value: boolean) {
    if (this.isPrincipal) {
      this.radioButtonErrorT1 = false;
      this.confirmationErrorT1 = false;
    } else {
      this.radioButtonErrorT2 = false;
      this.confirmationErrorT2 = false;
    }
    this.setInsuranceValue('acceptInsuranceOffer', value);
  }

  private get isPrincipal() {
    return this.getT1IsActive(this.stepState.pathId);
  }

  private get principalBorrrowerTitle(): string {
    return this.isCreditForTwo && this.isInsuranceEligibleForT2AndNotT1
      ? (this.$t('souscription.assurance.nonEligible') as string)
      : (this.$t('souscription.assurance.assurezVous') as string);
  }

  /**
   * Gets the parameters to call the simulation API V1.
   * @param amount the credit amount
   * @param duration the credit duration
   * @param hasInsuranceT1 if t1 has insurance
   * @param hasInsuranceT2 if t2 has insurance
   */
  private getSimulationV1Parameters(hasInsuranceT1: boolean, hasInsuranceT2: boolean): SimulationV1Parameter {
    return {
      amount: this.simulatorState.requiredAmount,
      duration: this.simulatorState.dueNumber,
      birthdateT1: convertDate(this.birthDateT1),
      birthdateT2: this.birthDateT2 ? convertDate(this.birthDateT2) : null,
      hasInsuranceT1,
      hasInsuranceT2,
      sourceId: this.simulatorState.simulationContext.sourceId,
      projectId: this.simulatorState.simulationContext.projectId
    };
  }

  /**
   * Gets the credit duration. If the 'creditDuration' is not present in the store
   * then the value is retrieved from the screenOptions.
   */
  private getCreditDuration() {
    return this.simulatorState.dueNumber
      ? Number(this.simulatorState.dueNumber)
      : this.screenOption('duration-simulation');
  }

  /**
   * Gets the credit amount. If the 'creditAmount' is not present in the store
   * then the value is retrieved from screenOptions.
   */
  private getCreditAmount() {
    return this.simulatorState.requiredAmount
      ? Number(this.simulatorState.requiredAmount)
      : this.screenOption('amount-simulation');
  }

  /**
   * Call the simulation API in order to update the insurance price.
   *
   * @param hasInsuranceT1 if t1 has an insurance
   * @param hasInsuranceT2 if t2 has an insurance
   */
  private async updateInsurancePrice(hasInsuranceT1: boolean, hasInsuranceT2: boolean) {
    this.updatePrice = true;
    const amount = this.getCreditAmount();
    const duration = this.getCreditDuration();

    try {
      let res;
      // If the partner config contains simulation API version that equals to 1, call the old simulation API
      // Else call the new API
      if (this.isVersionSimulationApiIn(1)) {
        const params = this.getSimulationV1Parameters(hasInsuranceT1, hasInsuranceT2);
        res = await SimulationApi.getSimulationV1(params);
        const insuranceAmountT1 = res[0].monthlyInsuranceAmount;
        const insuranceAmountT2 = res[0].monthlyInsuranceAmountT2;
        // If the amount returned by the API is equal to 0, we keep the previous insurance price
        this.insurancePriceT1 = insuranceAmountT1 > 0 ? insuranceAmountT1 : this.insurancePriceT1;
        this.insurancePriceT2 = insuranceAmountT2 > 0 ? insuranceAmountT2 : this.insurancePriceT2;
      } else {
        const simulationParameter: SimulationParameter = {
          amount,
          duration,
          hasInsurance: true,
          businessProviderId: this.businessProviderId,
          equipmentCode: this.equipmentCode,
          scaleCode: this.scaleCode
        };
        if (this.getCreditType === CreditTypeEnum.LOAN) {
          res = await SimulationApi.getLoanSimulation(simulationParameter);
        } else {
          res = await SimulationApi.getRevolvingSimulation(simulationParameter, true);
        }
        this.insurancePriceT1 = res[0].firstMonthlyInsuranceAmount;
      }
      this.updateProposals(res);
      this.updatePrice = false;
    } catch (err) {
      await this.$router.push({ name: RoutePathId.ERROR_PAGE, params: { isFromForm: 'true' } });
    }
  }

  /**
   * Update the insurance price depending of the T1/T2 choice.
   */
  private updateInsurancePriceOnInsuranceChange(): void {
    if (this.isCreditForTwo) {
      const hasInsuranceT1 = !(this.insuranceT1.confirmRefusal && !this.insuranceT1.acceptInsuranceOffer);
      const hasInsuranceT2 = !(this.insuranceT2.confirmRefusal && !this.insuranceT2.acceptInsuranceOffer);
      // If T1 and T2 have no insurance we send to the API that they have the insurance to have the original price
      const t1AndT2HaveNoInsurance = !hasInsuranceT1 && !hasInsuranceT2;
      this.updateInsurancePrice(
        t1AndT2HaveNoInsurance ? true : hasInsuranceT1,
        t1AndT2HaveNoInsurance ? true : hasInsuranceT2
      );
    }
  }

  /**
   * Watch changes on T1 insurance in order to update the insurance price.
   */
  @Watch('insuranceT1', { deep: true })
  private onInsuranceT1Change(): void {
    this.updateInsurancePriceOnInsuranceChange();
  }

  /**
   * Watch changes on T2 insurance in order to update the insurance price.
   */
  @Watch('insuranceT2', { deep: true })
  private onInsuranceT2Change(): void {
    this.updateInsurancePriceOnInsuranceChange();
  }
}
</script>

<style lang="scss" scoped>
.insurance {
  .headerButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
    color: $color-white;
    font-size: 16px;
    font-family: $font-medium;
    margin-bottom: 30px;
    background-color: $color-headband-mobile;

    @media screen and (min-width: $width_S) {
      display: none;
    }

    img {
      transform: rotate(180deg);
    }
  }

  .left {
    background-color: $color-white;
    padding: 0 20px 30px;

    @media screen and (min-width: $width_S) {
      padding: 50px 50px 0;
    }

    .title {
      font-size: 30px;
      font-family: $font-bold;
      line-height: 34px;
      color: $color-title;
    }

    .subTitle {
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 18px;
      color: $color-grey-black;
    }

    .radioContainer {
      .okContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: $font-bold;
        &.active {
          color: $color-white;
        }
        #shield {
          margin-right: 15px;
        }
      }
    }

    .bottom-container {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $width_S) {
        flex-direction: column-reverse;
      }

      .warning {
        @media screen and (min-width: $width_S) {
          display: none;
        }
      }

      .buttonContainer {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: $width_M) {
          display: none;
        }

        .button {
          width: 100%;
          &--big {
            display: flex;
          }

          &.mb-15 {
            margin-bottom: 15px;
          }
        }
      }

      .insuranceFooter {
        position: relative;
        margin-bottom: 0;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-top: 1px solid $color-grey-light;
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
        line-height: 14px;

        @media screen and (min-width: $width_S) {
          background-color: $color-white;
          width: 100%;
          left: 0;
        }

        @media screen and (min-width: $width_M) {
          padding-bottom: 30px;
        }

        .download {
          font-family: $font-medium;
          color: $color-partner-1;
          transition: color 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }

  .footer {
    padding-top: 20px;
    background-color: $color-bg-container;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $form-max-width;
    padding-bottom: 0;
    margin: 0 auto 2px;

    @media screen and (min-width: $width_S) {
      max-width: none;
      width: grid(5);
      padding: 0 0 30px 0;
    }

    @media screen and (min-width: $width_M) {
      text-align: left;
      margin: 0 auto;
      padding: 0 25vw 0 0;
      width: grid(7);
    }

    .note {
      padding: 0 20px;
      font-size: 12px;
      line-height: 18px;
      color: $color-grey-black;
      font-family: $font-regular;
      margin-bottom: 20px;

      @media screen and (min-width: $width_S) {
        margin-bottom: 0;
        padding: 0;
      }

      @media screen and (min-width: $width_M) {
        text-align: left;
      }
    }
  }
}

.warranties {
  &-desktop {
    display: none;
    @media screen and (min-width: $width_M) {
      display: block;
    }

    .warning {
      display: block;
    }
  }

  &-mobile {
    @media screen and (min-width: $width_M) {
      display: none;
    }
  }
}

.spanBefore,
.spanAfter,
.after {
  color: $color-partner-1;
}
</style>
