<template>
  <div class="insurance">
    <div class="insurance__mobile-banner" @click="openWarrantiesInsurancePopin">
      {{ bannerMobileTitle }}
      <img :src="`${baseUrl}/left-arrow-white.svg`" alt="Flèche" />
    </div>
    <app-layout-two-bloc :animation="animation" :slideLeft="slideLeft" :slideRight="slideRight">
      <!-- Insurance selection bloc -->
      <template v-slot:leftContent>
        <div class="insurance__left-bloc">
          <p class="insurance__left-bloc__title">
            {{ $t('souscription.assurancev2.commun.titre') }}
          </p>
          <p class="insurance__left-bloc__subtitle" v-html="$t('souscription.assurancev2.commun.sousTitre')" />
          <app-borrower-container
            :hasCoBorrower="isCreditForTwo"
            :principalBorrowerTitle="principalBorrrowerTitle"
            secondaryBorrowerTitle="souscription.assurance.assurezVotreConjoint"
            messageT1IsNotEligible="souscription.assurance.messageNonEligible"
            :isEligibleForT1AndNotT2="isInsuranceEligibleForT1AndNotT2"
            :isEligibleForT2AndNotT1="isInsuranceEligibleForT2AndNotT1"
            :getValidationStatus="getValidationStatus"
            :setT1IsActive="setT1IsActive"
            :t1IsActive="isPrincipal"
            :stepState="stepState"
            :colors="colors"
            @onActiveTabChange="updateInsuranceAmountIfNeeded"
          >
            <template v-slot:principal>
              <app-insurancev2-form-content
                :selectInsuranceButtonsList="principalSelectInsuranceButtonsList"
                :refuseInsuranceButton="principalRefuseInsuranceButton"
                :insuranceInformation="insuranceInformation"
                :showRefuseInsuranceWarning="showRefuseInsuranceWarning"
                :refuseInsuranceWarningTitle="refuseInsuranceWarning.title"
                :refuseInsuranceWarningDescription="refuseInsuranceWarning.description"
                @onSelectSelectButton="selectInsuranceButton"
                @onSelectRefuseButton="selectRefuseInsuranceButton"
                @onRefuseButtonCheck="updateCheckRefuseInsuranceButton(true)"
                @onUncheckRefuseButton="updateCheckRefuseInsuranceButton(false)"
              />
            </template>
            <template v-slot:secondary>
              <app-insurancev2-form-content
                :selectInsuranceButtonsList="secondarySelectInsuranceButtonsList"
                :refuseInsuranceButton="secondaryRefuseInsuranceButton"
                :insuranceInformation="insuranceInformation"
                :showRefuseInsuranceWarning="showRefuseInsuranceWarning"
                :refuseInsuranceWarningTitle="refuseInsuranceWarning.title"
                :refuseInsuranceWarningDescription="refuseInsuranceWarning.description"
                :tooltip="tooltipSecondaryBorrower"
                @onSelectSelectButton="selectInsuranceButton"
                @onSelectRefuseButton="selectRefuseInsuranceButton"
                @onRefuseButtonCheck="updateCheckRefuseInsuranceButton(true)"
                @onUncheckRefuseButton="updateCheckRefuseInsuranceButton(false)"
              />
            </template>
          </app-borrower-container>
          <!-- Buttons container (display only on mobile) -->
          <div class="bottom-container">
            <div class="buttonContainer">
              <app-button
                v-if="showGoBackToSummaryStepBtn"
                class="mb-15"
                type="button"
                noBackground="true"
                :label="$t('commun.ctaRecapitulatif')"
                :onClick="navigateToSummaryStep"
                :colors="colors"
              />
              <app-button
                type="button"
                class="nextButton"
                :colors="colors"
                :label="$t('souscription.assurance.boutonSuivant')"
                :onClick="handleNextButtonClick"
              >
              </app-button>
              <app-button
                type="button"
                :label="$t('souscription.assurance.boutonPrecedent')"
                :isBackButton="true"
                :onClick="goPrev"
                :colors="colors"
              >
              </app-button>
            </div>
          </div>
        </div>
      </template>
      <!-- Insurance warranties bloc (display only on desktop) -->
      <template v-slot:rightContent>
        <div class="insurance__right-bloc">
          <div class="insurance__right-bloc__warranties d-desktop">
            <app-accordion
              id="desktop-included-warranties"
              :colors="colors"
              :title="warrantiesTitleOnDesktop"
              :data="warrantiesOnDesktop"
              v-if="!hideWarrantiesOnDesktop"
            />
            <app-accordion
              id="desktop-not-included-warranties"
              :colors="colors"
              :title="$t('souscription.assurancev2.commun.titreGarantiesNonInclu')"
              :data="warrantiesNotIncludedOnDesktop"
              :warning="true"
              v-if="showWarrantiesNotIncludedOnDesktop"
            />
          </div>
          <div class="insurance__right-bloc__warranties-popin">
            <!-- Warranties popin (display only on mobile) -->
            <app-popin
              :title="mobileWarrantiesTitle"
              :closeAction="closeWarrantiesInsurancePopin"
              :active="opened"
              :headerBackgroundColor="colors.quaternary"
              :colors="colors"
              class="warranties-mobile"
            >
              <app-accordion
                id="accordion-mobile"
                :dataList="warrantiesOnMobile"
                :forceShowTitle="warrantiesOnMobile.length > 1"
              />
            </app-popin>
          </div>
          <div class="insurance__right-bloc__warning">
            <app-refuse-insurance-warning
              v-if="showRefuseInsuranceWarning"
              :title="refuseInsuranceWarning.title"
              :description="refuseInsuranceWarning.description"
            />
          </div>
        </div>
      </template>
      <!-- Buttons container (display only on desktop) -->
      <template v-slot:buttons>
        <app-button
          type="button"
          class="nextButton"
          :colors="colors"
          :label="$t('souscription.assurance.boutonSuivant')"
          :onClick="handleNextButtonClick"
        >
        </app-button>
        <app-button
          type="button"
          class="previousButton"
          :label="$t('souscription.assurance.boutonPrecedent')"
          :isBackButton="true"
          :onClick="goPrev"
          :colors="colors"
        >
        </app-button>
      </template>
    </app-layout-two-bloc>
    <div class="insurance__footer">
      <p class="insurance__footer__download">
        <a class="insurance__footer__download__link" @click="handleDownload">
          <span class="insurance__footer__download__link__text">
            <span class="before"></span>
            {{ $t('souscription.assurancev2.commun.pourEnSavoirPlus') }}
          </span>
        </a>
      </p>
      <p class="insurance__footer__note" v-html="insuranceNote" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { Mutation, State } from 'vuex-class';
import { InsuranceCodeByType, InsuranceInfoV2, InsuranceV2, InsuranceV2Type } from '@/models/subscription/InsuranceV2';
import { BusinessRule } from '@/services/BusinessRule';
import InsuranceV2FormContent from '@/components/subscription/form-elements/InsuranceV2FormContent.vue';
import { SelectInsuranceBtn } from '@/models/components/insurance/SelectInsuranceBtn';
import { InsuranceButtonStatus } from '@/models/components/insurance/InsuranceButtonStatus';
import { RefuseInsuranceBtn } from '@/models/components/insurance/RefuseInsuranceBtn';
import { getBorrower } from '@/mixins/getBorrower';
import { InsurancePartnerName } from '@/models/subscription/Insurance';
import { fetchPdf } from '@/services/PdfService';
import { saveAs } from 'file-saver';
import { RoutePathId } from '@/models/RoutesPath';
import { RootState, SubscriptionData } from '@/store/types';
import { AbstractInsuranceStep } from '@/views/SubscriptionSteps/InsuranceSteps/AbstractInsuranceStep';
import AccordionData, { AccordionDataList } from '@/models/AccordionData';
import { getBaseUrl } from '@/mixins/getBaseUrl';
import { ToolTip, TooltipLevel } from '@/models/Tooltip';
import { SimulationV1Parameter } from '@/models/Simulation';
import { convertDate } from '@/utils/strings';
import SimulationApi from '@/services/SimulationApi';
import { InsuranceFormState } from '@/models/subscription/FormState';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';

@Component({
  components: {
    'app-insurancev2-form-content': InsuranceV2FormContent
  }
})
export default class InsuranceV2Step extends AbstractInsuranceStep {
  @State((state: RootState) => state.subscription.principal.insurancev2) private t1Insurance: InsuranceV2;
  @State((state: RootState) => state.subscription.secondary.insurancev2) private t2Insurance: InsuranceV2;
  @State((state: RootState) => state.subscription.principal) private t1SubscriptionData: SubscriptionData;
  @State((state: RootState) => state.subscription.secondary) private t2SubscriptionData: SubscriptionData;
  @State((state: RootState) => state.subscription.formStates.insurance) private insuranceFormState: InsuranceFormState;
  @State((state: RootState) => state.simulator.recommendedProposal)
  private recommendedProposal: SimulationFinancialProposal;
  @State((state: RootState) => state.simulator.alternativeProposal)
  private alternativeProposal: SimulationFinancialProposal;

  @Mutation private updateRecommendedProposal: (recommendedProposal: SimulationFinancialProposal) => void;
  @Mutation private updateAlternativeProposal: (alternative: SimulationFinancialProposal) => void;

  private businessRule = new BusinessRule();

  // Select insurances buttons list for the principal and secondary
  private principalSelectInsuranceButtonsList: SelectInsuranceBtn[] = [];
  private secondarySelectInsuranceButtonsList: SelectInsuranceBtn[] = [];

  // Refuse insurances buttons for the principal and secondary borrower
  private principalRefuseInsuranceButton: RefuseInsuranceBtn = null;
  private secondaryRefuseInsuranceButton: RefuseInsuranceBtn = null;

  private previousT1HasInsurance = null;
  private previousT2HasInsurance = null;

  private created() {
    // Initialization of the insurance selection and refusal buttons for the principal borrower
    this.initSelectInsuranceButtonsList(true);
    this.initRefuseInsuranceButton(true);

    // Initialization of the insurance selection and refusal buttons for the co-borrower
    if (this.isCreditForTwo) {
      this.initSelectInsuranceButtonsList(false);
      this.initRefuseInsuranceButton(false);
    }

    // Call simulation API if the recommended and alternative proposal have not been initialized
    // For ex: when the subscription state is restored from basket (interruptibility)
    if (!this.recommendedProposal && !this.alternativeProposal) {
      this.updateInsuranceAmountIfNeeded(true);
    }

    // If T1 is not eligible to insurance, force to open T2 container
    // If T2 is not eligible to insurance and is active, force to open T1 container
    if (this.isInsuranceEligibleForT2AndNotT1) {
      this.setT1IsActive({
        pathId: this.stepState.pathId,
        t1IsActive: false
      });
    } else if (this.isInsuranceEligibleForT1AndNotT2 && !this.isPrincipal) {
      this.setT1IsActive({
        pathId: this.stepState.pathId,
        t1IsActive: true
      });
    }

    // Show insurance step in left sidebar
    this.updateVisibleRoute({ route: RoutePathId.INSURANCE, visible: true });
  }

  private get principalBorrrowerTitle(): string {
    return this.isCreditForTwo && this.isInsuranceEligibleForT2AndNotT1
      ? (this.$t('souscription.assurance.nonEligible') as string)
      : (this.$t('souscription.assurance.assurezVous') as string);
  }

  private get isPrincipal(): boolean {
    return this.getT1IsActive(this.stepState.pathId);
  }

  private get isInsuranceEligibleForT2AndNotT1(): boolean {
    return this.insuranceFormState.t2IsEligible && !this.insuranceFormState.t1IsEligible;
  }

  private get isInsuranceEligibleForT1AndNotT2(): boolean {
    return this.insuranceFormState.t1IsEligible && !this.insuranceFormState.t2IsEligible;
  }

  private get insuranceInformation(): string {
    return this.$t('souscription.assurancev2.commun.infoRenonciation') as string;
  }

  private get insurancePdf(): string {
    // If there is an insurance selected, get the pdf from its insurance info file
    // Else get the pdf from the insurance that has the most important
    if (this.selectedInsurance !== null) {
      return this.$t(this.businessRule.getInsuranceInfoV2ByInsuranceType(this.selectedInsurance).pdf) as string;
    } else {
      return this.$t(this.insurancesInfoSortedByImportance[0].pdf) as string;
    }
  }

  private get getSelectInsuranceButtonListOfActiveBorrower(): SelectInsuranceBtn[] {
    return this.isPrincipal ? this.principalSelectInsuranceButtonsList : this.secondarySelectInsuranceButtonsList;
  }

  private get getRefuseInsuranceButtonOfActiveBorrower(): RefuseInsuranceBtn {
    return this.isPrincipal ? this.principalRefuseInsuranceButton : this.secondaryRefuseInsuranceButton;
  }

  private get selectedInsurance(): InsuranceV2Type {
    return this.isPrincipal ? this.t1Insurance.selectedInsurance : this.t2Insurance.selectedInsurance;
  }

  private get activeInsurance(): InsuranceV2 {
    return this.isPrincipal ? this.t1Insurance : this.t2Insurance;
  }

  /**
   * Get insurance info (from json file):
   * - if an insurance is selected, get the insurance info by its type and display the warranties title
   * - else get all the available insurances and display warranties title of the insurance with the highest importance
   */
  private get activeInsuranceInfoV2() {
    if (this.activeInsurance.selectedInsurance !== null) {
      return this.businessRule.getInsuranceInfoV2ByInsuranceType(this.activeInsurance.selectedInsurance);
    } else {
      return this.insurancesInfoSortedByImportance[0];
    }
  }

  private get hideWarrantiesOnDesktop(): boolean {
    return this.getRefuseInsuranceButtonOfActiveBorrower.status !== InsuranceButtonStatus.INITIAL;
  }

  /**
   * Show the not included warranties bloc if the insurance contains not included warranties and if there is at least more than one insurance.
   * For example:
   * - if the client is only eligible to the alternative insurance, the not included warranties must not be displayed
   */
  private get showWarrantiesNotIncludedOnDesktop(): boolean {
    return this.warrantiesNotIncludedOnDesktop !== null && this.getSelectInsuranceButtonListOfActiveBorrower.length > 1;
  }

  private get showRefuseInsuranceWarning(): boolean {
    return this.getRefuseInsuranceButtonOfActiveBorrower.status !== InsuranceButtonStatus.INITIAL;
  }

  private get refuseInsuranceWarning() {
    return {
      title: this.$t(this.insurancesInfoSortedByImportance[0].refuseInfoTitle) as string,
      description: this.$t(this.insurancesInfoSortedByImportance[0].refuseInfoDetail) as string
    };
  }

  /**
   * Get the available list of insurances for the active borrower and sort the list by importance.
   *
   * For example, if the recommended insurance has an importance of 1 and the alternative insurance has an importance of 2,
   * the first insurance in the list will be the recommended insurance and the second insurance alternative.
   */
  private get insurancesInfoSortedByImportance(): InsuranceInfoV2[] {
    const selectInsuranceButtonsList = this.getSelectInsuranceButtonListOfActiveBorrower;
    return selectInsuranceButtonsList
      .map((button) => this.businessRule.getInsuranceInfoV2ByInsuranceType(button.type))
      .sort((a, b) => {
        const aImportance = parseInt(this.$t(a.importance) as string, 10);
        const bImportance = parseInt(this.$t(b.importance) as string, 10);
        return aImportance < bImportance ? -1 : aImportance > bImportance ? 1 : 0;
      });
  }

  private get warrantiesTitleOnDesktop(): string {
    const activeSelectInsuranceBtnList = this.getSelectInsuranceButtonListOfActiveBorrower;
    // If there is only one available insurance, the default title will be display
    if (activeSelectInsuranceBtnList.length === 1) {
      return this.$t('souscription.assurancev2.commun.titreGarantie') as string;
    } else {
      return this.$t(this.activeInsuranceInfoV2.warrantiesTitle) as string;
    }
  }

  private get warrantiesOnDesktop(): AccordionData[] {
    return this.getAccordionDataFromInsuranceWarranties(this.$t(this.activeInsuranceInfoV2.warranties));
  }

  private get warrantiesNotIncludedOnDesktop(): AccordionData[] {
    return this.getAccordionDataFromInsuranceWarranties(this.$t(this.activeInsuranceInfoV2.notIncludedWarranties));
  }

  private get warrantiesOnMobile(): AccordionDataList[] {
    // If the borrower is only eligible to one insurance, get the insurance warranties of it
    // Else get the specific and common insurance warranties from all insurances
    const accordionDataList: AccordionDataList[] = [];
    if (this.getSelectInsuranceButtonListOfActiveBorrower.length === 1) {
      // Get the current type of insurance from the active borrower to retrieve the insurance file
      const insuranceType = this.getSelectInsuranceButtonListOfActiveBorrower[0].type;
      const insuranceInfo = this.businessRule.getInsuranceInfoV2ByInsuranceType(insuranceType);
      const warranties: AccordionData[] = this.getAccordionDataFromInsuranceWarranties(
        this.$t(insuranceInfo.warranties)
      );
      accordionDataList.push({
        accordionData: warranties
      });
    } else {
      const specificWarrantiesList: AccordionDataList[] = [];
      const commonWarrantiesList: AccordionData[] = [];

      // Iterate over all available insurances and get the specific and common warranties of each one
      this.getSelectInsuranceButtonListOfActiveBorrower.forEach((button) => {
        const insuranceInfo = this.businessRule.getInsuranceInfoV2ByInsuranceType(button.type);

        // Manage specific warranties
        if (insuranceInfo.specificWarranties) {
          const specificWarranties: AccordionData[] = this.getAccordionDataFromInsuranceWarranties(
            this.$t(insuranceInfo.specificWarranties)
          );
          specificWarrantiesList.push({
            title: this.$t(insuranceInfo.specificWarrantiesTitle) as string,
            accordionData: specificWarranties
          });
        }

        // Manage common warranties
        if (insuranceInfo.commonWarranties) {
          const commonWarranties: AccordionData[] = this.getAccordionDataFromInsuranceWarranties(
            this.$t(insuranceInfo.commonWarranties)
          );
          commonWarrantiesList.push(...commonWarranties);
        }
      });

      // The specific warranties must display before the common warranties
      // Push all specific warranties to the accordion data list
      if (specificWarrantiesList.length > 0) {
        accordionDataList.push(...specificWarrantiesList);
      }

      // Push all common warranties to the accordion data list
      if (commonWarrantiesList.length > 0) {
        accordionDataList.push({
          title: this.$t('souscription.assurancev2.commun.titreGarantiesCommunes') as string,
          accordionData: commonWarrantiesList
        });
      }
    }

    return accordionDataList;
  }

  private get recommendedInsuranceInfo(): InsuranceInfoV2 {
    return this.businessRule.getInsuranceInfoV2ByInsuranceType(InsuranceV2Type.RECOMMENDED);
  }

  private get alternativeInsuranceInfo(): InsuranceInfoV2 {
    return this.businessRule.getInsuranceInfoV2ByInsuranceType(InsuranceV2Type.ALTERNATIVE);
  }

  private get tooltipSecondaryBorrower(): ToolTip {
    const principalAvailableInsurance = this.principalSelectInsuranceButtonsList.length;
    const secondaryAvailableInsurance = this.secondarySelectInsuranceButtonsList.length;

    // If the secondary borrower has less or more insurances available than the principal, a tooltip must be displayed
    const hasTooltip =
      !this.isInsuranceEligibleForT2AndNotT1 && principalAvailableInsurance !== secondaryAvailableInsurance;

    // If the secondary borrower has more insurances, the text is different from the one if it contains less
    const secondaryHasMoreInsurance =
      this.secondarySelectInsuranceButtonsList.length > this.principalSelectInsuranceButtonsList.length;
    const mobileText = secondaryHasMoreInsurance
      ? (this.$t('souscription.assurancev2.commun.eligibleAuxAssurancesMobile') as string)
      : (this.$t('souscription.assurancev2.commun.eligibleALassuranceMobile') as string);
    const desktopText = secondaryHasMoreInsurance
      ? (this.$t('souscription.assurancev2.commun.eligibleAuxAssurancesDesktop') as string)
      : (this.$t('souscription.assurancev2.commun.eligibleALassuranceDesktop') as string);

    const tooltip: ToolTip = {
      imgSrc: this.$t('souscription.assurancev2.commun.tooltipInfoConjointImg') as string,
      text: window.screen.width < 768 ? mobileText : desktopText,
      alt: 'Information',
      level: TooltipLevel.INFO
    };
    return hasTooltip ? tooltip : null;
  }

  private get bannerMobileTitle(): string {
    return this.getSelectInsuranceButtonListOfActiveBorrower.length === 1
      ? (this.$t('souscription.assurancev2.commun.titreBandeauMobileUneAssurance') as string)
      : (this.$t('souscription.assurancev2.commun.titreBandeauMobile') as string);
  }

  private get mobileWarrantiesTitle(): string {
    return this.getSelectInsuranceButtonListOfActiveBorrower.length === 1
      ? (this.$t('souscription.assurancev2.commun.popinGarantiesTitreUneAssurance') as string)
      : (this.$t('souscription.assurancev2.commun.popinGarantiesTitre') as string);
  }

  private initSelectInsuranceButtonsList(isPrincipal: boolean): void {
    this.initRecommendedSelectInsuranceButton(isPrincipal);
    this.initAlternativeSelectInsuranceButton(isPrincipal);

    // If there is only one insurance, the button title is different from insurance file title
    const selectInsuranceButtonList = isPrincipal
      ? this.principalSelectInsuranceButtonsList
      : this.secondarySelectInsuranceButtonsList;
    if (selectInsuranceButtonList.length === 1) {
      selectInsuranceButtonList[0].title = this.$t(
        'souscription.assurancev2.commun.jeSouhaiteEtreCouvertCta'
      ) as string;
      selectInsuranceButtonList[0].image = this.$t('souscription.assurancev2.commun.iconUneAssurance') as string;
    }
  }

  private initAlternativeSelectInsuranceButton(isPrincipal: boolean): void {
    const isEligibleToAlternativeInsurance = isPrincipal
      ? this.insuranceFormState.t1IsEligibleAlternative
      : this.insuranceFormState.t2IsEligibleAlternative;
    if (isEligibleToAlternativeInsurance) {
      const amount = this.getMonthlyInsuranceAmount(isPrincipal, InsuranceV2Type.ALTERNATIVE);
      const alternativeSelectInsuranceButton = this.getSelectInsuranceButtonInfo(
        this.alternativeInsuranceInfo,
        amount,
        InsuranceV2Type.ALTERNATIVE
      );

      // Select the button if it has already been selected and add it to the insurance buttons list
      this.hasAlreadySelectedInsurance(isPrincipal, alternativeSelectInsuranceButton);
      this.addInsuranceToSelectInsuranceButtonList(isPrincipal, alternativeSelectInsuranceButton);
    }
  }

  private initRecommendedSelectInsuranceButton(isPrincipal: boolean): void {
    // Add the recommended insurance to the select insurance buttons list if the client is eligible
    const isEligibleToRecommendedInsurance = isPrincipal
      ? this.insuranceFormState.t1IsEligibleRecommended
      : this.insuranceFormState.t2IsEligibleRecommended;
    if (isEligibleToRecommendedInsurance) {
      const amount = this.getMonthlyInsuranceAmount(isPrincipal, InsuranceV2Type.RECOMMENDED);
      const recommendedSelectInsuranceButton = this.getSelectInsuranceButtonInfo(
        this.recommendedInsuranceInfo,
        amount,
        InsuranceV2Type.RECOMMENDED
      );

      // The recommended insurance button must be highlighted
      recommendedSelectInsuranceButton.isHighlighted = true;
      recommendedSelectInsuranceButton.highlightedText = this.$t(
        'souscription.assurancev2.recommande.notreRecommandation'
      ) as string;

      // Select the button if it has already been selected and add it to the insurance buttons list
      this.hasAlreadySelectedInsurance(isPrincipal, recommendedSelectInsuranceButton);
      this.addInsuranceToSelectInsuranceButtonList(isPrincipal, recommendedSelectInsuranceButton);
    }
  }

  private initRefuseInsuranceButton(isPrincipal: boolean): void {
    // If the client is eligible to both insurances we get the refuse text from the recommended insurance
    // Else we get the text from alternative insurance
    const isEligibleToRecommendedInsurance = isPrincipal
      ? this.insuranceFormState.t1IsEligibleRecommended
      : this.insuranceFormState.t1IsEligibleAlternative;
    const insuranceInfo: InsuranceInfoV2 = isEligibleToRecommendedInsurance
      ? this.recommendedInsuranceInfo
      : this.alternativeInsuranceInfo;
    const refuseInsuranceButton = this.getRefuseInsuranceButtonInfo(insuranceInfo, isPrincipal);

    this.hasAlreadyRefuseInsurance(isPrincipal, refuseInsuranceButton);
    this[isPrincipal ? 'principalRefuseInsuranceButton' : 'secondaryRefuseInsuranceButton'] = refuseInsuranceButton;
  }

  private hasAlreadySelectedInsurance(isPrincipal: boolean, selectButton: SelectInsuranceBtn): void {
    const insurance: InsuranceV2 = this[isPrincipal ? 't1Insurance' : 't2Insurance'];
    if (insurance.selectedInsurance !== null && insurance.selectedInsurance === selectButton.type) {
      selectButton.status = InsuranceButtonStatus.SELECTED;
    }
  }

  private hasAlreadyRefuseInsurance(isPrincipal, refuseButton: RefuseInsuranceBtn): void {
    if (this[isPrincipal ? 't1Insurance' : 't2Insurance'].refuseInsurance) {
      refuseButton.status = InsuranceButtonStatus.SELECTED;
      refuseButton.isChecked = true;
    }
  }

  private addInsuranceToSelectInsuranceButtonList(
    isPrincipal: boolean,
    selectInsuranceButton: SelectInsuranceBtn
  ): void {
    if (isPrincipal) {
      this.principalSelectInsuranceButtonsList.push(selectInsuranceButton);
    } else {
      this.secondarySelectInsuranceButtonsList.push(selectInsuranceButton);
    }
  }

  private getSelectInsuranceButtonInfo(
    insuranceInfo: InsuranceInfoV2,
    amount: number,
    insuranceType: InsuranceV2Type
  ): SelectInsuranceBtn {
    const title = this.$t(insuranceInfo.title) as string;
    const image = this.$t(insuranceInfo.image) as string;
    const shortWarrantiesObject = this.$t(insuranceInfo.shortWarranties);
    const shortWarranties: string[] = [...Object.keys(shortWarrantiesObject)].map(
      (warrantyIndex) => shortWarrantiesObject[warrantyIndex].titre
    );
    return {
      image,
      title,
      amount,
      shortWarranties,
      type: insuranceType,
      status: InsuranceButtonStatus.INITIAL,
      isHighlighted: false,
      isLoading: false
    };
  }

  private getRefuseInsuranceButtonInfo(insuranceInfo: InsuranceInfoV2, isPrincipal: boolean): RefuseInsuranceBtn {
    const title = this.$t('souscription.assurancev2.commun.refuseCTA') as string;
    const uniqueId = `confirm-result-${getBorrower.methods.getBorrower(isPrincipal)}`;
    const confirmationText = this.$t(insuranceInfo.refuseCTA) as string;
    const errorText = this.$t('souscription.assurance.confirmationIndication') as string;
    return {
      uniqueId,
      title,
      confirmationText,
      errorText,
      isChecked: false,
      isInError: false,
      status: InsuranceButtonStatus.INITIAL
    };
  }

  private getMonthlyInsuranceAmount(isPrincipal: boolean, insuranceType: InsuranceV2Type): number {
    let amount;
    if (insuranceType === InsuranceV2Type.RECOMMENDED) {
      amount = this.recommendedProposal
        ? isPrincipal
          ? this.recommendedProposal.monthlyInsuranceAmount
          : this.recommendedProposal.monthlyInsuranceAmountT2
        : null;
    } else {
      amount = this.alternativeProposal
        ? isPrincipal
          ? this.alternativeProposal.monthlyInsuranceAmount
          : this.alternativeProposal.monthlyInsuranceAmountT2
        : null;
    }
    return amount;
  }

  private get insuranceNote(): string {
    if (
      (this.isPrincipal && this.insuranceFormState.t1IsEligibleRecommended) ||
      (!this.isPrincipal && this.insuranceFormState.t2IsEligibleRecommended)
    ) {
      return this.$t(this.recommendedInsuranceInfo.insuranceNote) as string;
    } else {
      return this.$t(this.alternativeInsuranceInfo.insuranceNote) as string;
    }
  }

  private handleDownload(): void {
    const insurancePdfUrl =
      this.partnerName === InsurancePartnerName.SOFINCO
        ? this.screenOption('documents-base-url') + this.insurancePdf
        : this.documentUrl;
    fetchPdf(insurancePdfUrl).then((response) => {
      saveAs(new Blob([response.data], { type: 'application/pdf' }), 'fiche_information_emprunteur.pdf');
    });
  }

  private selectInsuranceButton(selectedButton: SelectInsuranceBtn): void {
    // Select the clicked button and deselect the other insurance selection buttons
    this.getSelectInsuranceButtonListOfActiveBorrower.forEach((button: SelectInsuranceBtn) => {
      if (selectedButton !== button) {
        button.status = InsuranceButtonStatus.INITIAL;
      }
    });

    // Change the status of the selected button and update the store with the insurance selected type
    selectedButton.status = InsuranceButtonStatus.SELECTED;
    this.setInsuranceValue('selectedInsurance', selectedButton.type);

    // If the refuse insurance button was previously selected
    if (
      this.getRefuseInsuranceButtonOfActiveBorrower.status !== InsuranceButtonStatus.INITIAL ||
      this.getRefuseInsuranceButtonOfActiveBorrower.isInError
    ) {
      if (this.getRefuseInsuranceButtonOfActiveBorrower.isChecked) {
        this.updateInsuranceAmountIfNeeded();
      }
      this.resetRefuseInsuranceButton();
    }
  }

  private selectRefuseInsuranceButton(): void {
    const refuseInsuranceButton = this.getRefuseInsuranceButtonOfActiveBorrower;
    refuseInsuranceButton.status = InsuranceButtonStatus.SELECTED;
    refuseInsuranceButton.isInError = false;
    this.resetSelectedSelectInsuranceButton();
  }

  private updateCheckRefuseInsuranceButton(isChecked): void {
    const refuseInsuranceButton = this.getRefuseInsuranceButtonOfActiveBorrower;
    refuseInsuranceButton.isChecked = isChecked;
    refuseInsuranceButton.isInError = false;
    this.setInsuranceValue('refuseInsurance', isChecked);
    this.updateInsuranceAmountIfNeeded();
  }

  /**
   * Reset all the select insurance buttons to their initial state and
   * clear the selected insurance value in the application store.
   */
  private resetSelectedSelectInsuranceButton(): void {
    this.getSelectInsuranceButtonListOfActiveBorrower.forEach((button: SelectInsuranceBtn) => {
      if (button.status !== InsuranceButtonStatus.INITIAL) {
        button.status = InsuranceButtonStatus.INITIAL;
      }
    });
    this.setInsuranceValue('selectedInsurance', null);
  }

  /**
   * Reset the refuse insurance button to its initial state and
   * clear the refuse insurance value in the application store.
   */
  private resetRefuseInsuranceButton(): void {
    const refuseInsuranceButton = this.getRefuseInsuranceButtonOfActiveBorrower;

    this.setInsuranceValue('refuseInsurance', false);

    refuseInsuranceButton.status = InsuranceButtonStatus.INITIAL;
    refuseInsuranceButton.isInError = false;
    refuseInsuranceButton.isChecked = false;
  }

  private setInsuranceValue(formName: string, value: any): void {
    this.activeInsurance[formName] = value;
    const payload = {
      isPrincipal: this.isPrincipal,
      subStateName: 'insurancev2',
      subStateValue: this.activeInsurance
    };
    this.setSubscriptionData(payload);
  }

  private getAccordionDataFromInsuranceWarranties(insuranceWarranties): AccordionData[] {
    return insuranceWarranties
      ? [...Object.keys(insuranceWarranties)].map((key) => {
          return {
            title: insuranceWarranties[key].titre,
            imgUrl: `${getBaseUrl.computed.baseUrl()}/${insuranceWarranties[key].image}`,
            descriptionHtml: insuranceWarranties[key].description
          };
        })
      : null;
  }

  private handleNextButtonClick() {
    if (this.canGoNext()) {
      this.goToNextStep();
    } else {
      this.handleStepError();
    }
  }

  private canGoNext() {
    const t1ChoiceIsOk = this.t1Insurance.selectedInsurance !== null || this.t1Insurance.refuseInsurance;
    if (this.isCreditForTwo) {
      const t2ChoiceIsOk = this.t2Insurance.selectedInsurance !== null || this.t2Insurance.refuseInsurance;
      return (
        (this.isInsuranceEligibleForT2AndNotT1 && t2ChoiceIsOk) ||
        (this.isInsuranceEligibleForT1AndNotT2 && t1ChoiceIsOk) ||
        (t1ChoiceIsOk && t2ChoiceIsOk)
      );
    } else {
      return t1ChoiceIsOk;
    }
  }

  private goToNextStep() {
    const nextStep = this.stepState.getNext();
    if (nextStep !== null) {
      this.animation = true;
      this.goTo(0, () => {
        this.slideLeft = true;
        setTimeout(() => {
          this.$router.push({ name: nextStep.pathId });
        }, 300);
      });
    }
  }

  private handleStepError(): void {
    // If it's a credit for two and the principal borrower has already selected his insurance but not the second,
    // open the second borrower part and add error on the buttons
    if (
      this.isCreditForTwo &&
      !(this.isPrincipal && this.t1Insurance.selectedInsurance === null && !this.t1Insurance.refuseInsurance)
    ) {
      if (this.secondaryRefuseInsuranceButton.status !== InsuranceButtonStatus.SELECTED) {
        this.secondarySelectInsuranceButtonsList.forEach((button) => (button.status = InsuranceButtonStatus.IN_ERROR));
      }
      this.secondaryRefuseInsuranceButton.isInError = true;
      this.setT1IsActive({
        pathId: this.stepState.pathId,
        t1IsActive: false
      });
    } else {
      if (this.principalRefuseInsuranceButton.status !== InsuranceButtonStatus.SELECTED) {
        this.principalSelectInsuranceButtonsList.forEach((button) => (button.status = InsuranceButtonStatus.IN_ERROR));
      }
      this.principalRefuseInsuranceButton.isInError = true;
    }
  }

  private openWarrantiesInsurancePopin(): void {
    this.opened = true;
  }

  private closeWarrantiesInsurancePopin(): void {
    this.opened = false;
  }

  private getSimulationV1Parameters(hasInsuranceT1: boolean, hasInsuranceT2: boolean): SimulationV1Parameter {
    const jobSituationT1 = new BusinessRule().getJobSituationCode(this.t1SubscriptionData.employment);
    const jobSituationT2 = new BusinessRule().getJobSituationCode(this.t2SubscriptionData.employment);
    return {
      amount: this.simulatorState.requiredAmount,
      duration: this.simulatorState.dueNumber,
      birthdateT1: convertDate(this.t1SubscriptionData.civility.birthDate),
      birthdateT2: this.t2SubscriptionData.civility.birthDate
        ? convertDate(this.t2SubscriptionData.civility.birthDate)
        : null,
      jobSituationT1,
      jobSituationT2,
      hasInsuranceT1,
      hasInsuranceT2,
      sourceId: this.simulatorState.simulationContext.sourceId,
      projectId: this.simulatorState.simulationContext.projectId
    };
  }

  private updateInsuranceAmountIfNeeded(forceUpdate: boolean = false): void {
    if (
      (this.isCreditForTwo && !(this.isInsuranceEligibleForT1AndNotT2 || this.isInsuranceEligibleForT2AndNotT1)) ||
      forceUpdate
    ) {
      let t1HasInsurance = this.t1Insurance.selectedInsurance !== null || this.t1Insurance.refuseInsurance === false;
      let t2HasInsurance = this.t2Insurance.selectedInsurance !== null || this.t2Insurance.refuseInsurance === false;

      // If T1 is selected and he has not insurance, display the amount as if he was eligible
      if (this.isPrincipal && !t1HasInsurance) {
        t1HasInsurance = true;
      }

      // If T2 is selected and he has not insurance, display the amount as if he was eligible
      if (!this.isPrincipal && !t2HasInsurance) {
        t2HasInsurance = true;
      }

      // Check that the eligibility of t1/t2 to insurance are not equal to the previous values
      // in order to not call two times the simulation API with the same parameters
      if (t1HasInsurance !== this.previousT1HasInsurance || t2HasInsurance !== this.previousT2HasInsurance) {
        this.previousT1HasInsurance = t1HasInsurance;
        this.previousT2HasInsurance = t2HasInsurance;
        this.updateInsurancePrice(t1HasInsurance, t2HasInsurance);
      }
    }
  }

  private async updateInsurancePrice(hasInsuranceT1: boolean, hasInsuranceT2: boolean): Promise<void> {
    try {
      this.updateSelectButtonListIsLoading(true);

      const baseSimuParam = this.getSimulationV1Parameters(hasInsuranceT1, hasInsuranceT2);

      const recommendedCode = InsuranceCodeByType.get(InsuranceV2Type.RECOMMENDED);
      const recommendedSimuParam: SimulationV1Parameter = {
        ...baseSimuParam,
        insuranceTypeT1: recommendedCode,
        insuranceTypeT2: this.isCreditForTwo ? recommendedCode : null
      };

      const alternativeCode = InsuranceCodeByType.get(InsuranceV2Type.ALTERNATIVE);
      const alternativeSimuParam: SimulationV1Parameter = {
        ...baseSimuParam,
        insuranceTypeT1: alternativeCode,
        insuranceTypeT2: this.isCreditForTwo ? alternativeCode : null
      };

      const [recommendedProposals, alternativeProposals]: [
        SimulationFinancialProposal[],
        SimulationFinancialProposal[]
      ] = await Promise.all([
        SimulationApi.getSimulationV1(recommendedSimuParam),
        SimulationApi.getSimulationV1(alternativeSimuParam)
      ]);

      if (recommendedProposals && recommendedProposals.length > 0) {
        this.updateRecommendedProposal(recommendedProposals[0]);
      }

      if (alternativeProposals && alternativeProposals.length > 0) {
        this.updateAlternativeProposal(alternativeProposals[0]);
      }

      // Update amount of each select insurance button for the principal and secondary borrower
      const t1RecommendedAmount = this.getMonthlyInsuranceAmount(true, InsuranceV2Type.RECOMMENDED);
      const t1AlternativeAmount = this.getMonthlyInsuranceAmount(true, InsuranceV2Type.ALTERNATIVE);
      this.updateSelectInsuranceButtonsAmount(true, t1RecommendedAmount, t1AlternativeAmount);

      if (this.isCreditForTwo) {
        const t2RecommendedAmount = this.getMonthlyInsuranceAmount(false, InsuranceV2Type.RECOMMENDED);
        const t2AlternativeAmount = this.getMonthlyInsuranceAmount(false, InsuranceV2Type.ALTERNATIVE);
        this.updateSelectInsuranceButtonsAmount(false, t2RecommendedAmount, t2AlternativeAmount);
      }
    } catch (error) {
      await this.$router.push({ name: RoutePathId.ERROR_PAGE, params: { isFromForm: 'true' } });
    } finally {
      this.updateSelectButtonListIsLoading(false);
    }
  }

  private updateSelectInsuranceButtonsAmount(
    isPrincipal: boolean,
    recommendedInsuranceAmount: number,
    alternativeInsuranceAmount: number
  ): void {
    const selectInsuranceButtonList = isPrincipal
      ? this.principalSelectInsuranceButtonsList
      : this.secondarySelectInsuranceButtonsList;
    selectInsuranceButtonList.forEach((button) => {
      if (button.type === InsuranceV2Type.RECOMMENDED && recommendedInsuranceAmount > 0) {
        button.amount = recommendedInsuranceAmount;
      } else if (button.type === InsuranceV2Type.ALTERNATIVE && alternativeInsuranceAmount > 0) {
        button.amount = alternativeInsuranceAmount;
      }
    });
  }

  private updateSelectButtonListIsLoading(isLoading: boolean) {
    this.principalSelectInsuranceButtonsList.forEach((button) => (button.isLoading = isLoading));
    this.secondarySelectInsuranceButtonsList.forEach((button) => (button.isLoading = isLoading));
  }
}
</script>
<style lang="scss" scoped>
.insurance {
  &__mobile-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
    color: $color-white;
    font-size: 16px;
    font-family: $font-medium;
    margin-bottom: 30px;
    background-color: $color-headband-mobile;

    @media screen and (min-width: $width_S) {
      display: none;
    }

    img {
      transform: rotate(180deg);
    }
  }

  &__left-bloc {
    background-color: $color-white;
    padding: 0 20px 30px;

    @media screen and (min-width: $width_S) {
      padding: 50px 50px 0;
      margin-bottom: 15px;
    }

    @media screen and (min-width: $width_M) {
      padding: 50px 50px 20px;
      margin-bottom: 0;
    }

    &__title {
      font-size: 30px;
      font-family: $font-bold;
      line-height: 34px;
      color: $color-title;
    }

    &__subtitle {
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 18px;
      color: $color-grey-black;

      ::v-deep sup {
        vertical-align: super;
        font-size: 10px;
      }
    }

    .radioContainer {
      .okContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: $font-bold;
        &.active {
          color: $color-white;
        }
        #shield {
          margin-right: 15px;
        }
      }
    }

    .bottom-container {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $width_S) {
        flex-direction: column-reverse;
      }

      .buttonContainer {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: $width_M) {
          display: none;
        }

        .button {
          width: 100%;

          &.mb-15 {
            margin-bottom: 15px;
          }

          &.inverted {
            margin-top: 15px;

            @media screen and (min-width: $width_S) and (max-width: $width_M) {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  &__right-bloc {
    &__warranties {
      > section {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      &.d-desktop {
        display: none;

        @media screen and (min-width: $width_S) {
          display: block;
        }
      }

      &.d-mobile {
        @media screen and (min-width: $width_M) {
          display: none;
        }
      }
    }
    &__warning {
      .warning {
        display: none;

        @media screen and (min-width: $width_M) {
          display: block;
        }
      }
    }
  }

  &__footer {
    padding-top: 20px;
    background-color: $color-bg-container;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $form-max-width;
    padding-bottom: 0;
    margin: 0 auto 2px;

    @media screen and (min-width: $width_S) {
      max-width: none;
      width: grid(5);
      padding: 0 0 30px 0;
    }

    @media screen and (min-width: $width_M) {
      text-align: left;
      margin: 0 auto;
      padding: 0 25vw 0 0;
      width: grid(7);
    }

    &__note {
      padding: 0 20px;
      font-size: 12px;
      line-height: 18px;
      color: $color-grey-black;
      font-family: $font-regular;
      margin-bottom: 20px;

      ::v-deep sup {
        vertical-align: super;
        font-size: 10px;
      }

      @media screen and (min-width: $width_S) {
        margin-bottom: 0;
        padding: 0;
      }

      @media screen and (min-width: $width_M) {
        text-align: left;
      }
    }

    &__download {
      margin-bottom: 20px;
      padding: 0 20px;

      @media screen and (min-width: $width_S) {
        margin-bottom: 10px;
        padding: 0;
      }

      &__link {
        cursor: pointer;
        position: relative;
        display: inline-block;
        overflow: hidden;
        transition: color 0.3s ease-in-out;

        &__text {
          font-family: $font-bold;
          font-size: 12px;
          line-height: 17px;
          color: $color-partner-1;
        }

        .before {
          background-color: $color-title;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1.3px;
          transform: translateX(-101%);
          transition: transform 0.25s ease-in-out;
        }
      }

      @media screen and (min-width: $width_S) {
        &:hover span.before {
          transform: translateX(0);
        }
      }
    }
  }
}
</style>
