<template>
  <div>
    <app-insurance-v2 v-if="isEligibleForInsuranceV2" :stepState="stepState" />
    <app-insurance-v1 v-else :stepState="stepState" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { StepState } from '@/models/StepState';
import InsuranceV1Step from '@/views/SubscriptionSteps/InsuranceSteps/InsuranceV1Step.vue';
import InsuranceV2Step from '@/views/SubscriptionSteps/InsuranceSteps/InsuranceV2Step.vue';
import { Getter, State } from 'vuex-class';
import { RootState } from '@/store/types';

@Component({
  components: {
    'app-insurance-v1': InsuranceV1Step,
    'app-insurance-v2': InsuranceV2Step
  }
})
export default class InsuranceStep extends Vue {
  @Prop() private stepState!: StepState;

  @State((state: RootState) => state.apiConfig.partnerCode) private partnerCode!: string;
  @State((state: RootState) => state.subscription.formStates.insurance.version) private insuranceVersion: 'v1' | 'v2';

  @Getter private getCreditType!: string;

  private get isEligibleForInsuranceV2(): boolean {
    return this.insuranceVersion === 'v2';
  }
}
</script>

<style lang="scss" scoped></style>
