<template>
  <div
    class="simulator__col first"
    :class="{ 'indepentant-simulator-user-amount-required': isIndependantSimulatorUserAmountRequiredPage }"
  >
    <div class="mobile" v-if="editableAmount">
      <div class="simulator__parameters">
        <h3 class="simulator__parameters-title">
          {{ $t('simulation.LoanParameters.sousTitreColonneEditable') }}
        </h3>
        <form @submit.prevent="submitRequiredAmount">
          <InputNumber
            :class="{ error: displayInputMobileError }"
            :label="
              $t('simulation.LoanParameters.amountInputLabel', {
                montantMin: minSimulationAmount,
                montantMax: maxSimulationAmount
              })
            "
            id="requiredAmount"
            :setValue="setInputRequiredAmount"
            :value="requiredAmount"
            :minValue="minSimulationAmount"
            :maxValue="maxSimulationAmount"
            :validateOnChange="true"
            :showUnits="true"
            :errorMsg="'Votre montant ne correspond pas à la fourchette demandée'"
            :labelUnit="currencySymbol"
            :letterWidth="8"
            :decimalDigits="2"
            :maxLenght="9"
            placeholder="0"
            data-cy="m-inputRequiredAmount"
            :removeZeroOnUserFocus="true"
          />
          <div
            v-if="isMobile && editableAmount"
            class="button-simulator d-ib btn-mobile"
            @click="submitRequiredAmount()"
            data-cy="d-submitButtonSelectAmount"
          >
            {{ $t('simulation.LoanParameters.boutonRechercher') }}
          </div>
        </form>
      </div>
    </div>
    <div class="desktop">
      <div class="simulator__wrap">
        <span class="simulator__wrap-number">1</span>
        <h2 class="simulator__wrap-title">
          {{ $t('simulation.LoanParameters.titreColonne') }}
        </h2>
      </div>
      <div class="simulator__parameters">
        <h3 v-if="!editableAmount" class="simulator__parameters-title">
          {{ $t('simulation.LoanParameters.sousTitreColonne') }}
        </h3>
        <h3 v-else class="simulator__parameters-title">
          {{ $t('simulation.LoanParameters.sousTitreColonneEditable') }}
        </h3>
        <div v-if="!editableAmount" class="simulator__parameters-amount" data-cy="d-displayAmount">
          {{ requiredAmount | currency({ symbol: '' }) | stripZeros }}
          <span>{{ currencySymbol }}</span>
        </div>
        <div v-else class="simulator__price">
          <InputNumber
            :class="{ error: displayInputMobileError }"
            :label="
              $t('simulation.LoanParameters.amountInputLabel', {
                montantMin: minSimulationAmount,
                montantMax: maxSimulationAmount
              })
            "
            id="requiredAmount"
            :setValue="setInputRequiredAmount"
            :value="requiredAmount"
            :minValue="minSimulationAmount"
            :maxValue="maxSimulationAmount"
            :validateOnChange="true"
            :showUnits="true"
            :errorMsg="'Votre montant ne correspond pas à la fourchette demandée'"
            :labelUnit="currencySymbol"
            :letterWidth="15"
            :decimalDigits="2"
            :maxLenght="9"
            data-cy="d-inputRequiredAmount"
            ref="input-number-simulator"
            :removeZeroOnUserFocus="true"
          />
        </div>

        <!-- Filter widget -->
        <offer-filter-tools
          v-if="showParameters && !displayAmountPanelOnly && hasEnoughProposalsForFiltering"
          :parametersZoom="parametersZoom"
          :ignoreInputWatch="ignoreInputWatch"
          :proposals="proposals"
          :requiredAmount="requiredAmount"
          :proposalFilter="proposalFilter"
          :userInputDelay="userInputDelay"
          :currencySymbol="currencySymbol"
          @update-ignore-input-watch="onIgnoreInputWatchUpdate"
        ></offer-filter-tools>
        <div
          v-if="isIndependantSimulatorUserAmountRequiredPage"
          class="button-simulator d-ib"
          @click="submitRequiredAmount()"
          data-cy="d-submitButtonSelectAmount"
        >
          {{ $t('simulation.LoanParameters.boutonRechercher') }}
        </div>
      </div>
      <img
        v-if="!isIndependantSimulatorUserAmountRequiredPage && !hasEnoughProposalsForFiltering"
        class="simulator__euro"
        src="@/assets/images/euro.png"
        alt="€"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Config from '@/config/configSimulator';
import { Component, Vue, Prop } from 'vue-property-decorator';
import { State, Action, Mutation, Getter } from 'vuex-class';
import store from '@/store';
import { FilterCriterion } from '@/models/simulator/tools/filterCriterion';
import SimulationApi from '@/services/SimulationApi';
import { CreditTypeEnum } from '@/models/simulator/business/creditType';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { SimulationParameter } from '@/models/Simulation';
import { getTagManagerInstance } from '@/services/tagManagerFactory';
import { RoutePathId } from '@/models/RoutesPath';
import OfferFilterTools from '@/components/simulator/simulator-content/offers/OfferFilterTools.vue';

/**
 * LoanParameters
 *
 * First panel, allows the user to filter proposals displayed in
 * the second panel, OfferSelector.
 *
 * The RangeSelect objects are parameterized by config pulled from Jahia. (TODO)
 */
@Component({
  components: {
    'offer-filter-tools': OfferFilterTools
  }
})
export default class LoanParameters extends Vue {
  @Prop({ default: null }) public minSimulationAmount: number;
  @Prop({ default: null }) public maxSimulationAmount: number;

  @State((state) => state.simulator.uiActiveStates.forceUserAmountInput)
  private forceUserAmountInput: boolean;
  @State((state) => state.simulator.uiActiveStates.parametersZoom)
  private parametersZoom!: boolean;
  @State((state) => state.simulator.requiredAmount)
  private requiredAmount: any;
  @State((state) => state.simulator.proposalFilter)
  private proposalFilter!: FilterCriterion;
  @State((state) => state.simulator.proposals)
  private proposals!: SimulationFinancialProposal[];
  @State((state) => state.apiConfig.businessProviderId)
  private businessProviderId: string;
  @State((state) => state.apiConfig.equipmentCode)
  private equipmentCode: string;
  @State((state) => state.apiConfig.scaleCode)
  private scaleCode: string;
  @State((state) => state.client.isMobile)
  private isMobile!: boolean;
  @Getter private getCreditType: string;
  @Getter private hasEnoughProposalsForFiltering: boolean;
  @Action
  private clearProposals!: () => void;
  @Mutation
  private updateRequiredAmount!: (value: number) => void;
  @Mutation
  private updateForceUserAmountInput!: (value: boolean) => void;
  @Mutation
  private updateLoading!: (value: boolean) => void;

  // Constants
  private readonly showParameters: boolean = Config.enableFilterParameters;
  private readonly currencySymbol: string = Config.currency;
  private readonly editableAmount: boolean = Config.editableAmount;
  private readonly userInputDelay: number = 400;

  // Error displays
  private errorAmount: boolean = false;

  // Input controllers
  private isFirstSubmitMobile: boolean = true;
  private ignoreInputWatch: boolean = false;
  private timerRequiredAmount: any;

  // Input model binds
  private inputRequiredAmount: number = 0;

  private tagManagerService = getTagManagerInstance();

  private mounted() {
    // We calls the methods to send tags in this component and not its
    // parent (Simulator.vue) as forceUserAmountInput is updated in parent
    // created lifecycle hook
    this.sendTagsSimulatorPage();
  }

  private get isIndependantSimulatorUserAmountRequiredPage() {
    return this.editableAmount && this.forceUserAmountInput;
  }

  private sendTagsSimulatorPage() {
    if (Config.chainWithSubscription) {
      if (Config.editableAmount || this.forceUserAmountInput) {
        // Case: chained simulator
        this.tagManagerService.pageSubscriptionProcessChange(this.$route);
      }
    } else {
      this.tagManagerService.tagIndependantSimulatorAllPageGTM(this.$route);
      if (Config.editableAmount && this.forceUserAmountInput) {
        // Case: independant simulator amount page
        this.tagManagerService.tagIndependantSimulatorAmountPage(this.$route);
      } else {
        // Case: independant simulator offer selection page
        this.tagManagerService.tagIndependantSimulatorOffersPage(this.$route);
      }
    }
  }

  private onIgnoreInputWatchUpdate(value: boolean) {
    this.ignoreInputWatch = value;
  }

  /**
   * Set amount from user input, check for errors.
   */
  private setInputRequiredAmount(value: number) {
    if (this.ignoreInputWatch) {
      return;
    }

    this.errorAmount = false;
    if (this.timerRequiredAmount) {
      clearTimeout(this.timerRequiredAmount);
      this.timerRequiredAmount = null;
    }

    this.errorAmount = value < this.minSimulationAmount || value > this.maxSimulationAmount;
    if (!this.errorAmount && value) {
      this.timerRequiredAmount = setTimeout(() => {
        if (value) {
          this.inputRequiredAmount = value;
          if (!this.forceUserAmountInput) {
            this.submitRequiredAmount();
          }
        }
      }, this.userInputDelay);
    } else {
      this.updateRequiredAmount(0);
      this.clearProposals();
    }
  }

  /**
   * Save requiredAmount to store, lift UI restrictions and fetch data from API
   */
  private async submitRequiredAmount() {
    if (!this.inputRequiredAmount) {
      // Emulate focus then blur on the input to display error
      (this.$refs['input-number-simulator'] as any).handleBlur();
    } else {
      this.isFirstSubmitMobile = false;
      if (!this.errorAmount && this.inputRequiredAmount !== this.requiredAmount) {
        this.updateForceUserAmountInput(false);
        this.updateRequiredAmount(this.inputRequiredAmount);
        this.clearProposals();
        this.updateLoading(true);
        this.sendTagsSimulatorPage();
        try {
          let res;
          const simulationParameter: SimulationParameter = {
            amount: this.inputRequiredAmount,
            businessProviderId: this.businessProviderId,
            equipmentCode: this.equipmentCode,
            scaleCode: this.scaleCode,
            hasInsurance: true
          };

          if (this.getCreditType === CreditTypeEnum.LOAN) {
            res = await SimulationApi.getLoanSimulation(simulationParameter);
          } else {
            res = await SimulationApi.getRevolvingSimulation(simulationParameter);
          }
          store.commit('updateProposals', res);
        } catch (err) {
          // Do not display error page here as it will block user if he is slow to type number with
          // 3 digits: a intermediary request will be performed with 2 first digits and API will return
          // error as amount < 100€ are not allowed in API
          // this.$router.push(RoutePathId.ERROR_PAGE);
        } finally {
          this.updateLoading(false);
        }
      }
    }
  }

  /**
   * If user has just landed on simulator without set requiredAmount and hasn't filled it yet.
   */
  private get displayAmountPanelOnly() {
    return this.forceUserAmountInput && Config.editableAmount;
  }

  private get displayInputMobileError() {
    return !this.isFirstSubmitMobile && this.errorAmount;
  }
}
</script>

<style scoped lang="scss">
.offer-configurator__wrapper .simulator__col {
  position: relative;
  display: block;

  &:not(.indepentant-simulator-user-amount-required) {
    height: 630px;

    @media screen and (max-width: $width_L) {
      height: auto;
    }
  }

  ::v-deep.error-message .before {
    display: none;
  }

  ::v-deep.input-container.filled:not(.error):not(.has-focus) .input-unit {
    color: $color-white;
  }

  ::v-deep.input-unit {
    bottom: calc(50% - 25px);
    color: $color-white;
    font-size: 20px;
  }

  &.first {
    @media screen and (min-width: $width_XXXL) and (min-width: $width_XL) {
      max-width: 504px;
    }

    background-color: $color-partner-2;
    border-radius: 5px;
    max-width: 480px;
    display: block;
    margin: 0 auto;

    .simulator__parameters {
      position: relative;
      padding: 35px 35px 60px;
    }

    .button-simulator {
      padding: 15px 50px;
    }

    .mobile {
      display: none;

      @media screen and (max-width: $width_L) {
        display: block;
      }

      .btn-mobile {
        padding: 15px 50px;
        margin-top: 25px;
      }
    }

    .desktop {
      @media screen and (max-width: $width_L) {
        display: none;
      }
    }

    .simulator {
      &__wrap {
        border-bottom-color: rgba($color-white, 0.3);
        border-bottom: 1px solid rgba($color-grey-regular, 0.4);

        &-number {
          color: $color-partner-2;
          background-color: $color-white;
        }

        &-title {
          color: $color-white;
        }
      }

      &__force-amount {
        display: block;
        background-color: $color-partner-1;
        max-width: calc(100% - 30px);
        margin: 0 auto;
      }

      &__price {
        margin: 0 0 20px;
        display: flex;
        justify-content: center;

        .input-text-component {
          max-width: 280px;
          width: 100%;
          max-height: 70px;
        }

        input {
          padding: 25px 20px;
          font-size: 16px;
          border-radius: 2px;
          background: rgba($color-white, 0);
          border: 1px solid $color-white;
          color: $color-white;

          &::-webkit-input-placeholder {
            color: $color-white;
          }

          &::-moz-placeholder {
            color: $color-white;
          }

          &:-ms-input-placeholder {
            color: $color-white;
          }

          &:-moz-placeholder {
            color: $color-white;
          }
        }
      }

      &__parameters {
        text-align: center;

        &-title {
          font-family: $font-medium;
          font-size: 18px;
          color: $color-white;
          margin-bottom: 25px;

          @media screen and (max-width: $width_L) {
            margin-bottom: 5px;
          }
        }

        &-amount {
          font-family: $font-medium;
          font-size: 32px;
          color: $color-white;
          margin-bottom: 40px;

          span {
            font-family: $font-bold;
            font-size: 20px;
          }
        }
      }

      &__euro {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        max-width: 70%;
      }
    }
  }
}

#amountByMonth,
#refundPeriod {
  &.error {
    color: $color-partner-3;
  }
}

::placeholder {
  font-family: $font-bold;
  color: $color-black;
}

.d-ib {
  display: inline-block !important;
}
</style>

<style lang="scss">
.simulator__col {
  &.first {
    .mobile {
      .simulator__parameters {
        padding-bottom: 40px !important;
      }

      .input-unit {
        left: 50%;
        bottom: 10px;
      }

      .input-number-component {
        max-width: 100%;
        margin: 0 auto;
      }

      .input-item {
        max-width: 130px;
        height: 65px;
        padding: 0;
        margin-top: 40px;
        border: none;
        box-shadow: none;
        background-color: transparent;
        text-align: center;
        font-size: 37px;
        text-decoration: underline;

        &::-webkit-input-placeholder {
          color: $color-white;
        }

        &::-moz-placeholder {
          color: $color-white;
        }

        &:-ms-input-placeholder {
          color: $color-white;
        }

        &:-moz-placeholder {
          color: $color-white;
        }

        &::placeholder {
          color: $color-white;
        }
      }

      .input-container.filled.error .input-label {
        color: $color-tooltip-text-error;
      }

      .input-container.filled.error .input-item {
        &::-webkit-input-placeholder {
          color: $color-tooltip-text-error;
        }

        &::-moz-placeholder {
          color: $color-tooltip-text-error;
        }

        &:-ms-input-placeholder {
          color: $color-tooltip-text-error;
        }

        &:-moz-placeholder {
          color: $color-tooltip-text-error;
        }

        &::placeholder {
          color: $color-tooltip-text-error;
        }
      }

      .error-text {
        width: 100%;
        padding-top: 10px;
        color: $color-white;
        font-size: 12px;
        font-family: $font-regular;
      }

      .input-container .input-label,
      .input-container.filled .input-label,
      .input-container.has-focus .input-label,
      .input-container.filled.error .input-label,
      .input-item.not-empty ~ .input-label,
      .input-item:not(.error):focus ~ .input-label,
      .input-item:not(.error):not(:focus).not-empty ~ .input-label,
      .input-item:not(.error):not(:focus):valid ~ .input-label,
      .input-item:not(.error):read-only ~ .input-label {
        width: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 10%);
        font-family: $font-regular;
        color: $color-white;
      }

      .error-message.error.filled {
        padding: 0;
        padding-top: 10px;
        color: $color-white;
        font-size: 12px;
        text-align: center;
      }

      .input-clear,
      .input-clear:hover {
        display: none;
      }
    }

    .mobile .input-number-component,
    .desktop .input-number-component {
      &.error.filled {
        .input-item {
          background-color: $color-bg-content !important;
          color: $color-tooltip-text-error !important;
        }

        .input-label {
          color: $color-tooltip-text-error !important;
        }

        .error-message {
          width: 100%;
          padding: 0;
          color: $color-white;
          opacity: 1;
          z-index: 400;
        }
      }
    }

    .mobile .input-number-component .error-message {
      text-align: center;
    }

    .desktop .input-number-component .error-message {
      position: relative;
    }

    .input-container.error.filled .input-unit {
      color: $color-tooltip-text-error;
    }

    .input-number-component {
      max-width: 280px;
      width: 100%;
    }

    .input-item {
      background-color: transparent;
      padding: 15px 0 0 20px;
      border: 1px solid $color-white;
      color: $color-white;
      font-size: 28px;
      height: 70px;
      font-family: $font-medium;
      border-radius: 2px;
      z-index: 2;
    }

    .input-container.filled.error.required .input-item {
      border-color: $color-white;

      &.error {
        background-color: $color-white;
        color: $color-tooltip-text-error;
        border: 1px solid $color-tooltip-text-error;
        outline: transparent;
        border-radius: 2px;
        z-index: 0;
      }
    }

    .input-container.filled:not(.error):not(.has-focus) .input-item {
      color: $color-white;
      background-color: transparent;
      border-color: $color-white;
      outline: transparent;
      border-radius: 2px;
    }

    .input-container .input-label,
    .input-container.filled .input-label,
    .input-container.has-focus .input-label,
    .input-item.not-empty ~ .input-label,
    .input-item:not(.error):focus ~ .input-label,
    .input-item:not(.error):not(:focus).not-empty ~ .input-label,
    .input-item:not(.error):not(:focus):valid ~ .input-label,
    .input-item:not(.error):read-only ~ .input-label {
      color: $color-bg-content;
      left: 20px;
      font-size: 14px;
      font-family: $font-medium;
    }

    .input-container.filled.error .input-label,
    .input-item.not-empty ~ .input-label,
    .input-container.filled .input-label,
    .input-container.has-focus .input-label,
    .input-item:not(.error):focus ~ .input-label,
    .input-item:not(.error):not(:focus).not-empty ~ .input-label,
    .input-item:not(.error):not(:focus):valid ~ .input-label,
    .input-item:not(.error):read-only ~ .input-label,
    .input-item:not(.error)[type='password'].filled ~ .input-label {
      transform: translateY(-50%) translateY(-20px);
      font-family: $font-regular;
      color: $color-white;
    }

    .input-container.filled.error .input-label {
      color: $color-tooltip-text-error;
    }

    .error-message.error.filled {
      padding: 0;
      color: $color-white;
      font-size: 12px;
      text-align: left;
    }

    .input-clear,
    .input-clear:hover {
      background-color: rgba(250, 250, 250, 0.5);

      &::before,
      &::after {
        width: 10px;
        height: 2px;
      }
    }
  }
}
</style>
