<template>
  <div class="simulator__col">
    <div class="simulator__wrap">
      <span class="simulator__wrap-number">3</span>
      <h2 class="simulator__wrap-title">
        {{ $t('simulation.OfferSubmit.titreColonne') }}
      </h2>
    </div>
    <div v-if="selectedProposal">
      <div class="simulator__result">
        <h3 class="simulator__subtitle">
          {{ $t('simulation.OfferSubmit.sousTitreColonne') }}
        </h3>
        <div class="simulator__result-amount">
          {{ selectedProposal.totalAmountWithoutInsurance | currency({ fractionCount: 2, symbol: '' }) }}
          <span>{{ currencySymbol }}</span>
          <p v-if="isDelayedOffer">
            {{ $t('simulation.OfferSubmit.legendeReport') }}
          </p>
          <p>
            {{ $t('simulation.OfferSubmit.legendeMontant') }}
          </p>
        </div>
        <div class="simulator__summary">
          <ul class="simulator__details">
            <li>
              <span>{{ $t('simulation.OfferSubmit.montantEmprunteLabel') }}</span>
              <span>{{ selectedProposal.amount | currency({ fractionCount: 2 }) }}</span>
            </li>
            <li>
              <span>{{ $t('simulation.OfferSubmit.dureeLabel') }}</span>
              <span>{{
                $t('simulation.OfferSubmit.dureeValeur', {
                  nbmois: selectedProposal.creditDurationWithoutInsurance
                })
              }}</span>
            </li>
            <li>
              <span class="big">
                {{
                  $t('simulation.OfferSubmit.nombreMensualiteLabel', {
                    nbmensualite: selectedProposal.nbMonthlyPaymentWithoutInsurance
                  })
                }}</span
              >
              <span class="big">{{ selectedProposal.monthlyAmountWithoutInsurance | currency }}</span>
            </li>
            <li v-if="selectedProposal.lastMonthlyAmountWithoutInsurance">
              <span class="big">{{ $t('simulation.OfferSubmit.derniereMensualiteLabel') }}</span>
              <span class="big">{{ selectedProposal.lastMonthlyAmountWithoutInsurance | currency }}</span>
            </li>
            <li>
              <span
                class="big"
                v-html="
                  selectedProposal.fixedRate
                    ? $t('simulation.OfferSubmit.taegLabelFixed_1')
                    : $t('simulation.OfferSubmit.taegLabelRevisable_1')
                "
              ></span>
              <span class="big">{{
                $options.filters.currency(selectedProposal.taeg, {
                  fractionCount: 3,
                  symbol: '%'
                })
              }}</span>
            </li>
          </ul>
        </div>
        <a href="#" class="simulator__offer-info" @click="scrollToDetails">
          {{ $t('simulation.OfferSubmit.lienVoirDetail') }}
        </a>
        <button class="button-simulator" v-if="subscriptionEnabled" @click="goToSubscription()" data-cy="d-submitOffer">
          {{ $t('simulation.OfferSubmit.boutonValider') }}
        </button>
        <a
          href="#"
          class="simulator__receive-info"
          :class="{ 'simulator__receive-info__not-chained': !subscriptionEnabled }"
          @click="showPreContractModal"
        >
          {{ $t('simulation.OfferSubmit.lienRecevoirInformations') }}
        </a>
      </div>
    </div>
    <div v-else>
      <div class="simulator__result">
        <h3 class="simulator__subtitle"></h3>
        <div class="simulator__result-amount">
          <span></span>
        </div>
        <div class="simulator__summary">
          <ul class="simulator__details">
            <li>
              <span></span>
              <span></span>
            </li>
            <li>
              <span></span>
              <span></span>
            </li>
            <li>
              <span></span>
              <span class="big"></span>
            </li>
            <li>
              <span></span>
              <span class="big"></span>
            </li>
            <li>
              <span></span>
              <span></span>
            </li>
            <li>
              <span></span>
              <span class="big"></span>
            </li>
          </ul>
        </div>
        <button class="button-simulator disabled" v-if="subscriptionEnabled" data-cy="d-submitOffer">
          {{ $t('simulation.OfferSubmit.boutonValider') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Config from '@/config/configSimulator';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { State, Action, Getter } from 'vuex-class';
import { StepState } from '@/models/StepState';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { TagManagerPartnerService } from '@/services/tagManagerPartner';
import { getTagManagerInstance } from '@/services/tagManagerFactory';
import { CreditTypeEnum } from '@/models/simulator/business/creditType';
import { BusinessRule } from '@/services/BusinessRule';
import { easeInOutQuad } from '@/utils/animations';

/**
 * OfferSubmit
 *
 * Display a summary about the selected SimulationFinancialProposal. If no proposal
 * is selected, then this panel is empty and the submit button is disabled.
 */
@Component({
  components: {}
})
export default class OfferSubmit extends Vue {
  @Prop() private goNext: () => {};
  @State((state) => state.simulator.selectedProposal)
  private selectedProposal!: SimulationFinancialProposal | null;
  @State((state) => state.simulator.requiredAmount)
  private requiredAmount!: number | null;
  @Action private triggerPreContractPopup!: () => void;

  private tagManagerService = getTagManagerInstance();
  private readonly currencySymbol: string = Config.currency;

  private get subscriptionEnabled() {
    return Config.chainWithSubscription;
  }

  private get isDelayedOffer() {
    return BusinessRule.showReportInformations(this.selectedProposal);
  }

  private goToSubscription() {
    this.tagManagerService.selectProduct();
    this.goNext();
  }

  private scrollToDetails() {
    const details = document.querySelector('.offer-details') as HTMLElement;
    const detailsOffsetTop = details.getBoundingClientRect().top + window.scrollY;

    this.goTo(detailsOffsetTop);
  }

  private goTo(to: number, callback?: () => any) {
    const start = window.scrollY;

    const change = to - start;
    const increment = 20;
    let currentTime = 0;
    const animateScroll = () => {
      const duration = 300;
      const val = easeInOutQuad(currentTime, start, change, duration);
      currentTime += increment;

      if (window.scrollTo) {
        window.scrollTo(0, val);
      }

      if (currentTime < duration) {
        setTimeout(animateScroll, increment);
      } else if (callback) {
        callback();
      }
    };
    animateScroll();
  }

  private showPreContractModal() {
    this.tagManagerService.preContractClick();
    this.triggerPreContractPopup();
  }
}
</script>

<style scoped lang="scss">
.offer-configurator__wrapper .simulator__col {
  @media screen and (min-width: $width_XXXL) and (min-width: $width_XL) {
    max-width: 535px;
  }

  background-color: $color-white;

  .simulator {
    &__result {
      position: relative;
      padding: 60px 40px 65px;

      &-amount {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 12px;
        font-family: $font-regular;
        font-size: 32px;
        line-height: normal;
        text-align: center;
        color: $color-partner-2;
        background-color: var(--color-partner-2-008);

        span {
          font-family: 'Sarabun-Bold';
          font-size: 20px;
        }

        p {
          font-family: $font-regular;
          font-size: 11px;
          color: $color-grey-dark;
          display: block;
          margin: 0 auto;
        }
      }
    }

    &__subtitle {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      font-family: $font-medium;
      font-size: 18px;
      text-align: center;
      color: $color-grey-dark;
    }

    &__summary {
      width: 100%;
      min-height: 240px;
      margin: 0 auto;
    }

    &__details {
      li {
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        &:nth-child(2n) {
          background-color: $color-bg-container;
        }

        span {
          font-family: $font-regular;
          font-size: 16px;
          color: $color-grey-dark;

          &.big {
            font-size: 20px;
          }

          &:nth-child(2) {
            color: $color-black;
          }
        }
      }
    }

    &__offer-info {
      font-family: $font-medium;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: $color-partner-1;
      display: block;
      margin: 10px auto;
    }

    &__receive-info {
      font-family: $font-medium;
      font-size: 14px;
      text-align: center;
      text-decoration: underline;
      color: $color-grey-dark;
      display: block;
      margin: 10px auto 0;

      &__not-chained {
        margin-top: 60px;
      }
    }
  }

  .button-simulator.disabled {
    margin-top: 40px;
  }
}
</style>
