<template>
  <div class="simulator__col">
    <div class="simulator__wrap">
      <span class="simulator__wrap-number">2</span>
      <h2 class="simulator__wrap-title">
        {{ $t('simulation.OfferSelector.titreColonne') }}
      </h2>
    </div>
    <div class="simulator__offers">
      <button
        v-if="hasFilterEnabled"
        class="simulator__offers-back"
        @click="clearProposalFilter()"
        data-cy="clearProposalFilter"
      >
        {{ $t('simulation.OfferSelector.labelBoutonRevenir') }}
      </button>
      <h3
        class="simulator__offers-title"
        v-if="!emptyProposals"
        :class="{
          'best-offer': !hasFilterEnabled,
          'result-search': hasFilterEnabled
        }"
      >
        {{ $t('simulation.OfferSelector.sousTitreColonne') }}
      </h3>
      <div class="simulator__offers-subtitle">
        {{ $t('simulation.OfferSelector.sousTitreSection') }}
      </div>
      <div v-if="simulationLoading">
        <div class="simulator__offers-loading">
          <app-loader :color="colors.primary"></app-loader>
        </div>
      </div>
      <div v-else-if="noResultsForRequiredAmount" class="simulator__offers-empty">
        <div class="simulator__offers-empty__content">
          <img src="@/assets/images/no-financement.svg" alt="image pas de propositions" />
          <span
            v-html="
              $t('simulation.OfferSelector.pasDePropositions', {
                montant: requiredAmount
              })
            "
          ></span>
        </div>
      </div>
      <offer-card-list v-else data-cy="offerCardList" />
    </div>
    <div @mouseover="showParameters" class="more-offers" v-if="!hasFilterEnabled && hasEnoughProposalsForFiltering">
      <div class="more-offers__img">
        <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <path
              d="M13 0c7.18 0 13 5.82 13 13s-5.82 13-13 13a12.94 12.94 0 01-7.253-2.21L0 26l2.883-4.835A12.948 12.948 0 010 13C0 5.82 5.82 0 13 0z"
              id="a"
            />
          </defs>
          <g fill="none" fill-rule="evenodd">
            <mask id="b" fill="#fff"><use xlink:href="#a" /></mask>
            <use fill="#FBD914" xlink:href="#a" />
            <g mask="url(#b)" fill="#EEF8FF"><path d="M0 0h26v26H0z" /></g>
            <path
              d="M14.833 16.669V14.76a.315.315 0 00-.099-.236.326.326 0 00-.234-.095h-2a.326.326 0 00-.234.095.315.315 0 00-.1.236v1.909c0 .093.034.172.1.236A.326.326 0 0012.5 17h2c.09 0 .168-.032.234-.095a.315.315 0 00.1-.236zm-.02-3.757L15 8.302a.22.22 0 00-.104-.192c-.09-.073-.174-.11-.25-.11h-2.292c-.076 0-.16.037-.25.11a.238.238 0 00-.104.211l.177 4.59c0 .068.035.123.104.167.07.043.153.065.25.065h1.927a.435.435 0 00.245-.065.223.223 0 00.11-.166z"
              fill="#1AAEB7"
              fill-rule="nonzero"
              mask="url(#b)"
              transform="matrix(-1 0 0 1 27 0)"
            />
          </g>
        </svg>
      </div>
      <div class="more-offers__text">
        {{ $t('simulation.OfferSelector.voirOffres') }}
      </div>
    </div>
    <div
      v-if="hasEnoughProposalsForFiltering"
      class="button-simulator-red-whitout-bg"
      @click="triggerShowLoanParamsPopup"
      data-cy="m-displayLoanParams"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="18"
        height="17"
        viewBox="0 0 18 17"
        class="icon icon-left"
      >
        <defs>
          <path id="a" d="M0 0h18v17H0z" />
        </defs>
        <g fill="none" fill-rule="evenodd">
          <mask id="b" fill="#fff">
            <use xlink:href="#a" />
          </mask>
          <g fill-rule="nonzero" mask="url(#b)" class="item-color">
            <path
              d="M1.458 4.037a.918.918 0 0 0-.929.929c0 .521.408.929.929.929h9.107A3.525 3.525 0 0 0 13.961 8.5a3.513 3.513 0 0 0 3.51-3.511c0-1.949-1.585-3.489-3.51-3.489a3.505 3.505 0 0 0-3.373 2.56h-9.13v-.023zm12.503-.725c.906 0 1.653.748 1.653 1.654 0 .906-.747 1.654-1.653 1.654a1.663 1.663 0 0 1-1.653-1.654c0-.906.748-1.654 1.653-1.654zM16.543 12.052h-5.28a3.5 3.5 0 0 0-6.739 0H1.457a.916.916 0 0 0-.928.925c0 .52.407.926.928.926h3.067A3.52 3.52 0 0 0 7.916 16.5a3.52 3.52 0 0 0 3.392-2.597h5.235c.52 0 .928-.406.928-.926a.916.916 0 0 0-.928-.925zm-8.65 2.619c-.904 0-1.65-.745-1.65-1.648 0-.904.746-1.649 1.65-1.649.905 0 1.652.745 1.652 1.649 0 .903-.724 1.648-1.651 1.648z"
            />
          </g>
        </g>
      </svg>
      <span>{{ $t('simulation.OfferSelector.voirOffres') }}</span>
    </div>
    <return-partner-btn></return-partner-btn>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, State, Getter } from 'vuex-class';
import OfferCardList from '@/components/simulator/simulator-content/offers/OfferCardList.vue';
import { FilterCriterion } from '@/models/simulator/tools/filterCriterion';
import AppLoaderV2 from '@/components/graphic/Loader.vue';
import { Colors } from '@/models/Colors';
import ReturnPartnerBtn from '../graphic/ReturnPartnerBtn.vue';

/**
 * OfferSelector
 *
 * Display panel for the user to select a SimulationFinancialProposal.
 * Proposal selection is handled by OfferCardList component.
 */
@Component({
  components: {
    'offer-card-list': OfferCardList,
    'app-loader': AppLoaderV2,
    'return-partner-btn': ReturnPartnerBtn
  }
})
export default class OfferSelector extends Vue {
  @State((state) => state.simulator.proposalFilter) private proposalFilter!: FilterCriterion;
  @State((state) => state.simulator.loading) private simulationLoading!: boolean;
  @State((state) => state.simulator.requiredAmount) private requiredAmount!: string;
  @State((state) => state.apiConfig.colors) private colors!: Colors;
  @Action private triggerParametersZoom!: () => void;
  @Action private triggerShowLoanParamsPopup!: () => void;
  @Action private clearProposalFilter!: () => void;
  @Getter private emptyProposals: boolean;
  @Getter private hasEnoughProposalsForFiltering: boolean;

  private get hasFilterEnabled() {
    return this.proposalFilter ? true : false;
  }

  private get noResultsForRequiredAmount() {
    return this.emptyProposals && this.requiredAmount;
  }

  private showParameters() {
    this.triggerParametersZoom();

    setTimeout(() => {
      this.triggerParametersZoom();
    }, 2000);
  }
}
</script>

<style scoped lang="scss">
.offer-configurator__wrapper .simulator__col {
  @media screen and (min-width: $width_XXXL) and (min-width: $width_XL) {
    max-width: 535px;
  }

  position: relative;
  border-top-left-radius: 50px;
  border-right: 1px solid rgba($color-grey-regular, 0.4);
  box-shadow: -14px 0 10px -6px rgba($color-black, 0.14);
  background-color: $color-white;

  @media screen and (max-width: $width_L) {
    border-top-left-radius: 0;
    border-right: 0 none;
    box-shadow: 0 0 0 0;
    background-color: transparent;
  }

  .simulator {
    &__wrap {
      @media screen and (max-width: $width_L) {
        display: none !important;
      }
    }

    &__offers {
      padding: 20px 15px;

      @media screen and (max-width: $width_L) {
        margin-top: 20px;
        padding: 0 15px;
      }

      @media screen and (max-width: $width_XXS) {
        padding: 0 20px;
      }

      &-back {
        font-family: $font-bold;
        font-size: 16px;
        text-align: left;
        color: $color-partner-3;
        position: relative;
        margin-bottom: 20px;
        padding-left: 20px;

        @media screen and (max-width: $width_L) {
          display: none;
        }

        &::before,
        &::after {
          content: '';
          background-color: $color-partner-3;
          position: absolute;
          left: 0;
          width: 10px;
          height: 2px;
        }

        &::before {
          top: calc(50% - 2px);
          transform: translateY(-50%) rotate(-45deg);
        }

        &::after {
          top: calc(50% + 4px);
          transform: translateY(-50%) rotate(45deg);
        }
      }

      &-title {
        font-family: $font-regular;
        font-size: 16px;
        text-align: center;
        color: $color-grey-dark;
        margin-bottom: 20px;

        @media screen and (max-width: $width_L) {
          font-family: $font-bold;
          font-size: 18px;
          color: $color-partner-1;
          margin-bottom: 5px;
        }

        &.best-offer {
          font-family: $font-bold;
          font-size: 18px;
          color: $color-text;
        }

        &.result-search {
          font-size: 14px;
        }
      }

      &-subtitle {
        display: none;

        @media screen and (max-width: $width_L) {
          font-family: $font-regular;
          font-size: 14px;
          text-align: center;
          color: $color-grey-dark;
          display: block;
          margin-bottom: 20px;
        }
      }

      &-loading {
        @media screen and (max-width: $width_L) {
          height: 140px;
        }
      }

      &-empty {
        margin: 60px 0 100px 0;

        @media screen and (min-width: $width_L) {
          display: block;
          position: absolute;
          top: 35%;
          margin: 0;
        }

        &__content {
          display: flex;
          flex-direction: column;

          img {
            margin-bottom: 20px;
            height: 40px;
          }

          span {
            font-size: 14px;
            text-align: center;
            color: $color-grey-dark;

            @media screen and (min-width: $width_L) {
              padding: 0 50px;
            }
          }
        }
      }
    }
  }

  .more-offers {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: $width_L) {
      display: none;
    }

    &__img {
      margin-right: 15px;
    }

    &__text {
      font-family: $font-bold;
      font-size: 16px;
      text-align: center;
      color: $color-partner-2;
      text-decoration: underline;
    }
  }

  .button-simulator-red-whitout-bg {
    display: none;

    @media screen and (max-width: $width_L) {
      display: flex;
      max-width: 270px;
      margin: 15px auto;
    }
  }
  .returnPartnerBtn {
    display: none;
  }
  @media screen and (max-width: $width_L) {
    .returnPartnerBtn {
      display: flex;
    }
  }
}
</style>
