<template>
  <div class="attachments">
    <h2 v-if="!hideTitle" class="attachments-title">{{ $t('souscription.attachments.titre') }}</h2>
    <h3 class="attachments-subtitle">
      {{ $t('souscription.attachments.sousTitre') }}
    </h3>
    <div class="attachments-container" :class="{ alternativeDisplay }">
      <div v-for="pjNbr in pjsNbr" :key="pjNbr" class="attachment">
        <div class="attachment-image" v-if="$te(pjsKey + '.' + pjNbr + '.titre')">
          <img :src="`${baseUrl}/${$t(pjsKey + '.' + pjNbr + '.icone')}`" :alt="$t(pjsKey + '.' + pjNbr + '.titre')" />
        </div>
        <div class="attachment-content">
          <h4 v-if="$te(pjsKey + '.' + pjNbr + '.titre')" class="attachment-title">
            {{ $t(pjsKey + '.' + pjNbr + '.titre') }}
          </h4>
          <div v-if="$te(pjsKey + '.' + pjNbr + '.description')" class="attachment-description">
            {{ $t(pjsKey + '.' + pjNbr + '.description') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { Colors, defaultColors } from '@/models/Colors';

@Component({})
export default class Attachments extends Vue {
  @Prop({ default: false }) public hideTitle!: boolean;
  @Prop({ default: false }) public alternativeDisplay!: boolean;
  @Prop() public pjsNbr!: number;
  @Prop() public pjsKey!: string;
  @Prop({ default: () => defaultColors }) public colors!: Colors;
}
</script>

<style lang="scss" scoped>
.attachments {
  &-title {
    font-family: $font-bold;
    font-size: 20px;
    color: $color-grey-black;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 10px;

    @media screen and (min-width: $width_S) {
      margin-bottom: 15px;
    }
  }

  &-subtitle {
    font-family: $font-medium;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: $color-partner-1;
    margin: 0 auto 25px;
    padding: 0 20px;

    @media screen and (min-width: $width_S) {
      margin-bottom: 15px;
      padding: 0;
    }

    @media screen and (min-width: $width_M) {
      margin-bottom: 30px;
    }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;

    @media screen and (min-width: $width_S) {
      justify-content: center;
    }

    @media screen and (min-width: $width_M) {
      width: 90%;
      max-width: 500px;
      margin: 0 auto;
      justify-content: start;
    }

    &.alternativeDisplay {
      flex-direction: column;
      align-items: center;
      max-width: 420px;
      margin: 0 auto;
      padding: 0 $section-padding-horizontal-mobile;

      @media screen and (min-width: $width_S) {
        flex-direction: row;
        align-items: inherit;
        max-width: none;
        padding: 20px 0 0;
        justify-content: center;
      }

      @media screen and (min-width: $width_S) {
        padding: 0;
      }

      .attachment {
        border-bottom: 0 none;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;
        @media screen and (min-width: $width_S) {
          flex-direction: column;
          width: 25%;
          padding: 0 10px;

          &:nth-child(2n + 1) {
            border-right: 0 none;
            padding: 0 10px;
          }

          &:nth-child(2n + 4) {
            padding: 0 10px;
          }
        }

        &:nth-child(2n + 1) {
          border-right: 0 none;
          padding: 0;
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &:last-child {
          padding: 0;
        }

        &-image {
          @include center-bloc;
          flex: 0 0 60px;
          width: 60px;
          margin-right: 25px;

          @media screen and (min-width: $width_S) {
            flex: inherit;
            width: auto;
            margin: 0;
          }

          img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            margin-bottom: 0;

            @media screen and (min-width: $width_S) {
              height: 85px;
              margin-bottom: 15px;
            }
          }
        }

        &-content {
          text-align: left;

          @media screen and (min-width: $width_S) {
            text-align: center;
            width: 100%;
          }
        }

        &-title {
          min-height: auto;

          @media screen and (min-width: $width_S) {
            min-height: 30px;
            margin-bottom: 10px;
          }
        }
      }
    }

    .attachment {
      text-align: center;
      border-bottom: 1px solid $color-grey-light;
      width: 50%;
      padding: 0 0 15px 10px;

      &:nth-child(2n + 1) {
        border-right: 1px solid $color-grey-light;
        padding: 0 10px 15px 0;
      }

      &:nth-child(n + 3) {
        border-bottom: 0;
        padding: 15px 10px 0 0;
      }

      &:nth-child(2n + 4) {
        padding: 15px 0 0 10px;
      }

      @media screen and (min-width: $width_S) {
        border-bottom: 0 none;
        width: 25%;
        padding: 0 10px;

        &:nth-child(2n + 1) {
          border-right: 0 none;
          padding: 0 10px;
        }

        &:nth-child(2n + 4) {
          padding: 0 10px;
        }
      }

      @media screen and (min-width: $width_M) {
        border-bottom: 1px solid $color-grey-light;
        width: 50%;
        padding: 0 45px 30px;

        &:nth-child(2n + 1) {
          border-right: 1px solid $color-grey-light;
          padding: 0 45px 30px;
        }

        &:nth-child(n + 3) {
          border-bottom: 0;
          padding: 30px 45px 0;
        }

        &:nth-child(2n + 4) {
          padding: 30px 45px 0;
        }
      }

      img {
        height: 40px;
        margin-bottom: 10px;

        @media screen and (min-width: $width_S) {
          height: 85px;
          margin-bottom: 15px;
        }
      }

      &-title {
        font-family: $font-bold;
        font-size: 14px;
        line-height: 16px;
        width: auto;
        min-height: 30px;
        margin-bottom: 5px;

        @media screen and (min-width: $width_S) {
          margin-bottom: 10px;
        }
      }

      &-description {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
</style>
