<template>
  <section v-if="creditInfoBlocksStepNbr && creditInfoBlocksStepKey" class="creditInfoBlockContainer">
    <div class="section-container">
      <div class="block" v-for="creditInfoBlockStepNbr in creditInfoBlocksStepNbr" :key="creditInfoBlockStepNbr">
        <img
          v-if="$te(creditInfoBlocksStepKey + '.' + creditInfoBlockStepNbr + '.icone')"
          :src="`${baseUrl}/${$t(creditInfoBlocksStepKey + '.' + creditInfoBlockStepNbr + '.icone')}`"
          alt=""
        />
        <div class="content">
          <h3 class="title" v-if="$te(creditInfoBlocksStepKey + '.' + creditInfoBlockStepNbr + '.titre')">
            {{ $t(creditInfoBlocksStepKey + '.' + creditInfoBlockStepNbr + '.titre') }}
          </h3>
          <div class="description" v-if="$te(creditInfoBlocksStepKey + '.' + creditInfoBlockStepNbr + '.description')">
            {{ $t(creditInfoBlocksStepKey + '.' + creditInfoBlockStepNbr + '.description') }}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { Colors, defaultColors } from '@/models/Colors';

@Component({})
export default class CreditInfoBlock extends Vue {
  @Prop() public creditInfoBlocksStepNbr!: number;
  @Prop() public creditInfoBlocksStepKey!: string;
  @Prop({ default: () => defaultColors }) public colors!: Colors;
}
</script>

<style lang="scss" scoped>
.creditInfoBlockContainer {
  background-color: $color-partner-1;

  .section-container {
    color: $color-white;
    display: flex;
    flex-direction: column;
    padding: 40px $section-padding-horizontal-mobile;

    @media screen and (min-width: $width_S) {
      flex-direction: row;
      justify-content: center;
    }
  }

  .block {
    text-align: center;

    @media screen and (min-width: $width_S) {
      width: 200px;
      margin: 0 60px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @media screen and (min-width: $width_S) {
        margin-bottom: 0;
      }
    }

    img {
      display: block;
      width: auto;
      height: 60px;
      margin: 0 auto 15px;
    }

    .content {
      width: 100%;

      .title {
        color: $color-white;
        font-family: $font-bold;
        font-size: 16px;
        margin-bottom: 10px;
      }

      .description {
        color: $color-white;
        font-size: 12px;
        line-height: 20px;
        opacity: 0.8;
        width: 100%;
      }
    }
  }
}
</style>
