<template>
  <div>
    <header id="header" class="header" :class="{ 'hide-pedago': !showPedago }">
      <a class="logos">
        <div
          v-on:click="openBeforeLeaveModal"
          class="header__logo cursor"
          :class="{ border: partnerLogoLoaded && sofincoLogoLoaded }"
          v-show="hasPartnerLogo"
        >
          <img
            id="logo_partner"
            :src="`${baseUrl}/logo_partner.svg`"
            alt="Partenaire"
            @error="handleError"
            @load="handleLoad"
          />
        </div>
        <div
          class="header__logo"
          v-show="hasSofincoLogo"
          :style="{ paddingLeft: partnerLogoLoaded && sofincoLogoLoaded ? '20px' : '0' }"
        >
          <img
            id="logo_sofinco"
            :src="`${baseUrl}/${logoSofinco}`"
            alt="Sofinco"
            @error="handleError"
            @load="handleLoad"
          />
        </div>
      </a>
      <div class="header__legal-text" v-if="showPedago" ref="text">
        <template v-if="isMobileProp">
          {{ $t('souscription.Header.creditEngagement_1') }}. {{ $t('souscription.Header.creditEngagement_2') }}
        </template>
        <template v-else>
          {{ $t('souscription.Header.creditEngagement_1') }}
          <br />
          {{ $t('souscription.Header.creditEngagement_2') }}
        </template>
      </div>

      <div id="topbar-content" class="topbar-content" v-if="showTopBarContent">
        <div class="btn-group">
          <div>
            <ul class="topbar-content-mobile">
              <li v-if="showMobileHelpButton" @click="openHelp" id="main-button-mobile">
                <div class="topbar-content-icon">
                  <img src="@/assets/images/contact.svg" alt="Contactez nous" />
                </div>
              </li>
            </ul>
          </div>
          <app-button
            v-if="loginPanelEnabled && !isClientLogged"
            @onMouseHover="handleLoginButtonHover"
            type="button"
            class="btn-login"
            :small="true"
            :icon-large="true"
            :icon="'icon-Icon_User'"
            :noUpperCase="true"
            :noChevron="true"
            :partner-background-color="true"
            :label="$t('souscription.Header.connexion.cta')"
            :onClick="openLoginPopin"
            :colors="colors"
          />
          <button class="topbar-content__user-button" v-if="isClientLogged">
            <span data-cs-mask>Bonjour {{ principal.name.firstName }}</span>
          </button>
          <app-button
            v-if="simulatorPanelEnabled"
            data-cy="simulator"
            type="button"
            class="btn-simulator"
            :small="true"
            :iconSmall="true"
            :icon="'icon-Icon_Personal_Loan'"
            :noUpperCase="true"
            :noBackground="true"
            :noChevron="true"
            :label="$t('souscription.Header.simulationCta')"
            :onClick="openSimulatorPopin"
            :colors="colors"
          />
        </div>
      </div>
      <app-simulator-pop-in v-if="simulatorPopinOpened" :closeModal="closeSimulatorPopin" />
      <!-- Key attribute has been added to destroy component at each time v-if condition is not true -->
      <login-pop-in
        v-if="initLoginPopin"
        ref="loginPopin"
        key="loginPopinKey"
        :opened="loginPopinOpened"
        :closePopin="closeLoginPopin"
      />
      <require-user-secret-popin
        v-if="enableInterruptibility && displayModalSecret"
        :displayModal="displayModalSecret"
        :cardId="cardId"
      ></require-user-secret-popin>
      <before-leave-pop-in
        v-if="enableInterruptibility && displayModalBeforeLeave"
        :is-display="displayModalBeforeLeave"
        @onClose="closeBeforeLeaveModal"
        @onLeave="leaveSubscription"
      />
    </header>
    <div>
      <!-- Extract this code in order to have a generic component for this type of tooltip -->
      <div
        :class="{
          show: showLoginButton && (showHelpLoginTooltip || initDisplayHelpLoginTooltip)
        }"
        class="login-tooltip"
        v-if="loginPanelEnabled && !isClientLogged && !cardId"
      >
        <button
          @click="closeHelpLoginTooltip(false)"
          class="login-tooltip-close"
          v-if="initDisplayHelpLoginTooltip"
        ></button>
        <i class="icon icon-Icon_Chrono_White"></i>
        <div>
          <h2 class="login-tooltip-title desktop">{{ $t('souscription.Header.connexion.tooltip.titre') }}</h2>
          <p class="login-tooltip-content desktop">{{ $t('souscription.Header.connexion.tooltip.sousTitre') }}</p>
          <h2 class="login-tooltip-title mobile">{{ $t('souscription.Header.connexion.tooltip.titreMobile') }}</h2>
          <div class="login-tooltip-buttons">
            <button class="button no-bg" v-on="openLoginPopin ? { click: openLoginPopin } : {}">
              {{ $t('souscription.Header.connexion.tooltip.ctaConnexion') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Emit, Prop } from 'vue-property-decorator';
import { Getter, Mutation, State } from 'vuex-class';
import { RootState, SubscriptionData } from '@/store/types';
import Button from '@/components/graphic/Button.vue';
import { Colors } from '@/models/Colors';
import { RouteStates } from '@/models/subscription/RouteState';
import { AuthenResponse } from '@/models/subscription/authentication/Authentication';
import LoginPopin from '@/views/popin/login/LoginPopin.vue';
import SimulatorPopin from '@/views/popin/SimulatorPopin.vue';
import RequireUserSecretPopin from '@/views/popin/RequireUserSecretPopin.vue';
import BeforeLeavePopin from '@/views/popin/BeforeLeavePopin.vue';
import { BeforeLeaveStep } from '@/models/subscription/BeforeLeaveStep';
import { BusinessRule } from '@/services/BusinessRule';
import { RoutePathId } from '../models/RoutesPath';

@Component({
  components: {
    'app-button': Button,
    'app-simulator-pop-in': SimulatorPopin,
    'login-pop-in': LoginPopin,
    'before-leave-pop-in': BeforeLeavePopin,
    'require-user-secret-popin': RequireUserSecretPopin
  }
})
export default class Header extends Vue {
  @Prop({ default: true }) public showPedago!: boolean;
  @Prop({ default: false }) public headerIsFixed!: boolean;
  @Prop({ default: false }) public isMobileProp!: boolean;
  @Prop({ default: false }) public showMobileHelpButton!: boolean;

  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.subscription.routeStates) public routeStates!: RouteStates;
  @State((state: RootState) => state.subscription.authentication.response) public authenResponse: AuthenResponse;
  @State((state: RootState) => state.subscription.principal) public principal: SubscriptionData;
  @State((state) => state.subscription.cardId) public cardId!: string;
  @State((state) => state.apiConfig.appConfiguration) public appConfiguration!: any | null;
  @State((state) => state.apiConfig.partnerCode) public partnerCode!: string;

  @Mutation public clearAuthenRequest: () => void;
  @Mutation public clearAuthenIdentification: () => void;

  @Getter public isClientLogged: boolean;
  @Getter public screenOption: (key: string) => any;
  @Getter public getBeforeLeaveStep: (hasInterruptibility: boolean) => BeforeLeaveStep;

  public hasPartnerLogo = true;
  public partnerLogoLoaded = false;
  public hasSofincoLogo = true;
  public sofincoLogoLoaded = false;
  public simulatorPopinOpened = false;
  public loginPopinOpened = false;
  public initLoginPopin = false;
  public showHelpLoginTooltip: boolean = false;
  public initDisplayHelpLoginTooltip: boolean = false;
  public displayModalSecret: boolean = false;
  public displayModalBeforeLeave = false;

  public get showSimulation() {
    // Do not display simulation if page is home page (simulator for VAC, pedagogic for CRS_PLV
    // and creditFromScratch for CRS) or result page
    return (
      this.$route.name !== RoutePathId.SIMULATION &&
      this.$route.name !== RoutePathId.PEDAGOGIC &&
      this.$route.name !== RoutePathId.CREDIT_FROM_SCRATCH &&
      this.$route.name !== RoutePathId.PLV &&
      this.$route.name !== RoutePathId.LEGAL_MENTION &&
      this.$route.name !== RoutePathId.ERROR_PAGE &&
      !(this.routeStates && this.routeStates.resultSofinco && this.routeStates.resultSofinco.active) &&
      !(this.routeStates && this.routeStates.result && this.routeStates.result.active)
    );
  }

  public get showLoginButton(): boolean {
    return this.routeStates && this.routeStates.loan && this.routeStates.loan.active;
  }

  public get simulatorPanelEnabled() {
    return !!this.screenOption('simulator-panel-enabled') && this.showSimulation;
  }

  public get loginPanelEnabled(): boolean {
    return !!this.screenOption('login-panel-enabled') && this.showLoginButton;
  }

  public get logoSofinco(): string {
    return this.screenOption('logo-brand') || 'sofinco-partner.svg';
  }

  public get enableInterruptibility() {
    return this.screenOption('has-interruptibility');
  }

  public get interruptibilityRedirectUrl() {
    return this.screenOption('interruptibility-redirect-url');
  }

  public created() {
    this.initDisplayHelpLoginTooltip = this.showLoginButton;
    this.showHelpLoginTooltip = this.initDisplayHelpLoginTooltip;
  }

  public get showTopBarContent(): boolean {
    return (
      // Mobile help button is true even in desktop view. Display of button
      // is manage in css
      (this.showMobileHelpButton && this.isMobileProp) || this.simulatorPanelEnabled || this.loginPanelEnabled
    );
  }

  public openSimulatorPopin() {
    this.simulatorPopinOpened = true;
  }

  public closeSimulatorPopin() {
    this.simulatorPopinOpened = false;
  }

  public openLoginPopin() {
    this.closeHelpLoginTooltip(false);
    // If it opens at the same time as it initializes, the panel effect doesn't have time to appear
    // To solve this problem, a 'initLoginPopin' that conditionate (v-if) the login popin display is set to true
    // before open it with a timeout set to 100ms
    this.initLoginPopin = true;
    setTimeout(() => {
      this.loginPopinOpened = true;
    }, 100);
  }

  public closeLoginPopin() {
    this.loginPopinOpened = false;
    this.initLoginPopin = false;
    // @ts-ignore
    this.$refs.loginPopin.clearAuthentication();
  }

  public openBeforeLeaveModal(): void {
    const currentBeforeLeaveStep = this.getBeforeLeaveStep(this.enableInterruptibility);
    if (
      this.enableInterruptibility &&
      currentBeforeLeaveStep !== BeforeLeaveStep.FINISHED_KO &&
      currentBeforeLeaveStep !== BeforeLeaveStep.NOTACTIVATE
    ) {
      this.displayModalBeforeLeave = true;
    } else {
      this.leaveSubscription();
    }
  }

  public closeBeforeLeaveModal(): void {
    this.displayModalBeforeLeave = false;
  }

  public openHelpLoginTooltip(byHover: boolean) {
    if (!byHover) {
      this.initDisplayHelpLoginTooltip = false;
    }
    this.showHelpLoginTooltip = !this.showHelpLoginTooltip;
  }

  public closeHelpLoginTooltip(byHover: boolean) {
    if (!byHover) {
      this.initDisplayHelpLoginTooltip = false;
    }
    this.showHelpLoginTooltip = false;
  }

  public handleLoginButtonHover(hover: boolean) {
    if (!this.initDisplayHelpLoginTooltip) {
      if (hover) {
        this.openHelpLoginTooltip(hover);
      } else {
        this.closeHelpLoginTooltip(hover);
      }
    }
  }

  public handleLoad(e: Event) {
    const element: any = e.target;
    if (element) {
      const id = element.id;
      if (id === 'logo_partner') {
        this.partnerLogoLoaded = true;
      } else if (id === 'logo_sofinco') {
        this.sofincoLogoLoaded = true;
      }
    }
  }

  public handleError(e: Event) {
    const element: any = e.target;
    if (element) {
      const id = element.id;
      if (id === 'logo_partner') {
        this.hasPartnerLogo = false;
      } else if (id === 'logo_sofinco') {
        this.hasSofincoLogo = false;
      }
    }
  }

  public leaveSubscription() {
    if (this.enableInterruptibility) {
      window.location.href = this.interruptibilityRedirectUrl;
    } else {
      // For partner keeps current redirection (but need to be improved in order to not loose information)
      window.location.href = './';
    }
  }

  @Emit('open-mobile-help-menu')
  public openHelp() {}
}
</script>

<style lang="scss" scoped>
.cursor {
  cursor: pointer;
}
.header {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: $topbar-mobile-height;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);

  @media screen and (min-width: $width_M) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $topbar-height;
    padding: 10px 60px 15px;
  }

  .topbar-content {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 5;
    @media screen and (min-width: $width_M) {
      position: relative;
    }

    &__user {
      &-button {
        text-align: center;
        white-space: nowrap;
        margin: 0 15px;
        padding: 10px 15px;

        span {
          font-size: 15px;
          line-height: 16px;
          text-transform: none;
        }

        @media screen and (max-width: $width_S) {
          display: none;
        }
      }
    }

    .btn-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2px;

      .btn-simulator {
        height: auto;

        @media screen and (min-width: $width_S) {
          height: auto;
        }
      }

      .btn-login {
        padding: 8px 15px;
        margin: 0 15px 0 0;
        display: none;

        @media screen and (min-width: $width_S) {
          height: auto;
        }

        @media screen and (min-width: $width_M) {
          display: flex;
        }
      }
    }
  }
  .logos {
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-light;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 5px $section-padding-horizontal-mobile;

    @media screen and (min-width: $width_M) {
      border-bottom: 0 none;
      position: static;
      width: auto;
      margin: 0 40px 0 0;
      padding: 0;
    }

    .header__logo {
      display: flex;
      align-items: center;
      height: 40px;

      &.border {
        border-right: solid 1px rgba(0, 0, 0, 0.08);
      }

      &:first-child {
        padding-right: 10px;

        @media screen and (min-width: $width_M) {
          padding-right: 20px;
        }
      }

      &:last-child {
        padding-left: 10px !important;

        @media screen and (min-width: $width_M) {
          padding-left: 20px;
        }
      }

      img {
        display: block;
        width: auto;
        max-height: 30px;

        @media screen and (min-width: $width_S) {
          max-height: 40px;
        }
      }

      #logo_partner {
        width: 100px;

        @media screen and (min-width: $width_S) {
          width: auto;
        }
      }

      #logo_sofinco {
        width: 70px;

        @media screen and (min-width: $width_S) {
          width: auto;
        }
      }
    }
  }

  &__legal-text {
    font-family: $font-light;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color: $color-grey-medium;
    padding: 5px $section-padding-horizontal-mobile;

    @media screen and (min-width: $width_S) {
      font-size: 24px;
      line-height: 28px;
    }

    @media screen and (min-width: $width_M) {
      color: $color-grey-medium;
      text-align: right;
      padding: 0;
    }
  }

  .loan-personal {
    margin: 0 $sidebar-left-padding 0 15px;
    padding: 10px 15px;

    @media screen and (max-width: $width_S) {
      line-height: 12px;
      border-width: 1px;
      margin: 0 20px;
      padding: 10px;
    }

    &__text {
      font-size: 15px;
      line-height: 16px;
      text-transform: none;
      white-space: nowrap;

      @media screen and (max-width: $width_S) {
        font-size: 12px;
        line-height: 12px;
      }
    }

    .icon {
      font-size: 17px;
      position: relative;
      margin-left: 10px;

      @media screen and (max-width: $width_S) {
        display: none;
      }
    }
  }
}

.login-tooltip {
  color: $color-white;
  text-align: left;
  background-color: $color-partner-4;
  border-radius: 2px;
  position: absolute;
  top: $topbar-height;
  right: 115px;
  z-index: 5;
  transform-origin: center top;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  width: 420px;
  padding: 20px 50px 20px 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s linear 0.3s;

  @media screen and (max-width: $width_M) {
    border-radius: 0;
    z-index: #{$popup-content-zindex};
    top: #{$topbar-mobile-height};
    right: inherit;
    width: 100vw;
    padding: 20px 15px;
  }

  &.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    animation: bounceCenterScale 1.2s ease-in-out;
    animation-fill-mode: both;
    transition: opacity 0.3s ease-in-out;
  }

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color-partner-4;

    @media screen and (max-width: $width_S) {
      display: none;
    }
  }

  &-buttons {
    display: none;

    @media screen and (max-width: $width_M) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      margin-top: 10px;

      .button {
        font-family: $font-bold;
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        border: 1px solid $color-partner-4;
        border-radius: 30px;
        background-color: $color-partner-4;
        color: $color-cta-text;
        padding: 10px 15px;

        &.no-bg {
          border: 1px solid $color-cta-text;
          color: $color-cta-text;
          background-color: transparent;
        }

        &.inverted {
          border: 1px solid $color-partner-4;
          color: $color-partner-4;
          background-color: $color-cta-text;
        }

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .icon {
    font-size: 45px;
    flex: 0 0 45px;
    color: $color-white;
    margin-right: 15px;

    @media screen and (max-width: $width_S) {
      font-size: 40px;
      flex: 0 0 40px;
      margin-right: 10px;
    }
  }

  &-title {
    font-family: $font-bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: $color-white;
    margin-top: 2px;
    margin-bottom: 15px;

    @media screen and (max-width: $width_S) {
      margin-bottom: 12px;
    }

    &.desktop {
      display: block;

      @media screen and (max-width: $width_S) {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @media screen and (max-width: $width_S) {
        display: block;
      }
    }
  }

  &-content {
    font-family: $font-regular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: $color-white;

    @media screen and (max-width: $width_S) {
      font-size: 12px;
    }

    &.desktop {
      display: block;

      @media screen and (max-width: $width_S) {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @media screen and (max-width: $width_S) {
        display: block;
      }
    }
  }

  &-close {
    @include cross(20px, $color-white);
    top: 20px;
    right: 20px;
    position: absolute;
    border: 0 none;

    @media screen and (max-width: $width_S) {
      display: none;
    }
  }
}

.topbar-content {
  &-icon {
    margin-right: 20px;
    z-index: 10;

    @media screen and (min-width: $width_M) {
      display: none;
    }

    img {
      margin-top: 5px;
      width: 35px;
    }
  }
}
</style>
