<template>
  <div>
    <div class="left-sidebar-container">
      <div class="inner-container">
        <div
          :class="{
            'menu-bloc--enabled': isEnabled(bloc),
            'menu-bloc--disabled': isDisabled(bloc),
            'menu-bloc--active': isActive(bloc),
            'menu-bloc--valid': isValid(bloc),
            'menu-bloc--opened': isOpened(bloc),
            'menu-bloc--incomplete': isIncomplete(bloc)
          }"
          :key="bloc.pathId"
          v-for="bloc of visibleMenusEntries"
          :style="getBlocStyles(bloc)"
        >
          <div
            v-if="getValid(bloc) && getTotal(bloc) > 1 && !blocIsDisabled(bloc.pathId)"
            @click="open(bloc)"
            class="menu-title"
          >
            <h2 class="menu-title__label">
              {{ $t(bloc.screenOptions.label.value) }}
            </h2>
          </div>

          <router-link v-else-if="!blocIsDisabled(bloc.pathId)" :to="{ name: bloc.pathId }" class="menu-title">
            <h2 class="menu-title__label">
              {{ $t(bloc.screenOptions.label.value) }}
            </h2>
          </router-link>

          <h2 class="menu-title__label" v-else>{{ $t(bloc.screenOptions.label.value) }}</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            :id="`check-${bloc.pathId}`"
            class="menu-title__check"
            viewBox="0 0 15 11"
          >
            <path
              :color="iconCheckColor"
              d="M4.269 6.26L10.296.29a1 1 0 0 1 1.408 1.42L4.972 8.378a1 1 0 0 1-1.407 0L.296 5.14a1 1 0 1 1 1.408-1.421l2.565 2.54z"
            />
            <path :color="iconCheckColor" stroke-width="2.053" d="M7.467 14.886L11.412 18.667 21.156 9.333" />
          </svg>
          <div class="menu-title__check--active" v-if="isValidAndActive(bloc)">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
              <g fill="none" fill-rule="evenodd">
                <circle cx="14" cy="14" r="14" fill="#fff" />
                <path :stroke="iconCheckColor" stroke-width="2.053" d="M7.467 14.886L11.412 18.667 21.156 9.333" />
              </g>
            </svg>
          </div>

          <div class="menu-title__steps">{{ getValid(bloc) }}/{{ getTotal(bloc) }}</div>

          <div v-if="bloc.steps" class="menu-item-container" :class="getBlocClass(bloc)">
            <div class="before"></div>
            <div
              v-for="(step, index) of routedSteps(bloc.steps)"
              :key="step.pathId"
              :class="{
                'menu-item--enabled': isItemEnabled(step, bloc, index),
                'menu-item--disabled': isItemDisabled(step, bloc, index),
                'menu-item--active': isItemActive(step, bloc, index),
                'menu-item--valid': isItemValid(step, bloc, index)
              }"
            >
              <router-link :to="{ name: step.pathId }" v-if="!routeIsDisabled(step.pathId)">
                <h3 class="menu-item__label">
                  {{ $t(step.screenOptions.label.value) }}
                </h3>
              </router-link>
              <h3 class="menu-item__label" v-else>{{ $t(step.screenOptions.label.value) }}</h3>
            </div>
            <div class="after" v-if="isActive(bloc)"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="legal-notice__container">
      <a class="legal-notice__container__item" @click="goToLegalMentions('1')" target="_blank">
        <span class="legal-notice__container__item__text">
          <span class="before"></span>
          {{ $t('souscription.menuNavigation.utilisationDonnees') }}
        </span>
      </a>
      <a class="legal-notice__container__item" @click="goToLegalMentions('0')" target="_blank">
        <span class="legal-notice__container__item__text">
          <span class="before"></span>
          {{ $t('souscription.menuNavigation.mentionsLegales') }}
        </span>
      </a>
      <a class="legal-notice__container__item" href="javascript:Didomi.preferences.show()">
        <span class="legal-notice__container__item__text">
          <span class="before"></span>
          {{ $t('souscription.menuNavigation.gererCookie') }}
        </span>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
/**
 *
 * Copyright (c) 2018 - Credit Agricole Consumer Finance - All rights reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * This file can not be copied and/or distributed without the express permission of Credit Agricole Consumer Finance
 *
 */
import { Component, Vue, Watch } from 'vue-property-decorator';
import { State, Getter, Mutation } from 'vuex-class';
import store from '@/store';
import { RouteState, RouteStates } from '@/models/subscription/RouteState';
import { StepState } from '@/models/StepState';
import { Colors } from '@/models/Colors';
import * as Mutations from '@/store/Mutations';

@Component({})
export default class LeftSidebar extends Vue {
  @State((state) => state.subscription.routeStates) public routeStates!: RouteStates;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.apiConfig.offerCode) public offerCode!: string;
  @State((state) => state.apiConfig.partnerCode) public partnerCode!: string;
  @State((state) => state.apiConfig.colorTheme) public colorTheme!: any[];

  @Getter public getSubscriptionSteps!: any[];
  @Getter public getCurrentStepStates!: (pathId: string) => any;
  @Getter public dataUsageLink!: string;
  @Getter public legalMentionLink!: string;

  @Mutation public markFormAsOpen!: (route: string) => void;
  @Mutation public markFormAsClose!: (route: string) => void;

  public get iconCheckColor() {
    const color = this.colorTheme.find((item) => item.name === 'color-partner-1');
    return color.value;
  }

  private nbItems: number = 0;
  private itemActive: number = 0;

  @Watch('$route')
  public onKeyChanged() {
    // Necessary because otherwise vue won't re-render on route template changed and bloc classes are not re-evaluated.
    this.$forceUpdate();
  }

  public isEnabled(bloc: StepState) {
    return !this.blocIsDisabled(bloc.pathId) && !this.blocIsActive(bloc.pathId) && !this.blocIsSuccessfullyFilled(bloc);
  }

  public isIncomplete(bloc: StepState) {
    return this.getValid(bloc) > 0 && this.getValid(bloc) < this.getTotal(bloc) && !this.blocIsDisabled(bloc.pathId);
  }

  public isDisabled(bloc: StepState) {
    return !this.blocIsActive(bloc.pathId) && !this.blocIsSuccessfullyFilled(bloc);
  }

  public isValid(bloc: StepState) {
    return this.blocIsSuccessfullyFilled(bloc) && !this.blocIsActive(bloc.pathId);
  }

  public isValidAndActive(bloc: StepState) {
    return this.getValid(bloc) === this.getTotal(bloc) && this.blocIsActive(bloc.pathId);
  }

  public getTotal(bloc: StepState) {
    if (this.hasSubStep(bloc)) {
      return bloc.steps.filter((step) => step.routed).length;
    } else {
      return 1;
    }
  }

  public getValid(bloc: StepState) {
    if (this.hasSubStep(bloc)) {
      return bloc.steps.filter((step) => this.routeIsValid(step.pathId)).length;
    } else {
      return this.routeIsValid(bloc.pathId) ? 1 : 0;
    }
  }

  public isActive(bloc: StepState) {
    const isActive = this.blocIsActive(bloc.pathId);
    if (isActive) {
      this.nbItems = this.routedSteps(bloc.steps).length;
    }
    return isActive;
  }

  public getBlocClass(bloc: StepState) {
    if (this.isActive(bloc)) {
      return [`item-active-${this.itemActive}`, `items-${this.nbItems}`];
    } else {
      return [`items-${this.routedSteps(bloc.steps).length}`];
    }
  }

  public open(bloc: StepState) {
    if (this.isOpened(bloc)) {
      this.markFormAsClose(bloc.pathId);
    } else {
      this.markFormAsOpen(bloc.pathId);
    }
    this.$forceUpdate();
  }

  public isOpened(bloc: StepState) {
    const blocState: RouteState = this.routeStates[bloc.pathId];
    return blocState ? blocState.opened : false;
  }

  public getBlocStyles(bloc: StepState) {
    return {
      borderColor: this.isValid(bloc) || this.isEnabled(bloc) || this.isActive(bloc) ? this.colors.primary : undefined
    };
  }

  public getTitleStyles(bloc: StepState) {
    return {
      color: this.isValid(bloc) || this.isEnabled(bloc) ? this.colors.primary : undefined,
      backgroundColor: this.isActive(bloc) ? this.colors.primary : undefined,
      borderColor: this.isActive(bloc) || this.isEnabled(bloc) ? this.colors.primary : undefined
    };
  }

  public isItemEnabled(step: StepState, bloc: StepState, index: number) {
    return (
      !this.routeIsDisabled(step.pathId) &&
      !this.routeIsValid(step.pathId) &&
      !this.routeIsActive(step.pathId, this.routedSteps(bloc.steps).length, index)
    );
  }

  public isItemDisabled(step: StepState, bloc: StepState, index: number) {
    return (
      this.routeIsDisabled(step.pathId) && !this.routeIsActive(step.pathId, this.routedSteps(bloc.steps).length, index)
    );
  }

  public isItemActive(step: StepState, bloc: StepState, index: number) {
    return this.routeIsActive(step.pathId, this.routedSteps(bloc.steps).length, index);
  }

  public isItemValid(step: StepState, bloc: StepState, index: number) {
    return (
      this.routeIsValid(step.pathId) && !this.routeIsActive(step.pathId, this.routedSteps(bloc.steps).length, index)
    );
  }

  public getItemStyle(step: StepState, bloc: StepState, index: number) {
    return {
      color:
        this.isItemActive(step, bloc, index) || this.isItemValid(step, bloc, index) ? this.colors.primary : undefined
    };
  }

  private hasSubStep(bloc: StepState) {
    return bloc && bloc.steps && bloc.steps.length && bloc.steps.filter((step) => step.routed).length > 0;
  }

  private blocIsActive(blocName: string) {
    // @ts-ignore
    const blocState: RouteState = this.routeStates[blocName];
    return blocState ? blocState.active : false;
  }

  private get visibleMenusEntries() {
    return this.getSubscriptionSteps.filter((step: StepState) => {
      const stepState: RouteState = this.routeStates[step.pathId];
      return stepState ? stepState.visible : false;
    });
  }

  private routedSteps(steps: StepState[]) {
    return steps.filter((step) => step.routed);
  }

  private routeIsValid(routeName: string) {
    return this.routeStates[routeName] && this.routeStates[routeName].valid;
  }

  private routeIsDisabled(routeName: string) {
    return this.routeStates[routeName] && this.routeStates[routeName].disabled;
  }

  private routeIsActive(routeName: string, nbItems: number, index: number) {
    const routeActive = this.routeStates[routeName] && this.routeStates[routeName].active;

    if (routeActive) {
      this.nbItems = nbItems;
      this.itemActive = index;
    }

    return routeActive;
  }

  private blocIsDisabled(blocName: string) {
    // @ts-ignore
    return this.routeStates[blocName].disabled;
  }

  private blocIsSuccessfullyFilled(bloc: StepState) {
    return this.getValid(bloc) === this.getTotal(bloc);
  }

  private created() {
    const initialRoute = this.getCurrentStepStates(this.$route.name as any).pathId;
    store.commit(Mutations.ACTIVATE_ROUTE, initialRoute, { root: true });
  }
}
</script>

<style lang="scss" scoped>
.left-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &-container {
    width: 100%;
    padding: 0 $sidebar-left-padding;
  }
}

.menu {
  &-bloc {
    border: 1px solid $color-grey-regular;
    border-radius: 2px;
    position: relative;
    margin-bottom: 10px;
    transition: all 0.25s ease-in-out;

    &--valid {
      @extend .menu-bloc;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      border-color: $color-partner-2 !important;
      background-position: calc(100% - 30px) 50%;

      .menu-title {
        cursor: pointer;
        &__label {
          color: $color-partner-2;
          transition-delay: 0s;
        }

        &__check {
          display: block;
        }
      }
    }
    &--incomplete {
      .menu-title {
        &__steps {
          display: block;
        }
      }
    }

    &--active {
      @extend .menu-bloc;
      border-color: $color-partner-2 !important;

      .menu-title {
        &__label {
          color: $color-white;
          background-color: $color-partner-2;
          border: 1px solid $color-partner-2;
          border-radius: 2px;
          position: relative;
          left: -1px;
          width: calc(100% + 2px);
          margin-top: -1px;
        }

        &__steps {
          color: $color-partner-2;
          background-color: $color-white;
        }

        &__check {
          display: none;
        }
      }

      @for $i from 0 through 6 {
        .menu-item-container.items-#{$i} {
          height: calc(#{$i} * #{$sidebar-left-item-height});
          transition: height 0.25s ease-in-out 0.4s;
        }
      }
    }

    &--opened {
      @extend .menu-bloc;
      border-color: $color-partner-2 !important;

      .menu-title {
        &__label {
          border-bottom: 1px solid;
        }

        &__steps {
          color: $color-white;
          background-color: $color-partner-2;
        }

        &__check {
          top: calc(#{$sidebar-left-item-height} / 2 + 5px);
        }
      }

      @for $i from 0 through 6 {
        .menu-item-container.items-#{$i} {
          height: calc(#{$i} * #{$sidebar-left-item-height});
          transition: height 0.25s ease-in-out 0.4s;
        }
      }
    }

    &--enabled {
      @extend .menu-bloc;
      .menu-title {
        cursor: pointer;
      }
      .menu-title__label {
        color: $color-partner-2;
      }
    }

    &--disabled {
      @extend .menu-bloc;
      background-color: $color-white;
    }
  }

  &-title {
    &__label {
      font-family: $font-bold;
      font-size: 14px;
      line-height: calc(#{$sidebar-left-item-height} + 10px);
      color: $color-grey-medium;
      background-color: transparent;
      display: block;
      height: calc(#{$sidebar-left-item-height} + 10px);
      padding-left: 15px;
      transition: all 0.25s ease-in-out 0.4s;
    }

    &__check {
      fill: $color-partner-2;
      stroke: none;
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
      display: none;
      width: 12px;
      height: 9px;
    }
    &__check--active {
      position: absolute;
      top: calc(#{$sidebar-left-item-height} / 2 + 5px - 14px);
      right: 10px;
      display: none;
      width: 28px;
      height: 28px;
      display: block;
    }
    &__steps {
      position: absolute;
      top: calc(#{$sidebar-left-item-height} / 2 + 5px - 14px);
      right: 10px;
      display: none;
      width: 28px;
      height: 28px;

      font-family: $font-bold;
      font-size: 13px;
      line-height: 28px;
      text-align: center;
      color: $color-white;
      background-color: $color-partner-2;
      border-radius: 50%;
    }
  }

  &-item {
    height: $sidebar-left-item-height;
    line-height: $sidebar-left-item-height;
    position: relative;
    z-index: 2;
    padding-left: 15px;

    &-container {
      position: relative;
      height: 0;
      overflow: hidden;
      transition: height 0.25s ease-in-out;

      .before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 4px;
        height: $sidebar-left-item-active;
        transition: transform 0.25s ease-in-out;
      }

      .after {
        content: '';
        background-color: var(--color-partner-2-02);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: $sidebar-left-item-height;
        transition: transform 0.25s ease-in-out;
      }

      @for $i from 0 through 6 {
        &.item-active-#{$i} {
          .before {
            background-color: $color-dark-light;
            transform: translateY(
              calc(
                (#{$i} * #{$sidebar-left-item-height}) +
                  (#{$sidebar-left-item-height} - #{$sidebar-left-item-active}) /
                  2
              )
            );
          }

          .after {
            transform: translateY(calc(#{$i} * #{$sidebar-left-item-height}));
          }
        }
      }
    }

    &__label {
      font-family: $font-medium;
      font-size: 13px;
      color: $color-grey-medium;
      transition: color 0.25s ease-in-out;
    }

    &--valid {
      @extend .menu-item;
      .menu-title {
        cursor: pointer;
      }
      @media screen and (min-width: $width_S) {
        &:hover .menu-item__label {
          color: $color-text;
        }
      }
      .menu-item__label {
        color: $color-partner-2;
      }
    }

    &--active {
      @extend .menu-item;
      @media screen and (min-width: $width_S) {
        &:hover .menu-item__label {
          color: $color-text;
        }
      }
      .menu-item__label {
        color: $color-partner-2;
      }
    }

    &--enabled {
      @extend .menu-item;

      @media screen and (min-width: $width_S) {
        &:hover .menu-item__label {
          color: $color-text;
        }
      }
      .menu-item__label {
        color: $color-partner-2;
      }
    }

    &--disabled {
      @extend .menu-item;
    }
  }
}

.legal-notice {
  &__container {
    display: block;
    width: 100%;

    &__item {
      text-align: center;
      border-top: 2px solid $color-bg-container;
      display: block;
      width: 100%;
      padding: 10px;
      cursor: pointer;

      &__text {
        font-family: $font-bold;
        font-size: 14px;
        line-height: 22px;
        color: $color-title;
        position: relative;
        display: inline-block;
        overflow: hidden;

        .before {
          background-color: $color-title;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          transform: translateX(-101%);
          transition: transform 0.25s ease-in-out;
        }
      }

      @media screen and (min-width: $width_S) {
        &:hover span.before {
          transform: translateX(0);
        }
      }
    }
  }

  @media screen and (min-width: $width_S) {
    &:hover span.before {
      transform: translateX(0);
    }
  }
}
</style>
