<template>
  <div class="customer-identification-container">
    <h1 class="customer-identification__title">
      {{ $t('souscription.connexion.idOublieTitre') }}
    </h1>
    <p class="customer-identification__subtitle">
      {{ $t('souscription.connexion.idOublieSousTitre') }}
    </p>
    <div
      :class="{ show: isCustomerNotFound || isApiError }"
      class="customer-identification__alert"
      ref="customerIdentificationError"
    >
      <Alert
        :show="isCustomerNotFound || isApiError"
        :level="'error'"
        :message="errorMessage"
        :img-src="`${baseUrl}/error.svg`"
      />
    </div>
    <div class="inputContainer">
      <InputText
        :label="$t('souscription.connexion.nomDeFamille')"
        :setValue="setIdentificationFormValue"
        :value="customerIdentification.lastName"
        :validateOnChange="true"
        :maxLength="maxLengthName"
        :minLength="2"
        :onlyText="true"
        autocomplete="family-name"
        id="lastName"
      ></InputText>
    </div>
    <div class="inputContainer">
      <InputText
        :label="$t('souscription.connexion.prenom')"
        :setValue="setIdentificationFormValue"
        :value="customerIdentification.firstName"
        :validateOnChange="true"
        :maxLength="maxLengthName"
        :minLength="2"
        :onlyText="true"
        autocomplete="given-name"
        id="firstName"
      ></InputText>
    </div>
    <div class="inputContainer">
      <InputDate
        :label="$t('souscription.connexion.dateNaissance')"
        :maxDate="DateUtils.now()"
        :minDate="DateUtils.minBirthDate()"
        :setValue="setIdentificationFormValue"
        :value="customerIdentification.birthDate"
        :validateOnChange="true"
        :errorImgPath="`smiling-face.svg`"
        id="birthDate"
      ></InputDate>
    </div>
    <div class="inputContainer">
      <InputNumber
        :label="$t('souscription.connexion.departementNaissance')"
        :setValue="setIdentificationFormValue"
        :value="customerIdentification.birthPostCode"
        :placeholder="$t('souscription.connexion.departementNaissanceExample')"
        :validateOnChange="true"
        :maxLength="maxLengthBirthPostCode"
        :minLength="1"
        labelUnit=""
        id="birthPostCode"
      ></InputNumber>
    </div>
    <p class="customer-identification__input-informations">
      {{ $t('souscription.connexion.infoDepartementNaissanceEtranger') }}
    </p>
    <div class="customer-identification__action-block">
      <google-recaptcha
        id="btn-search-customer-identification"
        type="submit"
        class="large btn-search"
        ref="googleRecaptcha"
        :class="{ disabled: disabledSearchIdButton(), loading: customerIdentificationLoading }"
        :sitekey="recpatchaSiteKey"
        :validate="validateSearchCustomerIdentification"
        :callback="launchSearchCustomerIdentification"
        :loading="customerIdentificationLoading"
        :disabled="customerIdentificationLoading"
        :theme="'light'"
        :btn-label="$t('souscription.connexion.ctaRechercheIdentifiant')"
        @onExpired="onRecaptchaExpiredOrError"
        @onError="onRecaptchaExpiredOrError"
      />
      <a
        href="javascript:void(0);"
        class="customer-identification__back-link"
        @click="navigateTo(LoginFormType.SigninForm)"
        data-ecat="Récupération identifiant"
        data-eaction="retour"
        data-elabel="Retour à l'espace de connexion"
        v-tag
      >
        {{ $t('souscription.connexion.lienRetourEspaceConnexion') }}
      </a>
      <div class="customer-identification__recaptcha-informations">
        <p
          v-html="
            $t('souscription.connexion.recaptchaText', {
              recaptchaConfidentialite: $t('souscription.connexion.recaptchaConfidentialite'),
              recaptchaConditions: $t('souscription.connexion.recaptchaConditions')
            })
          "
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { Getter, Mutation, State } from 'vuex-class';
import { RECAPTCHA_SITE_KEY } from '@/config/config';
import { mixins } from 'vue-class-component';
import { BusinessRule } from '@/services/BusinessRule';
import CustomerIdentificationBase from '@/views/popin/login/CustomerIdentificationBase';
import { LoginFormType } from '@/models/subscription/authentication/Authentication';
import {
  ICustomerIdentificationChoice,
  ICustomerIdentificationForm
} from '@/models/subscription/authentication/ICustomerIdentification';
import DateUtils from '@/utils/dateUtils';
import GoogleRecaptcha from '@/components/recaptcha/GoogleRecaptcha.vue';
import { RootState } from '@/store/types';
import { RoutePathId } from '@/models/RoutesPath';
import { getTagManagerInstance } from '@/services/tagManagerFactory';

@Component({
  components: {
    'google-recaptcha': GoogleRecaptcha
  }
})
export default class CustomerIdentificationForm extends mixins(CustomerIdentificationBase) {
  @Prop({ default: undefined }) private currentForm: LoginFormType;

  @State((state: RootState) => state.subscription.authentication.identification.form)
  private customerIdentification: ICustomerIdentificationForm;

  @Mutation private setAuthIdentificationForm: (data: ICustomerIdentificationForm) => void;
  @Mutation private setAuthIdentificationChoice: (data: ICustomerIdentificationChoice) => void;

  @Getter private getValidationStatus!: (pathId: string) => boolean;

  private googleRecaptcha: any = GoogleRecaptcha;

  private isCustomerNotFound: boolean = false;
  private isApiError: boolean = false;
  private customerIdentificationLoading: boolean = false;
  private tagManagerService = getTagManagerInstance();

  private DateUtils = DateUtils;

  public mounted() {
    this.googleRecaptcha = this.$refs.googleRecaptcha as GoogleRecaptcha;
  }

  public destroyed() {
    this.googleRecaptcha.reset();
  }

  private setIdentificationFormValue(value: string | null, fieldName: string): void {
    this.customerIdentification[fieldName] = value;
    this.setAuthIdentificationForm(this.customerIdentification);
  }

  private disabledSearchIdButton(): boolean {
    return !this.getValidationStatus(RoutePathId.IDENTIFICATION);
  }

  private validateSearchCustomerIdentification(): boolean {
    return this.getValidationStatus(RoutePathId.IDENTIFICATION);
  }

  private launchSearchCustomerIdentification(reCaptchaToken: string): void {
    this.customerIdentificationLoading = true;
    this.identificationService
      .retrieveCustomerIdentification(this.customerIdentification, reCaptchaToken)
      .then(
        (res) => this.manageSuccessResCustomerIdentification(res),
        (err) => this.manageErrorResCustomerIdentification(err)
      )
      .finally(() => (this.customerIdentificationLoading = false));
  }

  private manageSuccessResCustomerIdentification(response: any) {
    this.tagManagerService.gaClick('Récupération identifiant', 'rechercher', 'authentification - ok');
    this.isCustomerNotFound = false;
    this.setAuthIdentificationChoice(response.data);
    this.navigateTo(LoginFormType.CustomerIdentificationChoice);
  }

  private manageErrorResCustomerIdentification(error) {
    // API returns status co
    //
    // de (error.response.statusCode):
    // - 404 if the customer was not found
    // - 400 if the recaptcha token is missing from the request
    // - 403 if the recaptcha token is invalid*
    this.tagManagerService.gaClick('Récupération identifiant', 'rechercher', 'authentification - ko');
    const statusCode = error && error.response ? error.response.status : undefined;
    if (statusCode && statusCode === 404) {
      this.isCustomerNotFound = true;
    } else {
      this.isApiError = true;
    }
    this.scrollToAlertError();
  }

  private onRecaptchaExpiredOrError() {
    this.customerIdentificationLoading = false;
    this.googleRecaptcha.reset();
  }

  private get maxLengthName(): number {
    return BusinessRule.MAX_LENGTH_NAME;
  }

  private get maxLengthBirthPostCode(): number {
    return BusinessRule.MAX_LENGTH_BIRTH_POST_CODE;
  }

  private get errorMessage(): string {
    return this.isCustomerNotFound
      ? (this.$t('souscription.connexion.idOublieErreur') as string)
      : (this.$t('souscription.connexion.idOublieErreurApi') as string);
  }

  private get recpatchaSiteKey(): string {
    return RECAPTCHA_SITE_KEY;
  }
}
</script>

<style lang="scss" scoped>
.btn-search {
  margin: 20px auto;
}
::v-deep .grecaptcha-badge {
  position: absolute;
  top: 130px;
  margin-left: -25px;
}
</style>
