<template>
  <div class="customer-identification-container">
    <img class="customer-identification__title-image" :src="`${baseUrl}/sms-code.svg`" alt="envoi identifiant" />
    <h1 class="customer-identification__title">
      {{ $t('souscription.connexion.envoiIdentifiantTitre') }}
    </h1>
    <h2 class="customer-identification__subtitle">
      {{ $t('souscription.connexion.envoiIdentifiantSousTitre') }}
    </h2>
    <div :class="{ show: isApiError }" class="customer-identification__alert" ref="customerIdentificationError">
      <alert
        :show="isApiError"
        :level="'error'"
        :message="$t('souscription.connexion.idOublieErreurApi')"
        :img-src="`${baseUrl}/error.svg`"
      />
    </div>
    <div class="customer-identification__action-block">
      <app-button
        class="btn-send-by"
        v-tag
        data-ecat="envoi identifiant"
        data-eaction="envoyer"
        data-elabel="email"
        data-cs-mask
        :noBackground="true"
        :noChevron="true"
        :ellipsis="true"
        :label="$t('souscription.connexion.ctaEnvoiIdentifiantParMail', { customerMail: getCustomerMail() })"
        :onClick="sendCustomerIdentificationByEmail"
        :loading="isSendingCustomerIdByMail"
        :disabled="isSendingCustomerIdBySms"
        :colors="colors"
      />
      <app-button
        class="btn-send-by"
        v-tag
        data-ecat="envoi identifiant"
        data-eaction="envoyer"
        data-elabel="sms"
        data-cs-mask
        :noBackground="true"
        :noChevron="true"
        :ellipsis="true"
        :label="
          $t('souscription.connexion.ctaEnvoiIdentifiantParSMS', { customerMobilePhone: getCustomerMobilePhone() })
        "
        :onClick="sendCustomerIdentificationBySms"
        :loading="isSendingCustomerIdBySms"
        :disabled="isSendingCustomerIdByMail"
        :colors="colors"
      />
      <div class="customer-identification__alert show">
        <Alert
          :show="true"
          :level="'info'"
          :message="$t('souscription.connexion.envoiIdentifiantInformation')"
          :img-src="`${baseUrl}/icon-tips-info-help.svg`"
          :img-position="'top'"
        />
      </div>
      <a
        v-tag
        data-ecat="envoi identifiant"
        data-eaction="retour"
        data-elabel="Retour à l'espace de connexion"
        href="javascript:void(0);"
        class="customer-identification__back-link"
        @click="navigateTo(LoginFormType.SigninForm)"
      >
        {{ $t('souscription.connexion.lienRetourEspaceConnexion') }}
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
import { Mutation, State } from 'vuex-class';
import CustomerIdentificationBase from '@/views/popin/login/CustomerIdentificationBase';
import { ICustomerIdentificationChoice, SendBy } from '@/models/subscription/authentication/ICustomerIdentification';
import { RootState } from '@/store/types';
import Button from '@/components/graphic/Button.vue';
import { LoginFormType } from '@/models/subscription/authentication/Authentication';

@Component({
  components: {
    'app-button': Button
  }
})
export default class CustomerIdentificationChoice extends mixins(CustomerIdentificationBase) {
  @State((state: RootState) => state.subscription.authentication.identification.choice)
  private customerIdentificationChoice: ICustomerIdentificationChoice;

  @Mutation private setAuthIdentificationChoice: (data: ICustomerIdentificationChoice) => void;

  private isSendingCustomerIdByMail: boolean = false;
  private isSendingCustomerIdBySms: boolean = false;
  private isApiError: boolean = false;

  private getCustomerMail() {
    return this.customerIdentificationChoice.encodedEmailAddress;
  }

  private getCustomerMobilePhone() {
    return this.customerIdentificationChoice.encodedMobileNumber;
  }

  private setIdentificationChoiceValue(value: string | null, fieldName: string) {
    this.customerIdentificationChoice[fieldName] = value;
    this.setAuthIdentificationChoice(this.customerIdentificationChoice);
  }

  private sendCustomerIdentificationBySms(): void {
    this.sendCustomerIdentificationBy('sms');
  }

  private sendCustomerIdentificationByEmail(): void {
    this.sendCustomerIdentificationBy('email');
  }

  private sendCustomerIdentificationBy(sendBy: SendBy) {
    this.setIdentificationChoiceValue(sendBy, 'sendBy');
    this.isSendingCustomerIdByMail = this.customerIdentificationChoice.sendBy === 'email';
    this.isSendingCustomerIdBySms = this.customerIdentificationChoice.sendBy === 'sms';
    const { id, token } = this.customerIdentificationChoice;
    this.identificationService
      .sendCustomerIdentificationBy(sendBy, id, token)
      .then(
        (res) => {
          this.navigateTo(LoginFormType.CustomerIdentificationChoiceResult);
        },
        (err) => {
          this.manageSendCustomerIdentificationError(err);
        }
      )
      .finally(() => {
        this.isSendingCustomerIdByMail = false;
        this.isSendingCustomerIdBySms = false;
      });
  }

  private manageSendCustomerIdentificationError(error): void {
    this.isApiError = true;
    this.scrollToAlertError();
  }
}
</script>

<style lang="scss" scoped>
.customer-identification {
  @media screen and (min-width: $width_S) {
    &-container {
      text-align: center;
    }

    &__subtitle {
      font-family: $font-bold;
      color: $color-black;
      margin-bottom: 0px;
    }
  }

  &__alert {
    &.show {
      margin-top: 30px;
    }
  }

  &__action-block {
    text-align: center;
    margin-top: 8px;
  }
}

.d-f {
  display: flex;
}

.btn-fixed {
  width: 100%;

  @media screen and (min-width: $width_S) {
    width: 80%;
  }
}

.btn-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.loading {
    overflow: visible;
  }
}

.m-0 {
  margin: 0;
}

.loader-button {
  &::after {
    background-color: $color-partner-4;
  }

  span {
    &::before,
    &::after {
      background-color: $color-partner-4;
    }
  }
}

.btn-send-by {
  margin: 20px auto;
  width: 100%;

  @media screen and (min-width: $width_S) {
    width: 80%;
  }

  ::v-deep.loading {
    .loader-content {
      .after {
        background-color: $color-partner-4 !important;
      }

      span {
        .spanBefore,
        .spanAfter {
          background-color: $color-partner-4 !important;
        }
      }
    }
  }
}
</style>
