<template>
  <div class="customer-identification-container">
    <img class="customer-identification__title-image" :src="`${baseUrl}/sms-code.svg`" alt="alertIcon" />
    <h1 class="customer-identification__title">
      {{ $t('souscription.connexion.envoiIdentifiantTitre') }}
    </h1>
    <h2 class="customer-identification__subtitle" v-html="textSubtitle" />
    <div :class="{ show: isApiError }" class="customer-identification__alert" ref="customerIdentificationError">
      <Alert
        :show="isApiError"
        :level="'error'"
        :message="$t('souscription.connexion.idOublieErreurApi')"
        :img-src="`${baseUrl}/error.svg`"
      />
    </div>
    <div class="customer-identification__alert show">
      <Alert
        :show="true"
        :level="'info'"
        :message="textAlertMessage"
        :img-src="`${baseUrl}/icon-tips-info-help.svg`"
        :img-position="'top'"
      />
    </div>
    <div class="customer-identification__action-block">
      <app-button
        class="btn-identify-me"
        :noChevron="true"
        :label="$t('souscription.connexion.ctaEnvoiIdentifiantMidentfier')"
        :onClick="navigateToSigninForm"
        :colors="colors"
      />
      <button
        class="button-simulator btn-resend link"
        :class="{ resending: isResendingBy, resended: isResendedBy }"
        @click.prevent="resendCustomerIdentification()"
      >
        <span>{{ isResendedBy ? textCtaResended : textCtaNotResended }}</span>
        <div class="loader-inline-button">
          <span></span>
        </div>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
import { State } from 'vuex-class';
import CustomerIdentificationBase from '@/views/popin/login/CustomerIdentificationBase';
import { ICustomerIdentificationChoice } from '@/models/subscription/authentication/ICustomerIdentification';
import { RootState } from '@/store/types';
import Button from '@/components/graphic/Button.vue';
import { LoginFormType } from '@/models/subscription/authentication/Authentication';

@Component({
  components: {
    'app-button': Button
  }
})
export default class CustomerIdentificationChoiceResult extends mixins(CustomerIdentificationBase) {
  @State((state: RootState) => state.subscription.authentication.identification.choice)
  private customerIdentificationChoice: ICustomerIdentificationChoice;

  private readonly MAX_NUMBER_OF_RESEND = 3;
  private readonly RESEND_TIMEOUT = 7000;

  private isResendingBy: boolean = false;
  private isResendedBy: boolean = false;
  private isApiError: boolean = false;
  private numberOfResend = 0;

  private resendCustomerIdentification(): void {
    const { sendBy, id, token } = this.customerIdentificationChoice;
    this.isResendingBy = true;
    this.identificationService.sendCustomerIdentificationBy(sendBy, id, token).then(
      (res) => {
        this.manageSendCustomerIdentificationSuccess(res);
      },
      (err) => {
        this.manageSendCustomerIdentificationError(err);
      }
    );
  }

  private manageSendCustomerIdentificationSuccess(res): void {
    this.isResendingBy = false;
    this.isResendedBy = true;
    // For {RESEND_TIMEOUT}ms, the user cannot resend SMS or MAIL
    if (this.numberOfResend < this.MAX_NUMBER_OF_RESEND - 1) {
      setTimeout(() => {
        this.isResendedBy = false;
        this.numberOfResend++;
      }, this.RESEND_TIMEOUT);
    }
  }

  private manageSendCustomerIdentificationError(error): void {
    this.isResendingBy = false;
    this.isApiError = true;
    this.scrollToAlertError();
  }

  private navigateToSigninForm(): void {
    this.navigateTo(LoginFormType.SigninForm);
  }

  private get textSubtitle(): string {
    switch (this.customerIdentificationChoice.sendBy) {
      case 'sms':
        return this.$t('souscription.connexion.envoiIdentifiantParSmsSousTitre', {
          encodedMobileNumber: this.customerIdentificationChoice.encodedMobileNumber
        }) as string;
      case 'email':
        return this.$t('souscription.connexion.envoiIdentifiantParMailSousTitre', {
          encodedEmailAddress: this.customerIdentificationChoice.encodedEmailAddress
        }) as string;
      default:
        throw Error('No sending method has been selected');
    }
  }

  private get textAlertMessage(): string {
    switch (this.customerIdentificationChoice.sendBy) {
      case 'sms':
        return this.$t('souscription.connexion.envoiIdentifiantParSmsInfo') as string;
      case 'email':
        return this.$t('souscription.connexion.envoiIdentifiantParMailInfo') as string;
      default:
        throw Error('No sending method has been selected');
    }
  }

  private get textCtaNotResended(): string {
    switch (this.customerIdentificationChoice.sendBy) {
      case 'sms':
        return this.$t('souscription.connexion.ctaEnvoiIdentifiantRenvoyerSms') as string;
      case 'email':
        return this.$t('souscription.connexion.ctaEnvoiIdentifiantRenvoyerMail') as string;
      default:
        throw Error('No sending method has been selected');
    }
  }

  private get textCtaResended(): string {
    switch (this.customerIdentificationChoice.sendBy) {
      case 'sms':
        return this.$t('souscription.connexion.ctaEnvoiIdentifiantRenvoiSmsOk') as string;
      case 'email':
        return this.$t('souscription.connexion.ctaEnvoiIdentifiantRenvoiMailOk') as string;
      default:
        throw Error('No sending method has been selected');
    }
  }
}
</script>

<style lang="scss" scoped>
.customer-identification {
  @media screen and (min-width: $width_S) {
    &-container {
      text-align: center;
    }

    &__subtitle {
      font-family: $font-bold;
      color: $color-black;
      margin-bottom: 0px;
    }
  }

  &__alert {
    &.show {
      margin-top: 30px;
    }
  }

  &__action-block {
    margin-top: 30px;
    text-align: center;
  }
}

.btn-identify-me {
  margin: 0 auto;
}

.btn-resend {
  margin: 10px auto;
  background-color: $color-white;
  color: $color-partner-4;
  border-width: 2px;

  @media screen and (min-width: $width_S) {
    &:hover,
    &:not(.loading):hover {
      background-color: transparent;
    }
  }

  span,
  .icon {
    color: $color-partner-4;
  }

  &.link {
    border: 0px solid $color-white;
    text-decoration: none;
    background-color: transparent;
    &:hover {
      text-decoration: underline;
      box-shadow: none;
    }
  }

  &.resending {
    > span {
      opacity: 0;
    }

    .loader-inline-button {
      display: block;
    }
  }

  &.resended {
    cursor: default;
    pointer-events: none;

    span {
      text-transform: none;

      &::before {
        content: '';
        margin-right: 8px;
        display: inline-block;
        transform: rotate(45deg);
        height: 14px;
        width: 8px;
        border-bottom: 2px solid $color-partner-4;
        border-right: 2px solid $color-partner-4;
      }
    }
  }
}

.loader-inline-button {
  --loader-dot-size: 8px;
  --loader-dot-spacing: 15px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--loader-dot-size);
  height: var(--loader-dot-size);
  border-radius: 5px;
  background-color: $color-partner-4;
  color: $color-partner-4;
  margin: 0 auto;
  -webkit-animation: loaderInlineButton 1s infinite linear alternate;
  animation: loaderInlineButton 1s infinite linear alternate;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }

  &::before {
    left: -20px;
    width: var(--loader-dot-size);
    height: var(--loader-dot-size);
    border-radius: 5px;
    background-color: $color-partner-4;
    color: $color-partner-4;
    animation: loaderInlineButton 1s infinite alternate;
    animation-delay: 0s;
  }

  &::after {
    left: 20px;
    width: var(--loader-dot-size);
    height: var(--loader-dot-size);
    border-radius: 5px;
    background-color: $color-partner-4;
    color: $color-partner-4;
    animation: loaderInlineButton 1s infinite alternate;
    animation-delay: 1s;
  }
}
</style>
