<template>
  <!-- The hasDisableBodyScroll is equal to false because the the body scroll is already disabled in this component -->
  <app-popin
    ref="loginPopin"
    :closeAction="closePopin"
    :active="opened"
    :colors="colors"
    :popinHeader="true"
    :rightSideBar="true"
    :small="true"
    :hasDisableBodyScroll="false"
  >
    <div class="right-sidebar-container">
      <div
        :class="{
          hide: hidePopup,
          show: currentNav === P_NAV.login,
          'translate-left': currentNav === P_NAV.infos
        }"
        class="login-sidebar-container"
      >
        <div class="login-sidebar-header">
          <h2 class="login-sidebar-header__title">
            {{ $t('souscription.connexion.titre') }}
          </h2>
          <h2 class="login-sidebar-header__title mobile">
            {{ $t('souscription.connexion.sousTitre') }}
          </h2>
          <button @click="closePopin" class="popup__close"></button>
        </div>
        <div class="login-sidebar-form" v-if="currentLoginForm === LoginFormType.SigninForm">
          <div @click="currentNav = P_NAV.infos" class="login-sidebar-show-info">
            <span>{{ $t('souscription.connexion.commentConnecter') }}</span>
            <img :src="`${baseUrl}/arrow-white-left.svg`" alt="flèche" />
          </div>
          <div class="login-sidebar-wrapper login" ref="loginWrapper">
            <div :class="{ 'display-error': showValidationError }" class="login-sidebar-content">
              <div
                :class="{ show: loginFormError }"
                :style="{ height: `${heightError}px` }"
                class="login-sidebar-content__error"
                ref="loginError"
              >
                <p>{{ $t('souscription.connexion.accesIncorrect') }}</p>
              </div>
              <h3 class="login-sidebar-content__title">
                {{
                  basket ? $t('souscription.connexion.reprenezSouscription') : $t('souscription.connexion.dejaClient')
                }}
              </h3>
              <div class="login-sidebar-content__text">
                {{
                  basket ? $t('souscription.connexion.connectezPourRevenir') : $t('souscription.connexion.aeImmediat')
                }}
              </div>
              <a
                href="javascript:void(0);"
                data-ecat="souscription - authentification"
                v-tag
                data-eaction="recupérer identifiant"
                data-elabel="identifiant oublié"
                @click="navigateTo(LoginFormType.CustomerIdentificationForm)"
                class="login-sidebar-content__link"
              >
                <span>{{ $t('souscription.connexion.idOublie') }}</span>
              </a>
              <div class="inputContainer">
                <input-text
                  ref="idInput"
                  :forceDisplayToolTip="noDossierForceDisplayTooltip"
                  :label="$t('souscription.connexion.noDossier')"
                  :setValue="setAuthenRequestValue"
                  :toolTip="helpToolTip"
                  :value="authenRequest.id"
                  id="id"
                />
              </div>
              <div class="inputContainer">
                <input-date
                  ref="birthDateInput"
                  :label="$t('souscription.connexion.dateNaissance')"
                  :maxDate="maxDate"
                  :minDate="minDate"
                  :setValue="setAuthenRequestValue"
                  :value="authenRequest.birthDate"
                  :errorImgPath="`smiling-face.svg`"
                  id="birthDate"
                />
              </div>
              <h3 class="login-sidebar-content__label">
                {{ $t('souscription.connexion.codeAcces') }}
              </h3>
              <input-keypad
                :column="keypadParams.numberOfColumns"
                :columnMargin="keypadParams.columnMarginCss"
                :digitHeight="keypadParams.cellHeightCss"
                :digitWidth="keypadParams.cellWidthCss"
                :digitMasks="digitMasks"
                :keypadUrl="keypadUrl"
                :reload="reloadKeypad"
                :row="keypadParams.numberOfRows"
                :rowMargin="keypadParams.rowMarginCss"
                :setValue="setAuthenRequestValue"
              />
              <app-button
                type="button"
                class="btn-login"
                :noChevron="true"
                :label="$t('souscription.connexion.seConnecter')"
                :onClick="login"
                :loading="clientIsLogging"
                :colors="colors"
              />
            </div>
          </div>
        </div>
        <div class="login-sidebar-form" v-else>
          <div class="login-sidebar-wrapper customer-identification" ref="customerIdentificationWrapper">
            <div class="login-sidebar-content">
              <customer-identification-form
                v-if="currentLoginForm === LoginFormType.CustomerIdentificationForm"
                @navigateTo="navigateTo"
              />
              <customer-identification-choice
                v-else-if="currentLoginForm === LoginFormType.CustomerIdentificationChoice"
                @navigateTo="navigateTo"
              />
              <customer-identification-choice-result
                v-else-if="currentLoginForm === LoginFormType.CustomerIdentificationChoiceResult"
                @navigateTo="navigateTo"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Informations Sidebar -->
      <div :class="{ hide: hidePopupInfos, show: currentNav === P_NAV.infos }" class="information-sidebar-container">
        <div @click="currentNav = P_NAV.login" class="information-sidebar-header">
          <img :src="`${baseUrl}/arrow-white-left.svg`" />
          <h2 class="information-sidebar-header__title">
            {{ $t('souscription.connexion.commentConnecter') }}
          </h2>
        </div>
        <div class="information-sidebar-container-inner" ref="informationSidebarContainerInner">
          <h3 class="information-sidebar-container__title">
            {{ $t('souscription.connexion.savoirConnecter') }}
          </h3>
          <p class="information-sidebar-container__text">
            {{ $t('souscription.connexion.infoUtiles') }}
          </p>
          <div class="information-sidebar-container__information">
            <ul>
              <li class="information-sidebar-container__item">
                <div
                  @click="toggleItem($event)"
                  class="information-sidebar-container__item-header"
                  data-ecat="souscription - authentification"
                  v-tag
                  data-eaction="pédagogie"
                  data-elabel="Comment me connecter ?"
                >
                  <div class="information-sidebar-container__item-img">
                    <img :src="`${baseUrl}/${$t('souscription.connexion.commentConnecterImg')}`" alt="euro" />
                  </div>
                  <h3 class="information-sidebar-container__item-title">
                    {{ $t('souscription.connexion.commentConnecter') }}
                  </h3>
                  <img
                    :src="`${baseUrl}/arrow-bottom.svg`"
                    alt="chevron"
                    class="information-sidebar-container__item-arrow"
                  />
                </div>
                <p class="information-sidebar-container__item-content">
                  {{ $t('souscription.connexion.infoUtilesDetail1') }}
                </p>
              </li>
              <li class="information-sidebar-container__item">
                <div
                  @click="toggleItem($event)"
                  class="information-sidebar-container__item-header"
                  data-ecat="souscription - authentification"
                  v-tag
                  data-eaction="pédagogie"
                  data-elabel="Où trouver mon identifiant ?"
                >
                  <div class="information-sidebar-container__item-img">
                    <img :src="`${baseUrl}/${$t('souscription.connexion.ouTrouverImg')}`" alt="euro" />
                  </div>
                  <h3 class="information-sidebar-container__item-title">
                    {{ $t('souscription.connexion.ouTrouver') }}
                  </h3>
                  <img
                    :src="`${baseUrl}/arrow-bottom.svg`"
                    alt="chevron"
                    class="information-sidebar-container__item-arrow"
                  />
                </div>
                <p class="information-sidebar-container__item-content">
                  {{ $t('souscription.connexion.choixIdentifiant') }}
                </p>
              </li>
              <li class="information-sidebar-container__item">
                <div
                  @click="toggleItem($event)"
                  class="information-sidebar-container__item-header"
                  data-ecat="souscription - authentification"
                  v-tag
                  data-eaction="pédagogie"
                  data-elabel="Quels sont les comptes éligibles ?"
                >
                  <div class="information-sidebar-container__item-img">
                    <img :src="`${baseUrl}/${$t('souscription.connexion.compteEligibleImg')}`" alt="euro" />
                  </div>
                  <h3 class="information-sidebar-container__item-title">
                    {{ $t('souscription.connexion.compteEligible') }}
                  </h3>
                  <img
                    :src="`${baseUrl}/arrow-bottom.svg`"
                    alt="chevron"
                    class="information-sidebar-container__item-arrow"
                  />
                </div>
                <div class="information-sidebar-container__item-content">
                  <p>{{ $t('souscription.connexion.casConnexionPossible') }}</p>
                  <ul class="information-sidebar-container__item-content-list">
                    <li>{{ $t('souscription.connexion.casConnexion1') }}</li>
                    <li>{{ $t('souscription.connexion.casConnexion2') }}</li>
                    <li>{{ $t('souscription.connexion.casConnexion3') }}</li>
                    <li>{{ $t('souscription.connexion.casConnexion4') }}</li>
                    <li>{{ $t('souscription.connexion.casConnexion5') }}</li>
                    <li>{{ $t('souscription.connexion.casConnexion6') }}</li>
                  </ul>
                </div>
              </li>
              <li class="information-sidebar-container__item">
                <div
                  @click="toggleItem($event)"
                  class="information-sidebar-container__item-header"
                  data-ecat="souscription - authentification"
                  v-tag
                  data-eaction="pédagogie"
                  data-elabel="Quels sont les avantages ?"
                >
                  <div class="information-sidebar-container__item-img">
                    <img :src="`${baseUrl}/${$t('souscription.connexion.avantageImg')}`" alt="euro" />
                  </div>
                  <h3 class="information-sidebar-container__item-title">
                    {{ $t('souscription.connexion.avantage') }}
                  </h3>
                  <img
                    :src="`${baseUrl}/arrow-bottom.svg`"
                    alt="chevron"
                    class="information-sidebar-container__item-arrow"
                  />
                </div>
                <p class="information-sidebar-container__item-content">
                  {{ $t('souscription.connexion.avantage1') }}
                  <br />
                  <br />
                  {{ $t('souscription.connexion.avantage2') }}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </app-popin>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import Popin from '@/components/graphic/Popin.vue';
import Button from '@/components/graphic/Button.vue';
import { Getter, Mutation, State } from 'vuex-class';
import { Colors } from '@/models/Colors';
import { Inject, Prop, Watch } from 'vue-property-decorator';
import { DateTime } from 'luxon';
import { ToolTip } from '@/models/Tooltip';
import { AxiosResponse } from 'axios';
import { Basket } from '@/models/subscription/authentication/Basket';
import { AuthenRequest, AuthenResponse, LoginFormType } from '@/models/subscription/authentication/Authentication';
import { KeypadApi } from '@/services/KeypadApi';
import { AuthService } from '@/services/AuthService';
import { IKeypadsParametersV2, IKeypadsResponse } from '@/models/subscription/authentication/Keypad';
import { validateAndUpdateToken } from '@/services/token';
import Keypad from '@/components/input/keypad/Keypad.vue';
import { RootState, SubscriptionData } from '@/store/types';
import CustomerIdentificationForm from '@/views/popin/login/CustomerIdentificationForm.vue';
import CustomerIdentificationChoice from '@/views/popin/login/CustomerIdentificationChoice.vue';
import CustomerIdentificationChoiceResult from '@/views/popin/login/CustomerIdentificationChoiceResult.vue';
import { ScrollOptions } from 'vue-scrollto';
import { SelectObject } from '@/models/selectObject';
import { RoutePathId } from '@/models/RoutesPath';
import { InterruptibilityService } from '@/services/interruptibilityService';
import { getTagManagerInstance } from '@/services/tagManagerFactory';
import { SubscriptionVersion } from '@/models/basket';
import { removeScroll } from '@/utils/scroll';

enum NAV {
  login = 1,
  infos = 2
}

@Component({
  components: {
    'app-popin': Popin,
    'app-button': Button,
    'input-keypad': Keypad,
    'customer-identification-form': CustomerIdentificationForm,
    'customer-identification-choice': CustomerIdentificationChoice,
    'customer-identification-choice-result': CustomerIdentificationChoiceResult
  }
})
export default class LoginPopin extends Vue {
  @Prop() private opened!: boolean;
  @Prop() private closePopin!: () => void;

  @State((state: RootState) => state.apiConfig.colors) private colors!: Colors;
  @State((state: RootState) => state.subscription.authentication.request) private authenRequest: AuthenRequest;
  @State((state: RootState) => state.subscription.authentication.clientIsLogging) private clientIsLogging: boolean;
  @State((state: RootState) => state.subscription.principal) private principal: SubscriptionData;
  @State((state) => state.subscription.basket) private basket!: Basket;

  @Mutation private setAuthenRequest!: (payload: AuthenRequest) => void;
  @Mutation private clearAuthenRequest: () => void;
  @Mutation private clearAuthenIdentification: () => void;
  @Mutation private setAuthenticationClientIsLogging: (isLogging: boolean) => void;
  @Mutation private setAuthenResponse: (payload: AuthenResponse) => void;
  @Mutation private updateRestoringCard!: (data: boolean) => void;

  @Getter private getValidationStatus!: (pathId: string) => boolean;
  @Getter private getHousingStateType!: SelectObject[];
  @Getter private getMaritalStatus: (isCreditForTwo: boolean) => SelectObject[] | null;

  @Inject() private keypadApi: KeypadApi;
  @Inject() private authService: AuthService;

  private hidePopup: boolean = true;
  private hidePopupInfos: boolean = true;
  private currentNav: number = NAV.login;
  private keypadUrl: string | null = null;
  private digitMasks: number[] | null = null;
  private heightError: number = 0;
  private loginFormError: boolean = false;
  private showValidationError: boolean = false;
  private reloadKeypad: boolean = false;
  private formIsValid: boolean = false;
  private hideOverlay: boolean = true;
  private keypadParams: IKeypadsParametersV2 | null = null;
  private noDossierForceDisplayTooltip: boolean = false;

  private P_NAV = NAV;
  private LoginFormType = LoginFormType;
  private currentLoginForm: LoginFormType = LoginFormType.SigninForm;
  private interruptibilityService = new InterruptibilityService();
  private tagManagerService = getTagManagerInstance();

  constructor() {
    super();
  }

  private created() {
    setTimeout(() => {
      this.hideOverlay = false;
    }, 100);
    setTimeout(() => {
      this.hidePopup = false;
    }, 500);
    setTimeout(() => {
      this.hidePopupInfos = false;
    }, 800);
    this.getKeypad();
  }

  private mounted() {
    // Tooltip display is forced with a timeout of 100ms in order to avoid and fix a display bug.
    setTimeout(() => {
      this.noDossierForceDisplayTooltip = true;
    }, 100);
    this.disableBodyScrollOnElementsDiv();
  }

  /**
   * Disable the body scroll to avoid scrolling content behind the login popin on iOS
   * To avoid undefined $refs, the body scroll is disable with a timeout of 300ms
   */
  private disableBodyScrollOnElementsDiv() {
    setTimeout(() => {
      if (this.currentLoginForm === LoginFormType.SigninForm) {
        removeScroll(this.$refs.loginWrapper as HTMLDivElement);
        removeScroll(this.$refs.informationSidebarContainerInner as HTMLDivElement);
      } else {
        removeScroll(this.$refs.customerIdentificationWrapper as HTMLDivElement);
      }
    }, 300);
  }

  private login() {
    this.formIsValid = this.getValidationStatus(RoutePathId.AUTH);
    if (this.formIsValid) {
      this.setAuthenticationClientIsLogging(true);
      this.showValidationError = false;
      this.authService
        .login(this.authenRequest)
        .then(async (response) => {
          this.tagManagerService.gaClick(
            'souscription - authentification',
            'authentification',
            'authentification - ok'
          );

          this.loginFormError = false;
          this.heightError = 0;
          this.setAuthenResponse(response.data);
          if (response && response.data && response.data.token) {
            await validateAndUpdateToken(response.data.token, 'authentication');
          }
          this.authService
            .getClientData(response.data.customerId, response.data.token)
            .then(async (val) => {
              await this.authService.fillLoggedClient(
                val.data,
                this.principal,
                this.getHousingStateType,
                this.getMaritalStatus(false)
              );
              setTimeout(() => {
                this.$parent.$children.forEach((child) => {
                  if (child.$el.classList && child.$el.classList.contains('top-bar')) {
                    (child as any).closeHelpLoginPopup();
                  }
                });
                this.setAuthenticationClientIsLogging(false);
                if (!this.hideOverlay) {
                  this.closePopin();
                }

                if (this.basket) {
                  // if the user is trying to pursue his subscription form, we route here
                  const secret = this.interruptibilityService.getStoredSimulationKeys().secret;
                  const savedState = this.interruptibilityService.decryptContent(
                    this.basket.encryptedState,
                    secret.concat(val.data.personalContact.mobileNumber)
                  );
                  const publicState = JSON.parse(this.basket.publicState);
                  const subscriptionVersion =
                    publicState && publicState.subscriptionVersion
                      ? publicState.subscriptionVersion
                      : SubscriptionVersion.V1;
                  if (savedState) {
                    const routeName = this.interruptibilityService.restoreState(savedState, subscriptionVersion);
                    if (routeName) {
                      this.$router.push({ name: routeName });
                    }
                  }
                  this.updateRestoringCard(false);
                }
              }, 2000);
            })
            .catch(() => this.manageAuthenticationError());
        })
        .catch(() => this.manageAuthenticationError());
    } else {
      this.tagManagerService.gaClick('souscription - authentification', 'authentification', 'authentification - ko');
      this.showValidationError = true;
      this.loginFormError = true;
      this.heightError = (this.$refs as any).loginError.scrollHeight;
      const element: HTMLDivElement = this.$refs.loginError as HTMLDivElement;
      const options: ScrollOptions = {
        container: this.$refs.loginWrapper as HTMLDivElement,
        offset: -10
      };
      this.$scrollTo(element, 300, options);
    }
  }

  private manageAuthenticationError() {
    this.tagManagerService.gaClick('souscription - authentification', 'authentification', 'authentification - ko');

    this.updateRestoringCard(false);
    // To clear the fields when an error is encountered, the methods clear to display input error
    // To improve this code and not use $refs, the portail-shared-component need to be improved
    // @ts-ignore
    this.$refs.idInput.clear();
    // @ts-ignore
    this.$refs.idInput.handleBlur();
    // @ts-ignore
    this.$refs.birthDateInput.clear();
    // @ts-ignore
    this.$refs.birthDateInput.handleBlur();

    this.setAuthenticationClientIsLogging(false);
    this.loginFormError = true;
    this.clearAuthenRequest();
    this.keypadUrl = null;
    this.heightError = (this.$refs as any).loginError.scrollHeight;
    const element: HTMLDivElement = this.$refs.loginError as HTMLDivElement;
    const options: ScrollOptions = {
      container: this.$refs.loginWrapper as HTMLDivElement,
      offset: -10
    };
    this.$scrollTo(element, 300, options);
    this.getKeypad();
  }

  private setAuthenRequestValue(value: string | null, fieldName: string) {
    this.authenRequest[fieldName] = value;
    this.setAuthenRequest(this.authenRequest);
  }

  private getKeypad() {
    this.keypadParams = {
      minDigit: 0,
      maxDigit: 9,
      numberOfRows: 2,
      numberOfColumns: 5,
      cellWidthCss: 40,
      cellHeightCss: 40,
      textFontSizeCss: 14,
      rowMarginCss: 10,
      columnMarginCss: 10,
      bgColorCodeCss: '#FFFFFF',
      textColorCodeCss: this.colors.primary,
      cellBorderCodeCss: this.colors.primary,
      cellBorderWidthCss: 1,
      textFontFamilyCss: 'Sarabun-Book'
    };
    this.keypadApi.getKeypads(this.keypadParams).then((result: AxiosResponse<IKeypadsResponse>) => {
      this.keypadUrl = this.keypadApi.getKeypad(result.data.id);
      this.digitMasks = result.data.digitMasks;
      this.setAuthenRequestValue(result.data.id, 'keypadId');
    });
  }

  private toggleItem(event: Event) {
    const itemCurrent = (event.currentTarget as HTMLElement).parentNode;
    const itemCurrentIsOpen = (itemCurrent as HTMLElement).classList.contains('open');
    const itemOpen = document.querySelector('.information-sidebar-container__item.open');

    if (itemOpen) {
      const content = (itemOpen as HTMLElement).querySelector('.information-sidebar-container__item-content');
      (itemOpen as HTMLElement).classList.remove('open');
      (content as HTMLElement).style.height = '0';
    }

    if (!itemCurrentIsOpen) {
      const content = (itemCurrent as HTMLElement).querySelector('.information-sidebar-container__item-content');

      setTimeout(() => {
        (itemCurrent as HTMLElement).classList.add('open');
        (content as HTMLElement).style.height = (content as HTMLElement).scrollHeight + 'px';
      }, 300);
    }
  }

  private navigateTo(newLoginForm: LoginFormType): void {
    if (newLoginForm && this.currentLoginForm !== newLoginForm) {
      switch (newLoginForm) {
        case LoginFormType.SigninForm:
          this.hidePopupInfos = false;
          break;
        case LoginFormType.CustomerIdentificationForm:
          this.hidePopupInfos = true;
          this.showValidationError = false;
          this.loginFormError = false;
          this.heightError = 0;
          break;
        case LoginFormType.CustomerIdentificationChoice:
          break;
        default:
        // Do nothing
      }
      this.currentLoginForm = newLoginForm;
    }

    const itemOpen = document.querySelector('.login-sidebar-form');

    (itemOpen as HTMLElement).classList.add('has-animation');

    setTimeout(() => {
      (itemOpen as HTMLElement).classList.remove('has-animation');
    }, 300);
  }

  /**
   * This method is called in the Header.vue component with a $refs
   * in order to clear authentication form on popin close.
   */
  private clearAuthentication(): void {
    this.clearAuthenRequest();
    this.clearAuthenIdentification();
    this.navigateTo(LoginFormType.SigninForm);
  }

  private get minDate(): Date {
    const now = DateTime.local();
    const minDate = now.minus({ years: 100 });
    return minDate.toJSDate();
  }

  private get maxDate(): Date {
    return new Date();
  }

  private get helpToolTip(): ToolTip {
    return {
      imgSrc: this.$t('souscription.connexion.retrouvezIdentifiantsImg').toString(),
      text: this.$t('souscription.connexion.retrouvezIdentifiants').toString(),
      alt: 'aide numéro de dossier'
    };
  }

  @Watch('currentLoginForm')
  private onCurrentLoginFormChange() {
    // Wait for DOM updated before disableBodyScroll
    this.$nextTick(() => {
      this.disableBodyScrollOnElementsDiv();
    });
  }
}
</script>

<style lang="scss" scoped>
.right-sidebar-container {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  width: max-content;
  top: 0;
  right: 0;
  z-index: 10;

  @media screen and (max-width: $width_S) {
    width: 100%;
  }

  .information-sidebar {
    &-header {
      display: none;

      @media screen and (max-width: $width_S) {
        background-color: $color-partner-1;
        line-height: $topbar-mobile-height;
        text-align: center;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: $topbar-mobile-height;

        img {
          width: 12px;
          height: auto;
          margin-left: 19px;
        }
      }

      &__title {
        font-family: $font-bold;
        font-size: 14px;
        color: $color-white;
        background-color: $color-partner-1;
        display: block;
        width: calc(100% - #{$topbar-mobile-height});
        padding-right: $topbar-mobile-height;
      }
    }

    &-container {
      background-color: $color-bg-info-connection;
      position: relative;
      z-index: 10;
      width: grid(5);
      max-width: calc(#{$sidebar-right-min-width} * 0.9);
      height: 100vh;
      padding: 100px 0 50px;
      overflow-y: auto;
      left: 0;
      opacity: 1;
      transition: all 0.3s ease-in-out;

      &.hide {
        left: 200%;
        opacity: 0;
        transition: all 0.5s linear;
        transition-delay: 0s, 0.6s;
        transition-property: opacity, left;
      }

      @media screen and (max-width: $width_S) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 12;
        width: 100%;
        max-width: none;
        height: auto;
        padding-top: 0;
        overflow-y: inherit;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;

        &.show {
          transform: translateX(0);
        }
      }

      &-inner {
        width: 100%;
        padding: 0 50px 75px;

        @media screen and (max-width: $width_S) {
          position: relative;
          z-index: 0;
          height: calc(100vh - #{$topbar-mobile-height});
          margin-top: $topbar-mobile-height;
          padding: 20px 20px 140px;
          overflow: auto;
        }
      }

      &__title {
        font-family: $font-bold;
        font-size: 20px;
        line-height: normal;
        color: $color-black;
        margin-bottom: 10px;
      }

      &__text {
        font-size: 14px;
        color: $color-black;
        margin-bottom: 30px;
      }

      &__item {
        background-color: $color-white;
        border-radius: $input-border-radius;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 0;
        transition: padding 0.2s linear;

        &:last-child {
          margin-bottom: 0;
        }

        &.open {
          padding-bottom: 15px;

          .information-sidebar-container__item-header {
            padding-bottom: 0;
          }

          .information-sidebar-container__item-arrow {
            transform: rotate(180deg);
          }
        }

        &-header {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: nowrap;
          padding: 15px;
          cursor: pointer;
          transition: padding 0.2s linear;
        }

        &-img {
          background-color: var(--color-partner-1-08);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 0 0 50px;
          height: 50px;
          margin-right: 30px;

          @media screen and (max-width: $width_S) {
            margin-right: 15px;
          }

          img {
            max-width: 35px;
            max-height: 35px;
          }
        }

        &-title {
          font-family: $font-bold;
          font-size: 13px;
          line-height: 17px;
          text-align: left;
          color: $color-black;
          padding-right: 20px;
        }

        &-arrow {
          margin-left: auto;
          transform: rotate(0);
          transition: transform 0.25s ease-in-out;
        }

        &-content {
          font-family: $font-regular;
          font-size: 13px;
          line-height: 17px;
          text-align: left;
          color: $color-form-text;
          height: 0;
          padding: 0 40px 0 95px;
          overflow: hidden;
          transition: height 0.25s ease-in-out;

          @media screen and (max-width: $width_S) {
            padding: 0 40px 0 80px;
          }

          &-list {
            margin-top: 20px;

            li {
              position: relative;

              &::before {
                content: '';
                position: absolute;
                top: 5px;
                left: -15px;
                width: 6px;
                height: 6px;
                background-color: $color-main-light;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }

  .login-sidebar {
    &-form {
      > div {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }

      &.has-animation {
        > div {
          opacity: 0;
          transition: all 0s ease-in-out;
        }
      }
    }

    &-show-info {
      display: none;

      @media screen and (max-width: $width_S) {
        text-align: left;
        background-color: $color-partner-5;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: $loginInfosHeight;
        padding: 15px 50px 15px 20px;
        overflow: hidden;

        span {
          font-family: $font-bold;
          font-size: 16px;
          line-height: 20px;
          color: $color-white;
          display: block;
        }

        img {
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%) rotate(180deg);
          width: auto;
          height: 20px;
        }
      }
    }

    &-wrapper {
      height: calc(100vh - #{$topbar-height});
      overflow: auto;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background-color: $color-label-card-img-disabled;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: $color-label-card-img;
      }

      &.login {
        @media screen and (max-width: $width_S) {
          height: calc(100vh - #{$topbar-mobile-height} - #{$loginInfosHeight});
          padding: 0 $form-padding-left-mobile;
        }
      }

      &.customer-identification {
        @media screen and (max-width: $width_S) {
          height: calc(100vh - #{$topbar-mobile-height});
          padding: 0 $form-padding-left-mobile;
        }
      }
    }

    &-container {
      z-index: 11;
      position: relative;
      background-color: $color-white;
      width: calc(#{$sidebar-right-min-width} * 0.8);
      min-width: calc(#{$sidebar-right-min-width} * 0.8);
      text-align: center;
      transform: translateX(0%);
      transition: transform 0.3s ease-in-out;

      @media screen and (max-width: $width_S) {
        width: 100%;
        min-width: 100%;
        transform: translateX(100%);

        &.show {
          transform: translateX(0%);
        }

        &.translate-left {
          transform: translateX(-100%);
        }
      }

      &.hide {
        transform: translateX(100%);

        & + .information-sidebar-container {
          left: 200% !important;
          opacity: 1 !important;
          transition-delay: 0s, 0s;
          transition-property: opacity, left;
        }
      }
    }

    &-header {
      border-bottom: 1px solid $color-grey-regular;
      text-align: center;
      display: flex;
      justify-content: space-between;
      position: relative;
      line-height: $topbar-height;
      height: $topbar-height;

      @media screen and (max-width: $width_S) {
        height: $topbar-mobile-height;
        line-height: $topbar-mobile-height;
        border-bottom: none;
        background-color: $color-partner-1;
      }

      &__title {
        font-family: $font-bold;
        font-size: 14px;
        color: $color-partner-1;
        position: relative;
        width: 100%;
        padding: 0 $topbar-height;

        @media screen and (max-width: $width_S) {
          display: none;
        }

        &.mobile {
          display: none;

          @media screen and (max-width: $width_S) {
            color: $color-white;
            background-color: $color-partner-1;
            display: block;
            padding: 0 $topbar-mobile-height;
          }
        }
      }

      .popup__close {
        position: absolute !important;
        top: 0;
        right: 0;
        z-index: 2;

        @include cross(25px, $color-partner-1);
        background-color: #ffffff;
        width: calc(#{$topbar-height} - 15px);
        height: 100%;
        min-height: 50px;
        max-height: $topbar-height;
        transition: background-color 0.25s ease-in-out;

        @media screen and (max-width: $width_S) {
          @include cross(20px, $color-white);
          background-color: $color-partner-1;
          width: calc(#{$topbar-mobile-height} - 10px);
          height: 100%;
          max-height: $topbar-mobile-height;
        }
      }
    }

    &-content {
      position: relative;
      width: grid(2);
      min-width: calc(#{$sidebar-right-min-width} * 0.6);
      margin: 0 auto;
      padding: 40px 0;
      text-align: center;

      @media screen and (max-width: $width_S) {
        width: auto;
        min-width: auto;
        max-width: 100%;
        padding: 20px 0 100px;
      }

      &__error {
        display: block;
        width: 100%;
        margin: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        &.show {
          margin: 0 auto 30px;
        }

        p {
          font-family: $font-regular;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: $color-error;
          border-radius: $input-border-radius;
          background-color: rgba(225, 82, 61, 0.1);
          padding: 15px 20px;
        }
      }

      &__title {
        font-family: $font-bold;
        font-size: 20px;
        text-align: left;
        color: $color-black;
        margin-bottom: 10px;

        @media screen and (max-width: $width_S) {
          font-size: 16px;
        }
      }

      &__text {
        font-family: $font-regular;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        color: $color-form-text;
        margin-bottom: 30px;

        @media screen and (max-width: $width_S) {
          margin-bottom: 20px;
        }
      }

      &__label {
        font-family: $font-bold;
        font-size: 14px;
        color: $color-black;
        background-color: #f5f5f5;
        border-top-left-radius: $input-border-radius;
        border-top-right-radius: $input-border-radius;
        text-align: center;
        padding-top: 20px;

        @media screen and (max-width: $width_S) {
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          position: relative;
          left: -$form-padding-left-mobile;
          width: calc(100% + #{$form-padding-left-mobile} * 2);
        }
      }

      &__link {
        text-align: right;
        margin-bottom: 6px;
        display: block;

        span {
          font-family: $font-bold;
          font-size: 14px;
          line-height: 22px;
          color: $color-partner-1;
          position: relative;
          display: inline-block;
          overflow: hidden;

          &::before {
            content: '';
            background-color: $color-partner-1;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            transform: translateX(-101%);
            transition: transform 0.25s ease-in-out;
          }
        }

        @media screen and (min-width: $width_S) {
          &:hover span::before {
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.btn-login {
  display: inline-block;
  padding: 15px 30px;
  margin: 30px auto;
}
</style>
