<template>
  <div class="insurance-ko-button" :class="{ error: isInError, selected: isSelected }">
    <div class="insurance-ko-button__choice" @click="onButtonClick">
      <div class="title">
        {{ refuseButton.title }}
      </div>
      <div
        v-if="refuseButton.confirmationText"
        ref="legalValidation"
        :style="{
          height: legalValidationHeight,
          'margin-top': legalValidationMarginTop
        }"
        class="legal-validation"
        :class="{ checked: isChecked, error: isInError }"
      >
        <input :id="refuseButton.uniqueId" :checked="isChecked" type="checkbox" @change="onCheckboxChange" />
        <label :class="{ error: isInError }" :for="refuseButton.uniqueId" class="confirmBox">
          <span class="before" />
          {{ refuseButton.confirmationText }}
          <span class="after" />
        </label>
      </div>
    </div>
    <div
      :class="{
        filled: isInError,
        error: isSelectedAndNotChecked
      }"
      class="error-message"
    >
      <img :src="errorImgPathSrc" class="before" />
      {{ refuseButton.errorText }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Ref, Watch } from 'vue-property-decorator';
import { RefuseInsuranceBtn } from '@/models/components/insurance/RefuseInsuranceBtn';
import { InsuranceButtonStatus } from '@/models/components/insurance/InsuranceButtonStatus';

@Component({})
export default class RefuseInsuranceButton extends Vue {
  @Prop({ required: true }) private refuseButton: RefuseInsuranceBtn;
  @Prop({ required: false }) private errorImgPath: string;

  @Ref() private readonly legalValidation: HTMLDivElement;

  // List of emitted events
  private readonly ON_CHECK = 'onCheck';
  private readonly ON_UNCHECK = 'onUncheck';
  private readonly ON_SELECT = 'onSelect';

  private legalValidationHeight = '0px';
  private legalValidationMarginTop = '-10px';

  public get errorImgPathSrc() {
    // @ts-ignore
    return this.errorImgPath ? this.errorImgPath : require('@/assets/images/smiling-face.svg');
  }

  private get isInError() {
    return this.refuseButton.status === InsuranceButtonStatus.IN_ERROR || this.refuseButton.isInError;
  }

  private get isChecked() {
    return this.refuseButton.isChecked;
  }

  private get isSelected(): boolean {
    return this.refuseButton.status === InsuranceButtonStatus.SELECTED;
  }

  private get isSelectedAndNotChecked(): boolean {
    return this.isSelected && !this.isChecked;
  }

  private mounted() {
    this.setLegalValidationHeight();
  }

  private onCheckboxChange(event: Event) {
    const isChecked = (event.target as HTMLInputElement).checked;
    if (isChecked) {
      this.$emit(this.ON_CHECK);
    } else {
      this.$emit(this.ON_UNCHECK);
    }
  }

  private onButtonClick() {
    if (this.refuseButton.status !== InsuranceButtonStatus.SELECTED) {
      this.$emit(this.ON_SELECT);
    }
  }

  private setLegalValidationHeight() {
    this.legalValidationHeight =
      this.isSelected && this.legalValidation ? this.legalValidation.scrollHeight + 'px' : '0px';
    this.legalValidationMarginTop = this.legalValidationHeight === '0px' ? '-10px' : '0';
  }

  @Watch('refuseButton', { deep: true })
  private onRefuseButtonChange(): void {
    this.setLegalValidationHeight();
  }
}
</script>
<style lang="scss" scoped>
.insurance-ko-button {
  display: flex;
  flex-direction: column;

  &.selected {
    .insurance-ko-button__choice {
      border-color: $color-partner-1;

      .title {
        background-color: $color-partner-1;
        color: $color-white;
      }
    }
  }

  &.error {
    .insurance-ko-button__choice {
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__choice {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid $color-grey-regular;
    min-height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-partner-1-005);
    }

    &.display-error {
      .legal-validation {
        overflow: visible;
      }
    }

    .title {
      font-family: $font-regular;
      font-size: 16px;
      min-height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px 15px;
      color: $color-grey-dark;
    }

    .okContent {
      font-family: $font-regular;

      &.active {
        font-family: $font-bold;
      }
    }

    .legal-validation {
      position: relative;
      margin-bottom: 0;
      overflow: hidden;
      border: none;
      transition: all 0.3s ease-in-out;
      background-color: transparent;

      .confirmBox {
        color: $color-grey-black;
      }

      &.checked {
        background-color: var(--color-partner-1-01);
      }

      &.error {
        background-color: rgba(255, 57, 53, 0.1);

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
</style>
