<template>
  <div class="warning">
    <div class="warning__title">
      <img class="warning__title__icon" src="@/assets/images/warning-check.svg" alt="attention" />
      <h2 class="warning__title__content">{{ $t('souscription.assurance.pourInformation') }}</h2>
    </div>
    <img class="warning__icon" src="@/assets/images/warning.svg" alt="attention" />
    <div class="warning__textContainer">
      <p class="warning__textContainer__warningText__title" v-html="title" />
      <div class="warning__textContainer__warningText__content" v-if="description" v-html="description" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';

@Component({})
export default class RefuseInsuranceWarning extends Vue {
  @Prop({ required: true }) private title: string;
  @Prop({ default: null }) private description: string;
}
</script>

<style lang="scss" scoped>
.warning {
  background-color: $color-tooltip-bg-alert;
  margin-top: 15px;
  position: relative;

  @media screen and (min-width: $width_M) {
    margin-top: 0;
    padding: 0 20px 10px;
    width: 100%;
    max-width: 340px;
  }

  @media screen and (min-width: $width_M) {
    display: none;
  }

  &__title {
    text-align: center;
    width: 100%;
    background-color: $color-orange;

    @media screen and (min-width: $width_M) {
      background-color: transparent;
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      margin-right: 10px;

      @media screen and (min-width: $width_M) {
        display: none;
      }
    }

    &__content {
      display: inline-block;
      text-transform: uppercase;
      color: $color-white;
      font-family: $font-bold;
      font-size: 14px;
      padding: 9px 0;

      @media screen and (min-width: $width_M) {
        padding: 8px 18px;
        background-color: $color-orange;
      }
    }
  }

  &__icon {
    display: none;

    @media screen and (min-width: $width_M) {
      display: block;
      width: 70px;
      margin: 35px auto 20px;
    }
  }

  &__textContainer {
    padding: 15px;

    &__warningText__title {
      font-size: 14px;
      font-family: $font-bold;
      margin-bottom: 15px;

      @media screen and (min-width: $width_M) {
        font-size: 16px;
      }
    }

    &__warningText__content {
      font-size: 13px;
      line-height: 18px;
      color: $color-dark-light;

      @media screen and (min-width: $width_M) {
        font-size: 14px;
      }

      ::v-deep p {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &:first-child {
      margin-bottom: 15px;
    }
  }
}
</style>
