<template>
  <div class="insurance-ok" :class="{ selected, error, highlighted, loading }" @click="$emit(ON_SELECT, selectButton)">
    <div v-if="highlighted" class="insurance-ok__highlighted-text">
      {{ selectButton.highlightedText }}
    </div>
    <div class="insurance-ok-button">
      <div class="insurance-ok-button__icon">
        <img :src="`${baseUrl}/${buttonImage}`" alt="Assurance" />
      </div>
      <template v-if="loading">
        <content-loader :width="330" :height="80" :speed="2" primaryColor="#e5e5e5" secondaryColor="#fafafa">
          <rect x="0" y="0" rx="0" ry="0" width="80" height="12" />
          <rect x="0" y="20" rx="0" ry="0" width="180" height="12" />
          <rect x="0" y="40" rx="0" ry="0" width="200" height="12" />
          <rect x="0" y="60" rx="0" ry="0" width="180" height="12" />
          <rect x="0" y="80" rx="0" ry="0" width="160" height="12" />
        </content-loader>
      </template>
      <template v-else>
        <div class="insurance-ok-button__title">
          {{ $t(selectButton.title) }}
        </div>
        <div class="insurance-ok-button__amount">
          {{ $options.filters.currency(selectButton.amount, { fractionCount: 2, symbol: '€' }) }} / mois
        </div>
        <ul class="insurance-ok-button__short-warranties">
          <li v-for="(shortWarranty, index) in selectButton.shortWarranties" :key="index" v-html="shortWarranty" />
        </ul>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { SelectInsuranceBtn } from '@/models/components/insurance/SelectInsuranceBtn';
import { InsuranceButtonStatus } from '@/models/components/insurance/InsuranceButtonStatus';
import { ContentLoader } from 'vue-content-loader';

@Component({
  components: {
    'content-loader': ContentLoader
  }
})
export default class SelectInsuranceButton extends Vue {
  @Prop({ required: true }) private selectButton: SelectInsuranceBtn;

  // List of emitted events
  private readonly ON_SELECT = 'onSelect';

  private get buttonImage(): string {
    const imageNameSplitted = this.selectButton.image.split('.');
    const imageFilename = imageNameSplitted.slice(0, -1).join('.');
    const imageExtension = imageNameSplitted[imageNameSplitted.length - 1];
    if (this.selectButton.status === InsuranceButtonStatus.SELECTED) {
      return `${imageFilename}-selected.${imageExtension}`;
    } else if (this.selectButton.status === InsuranceButtonStatus.IN_ERROR) {
      return `${imageFilename}-error.${imageExtension}`;
    } else {
      return this.selectButton.image;
    }
  }

  private get selected(): boolean {
    return this.selectButton.status === InsuranceButtonStatus.SELECTED;
  }

  private get error(): boolean {
    return this.selectButton.status === InsuranceButtonStatus.IN_ERROR;
  }

  private get highlighted(): boolean {
    return (
      this.selectButton.isHighlighted &&
      this.selectButton.highlightedText !== null &&
      this.selectButton.highlightedText !== undefined
    );
  }

  private get loading(): boolean {
    return this.selectButton.isLoading;
  }
}
</script>

<style lang="scss" scoped>
// INITIAL STATE

.insurance-ok {
  .insurance-ok-button {
    margin-bottom: 12px;
    border: 1px solid $color-grey-regular;
    background-color: $color-white;
    padding: 10px 20px 15px 60px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;

    @media screen and (max-width: $width_M) {
      padding: 10px 0 15px 22px;
    }

    &:hover {
      background-color: var(--color-partner-1-005);
    }

    &__title,
    &__amount {
      @media screen and (max-width: $width_M) {
        padding-left: 30px;
      }
    }

    &__icon {
      width: 40px;
      position: absolute;
      left: 18px;
      top: 16px;

      img {
        width: 25px;
      }
    }

    &__title {
      font-family: $font-bold;
      font-size: 14px;
      color: $color-black;
      line-height: 22px;
    }

    &__amount {
      font-family: $font-regular;
      font-weight: 600;
      font-size: 14px;
      color: $color-grey-dark;
      line-height: 18px;
    }

    &__short-warranties {
      margin-top: 5px;
      padding-left: 20px;

      li {
        font-family: $font-regular;
        font-size: 13px;
        color: $color-grey-dark;
        line-height: 18px;
        position: relative;

        &:before {
          content: '';
          border-color: var(--color-partner-1);
          border-style: solid;
          border-width: 0 0.15em 0.15em 0;
          transform: rotate(45deg);
          position: absolute;
          top: 5px;
          left: -16px;
          height: 7px;
          width: 5px;
        }

        ::v-deep sup {
          vertical-align: top;
          position: relative;
          top: -4px;
          font-size: 10px;
        }
      }
    }
  }

  // HIGHLIGHTED STATE

  &.highlighted {
    .insurance-ok__highlighted-text {
      text-transform: uppercase;
      font-family: $font-regular;
      font-size: 9px;
      background-color: var(--color-partner-1);
      color: $color-white;
      padding: 3px 8px;
      border-radius: 4px 4px 0 0;
      display: inline-block;
    }

    .insurance-ok-button {
      border-color: $color-partner-1;
    }
  }

  // SELECTED STATE

  &.selected {
    .insurance-ok-button {
      border-color: $color-partner-1;
      background-color: $color-partner-1;

      .insurance-ok-button__title,
      .insurance-ok-button__amount {
        color: $color-white;
      }

      .insurance-ok-button__short-warranties {
        li {
          color: $color-white;

          &:before {
            border-color: $color-white;
          }
        }
      }

      &:hover {
        background-color: $color-partner-1;
      }
    }
  }

  // ERROR STATE

  &.error {
    .insurance-ok-button {
      border: 1px solid $color-tooltip-text-error;

      &__title {
        color: $color-tooltip-text-error;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  // LOADING STATE
  &.loading {
    .insurance-ok-button {
      padding-bottom: 0;
    }
  }
}
</style>
