<template>
  <div class="offer-details" :class="{ smallPaddingBottom: !!homeReturnUrl }">
    <div v-if="selectedProposal">
      <div class="offer-details__title">
        <h2>
          {{
            $t('simulation.OfferDetails.titreColonne', {
              date: selectedProposal.utilizationDate,
              jourEcheance: selectedProposal.dueDay
            })
          }}
        </h2>
      </div>
      <div class="offer-details__summary">
        <div class="offer-details__summary--wrapper">
          <div class="offer-details__summary--details">
            <ul>
              <li>
                <span>{{ $t('simulation.OfferDetails.montantEmprunte') }}</span>
                <span>{{ selectedProposal.amount | currency({ fractionCount: 2 }) }}</span>
              </li>
              <li>
                <span>{{ $t('simulation.OfferDetails.dureeCredit') }}</span>
                <span
                  >{{ selectedProposal.creditDurationWithoutInsurance }} {{ $t('simulation.OfferDetails.mois') }}</span
                >
              </li>
              <li>
                <span class="big">{{
                  $t('simulation.OfferDetails.mensualiteEgales', {
                    nbmensualite: selectedProposal.nbMonthlyPaymentWithoutInsurance
                  })
                }}</span>
                <span class="big">{{ selectedProposal.monthlyAmountWithoutInsurance | currency }}</span>
              </li>
              <li v-if="selectedProposal.lastMonthlyAmountWithoutInsurance">
                <span class="big">{{ $t('simulation.OfferDetails.mensualiteAjustee') }}</span>
                <span class="big">{{ selectedProposal.lastMonthlyAmountWithoutInsurance | currency }}</span>
              </li>
              <li>
                <div class="text-container">
                  <span class="big">{{ $t('simulation.OfferDetails.montantTotal') }}</span>
                  <span class="small" v-if="isDelayedOffer">{{
                    $t('simulation.OfferDetails.interetsReportInclus')
                  }}</span>
                </div>
                <span class="big">{{ selectedProposal.totalAmountWithoutInsurance | currency }}</span>
              </li>
              <li v-if="selectedProposal.firstPaymentDate">
                <span>{{ $t('simulation.OfferDetails.premierPrelevement') }}</span>
                <span>{{ formattedFirstPaymentDate }}</span>
              </li>
              <li>
                <span
                  class="big"
                  v-html="
                    selectedProposal.fixedRate
                      ? $t('simulation.OfferDetails.taegFixe_1')
                      : $t('simulation.OfferDetails.taegRevisable_1')
                  "
                ></span>
                <span class="big">{{ selectedProposal.taeg | currency({ fractionCount: 3, symbol: '%' }) }}</span>
              </li>
              <li>
                <span>{{ $t('simulation.OfferDetails.tauxDebiteurFixe') }}</span>
                <span>{{ selectedProposal.debitRate | currency({ fractionCount: 3, symbol: '%' }) }}</span>
              </li>
              <li>
                <span>{{ $t('simulation.OfferDetails.nombreMensualites') }}</span>
                <span>{{
                  selectedProposal.lastMonthlyAmountWithoutInsurance
                    ? selectedProposal.nbMonthlyPaymentWithoutInsurance + 1
                    : selectedProposal.nbMonthlyPaymentWithoutInsurance
                }}</span>
              </li>
              <div v-if="isDelayedOffer" class="offer-details__summary--informations report-vac">
                <p>
                  {{
                    $t('simulation.OfferDetails.mentionReport', {
                      nbMois: selectedProposal.deferralMonthNumber
                    })
                  }}
                </p>
              </div>
            </ul>
          </div>
          <div class="offer-details__summary--details">
            <div class="offer-details__summary--informations">
              <p>{{ $t('simulation.OfferDetails.pedagoAssurance') }}</p>
            </div>
            <ul>
              <li>
                <span>{{ $t('simulation.OfferDetails.coutMensuelAssurance') }}</span>
                <span>{{ selectedProposal.monthlyInsuranceAmount | currency }}</span>
              </li>
              <li>
                <span>{{ $t('simulation.OfferDetails.dureeAssurance') }}</span>
                <span>{{ selectedProposal.creditDurationWithInsurance }} {{ $t('simulation.OfferDetails.mois') }}</span>
              </li>
              <li>
                <span>{{
                  $t('simulation.OfferDetails.mensualiteEgalesAvecAssurance', {
                    nbmensualite: selectedProposal.nbMonthlyPaymentWithInsurance
                  })
                }}</span>
                <span>{{ selectedProposal.monthlyAmountWithInsurance | currency }}</span>
              </li>
              <li v-if="selectedProposal.lastMonthlyAmountWithInsurance">
                <span>{{ $t('simulation.OfferDetails.mensualiteAjusteeAvecAssurance') }}</span>
                <span>{{ selectedProposal.lastMonthlyAmountWithInsurance | currency }}</span>
              </li>
              <li>
                <span>{{ $t('simulation.OfferDetails.taea') }}</span>
                <span>{{ selectedProposal.taea | currency({ fractionCount: 3, symbol: '%' }) }}</span>
              </li>
              <li>
                <span>{{ $t('simulation.OfferDetails.montantTotalAssurance') }}</span>
                <span>{{ selectedProposal.totalInsuranceCost | currency({ fractionCount: 2, symbol: '€' }) }}</span>
              </li>
              <li>
                <span>{{ $t('simulation.OfferDetails.montantTotalAvecAssurance') }}</span>
                <span>{{ selectedProposal.totalAmountWithInsurance | currency }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <return-partner-btn class="tab-return-btn"></return-partner-btn>
      <!-- To keep as example text could be shown again in a near future
      <div class="offer-details__conditions">
        <div class="offer-details__title">
          <h2>{{ $t('simulation.OfferDetails.titreExemple') }}</h2>
        </div>
        <offer-details-example-text :selectedProposal="proposalExample"></offer-details-example-text>
      </div> -->
    </div>
    <div v-else>
      <div class="offer-details__conditions">
        <div class="offer-details__title">
          <h2>{{ $t('simulation.OfferDetails.titreDetails') }}</h2>
        </div>
        <p>
          {{ $t('simulation.OfferDetails.selectionnerMensualite') }}
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Getter } from 'vuex-class';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
// import OfferDetailsExampleText from '@/components/simulator/simulator-bottom-info/OfferDetailsExampleText.vue';
import { formatDate } from '@/utils/utils';
import { CreditTypeEnum } from '@/models/simulator/business/creditType';
import { BusinessRule } from '@/services/BusinessRule';
import ReturnPartnerBtn from '../graphic/ReturnPartnerBtn.vue';

/**
 * OfferDetails
 *
 * This panel is used to display the full details of the SimulationFinancialProposal.
 */
@Component({
  components: {
    // 'offer-details-example-text': OfferDetailsExampleText,
    'return-partner-btn': ReturnPartnerBtn
  }
})
export default class OfferDetails extends Vue {
  @State((state) => state.simulator.selectedProposal)
  private selectedProposal!: SimulationFinancialProposal | null;
  @State((state) => state.simulator.simulationStandardConditions)
  private simulationStandardConditions!: SimulationFinancialProposal | null;
  @State((state) => state.simulator.requiredAmount)
  private requiredAmount!: number | null;
  @Getter private getCreditType: string;
  @State((state) => state.simulator.homeReturnUrl) private homeReturnUrl!: string;

  private get formattedFirstPaymentDate() {
    if (this.selectedProposal && this.selectedProposal.firstPaymentDate) {
      return formatDate(new Date(this.selectedProposal.firstPaymentDate));
    }
  }

  private get proposalExample() {
    if (this.getCreditType === CreditTypeEnum.REVOLVING) {
      return this.simulationStandardConditions;
    } else {
      return this.selectedProposal;
    }
  }

  private get isDelayedOffer() {
    return BusinessRule.showReportInformations(this.selectedProposal);
  }
}
</script>

<style scoped lang="scss">
.offer-details {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px; // Adjust container height since example text is hidden (some bottom spacing was associated to example text style)
  text-align: center;
  background-color: $color-section-simu-bg;

  &.smallPaddingBottom {
    padding-bottom: 40px;
  }

  &__title {
    h2 {
      font-size: 20px;
      line-height: 1.2;
      color: $color-text;
      font-family: $font-bold;
    }
  }

  &__summary {
    &--wrapper {
      display: flex;
      justify-content: center;
      margin-top: 25px;
      padding: 0 245px;
    }

    &--details {
      width: 450px;

      &:first-child {
        margin-right: 50px;
      }

      li {
        min-height: 46px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        &:nth-child(2n + 1) {
          background-color: $color-summary-details;
        }

        span {
          font-family: $font-regular;
          font-size: 16px;
          color: $color-grey-dark;

          &:nth-child(1) {
            text-align: left;
            flex-shrink: 1;
          }
          &:nth-child(2) {
            font-size: 16px;
            color: $color-black;
            flex-shrink: 0;
            margin-left: 30px;
          }

          &.big {
            font-size: 20px;
          }
        }

        .text-container {
          display: flex;
          flex-direction: column;

          .small {
            color: $color-grey-dark;
            margin-left: 0px;
            font-size: 11px;
          }
        }
      }
    }

    &--informations {
      margin-bottom: 41px;
      font-size: 13px;
      color: $color-grey-dark;
      text-align: left;

      &.report-vac {
        margin-top: 10px;
      }
    }
  }

  &__CTA {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    &--wrapper {
      display: flex;
      cursor: pointer;

      &:first-child {
        margin-right: 30px;
      }
    }

    &--icon {
      margin-right: 10px;
    }

    &--link {
      a {
        font-size: 16px;
        font-family: $font-medium;
        line-height: 1.5;
        color: $color-cta-link;
      }
    }
  }

  &__conditions {
    max-width: 1065px;
    margin: 65px auto 0;
    padding-bottom: 95px;
  }

  .tab-return-btn {
    height: 25px;
    margin-top: 25px;
  }
}
</style>
