<template>
  <div>
    <template v-if="getCreditType === creditTypeEnum.REVOLVING">
      <!-- CR with report -->
      <p
        v-if="offerHasDelay"
        class="offer-details-example-text"
        v-html="
          $t('simulation.texteExempleOffre.revolvingReport', {
            montant: $options.filters.currency(selectedProposal.amount, {
              fractionCount: 2,
              symbol: '€'
            }),
            dateFinancement: selectedProposal.utilizationDate,
            jourEcheance: selectedProposal.dueDay,
            nbMensualiteSansAssurance: selectedProposal.nbMonthlyPaymentWithoutInsurance,
            montantMensualiteSansAssurance: $options.filters.currency(selectedProposal.monthlyAmountWithoutInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            phraseSiDerniereMensualiteAjusteSansAssurance: selectedProposal.lastMonthlyAmountWithoutInsurance
              ? $t('simulation.texteExempleOffre.derniereMensualiteSansAssu', {
                  nbMensualiteAvecDerniereAjuste: selectedProposal.nbMonthlyPaymentWithoutInsurance + 1,
                  montantDernierMensualiteAjuste: $options.filters.currency(
                    selectedProposal.lastMonthlyAmountWithoutInsurance,
                    {
                      fractionCount: 2,
                      symbol: '€'
                    }
                  )
                })
              : '',
            montantTotalSansAssurance: $options.filters.currency(selectedProposal.totalAmountWithoutInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            typeTaux: selectedProposal.fixedRate
              ? $t('simulation.texteExempleOffre.taux.fixe')
              : $t('simulation.texteExempleOffre.taux.revisable'),
            taeg: $options.filters.currency(selectedProposal.taeg, {
              fractionCount: 3,
              symbol: '%'
            }),
            tauxDebiteur: $options.filters.currency(selectedProposal.debitRate, {
              fractionCount: 3,
              symbol: '%'
            }),
            premiereMensualiteAssurance: $options.filters.currency(selectedProposal.firstMonthlyInsuranceAmount, {
              fractionCount: 2,
              symbol: '€'
            }),
            nbMensualiteAvecAssurance: selectedProposal.nbMonthlyPaymentWithInsurance,
            mensualiteAvecAssurance: $options.filters.currency(selectedProposal.monthlyAmountWithInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            phraseSiDerniereMensualiteAjusteAvecAssurance: selectedProposal.lastMonthlyAmountWithInsurance
              ? $t('simulation.texteExempleOffre.derniereMensualiteAvecAssu', {
                  montantDernierMensualiteAjuste: $options.filters.currency(
                    selectedProposal.lastMonthlyAmountWithInsurance,
                    {
                      fractionCount: 2,
                      symbol: '€'
                    }
                  )
                })
              : '',
            taea: $options.filters.currency(selectedProposal.taea, {
              fractionCount: 3,
              symbol: '%'
            }),
            coutTotalAssurance: $options.filters.currency(selectedProposal.totalInsuranceCost, {
              fractionCount: 2,
              symbol: '€'
            }),
            remboursementDiffere: selectedProposal.deferralMonthNumber
          })
        "
      ></p>

      <!-- CR without report -->
      <p
        v-else
        class="offer-details-example-text"
        v-html="
          $t('simulation.texteExempleOffre.revolving', {
            montant: $options.filters.currency(selectedProposal.amount, {
              fractionCount: 2,
              symbol: '€'
            }),
            dateFinancement: selectedProposal.utilizationDate,
            jourEcheance: selectedProposal.dueDay,
            nbMensualiteSansAssurance: selectedProposal.nbMonthlyPaymentWithoutInsurance,
            montantMensualiteSansAssurance: $options.filters.currency(selectedProposal.monthlyAmountWithoutInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            phraseSiDerniereMensualiteAjusteSansAssurance: selectedProposal.lastMonthlyAmountWithoutInsurance
              ? $t('simulation.texteExempleOffre.derniereMensualiteSansAssu', {
                  nbMensualiteAvecDerniereAjuste: selectedProposal.nbMonthlyPaymentWithoutInsurance + 1,
                  montantDernierMensualiteAjuste: $options.filters.currency(
                    selectedProposal.lastMonthlyAmountWithoutInsurance,
                    {
                      fractionCount: 2,
                      symbol: '€'
                    }
                  )
                })
              : '',
            montantTotalSansAssurance: $options.filters.currency(selectedProposal.totalAmountWithoutInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            typeTaux: selectedProposal.fixedRate
              ? $t('simulation.texteExempleOffre.taux.fixe')
              : $t('simulation.texteExempleOffre.taux.revisable'),
            taeg: $options.filters.currency(selectedProposal.taeg, {
              fractionCount: 3,
              symbol: '%'
            }),
            tauxDebiteur: $options.filters.currency(selectedProposal.debitRate, {
              fractionCount: 3,
              symbol: '%'
            }),
            premiereMensualiteAssurance: $options.filters.currency(selectedProposal.firstMonthlyInsuranceAmount, {
              fractionCount: 2,
              symbol: '€'
            }),
            nbMensualiteAvecAssurance: selectedProposal.nbMonthlyPaymentWithInsurance,
            mensualiteAvecAssurance: $options.filters.currency(selectedProposal.monthlyAmountWithInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            phraseSiDerniereMensualiteAjusteAvecAssurance: selectedProposal.lastMonthlyAmountWithInsurance
              ? $t('simulation.texteExempleOffre.derniereMensualiteAvecAssu', {
                  montantDernierMensualiteAjuste: $options.filters.currency(
                    selectedProposal.lastMonthlyAmountWithInsurance,
                    {
                      fractionCount: 2,
                      symbol: '€'
                    }
                  )
                })
              : '',
            taea: $options.filters.currency(selectedProposal.taea, {
              fractionCount: 3,
              symbol: '%'
            }),
            coutTotalAssurance: $options.filters.currency(selectedProposal.totalInsuranceCost, {
              fractionCount: 2,
              symbol: '€'
            })
          })
        "
      ></p>
    </template>

    <template v-else>
      <!-- LOAN with report -->
      <p
        v-if="offerHasDelay"
        class="offer-details-example-text"
        v-html="
          $t('simulation.texteExempleOffre.loanReport', {
            montant: $options.filters.currency(selectedProposal.amount, {
              fractionCount: 2,
              symbol: '€'
            }),
            nbMensualiteSansAssurance: selectedProposal.nbMonthlyPaymentWithoutInsurance,
            montantMensualiteSansAssurance: $options.filters.currency(selectedProposal.monthlyAmountWithoutInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            mensualiteSansAssurance: $options.filters.currency(selectedProposal.monthlyAmountWithoutInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            montantTotalSansAssurance: $options.filters.currency(selectedProposal.totalAmountWithoutInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            typeTaux: selectedProposal.fixedRate
              ? $t('simulation.texteExempleOffre.taux.fixe')
              : $t('simulation.texteExempleOffre.taux.revisable'),
            taeg: $options.filters.currency(selectedProposal.taeg, {
              fractionCount: 3,
              symbol: '%'
            }),
            tauxDebiteur: $options.filters.currency(selectedProposal.debitRate, {
              fractionCount: 3,
              symbol: '%'
            }),
            mensualiteAssurance: $options.filters.currency(selectedProposal.monthlyInsuranceAmount, {
              fractionCount: 2,
              symbol: '€'
            }),
            taea: $options.filters.currency(selectedProposal.taea, {
              fractionCount: 3,
              symbol: '%'
            }),
            coutTotalAssurance: $options.filters.currency(selectedProposal.totalInsuranceCost, {
              fractionCount: 2,
              symbol: '€'
            }),
            remboursementDiffere: selectedProposal.deferralMonthNumber
          })
        "
      ></p>

      <!-- LOAN without report -->
      <p
        v-else
        class="offer-details-example-text"
        v-html="
          $t('simulation.texteExempleOffre.loan', {
            montant: $options.filters.currency(selectedProposal.amount, {
              fractionCount: 2,
              symbol: '€'
            }),
            nbMensualiteSansAssurance: selectedProposal.nbMonthlyPaymentWithoutInsurance,
            montantMensualiteSansAssurance: $options.filters.currency(selectedProposal.monthlyAmountWithoutInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            mensualiteSansAssurance: $options.filters.currency(selectedProposal.monthlyAmountWithoutInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            montantTotalSansAssurance: $options.filters.currency(selectedProposal.totalAmountWithoutInsurance, {
              fractionCount: 2,
              symbol: '€'
            }),
            typeTaux: selectedProposal.fixedRate
              ? $t('simulation.texteExempleOffre.taux.fixe')
              : $t('simulation.texteExempleOffre.taux.revisable'),
            taeg: $options.filters.currency(selectedProposal.taeg, {
              fractionCount: 3,
              symbol: '%'
            }),
            tauxDebiteur: $options.filters.currency(selectedProposal.debitRate, {
              fractionCount: 3,
              symbol: '%'
            }),
            mensualiteAssurance: $options.filters.currency(selectedProposal.monthlyInsuranceAmount, {
              fractionCount: 2,
              symbol: '€'
            }),
            taea: $options.filters.currency(selectedProposal.taea, {
              fractionCount: 3,
              symbol: '%'
            }),
            coutTotalAssurance: $options.filters.currency(selectedProposal.totalInsuranceCost, {
              fractionCount: 2,
              symbol: '€'
            })
          })
        "
      ></p>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { Getter } from 'vuex-class';
import { CreditTypeEnum } from '@/models/simulator/business/creditType';
import { BusinessRule } from '@/services/BusinessRule';

@Component
export default class OfferDetailsExampleText extends Vue {
  @Prop() private selectedProposal: SimulationFinancialProposal;

  @Getter private getCreditType: string;

  private creditTypeEnum = CreditTypeEnum;

  private get offerHasDelay() {
    return BusinessRule.showReportInformations(this.selectedProposal);
  }
}
</script>

<style lang="scss" scoped>
.offer-details-example-text {
  display: block;
  margin-top: 10px;
  font-size: 16px;

  font-family: $font-regular;

  @media screen and (max-width: $width_M) {
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    max-width: $max-width-tablet;
  }

  // Need v-deep as span is in translation
  ::v-deep span {
    font-size: 20px;
    font-family: $font-medium;

    @media screen and (max-width: $width_M) {
      font-size: 16px;
    }
  }
}
</style>
