<template>
  <div class="quality">
    <div class="quality-item">
      <div class="quality-image">
        <img src="@/assets/images/rapide.svg" alt="Chronomètre" />
      </div>
      <div>
        <h4 class="quality-title">{{ $t('simulation.Footer.qualityTitle1') }}</h4>
        <p class="quality-text" v-html="$t('simulation.Footer.qualityText1_1')"></p>
      </div>
    </div>
    <div class="quality-item">
      <div class="quality-image">
        <img src="@/assets/images/flexible.svg" alt="Calendrier" />
      </div>
      <div>
        <h4 class="quality-title">{{ $t('simulation.Footer.qualityTitle2') }}</h4>
        <p class="quality-text" v-html="$t('simulation.Footer.qualityText2')"></p>
      </div>
    </div>
    <div class="quality-item">
      <div class="quality-image">
        <img src="@/assets/images/fiable.svg" alt="Cadenas" />
      </div>
      <div>
        <h4 class="quality-title">{{ $t('simulation.Footer.qualityTitle3') }}</h4>
        <p class="quality-text" v-html="$t('simulation.Footer.qualityText3')"></p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Getter } from 'vuex-class';
@Component({
  components: {}
})
export default class QualityInfo extends Vue {}
</script>

<style lang="scss" scoped>
.quality {
  background-color: $color-title;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 55px 0 75px;

  @media screen and (max-width: $width_S) {
    flex-direction: column;
    padding: 40px 0;
  }

  &-item {
    text-align: center;
    width: 20%;

    @media screen and (max-width: $width_S) {
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      padding: 0 40px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  &-image {
    @media screen and (max-width: $width_S) {
      text-align: center;
      flex: 0 0 60px;
      width: 60px;
      margin: 0 30px 0 0;
    }

    img {
      display: block;
      height: 76px;
      margin: 0 auto 20px;

      @media screen and (max-width: $width_S) {
        height: 60px;
        margin: 0 auto;
      }
    }
  }

  &-title {
    font-family: $font-bold;
    font-size: 16px;
    color: $color-white;
    margin-bottom: 10px;
  }

  &-text {
    font-family: $font-medium;
    font-size: 14px;
    line-height: 20px;
    color: $color-white;

    /deep/ sup {
      font-size: 10px;
    }
  }
}
</style>
