<template>
  <div class="required-doc">
    <div class="required-doc__title">
      <h2>{{ $t('simulation.RequiredDocuments.titreSection') }}</h2>
      <a href="#">{{ $t('simulation.RequiredDocuments.labelLienTelecharger') }}</a>
    </div>
    <div class="required-doc__documents section-container">
      <div class="required-doc__wrapper">
        <div class="required-doc__wrapper--img">
          <img
            :src="`${baseUrl}/${$t('simulation.RequiredDocuments.pieceIdentite.image')}`"
            :alt="$t('simulation.RequiredDocuments.pieceIdentite.titre')"
          />
        </div>
        <div class="required-doc__wrapper--name">
          <h3>{{ $t('simulation.RequiredDocuments.pieceIdentite.titre') }}</h3>
          <p>{{ $t('simulation.RequiredDocuments.pieceIdentite.description') }}</p>
        </div>
      </div>
      <div class="required-doc__wrapper">
        <div class="required-doc__wrapper--img">
          <img
            :src="`${baseUrl}/${$t('simulation.RequiredDocuments.rib.image')}`"
            :alt="$t('simulation.RequiredDocuments.rib.titre')"
          />
        </div>
        <div class="required-doc__wrapper--name">
          <h3>{{ $t('simulation.RequiredDocuments.rib.titre') }}</h3>
          <p>{{ $t('simulation.RequiredDocuments.rib.description') }}</p>
        </div>
      </div>
      <div class="required-doc__wrapper">
        <div class="required-doc__wrapper--img">
          <img
            :src="`${baseUrl}/${$t('simulation.RequiredDocuments.justificatifRevenu.image')}`"
            :alt="$t('simulation.RequiredDocuments.justificatifRevenu.titre')"
          />
        </div>
        <div class="required-doc__wrapper--name">
          <h3>{{ $t('simulation.RequiredDocuments.justificatifRevenu.titre') }}</h3>
          <p>{{ $t('simulation.RequiredDocuments.justificatifRevenu.description') }}</p>
        </div>
      </div>
      <div class="required-doc__wrapper">
        <div class="required-doc__wrapper--img">
          <img
            :src="`${baseUrl}/${$t('simulation.RequiredDocuments.justificatifDomicile.image')}`"
            :alt="$t('simulation.RequiredDocuments.justificatifDomicile.titre')"
          />
        </div>
        <div class="required-doc__wrapper--name">
          <h3>{{ $t('simulation.RequiredDocuments.justificatifDomicile.titre') }}</h3>
          <p>{{ $t('simulation.RequiredDocuments.justificatifDomicile.description') }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import store from '@/store';

/**
 * RequiredDocuments
 *
 * Simple panel displaying a sample of the documents that will
 * be required from customer to be able to finalize the loan.
 */
@Component({
  components: {}
})
export default class RequiredDocuments extends Vue {
  private partnerDirectory: string = 'sofinco';
}
</script>

<style scoped lang="scss">
.required-doc {
  background-color: $color-white;
  padding: 65px 0;

  @media screen and (max-width: $width_L) {
    background-color: initial;
    padding: 15px 0 45px;
  }

  &__title {
    h2 {
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
      color: $color-text;
      font-family: $font-bold;
    }

    @media screen and (max-width: $width_S) {
      font-size: 18px;
      color: $color-partner-1;
    }

    a {
      font-family: $font-medium;
      font-size: 14px;
      text-align: center;
      color: $color-title;
      display: block;
      padding-top: 10px;

      @media screen and (max-width: $width_S) {
        color: $color-grey-dark;
        padding-top: 5px;
      }
    }
  }

  &__documents.section-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;

    @media screen and (max-width: $width_S) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 20px 20px 0 20px;
    }
  }

  &__wrapper {
    text-align: center;
    max-width: 210px;

    @media screen and (max-width: $width_S) {
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      max-width: 300px;
      margin-bottom: 25px;
    }

    &--img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      margin-bottom: 15px;

      @media screen and (max-width: $width_S) {
        width: 60px;
        height: auto;
        margin: 0 25px 0 0;
      }

      img {
        display: block;
        width: 80px;
        max-height: 70px;

        @media screen and (max-width: $width_S) {
          width: 55px;
          max-height: 55px;
        }
      }
    }

    &--name {
      h3 {
        font-family: $font-bold;
        font-size: 16px;
        color: $color-grey-dark;
      }

      p {
        font-family: $font-regular;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
</style>
