<template>
  <div>
    <div class="advantageBand" @click="opened = true">
      {{ $t('souscription.carte.titreBandeauAvantage') }}
      <img :src="`${baseUrl}/left-arrow-white.svg`" alt="Flèche" />
    </div>
    <app-layout-two-bloc :animation="animation" :slideLeft="slideLeft" :slideRight="slideRight">
      <template v-slot:leftContent>
        <div class="leftContent">
          <h2 class="title">
            {{ $t('souscription.carte.titreCarte') }}
          </h2>
          <p class="subTitle">{{ $t('souscription.carte.sousTitreCarte') }}</p>
          <app-radio-column-button
            :value="wantCard"
            :onClick="onClick"
            :hasError="hasError"
            :errorImgPath="`${baseUrl}/error-icon.svg`"
          >
            <template v-slot:okContent>
              <div class="okContent" :class="{ active: wantCard }">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                  <g fill="none" fill-rule="evenodd" transform="translate(4 14)">
                    <rect
                      width="50.97"
                      height="30.97"
                      x="1.015"
                      y="1.015"
                      :style="strokeStyle"
                      stroke-width="2.03"
                      rx="4.059"
                    />
                    <rect width="9" height="9" x="37" y="18" :style="fillStyle" rx="1.43" />
                    <path :style="fillStyle" d="M0 7h53v8H0z" />
                    <path :style="strokeStyle" stroke-linecap="round" stroke-width="2.86" d="M8 23.5h14" />
                  </g>
                </svg>
                {{ $t('souscription.carte.souhaite') }}
              </div>
            </template>
            <template v-slot:koContent>
              {{ $t('souscription.carte.souhaitePas') }}
            </template>
          </app-radio-column-button>
          <p class="legalJustif" v-html="$t('souscription.carte.reserveJuridique')"></p>
          <p class="downloadDocument">
            <a @click="handleDownload" class="download">
              {{ $t('souscription.carte.telechargerConditions') }}
            </a>
          </p>
          <app-button
            v-if="showGoBackToSummaryStepBtn"
            class="mb-15"
            type="button"
            noBackground="true"
            :label="$t('commun.ctaRecapitulatif')"
            :onClick="navigateToSummaryStep"
            :colors="colors"
          />
          <app-button
            data-cy="next"
            type="button"
            class="nextButton"
            :label="$t('souscription.carte.boutonSuivant')"
            :onClick="next"
            :colors="colors"
          />
          <app-button
            data-cy="previous"
            type="button"
            class="previousButton"
            :label="$t('souscription.carte.boutonPrecedent')"
            :isBackButton="true"
            :onClick="previous"
            :colors="colors"
            :force-mobile-display="true"
          />
        </div>
      </template>
      <template v-slot:rightContent>
        <app-accordion
          id="accordion-desktop"
          :colors="colors"
          :title="$t('souscription.carte.titreAvantage')"
          :data="cardItems"
          class="advantages-desktop"
        />
        <app-popin
          :title="$t('souscription.carte.titreAvantage')"
          :closeAction="handleCloseClick"
          :active="opened"
          :headerBackgroundColor="colors.quaternary"
          :colors="colors"
          class="advantages-mobile"
        >
          <app-accordion
            id="accordion-mobile"
            :colors="colors"
            :title="$t('souscription.carte.titreAvantage')"
            :data="cardItems"
          />
        </app-popin>
      </template>
      <template v-slot:buttons>
        <app-button
          data-cy="next"
          type="button"
          class="nextButton button--big"
          :colors="colors"
          :label="$t('souscription.carte.boutonSuivant')"
          :onClick="next"
        >
        </app-button>
        <app-button
          data-cy="next"
          type="button"
          class="nextButton button--small"
          :colors="colors"
          :label="$t('souscription.carte.boutonSuivantMedium')"
          :onClick="next"
        >
        </app-button>
        <app-button
          data-cy="previous"
          type="button"
          class="previousButton"
          :label="$t('souscription.carte.boutonPrecedent')"
          :isBackButton="true"
          :onClick="previous"
          :colors="colors"
        >
        </app-button>
      </template>
    </app-layout-two-bloc>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { StepState } from '@/models/StepState';
import { Prop } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import { Action, Getter, Mutation, State } from 'vuex-class';
import Button from '@/components/graphic/Button.vue';
import LayoutTwoBloc from '@/components/template/LayoutTwoBloc.vue';
import RadioColumnButton from '@/components/graphic/RadioColumnButton.vue';
import AccordionData from '@/models/AccordionData';
import Accordion from '@/components/subscription/Accordion.vue';
import Popin from '@/components/graphic/Popin.vue';
import { EligibilityPayload, SubscriptionPayload } from '@/models/subscription/SubscriptionPayload';
import { BusinessRule } from '@/services/BusinessRule';
import { Insurance } from '@/models/subscription/Insurance';
import { fetchPdf } from '@/services/PdfService';
import { saveAs } from 'file-saver';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import SimulationApi from '@/services/SimulationApi';
import { convertDate } from '@/utils/strings';
import { SimulatorState } from '@/store/types';
import { InsuranceFormState } from '@/models/subscription/FormState';
import { RoutePathId } from '@/models/RoutesPath';
import { VisibleMutationPayload } from '@/models/subscription/VisibleMutationPayload';
import { RouteStates } from '@/models/subscription/RouteState';
import store from '@/store';
import { isNullOrEmpty } from '@/utils/utils';
import { easeInOutQuad } from '@/utils/animations';

@Component({
  components: {
    'app-button': Button,
    'app-layout-two-bloc': LayoutTwoBloc,
    'app-radio-column-button': RadioColumnButton,
    'app-accordion': Accordion,
    'app-popin': Popin
  }
})
export default class CardStep extends Vue {
  @Prop() public stepState!: StepState;

  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.subscription.principal.cardCode) public cardCode: any;
  @State((state) => state.subscription.principal.wantCard) public wantCard: any;
  @State((state) => state.client.isMobile) public isMobile!: boolean;
  @State((state) => state.subscription.principal.civility.birthDate) public birthDate!: string;
  @State((state) => state.subscription.secondary.civility.birthDate) public birthDateT2!: string;
  @State((state) => state.subscription.principal.insurance) public insurance!: Insurance;
  @State((state) => state.simulator) public simulator!: SimulatorState;
  @State((state) => state.subscription.formStates.insurance) public insuranceForm: InsuranceFormState;
  @State((state) => state.subscription.routeStates) public routeStates!: RouteStates;

  @Getter public isCreditForTwo!: boolean;
  @Getter public isVersionSimulationApiIn!: (version: number) => boolean;
  @Getter public getCreditType!: string;
  @Getter public getStep!: (pathId: string) => any;

  @Action public setInsuranceEligibility!: (eligibilityPayload: EligibilityPayload) => void;
  @Action public setSubscriptionData!: (payload: SubscriptionPayload) => void;

  @Mutation private updateVisibleRoute!: (payload: VisibleMutationPayload) => void;

  private cardItems: AccordionData[] = [];
  private hasError: boolean = false;
  private opened: boolean = false;

  private animation: boolean = false;
  private slideLeft: boolean = false;
  private slideRight: boolean = false;

  public created() {
    let cardCode;
    if (this.stepState) {
      // get card code
      cardCode =
        this.stepState.screenOptions && this.stepState.screenOptions['card-code']
          ? this.stepState.screenOptions['card-code'].value
          : 'S';
    }

    if (this.cardCode === null) {
      this.setCardCode(cardCode);
    }

    let wantCard;
    if (this.stepState) {
      // get if it's preselected
      if (this.stepState.screenOptions.noselection ? !this.stepState.screenOptions.noselection.value : true) {
        wantCard =
          this.stepState.screenOptions && this.stepState.screenOptions.preselected
            ? this.stepState.screenOptions.preselected.value
            : null;
      }
    }

    if (this.wantCard === null) {
      this.setWantCard(wantCard);
    }

    if (this.stepState) {
      // get advantages sub step
      const advStep =
        this.stepState && this.stepState.steps
          ? this.stepState.steps.find((step: any) => step.pathId === 'advantages')
          : null;
      // get number of advantages to display
      const advNbr =
        advStep && advStep.screenOptions && advStep.screenOptions['advantages-length']
          ? advStep.screenOptions['advantages-length'].value
          : 0;
      // get key for wording
      const advKey =
        advStep && advStep.screenOptions && advStep.screenOptions['advantages-key']
          ? advStep.screenOptions['advantages-key'].value
          : null;

      // create object for component to display
      let i = 1;
      while (i <= advNbr) {
        const data: AccordionData = {
          title: this.$t(advKey + '.' + i + '.titre').toString(),
          // @ts-ignore
          imgUrl: `${this.baseUrl}/${this.$t(advKey + '.' + i + '.icone').toString()}`,
          descriptionText: this.$te(advKey + '.' + i + '.description')
            ? this.$t(advKey + '.' + i + '.description').toString()
            : undefined
        };
        this.cardItems.push(data);
        i++;
      }
    }
  }

  public handleDownload() {
    fetchPdf(this.documentUrl).then((response) => {
      saveAs(new Blob([response.data], { type: 'application/pdf' }), 'Informations-carte.pdf');
    });
  }

  public get documentUrl(): string {
    return this.stepState && this.stepState.screenOptions && this.stepState.screenOptions.documentUrl.value;
  }

  public async next() {
    if (this.wantCard === null || (this.stepState.screenOptions.noselection && this.wantCard === undefined)) {
      this.hasError = true;
    } else {
      let nextStep = this.stepState.getNext();

      // Special treatment for insurance step
      if (nextStep !== null && nextStep.pathId.includes(RoutePathId.INSURANCE)) {
        const nextInsuranceStep = await this.manageNextInsuranceStep(nextStep);
        if (nextInsuranceStep !== null) {
          nextStep = nextInsuranceStep;
        }
      }

      if (nextStep) {
        this.navigateToWithSlideAnimation(nextStep.pathId, true);
      }
    }
  }

  public fillInsuranceData(isPrincipal: boolean) {
    this.insurance.acceptInsuranceOffer = false;
    this.insurance.confirmRefusal = true;
    const payloadInsurance = {
      isPrincipal,
      subStateName: 'insurance',
      subStateValue: this.insurance
    };
    this.setSubscriptionData(payloadInsurance);
  }

  public previous() {
    const previousState = this.stepState.getPrevious(true);
    if (previousState !== null) {
      this.navigateToWithSlideAnimation(previousState.pathId, false);
    }
  }

  public handleCloseClick() {
    this.opened = false;
  }

  public get strokeStyle(): string {
    // @ts-ignore
    return {
      stroke: this.wantCard ? '#fff' : this.hasError && this.wantCard !== false ? '#FF3935' : this.colors.primary
    };
  }

  public get fillStyle(): string {
    // @ts-ignore
    return {
      fill: this.wantCard ? '#fff' : this.hasError && this.wantCard !== false ? '#FF3935' : this.colors.primary
    };
  }

  public onClick(value: boolean) {
    this.setWantCard(value);
  }

  public goTo(to: any, callback: any = null) {
    const form = document.querySelector('.subscriptionPageContainer .wrapper .content') as HTMLElement;
    const start = window.scrollY > form.scrollTop ? window.scrollY : form.scrollTop;

    const change = to - start;
    const increment = 20;
    let currentTime = 0;
    const animateScroll = () => {
      const duration = 300;
      const val = easeInOutQuad(currentTime, start, change, duration);
      currentTime += increment;

      if (window.scrollTo) {
        window.scrollTo(0, val);
      }

      if (form && form.scrollTop) {
        form.scrollTop = val;
      }

      if (currentTime < duration) {
        setTimeout(animateScroll, increment);
      } else if (callback) {
        callback();
      }
    };
    animateScroll();
  }

  /**
   * This method is identical to SubscriptionStep.vue method.
   * TODO: Extract this method to avoid duplicated code.
   */
  public async manageNextInsuranceStep(insuranceStep: StepState) {
    let nextStep: StepState | null = null;
    if (this.isVersionSimulationApiIn(1)) {
      // Call the simulation API to gets the proposals and retrieve the insurance eligibility
      const proposalsResponse: SimulationFinancialProposal[] = await SimulationApi.getSimulationV1({
        amount: this.simulator.requiredAmount,
        duration: this.simulator.dueNumber,
        birthdateT1: convertDate(this.birthDate),
        birthdateT2: this.birthDateT2 ? convertDate(this.birthDateT2) : null,
        hasInsuranceT1: true,
        hasInsuranceT2: this.isCreditForTwo,
        sourceId: this.simulator.simulationContext.sourceId,
        projectId: this.simulator.simulationContext.projectId
      });

      if (proposalsResponse && proposalsResponse.length > 0) {
        const {
          firstMonthlyInsuranceAmount,
          firstMonthlyInsuranceAmountT2,
          totalInsuranceAmount,
          totalInsuranceAmountT2
        } = proposalsResponse[0];

        // Update the store in order to set T1/T2 eligibility
        this.setInsuranceEligibility({
          creditType: this.getCreditType,
          firstMonthlyInsuranceAmount,
          firstMonthlyInsuranceAmountT2,
          totalInsuranceAmount,
          totalInsuranceAmountT2
        });

        // Go to the next insurance step if T1 and T2 are not eligible to insurance
        // or T1 is not eligible if it is a credit contracted by one person
        if (
          (this.isCreditForTwo && !this.insuranceForm.t1IsEligible && !this.insuranceForm.t2IsEligible) ||
          (!this.isCreditForTwo && !this.insuranceForm.t1IsEligible)
        ) {
          // Hide insurance step on the LeftSideBar
          this.updateVisibleRoute({
            route: insuranceStep.pathId,
            visible: false
          });
          this.fillInsuranceData(true);
          this.fillInsuranceData(false);
          // Hide next step insurance
          nextStep = insuranceStep.getNext();
        }
      }
    } else {
      // Special treatment for insurance step
      const stepInsurance = this.getStep(RoutePathId.INSURANCE); // TODO: use constant
      const { limitYoung, limitSenior, minAgeInsurance, maxAgeInsurance } = BusinessRule.getInsuranceConfiguration(
        stepInsurance
      );
      const canSeeInsurance = new BusinessRule(
        minAgeInsurance,
        maxAgeInsurance,
        limitYoung,
        limitSenior
      ).canSeeInsurance(this.birthDate);
      if (!canSeeInsurance) {
        nextStep = insuranceStep.getNext();
        this.fillInsuranceData(true);
        this.fillInsuranceData(false);
        // Reset visible to false if user previously made a subscription with other information
        // that has shown insurance step.
        this.updateVisibleRoute({ route: RoutePathId.INSURANCE, visible: false });
      }
    }
    return nextStep;
  }

  private setWantCard(value: boolean | null) {
    const payload = {
      isPrincipal: true,
      subStateName: 'wantCard',
      subStateValue: value
    };
    this.setSubscriptionData(payload);
  }

  private setCardCode(value: string) {
    const payload = {
      isPrincipal: true,
      subStateName: 'cardCode',
      subStateValue: value
    };
    this.setSubscriptionData(payload);
  }

  /**
   * If the go back to summary step button must be displayed to the user.
   */
  private get showGoBackToSummaryStepBtn(): boolean {
    return BusinessRule.showGoToSummaryStepBtn(
      this.isMobile,
      this.stepState,
      this.stepState.getNext(),
      this.routeStates
    );
  }

  /**
   * Force the navigation to the summary step with a slide left animation.
   */
  private navigateToSummaryStep(): void {
    this.navigateToWithSlideAnimation(RoutePathId.SUMMARY, true);
  }

  /**
   * Navigate to another step with a slide right or left animation between the current step and the next/previous step.
   *
   * @param nextRouteName the next/previous route name
   * @param slideLeftDirection the slide animation direction: if true, slide on left else slide on right
   * @param slideDelay the slide delay (by default it is 300ms)
   */
  private navigateToWithSlideAnimation(
    routeName: RoutePathId | string,
    slideLeftDirection = false,
    slideDelay: number = 300
  ): void {
    this.animation = true;
    this.goTo(0, () => {
      if (slideLeftDirection) {
        this.slideLeft = true;
      } else {
        this.slideRight = true;
      }
      setTimeout(() => {
        this.$router.push({ name: routeName });
      }, slideDelay);
    });
  }
}
</script>

<style lang="scss" scoped>
.advantageBand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  color: $color-white;
  font-size: 16px;
  font-family: $font-medium;
  background-color: $color-headband-mobile;

  @media screen and (min-width: $width_S) {
    display: none;
  }

  img {
    transform: rotate(180deg);
  }
}
.leftContent {
  padding: 30px 20px 30px;
  background-color: $color-white;

  @media screen and (min-width: $width_L) {
    padding: 30px 50px 35px;
  }

  .title {
    font-size: 26px;
    line-height: 30px;
    font-family: $font-bold;
    margin-bottom: 10px;
    color: $color-title;

    @media screen and (min-width: $width_M) {
      font-size: 30px;
      line-height: 34px;
    }
  }

  .subTitle {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
  }

  .legalJustif {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.33;
  }

  .nextButton,
  .previousButton {
    margin: auto;
    width: 100%;
  }
  @media screen and (min-width: $width_M) {
    .nextButton,
    .previousButton {
      display: none;
    }
  }

  .nextButton {
    margin-top: 15px;
  }

  .downloadDocument {
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $color-grey-light;
    margin-top: 20px;

    @media screen and (min-width: $width_S) {
      background-color: $color-white;
      width: 100%;
      left: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .download {
      color: $color-partner-2;
      font-family: $font-medium;
      transition: color 0.3s ease-in-out;
      cursor: pointer;
    }
  }

  .okContent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-bold;

    &.active {
      color: $color-white;
    }

    svg {
      margin-right: 20px;
    }
  }
}

.advantages {
  &-desktop {
    display: none;
    @media screen and (min-width: $width_S) {
      display: block;
    }
  }

  &-mobile {
    @media screen and (min-width: $width_S) {
      display: none;
    }
  }
}
</style>
