<template>
  <div class="loadingStep">
    <div class="loadingBloc">
      <div class="loading-container">
        <div ref="lottieElement" class="animation-lottie"></div>
        <!-- <app-loader :color="apiConfig.colors.primary" /> -->
      </div>
      <div class="title">{{ $t('souscription.pageChargement.chargement') }}</div>
      <div class="text">{{ $t('souscription.pageChargement.patienter') }}</div>
    </div>
    <input ref="cfuserPrefs" type="hidden" id="cfuser_prefs" name="cfuser_prefs" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { StepState } from '@/models/StepState';
import SubscriptionApi from '@/services/SubscriptionApi';
import { State, Action, Getter } from 'vuex-class';
import { ApiConfigState, RootState, SimulatorState, SubscriptionData } from '@/store/types';
import { SimulationParameter } from '@/models/Simulation';
import { AxiosResponse } from 'axios';
import { FolderResponse } from '@/models/subscription/FolderResponse';
import Loader from '@/components/graphic/Loader.vue';
import { BusinessDataTransfer } from '@/models/BusinessDataTransfer';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { SimulationContext } from '@/models/simulator/dto/simulationContext';
import { SeConfig } from '@/models/subscription/api/SeConfig';
import { exponentialBackoff } from '@/utils/exponentialBackoff';
import store from '@/store';
import lottie from 'lottie-web';
import * as animationSofincoTheme from '@/assets/animations/sofinco/accord-de-principe.json';
import * as animationOtherTheme from '@/assets/animations/accord-de-principe.json';
import { ColorThemeEnum } from '@/models/simulator/colorTheme';
import { RoutePathId } from '@/models/RoutesPath';
import { AuthenticationState } from '@/models/subscription/authentication/Authentication';

@Component({
  components: {
    'app-loader': Loader
  }
})
export default class LoadingStep extends Vue {
  @Prop() public stepState!: StepState;

  @State((state: RootState) => state.subscription.context) public context!: BusinessDataTransfer;
  @State((state: RootState) => state.subscription.principal) public principal!: SubscriptionData;
  @State((state: RootState) => state.subscription.secondary) public secondary!: SubscriptionData;
  @State((state: RootState) => state.subscription.seConfig) public seConfig!: SeConfig;
  @State((state: RootState) => state.subscription.authentication) public authentication!: AuthenticationState;
  @State((state: RootState) => state.apiConfig) public apiConfig!: ApiConfigState;
  @State((state: RootState) => state.simulator.simulationContext) public simulationContext!: SimulationContext;
  @State((state: RootState) => state.simulator) public simulator!: SimulatorState;
  @State((state: RootState) => state.simulator.selectedProposal) public selectedProposal!: SimulationFinancialProposal;

  @Action('setFolderResponse') public setFolderResponse!: (folderResponse: FolderResponse) => void;
  @Action('setSeConfig') public setSeConfig!: (seConfig: SeConfig) => void;

  @Getter public isSofincoPartnerCode!: boolean;
  @Getter public isCreditForTwo!: boolean;
  @Getter public getCreditType!: string;
  @Getter public screenOption: (key: string) => any;

  public subscriptionApi: SubscriptionApi;

  constructor() {
    super();
    this.subscriptionApi = new SubscriptionApi();
  }

  private async mounted() {
    const animationData =
      this.screenOption('theme') === ColorThemeEnum.SOFINCO
        ? animationSofincoTheme.default
        : animationOtherTheme.default;
    lottie.loadAnimation({
      container: this.$refs.lottieElement as HTMLElement,
      renderer: 'svg',
      loop: true,
      autoplay: true,
      animationData
    });

    let amount;
    let duration;
    if (
      this.selectedProposal !== null &&
      this.selectedProposal.amount !== null &&
      this.selectedProposal.nbMonthlyPaymentWithInsurance !== null
    ) {
      amount = Number(this.selectedProposal.amount);
      duration = Number(this.selectedProposal.nbMonthlyPaymentWithInsurance);
    } else {
      amount = this.screenOption('amount-simulation') || null;
      duration = this.screenOption('duration-simulation') || null;
    }

    let parameters: SimulationParameter;
    if (this.isSofincoPartnerCode) {
      parameters = {
        amount: this.simulator.requiredAmount,
        duration: this.simulator.dueNumber,
        sourceId: this.simulationContext.sourceId,
        vehicleAge: this.simulationContext.vehicleAge,
        vehicleAmount: this.simulationContext.vehicleAmount,
        productId: this.simulationContext.productId,
        partnerId: '',
        applicationId: 'SOFINCO'
      };
    } else {
      parameters = {
        amount,
        duration,
        sourceId: this.apiConfig.offerCode,
        partnerId: this.apiConfig.partnerCode,
        applicationId: this.apiConfig.applicationId,
        businessProviderId: this.apiConfig.businessProviderId,
        equipmentCode: this.apiConfig.equipmentCode,
        scaleCode: this.apiConfig.scaleCode
      };
    }

    await this.setExperianDataIfNeeded();

    const contract = this.subscriptionApi.formatData(
      this.context,
      this.principal,
      this.secondary,
      this.authentication,
      parameters
    );

    if (this.isSofincoPartnerCode) {
      const crbpRule = await this.subscriptionApi.getCRBPRule();
      contract.crbpRule = crbpRule.crbpRule;
      contract.crbpVersion = crbpRule.crbpVersion;
    }

    this.subscriptionApi
      .subscribe(contract, this.getCreditType, parameters)
      .then((res: AxiosResponse<FolderResponse>) => {
        this.setFolderResponse(res.data);
        if (this.isSofincoPartnerCode) {
          this.retrieveSeConfig(res);
        }
        const nextStep = this.stepState.getNext();
        if (nextStep !== null) {
          this.$router.push({ name: nextStep.pathId });
        }
      })
      .catch(() => {
        this.$router.push({ name: RoutePathId.ERROR_PAGE, params: { isFromForm: 'true' } });
      });
  }

  private async setExperianDataIfNeeded() {
    if (this.screenOption('enable-experian-FraudNet')) {
      await this.setExperianData();
    }
  }

  private async setExperianData() {
    return new Promise((resolve) => {
      if ((window as any).cfadx) {
        const res = (window as any).cfadx.cfvalidate('cfuser_prefs');
        // Function cfvalidate (which set cfuserPrefs.value) is asynchrone but provide
        // no callback nor Promise. Therefore, we test if value exist periodically through
        // exponentialBackoff function
        exponentialBackoff(
          () => (this.$refs.cfuserPrefs as any).value,
          100,
          50,
          () => {
            store.commit('setExperianData1', (this.$refs.cfuserPrefs as any).value);
            return resolve();
          }
        );
      } else {
        return resolve();
      }
    });
  }

  /**
   * Retrieve the SE Config by calling the SEChoice API.
   *
   * If the electronic signature is forced, the API to disable contract postal sending is called.
   * An email is also sent to sum-up the credit subscription.
   *
   * @param response the response of the subscription API
   */
  private retrieveSeConfig(response: AxiosResponse<FolderResponse>) {
    const isRequestAccepted = this.subscriptionApi.isRequestAccepted(response.data);

    if (isRequestAccepted) {
      const { contractId, creditType, proposal, contractToken } = response.data;
      const impactOfferCode = proposal && proposal.impactOfferCode ? proposal.impactOfferCode : null;
      const productId = proposal && proposal.productId ? proposal.productId : null;

      this.subscriptionApi
        .getSEConfig(contractId, creditType, impactOfferCode, productId, this.isCreditForTwo)
        .then((seConfig: SeConfig) => this.setSeConfig(seConfig))
        .finally(() => {
          const accessToken: string = contractToken && contractToken.accessToken ? contractToken.accessToken : null;
          const idToken: string = contractToken && contractToken.idToken ? contractToken.idToken : null;
          if (this.seConfig && this.seConfig.hasForcedSE) {
            this.subscriptionApi.disableContractPostalSending(contractId, accessToken, idToken);
          }
          this.subscriptionApi.sendSummaryEmail(contractId, idToken, this.seConfig.hasForcedSE);
        });
    }
  }
}
</script>

<style lang="scss" scoped>
.loadingStep {
  position: relative;
  background-color: $color-bg-container;
  min-height: calc(100vh - #{$topbar-mobile-height} - #{$progress-bar-height});

  @media screen and (min-width: $width_M) {
    min-height: calc(100vh - #{$topbar-height} - #{$progress-bar-height});
  }

  .loadingBloc {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 30px;
    position: absolute;
    top: calc(50% - ((#{$topbar-mobile-height} + #{$progress-bar-height}) / 2));
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
    max-width: 520px;

    @media screen and (min-width: $width_M) {
      top: calc(50% - ((#{$topbar-height} + #{$progress-bar-height}) / 2));
    }

    .title {
      font-family: $font-bold;
      font-size: 16px;
      line-height: 24px;
    }

    .text {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.animation-lottie {
  overflow: hidden;
  width: 96px;
  height: 96px;
  margin: auto;
}
</style>
