<template>
  <div class="resultContainer">
    <app-partner-result-step-ok v-if="isResultOK" :colors="colors" :isMobile="isMobile" :response="response" />
    <app-result-step-ko v-else :colors="colors" :response="response" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import ResultStepKO from '@/views/SubscriptionSteps/ResultSteps/ResultStepKO.vue';
import { Getter, State } from 'vuex-class';
import { Colors } from '@/models/Colors';
import { FolderResponse } from '@/models/subscription/FolderResponse';
import PartnerResultStepOk from '@/views/SubscriptionSteps/ResultSteps/PartnerResultStepOk.vue';

@Component({
  components: {
    'app-partner-result-step-ok': PartnerResultStepOk,
    'app-result-step-ko': ResultStepKO
  }
})
export default class ResultStep extends Vue {
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.client.isMobile) public isMobile!: boolean;
  @State((state) => state.subscription.response) public response!: FolderResponse;
  @Getter public isResultOK!: boolean;

  constructor() {
    super();
  }
}
</script>

<style lang="scss" scoped>
.resultContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
</style>
