<template>
  <div class="resultContainer">
    <app-sofinco-result-step-ok v-if="isResultOK" :colors="colors" :isMobile="isMobile" :response="response" />
    <app-result-step-ko v-else />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import { Getter, State } from 'vuex-class';
import { Colors } from '@/models/Colors';
import { FolderResponse } from '@/models/subscription/FolderResponse';
import SofincoResultStepOk from '@/views/SubscriptionSteps/ResultSteps/SofincoResultStepOk.vue';
import ResultStepKOSofinco from '@/views/SubscriptionSteps/ResultSteps/ResultStepKOSofinco.vue';

@Component({
  components: {
    'app-sofinco-result-step-ok': SofincoResultStepOk,
    'app-result-step-ko': ResultStepKOSofinco
  }
})
export default class ResultStepSofinco extends Vue {
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.client.isMobile) public isMobile!: boolean;
  @State((state) => state.subscription.response) public response!: FolderResponse;

  @Getter public isResultOK!: boolean;
}
</script>

<style lang="scss" scoped>
.resultContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
</style>
