<template>
  <div class="summary-wrapper">
    <div class="summary-container">
      <div class="summary-header">
        <h2 class="form-title">{{ $t('souscription.ficheDialogue.titre') }}</h2>
        <p class="form-text">{{ $t('souscription.ficheDialogue.sousTitre') }}</p>
      </div>
      <ToolTipCustom
        :toolTip="helpToolTip"
        :customColor="customColorTooltip"
        :display="true"
        class="helpToolTip"
        v-if="isSofinco"
      />
      <div class="summary-block">
        <div class="summary-block-header">
          <h3 class="summary-block-header-name">{{ $t('souscription.blocInformation.nom.titre') }}</h3>
          <div @click="navigateTo(namePathId)" class="header-modify">
            <button class="summary-block-header-route">
              {{ $t('commun.modifier') }}
            </button>
            <img src="@/assets/images/pen-modify.svg" alt="pen-modify" />
          </div>
        </div>
        <div class="summary-block-fields">
          <div :class="{ half: showCoBorrower }" class="flex-row">
            <div v-if="showCoBorrower" class="summary-block-fields__header__text square">
              <div class="before"></div>
              {{ $t('commun.vous') }}
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.ficheDialogue.civilite') }}</h4>
              <span data-cs-mask>
                {{
                  principal.name.gender === gender.WOMAN
                    ? $t('souscription.blocInformation.nom.madame')
                    : $t('souscription.blocInformation.nom.monsieur')
                }}
              </span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.ficheDialogue.blocNom.nomDeFamille') }}</h4>
              <span data-cs-mask>{{ principal.name.lastName }}</span>
            </div>
            <div
              v-if="principal.name.gender === gender.WOMAN && principal.name.birthName"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocInformation.nom.nomNaissanceRecap') }}
              </h4>
              <span data-cs-mask>{{ principal.name.birthName }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocInformation.nom.prenomLabel') }}</h4>
              <span data-cs-mask>{{ principal.name.firstName }}</span>
            </div>
            <div v-if="!isSofinco" :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocInformation.nom.statutMaritalLabel') }}
              </h4>
              <span data-cs-mask>{{ principal.name.maritalStatus ? principal.name.maritalStatus.label : '' }}</span>
            </div>
          </div>
          <div :class="{ half: showCoBorrower }" v-if="showCoBorrower">
            <div v-if="showCoBorrower" class="summary-block-fields__header__text square">
              <div class="before"></div>
              {{ $t('commun.votreConjoint') }}
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">Civilité</h4>
              <span data-cs-mask>{{ secondary.name.gender === gender.WOMAN ? 'Madame' : 'Monsieur' }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.ficheDialogue.blocNom.nomDeFamille') }}</h4>
              <span data-cs-mask>{{ secondary.name.lastName }}</span>
            </div>
            <div
              v-if="secondary.name.gender === gender.WOMAN && secondary.name.birthName"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocInformation.nom.nomNaissanceLabel2') }}
              </h4>
              <span data-cs-mask>{{ secondary.name.birthName }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocInformation.nom.prenomLabel') }}</h4>
              <span data-cs-mask>{{ secondary.name.firstName }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="summary-block">
        <div class="summary-block-header">
          <h3 class="summary-block-header-name">{{ $t('souscription.blocInformation.coordonnees.titre') }}</h3>
          <div @click="navigateTo(contactPathId)" class="header-modify">
            <button class="summary-block-header-route">
              {{ $t('commun.modifier') }}
            </button>
            <img src="@/assets/images/pen-modify.svg" alt="pen-modify" />
          </div>
        </div>
        <div class="summary-block-fields">
          <div :class="{ half: showCoBorrower }" class="flex-row">
            <div v-if="showCoBorrower" class="summary-block-fields__header__text square">
              <div class="before"></div>
              {{ $t('commun.vous') }}
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocInformation.coordonnees.emailLabel') }}
              </h4>
              <span data-cs-mask>{{ principal.contact.email }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocInformation.coordonnees.telephoneLabel') }}
              </h4>
              <span data-cs-mask>{{ principal.contact.mobilePhone }}</span>
            </div>
            <div v-if="principal.contact.homePhone" :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocInformation.coordonnees.telephoneFixeLabel') }}
              </h4>
              <span data-cs-mask>{{ principal.contact.homePhone }}</span>
            </div>
          </div>
          <div :class="{ half: showCoBorrower }" v-if="showCoBorrower">
            <div v-if="showCoBorrower" class="summary-block-fields__header__text square">
              <div class="before"></div>
              {{ $t('commun.votreConjoint') }}
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocInformation.coordonnees.emailLabel') }}
              </h4>
              <span data-cs-mask>{{ secondary.contact.email }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocInformation.coordonnees.telephoneLabel') }}
              </h4>
              <span data-cs-mask>{{ secondary.contact.mobilePhone }}</span>
            </div>
            <div v-if="secondary.contact.homePhone" :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocInformation.coordonnees.telephoneFixeLabel') }}
              </h4>
              <span data-cs-mask>{{ secondary.contact.homePhone }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="summary-block">
        <div class="summary-block-header">
          <h3 class="summary-block-header-name">{{ $t('souscription.blocSituation.civilite.titre') }}</h3>
          <div @click="navigateTo(civilityPathPathId)" class="header-modify">
            <button class="summary-block-header-route">
              {{ $t('commun.modifier') }}
            </button>
            <img src="@/assets/images/pen-modify.svg" alt="pen-modify" />
          </div>
        </div>
        <div class="summary-block-fields">
          <div :class="{ half: showCoBorrower }" class="flex-row">
            <div v-if="showCoBorrower" class="summary-block-fields__header__text square">
              <div class="before"></div>
              {{ $t('commun.vous') }}
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocSituation.civilite.dateNaissanceLabel') }}
              </h4>
              <span data-cs-mask>{{ principal.civility.birthDate }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocSituation.civilite.villeNaissanceLabel') }}
              </h4>
              <span data-cs-mask>{{ principal.civility.birthCity ? principal.civility.birthCity.label : '' }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocSituation.civilite.paysNaissanceLabel') }}
              </h4>
              <span data-cs-mask>{{
                principal.civility.birthCountry ? principal.civility.birthCountry.label : ''
              }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocSituation.civilite.nationaliteLabel') }}
              </h4>
              <span data-cs-mask>{{ principal.civility.nationality && principal.civility.nationality.label }}</span>
            </div>
          </div>
          <div :class="{ half: showCoBorrower }" v-if="showCoBorrower">
            <div v-if="showCoBorrower" class="summary-block-fields__header__text square">
              <div class="before"></div>
              {{ $t('commun.votreConjoint') }}
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocSituation.civilite.dateNaissanceLabel') }}
              </h4>
              <span data-cs-mask>{{ secondary.civility.birthDate }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocSituation.civilite.villeNaissanceLabel') }}
              </h4>
              <span data-cs-mask>{{ secondary.civility.birthCity ? secondary.civility.birthCity.label : '' }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocSituation.civilite.paysNaissanceLabel') }}
              </h4>
              <span data-cs-mask>{{
                secondary.civility.birthCountry ? secondary.civility.birthCountry.label : ''
              }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocSituation.civilite.nationaliteLabel') }}
              </h4>
              <span data-cs-mask>{{ secondary.civility.nationality && secondary.civility.nationality.label }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="summary-block">
        <div class="summary-block-header">
          <h3 class="summary-block-header-name">{{ $t('souscription.blocSituation.situationFamiliale.titre') }}</h3>
          <div @click="navigateTo(situationBlocPathId)" class="header-modify">
            <button class="summary-block-header-route">
              {{ $t('commun.modifier') }}
            </button>
            <img src="@/assets/images/pen-modify.svg" alt="pen-modify" />
          </div>
        </div>
        <div class="summary-block-fields">
          <div class="flex-row">
            <div v-if="isSofinco" :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocInformation.nom.statutMaritalLabel') }}
              </h4>
              <span data-cs-mask>{{ principal.name.maritalStatus ? principal.name.maritalStatus.label : '' }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocSituation.situationFamiliale.enfants') }}
              </h4>
              <span data-cs-mask>{{ principal.family.childrenNbr }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="summary-block">
        <div class="summary-block-header">
          <h3 class="summary-block-header-name">{{ $t('souscription.blocSituation.adresse.titre') }}</h3>
          <div @click="navigateTo(housingPathId)" class="header-modify">
            <button class="summary-block-header-route">
              {{ $t('commun.modifier') }}
            </button>
            <img src="@/assets/images/pen-modify.svg" alt="pen-modify" />
          </div>
        </div>
        <div class="summary-block-fields">
          <div class="flex-row">
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocSituation.adresse.adresse') }}</h4>
              <span data-cs-mask>{{ principal.adresse.adresseLabel }}</span>
            </div>
            <div
              v-if="principal.adresse.complementAdresse"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocSituation.adresse.complementAdresse') }}
              </h4>
              <span data-cs-mask>{{ principal.adresse.complementAdresse }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocSituation.adresse.city') }}</h4>
              <span data-cs-mask>{{ principal.adresse.adresseCity ? principal.adresse.adresseCity.label : '' }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocSituation.adresse.statutOccupation') }}
              </h4>
              <span data-cs-mask>{{ principal.adresse.housingType ? principal.adresse.housingType.label : '' }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.ficheDialogue.blocAdresse.depuisQuand') }}
              </h4>
              <span data-cs-mask>{{ principal.adresse.sinceWhen }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="summary-block">
        <div class="summary-block-header">
          <h3 class="summary-block-header-name">{{ $t('souscription.blocBudget.travail.titre') }}</h3>
          <div @click="navigateTo(employmentPathId)" class="header-modify">
            <button class="summary-block-header-route">
              {{ $t('commun.modifier') }}
            </button>
            <img src="@/assets/images/pen-modify.svg" alt="pen-modify" />
          </div>
        </div>
        <div class="summary-block-fields">
          <div :class="{ half: showCoBorrower }" class="flex-row">
            <div v-if="showCoBorrower" class="summary-block-fields__header__text square">
              <div class="before"></div>
              {{ $t('commun.vous') }}
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocBudget.travail.statutProfessionnel') }}
              </h4>
              <span data-cs-mask>{{
                principal.employment.professionalStatus ? principal.employment.professionalStatus.label : ''
              }}</span>
            </div>
            <div v-if="principal.employment.profession" :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.travail.profession') }}</h4>
              <span data-cs-mask>{{
                principal.employment.profession ? principal.employment.profession.label : ''
              }}</span>
            </div>
            <div v-if="principal.employment.contract" :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.travail.contrat') }}</h4>
              <span data-cs-mask>{{ principal.employment.contract ? principal.employment.contract.label : '' }}</span>
            </div>
            <div
              v-if="principal.employment.activitySector"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.travail.secteurActivite') }}</h4>
              <span data-cs-mask>{{
                principal.employment.activitySector ? principal.employment.activitySector.label : ''
              }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.ficheDialogue.blocTravail.depuisQuand') }}
              </h4>
              <span data-cs-mask>{{ principal.employment.sinceWhen }}</span>
            </div>
          </div>
          <div :class="{ half: showCoBorrower }" v-if="showCoBorrower">
            <div v-if="showCoBorrower" class="summary-block-fields__header__text square">
              <div class="before"></div>
              {{ $t('commun.votreConjoint') }}
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocBudget.travail.statutProfessionnel') }}
              </h4>
              <span data-cs-mask>{{
                secondary.employment.professionalStatus ? secondary.employment.professionalStatus.label : ''
              }}</span>
            </div>
            <div v-if="secondary.employment.profession" :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.travail.profession') }}</h4>
              <span data-cs-mask>{{
                secondary.employment.profession ? secondary.employment.profession.label : ''
              }}</span>
            </div>
            <div v-if="secondary.employment.contract" :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.travail.contrat') }}</h4>
              <span data-cs-mask>{{ secondary.employment.contract ? secondary.employment.contract.label : '' }}</span>
            </div>
            <div
              v-if="secondary.employment.activitySector"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.travail.secteurActivite') }}</h4>
              <span data-cs-mask>{{
                secondary.employment.activitySector ? secondary.employment.activitySector.label : ''
              }}</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.ficheDialogue.blocTravail.depuisQuand') }}
              </h4>
              <span data-cs-mask>{{ secondary.employment.sinceWhen }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="summary-block">
        <div class="summary-block-header">
          <h3 class="summary-block-header-name">{{ $t('souscription.blocBudget.revenus.titre') }}</h3>
          <div @click="navigateTo(incomesPathId)" class="header-modify">
            <button class="summary-block-header-route">
              {{ $t('commun.modifier') }}
            </button>
            <img src="@/assets/images/pen-modify.svg" alt="pen-modify" />
          </div>
        </div>
        <div class="summary-block-fields">
          <div :class="{ half: showCoBorrower }" class="flex-row">
            <div v-if="showCoBorrower" class="summary-block-fields__header__text square">
              <div class="before"></div>
              {{ $t('commun.vous') }}
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.revenus.revenusLabel') }}</h4>
              <span data-cs-mask>{{ principal.incomes.netIncome }} € nets / mois</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.revenus.nbMoisLabel') }}</h4>
              <span data-cs-mask>{{ principal.incomes.salaryMonths }} mois</span>
            </div>
            <div
              v-if="principal.incomes.moreIncomes && principal.incomes.otherIncomes"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.ficheDialogue.blocRevenus.autresRevenus') }}
              </h4>
              <span data-cs-mask>{{ principal.incomes.otherIncomes }} € nets / mois</span>
            </div>
            <div
              v-if="principal.incomes.moreIncomes && principal.incomes.familyBenefits"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.revenus.prestationsLabel') }}</h4>
              <span data-cs-mask>{{ principal.incomes.familyBenefits }} € nets / mois</span>
            </div>
            <div
              v-if="principal.incomes.moreIncomes && principal.incomes.housingBenefits"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.revenus.aideLogementLabel') }}</h4>
              <span data-cs-mask>{{ principal.incomes.housingBenefits }} € nets / mois</span>
            </div>
          </div>
          <div :class="{ half: showCoBorrower }" v-if="showCoBorrower">
            <div v-if="showCoBorrower" class="summary-block-fields__header__text square">
              <div class="before"></div>
              {{ $t('commun.votreConjoint') }}
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.revenus.revenusLabel') }}</h4>
              <span data-cs-mask>{{ secondary.incomes.netIncome }} € nets / mois</span>
            </div>
            <div :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.revenus.nbMoisLabel') }}</h4>
              <span data-cs-mask>{{ secondary.incomes.salaryMonths }} mois</span>
            </div>
            <div
              v-if="secondary.incomes.moreIncomes && secondary.incomes.otherIncomes"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.ficheDialogue.blocRevenus.autresRevenus') }}
              </h4>
              <span data-cs-mask>{{ secondary.incomes.otherIncomes }} € nets / mois</span>
            </div>
            <div
              v-if="secondary.incomes.moreIncomes && secondary.incomes.familyBenefits"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.revenus.prestationsLabel') }}</h4>
              <span data-cs-mask>{{ secondary.incomes.familyBenefits }} € nets / mois</span>
            </div>
            <div
              v-if="secondary.incomes.moreIncomes && secondary.incomes.housingBenefits"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.revenus.aideLogementLabel') }}</h4>
              <span data-cs-mask>{{ secondary.incomes.housingBenefits }} € nets / mois</span>
            </div>
          </div>
        </div>
      </div>

      <div class="summary-block">
        <div class="summary-block-header">
          <h3 class="summary-block-header-name">{{ $t('souscription.blocBudget.charges.titre') }}</h3>
          <div @click="navigateTo(chargesPathId)" class="header-modify">
            <button class="summary-block-header-route">
              {{ $t('commun.modifier') }}
            </button>
            <img src="@/assets/images/pen-modify.svg" alt="pen-modify" />
          </div>
        </div>
        <div class="summary-block-fields">
          <div class="flex-row">
            <div v-if="principal.charges.rental !== null" :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.charges.loyer') }}</h4>
              <span data-cs-mask>{{ principal.charges.rental }} € / mois</span>
            </div>
            <div
              v-if="principal.charges.refundHouseCredit !== null"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.charges.rembCreditImmo') }}</h4>
              <span data-cs-mask>{{ principal.charges.refundHouseCredit }} € / mois</span>
            </div>
            <div v-if="principal.charges.hasAlimony" :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }">
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.charges.pensionAlim') }}</h4>
              <span data-cs-mask>{{ principal.charges.alimony }} € / mois</span>
            </div>
            <div
              v-if="!isNullOrEmpty(principal.charges.carCredit)"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.charges.creditAuto') }}</h4>
              <span data-cs-mask>{{ principal.charges.carCredit }} € / mois</span>
            </div>
            <div
              v-if="!isNullOrEmpty(principal.charges.revolving)"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">
                {{ $t('souscription.blocBudget.charges.creditRenouvelable') }}
              </h4>
              <span data-cs-mask>{{ principal.charges.revolving }} € / mois</span>
            </div>
            <div
              v-if="!isNullOrEmpty(principal.charges.otherCredit)"
              :class="{ flex50: isCreditForTwo, flex25: !isCreditForTwo }"
            >
              <h4 class="summary-block-fields__title">{{ $t('souscription.blocBudget.charges.autreCredit') }}</h4>
              <span data-cs-mask>{{ principal.charges.otherCredit }} € / mois</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      :class="{ error: hasError, valid: validForm, checked: validForm }"
      class="legal-validation"
      ref="legalValidationDiv"
      id="legalValidation"
      @click="!validForm ? goTo(true) : null"
    >
      <input
        data-click="optin_fdd"
        data-event="fiche_de_dialogue"
        data-type="checkbox"
        id="certification"
        name="certification"
        type="checkbox"
        v-model="validForm"
        v-tag
      />
      <label
        data-cy="certification"
        :class="{ error: hasError, valid: validForm }"
        for="certification"
        class="certification-label"
      >
        <span class="before" />
        {{ $t('souscription.ficheDialogue.certifieHonneur') }}
        <span class="after" />
      </label>
      <app-button
        data-cy="next"
        ref="submitResultButton"
        :label="$t('souscription.ficheDialogue.confirmer')"
        :onClick="handleClick"
        :colors="colors"
        :noChevron="true"
        :class="{ sticky: isStickySubmitButton, disabled: !enableConfirmationBtn }"
        id="nextbtn"
      />
    </div>
    <button v-if="!isMobile" data-cy="goToBottom" @click="goTo()" class="go-to" :class="{ top: goToTop }">
      <i class="icon icon-Icon_ArrowButton" />
    </button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { Getter, Mutation, State } from 'vuex-class';
import { FinancialProposals } from '@/models/Simulation';
import { SubscriptionData } from '@/store/types';
import { Gender } from '@/models/subscription/Name';
import { Colors } from '@/models/Colors';
import Button from '@/components/graphic/Button.vue';
import { isNullOrEmpty } from '@/utils/utils';
import { StepState } from '@/models/StepState';
import { BusinessRule } from '@/services/BusinessRule';
import { RoutePathId } from '@/models/RoutesPath';
import { easeInOutQuad } from '@/utils/animations';
import { ToolTip } from '@/models/Tooltip';
import { getBaseUrl } from '@/mixins/getBaseUrl';

@Component({
  components: {
    'app-button': Button
  }
})
export default class SummaryStep extends Vue {
  @State((state) => state.subscription.principal) public principal!: SubscriptionData;
  @State((state) => state.subscription.secondary) public secondary!: SubscriptionData;
  @State((state) => state.simulationResult) public simulationResult!: FinancialProposals[];
  @State((state) => state.apiConfig.partnerCode) public partnerCode!: string;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.client.isMobile) public isMobile!: boolean;

  @Getter public hasBorrower!: boolean;
  @Getter public isCreditForTwo!: boolean | null;

  @Prop() public stepState!: StepState;

  /**
   * This field is used to always hide co borrower data even when co borrower data has been field.
   * @see https://jira.cacd2.io/browse/DAIM-296
   */
  public alwaysHideCoBorrower = true;

  public informationBlocPathId = RoutePathId.INFORMATION_BLOC;
  public situationBlocPathId = RoutePathId.SITUATION_BLOC;
  public contactPathId = RoutePathId.CONTACT;
  public namePathId = RoutePathId.NAME;
  public familySituationPathId = RoutePathId.FAMILY_SITUATION;
  public civilityPathPathId = RoutePathId.CIVILITY;
  public housingPathId = RoutePathId.HOUSING;
  public employmentPathId = RoutePathId.EMPLOYMENT;
  public incomesPathId = RoutePathId.INCOMES;
  public chargesPathId = RoutePathId.CHARGES;

  public validForm: boolean | null = null;
  public goToTop: boolean = false;
  public hasError: boolean = false;
  public gender = Gender;
  public isNullOrEmpty = isNullOrEmpty;

  private isStickySubmitButton = true;
  private legalValidationEl;

  public mounted() {
    if (window) {
      window.addEventListener(
        'scroll',
        (event) => {
          this.handleScroll(event);
        },
        false
      );
    }

    if (document) {
      const content = document.querySelector('.subscriptionPageContainer .wrapper .content') as HTMLElement;
      if (content) {
        content.addEventListener(
          'scroll',
          (event) => {
            this.handleScroll(event);
          },
          false
        );
      }
    }
  }

  /**
   * Show co borrower if it is not always hidden and co borrower data have been filled
   * or it is a credit requested by two people.
   */
  public get showCoBorrower() {
    return this.isCreditForTwo || (!this.alwaysHideCoBorrower && this.hasBorrower);
  }

  public navigateTo(stepPathId: string) {
    this.$router.push({ name: stepPathId });
  }

  public goTo(goToBottom?: boolean) {
    const form = document.querySelector('.subscriptionPageContainer .wrapper .content') as HTMLElement;
    const start = window.scrollY > form.scrollTop ? window.scrollY : form.scrollTop;
    const to = this.goToTop && !goToBottom ? 0 : form.scrollHeight;
    const change = to - start;
    let currentTime = 0;
    const increment = 20;
    const animateScroll = () => {
      const val = easeInOutQuad(currentTime, start, change, 1250);
      currentTime += increment;

      if (window.scrollTo) {
        window.scrollTo(0, val);
      }

      if (form) {
        form.scrollTop = val;
      }

      if (currentTime < 1250) {
        setTimeout(animateScroll, increment);
      }
    };
    animateScroll();
  }

  public get helpToolTip(): ToolTip {
    return {
      imgSrc: this.$t('souscription.ficheDialogue.blocSummary.tooltipImg').toString(),
      text: this.$t('souscription.ficheDialogue.blocSummary.tooltipText').toString(),
      alt: 'aide'
    };
  }

  public get customColorTooltip() {
    return {
      primary: this.colors.secondary,
      // @ts-ignore
      secondary: this.hexToRgb(this.colors.secondary, 0.08)
    };
  }

  public handleClick() {
    if (this.validForm) {
      const nextStep = this.stepState.getNext();
      if (nextStep !== null) {
        this.$router.push({ name: nextStep.pathId });
      }
    } else {
      this.hasError = true;
      this.goTo();
    }
  }

  public handleScroll(event: any) {
    const content: any = document.querySelector('.subscriptionPageContainer .wrapper .content');
    const formHeight = content ? content.scrollHeight : 0;
    const formScroll = event.target.scrollTop >= 0 ? event.target.scrollTop : event.target.scrollingElement.scrollTop;
    this.goToTop = !this.isMobile && formScroll >= formHeight / 2;

    let submitButton;
    let legalMention;

    if (this.$refs) {
      legalMention = this.$refs.legalValidationDiv as HTMLDivElement;

      if (this.$refs.submitResultButton) {
        submitButton = (this.$refs.submitResultButton as Vue).$refs.customButton as HTMLButtonElement;
      }
    }

    if (legalMention && submitButton) {
      const legalMentionBottom = legalMention.getBoundingClientRect().bottom;
      const submitButtonTop = submitButton.getBoundingClientRect().top;
      const windowHeight = window.innerHeight;
      if (this.isStickySubmitButton && legalMentionBottom - 38 < submitButtonTop) {
        this.isStickySubmitButton = false;
      }
      if (!this.isStickySubmitButton && submitButtonTop >= windowHeight) {
        this.isStickySubmitButton = true;
      }
    }
  }

  private get enableConfirmationBtn() {
    return (!this.isMobile && this.validForm) || this.isMobile;
  }

  /**
   * Check if the marital status must be displayed in the family block or in the name block.
   */
  public get isSofinco(): boolean {
    return new BusinessRule().isSofincoPartnerId(this.partnerCode);
  }
}
</script>

<style lang="scss" scoped>
.summary {
  .tooltipCustom {
    margin-bottom: 25px;
  }

  &-wrapper {
    background-color: $color-bg-container;
    position: relative;
    margin-top: 40px;
    height: auto !important;
    @media screen and (max-width: $width_S) {
      margin-top: 0;
      padding: 0 $section-padding-horizontal-mobile 30px;
    }
  }

  &-container {
    position: relative;
    z-index: 0;
    display: block;
    width: grid(5);
    margin: 0 auto;
    .helpToolTip {
      margin-bottom: 20px;
    }
    .button {
      margin: 20px auto;
    }

    @media screen and (max-width: $width_L) {
      margin: 0 calc(100vw / 25);
    }

    @media screen and (max-width: $width_S) {
      width: 100%;
      max-width: $form-max-width;
      margin: 0;
      .button {
        width: 100%;
        margin: 10px auto 0;
      }
    }
  }

  &-header {
    .form-title {
      color: $color-title;
      font-size: 30px;
      line-height: 1.33;
      font-family: $font-bold;
      margin-bottom: 10px;
    }

    .form-text {
      font-size: 14px;
      line-height: 18px;
      color: $color-grey-black;
      margin-bottom: 30px;

      @media screen and (max-width: $width_S) {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: $width_S) {
      background-color: $color-white;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + #{$section-padding-horizontal-mobile} * 2);
      max-width: $form-max-width;
      margin-bottom: $section-padding-horizontal-mobile;
      padding: $section-padding-horizontal-mobile;
    }
  }

  &-block {
    margin-bottom: 15px;
    border-radius: 0;
    background-color: $color-white;
    overflow: hidden;
    border-radius: 6px;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      background-color: $color-partner-2;

      &-name {
        font-family: $font-bold;
        font-size: 16px;
        color: $color-white;
        text-align: left;
      }

      .header-modify {
        display: flex;
        align-items: center;
        width: 90px;
        justify-content: space-evenly;
        cursor: pointer;
      }

      &-route {
        font-family: $font-medium;
        font-size: 14px;
        color: $color-white;
        transition: color 0.3s ease-in-out;

        @media screen and (max-width: $width_S) {
          font-size: 12px;
        }
      }
    }

    &-fields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      padding: 20px;

      .flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }

      .flex25 {
        flex: 0 0 25%;
        padding-right: 20px;

        @media screen and (max-width: $width_S) {
          flex: 0 0 50%;
        }

        @media screen and (max-width: $width_XS) {
          flex: 0 0 100%;
        }
      }

      .flex50 {
        flex: 0 0 50%;
        padding-right: 8px;

        @media screen and (max-width: $width_S) {
          flex: 0 0 100%;
        }
      }

      @media screen and (max-width: $width_S) {
        display: flex;
        flex-direction: column;
      }

      &__header__text {
        font-family: $font-bold;
        font-size: 14px;
        line-height: 18px;
      }

      > .half {
        width: calc(50% - 10px);
      }

      > div > div {
        margin-bottom: 15px;
        width: 100%;
      }

      &__title {
        font-family: $font-regular;
        font-size: 12px;
        color: $color-grey-medium;
        margin-bottom: 5px;

        + span {
          font-family: $font-medium;
          font-size: 14px;
          display: block;
          color: $color-dark-light;
        }
      }
    }
  }
}

.go-to {
  position: absolute;
  right: grid(1);
  top: 100px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-title;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.25s ease-in-out, top 0.25s ease-in-out,
    bottom 0.25s ease-in-out;

  @media screen and (max-width: $width_M) {
    right: 20px;
  }

  @media screen and (max-width: $width_S) {
    position: fixed;
    top: inherit;
    bottom: 30px;
    right: 30px;
  }

  &:hover {
    background-color: $color-summary-btn-hover;
  }

  &.active {
    z-index: 2;
  }

  &.top {
    bottom: calc(100% - 135px);
    transform: rotate(-180deg);
    -webkit-box-shadow: 0px -2px 4px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px -2px 4px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px -2px 4px 0px rgba(50, 50, 50, 0.2);
  }

  .icon {
    margin-top: 2px;
    font-size: 12px;
    color: $color-white;
    transform: rotate(90deg);
  }
}

.square {
  position: relative;
  padding-left: calc(15px);
  color: $color-headband-mobile;
  display: flex;
  align-items: center;

  .before {
    position: absolute;
    left: 0;
    top: calc(50% + 1px);
    transform: translateY(-50%);
    background-color: $color-headband-mobile;
    border-radius: 1px;
    width: 10px;
    height: 10px;
  }
}

.legal-validation {
  background-color: #ffffff;
  border-color: transparent;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 0;
  transition: all 0.25s ease-in-out;

  &.error {
    background-color: rgba(255, 233, 233, 1);
    border-color: transparent;
  }

  &.valid {
    background-color: white !important;
    border-color: var(--color-partner-2-01);
  }

  input[type='checkbox']:checked + label .before {
    border-color: $color-partner-1;
    background-color: $color-partner-1;
  }

  label {
    padding: 15px 0 25px 40px;
    .before {
      border-color: $color-grey-medium;
      background-color: transparent;

      &.valid {
        border-color: $color-partner-1;
        background-color: $color-partner-1;
      }
    }
  }

  .sticky {
    @media screen and (max-width: $width_S) {
      position: fixed;
      width: 90%;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
    }
  }

  #nextbtn {
    margin-bottom: 10px;
  }
}
</style>
