<template>
  <app-subscription-step
    id="app-subscription-step"
    :title="$t('souscription.blocSituation.civilite.titre')"
    :nextLabel="$t('souscription.blocSituation.civilite.boutonSuivant')"
    :previousLabel="$t('souscription.blocSituation.civilite.boutonPrecedent')"
    :stepState="stepState"
    :hasBorrower="hasBorrower"
  >
    <template v-slot:principal>
      <app-civility-form-content
        :setValue="setValue"
        :civility="principalCivility"
        :isPrincipal="true"
        :colors="colors"
        :countries="getCountries"
        :cities="getCities"
        :nationalities="getNationalities"
        :isLogged="isClientLogged"
      />
    </template>

    <template v-slot:secondary>
      <app-civility-form-content
        :setValue="setValue"
        :civility="secondaryCivility"
        :isPrincipal="false"
        :colors="colors"
        :countries="getCountries"
        :cities="getCities"
        :nationalities="getNationalities"
      />
    </template>
  </app-subscription-step>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { Action, Getter, State } from 'vuex-class';
import SubscriptionStep from '@/components/subscription/SubscriptionStep.vue';
import { StepState } from '@/models/StepState';
import { GetCities, GetCountries, GetNationalities } from '@/services/AutocompleteAPI';
import { Colors } from '@/models/Colors';
import { PRINCIPAL } from '@/mixins/getBorrower';
import CivilityFormContent from '@/components/subscription/form-elements/CivilityFormContent.vue';
import { SubscriptionPayload } from '@/models/subscription/SubscriptionPayload';

@Component({
  components: {
    'app-subscription-step': SubscriptionStep,
    'app-civility-form-content': CivilityFormContent
  }
})
export default class CivilityStep extends Vue {
  @Prop() public stepState!: StepState;
  @Action('setSubscriptionData') public setSubscriptionData!: (payload: SubscriptionPayload) => void;
  @State((state) => state.subscription.principal.civility) public principalCivility: any;
  @State((state) => state.subscription.secondary.civility) public secondaryCivility: any;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @Getter public hasBorrower!: boolean;
  @Getter public isClientLogged: boolean;

  public getCountries: any = GetCountries;
  public getCities: any = GetCities;
  public getNationalities: any = GetNationalities;

  public setValue(subStateName: string, value: any, formName: string, borrower: string = PRINCIPAL) {
    const isPrincipal = borrower === PRINCIPAL;
    const civility = isPrincipal ? this.principalCivility : this.secondaryCivility;
    civility[formName] = value;
    const payload = {
      isPrincipal,
      subStateName,
      subStateValue: civility
    };
    this.setSubscriptionData(payload);
  }
}
</script>

<style lang="scss " scoped></style>
