<template>
  <app-subscription-step
    id="app-subscription-step"
    :title="$t('souscription.blocSituation.adresse.titre')"
    :nextLabel="$t('souscription.blocSituation.adresse.boutonSuivant')"
    :previousLabel="$t('souscription.blocSituation.adresse.boutonPrecedent')"
    :stepState="stepState"
  >
    <template v-slot:principal>
      <app-housing-form-content
        :setValue="setValue"
        :adresse="principalAdresse"
        :civility="principalCivility"
        :charges="principalCharges"
        :isPrincipal="true"
        :colors="colors"
        :getCities="getCities"
        :housingType="housingType"
        :childrenNbr="childrenNbr"
      >
      </app-housing-form-content>
    </template>
  </app-subscription-step>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import SubscriptionStep from '@/components/subscription/SubscriptionStep.vue';
import { Prop } from 'vue-property-decorator';
import { StepState } from '@/models/StepState';
import { Colors } from '@/models/Colors';
import { State, Action, Getter } from 'vuex-class';
import { SelectObject } from '@/models/selectObject.ts';
import { GetCities } from '@/services/AutocompleteAPI';
import HousingFormContent from '@/components/subscription/form-elements/HousingFormContent.vue';
import { PRINCIPAL } from '@/mixins/getBorrower';
import { SubscriptionPayload } from '@/models/subscription/SubscriptionPayload';

@Component({
  components: {
    'app-subscription-step': SubscriptionStep,
    'app-housing-form-content': HousingFormContent
  }
})
export default class HousingStep extends Vue {
  @Prop() public stepState!: StepState;
  @State((state) => state.apiConfig.colors) public colors!: Colors;
  @State((state) => state.subscription.principal.adresse) public principalAdresse: any;
  @State((state) => state.subscription.principal.charges) public principalCharges: any;
  @State((state) => state.subscription.principal.civility) public principalCivility: any;
  @Action('setSubscriptionData') public setSubscriptionData!: (payload: SubscriptionPayload) => void;
  @Getter('getHousingStateType') public housingType!: SelectObject[];
  @Getter('getFamilyStateChildren') public childrenNbr!: SelectObject[];

  public getCities: any = GetCities;

  public setValue(subStateName: string, value: any, formName: string, borrower: string = PRINCIPAL) {
    if (borrower === PRINCIPAL) {
      // @ts-ignore
      const formState = subStateName === 'adresse' ? this.principalAdresse : this.principalCharges;
      formState[formName] = value;
      const payload = {
        isPrincipal: true,
        subStateName,
        subStateValue: formState
      };
      this.setSubscriptionData(payload);
    }
  }
}
</script>
