<template>
  <div class="recap-simulation-table">
    <div class="recap-simulation-table__titre">
      {{
        $t('souscription.RecapPret.tableauPartenaires.titreTableau', {
          typeCredit:
            creditType === CreditTypeEnumForTemplate.REVOLVING
              ? $t('souscription.RecapPret.tableauPartenaires.titreCR')
              : $t('souscription.RecapPret.tableauPartenaires.titreVAC'),
          montant: $options.filters.stripZeros($options.filters.currency(proposal.amount), ',')
        })
      }}
    </div>

    <ul class="recap-simulation-table__details">
      <li>
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauPartenaires.montantEmprunte')
        }}</span>
        <span class="recap-simulation-table__details-value">{{ proposal.amount | currency }}</span>
      </li>
      <li>
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauPartenaires.dureeCredit')
        }}</span>
        <span class="recap-simulation-table__details-value">
          {{
            $t('souscription.RecapPret.tableauPartenaires.dureeCreditValeur', {
              nbMois: proposal.creditDurationWithoutInsurance
            })
          }}</span
        >
      </li>
      <li>
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauPartenaires.mensualites')
        }}</span>
        <span class="recap-simulation-table__details-value">
          {{
            $t('souscription.RecapPret.tableauPartenaires.mensualitesValeurs', {
              nbMensualite: proposal.nbMonthlyPaymentWithoutInsurance,
              mensualite: $options.filters.currency(proposal.monthlyAmountWithoutInsurance)
            })
          }}
        </span>
      </li>
      <li v-if="proposal.lastMonthlyAmountWithoutInsurance">
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauPartenaires.derniereMensualiteAjustee')
        }}</span>
        <span class="recap-simulation-table__details-value">{{
          proposal.lastMonthlyAmountWithoutInsurance | currency
        }}</span>
      </li>
      <li>
        <div class="recap-simulation-table__details-text__container">
          <span class="recap-simulation-table__details-title">{{
            $t('souscription.RecapPret.tableauPartenaires.montantTotalDu')
          }}</span>
          <span
            class="small"
            v-if="offerHasDelay"
            v-html="$t('souscription.RecapPret.tableauPartenaires.interetsReportInclus')"
          >
          </span>
        </div>
        <span class="recap-simulation-table__details-value">{{ proposal.totalAmountWithoutInsurance | currency }}</span>
      </li>
      <li v-if="creditType === CreditTypeEnumForTemplate.REVOLVING">
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauPartenaires.dateUtilisation')
        }}</span>
        <span class="recap-simulation-table__details-value">{{ proposal.utilizationDate }}</span>
      </li>
      <li v-if="proposal.dueDay">
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauPartenaires.jourEcheance')
        }}</span>
        <span class="recap-simulation-table__details-value">{{ proposal.dueDay }}</span>
      </li>
      <li>
        <span class="recap-simulation-table__details-title">{{
          proposal.fixedRate
            ? $t('souscription.RecapPret.tableauPartenaires.taegFixe')
            : $t('souscription.RecapPret.tableauPartenaires.taegRevisable')
        }}</span>
        <span class="recap-simulation-table__details-value">{{
          proposal.taeg | currency({ fractionCount: 3, symbol: '%' })
        }}</span>
      </li>
      <li>
        <span class="recap-simulation-table__details-title">{{
          proposal.fixedRate
            ? $t('souscription.RecapPret.tableauPartenaires.tauxDebiteurFixe')
            : $t('souscription.RecapPret.tableauPartenaires.tauxDebiteurRevisable')
        }}</span>
        <span class="recap-simulation-table__details-value">{{
          proposal.debitRate | currency({ fractionCount: 3, symbol: '%' })
        }}</span>
      </li>
      <li>
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauPartenaires.coutAssurance1erMois')
        }}</span>
        <span class="recap-simulation-table__details-value">{{ proposal.firstMonthlyInsuranceAmount | currency }}</span>
      </li>
      <li>
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauPartenaires.mensualitesAvecAssurance')
        }}</span>
        <span class="recap-simulation-table__details-value">
          {{
            $t('souscription.RecapPret.tableauPartenaires.mensualitesAvecAssuranceValeurs', {
              nbMensualite: proposal.nbMonthlyPaymentWithInsurance,
              mensualite: $options.filters.currency(proposal.monthlyAmountWithInsurance)
            })
          }}
        </span>
      </li>
      <li v-if="proposal.lastMonthlyAmountWithInsurance">
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauPartenaires.derniereMensualiteAvecAssurance')
        }}</span>
        <span class="recap-simulation-table__details-value">{{
          proposal.lastMonthlyAmountWithInsurance | currency
        }}</span>
      </li>
      <li>
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauPartenaires.dureeCreditAvecAssurance')
        }}</span>
        <span class="recap-simulation-table__details-value">
          {{
            $t('souscription.RecapPret.tableauPartenaires.dureeCreditAssuranceValeur', {
              nbMois: proposal.creditDurationWithInsurance
            })
          }}</span
        >
      </li>
      <li>
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauPartenaires.montantTotalDuAvecAssurance')
        }}</span>
        <span class="recap-simulation-table__details-value">{{ proposal.totalAmountWithInsurance | currency }}</span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { CreditTypeEnum } from '@/models/simulator/business/creditType';
import { BusinessRule } from '@/services/BusinessRule';

@Component
export default class PartnerRecapSimulationTable extends Vue {
  @Prop() private proposal!: SimulationFinancialProposal;
  @Prop() private creditType!: string;

  private CreditTypeEnumForTemplate = CreditTypeEnum;

  private get offerHasDelay() {
    return BusinessRule.showReportInformations(this.proposal);
  }
}
</script>

<style lang="scss" scoped>
// See if there is an interest to factor style with SofincoRecapSimulationTable.vue

.recap-simulation-table {
  &__titre {
    font-family: $font-bold;
    font-size: 16px;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-partner-1;
    position: relative;
    padding: 20px;
  }

  &__details {
    margin-bottom: 15px;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px;

      &:nth-child(2n) {
        background-color: $color-bg-container;
      }
    }

    &-text__container {
      display: flex;
      flex-direction: column;
      text-align: left;

      .small {
        font-size: 11px;
        line-height: 1;
        color: $color-form-text;
      }
    }

    &-title {
      font-family: $font-regular;
      font-size: 14px;
      color: $color-form-text;
      text-align: left;
      flex-shrink: 1;

      span {
        font-family: $font-regular;
        font-size: 12px;
        color: $color-label-card-img;
        display: block;
      }
    }

    &-value {
      font-family: $font-bold;
      font-size: 15px;
      color: $color-black;
      flex-shrink: 0;
      margin-left: 20px;
      max-width: 50%;
      text-align: right;

      @media screen and (max-width: $width_S) {
        font-size: 14px;
      }

      &.big {
        font-size: 15px;
      }
    }
  }
}
</style>
