<template>
  <div class="recap-simulation-table">
    <div class="recap-simulation-table__price">
      {{ proposal.label }}
      de
      {{ proposal.amount | currency({ fractionCount: 0 }) }}
    </div>
    <ul class="recap-simulation-table__details">
      <li>
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauSofinco.duree')
        }}</span>
        <span class="recap-simulation-table__details-price">{{
          $t('souscription.RecapPret.tableauSofinco.nbMois', { dueNumber: proposal.creditDurationWithoutInsurance })
        }}</span>
      </li>
      <li>
        <span v-if="!crbp" class="recap-simulation-table__details-title">
          {{
            $t('souscription.RecapPret.tableauSofinco.nbMensualite', {
              dueNumber: proposal.nbMonthlyPaymentWithoutInsurance
            })
          }}
          <span>{{ $t('souscription.RecapPret.tableauSofinco.horsAssurance') }}</span>
        </span>
        <span v-if="crbp" class="recap-simulation-table__details-title">
          {{
            $t('souscription.RecapPret.tableauSofinco.nbMensualiteAPartir', {
              dueNumber: proposal.nbMonthlyPaymentWithoutInsurance
            })
          }}
          <span>{{ $t('souscription.RecapPret.tableauSofinco.horsAssurance') }}</span>
        </span>

        <span class="recap-simulation-table__details-price big">
          {{ proposal.monthlyAmountWithoutInsurance | currency }}
        </span>
      </li>
      <li>
        <span class="recap-simulation-table__details-title">
          {{
            proposal.creditType === CreditTypeEnumTemplate.LOAN
              ? $t(
                  crbp
                    ? 'souscription.RecapPret.tableauSofinco.taegAPartir'
                    : 'souscription.RecapPret.tableauSofinco.taeg'
                )
              : ''
          }}
          {{
            proposal.creditType === CreditTypeEnumTemplate.REVOLVING && !proposal.fixedRate
              ? $t('souscription.RecapPret.tableauSofinco.taegRevisable')
              : proposal.creditType === CreditTypeEnumTemplate.REVOLVING
              ? $t('souscription.RecapPret.tableauSofinco.taeg')
              : ''
          }}
          <span>{{ $t('souscription.RecapPret.tableauSofinco.taegSigle') }}</span>
        </span>
        <span class="recap-simulation-table__details-price big">
          {{ proposal.taeg | currency({ fractionCount: 3, symbol: '%' }) }}
        </span>
      </li>
      <li>
        <span class="recap-simulation-table__details-title">
          {{
            proposal.creditType === CreditTypeEnumTemplate.LOAN
              ? $t(
                  crbp
                    ? 'souscription.RecapPret.tableauSofinco.montantDu'
                    : 'souscription.RecapPret.tableauSofinco.montantFixe'
                )
              : ''
          }}
          {{
            proposal.creditType === CreditTypeEnumTemplate.REVOLVING
              ? $t('souscription.RecapPret.tableauSofinco.montantFixe')
              : ''
          }}
          <template v-if="proposal.creditDurationWithoutInsurance > proposal.nbMonthlyPaymentWithoutInsurance">
            <br />{{ $t('souscription.RecapPret.tableauSofinco.includeReport') }}
          </template>

          <span>{{ $t('souscription.RecapPret.tableauSofinco.horsAssurance') }}</span>
        </span>
        <span class="recap-simulation-table__details-price big">
          {{ proposal.totalAmountWithoutInsurance | currency }}
        </span>
      </li>
      <li>
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauSofinco.fraisDossier')
        }}</span>
        <span class="recap-simulation-table__details-price">
          {{ proposal.contractFees | currency }}
        </span>
      </li>
      <li>
        <span class="recap-simulation-table__details-title">
          {{
            proposal.creditType === CreditTypeEnumTemplate.LOAN
              ? $t(
                  crbp
                    ? 'souscription.RecapPret.tableauSofinco.tauxDebiteurAPartir'
                    : 'souscription.RecapPret.tableauSofinco.tauxDebiteur'
                )
              : ''
          }}
          {{
            proposal.creditType === CreditTypeEnumTemplate.REVOLVING && !proposal.fixedRate
              ? $t('souscription.RecapPret.tableauSofinco.tauxDebiteurRevisable')
              : proposal.creditType === CreditTypeEnumTemplate.REVOLVING
              ? $t('souscription.RecapPret.tableauSofinco.tauxDebiteur')
              : ''
          }}
        </span>
        <span class="recap-simulation-table__details-price">
          {{ proposal.debitRate | currency({ fractionCount: 3, symbol: '%' }) }}
        </span>
      </li>
      <li v-if="insurance">
        <span class="recap-simulation-table__details-title">
          {{ $t('souscription.RecapPret.tableauSofinco.assuranceAPartir') }}
          <span>{{ $t('souscription.RecapPret.tableauSofinco.taeaSigle') }}</span>
        </span>
        <span class="recap-simulation-table__details-price">
          {{ minInsuranceProposal.taea | currency({ fractionCount: 3, symbol: '%' }) }}
        </span>
      </li>
      <li v-if="insurance">
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauSofinco.assuranceCoutMensuel')
        }}</span>
        <span class="recap-simulation-table__details-price">
          {{ minInsuranceProposal.monthlyInsuranceAmount | currency }}
        </span>
      </li>

      <li v-if="insurance">
        <span class="recap-simulation-table__details-title">{{
          $t('souscription.RecapPret.tableauSofinco.assuranceCoutTotal')
        }}</span>
        <span class="recap-simulation-table__details-price">
          {{ minInsuranceProposal.totalInsuranceAmount | currency }}
        </span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { CreditTypeEnum } from '@/models/simulator/business/creditType';

@Component
export default class SofincoRecapSimulationTable extends Vue {
  @Prop() private proposal!: SimulationFinancialProposal;
  @Prop() private minInsuranceProposal!: SimulationFinancialProposal;

  private CreditTypeEnumTemplate = CreditTypeEnum;

  private get crbp(): boolean {
    return !!this.proposal.maxProposal;
  }

  private get insurance() {
    if (this.minInsuranceProposal && this.minInsuranceProposal.insuranceRate) {
      return this.minInsuranceProposal.insuranceRate > 0;
    } else {
      return false;
    }
  }
}
</script>

<style lang="scss" scoped>
.recap-simulation-table {
  &__price {
    font-family: $font-bold;
    font-size: 16px;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-partner-1;
    position: relative;
    padding: 20px;
  }

  &__details {
    margin-bottom: 15px;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px;

      &:nth-child(2n) {
        background-color: $color-bg-container;
      }
    }

    &-title {
      font-family: $font-regular;
      font-size: 14px;
      color: $color-form-text;
      text-align: left;

      span {
        font-family: $font-regular;
        font-size: 12px;
        color: $color-label-card-img;
        display: block;
      }
    }

    &-price {
      font-family: $font-bold;
      font-size: 14px;
      color: $color-black;

      &.big {
        font-size: 15px;
      }
    }
  }
}
</style>
