<template>
  <div class="pedagogic-container">
    <div class="pedagogic-item" :style="itemWidth">
      <div class="pedagogic-item__img">
        <img :src="`${baseUrl}/${$t(img)}`" :alt="$t(alt)" />
      </div>
      <div>
        <div class="pedagogic-item__title">{{ $t(title) }}</div>
        <div class="pedagogic-item__text" v-if="$te(text)">{{ $t(text) }}</div>
      </div>
      <div v-if="tooltip && (tooltip.text || tooltip.link)" class="pedagogic-item__tooltip">
        <div v-if="$t(tooltip.text)" class="text" v-html="$t(tooltip.text)" />
        <div v-if="$t(tooltip.link)" class="link" @click="onLinkClick">{{ $t(tooltip.link) }}</div>
      </div>
    </div>
    <div v-if="tooltip && (tooltip.text || tooltip.link)" class="pedagogic-item-mobile__tooltip">
      <div v-if="$t(tooltip.text)" class="text" v-html="$t(tooltip.text)" />
      <div v-if="$t(tooltip.link)" class="link" @click="onLinkClick">{{ $t(tooltip.link) }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component';
import { Prop, Emit } from 'vue-property-decorator';
import Vue from 'vue';
import { defaultColors, Colors } from '@/models/Colors';
import { PedagogicItemTooltipModel } from '@/models/PedagogicItems';

@Component
export default class PedagogicItem extends Vue {
  @Prop() private img!: string;
  @Prop() private alt!: string;
  @Prop() private title!: string;
  @Prop() private text!: string;
  @Prop() private tooltip!: PedagogicItemTooltipModel;
  @Prop() private width!: string; // Mean to force width of items
  @Prop({ default: () => defaultColors }) private colors!: Colors;

  private get itemWidth() {
    return this.width ? `width: ${this.width};` : null;
  }

  @Emit('link-click')
  private onLinkClick() {}
}
</script>

<style lang="scss">
.pedagogic-container {
  width: 100%;

  @media screen and (min-width: $width_S) {
    width: auto;
  }

  .pedagogic-item-mobile__tooltip {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    margin-top: 5px;
    padding: 8px 8px 16px;
    color: $color-tooltip-text;
    background-color: $color-tooltip-bg;

    .link {
      margin-top: 10px;
      text-decoration: underline;
      cursor: pointer;
      font-size: 13px;
    }

    @media screen and (min-width: $width_S) {
      display: none;
    }
  }

  .pedagogic-item {
    display: flex;
    flex-direction: row;
    width: 100%;

    @media screen and (min-width: $width_S) {
      display: block;
      width: 260px;
      text-align: center;
    }

    &__img {
      width: 47px;
      height: 47px;
      min-width: 47px;
      margin-right: 22px;
      border-radius: 50%;
      background-color: $color-bg-container;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: $width_S) {
        margin: 0 auto 10px auto;
        width: 95px;
        height: 95px;
      }

      img {
        width: 27px;
        height: auto;

        @media screen and (min-width: $width_S) {
          width: 55px;
          height: auto;
          max-height: 44px;
        }
      }
    }

    &__title {
      font-size: 15px;
      line-height: 1.4;
      font-family: $font-bold;
      color: $color-text;

      @media screen and (min-width: $width_S) {
        min-height: 51px;
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 1.44;
      }
    }

    &__text {
      font-size: 14px;
      line-height: 1.43;
      font-family: $font-regular;
      color: $color-text;

      @media screen and (min-width: $width_S) {
        min-height: 40px;
        font-size: 16px;
        line-height: 1.25;
      }
    }

    &__tooltip {
      display: none;
      color: $color-tooltip-text;
      background-color: $color-tooltip-bg;

      @media screen and (min-width: $width_S) {
        display: block;
        text-align: center;
        margin-top: 20px;
        padding: 8px 8px 16px;
        width: 100%;

        .text {
          font-size: 16px;
          line-height: 1.43;
        }
        .link {
          font-size: 12px;
          line-height: 1.85;
          text-decoration: underline;
          margin-top: 10px;
          cursor: pointer;
        }
      }

      @media screen and (min-width: $width_M) {
        font-size: 17px;
        .link {
          font-size: 13px;
        }
      }
    }
  }
}
</style>
