<template>
  <div class="pedagogic">
    <div class="pedagogic__title">{{ $t('souscription.web2store.pedagogie.titre') }}</div>
    <div v-if="isMobile" class="pedagogic__items">
      <app-pedagogic-item
        :isMobile="isMobile"
        :img="items[0].img"
        :alt="items[0].alt"
        :title="items[0].title"
        :text="items[0].text"
      ></app-pedagogic-item>
      <div class="mobile-separator">
        <img src="@/assets/images/arrow-bottom-grey.svg" />
      </div>
      <app-pedagogic-item
        :isMobile="isMobile"
        :img="items[1].img"
        :alt="items[1].alt"
        :title="items[1].title"
        :text="items[1].text"
      ></app-pedagogic-item>
      <div class="mobile-separator">
        <img src="@/assets/images/arrow-bottom-grey.svg" />
      </div>
      <app-pedagogic-item
        :isMobile="isMobile"
        :img="items[2].img"
        :alt="items[2].alt"
        :title="items[2].title"
        :text="items[2].text"
      ></app-pedagogic-item>
      <div class="mobile-separator">
        <img src="@/assets/images/arrow-bottom-grey.svg" />
      </div>
      <app-pedagogic-item
        :isMobile="isMobile"
        :img="items[3].img"
        :alt="items[3].alt"
        :title="items[3].title"
        :text="items[3].text"
      ></app-pedagogic-item>
      <div class="mobile-separator">
        <img src="@/assets/images/arrow-bottom-grey.svg" />
      </div>
      <app-pedagogic-item
        :isMobile="isMobile"
        :img="items[4].img"
        :alt="items[4].alt"
        :title="items[4].title"
        :text="items[4].text"
      ></app-pedagogic-item>
      <div class="pedagogic__items__line__actions__preContractLink mobile" @click="openPreContractModal">
        {{ $t('souscription.web2store.pedagogie.lienPreContrat') }}
      </div>
    </div>

    <div v-else class="pedagogic__items">
      <!-- TODO: improve display so that it adjust automatically no matter the number of item in items -->
      <div class="pedagogic__items__line">
        <app-pedagogic-item
          :isMobile="isMobile"
          :img="items[0].img"
          :alt="items[0].alt"
          :title="items[0].title"
          :text="items[0].text"
        ></app-pedagogic-item>
        <div class="separator"></div>
        <app-pedagogic-item
          :isMobile="isMobile"
          :img="items[1].img"
          :alt="items[1].alt"
          :title="items[1].title"
          :text="items[1].text"
        ></app-pedagogic-item>
        <div class="separator"></div>
        <app-pedagogic-item
          :isMobile="isMobile"
          :img="items[2].img"
          :alt="items[2].alt"
          :title="items[2].title"
          :text="items[2].text"
        ></app-pedagogic-item>
      </div>

      <div class="pedagogic__items__line last">
        <app-pedagogic-item
          :isMobile="isMobile"
          :img="items[3].img"
          :alt="items[3].alt"
          :title="items[3].title"
          :text="items[3].text"
        ></app-pedagogic-item>
        <div class="separator"></div>
        <app-pedagogic-item
          :isMobile="isMobile"
          :img="items[4].img"
          :alt="items[4].alt"
          :title="items[4].title"
          :text="items[4].text"
        ></app-pedagogic-item>
        <div class="separator last"></div>
        <div class="pedagogic__items__line__actions">
          <app-button
            :isMobile="isMobile"
            :label="$t('souscription.web2store.cta')"
            :noChevron="true"
            :onClick="onCtaClick"
            :colors="colors"
          />
          <div class="pedagogic__items__line__actions__preContractLink" @click="openPreContractModal">
            {{ $t('souscription.web2store.pedagogie.lienPreContrat') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component';
import Vue from 'vue';
import { Prop, Emit } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import PedagogicItem from '@/components/pedagogic/PedagogicItem.vue';
import Button from '@/components/graphic/Button.vue';
import { PedagogicItemModel } from '@/models/PedagogicItems';

@Component({
  components: {
    'app-pedagogic-item': PedagogicItem,
    'app-button': Button
  }
})
export default class PedagogicPlv extends Vue {
  @Prop() private items!: PedagogicItemModel[];
  @Prop() private colors!: Colors;
  @Prop({ default: false }) private isMobile!: boolean;

  @Emit('cta-click')
  private onCtaClick() {}

  @Emit('open-preContract-modal')
  private openPreContractModal() {}
}
</script>

<style lang="scss">
.pedagogic {
  margin-bottom: 29px;

  &__title {
    font-family: $font-bold;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    color: $color-title;
    margin-bottom: 23px;

    @media screen and (min-width: $width_S) {
      margin-bottom: 60px;
      font-size: 24px;
    }
  }

  &__items {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1130px;
    margin: 0 auto;

    &__line {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

      &__actions {
        margin-top: 40px;

        .button {
          width: 100%;
        }

        &__preContractLink {
          font-family: $font-bold;
          font-size: 13px;
          line-height: 1.23;
          text-decoration: underline;
          color: $color-grey-dark;
          cursor: pointer;
          margin-top: 20px;
          text-align: center;

          @media screen and (min-width: $width_S) {
            margin-top: 12px;
          }
        }
      }

      &.last {
        margin-bottom: 40px;
      }
    }

    .separator {
      display: block;
      background-image: linear-gradient(to right, $color-grey-medium 45%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 8px 1px;
      background-repeat: repeat-x;
      height: 1px;
      width: 150px;
      margin-top: 47px;

      &.last {
        background: inherit;
      }
    }

    .mobile-separator {
      margin: 17px 0;
      display: flex;
      justify-content: center;
    }
  }
}

body .routerContainer {
  min-height: inherit;
}
</style>
