<template>
  <div class="stepsBloc">
    <div v-if="title" class="title2">{{ title }}</div>
    <div v-if="subTitle" class="title3">{{ subTitle }}</div>
    <div class="stepsContainer">
      <template v-for="(item, index) in items">
        <app-pedagogic-item
          :key="index"
          :img="item.img"
          :alt="item.alt"
          :title="item.title"
          :text="item.text"
          :tooltip="item.tooltip"
          :colors="colors"
          @link-click="openAttachmentModal"
        ></app-pedagogic-item>
        <div v-if="index !== items.length - 1" :key="`separator-${index}`" class="separator"></div>
      </template>
    </div>
    <app-attachment-pop-in
      :pjsNbr="pjsNbr"
      :pjsKey="pjsKey"
      :opened="openAttachment"
      :closeModal="closeAttachmentModal"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { State } from 'vuex-class';
import AttachmentPopIn from '@/views/popin/AttachmentPopIn.vue';
import PedagogicItem from '@/components/pedagogic/PedagogicItem.vue';
import { Colors } from '@/models/Colors';
import { Prop } from 'vue-property-decorator';
import { PedagogicItemModel } from '@/models/PedagogicItems';

@Component({
  components: {
    'app-pedagogic-item': PedagogicItem,
    'app-attachment-pop-in': AttachmentPopIn
  }
})
export default class PedagogicCrs extends Vue {
  @Prop() public title!: string;
  @Prop({ default: '#333333' }) public titleColor!: string;
  @Prop() public subTitle!: string;
  @Prop() public pjsNbr!: number;
  @Prop() public pjsKey!: string;
  @Prop() public items!: PedagogicItemModel[];

  @State((state) => state.apiConfig.colors) public colors!: Colors;
  public openAttachment = false;

  public openAttachmentModal() {
    this.openAttachment = true;
  }

  public closeAttachmentModal() {
    this.openAttachment = false;
  }
}
</script>
<style lang="scss" scoped>
.stepsBloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: $width_M) {
    overflow: hidden;
  }

  .title2 {
    font-size: 20px;
    font-family: $font-bold;
    line-height: 1.4;
    color: $color-title;
    text-align: center;
  }

  .title3 {
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.23;
    font-family: $font-medium;
    letter-spacing: 1px;
    color: $color-partner-1;
  }

  .stepsContainer {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: $width_S) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin-top: 50px;
    }

    /deep/ .stepContainer {
      + .stepContainer {
        margin-top: 30px;

        @media screen and (min-width: $width_S) {
          margin-top: 0;
        }
      }
    }

    .separator {
      height: 30px;

      @media screen and (min-width: $width_S) {
        display: block;
        background-image: linear-gradient(to right, black 45%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 8px 1px;
        background-repeat: repeat-x;
        min-width: 39px;
        height: 1px;
        margin-top: 47px;
      }

      @media screen and (min-width: $width_M) {
        min-width: 106px;
      }

      @media screen and (min-width: $width_L) {
        min-width: 142px;
      }
    }
  }
}
</style>
