<template>
  <div
    class="layoutTwoBlocContainer"
    :class="{ animation: animation, 'slide-left': slideLeft, 'slide-right': slideRight }"
  >
    <div class="block">
      <div ref="leftContainer">
        <slot name="leftContent"></slot>
      </div>
      <div class="buttons" :class="{ 'add-mr': shouldAddMR }">
        <slot name="buttons"></slot>
      </div>
    </div>
    <div class="block">
      <div ref="rightContainer">
        <slot name="rightContent"></slot>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component({})
export default class LayoutTwoBloc extends Vue {
  @Prop() public animation: boolean = false;
  @Prop() public slideLeft: boolean = false;
  @Prop() public slideRight: boolean = false;
  public shouldAddMR: boolean = false;

  public created() {
    window.addEventListener('resize', this.updateShouldAddMR, { capture: false });
  }

  public mounted() {
    this.updateShouldAddMR();
  }

  public beforeDestroy() {
    window.removeEventListener('resize', this.updateShouldAddMR);
  }

  private updateShouldAddMR() {
    const leftBlockHeight = (this.$refs.leftContainer as any).scrollHeight;
    const rightBlockHeight = (this.$refs.rightContainer as any).scrollHeight;
    this.shouldAddMR = leftBlockHeight <= rightBlockHeight;
  }
}
</script>

<style lang="scss" scoped>
.layoutTwoBlocContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: $form-max-width;
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: both;

  &.animation {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;

    &.slide-left {
      transform: translateX(-200%);
    }

    &.slide-right {
      transform: translateX(200%);
    }
  }

  @media screen and (min-width: $width_S) {
    flex-direction: column;
    width: grid(5);
    max-width: none;
    margin: 40px auto;
  }

  @media screen and (min-width: $width_M) {
    flex-direction: row;
    width: auto;
  }
  .block {
    &:nth-child(1) {
      width: 100%;
      @media screen and (min-width: $width_M) {
        width: calc(100vw / 3);
      }
    }
    &:nth-child(2) {
      width: 0;
      @media screen and (min-width: $width_S) {
        display: block;
        width: 100%;
      }
      @media screen and (min-width: $width_M) {
        padding-top: 30px;
        width: 25vw;
      }
    }

    .buttons {
      margin-top: 30px;
      display: none;

      &.add-mr {
        margin-right: 15px;
      }

      @media screen and (min-width: $width_M) {
        display: block;
      }

      .button {
        &--big {
          display: none;

          @media screen and (min-width: $width_XL) {
            display: flex;
          }
        }

        &--small {
          display: flex;

          @media screen and (min-width: $width_XL) {
            display: none;
          }
        }
      }

      @media screen and (min-width: $width_M) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }
}
</style>
