<template>
  <div id="app" ref="app">
    <app-header
      ref="header"
      v-if="showHeader"
      :showPedago="showPedago"
      :isMobileProp="isMobileState"
      :showMobileHelpButton="contactModuleUiState.showMobileHelpButton"
      @open-mobile-help-menu="openMobileHelpMenu"
    />
    <div class="routerContainer" :class="{ simulator: isSimulatorPage, withoutAnyHeader: withoutAnyHeader }">
      <router-view />
    </div>

    <input ref="cfuserPrefs2" type="hidden" id="cfuser_prefs2" name="cfuser_prefs2" />

    <!-- HELP BUTTON -->
    <div class="help-wrapper-desktop" v-if="showDesktopHelpButton">
      <app-help-button
        :class="{ 'help-button-summary': isSummaryPage }"
        :showIAdvize="showIAdvize"
        :showWannaSpeak="showWannaSpeak"
        :wannaSpeakId="wannaSpeakId"
        :highPosition="isSummaryPage"
      ></app-help-button>
    </div>

    <!-- MOBILE HELP MENU -->
    <app-mobile-help-menu
      v-show="contactModuleUiState.showMobileHelpMenu"
      :showMobileHelpCallButton="contactModuleUiState.showMobileCallHelpButton"
      :showWannaSpeak="showWannaSpeak"
      :wannaSpeakId="wannaSpeakId"
      :showIAdvize="showIAdvize"
      @close-mobile-help-menu="closeMobileHelpMenu"
    ></app-mobile-help-menu>
  </div>
</template>

<script lang="ts">
/**
 *
 * Copyright (c) 2020 - Credit Agricole Consumer Finance - All rights reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * This file can not be copied and/or distributed without the express permission of Credit Agricole Consumer Finance
 *
 */
import '@/styles/reset.scss';
import '@/styles/fonts.scss';
import '@/styles/animations.scss';
import '@/styles/base.scss';
import '@/styles/assets.scss';

import Vue from 'vue';
import { Component, Watch } from 'vue-property-decorator';
import Header from '@/components/Header.vue';
import { Action, Getter, State, Mutation } from 'vuex-class';
import { StepState } from '@/models/StepState';
import cssVars from 'css-vars-ponyfill';

import store from '@/store';
import * as Mutations from '@/store/Mutations';

import Config from '@/config/configSimulator';

import * as ColorThemeService from '@/services/simulator/colorThemeService';

import { hexToRgb } from '@/utils/hexToRgb';
import { MAX_HEIGHT_MOBILE, MAX_WIDTH_MOBILE } from '@/utils/constants';
import { exponentialBackoff } from '@/utils/exponentialBackoff';
import HelpButton from '@/components/helpButton/HelpButton.vue';
import MobileHelpMenu from '@/components/helpButton/MobileHelpMenu.vue';
import { BusinessRule } from '@/services/BusinessRule';
import { RoutePathId } from '@/models/RoutesPath';
import { ContactModuleGlobalUiActiveState, SimulatorState, SubscriptionData } from '@/store/types';
import { FolderResponse } from '@/models/subscription/FolderResponse';
import { getTagManagerInstance, TagManagerService } from '@/services/tagManagerFactory';
import { EFilterCriterionAttribute, FilterCriterion } from './models/simulator/tools/filterCriterion';
import { SimulationFinancialProposal } from '@/models/simulator/dto/simulationResults';
import { findPreSelectedOffer } from '@/services/simulator/offerPreSelection';

@Component({
  components: {
    'app-header': Header,
    'app-help-button': HelpButton,
    'app-mobile-help-menu': MobileHelpMenu
  }
})
export default class App extends Vue {
  @Action('setToken') public setToken!: (token: string) => void;
  @Getter public initialStep!: StepState;
  @Getter public screenOption: (key: string) => any;
  @Getter public hasOfferPreSelected!: boolean;
  @State((state) => state.client.isMobile) public isMobileState!: boolean;
  @State((state) => state.apiConfig.offerCode) public offerCode!: string;
  @State((state) => state.apiConfig.partnerCode) public partnerCode!: string;
  @State((state) => state.apiConfig.applicationId) public applicationId!: string;
  @State((state) => state.apiConfig.appConfiguration) public appConfiguration!: any | null;
  @State((state) => state.simulator) public simulator!: SimulatorState;
  @State((state) => state.uiActiveState.contactModule) public contactModuleUiState: ContactModuleGlobalUiActiveState;
  @State((state) => state.subscription.principal) public principal!: SubscriptionData;
  @State((state) => state.subscription.response) public response!: FolderResponse;

  // Refer to store's model for differences between these mutations
  @Mutation public updateShowMobileHelpButton!: (value: boolean) => void;
  @Mutation public updateShowMobileHelpMenu!: (value: boolean) => void;
  @Mutation public updateShowMobileHelpCallButton!: (value: boolean) => void;
  @Action public applyProposalFilter!: (value: FilterCriterion) => void;
  @Action public setSelectedProposal!: (value: SimulationFinancialProposal) => void;

  // Is true while component data are fetching
  public showPedago: boolean = false;
  public showHeader: boolean = true;

  // We do not need to set showDesktopHelpButton in store as it is only use in this component. On
  // the contrary, showMobileHelpButton is used in components/Header.vue and components/simulator/panels/Header.vue
  // TODO: make showMobileHelpButton and showMobileHelpMenu a component prop when headers are re-factorized
  private showDesktopHelpButton: boolean = false;

  private tagManagerService: TagManagerService;

  constructor() {
    super();
    this.tagManagerService = getTagManagerInstance();
  }

  public initializeSuggestedOffer() {
    if (this.hasOfferPreSelected) {
      this.applyProposalFilter({
        type: EFilterCriterionAttribute.TIMELINE,
        value: this.simulator.offerPreSelection.suggestedDueNumber
      });
      const preSelectedOffer = findPreSelectedOffer(
        this.simulator.proposals,
        this.simulator.offerPreSelection.suggestedDueNumber,
        this.simulator.offerPreSelection.suggestedScaleCode
      );
      if (preSelectedOffer) {
        this.setSelectedProposal(preSelectedOffer);
      }
    }
  }

  public initalizeHelpButtons() {
    if (BusinessRule.shouldDisplayContactModule(this.appConfiguration)) {
      if (this.$route.name !== RoutePathId.LEGAL_MENTION) {
        this.showDesktopHelpButton = true;
        this.updateShowMobileHelpButton(true);

        if (this.screenOption('show-contact-call-button')) {
          this.updateShowMobileHelpCallButton(true);
        }
      }
    }
  }

  public created() {
    this.initalizeHelpButtons();
    this.initColor();
    document.addEventListener('scroll', this.handleScroll, false);

    window.addEventListener('resize', this.handleResize, false);

    this.handleResize();

    // Call tagManger for first page (first page doesn't trigger '$route' watch method)
    this.tagManagerService.pageChange(this.$route, null);
    if (this.showIAdvize) {
      this.addIAdvizeParams();
    }
  }

  public mounted() {
    this.setExperianDataIfNeeded();
    this.updateShowHeader();
    this.updateShowPedago();
    this.initializeSuggestedOffer();
  }

  public beforeDestroy() {
    document.removeEventListener('scroll', this.handleScroll);
    window.removeEventListener('resize', this.handleResize);
  }

  public get showIAdvize() {
    return BusinessRule.shouldDisplayIAdvize(this.appConfiguration);
  }

  public get showWannaSpeak() {
    return BusinessRule.shouldDisplayWannaSpeak(this.appConfiguration);
  }

  public get wannaSpeakId() {
    return BusinessRule.getWannaSpeakId(this.appConfiguration);
  }

  public addIAdvizeParams() {
    window.getIAdvizeId = () => {
      return BusinessRule.getIAdvizeId(this.appConfiguration);
    };

    window.getMobilePhone = () => {
      return this.principal && this.principal.contact && this.principal.contact.mobilePhone
        ? this.principal.contact.mobilePhone
        : '';
    };

    window.getHomePhone = () => {
      return this.principal && this.principal.contact && this.principal.contact.homePhone
        ? this.principal.contact.homePhone
        : '';
    };

    window.getSimulationAmount = () => {
      return this.simulator && this.simulator.requiredAmount ? `${this.simulator.requiredAmount}` : '';
    };

    window.getCartAmount = () => {
      return this.response && this.response.proposal && this.response.proposal.amount
        ? Number(this.response.proposal.amount)
        : 0;
    };

    window.getSubscriptionId = () => {
      return this.response && this.response.contractId ? this.response.contractId : '';
    };

    window.getMMCookie = () => {
      return this.getCookie('__troRUID');
    };
  }

  public handleResize() {
    const deviceWidth = window.innerWidth;
    const deviceHeight = window.innerHeight;
    const isMobile = deviceWidth < MAX_WIDTH_MOBILE || deviceHeight < MAX_HEIGHT_MOBILE;
    store.commit(Mutations.UPDATE_IS_MOBILE, isMobile);
  }

  public openMobileHelpMenu() {
    this.updateShowMobileHelpMenu(true);
  }

  public closeMobileHelpMenu() {
    this.updateShowMobileHelpMenu(false);
  }

  @Watch('$route')
  public onRouteChange(to: any, from: any) {
    this.updateShowHeader();
    this.updateShowPedago();

    this.tagManagerService.pageChange(to, from);

    if (to && to.path.startsWith('/' + RoutePathId.SUBSCRIPTION + '/')) {
      this.tagManagerService.pageSubscriptionProcessChange(to);
    }
  }

  private getCookie(name) {
    /// Retrieve cookie function
    const match = document.cookie.match(new RegExp(name + '=([^;]+)'));
    if (match) {
      return match[1];
    }
    return;
  }

  private setExperianDataIfNeeded() {
    if (this.screenOption('enable-experian-FraudNet')) {
      this.setExperianData();
    }
  }

  private setExperianData() {
    if ((window as any).cfadx) {
      const res = (window as any).cfadx.cfinitiate(null);
      // Function cfinitiate (which set cfuserPrefs2.value) is asynchrone but provide
      // no callback nor Promise. Therefore, we test if value exist periodically through
      // exponentialBackoff function
      exponentialBackoff(
        () => (this.$refs.cfuserPrefs2 as any).value,
        100,
        50,
        () => {
          store.commit('setExperianData2', (this.$refs.cfuserPrefs2 as any).value);
        }
      );
    }
  }

  private updateShowPedago() {
    this.showPedago = this.$route.name === this.initialStep.pathId;
  }

  private get isSimulatorPage() {
    return this.$route.name === RoutePathId.SIMULATION;
  }

  private get isSummaryPage() {
    return this.$route.name === RoutePathId.SUMMARY;
  }

  /**
   * Different with from showHeader as it does not include simulator page, which should have space
   * for header even though app-header is not rendered (header is rendered through a different component).
   */
  private get withoutAnyHeader() {
    return this.$route.name === RoutePathId.ERROR_PAGE;
  }

  private updateShowHeader() {
    this.showHeader = this.$route.name !== RoutePathId.ERROR_PAGE && !this.isSimulatorPage;
  }

  private handleScroll() {
    if (this.isMobileState) {
      const scrollBottom = window.scrollY + window.outerHeight;
      const elementFixedBottom = document.querySelectorAll('.fixed-bottom');

      elementFixedBottom.forEach((element) => {
        if (scrollBottom >= (this.$refs.app as any).scrollHeight) {
          if (!element.classList.contains('is-bottom')) {
            element.classList.add('is-bottom');
          }
        } else {
          if (element.classList.contains('is-bottom')) {
            element.classList.remove('is-bottom');
          }
        }
      });
    }
  }

  private initColor() {
    const colorTheme = [];
    if (Config.style.colors.primary) {
      colorTheme.push({
        name: 'color-partner-1',
        value: Config.style.colors.primary
      });
    }
    if (Config.style.colors.secondary) {
      colorTheme.push({
        name: 'color-partner-2',
        value: Config.style.colors.secondary
      });
    }
    if (Config.style.colors.tertiary) {
      colorTheme.push({
        name: 'color-partner-3',
        value: Config.style.colors.tertiary
      });
    }
    if (Config.style.colors.quaternary) {
      colorTheme.push({
        name: 'color-partner-4',
        value: Config.style.colors.quaternary
      });
    }
    if (Config.style.colors.quintinary) {
      colorTheme.push({
        name: 'color-partner-5',
        value: Config.style.colors.quintinary
      });
    }

    if (Config.style.theme) {
      colorTheme.push(...ColorThemeService.loadTheme(Config.style.theme));
    }

    store.commit('saveColorTheme', colorTheme);

    if (colorTheme.length > 0) {
      let cssVarsStr = '';

      for (const color of colorTheme) {
        cssVarsStr += `--${color.name}:${color.value};`;

        if (color.name === 'color-partner-1') {
          const colorPartner1006 = hexToRgb(color.value, 0.06);
          const colorPartner1005 = hexToRgb(color.value, 0.05);
          const colorPartner1015 = hexToRgb(color.value, 0.15);
          const colorPartner105 = hexToRgb(color.value, 0.5);
          const colorPartner104 = hexToRgb(color.value, 0.4);
          const colorPartner101 = hexToRgb(color.value, 0.1);
          cssVarsStr += `--${color.name}-006:${colorPartner1006};`;
          cssVarsStr += `--${color.name}-005:${colorPartner1005};`;
          cssVarsStr += `--${color.name}-015:${colorPartner1015};`;
          cssVarsStr += `--${color.name}-05:${colorPartner105};`;
          cssVarsStr += `--${color.name}-04:${colorPartner104};`;
          cssVarsStr += `--${color.name}-01:${colorPartner101};`;
        }

        if (color.name === 'color-partner-2') {
          const colorPartner2004 = hexToRgb(color.value, 0.04);
          const colorPartner2008 = hexToRgb(color.value, 0.08);
          const colorPartner201 = hexToRgb(color.value, 0.1);
          const colorPartner202 = hexToRgb(color.value, 0.2);
          const colorPartner203 = hexToRgb(color.value, 0.3);
          const colorPartner205 = hexToRgb(color.value, 0.5);
          const colorPartner206 = hexToRgb(color.value, 0.6);
          const colorPartner208 = hexToRgb(color.value, 0.8);
          cssVarsStr += `--${color.name}-004:${colorPartner2004};`;
          cssVarsStr += `--${color.name}-008:${colorPartner2008};`;
          cssVarsStr += `--${color.name}-01:${colorPartner201};`;
          cssVarsStr += `--${color.name}-02:${colorPartner202};`;
          cssVarsStr += `--${color.name}-03:${colorPartner203};`;
          cssVarsStr += `--${color.name}-05:${colorPartner205};`;
          cssVarsStr += `--${color.name}-06:${colorPartner206};`;
          cssVarsStr += `--${color.name}-08:${colorPartner208};`;
        }

        if (color.name === 'color-partner-3') {
          const colorPartner3002 = hexToRgb(color.value, 0.02);
          const colorPartner3008 = hexToRgb(color.value, 0.08);
          const colorPartner307 = hexToRgb(color.value, 0.7);
          cssVarsStr += `--${color.name}-002:${colorPartner3002};`;
          cssVarsStr += `--${color.name}-008:${colorPartner3008};`;
          cssVarsStr += `--${color.name}-07:${colorPartner307};`;
        }

        if (color.name === 'color-partner-4') {
          const colorPartner403 = hexToRgb(color.value, 0.3);
          const colorPartner405 = hexToRgb(color.value, 0.5);
          const colorPartner407 = hexToRgb(color.value, 0.7);
          cssVarsStr += `--${color.name}-03:${colorPartner403};`;
          cssVarsStr += `--${color.name}-05:${colorPartner405};`;
          cssVarsStr += `--${color.name}-07:${colorPartner407};`;
        }

        if (color.name === 'color-partner-5') {
          const colorPartner5007 = hexToRgb(color.value, 0.07);
          const colorPartner5008 = hexToRgb(color.value, 0.08);
          const colorPartner5012 = hexToRgb(color.value, 0.12);
          const colorPartner504 = hexToRgb(color.value, 0.4);
          const colorPartner505 = hexToRgb(color.value, 0.5);
          cssVarsStr += `--${color.name}-007:${colorPartner5007};`;
          cssVarsStr += `--${color.name}-008:${colorPartner5008};`;
          cssVarsStr += `--${color.name}-012:${colorPartner5012};`;
          cssVarsStr += `--${color.name}-04:${colorPartner504};`;
          cssVarsStr += `--${color.name}-05:${colorPartner505};`;
        }
      }

      // Your CSS as text
      const styles = `
      :root {
        ${cssVarsStr}
      }`;
      const styleSheet = document.createElement('style');

      styleSheet.type = 'text/css';
      styleSheet.innerText = styles;
      document.head.appendChild(styleSheet);
      cssVars({});
    }
  }
}
declare global {
  interface Window {
    getIAdvizeId: () => string;
    getMobilePhone: () => string;
    getHomePhone: () => string;
    getSimulationAmount: () => string;
    getSubscriptionId: () => string;
    getCartAmount: () => number;
    getMMCookie: () => string;
    MSStream: any;
  }
}
</script>

<style lang="scss">
.routerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: $topbar-height;

  &.simulator {
    padding-top: $topbar-height-simulator;

    @media screen and (max-width: $width_M) {
      padding-top: 50px;
    }
  }

  &.withoutAnyHeader {
    padding-top: 0;
  }

  @media screen and (max-width: $width_M) {
    padding-top: 0;
    min-height: calc(100vh - 51px);
  }
}

.fixed-bottom.is-bottom {
  @media screen and (max-width: $width_S) {
    position: absolute !important;
  }
}

.cookies-banner {
  background-color: $color-bg-container;
  box-shadow: 0 -2px 10px -2px rgba(0, 0, 0, 0.07);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  padding: 15px 30px;

  &__text {
    font-family: $font-medium;
    font-size: 13px;
    line-height: normal;
    color: $color-grey-dark;
    padding-right: 25px;

    @media screen and (max-width: $width_S) {
      font-size: 12px;
    }

    /deep/ a {
      font-family: $font-medium;
      font-size: 13px;
      line-height: normal;
      color: $color-grey-dark;
      text-decoration: underline;
      cursor: pointer;

      @media screen and (max-width: $width_S) {
        font-size: 12px;
      }
    }
  }

  &__cross {
    @include cross(20px, $color-grey-medium);
    position: absolute;
    top: 15px;
    right: 30px;
  }
}
.help-wrapper-desktop {
  position: fixed;
  bottom: 0;
  right: 0;

  .help-button-summary {
    bottom: 200px;
  }

  @media screen and (max-width: $width_S) {
    display: none;
  }
}
</style>
