<template>
  <div class="popin" v-show="active">
    <div class="popin-overlay" @click="onClose"></div>
    <div class="popin-container">
      <div class="popin-header">
        <h2 class="popin-title">{{ title }}</h2>
        <div class="popin-close-button" @click="onClose"></div>
      </div>
      <div class="popin-content">
        <slot />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Action, State } from 'vuex-class';

@Component
export default class Popin extends Vue {
  @Prop({ default: false }) public active: boolean = false;
  @Prop() private title!: string;

  private onClose() {
    this.$emit('close');
  }
}
</script>

<style lang="scss" scoped>
.popin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100; // z-index > to mobile popup z-index
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $width_S) {
    align-items: flex-start;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &-container {
    display: block;
    position: relative;
    width: 50%;
    max-width: 800px;
    z-index: 1;
    background-color: $color-white;
    box-shadow: 0 0 32px 0 rgba($color-black, 0.08);

    @media screen and (max-width: $width_L) {
      width: 80%;
    }

    @media screen and (max-width: $width_S) {
      width: 100%;
      height: calc(100% - 70px);
      overflow: auto;
    }
  }

  &-header {
    background-color: $color-white;
    position: relative;
    padding: 40px 10px 10px;

    @media screen and (max-width: $width_S) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
  }

  &-title {
    font-family: $font-bold;
    font-size: 20px;
    text-align: center;
    color: $color-black;
  }

  &-content {
    @media screen and (max-width: $width_S) {
      position: relative;
      z-index: 0;
      margin-top: 70px;
    }
  }

  &-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      background-color: $color-grey-medium;
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
    }

    &::before {
      transform: translateY(-50%) rotate(-45deg);
    }

    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
  }
}
</style>
