<template>
  <div class="radio-button">
    <input :id="inputId" type="radio" :value="inputId" :checked="checked" @click="$emit('click', $event.target.id)" />
    <label :for="inputId">
      <span class="before" />
      <span>{{ label }}</span>
      <span class="after" />
    </label>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component({})
export default class RadioButton extends Vue {
  @Prop() public inputId!: string;
  @Prop() public label!: string;
  @Prop() public checked!: boolean;
}
</script>

<style lang="scss" scoped>
.radio-button {
  input[type='radio'] {
    border: 0 none;
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked {
      + label {
        .before {
          border-color: $color-partner-1;
        }

        .after {
          transform: scale(1);
        }
      }
    }
  }

  label {
    font-size: 16px;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
    display: inline-block;

    .before {
      background-color: transparent;
      border: 1px solid $color-grey-dark;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      width: 20px;
      height: 20px;
      transition: all 0.25s ease-in-out;
    }

    .after {
      border-radius: 50%;
      position: absolute;
      left: 5px;
      top: 5px;
      z-index: 1;
      display: block;
      width: 10px;
      height: 10px;
      transform: scale(0);
      transition: transform 0.25s ease-in-out;
      background-color: $color-partner-1;
    }

    @media screen and (min-width: $width_S) {
      &:hover {
        color: $color-grey-dark;

        .before {
          border-color: $color-partner-1;
        }
      }
    }
  }
}
</style>
