<template>
  <div class="simulator__parameters-range">
    <div class="range-select__input">
      <div class="range-select__input-base"></div>
      <div class="range-select__input-completed" :style="{ width: widthCompleted }"></div>
      <input
        type="range"
        min="0"
        step="1"
        v-model="inputValue"
        @change="updateInput"
        @input="updateInput"
        :max="maxValues"
      />
    </div>
    <div class="range-select__segment" :class="{ error }">
      <span>{{ graduations[0] }} {{ legend }}</span>
      <span>{{ graduations[graduations.length - 1] }} {{ legend }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Watch, Vue } from 'vue-property-decorator';
import { State } from 'vuex-class';
import store from '@/store';
import Config from '@/config/configSimulator';

/**
 * RangeSelect
 *
 * Range selection filled with an array of values. When the
 * value changes, the method onValueChange is called with
 * the new value.
 */
@Component({
  components: {}
})
export default class RangeSelect extends Vue {
  public inputValue: number = 0;

  private widthCompleted: string = '0%';

  @Prop({ required: true }) private graduations!: number[];
  @Prop({ required: true }) private onValueChange!: (value: number) => void;
  @Prop({ default: Config.currency }) private legend!: string;
  @Prop({ default: false }) private error!: boolean;

  // Initialize maxValues to 1 if no graduations is passed
  private maxValues: number = this.graduations && this.graduations.length ? this.graduations.length - 1 : 1;

  public findNearestGradIdx(value: number) {
    const solution = { index: -1, distance: -1 };

    this.graduations.forEach((element, index) => {
      let distance = null;
      distance = Math.abs(value - element);
      if (solution.index === -1 || solution.distance > distance) {
        solution.index = index;
        solution.distance = distance;
      }
    });

    return solution.index;
  }

  @Watch('inputValue')
  private onInputValue() {
    this.updateInput();
  }

  @Watch('graduations')
  private onGraduationsValue() {
    // Graduations can be null if simulation is on going when page is rendered
    // Therefore we need to update maxValues when simulations results are available
    this.maxValues = this.graduations && this.graduations.length ? this.graduations.length - 1 : 1;
  }

  private onChange() {
    if (this.inputValue >= 0 && this.inputValue <= this.maxValues) {
      this.onValueChange(this.graduations[this.inputValue]);
    }
  }

  private getWidthCompleted() {
    const percent = (this.inputValue * 100) / this.maxValues;
    const w = (percent / 100) * 25;

    this.widthCompleted = 'calc(' + percent + '% - ' + w + 'px)';
  }

  private updateInput() {
    this.getWidthCompleted();
    this.onChange();
  }
}
</script>

<style scoped lang="scss">
@supports (-moz-appearance: none) {
  .range-select__input {
    input[type='range'] {
      padding-top: 5px !important;
    }
  }
}

/* Internet Explorer 11 only */
@media all and (-ms-high-contrast: none) {
  .range-select__input {
    &-base {
      margin-top: 14px !important;
    }

    &-completed {
      margin-top: 14px !important;
    }
  }
}

/* Microsoft Edge only */
@supports (-ms-ime-align: auto) {
  .range-select__input {
    &-base {
      margin-top: 15px !important;
    }

    &-completed {
      margin-top: 15px !important;
    }
  }
}

.range-select {
  text-align: center;
  background-color: $color-white;
  border: 1px solid $color-grey-light;
  display: block;
  width: 100%;
  transition: background-color 0.3s ease-in-out;

  &__input {
    position: relative;
    width: 100%;
    margin: 0 auto;

    input[type='range'] {
      appearance: none;
      background: transparent;
      border: 0 none;
      position: relative;
      z-index: 3;
      width: 100%;
      margin: 0 auto;
      padding: 10px 0;
      cursor: pointer;
      outline: none;

      &::-webkit-slider-runnable-track {
        background: transparent;
        border-radius: 2px;
        width: 100%;
        height: 5px;
        cursor: pointer;
      }

      &::-moz-range-track {
        background: transparent;
        border-radius: 2px;
        width: 100%;
        height: 5px;
        cursor: pointer;
      }

      &:focus::-webkit-slider-runnable-track {
        background: transparent;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: $color-partner-3;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin-top: -8px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }

      &::-moz-range-thumb {
        background: $color-partner-3;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }

      &::-ms-thumb {
        background: $color-partner-3;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }

      &::-ms-track {
        color: transparent;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        width: 100%;
        height: 5px;
        cursor: pointer;
      }

      &::-ms-fill-lower,
      &::-ms-fill-upper {
        background: transparent;
        border-radius: 2px;
      }

      &:focus::-ms-fill-lower,
      &:focus::-ms-fill-upper {
        background: transparent;
      }
    }

    &-base,
    &-completed {
      background-color: var(--color-partner-3-07);
      position: absolute;
      top: 12px;
      left: 0;
      z-index: 2;
      height: 5px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }

    &-base {
      background-color: $color-grey-light;
      width: 100%;
      z-index: 1;
    }
  }

  &__segment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.error span {
      color: $color-tooltip-text-error;
    }

    span {
      font-family: $font-medium;
      font-size: 14px;
      color: $color-grey-dark;
      display: block;
      transition: color 0.3s ease-in-out;
    }
  }
}
</style>
