<template>
  <div class="returnPartnerBtn" v-if="homeReturnUrl">
    <div style="cursor: pointer; display: flex; justify-content: center; align-items: center">
      <img :src="imgPath" alt="chevron" />
      <div :class="white ? 'whiteBn' : ''" @click="handleClick">
        {{
          !isSmallText ? $t('simulation.App.messageRetourPartner') : $t('simulation.App.messageRetourPartnerSmallText')
        }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Action, State } from 'vuex-class';

@Component
export default class ReturnPartnerBtn extends Vue {
  @Prop()
  private white!: boolean;

  @Prop()
  private isSmallText!: boolean;

  @State((state) => state.simulator.homeReturnUrl) private homeReturnUrl!: string;

  public handleClick() {
    window.location.href = this.homeReturnUrl;
  }

  private get imgPath() {
    return this.white
      ? require('@/assets/images/chevron-gauche-white.svg')
      : require('@/assets/images/chevron-gauche.svg');
  }
}
</script>

<style lang="scss" scoped>
.returnPartnerBtn {
  left: 45px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  img {
    width: 13px;
    margin-right: 10px;
  }
  .whiteBn {
    color: white;
  }
  @media screen and (max-width: $width_S) {
    .whiteBn {
      font-size: 13px;
    }
  }
}
</style>
