<template>
  <button
    class="button"
    :class="{
      inverted: isBackButton,
      large,
      fullSizeMobile,
      black,
      grey,
      disabled,
      forceMobileDisplay,
      flat,
      loading,
      noBackground,
      small,
      noUpperCase,
      floatOnMobile,
      iconSmall,
      ellipsis,
      'icon-large': iconLarge,
      'partner-background': partnerBackgroundColor
    }"
    @mouseenter="hover = true"
    @mouseleave="hover = false"
    @click.prevent="handleClick"
    ref="customButton"
  >
    <slot></slot>
    <span class="label">{{ label }}</span>
    <i v-if="icon" class="icon icon-optionnal" :class="icon"></i>
    <i v-if="!noChevron" class="icon icon-Icon_ArrowButton" :class="{ 'icon-left': isBackButton }" />
    <div v-if="loading" class="loaderContainer">
      <app-loader :color="colorLoader" />
    </div>
  </button>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { Colors, defaultColors } from '@/models/Colors';
import Loader from '@/components/graphic/Loader.vue';
import { State } from 'vuex-class';

@Component({
  components: {
    'app-loader': Loader
  }
})
export default class Button extends Vue {
  @Prop() public label!: string;
  @Prop() public onClick!: () => void;
  @Prop({ default: false }) public isBackButton!: boolean;
  @Prop({ default: false }) public fullSizeMobile!: boolean;
  @Prop({ default: false }) public black!: boolean;
  @Prop({ default: false }) public grey!: boolean;
  @Prop({ default: false }) public disabled!: boolean;
  @Prop({ default: false }) public noChevron!: boolean;
  @Prop({ default: false }) public forceMobileDisplay!: boolean;
  @Prop({ default: false }) public flat!: boolean;
  @Prop({ default: false }) public large!: boolean;
  @Prop({ default: false }) public partnerBackgroundColor!: boolean;
  @Prop({ default: false }) public small!: boolean;
  @Prop({ default: false }) public iconSmall!: boolean;
  @Prop({ default: false }) public iconLarge!: boolean;
  @Prop({ default: false }) public noUpperCase!: boolean;
  @Prop({ default: false }) public noBackground!: boolean;
  @Prop({ default: false }) public floatOnMobile!: boolean;
  @Prop({ default: false }) public ellipsis!: boolean;
  @Prop({ default: () => defaultColors }) public colors!: Colors;
  @Prop({ default: false }) public loading!: boolean;
  @Prop({ default: '' }) public icon!: string;

  @State((state) => state.apiConfig.colorTheme) public colorTheme!: any[];

  public get ctaBackgroundColor() {
    const color = this.colorTheme.find((item) => item.name === 'color-button-text');
    return color.value;
  }

  public hover: boolean = false;

  public get colorLoader() {
    if (this.grey) {
      return '#797979';
    } else if (this.noBackground || this.black) {
      return '#000000';
    } else {
      return '#ffffff';
    }
  }
  public handleClick() {
    if (!this.loading) {
      this.onClick();
    }
  }

  @Watch('hover')
  public onMouseHover() {
    this.$emit('onMouseHover', this.hover);
  }
}
</script>

<style lang="scss" scoped>
.button {
  width: 100%;
  @include center-bloc;
  border-radius: 25px;
  flex-direction: row;
  padding: 15px 20px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 6px 10px -5px transparent;
  position: relative;
  color: $color-cta-text;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  @media screen and (min-width: $width_S) {
    &:not(.loading):hover {
      box-shadow: 0 6px 10px -5px var(--color-partner-4-05);
      background-color: var(--color-partner-4-07);
    }
  }
  background-color: $color-partner-4;

  &.loading {
    cursor: wait;
    .label {
      visibility: hidden;
    }

    .icon {
      visibility: hidden;
    }
  }

  .icon {
    font-size: 12px;
    margin-top: 1px;
    margin-left: 5px;
    color: $color-cta-text;
    &.icon-optionnal {
      display: none;

      @media screen and (min-width: $width_M) {
        display: block;
      }
    }

    @media screen and (min-width: $width_S) {
      margin-left: 10px;
    }

    &.icon-left {
      margin-left: 0;
      margin-right: 10px;
      transform: rotateY(180deg) translateY(2px);
      color: $color-grey-dark;
    }
  }

  .loaderContainer {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.large {
    @media screen and (min-width: $width_M) {
      padding: 15px 30px;
    }
  }
  &.small {
    padding: 5px 10px;
    span {
      font-size: 12px;
    }
    @media screen and (min-width: $width_M) {
      font-size: 15px;
      padding: 10px 15px;
      .icon {
        font-size: 17px;
      }
      span {
        font-size: 15px;
        line-height: 16px;
      }
    }
  }
  &.fullSizeMobile {
    font-size: 14px;
    .icon {
      &.icon-optionnal {
        display: block;
        font-size: 17px;
      }
    }
  }
  &.iconSmall {
    i {
      line-height: 12px;
    }
    span {
      padding: 2px 0;
    }
  }

  &.icon-large {
    .icon {
      @media screen and (min-width: $width_M) {
        font-size: 22px;
      }
    }
  }

  &.floatOnMobile {
    @media screen and (max-width: $width_S) {
      white-space: nowrap;
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
      padding: 15px 30px;
      width: 90%;
    }
  }

  &.flat {
    padding: 15px 50px;

    @media screen and (min-width: $width_XXS) {
      padding: 15px;
    }

    @media screen and (min-width: $width_S) {
      padding: 15px 20px;
    }
  }
  &.noUpperCase {
    text-transform: none;
  }
  &.noBackground {
    background-color: $color-white;
    color: $color-partner-3;
    border: 1px solid;
    .icon {
      color: $color-partner-3;
    }
    @media screen and (min-width: $width_M) {
      border: 2px solid;
    }
    @media screen and (min-width: $width_M) {
      &:not(.loading):hover {
        background-color: transparent;
        box-shadow: 0 6px 10px -5px rgba(235, 55, 97, 0.5);
      }
    }
    @media screen and (min-width: $width_S) {
      &:not(.loading):hover {
        background-color: transparent;
        box-shadow: 0 6px 10px -5px rgba(235, 55, 97, 0.5);
      }
    }
  }

  @media screen and (min-width: $width_S) {
    width: auto;
    min-width: 140px;
    padding: 15px 20px;
    height: 50px;
    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  }

  &.inverted.forceMobileDisplay {
    @media screen and (min-width: $width_S) {
      border: none;
      text-transform: none;
    }

    .icon {
      display: none;
    }
  }
  &.black {
    border: 1px solid $color-grey-dark;
    color: $color-grey-dark;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    .icon {
      color: $color-text;
    }
  }

  &.grey {
    border: 2px solid $color-grey-button;
    color: $color-grey-button;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    .icon {
      color: $color-text;
    }
    @media screen and (min-width: $width_M) {
      &:not(.loading):hover {
        background-color: $color-grey-light;
        box-shadow: 0 0 0 0;
      }
    }
  }

  &.partner-background {
    background-color: $color-partner-1;
    border-color: $color-partner-1;
    color: $color-white;

    @media screen and (min-width: $width_S) {
      &:not(.loading):hover {
        box-shadow: none;
        background-color: $color-main-light;
      }
    }
  }

  &.inverted {
    background-color: transparent;
    flex-direction: row-reverse;
    text-transform: none;
    color: $color-grey-medium;
    margin-top: 10px;

    @media screen and (min-width: $width_S) {
      border: 1px solid $color-grey-dark;
      color: $color-grey-dark;
      text-transform: uppercase;
      text-decoration: none;
      margin-top: 0;
      @media screen and (min-width: $width_S) {
        &:not(.loading):hover {
          box-shadow: 0 6px 10px -5px;
          background-color: transparent;
        }
      }
    }

    span {
      font-size: 14px;
    }

    .icon {
      display: block;
      color: $color-grey-medium;

      @media screen and (min-width: $width_S) {
        color: $color-grey-dark;
      }
    }
  }

  span {
    font-family: $font-bold;
    font-size: 14px;
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
  }

  &[disabled] {
    cursor: auto;
    background-color: $color-grey-medium;

    &.inverted {
      border: 1px solid $color-grey-medium;

      span,
      .icon {
        color: $color-grey-medium;
      }
    }
  }

  &.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;

    &.loading {
      overflow: visible;
    }
  }
}
</style>
