<template>
  <div class="loading">
    <div class="loader-content">
      <span>
        <div class="spanBefore" :style="{ 'background-color': color }" />
        <div class="spanAfter" :style="{ 'background-color': color }" />
      </span>
      <div class="after" :style="{ 'background-color': color }" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { Colors, defaultColors } from '@/models/Colors';

@Component({})
export default class Loader extends Vue {
  @Prop({ default: defaultColors.primary }) public color!: string;
}
</script>

<style lang="scss">
.loading {
  .loader-content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    height: 32px;
    width: 32px;

    .after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 12px;
      height: 12px;
      // background-color: $color-partner-1;
      border-radius: 50%;
      animation: loader-button-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }

    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 32px;
      width: 32px;
      animation: loader-button-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;

      .spanBefore,
      .spanAfter {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 12px;
        width: 12px;
        // background-color: $color-partner-1;
        border-radius: 50%;
        animation: loader-button-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      }

      .spanAfter {
        animation: loader-button-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      }
    }
  }
}
</style>
