<template>
  <app-popin
    ref="appPopinCarousel"
    :title="$t(carouselPopinContent.title)"
    :headerBackgroundColor="colors.primary"
    :closeCrossColor="'#FFF'"
    :hideHeaderBoxShadow="true"
    :hideTitleOnDesktop="true"
    :noPaddingTop="true"
    :closeAction="closePopin"
    :active="opened"
    :colors="colors"
    :large="large"
  >
    <div class="innerContent">
      <vue-carousel
        v-if="opened"
        :loop="true"
        :autoplay="false"
        :perPage="1"
        :navigateTo="goToPage"
        :navigationEnabled="true"
        :navigationClickTargetSize="0"
        :navigationNextLabel="''"
        :navigationPrevLabel="''"
        :paginationEnabled="carouselSlides && carouselSlides.length <= 3"
        :paginationColor="'#cccccc'"
        :paginationActiveColor="colors.primary"
        :minSwipeDistance="150"
        @page-change="handlePageChange"
      >
        <app-slide v-for="(slide, idx) in carouselSlides" :key="idx">
          <div class="slide-image__wrapper">
            <img class="slide-image" :src="slide.imageUrl" :alt="`Slide-${idx}`" />
          </div>
          <div class="slide-title">{{ $t(slide.title) }}</div>
          <div class="slide-details" v-html="$t(slide.content)"></div>
        </app-slide>
      </vue-carousel>
      <app-button
        class="button-get-it"
        :noChevron="true"
        :colors="colors"
        :label="closePopinButtonText"
        :onClick="onCloseCtaClick"
        :flat="true"
      />
    </div>
  </app-popin>
</template>

<script lang="ts">
import { Vue, Prop } from 'vue-property-decorator';
import { State } from 'vuex-class';
import { Carousel, Slide } from 'vue-carousel';
import Component from 'vue-class-component';
import { CarouselPopinContent, CarouselSlide } from '@/models/components/Carousel';
import { Colors } from '@/models/Colors';
import Popin from '@/components/graphic/Popin.vue';
import Button from '@/components/graphic/Button.vue';

@Component({
  components: {
    'vue-carousel': Carousel,
    'app-button': Button,
    'app-slide': Slide,
    'app-popin': Popin
  }
})
export default class CarouselPopin extends Vue {
  @Prop({ default: () => ({}) }) public colors!: Colors;
  @Prop({ default: true }) public large: boolean;
  @Prop({ required: true }) public carouselPopinContent: CarouselPopinContent;
  @Prop({ required: true }) public slideButtonText: string;
  @Prop({ required: true }) public closePopinButtonText: string;
  @Prop({ required: true }) public opened: boolean;
  @Prop({ required: true }) public closePopin: () => void;

  @State((state) => state.client.isMobile) public isMobile!: boolean;

  private goToPage: number = 0;
  private paginationElementActiveIdx: number = 0;

  public handlePageChange(index: number): void {
    this.paginationElementActiveIdx = index;
  }

  public onCloseCtaClick(): void {
    // @ts-ignore
    this.$refs.appPopinCarousel.close();
  }

  public get carouselSlides(): CarouselSlide[] {
    const slidesObject = this.$t(this.carouselPopinContent.slides);
    return [...Object.keys(slidesObject)].map((e) => ({
      title: slidesObject[e].title,
      content: slidesObject[e].content,
      // @ts-ignore
      imageUrl: `${this.baseUrl}/${slidesObject[e].image}`
    }));
  }
}
</script>

<style lang="scss" scoped>
.innerContent {
  color: $color-grey-black;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $width_S) and (orientation: portrait),
    (min-height: 600px) and (orientation: landscape) {
    padding-bottom: 35px;
  }

  .button {
    margin: 20px 10px;

    @media screen and (min-width: $width_S) {
      width: 20%;
      left: 50%;
      transform: translateX(-50%);
      margin: 20px 0;
    }

    @media screen and (max-device-width: $width_S) {
      position: fixed;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: calc(100% - #{$form-padding-left-mobile} * 2);
      margin: 0;
      text-align: center;
    }
  }

  .slide {
    &-image {
      display: block;
      width: auto;
      height: 100%;
      margin: 0 auto;

      &__wrapper {
        background-color: $color-partner-1;
        height: 200px;

        @media screen and (min-width: $width_S) {
          height: 255px;
        }
      }
    }

    &-title {
      font-family: $font-bold;
      font-size: 18px;
      color: $color-main-dark;
      height: 55px;
      margin-top: 15px;
      padding: 0 40px;
      text-align: center;

      @media screen and (min-width: $width_S) {
        margin-top: 30px;
      }
    }

    &-details {
      padding: 0 calc(#{$form-padding-left-mobile} * 2);
      font-family: $font-regular;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      text-align: center;

      @media screen and (min-width: $width_S) {
        padding: 0 calc(#{$form-padding-horizontal} * 4);
      }
    }

    &-pagination {
      &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 35px;
        margin-bottom: 25px;

        @media screen and (min-width: $width_S) {
          margin-bottom: 0px;
        }
      }

      &__item {
        font-size: 14px;
        line-height: 25px;
        text-transform: none;
        color: $color-partner-1;
        background-color: #ffffff;
        border: 1px solid $color-partner-1;
        margin: 0 8px 15px;
        padding: 0 12px;

        &.active {
          color: #ffffff;
          background-color: $color-partner-1;
        }
      }
    }
  }

  ::v-deep .VueCarousel {
    &-navigation {
      position: absolute;
      top: 207px;
      left: 5px;
      width: calc(100% - 10px);

      @media screen and (min-width: $width_S) {
        top: 280px;
        left: calc(#{$form-padding-horizontal} * 2);
        width: calc(100% - #{$form-padding-horizontal} * 4);
      }

      &-button {
        background-color: transparent;
        border-radius: 50%;
        transform: none;
        top: 0;
        width: 40px;
        height: 40px;

        @media screen and (min-width: $width_S) {
          background-color: $color-partner-1;
          width: 30px;
          height: 30px;
        }

        &:focus {
          outline: 0 none;
        }

        &::before,
        &::after {
          content: '';
          background-color: $color-partner-1;
          border-radius: 2px;
          position: absolute;
          left: 50%;
          display: block;
          width: 12px;
          height: 2px;

          @media screen and (min-width: $width_S) {
            background-color: #ffffff;
            width: 8px;
          }
        }

        &::before {
          top: calc(50% - 4px);

          @media screen and (min-width: $width_S) {
            top: calc(50% - 2px);
          }
        }

        &::after {
          top: calc(50% + 4px);

          @media screen and (min-width: $width_S) {
            top: calc(50% + 2px);
          }
        }
      }

      &-prev {
        left: 0;

        &::before {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &::after {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }

      &-next {
        right: 0;

        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }

      &--disabled {
        opacity: 1;

        &.VueCarousel-navigation-button {
          &::before,
          &::after {
            opacity: 0.5;
          }
        }
      }
    }

    &-dot {
      margin-top: 0 !important;
      margin-bottom: 30px;

      &-container {
        margin-top: 10px;
      }
    }

    &-dot:focus {
      outline: 0 none;
    }
  }
}

.button-get-it {
  @media screen and (min-width: $width_S) {
    &:hover {
      box-shadow: 0 6px 10px -5px var(--color-partner-4-05);
      background-color: var(--color-partner-4-07);
    }
  }
}
</style>
