<template>
  <div class="popin" :class="{ active: activeWithDelay, rightSideBar }" @close-popin="close">
    <div class="overlay" :class="{ show: showOverlay }" @click="close"></div>
    <div class="popin-container" :class="{ small, large, high, show: showContent, rightSideBar }">
      <div
        v-if="title"
        ref="topBarPopin"
        class="topBar"
        :class="{ big: bigHeader, 'hide-title-on-desktop': hideTitleOnDesktop, 'shadow-none': hideHeaderBoxShadow }"
        :style="{ backgroundColor: this.headerBackgroundColor ? '#4b4fb3' : '#fff' }"
      >
        <button @click="close" class="arrow">
          <i
            class="icon icon-Icon_ArrowButton"
            :style="{ color: this.headerColor ? this.headerColor : this.headerBackgroundColor ? '#fff' : '#333' }"
          />
        </button>
        <button @click="close" class="cross">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <g
              :fill="closeCrossColor"
              fill-rule="evenodd"
              :stroke="closeCrossColor"
              stroke-linecap="square"
              stroke-width="2"
            >
              <path d="M2 2l12 12M14 2L2 14" />
            </g>
          </svg>
        </button>
        <div
          class="title"
          :style="{ color: this.headerColor ? this.headerColor : this.headerBackgroundColor ? '#fff' : '#333' }"
        >
          {{ title }}
        </div>
      </div>
      <div
        ref="popinContent"
        class="popin-content"
        :class="{ noButton: noButton, 'pt-0': noPaddingTop || noTitle, rightSideBar }"
      >
        <slot />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { removeScroll, restoreScroll } from '@/utils/scroll';
import Button from '@/components/graphic/Button.vue';
import { Colors, defaultColors } from '@/models/Colors';
import { State } from 'vuex-class';

@Component({
  components: {
    'app-button': Button
  }
})
export default class Popin extends Vue {
  @Prop() public title!: string | null;
  @Prop({ default: false }) public popinHeader!: boolean;
  @Prop() public active!: boolean | null;
  @Prop() public closeAction!: () => void;
  @Prop({ default: false }) public rightSideBar!: boolean;
  @Prop({ default: false }) public small!: boolean;
  @Prop({ default: false }) public large!: boolean;
  @Prop({ default: false }) public high!: boolean;
  @Prop({ default: false }) public noButton!: boolean;
  @Prop({ default: false }) public noPaddingTop!: boolean;
  @Prop() public headerBackgroundColor!: string;
  @Prop() public headerColor!: string;
  @Prop({ default: false }) public bigHeader!: boolean;
  @Prop({ default: false }) public hideHeaderBoxShadow!: boolean;
  @Prop({ default: false }) public hideTitleOnDesktop!: boolean;
  @Prop({ default: () => defaultColors }) public colors!: Colors;
  @Prop({ default: '#333' }) public closeCrossColor: string;
  @Prop({ default: true }) public hasDisableBodyScroll: boolean;
  @State((state) => state.client.isMobile) public isMobile!: boolean;

  public showOverlay: boolean = false;
  public showContent: boolean = false;
  public activeWithDelay = false;

  public get noTitle() {
    return !this.title;
  }

  @Watch('active')
  public onActivated() {
    if (this.active) {
      this.open();
      this.hideHeader();
      this.activeWithDelay = true;
    } else {
      this.close();
      this.restoreScroll();
      this.showHeader();
      setTimeout(() => {
        this.activeWithDelay = false;
      }, 300);
    }
  }

  public created() {
    if (this.active) {
      // or width animation
      this.open();
      this.hideHeader();
      this.activeWithDelay = true;
    }
  }

  public beforeDestroy() {
    this.restoreScroll();
    this.showHeader();
  }

  public open() {
    const popInContentResults = this.$refs.popinContent as HTMLDivElement;
    if (popInContentResults && this.hasDisableBodyScroll) {
      removeScroll(popInContentResults);
    }

    setTimeout(() => {
      this.showOverlay = true;
    }, 100);

    setTimeout(() => {
      this.showContent = true;
    }, 300);
  }

  public close() {
    this.showContent = false;

    setTimeout(() => {
      this.showOverlay = false;
    }, 100);

    setTimeout(() => {
      this.closeAction();
    }, 300);
  }

  public getScrollingArea() {
    return this.$refs.popinContent;
  }

  private hideHeader() {
    // Need to lower header z-index as it would otherwise be shown on top of popin
    const time = this.isMobile ? 400 : 0;
    const header: HTMLElement = document.getElementById('header');
    if (header) {
      setTimeout(() => (header.style.paddingTop = this.isMobile ? '0px' : undefined), time);
      if (!this.popinHeader) {
        setTimeout(() => (header.style['z-index'] = '0'), time);
      }
    }
    const wrapper: HTMLElement = document.querySelector('.subscriptionPageContainer > .wrapper');
    if (wrapper) {
      setTimeout(() => (wrapper.style.paddingTop = this.isMobile ? '0px' : undefined), time);
    }
    const logos: HTMLElement = document.querySelector('.header > .logos');
    if (logos) {
      setTimeout(() => (logos.style['z-index'] = '0'), time);
    }
    const topbarContent: HTMLElement = document.querySelector('#topbar-content');
    if (topbarContent) {
      setTimeout(() => (topbarContent.style['z-index'] = '0'), time);
    }

    const progressBar: HTMLElement = document.querySelector('#progress-bar');
    if (progressBar) {
      setTimeout(() => progressBar.style.setProperty('z-index', '0', 'important'), time);
    }
  }

  private restoreScroll() {
    const hasOtherPopIn: boolean = document.querySelectorAll('.popin.active').length >= 2;
    if (!hasOtherPopIn) {
      restoreScroll();
    }
  }

  private showHeader() {
    const hasOtherPopIn: boolean = document.querySelectorAll('.popin.active').length >= 2;

    const header: HTMLElement = document.getElementById('header');
    if (header && !hasOtherPopIn) {
      header.removeAttribute('style');
    }

    const wrapper: HTMLElement = document.querySelector('.subscriptionPageContainer > .wrapper');
    if (wrapper && !hasOtherPopIn) {
      wrapper.removeAttribute('style');
    }

    const logos: HTMLElement = document.querySelector('.header > .logos');
    if (logos && !hasOtherPopIn) {
      logos.style['z-index'] = '5';
    }
    const progressBar: HTMLElement = document.querySelector('#progress-bar');
    if (progressBar && !hasOtherPopIn) {
      progressBar.style['z-index'] = '2';
    }

    const topbarContent: HTMLElement = document.querySelector('#topbar-content');
    if (topbarContent && !hasOtherPopIn) {
      topbarContent.style['z-index'] = '5';
    }
  }
}
</script>

<style lang="scss" scoped>
.popin {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100vw;
  display: none;

  &.active {
    display: block;
  }

  .overlay {
    display: none;

    @media screen and (min-device-width: $width_S) {
      background-color: rgba(51, 51, 51, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      &.show {
        opacity: 1;
      }
    }
  }

  &-container {
    background-color: $color-white;
    position: relative;
    z-index: 1;
    display: block;
    width: 100vw;
    height: 100%;
    transform: translateX(101%);
    transition: transform 0.3s ease-in-out;

    &.show {
      transform: translateX(0);
    }

    @media screen and (min-device-width: $width_S+1) {
      @include center;
      &.rightSideBar {
        transform: translateX(101%);
      }
      z-index: 2;
      max-width: 720px;
      height: auto;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      &.rightSideBar {
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      }

      &.show {
        transform: translate(-50%, -50%);
        opacity: 1;
        &.rightSideBar {
          transform: translateX(0%);
        }
      }
    }

    &.large {
      @media screen and (min-width: $width_M) {
        width: 80%;
        max-width: 920px;
      }
    }
    &.high {
      height: 100%;
      @media screen and (min-width: $width_S+1) and (min-height: 600px) {
        height: 80%;
      }

      .topBar {
        &.big {
          @media screen and (min-width: $width_S + 1) {
            padding-top: 40px;
            padding-bottom: 0;
          }
        }
      }
    }

    &.rightSideBar {
      @media screen and (min-device-width: $width_S) {
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        min-width: 600px;
        width: 33.33333vw;
      }

      &.small {
        @media screen and (min-device-width: $width_S) {
          min-width: 480px;
        }
      }
    }
    .topBar {
      background-color: $color-white;
      position: fixed;
      transform: translateZ(0);
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 50px;
      padding: 15px 30px;
      box-shadow: inset 0 -1px 0 0 $color-grey-regular;
      background-color: $color-headband-mobile;

      &.shadow-none {
        box-shadow: none;
      }

      &.hide-title-on-desktop {
        height: auto;
        position: relative;
        background-color: $color-white;
      }

      @media screen and (min-device-width: $width_S) {
        position: relative;
        padding: 30px;
        height: auto;
        box-shadow: none;

        &.hide-title-on-desktop {
          position: absolute;
          background-color: transparent !important;

          .title {
            display: none;
          }
        }

        &.big {
          padding: 20px;

          @media screen and (min-width: $width_S + 1) {
            padding: 50px;
          }

          .title {
            text-align: left;
            font-size: 30px;
          }
        }
      }

      .title {
        font-family: $font-medium;
        font-size: 16px;
        line-height: normal;
        text-align: center;
        color: $color-grey-black;

        @media screen and (min-device-width: $width_S) {
          font-family: $font-bold;
          font-size: 20px;
        }
      }

      button {
        position: absolute;

        &.arrow {
          top: 18px;
          left: 15px;

          .icon-Icon_ArrowButton {
            transform: rotate(180deg);
          }

          @media screen and (min-device-width: $width_S) {
            display: none;
          }
        }

        &.cross {
          display: none;

          @media screen and (min-device-width: $width_S) {
            display: block;
            top: 25px;
            right: 25px;
          }
        }

        img {
          display: block;
          width: 16px;
          height: auto;
        }
      }
    }
  }

  &-content {
    height: 100%;
    padding: 50px 0 70px 0;
    overflow-y: auto;

    &.noButton {
      padding-bottom: 0;
    }

    &.rightSideBar {
      padding-bottom: 0;
    }

    &.pt-0 {
      padding-top: 0;
    }

    @media screen and (min-width: $width_S) {
      padding: 30px 0 0 0;
    }
  }
}
</style>
