<template>
  <div class="progress-bar">
    <div class="progress-bar-container">
      <span class="progress-bar__active" :style="{ width: progressBarPercentage }" />
    </div>
  </div>
</template>

<script lang="ts">
/**
 *
 * Copyright (c) 2018 - 2019 - Credit Agricole Consumer Finance - All rights reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * This file can not be copied and/or distributed without the express permission of Credit Agricole Consumer Finance
 *
 */

import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import { Route } from 'vue-router';
import { Getter, State } from 'vuex-class';
import { Colors } from '@/models/Colors';
import { StepState } from '@/models/StepState';

@Component({})
export default class ProgressBar extends Vue {
  @Prop() public stepState!: StepState;
  @Getter('getNumberSubscriptionSteps') public getNumberSubscriptionSteps!: number;
  @Getter('getCurrentStepIndex') public getCurrentStepIndex!: (pathId: string) => number;
  @State((state) => state.apiConfig.colors) public colors!: Colors;

  private progressBarPercentage: string = '0';

  public mounted() {
    setTimeout(() => {
      this.progressBarPercentage = this.getProgressBarWidth(0, this.getNumberSubscriptionSteps);
    }, 800);
  }

  public getProgressBarWidth(routeIndex: number, routeCount: number): string {
    const percentage = Math.trunc(((routeIndex + 1) / routeCount) * 100);
    return `${percentage}%`;
  }

  @Watch('$route')
  private onRouteChange(val: Route, oldVal: Route) {
    this.progressBarPercentage = this.getProgressBarWidth(
      this.getCurrentStepIndex(this.$route.name as any),
      this.getNumberSubscriptionSteps
    );
  }
}
</script>

<style lang="scss" scoped>
.progress-bar {
  display: block;
  position: fixed;
  width: 100%;
  height: $progress-bar-height;
  top: $topbar-mobile-height;

  @media screen and (min-width: $width_M) {
    top: $topbar-height;
    left: 0;
    z-index: 5;
  }

  &-container {
    background-color: $color-grey-regular;
    box-shadow: inset 0 2px 0 0 rgba(205, 205, 205, 0.8);
    position: relative;
    height: 100%;
  }

  &__active {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    background-color: $color-partner-3;
    height: $progress-bar-height;
    transition: width 0.25s ease-in-out;
  }
}
</style>
