<template>
  <div class="radioColumnButtonContainer">
    <div class="choice" :style="stylesOk" @click="choose(true)">
      <div class="title" data-cy="optionYes" :class="{ error: hasError }">
        <slot name="okContent" />
      </div>
    </div>
    <div
      class="choice"
      :class="{ 'display-error': confirmationError && !confirmationValue }"
      :style="{
        borderColor:
          value === false
            ? colors.secondary
            : (value === null || value === undefined) && hasError
            ? '#ff3935'
            : '#cccccc'
      }"
      @click="choose(false)"
    >
      <div class="title" :style="stylesKoTitle" data-cy="optionNo">
        <slot name="koContent" />
      </div>
      <div
        v-if="koConfirmationLabel"
        :style="{
          height,
          'margin-top': height === '0px' ? '-10px' : '0px',
          'background-color': confirmationValue
            ? hexToRgb(colors.primary, 0.1)
            : confirmationError
            ? 'rgba(255, 57, 53, 0.1)'
            : 'transparent'
        }"
        class="legal-validation"
        ref="legalValidation"
      >
        <input :id="uniqueCheckboxId" :checked="confirmationValue" @change="handleCheckboxChange" type="checkbox" />
        <label
          data-cy="confirmNo"
          class="confirmBox"
          :class="{ error: hasError }"
          :for="uniqueCheckboxId"
          :style="{ color: confirmationError ? '#ff3935' : undefined }"
        >
          <span
            class="before"
            :style="{
              'border-color': confirmationError ? '#ff3935' : colors.primary,
              'background-color': confirmationValue ? colors.primary : 'transparent'
            }"
          />
          {{ koConfirmationLabel }}
          <span class="after" />
        </label>
      </div>
    </div>
    <div
      class="error-message"
      :class="{
        filled: value === false,
        error: confirmationError && !confirmationValue
      }"
    >
      <img class="before" :src="errorImgPathSrc" />
      {{ koConfirmationIndication }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { Colors } from '@/models/Colors';
import { State } from 'vuex-class';

@Component({})
export default class RadioCxolumnButton extends Vue {
  @Prop() public koConfirmationLabel!: string;
  @Prop() public value!: boolean | null;
  @Prop() public confirmationValue!: boolean;
  @Prop() public hasError!: boolean;
  @Prop() public confirmationError!: boolean;
  @Prop() public koConfirmationIndication!: string;
  @Prop() public errorImgPath!: string;
  @Prop({ default: 'confirm-result' }) public uniqueCheckboxId: string;
  public height = '0px';

  @Prop() public onClick!: (value: boolean) => void;
  @Prop() public onClickConfirmation!: (value: boolean) => void;

  @State((state) => state.apiConfig.colors) public colors!: Colors;

  public mounted() {
    this.getHeightLegality();
  }

  public get errorImgPathSrc() {
    // @ts-ignore
    return this.errorImgPath ? this.errorImgPath : require('@/assets/images/smiling-face.svg');
  }

  public get stylesOk() {
    return {
      color: this.value
        ? '#fff'
        : (this.value === null || this.value === undefined) && this.hasError
        ? '#ff3935'
        : '#232323',
      backgroundColor: this.value ? this.colors.secondary : 'transparent',
      borderColor: this.value
        ? this.colors.secondary
        : (this.value === null || this.value === undefined) && this.hasError
        ? '#ff3935'
        : this.colors.secondary
    };
  }

  public get stylesKoTitle() {
    return {
      color:
        this.value === false
          ? '#fff'
          : (this.value === null || this.value === undefined) && this.hasError
          ? '#ff3935'
          : '#333333',
      backgroundColor: this.value === false ? this.colors.secondary : 'transparent'
    };
  }

  public choose(value: boolean) {
    this.onClick(value);
    setTimeout(() => this.getHeightLegality());
  }

  public handleCheckboxChange(event: Event) {
    this.onClickConfirmation((event.target as HTMLInputElement).checked);
  }

  public getHeightLegality() {
    this.height =
      this.value === false && (this.$refs as any).legalValidation
        ? (this.$refs as any).legalValidation.scrollHeight + 'px'
        : '0px';
  }
}
</script>

<style lang="scss" scoped>
.radioColumnButtonContainer {
  display: flex;
  flex-direction: column;

  .choice {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid transparent;
    min-height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.display-error {
      .legal-validation {
        overflow: visible;
      }
    }

    .title {
      font-family: $font-regular;
      font-size: 16px;
      min-height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px 15px;
    }

    .okContent {
      font-family: $font-regular;

      &.active {
        font-family: $font-bold;
      }
    }

    .legal-validation {
      position: relative;
      margin-bottom: 0;
      overflow: hidden;
      border: none;
      transition: height 0.3s ease-in-out;

      .confirmBox {
        color: $color-grey-black;
      }
    }

    &:first-child {
      margin-bottom: 20px;

      .title {
        min-height: 100px;
      }
    }
  }
}
</style>
