<template>
  <div class="simulator-projects" :class="[{ error: showError && !selectedValue }]">
    <div class="simulator-projects__buttons">
      <button
        v-for="(val, index) in inputs"
        v-bind:key="index"
        @click.exact="updateValue(val)"
        @mouseover="onMouseOver(val)"
        @mouseleave="onMouseLeave()"
        :class="{
          hover: hoverValue === val,
          selected: selectedValue === val
        }"
      >
        <div class="image-option__wrapper">
          <img :src="`${baseUrl}/${getDisplayImage(val)}.svg`" :alt="$t(getLabel(val))" class="image-option" />
        </div>
        <span class="simulator-projects__label">{{ $t(getLabel(val)) }}</span>
        <div class="arrow-bottom" v-if="infos && $t(infos).length > 0 && hoverValue === val"></div>
        <div class="border-bottom"></div>
      </button>
    </div>
    <div class="simulator-projects__infos" :class="{ show: hoverValue || selectedValue }" v-if="infos">
      <span>{{ $t(infos) }} </span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import { State } from 'vuex-class';

import { CardType } from '@/models/card';

import { vCards } from '@/utils/validations';
import { isIos } from '@/utils/isIos';

enum SelectionType {
  HOVERED = 1,
  SELECTED = 2
}

@Component({})
export default class SelectInputs extends Vue {
  public selectionType: SelectionType | null = null;
  public selectedValue: CardType | null = null;
  public hoverValue: CardType | null = null;

  @Prop() private setValue!: (value: CardType) => void;
  @Prop() private showError: boolean;
  @Prop({ default: null }) private value!: CardType | null;
  @Prop({ default: null }) private inputs!: [CardType] | null;

  public get infos() {
    if (this.hoverValue || this.selectedValue) {
      const val = this.hoverValue ? this.hoverValue : this.selectedValue;

      return this.getInfos(val);
    }
  }

  public get pValue() {
    return null;
  }

  public getDisplayImage(value: CardType) {
    return this.getImage(value);
  }

  public onMouseOver(value: CardType) {
    if (isIos()) {
      return;
    }

    this.hoverValue = value;
  }

  public onMouseLeave() {
    if (isIos()) {
      return;
    }

    this.hoverValue = null;
  }

  public getInfos(value: CardType) {
    return vCards.get(value).infos;
  }

  public getLabel(value: CardType) {
    return vCards.get(value).label;
  }

  public getImage(value: CardType) {
    return vCards.get(value).img;
  }

  public updateValue(value: CardType) {
    this.setValue(value);

    if (window.innerWidth <= 768) {
      this.hoverValue = value;
    }
  }

  private created() {
    this.onValueChange();
  }

  @Watch('value')
  private onValueChange() {
    this.selectedValue = this.value;
    if (this.value) {
      this.selectionType = SelectionType.SELECTED;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.simulator-projects {
  position: relative;
  height: 235px;
  margin-bottom: 30px;

  @media screen and (max-width: $width_S) {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    min-height: 330px;
    margin-bottom: 20px;
  }

  &__label {
    @media screen and (max-width: $width_S) {
      height: auto;
    }
  }

  &__buttons {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 175px;

    @media screen and (max-width: $width_S) {
      height: auto;
      flex-direction: column;
    }

    button {
      background-color: #ffffff;
      border: 1px solid #1aaeb7;
      position: relative;
      display: block;
      width: calc((100% - 30px) / 3);
      height: 160px;
      overflow: hidden;
      transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, height 0.2s ease-in-out;

      @media screen and (max-width: $width_S) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 5px;
      }

      &.hover,
      &.selected {
        border-color: #1aaeb7;
        height: 175px;

        span {
          font-family: 'Sarabun-Bold', sans-serif;
        }

        @media screen and (max-width: $width_S) {
          height: auto;
        }

        .arrow-bottom {
          opacity: 1;
          transform: translate(-50%, 0);
        }

        .border-bottom {
          transform: translateY(0);
        }
      }

      &.selected {
        background-color: #1aaeb7;
        border-color: #1aaeb7;

        span {
          color: #ffffff;
        }

        .arrow-bottom {
          border-top-color: #ffffff;
        }

        .border-bottom {
          background-color: #ffffff;
        }
      }

      img {
        display: block;
        max-width: 50px;
        max-height: 50px;
        margin: 0 auto 20px;

        @media screen and (max-width: $width_S) {
          max-width: 75px;
          margin: 15px;
        }
      }

      span {
        font-family: $font-regular;
        font-size: 14px;
        color: #444444;
        display: block;
        padding: 0 5px;
        transition: color 0.3s ease-in-out;

        @media screen and (max-width: $width_S) {
          margin: 20px 15px;
          padding: 0;
        }
      }

      .arrow-bottom {
        border-top: 8px solid #1aaeb7;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        bottom: 11px;
        left: 50%;
        transform: translate(-50%, -5px);
        opacity: 0;
        transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

        @media screen and (max-width: $width_S) {
          display: none;
        }
      }

      .border-bottom {
        background-color: #1aaeb7;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        transform: translateY(100%);
        transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;

        @media screen and (max-width: $width_S) {
          display: none;
        }
      }
    }
  }

  &__infos {
    background-color: rgba(26, 174, 183, 0.1);
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    opacity: 0;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

    @media screen and (max-width: $width_S) {
      background-color: transparent;
      height: 70px;
      padding: 0;
    }

    &.show {
      opacity: 1;
    }

    span {
      font-family: $font-regular;
      font-size: 12px;
      line-height: 14px;
      text-align: left;
      color: #000000;
      transition: color 0.3s ease-in-out;
    }
  }

  &.error {
    button {
      border-color: #ff3935;
    }
  }
}
</style>
